[2017-02-22 13:20] MandarSant opened #13117 "Live preview issue"
When ever i open live preview it gives me the following error

![capture](https://cloud.githubusercontent.com/assets/20091634/23213089/9912dad6-f92f-11e6-8ec2-75737e5fc90f.JPG)

and in the background the index.html file is open

[2017-02-22 16:09] redmunds commented on #13117
Make sure there is no space after `.html`

[2017-02-22 18:41] haslam22 commented on #13111
What version of Brackets is this? On the right bar it looks like the update icon is showing.
You can find it under `Help -> About Brackets` (Windows and Linux) or `Brackets -> About Brackets` (macOS)

[2017-02-22 20:43] petetnt commented on #13111
The option seems to be there on Windows 10

![image](https://cloud.githubusercontent.com/assets/7641760/23231420/59358334-f950-11e6-8751-70bd1de1ef5c.png)

[2017-02-23 04:00] MandarSant commented on #13117
@redmunds there is no any space

[2017-02-23 09:20] #12464 closed

[2017-02-23 14:17] tofanelli commented on #11045
Actually I was opening an issue just like that but searched before post....

Well, I do have this same behavior in my as well.
Yes, I already reload it with no extensions, and still having this same behavior
Yes, I already did a fresh install, same error
Yes, nothing on console
Yes, this is driving me crazy

And, another issue I could noticed is, sometime a dozen of files randomly open with anyone

[2017-02-23 15:57] mohnjatthews opened #13118 "Brackets Requires libgcrypt11 and Fails to Install"
### Description

The [.deb package](https://github.com/adobe/brackets/releases/download/release-1.8/Brackets.Release.1.8.64-bit.deb) downloadable from http://brackets.io/ asks for `libgcrypt11` when `sudo dkpg -i Brackets.Release.1.8.64-bit.deb` is ran.

According to [this post on Stackoverflow](http://askubuntu.com/a/616651/412161) `libgcryp11` was replaced by `libgcrypt20` some time ago.

### St

[2017-02-23 16:11] antkn33 opened #13119 "Option to make unsaved files more obvious?"
I am wondering if there is a way to make it more obvious if a file is unsaved? Maybe a larger icon or a red icon?
Thanks
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/T

[2017-02-23 18:52] the-simian commented on #11045
@tofanelli : I had to switch to atom. It was unuseable

[2017-02-23 21:13] zaggino commented on #13118
Hi @mohnjatthews , this is a known issue, please read https://github.com/adobe/brackets/wiki/Brackets-Linux-Guide

Alternatively, you can try to solve this and open a PR for https://github.com/adobe/brackets-shell/tree/linux-1547

[2017-02-23 21:13] #13118 closed

[2017-02-23 22:27] Jontronics opened #13120 "Cat ruined my life"
Cat jumped on my computer and shut the computer off.

Me being amazing at life didn't save in brackets. So the working files index.html and styles.css have lost all of work that i've done for two days. Is there any way to retrieve the work i've done? If there isn't a way to retrieve the work that i've lost. Is there a good way to have the sessions auto save?

ps don't worry, I wont kill the cat.

[2017-02-23 22:47] zaggino commented on #13120
So you didn't save the files at all for the 2 days?
Sorry but this sounds like trolling.

[2017-02-24 10:54] mohnjatthews commented on #13118
Thanks for the reply @zaggino, sorry I didn't notice that before.

[2017-02-24 12:11] ficristo commented on #13120
Brackets doesn't have an autosave feature builtin. So your work is lost, unfortunately.
There are a couple of autosave extensions, if you want to give a try.

[2017-02-24 12:11] #13120 closed

[2017-02-24 12:15] ficristo commented on #11045
Keep in mind that uninstalling Brackets doesn't remove everything. See https://github.com/adobe/brackets/wiki/Cache-Folder
You could take a backup of your extensions before remove that folder, so you can copy them back without reinstalling all of them.

[2017-02-24 16:43] simon66 commented on #13099
just wanted to update with the progress on this bug. My main development unit died last week and I'm waiting for it to be repaired (I should've backed up my data haha). I should be getting it back today. I'll continue working on it as soon as I get my computer back :)

Also, thanks @zaggino for letting me know where I can put my test cases 👍

[2017-02-24 16:58] Pomax opened #13122 "move away from gitmodules entirely?"
git submodules always point at HEAD, leading to potential code changes between subsequent installs, including potentially breaking changes - A package.json is already being used, so it would make a lot of sense to replace each submodules with a devDependency entry that points to the module's git repo, and relying on `npm install` instead. Then each dependency that follows the modern npm+semver con

[2017-02-24 18:25] ficristo commented on #13099
@simon66 thank you for the update!

[2017-02-24 18:26] ficristo commented on #13122
Related discussion https://github.com/adobe/brackets/issues/12006

[2017-02-24 18:41] Pomax commented on #13122
heh, last activity literally a year ago. Time to revive it?

[2017-02-24 18:43] Pomax commented on #13099
@simon66 that's the nice thing about github forks: remember to push to your repo often, even if your code is "not ready for a PR" yet - you can't lose work that way, even if your computer catches fire =)

[2017-02-24 22:01] tofanelli commented on #11045
@the-simian .... unfortunately i'm trying Sublime now... i personally didn't liked Atom.... i don't know why... if anything works as intended, i will give a shot on VS Code.... I've been heard good words from it =)

@ficristo .... Sorry about misunderstanding, but when I said "Yes, I already did a fresh install, same error", i was talking about a real fresh one.... I installed windows from scratch

[2017-02-24 22:16] zaggino commented on #13122
"git submodules always point at HEAD..." since when? while Im in for using npm as much as we can, your statement is not based on truth

[2017-02-24 22:28] Pomax commented on #13122
git submodules always point to HEAD when you set them up (detached HEAD, in fact), and always move up to HEAD when you run `git submodules update --init --recursive` because that's what the command does: submodules by default always clone as HEAD, and update to HEAD (see https://git-scm.com/book/en/v2/Git-Tools-Submodules)

[2017-02-24 22:37] zaggino commented on #13122
Our submodules point to a specific commits:
![image](https://cloud.githubusercontent.com/assets/1067319/23323730/02d8eedc-fb3e-11e6-9efb-5d0555f7cc25.png)
and we never ever had problems like you describe.

[2017-02-24 22:46] Pomax commented on #13122
perhaps not, but we did yesterday in our fork of brackets (mozilla/brackets) where we use brackets as code editor inside a larger project (an online IDE called thimble). There was a need to use `git submodules update --init --recursive` and this raised concerns over git submodules technically even **allowing**, not even necessarily causing, versioning-induced bugs.

[2017-02-24 23:03] zaggino commented on #13122
Anyway, we're slowly moving off submodules, it didn't freeze year ago. CodeMirror just moved to being an npm dependency recently (2 months ago?) and we're slowly moving others in various PRs. It's not a super fast process as we are also upgrading these and resolving problems the upgrades are causing.

[2017-02-24 23:06] Pomax commented on #13122
oh nice, I didn't know codemirror finally moved to npm!

[2017-02-25 03:08] kayyali18 commented on #12997
It seems like you guys fixed the problem I am having. My question is I can't figure out which file to download to fix the problem with my Brackets. Help?

[2017-02-25 05:17] saurabh95 commented on #12997
You can just clone the latest brackets code and then link your installed brackets to the source code.
https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets#setting-up-your-dev-environment

[2017-02-25 09:52] arc92 opened #13124 "brackets admin webiste stuck in opening when edit file in ftp"
Hi
I have install brackets earlier,and i am compeletly new to this editor
I have install brackets admin website to control ftp remote server but when i click some file to open or download the editor stuck in connecting and opening that file,has anyone,any solution???

[2017-02-25 09:59] arc92 commented on #13124
problem solved:
the problem was,the folder that i save my ftp on it is protected,and need permission to write on it, i was created folder in C:// and save ftp information on it

[2017-02-25 09:59] #13124 closed

[2017-02-25 10:12] mohanad1980 commented on #13124
can somebady can help me with jw player i can pay but jw player for google drive

[2017-02-25 10:13] mohanad1980 opened #13125 "mohanad"
can somebady can help me with jw player i can pay but jw player for google drive

[2017-02-25 13:03] ficristo opened #13126 "JavaScript Code Hinting tests"
### Description

While looking at #13116 I noticed these tests fail.
I tryed on master and they fail there too.
Running `git bisect` pointed to 7883b0134b9923418632bf01ad48849aa8c14d2e

/cc @saurabh95 @swmitra @zaggino

### Steps to Reproduce

1. `Debug \ Run Tests`
2. Go to `Extensions`
3. Run `JavaScript Code Hinting`

**Expected behavior:** Tests pass

**Actual behavior:** Tests fail

### Versi

[2017-02-25 13:05] ficristo commented on #13125
Not sure what do you need from Brackets...

[2017-02-25 13:05] #13125 closed

[2017-02-25 13:14] ficristo commented on #13117
I cannot reproduce.
Could you share your code? Also are you using the experimental (multi browser) live preview and browser is your default?
If you do `Debug \ Reload Without Extensions` does work?

[2017-02-25 13:16] ficristo commented on #13090
Not sure what is your issue...

[2017-02-25 20:03] 4O4 commented on #12441
This has been fixed in PR #12946

[2017-02-26 03:51] MandarSant commented on #13117
@ficristo  which code should I share? And my browser(**Chrome** )is a default browser

I am not using multi browser

[2017-02-26 04:28] #12441 closed

[2017-02-26 05:36] mohanad1980 commented on #13125
I wont to bay source code to play google drive video using jw player on my website

[2017-02-26 12:05] Filip-Rogalski commented on #12108
I try to remove Alt-O shortcut from bracket.json file. I remove, I save, but without result. Alt-O still opens window with recent files.
It's important: Alt-O is a shortcut for a polish character!
(Working on Mac.)
Any suggestions how to do it?

[2017-02-26 12:41] petetnt commented on #12108
@Filip-Rogalski see this comment and report back if it works: https://github.com/adobe/brackets/issues/13115#issuecomment-281627042 👍

[2017-02-26 13:00] Filip-Rogalski commented on #13115
Where should I put it? in brackets.json? (Not working)

`{
    "fonts.fontSize": "15px",
    "fonts.fontFamily": "'SourceCodePro-Medium', ＭＳ ゴシック, 'MS Gothic', monospace",
    "livedev.multibrowser": false,
    "beautify.io.on_save": true,
    "styleActiveLine": true,
    "linting.collapsed": true,
    "documentation": "https://github.com/adobe/brackets/wiki/User-Key-Bindings",
    "overrides": {

[2017-02-26 13:01] Filip-Rogalski commented on #12108
@petetnt Where would I put it? I put it in brackets.json in following way: (And it's not working)

{ "fonts.fontSize": "15px", "fonts.fontFamily": "'SourceCodePro-Medium', ＭＳ ゴシック, 'MS Gothic', monospace", "livedev.multibrowser": false, "beautify.io.on_save": true, "styleActiveLine": true, "linting.collapsed": true, "documentation": "https://github.com/adobe/brackets/wiki/User-Key-Bindings", "over

[2017-02-26 13:12] Filip-Rogalski commented on #13115
@ficristo Where did you put this code?

[2017-02-26 13:20] ficristo commented on #13115
You should use `Debug \ Open User Key Map`.
You can find some more info at https://github.com/adobe/brackets/wiki/User-Key-Bindings

[2017-02-26 13:28] Filip-Rogalski commented on #13115
Thanks!!!

[2017-02-26 15:23] TilakMaddy opened #13127 "Laravel code support markup"
Laravel PHP code doesn't go well with this editor

[2017-02-27 14:22] Narfinas commented on #13115
Finally i managed to undbind it using solution provided above. The problem was that I used comma "," in
 "overrides": {
         "Opt-O": "" ,
    }
as it was in documentation. The comma caused error "This is not a valid JSON file"...

[2017-02-28 00:27] SteveMieskoski commented on #13061
I'm thinking about picking this up if there are no objections.  @petetnt, I looked into mapping the keybindings to the functionality you mentioned but didn't find the 'SameDocMultiplePanes' functionality you mentioned.  I have something partially together which swaps the views but will wait to hear back.

[2017-02-28 03:31] zaggino commented on #13061
@SteveMieskoski go ahead and reference your PR here so we can track the progress, thanks!

[2017-02-28 04:22] zaggino commented on #13126
Fixed in #13116 by https://github.com/adobe/brackets/pull/13116/commits/1de6b887c7fcf23dfe4e93e4d8408811ab55c098?w=1

[2017-02-28 09:27] #13126 closed

[2017-02-28 09:39] ficristo commented on #13081
Fixed in Brackets by #13116

[2017-02-28 09:39] #13081 closed

[2017-02-28 09:41] ficristo commented on #10807
Thanks to #13116, in next release Sass syntax highlight should be better. (Not perfect...)

[2017-02-28 09:41] #10807 closed

[2017-02-28 09:42] ficristo commented on #13073
In #13116 we have upgraded CodeMirror. This should be fixed in next release.

[2017-02-28 09:43] #9912 closed

[2017-02-28 09:45] ficristo commented on #11612
We have upgraded CodeMirror in #13116 which, _I think_, should have some fixes about this case.
Worth testing again in 1.9

[2017-02-28 15:46] pozitronix commented on #12011
same issue with a large complex HTML/JS/CSS file. Really slow

[2017-02-28 18:30] eKoopmans commented on #13109
Hi, has anyone managed to replicate (or not replicate) this problem?

[2017-02-28 21:53] zaggino commented on #13109
I can only replicate code hints crashing my entire Brackets installation, but have removed them since then.

[2017-03-01 08:06] #13072 closed

[2017-03-01 08:23] #13040 closed

[2017-03-01 10:36] adrianheine commented on #5408
Is this still reproducible with a current CodeMirror version?

[2017-03-01 11:21] saurabh95 commented on #12815
This feature is added in https://github.com/adobe/brackets/pull/13044. You can clone the latest code to use this. Also this feature works in MultiBrowser Live Preview as well (https://github.com/adobe/brackets/pull/13103).

[2017-03-01 11:21] #12815 closed

[2017-03-01 11:42] saurabh95 commented on #11165
Fixed in https://github.com/adobe/brackets-shell/pull/596

[2017-03-01 11:42] #11165 closed

[2017-03-01 14:02] mussakhojayeva commented on #11763
is this issue still valid?
i would like to work on fixing it, if it is possible

[2017-03-01 16:30] eKoopmans commented on #13109
Cool, thanks @zaggino. Didn't want to be causing problems if I was the only one with the issue.

[2017-03-01 18:14] petetnt commented on #13127
Hi @TilakMaddy,

is there anything specific about it that doesn't work? Is this issue about syntax highlighting or code completion (etc.)? The syntax seems good to me:

![image](https://cloud.githubusercontent.com/assets/7641760/23474208/9e33fa40-febb-11e6-926f-3f2781520a7f.png)

[2017-03-01 18:25] ficristo commented on #11763
Maybe I closed the related PR a bit hastily...
@petetnt was it ready to be merged but lacked only tests?
Maybe we could merge as is and add some tests in a different PR.
WDYT @petetnt?

[2017-03-01 18:31] petetnt commented on #11763
@ficristo sounds good to me

[2017-03-01 18:35] ficristo commented on #5408
I tryed in Firefox 51 on Windows 10 and cannot reproduce anymore.
I also tryed on Brackets master, which has CodeMirror 5.24.2, and cannot reproduce there too.
I'd say this is fixed.

[2017-03-01 18:35] #5408 closed

[2017-03-01 18:36] ficristo commented on #11763
@petetnt could you double check and eventually merge?
@mussakhojayeva are you willing to write tests for this feature? (I need to wait for the merge before)

[2017-03-01 19:05] #11763 closed

[2017-03-01 19:08] petetnt opened #13134 "Create tests for Disabled context menu items for unsaved files / #12806"
#12806 was merged without tests, but it might use some.

My post from #12806 outlines the tests as:

[code]

[2017-03-01 19:08] petetnt commented on #11763
See the follow up in #13134, fixed in #12806

[2017-03-01 20:54] loganone2000 opened #13135 "Flash Player"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ X] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [X ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/

[2017-03-02 01:51] zaggino commented on #13109
Opened https://github.com/adobe/brackets/pull/13136 which will allow disabling default extensions like `JS Code Hints`

[2017-03-02 04:38] #11291 closed

[2017-03-02 06:16] #9642 closed

[2017-03-02 09:06] Zhanxin opened #13138 "LOC: There are two strings not translated on preferences file"
Steps:
1. Launch Brackets, and switch languages
2. Click Debug -> Open Preferences File
3. Check this file

Result: The strings "Sort Extensions using downloadCount or publishedDate" and "Port on which WebSocket Server runs for Live Preview" are not translated
Expect: They are translated

![1](https://cloud.githubusercontent.com/assets/2245179/23500255/51aeed6a-ff6a-11e6-9c42-61e42f18b1f7.png)
![2

[2017-03-02 09:23] rovf opened #13139 "Incorrect syntax highlighting in Ruby"
In the following Ruby statement:

`if cr =~ /(?: \( #{RE_NOT}\( | #{RE_NOT_PAR_OR}* #{RE_OPA_OR} )/x`

everything from the first '#' is highlighted as if it were a comment.

Running brackets 1.8 on Windows 7.

[2017-03-02 09:37] Zhanxin opened #13140 "Core: Suggest to add a limit to the length of the exclusion set name."
Steps:
1. Launch the Brackets
2. Click Find -> Replace in Files
3. Drop down the Edit exclusion set list, click New Exclusion Set...
4. Input a long string  as the exclusion set name

Result: No limit to the length of the exclusion set name, and it would be a layout issue if the name is too long
Expect: There is a limit to the length of the exclusion set name.

![3](https://cloud.githubusercontent

[2017-03-02 09:49] zaggino commented on #13139
Filed as https://github.com/codemirror/CodeMirror/issues/4623

[2017-03-02 11:38] Zhanxin opened #13141 "Core: Suggest: The extensions of the file type could be added automatically as the selected file type when save a new created file"
Steps:
1. Launch Brackets, Click File -> New.
2. Type anything in the programming window, select any type of language except the default “Text”
3. Save the file

Result:
It would be saved as Text if not added the file extensions to the file name.
Expected:
Suggest to add the extensions to the file name automatically as the user selected.
![4](https://cloud.githubusercontent.com/assets/2245179/2350

[2017-03-02 12:05] zaggino commented on #13141
Hi @Zhanxin this was implemented in https://github.com/adobe/brackets/pull/13137 and will be available in Brackets 1.9, if you want to try it today, you can try running the Brackets from source.

[2017-03-02 12:06] zaggino commented on #13139
CodeMirror issue is now fixed and we'll need to update CodeMirror version before 1.9 for this.

[2017-03-02 14:13] nabtron opened #13142 "custom key to run actionscript or launch service on mac"
Can we add actionscript or launching service shortcut to brackets?

I want to add a custom shortcut e.g., so that when I press that, the "npm start" is launched in my currently open terminal window.

I know how to do this through actionscript and have created a custom service for that. However I want it to be launched by brackets specific shortcut and not system wide.

Thanks.

[2017-03-02 15:07] kaimdx commented on #12815
Cool! I will check it out.

[2017-03-02 16:25] redmunds commented on #13109
FYI, there are already preferences for disabling all code hints (`showCodeHints`) or individual types of code hints (e.g. `codehint.JSHints`).

[2017-03-02 19:17] ficristo commented on #12977
We need more info to help you.

[2017-03-02 19:17] #12977 closed

[2017-03-02 19:18] ficristo commented on #12981
I know there are some problems in 1.8 and there are some other issues about them.
Without more info I consider this a duplicate. Closing.

[2017-03-02 19:18] #12981 closed

[2017-03-03 08:11] Zhanxin commented on #13141
I checked this on the latest build, and the extensions could be added now when save a new file. But if open an exist file, and change the language type, then save it, the extensions still can't be changed automatically, please see the screenshot:
![5](https://cloud.githubusercontent.com/assets/2245179/23543178/f89b3126-002b-11e7-971a-7f85455667b0.png)

[2017-03-03 09:17] Zhanxin opened #13144 "Core: One file could be opened twice on Brackets"
Steps:
1. Launch the Brackets
2. Click View->Vertical Split
3. Open one file to the left panel
4. Open other files and move to right panel
5. Open the file again to the right panel

Result: The file could be opened again, and modify on left panel, the change also could see on right panel
Expect: The file only could be open in one panel
![onefileopentwice](https://cloud.githubusercontent.com/assets

[2017-03-03 09:34] zaggino commented on #13144
@Zhanxin this is actually a feature, not a bug :-) When having a very long file, you can have the top of the file on left and bottom on right for example.

[2017-03-03 10:33] Tania-Jiacomini opened #13145 "LB: LOC: fr_FR: "Last Updated" string is not localized"
Problem: "Last Updated" string is not localized

String ID: EXTENSIONS_LAST_UPDATED

EN: Last Updated
Current FR: Last Updated
Correct FR: Dernières mises à jour

![sortby](https://cloud.githubusercontent.com/assets/2284774/23547639/40826b44-0004-11e7-8d60-9002017ad8de.png)

![sortby_fr](https://cloud.githubusercontent.com/assets/2284774/23547640/408641c4-0004-11e7-9383-ce090d51ecef.png)

[2017-03-03 11:01] KatarzynaWodzinska commented on #13145
Issue fixed. Please provide the most recent screen.

[2017-03-03 11:06] avdhesh-agnisys commented on #10862
@brunosfer , I am interested to work with you for c/c++ extension. I am also working for System Verilog and UVM.

[2017-03-03 14:58] liutauras commented on #12326
same here

[2017-03-03 15:35] petetnt commented on #13144
Closing as a feature :)

[2017-03-03 15:35] #13144 closed

[2017-03-03 18:49] ficristo commented on #13135
You should file an issue https://github.com/dnbard/brackets-pixlr
Closing as an extension problem

[2017-03-03 18:49] #13135 closed

[2017-03-04 00:36] bomanimc commented on #13140
I can do this!

[2017-03-04 09:31] nyteksf commented on #7723
Hello. I found myself interested in taking a crack at this issue if that could be approved.  :)

@zaggino

[2017-03-04 10:43] mussakhojayeva commented on #7251
Is this issue still needs to be fixed?

[2017-03-04 19:51] zaggino commented on #7723
Hi @nyteksf , you don't need anyone's approval to start working on an issue that's not being worked on. Just open a PR (unfinished is absolutely fine) that you're working on this and mention the link here. That will let others will know that the issue is being worked on.

[2017-03-04 19:54] zaggino commented on #7251
This has already been fixed, I don't see any CSS warnings when starting `master` branch at the moment.

[2017-03-04 19:54] #7251 closed

[2017-03-05 03:57] MandarSant opened #13149 "Live Preview Displays wrong output"
### Description

[I was creating a simple burger menu icon with html and css with 3 divs each of class .menuico]

**Expected behavior:** [The expected is get just 3 line]

**Actual behavior:** [But getting more lines]

![screenshoot](https://cloud.githubusercontent.com/assets/20091634/23584378/e1f89598-0185-11e7-830f-1d970965735f.png)

### Versions
windows 8.1
Brackets 1.8

[2017-03-05 14:19] bomanimc commented on #13140
Making good process. I've gone ahead and added a character count to the Edit Exclusion Set modal that only appears when the name field starts to be edited. You can see it in the photo below:

<img width="1440" alt="screen shot 2017-03-05 at 8 55 03 am" src="https://cloud.githubusercontent.com/assets/6589909/23587896/2827695c-0183-11e7-833e-d84376334b06.png">

What is the process for adding new str

[2017-03-06 01:45] zaggino commented on #13140
Hi @bomanimc , please submit a PR with your code and ask your questions there, it's the best place to ask, even better than Slack. As for the strings, just add it to the `nls/root`.

[2017-03-06 16:33] mussakhojayeva commented on #12892
Can I work on it?

[2017-03-06 16:55] mrbodich commented on #12892
What do you mean, mussakhojayeva?

[2017-03-06 16:57] mussakhojayeva commented on #12892
I am talking about this: petetnt added Starter bug PICK ME UP labels 30 minutes ago

[2017-03-06 19:00] zaggino commented on #12892
Hi, feel free to open a pull request. No need to ask for permission.

[2017-03-07 03:34] nyteksf commented on #11709
I am having the same problem currently with Debian Jessie (x86) running XFCE.

[2017-03-07 12:34] Seasle opened #13156 "ESLint plugin install problems"
I cant install in my Brackets ESLint plugin, but as me need latest version Brackets. Me already installed latest version.

### Screenshots:
![Plugin List](http://i.imgur.com/xoGBAGM.jpg)
![Brackets Version](http://i.imgur.com/theVWCr.jpg)

[2017-03-07 12:55] zaggino commented on #13156
Latest version is 1.8 now, ESLint will be supported from release 1.9
or you can try running from latest source codes - https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets

[2017-03-07 13:01] Seasle commented on #13156
Thanks you!

[2017-03-07 13:01] #13156 closed

[2017-03-07 21:32] zaggino commented on #13140
Fixed in https://github.com/adobe/brackets/pull/13155

[2017-03-07 21:32] #13140 closed

[2017-03-07 22:09] macjabeth opened #13157 "Insider/Beta Releases"
This is just a request. I think it would be nice to include nightly (or weekly) builds for users to test out the latest features like they have in place for other popular coding editors (VSCode Insiders, Atom Beta).

[2017-03-07 23:02] petetnt commented on #13157
Hi @bunster, thanks for the feature request! Not sure if `nightly`s are possible at this point as Brackets is a bit lacking on the update system, but using Brackets against the latest master is pretty simple:

1. Clone the repo `git clone https://github.com/adobe/brackets && cd brackets`
2. Run `npm install`
3. Run setup for hacking script:

    |  |  |
    |---|---|
    | Mac | `tools/setup_for_h

[2017-03-08 09:20] saurabh95 opened #13158 "File Open throws "Uncaught TypeError: Cannot read property 'lastIndexOf' of null""
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-03-08 09:38] zaggino commented on #13158
Fixed in https://github.com/adobe/brackets/pull/13159

[2017-03-08 09:38] #13158 closed

[2017-03-08 19:41] johnroper100 opened #13161 "Tags such as <br> and <hr> autocomplete"
### Description

In the latest master of Brackets, HTML tags that should only have one tag (eg. `<hr>` instead of `<hr></hr>`) autocomplete.

### Steps to Reproduce

1. Add a tag such as `<hr>`

**Expected behavior:** `<hr>`

**Actual behavior:** `<hr></hr>`
### Versions

Windows 10 x64
Release 1.9 development build 1.9.0-0 (master 68e3705d4)

[2017-03-09 11:51] zaggino commented on #13157
@bunster for now: https://github.com/adobe/brackets/releases/tag/release-1.9-prerelease

[2017-03-09 11:52] zaggino commented on #13156
@Seasle now you can try also https://github.com/adobe/brackets/releases/tag/release-1.9-prerelease

[2017-03-09 14:53] gerald2799 opened #13165 "cannot hide information inside some tags"
with tags like `<div>`, `<body>` etc there is a small arrow in the right, so you can hide the information inside of it. but it doesnt work with tags like `<script>` or `<style>`. is it a problem or it should work in a such way?

[2017-03-09 15:01] HowToEven opened #13166 "Brackets Not Loading Live View"
Hey! Whenever I click on a new file in Brackets and try to load it on the live preview it just loads the index file. Along with that whenever I launch chrome with the remote debugging enacted it doesn't work I looked through the troubleshooting but couldn't find anything that looked like this(probably just didn't look hard enough).

[2017-03-09 19:05] greencopycat commented on #12898
I got the same issue as well.
My machine:
1. Behind corporate proxy
2. 64 system
3. Windows 7
4. Proxy setting gets "unknown internal error" when trying to install extensions. ("Path contain unescaped character" in developer tools)

I tried reinstalling nodejs, brackets, replace node in extensibility folder, but none of that works.

I fixed my issue by using solution by @ficristo -

[2017-03-09 21:30] pkelling commented on #11929
I found a solution if anyone is still looking for hints/auto-complete for node.js in Brackets.

![screen shot 2017-03-09 at 2 59 41 pm](https://cloud.githubusercontent.com/assets/11371812/23770609/4eef0280-04d9-11e7-9ec4-2067e0e0fd7a.png)

Tern already includes a plugin for node.js, it just isn't being activated (and the angular.js one is). Type `angular.` and you should see hints for it pop up.

[2017-03-10 01:06] zaggino commented on #12898
@greencopycat try https://github.com/adobe/brackets/releases/tag/release-1.9-prerelease

[2017-03-11 01:34] recursionbane opened #13169 "Block Comments don't take indentation into account"
### Prerequisites

* [Y] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [Y] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [Y] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

The dynamic indentation of Brackets is great, especially for cleaning up HTML.
When on

[2017-03-11 19:14] saurabh95 commented on #9762
I have added the images in brackets-registry (https://github.com/adobe/brackets-registry/pull/77), 404 error is resolved now.

[2017-03-11 19:14] #9762 closed

[2017-03-12 09:38] nyteksf commented on #7723
Hello again. I believe I'm finished with this one. Please do feel free to let me know if any changes need to be made, and I'll be happy to get right on that for you. Thank you.

@zaggino @ficristo

[2017-03-12 13:26] evgnTarasevich commented on #13161
Ubuntu 16.04 x64, the same release as yours, the same problem.

[2017-03-12 14:56] johnroper100 commented on #13161
I update to master every day and still have this problem. I don't have any extensions installed which should be causing this issue.

[2017-03-12 15:20] stelarossa commented on #12064
basicly I have the same problem on windows 8.1 Any suggestions on how to fix this?

[2017-03-12 15:40] decombs12 opened #13171 "Can't enable Emmet through Extensions Manager"
I can't install Emmet through the Extensions Manager. I loaded Brackets without extensions and could not access Extensions Manager at all.

I thought to try downloading a copy of Emmet and putting it in the Users file but that didn't work.

So, any suggestions would be appreciated.

TIA,

Dave

### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ]

[2017-03-12 15:59] petetnt commented on #12064
@stelarossa is it a 32-bit OS? If it is, download the 32 bit Node.exe from https://nodejs.org/en/download/ and replace the `node.exe` in the Brackets installation folder with it.

[2017-03-12 20:04] redmunds commented on #13171
Extension Manager is disabled when you _Reload Without Extensions_. You'll need to _Reload With Extensions_.

[2017-03-12 20:08] trmcc opened #13172 "Brackets 1.8 crashes leaving black frame on macOS Sierra"
### Prerequisites

* [yes ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [yes ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [yes ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

Brackets crashes (white panes disappear and leave black frame) after a few mi

[2017-03-12 21:08] zaggino commented on #12064
Or you can try https://github.com/adobe/brackets/releases/tag/release-1.9-prerelease

[2017-03-12 21:10] zaggino commented on #13171
@decombs12 do you see any errors in your console (Debug -> Show developer tools) ?

[2017-03-12 21:14] zaggino commented on #13172
@trmcc can you try setting preference (Debug > Open preferences file) `"codehint.JSHints": false,` to see if it helps?

[2017-03-12 22:07] pyroxar opened #13173 "I cant't install brackets from packge deb in ubuntu 16.04"
<a href="http://i.imgur.com/FUJrrSX.png">
  <img src="http://imgur.com/FUJrrSXl.png" />
</a>

[2017-03-12 22:28] zaggino commented on #13173
https://github.com/adobe/brackets/wiki/Brackets-Linux-Guide

[2017-03-12 22:28] #13173 closed

[2017-03-12 22:32] trmcc commented on #13172
@zaggino Thanks for your idea! I have been editing for 20 minutes with no crashes. I will post back later on after I have worked for a while and let you know how it is going. Very happy to have my editor back, thank you!

[2017-03-12 23:28] zaggino commented on #13172
@trmcc If you have some free time, can you try https://github.com/adobe/brackets/releases/tag/release-1.9-prerelease (setting `codehint.JSHints` back to true) to see if the 1.9-prerelease still contains this issue?

[2017-03-13 00:47] QSSRobert opened #13174 "Reloading the wrong folder and files"
### Description

When reloading with more than one instance of Brackets open, it will open the (chronologically) last opened folder, not whatever folder was open in the reloaded instance.

### Steps to Reproduce

1. Open Brackets and open a folder.
2. Open a second instance of brackets and open a different folder.
3. Go back to the first instance and reload brackets with F5. When it's finished rel

[2017-03-13 05:20] saurabh95 opened #13175 "Release 1.9 Tasks"
### Tasks in Development
- [x] [2 days before] Review bugs open to the current milestone
- [x] All new open bugs have been reviewed
- [x] [2 days before] Notify committers of impending merge of master into release branch
- [x] Notify ALF Team that we have reached String Freeze: `DL-Brackets-IQE`
- [x] Merge master to both release branches
- [x] Give a head's up to the LOC team for LOC testing
- [x

[2017-03-13 05:22] saurabh95 opened #13176 "Release 1.9 Deployment Tasks"
### Tasks to deploy a release publicly
- [x] Tag the build (brackets, brackets-shell) using `release-1.0` format (Creating 'Release' in brackets tags the build, so only need to do this in brackets-shell?)
- [x] Announcement to the brackets-dev group for this release and work in the new cycle
- [x] Merge localizations/other release changes back into master
- [x] Merge localizations/other release ch

[2017-03-13 05:23] #12840 closed

[2017-03-13 05:24] #12886 closed

[2017-03-13 07:37] #11281 closed

[2017-03-13 19:00] ficristo commented on #13161
Meanwhile you could add in your preferences something like this:
[code]

[2017-03-13 19:03] ficristo commented on #7723
@nyteksf  thank you for filing the issue.
As a side note: in future, in your PRs, could you add the issue number also in the comment?
In this way GitHub cans generate an automatic link to your PRs in the issue itself.

[2017-03-13 19:06] ficristo commented on #13165
Which arrow and where? Code editor, live preview, something else?
Could you add a small screenshot showing the issue?

[2017-03-13 19:13] nyteksf commented on #7723
@ficristo Noob question here, I suppose; being that this is my second PR ever. Could you please elaborate for me just a little about what was meant so I can do that for you all the next time? I already try to always add the issue number to the title and every commit message. Do you mean to also add it to the literal comments I am making much like this one? My bad. Thanks for your help.

[2017-03-13 19:15] ficristo commented on #13166
For the index file, I think it is the expected behaviour.
For the remote debugging could you try to enable the experimental live preview?

[2017-03-13 19:17] gerald2799 commented on #13165
sorry, my bad english.
i was talking about this triangle near tags, which help you with hiding information inside of tags. you can see one near "<head>", but not near "<style>".
![image](https://cloud.githubusercontent.com/assets/24938726/23871215/17554de6-0832-11e7-9e5f-3cf6330fd3a6.png)

[2017-03-13 19:20] ficristo commented on #7723
Don't worry about asking, you are welcome.
Yes, I meant exactly comments like this. Right now, for example, I don't know if you have already opened a PR, I can only see commits that were done in you fork.
So if I add the PR number like this #13154 now GitHub will show a link in the PR to this issue.
Adding the issue number in the title is fine, but will not generate a link.

[2017-03-13 19:29] ficristo commented on #13165
Ah, that arrow! Yeah, I can reproduce in Brackets but not in the codemirror code folding demo at http://codemirror.net/demo/folding.html

/cc @thehogfather

[2017-03-13 19:32] nyteksf commented on #7723
#13154 - @ficristo Aha. I see now. And thank you very much.

[2017-03-13 19:53] pyroxar commented on #13173
It is not bug, Its feature. I understand.

[2017-03-13 21:52] trmcc commented on #13172
@zaggino Thanks again for your help! I worked many hours yesterday with no crashes at all. I will download the version you recommended, try it, and report back. I cannot get to it until Tues or Wed, but I will let you know.

[2017-03-13 23:54] zaggino commented on #13173
Hi, if you took a time to quickly search issues for `libgcrypt` you'd see that this is an issue that has been reported on 2014 (https://github.com/adobe/brackets/issues/10255) and so far, no-one that'd be able to fix this has been found. You're free to open a PR of course. Thanks

[2017-03-14 07:14] thehogfather commented on #13165
did a quick check and the reason for this appears to be that the handlebars fold (which is now registered for the htmlmixed mode) does not correctly parse xml tags. I will look into addressing this.

[2017-03-14 08:38] Mabjic commented on #7555
I have the problem on Windows 10, I got the latest release of Brackets, the issue needs to be re-opened...

[2017-03-14 21:23] #13134 closed

[2017-03-14 22:09] bbhagwandeen commented on #13015
Hello, I'd like to try to help with this bug.

[2017-03-15 03:22] saurabh95 opened #13180 "Sort Dropdown is not hidden for installed extensions tab in Extension Manager if there is an update available"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-03-15 04:03] saurabh95 commented on #8228
Fixed By https://github.com/adobe/brackets-registry/pull/70

[2017-03-15 05:53] #13180 closed

[2017-03-15 08:33] swmitra commented on #7387
Closing this issue now. Registry server has been upgraded. Please reopen this issue if you still have problem in uploading extension.

[2017-03-15 08:33] #7387 closed

[2017-03-15 15:11] evgnTarasevich commented on #13161
It does not work.

[2017-03-15 15:13] evgnTarasevich commented on #13161
The only way is to use 1.8 v, untill this bug is fixed.

[2017-03-15 15:15] joyously opened #13182 "Start with a taller window, remember window size from previous run"
I would like to see this feature added to Brackets.

### Steps to Reproduce

1. Open Brackets
2. Size the window as desired
3. Close Brackets
4. Open Brackets

**Expected behavior:** The second(and subsequent) time Brackets opens, the window is the same size as it was when it was closed.

**Actual behavior:** Every time Brackets opens, you have to size the window to a workable size.

### Versions

[2017-03-15 15:39] johnroper100 commented on #13161
Ok, thanks. It is a real pain. I will just have to put up with it.

[2017-03-15 15:40] johnroper100 commented on #13182
I can reproduce on a macOS system.

[2017-03-15 15:41] johnroper100 commented on #13171
Emmet enables fine for me.

[2017-03-15 17:12] stelarossa commented on #12064
Thank you for your replyes :)
I have tried solutions proposed by you,but it haven't worked...anybody have some other idea?it seems like great editor but without extenssions its not just that good to me(I write a lot of html,so emmet is must have,even tryed downloading it and installing it by simple dragging and it still whan't install it).Hoped to switch to brackets from sublime,but...

[2017-03-15 17:37] petetnt commented on #12064
@stelarossa Oh, bummer.

Can you check the developers tools if there's any errors after trying to install extensions? You can see the console in `Debug -> Show Developers Tools`. It might be some sort of permission issue if even dragging and dropping fails 🤔

[2017-03-15 17:40] petetnt commented on #13182
Thanks for the report @joyously & repro @johnroper100. Couldn't replicate this on Win10 just now, so might be Mac/Linux only 🤔

[2017-03-15 18:52] ficristo commented on #13182
I quite sure on Linux this doesn't work at the moment.
I wasn't able to reproduce on macOS El Capitan and I'm a bit surprised @johnroper100 you were able to.
Are you using a newer version?

[2017-03-15 18:57] ficristo commented on #10864
I cannot reproduce anymore. Fixed by #10864

[2017-03-15 18:57] #10864 closed

[2017-03-15 19:00] ficristo commented on #12726
https://github.com/adobe/brackets/pull/12742 was merged. Closing

[2017-03-15 19:00] #12726 closed

[2017-03-15 19:15] ficristo commented on #11577
There are still some issues when the line numbers are disabled:
![theme](https://cloud.githubusercontent.com/assets/10583268/23966448/abc2d4aa-09bb-11e7-9675-c3d6703b98b9.png)
- IMO there is some extra padding before every lines
- the activeline styling is wrong

[2017-03-15 19:18] ficristo commented on #12953
This should be fixed in 1.9.
If you want to give a try with there is a prerelease at https://github.com/adobe/brackets/releases

[2017-03-15 19:18] #12953 closed

[2017-03-15 22:22] zaggino commented on #12064
@stelarossa check this guide: https://github.com/zaggino/brackets-npm-registry#how-to-install-brackets-npm-registry

It's written for extension `brackets-npm-registry` but it can be modified to install any extension, for example if I wanted to install `brackets-emmet` from https://github.com/emmetio/brackets-emmet on windows, I'd do this:
[code]

[2017-03-15 23:54] #13161 closed

[2017-03-15 23:57] zaggino commented on #13161
This is now fixed in latest master @johnroper100 @evgnTarasevich

[2017-03-16 00:12] johnroper100 commented on #13161
Thanks, it works perfectly now!

[2017-03-16 08:09] petetnt commented on #13182
Couldn't replicate the size issue on MacOS either, but Brackets always opens to my main screen (laptop) instead of the screen it was on last time (desktop display). The size is correct though (corner to corner).

[2017-03-16 09:21] swmitra commented on #13157
Closing this issue. We are going to have releases in every two months with a couple of pre-releases before that. That would make the release frequency quite evenly.

[2017-03-16 09:22] #13157 closed

[2017-03-16 10:01] johnroper100 commented on #13182
I can't replicate on Windows 10.

[2017-03-16 13:16] hes63 opened #13186 "Brand new to Brackets and HTML - Images aren't displaying"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
I don't think so but I'm  not sure I'm using Debug correctly (brand new to HTML and Brackets)

* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
Yes, searched on the term "Images not displaying".

* [ ] Did you read the [Troubleshooting guide]
Yes, searched

[2017-03-16 15:00] ugacodedawg commented on #10759
I'm a bit late to the Brackets & PSD party...just downloaded the app...Where is the option for "extract"?  I don't see it in the menus.  I tried to open a PSD, and got the error > 16Mb message as well.  Thanks for the help!

[2017-03-17 02:12] saurabh95 commented on #13186
Try opening Developer console in Preview, and see if there are any errors, there might be an issue with the path.
If there is no error in console, then you can share the directory structure and your code snippet for the image?

[2017-03-17 09:10] hes63 commented on #13186
Hello Saurabh95,

Thank you for your reply.  I checked the code in the console, it seems to me to be correct.  Here is the HTML I wrote in Brackets based on what I learned in Lynda.com:

<!DOCTYPE>
<html lang="en">
<head>
<meta charset="utf-8">
<title>J3D Services - 3D Printing</title>
    <p><img src="_J3D Web Files/J3D Images/Purchased Image.jpg" width="600" height="600" alt="J3D Home Page Image

[2017-03-17 13:21] hes63 commented on #13186
I got it to WORK!!!!  I feel as if I'm standing on Everest!!!!   Thanks for help.  I'm sure I'be back with other issues.

Hes63

[2017-03-17 17:28] saurabh95 commented on #13186
@hes63 Great to hear that it works for you now. Feel to free to post any queries on github or slack
I am closing this issue now.

[2017-03-17 17:28] #13186 closed

[2017-03-17 19:30] Nerdietony opened #13187 "Before i begin, i got a question."
How does Brackets look on windows 10?

[2017-03-18 00:42] thehogfather commented on #13165
After a bit more investigation, it turns out the `htmlmixed` mode in code mirror returns the inner mode starting from the opening html tag. This means when you query the mode at the line that says `<style>` or `<script>` you get `css` or `javascript` instead of `xml`.

As a result, the correct fold range finder is not loaded for the line. [An issue/question](https://github.com/codemirror/CodeMirro

[2017-03-18 03:57] saurabh95 commented on #13187
![brackets](https://cloud.githubusercontent.com/assets/5630113/24068754/0d1603c8-0bbd-11e7-9971-4bca4b292449.png)

[2017-03-18 12:55] Nerdietony commented on #13187
That looks absolutely stunning, does this possibly support sftp?

[2017-03-18 16:52] swmitra commented on #13187
@Nerdietony Not out of the box. But there might be extensions to support that feature.

[2017-03-18 17:13] saurabh95 commented on #13187
@Nerdietony  SFtpUpload and FTP-Sync Plus are some of the popular extensions which add support for sftp to brackets.
You can get more info about these extensions in Brackets itself or  https://brackets-registry.aboutweb.com/

[2017-03-19 04:33] xahon opened #13188 "Command Pallete (Feature Request)"
### Description

Want to see command pallette like in sublime for find files in project (Ctrl + P), saving and switching projects (Ctrl + ALT + P), all available commands (CTRL + SHIFT + P). I'm used to using sublime and I see a good future in this editor, but now i cannot use this at full power.

I'm using Linux

[2017-03-19 14:40] r4p7or opened #13189 "Brackets 1.9 and earlier: If you have multiple stylesheets in Quick Edit panel the code is rendered with Grayscale antialiasing (a bit blurry text) instead of ClearType"
Windows 7 64bit
**Brackets Release 1.9 build 1.9.0-17305**
(font rendering on my system is enhanced with MacType (for sharper text than default Win7 ClearType) - but this should be irrelevant)

Hi, I've noticed that Brackets in some cases uses inferior Grayscale antialiasing (a bit blurry text not comfortable for the eyes) instead of sharper ClearType.
The most serious case is that Quick Edit swit

[2017-03-19 18:09] trmcc commented on #13172
@zaggino I downloaded version:
Release 1.9 build 1.9.0-17262 (master 0b292eaa4)
build timestamp: Thu Mar 09 2017 00:41:07 GMT-0800

and have been running it with:
"codehint.JSHints": true

I have not used it as much as usual each day, but have been running it for several days and have not encountered any crashes. Thank you!

[2017-03-19 19:06] MaciejKrawczyk opened #13190 "Autocomplete doesn't work starting with version 1.8 on Linux"
### Description

JS autocomplete just doesn't work anymore. At all. Happened after I updated to 1.8.

### Versions

Arch Linux
Brackets 1.8.1

[2017-03-19 19:12] MaciejKrawczyk commented on #13190
I downgraded to 1.7.1 and it works as it should, so this is specifically problem with the release.

[2017-03-19 19:55] Duckmandu opened #13191 "Menus not showing… only Brackets and Window and no coding window!!!"
<img width="575" alt="brackets weirdness" src="https://cloud.githubusercontent.com/assets/22085700/24084208/092ea710-0ca3-11e7-922e-d891cf172fed.png">

Strange… Brackets is not showing any menus but the Brackets and Windows menus. Hence, no Debug selection! I deinstalled Brackets and all the related files, then reinstalled. Same problem. Also tried restarting the computer.

Also, I can open only o

[2017-03-19 21:10] zaggino commented on #13190
@MaciejKrawczyk Have you tried with 1.9 ? https://github.com/adobe/brackets/releases

[2017-03-19 22:00] Blackweda commented on #13189
This looks like something I'll look at.

[2017-03-20 04:12] saurabh95 commented on #13191
I guess you are opening html file using Shift+Click

[2017-03-20 05:46] r4p7or commented on #13189
Hi, thank you for trying to fix this issue.

I think the blurry text in the Quick Edit panel is very real problem and it would be great if it was fixed ASAP.

As for the other cases of Grayscale AA inside the application - it's not exactly a show stopper for me right now but one day it would be great if developers finally solved all the font rendering issues once and for all (Brackets has always h

[2017-03-20 06:13] RationalCoding opened #13195 ""Document for this path already in _openDocuments!" error on multiple DocumentManager.getDocumentForPath calls"
### Description
When calling `DocumentManager.getDocumentForPath` for the same path more than once, the error **Document for this path already in _openDocuments!** is thrown.

The API claims this method "Gets an existing open Document for the given file, or creates a new one if the Document is not currently open", so the document being already open should not cause any issue.

### Steps to Reprodu

[2017-03-20 06:59] RationalCoding commented on #13195
It seems that `getOpenDocumentForPath` does only compares the string for the path and does not do proper path comparison. Any difference in format will break this method.

See line 131 in /document/DocumentManager.js

[2017-03-20 07:08] #13195 closed

[2017-03-20 07:37] abuzaforbg opened #13196 "Bracket Isn't Closing on my Ubuntu 16.04"
I've tried several attempts to close barckets, But it isn't closing. Even the editor and opened project isn't coming up.
![brackets_008](https://cloud.githubusercontent.com/assets/10008159/24091429/3c01546a-0d72-11e7-891c-f19e6c7a0f67.png)

[2017-03-20 11:41] Zhanxin commented on #13145
Uploaded the latest screen for FR with build 1.9.0-17310-806, please help to verify:
![13145](https://cloud.githubusercontent.com/assets/2245179/24098381/255a1ab6-0da5-11e7-92d8-d3a63240a8fa.png)

[2017-03-20 11:42] Zhanxin commented on #13138
Verified this issue with build 1.9.0-17310-806, fixed now.
![preferencesport](https://cloud.githubusercontent.com/assets/2245179/24098447/630962d6-0da5-11e7-9a68-d6547a07f3c5.png)
![preferencessortextension](https://cloud.githubusercontent.com/assets/2245179/24098448/6311636e-0da5-11e7-9ff6-2c64c4da56e4.png)

[2017-03-20 11:42] #13138 closed

[2017-03-20 11:43] Tania-Jiacomini commented on #13145
Confirmed as fixed, thanks!

      Regards,

        Tania Jiacomini
          Translation

          Stoquart France SARL
          Translation & Localisation
          Espace Beethoven
          1208 route des Lucioles
          06560 Valbonne
          France
          Tel: +33 (0)4 92 96 09 55
          email: tania.jiacomini@stoquart.fr
      Web: www.stoquart.com

    Le 20/03/2017 à 12:41,

[2017-03-20 11:57] phamnutuyetan commented on #12918
@ficristo thanks due, it works for me

[2017-03-20 12:50] KatarzynaWodzinska commented on #13145
Closing the bug

[2017-03-20 12:50] #13145 closed

[2017-03-20 13:42] KatarzynaWodzinska opened #13197 "LB: LOC: fr_FR: Accents missing in FR strings."
Please fix the FR strings as per the below:

Source:  CSS Timing Function Quick Edit: invalid syntax
Current FR:  Edition rapide des fonctions de temporisation CSS : syntaxe incorrecte
Expected:  Édition rapide des fonctions de temporisation CSS : syntaxe incorrecte

Source: No Quick Edit available for current cursor position
Current FR: Fonction Edition rapide non disponible pour la position actu

[2017-03-20 18:44] thehogfather commented on #13165
The issue turned out to be a missing parameter to the `CodeMirror.Pos` constructor in a number of places. PR #13198 should address this.

[2017-03-20 18:58] ficristo commented on #13197
The accents were added in https://github.com/adobe/brackets/pull/12420 and reverted in https://github.com/adobe/brackets/pull/13193: they were reverted by accident?

[2017-03-20 19:00] ficristo commented on #13196
It seems something was corrupted: could you try to delete `state.json`?
See here for details https://github.com/adobe/brackets/wiki/Cache-Folder

[2017-03-20 19:01] ficristo commented on #13188
Dupe of https://github.com/adobe/brackets/issues/12990

[2017-03-20 19:01] #13188 closed

[2017-03-20 19:02] #13187 closed

[2017-03-20 19:04] ficristo commented on #12918
You can try https://github.com/adobe/brackets/releases/tag/release-1.9-prerelease-2 were the win32 bit is fixed. And maybe also fixes the crashes.

[2017-03-20 21:02] AwesomeBa commented on #11519
I have recently seen this problem.
I moved everything required by the html to one folder (css, images, etc...).
Then I 'ran' an image in that project, and it worked!
Running the html still did not work though.

[2017-03-21 03:16] RationalCoding commented on #11177
Currently just a working prototype, but I've created the [multihack-brackets](https://github.com/RationalCoding/multihack-brackets) extension to address this.

Any feedback is appreciated!

[2017-03-21 04:00] MayaFuruto opened #13200 "LB: ja_JP: In-context translation change in string "Port on which WebSocket Server runs for Live Preview""
In-context translation change in string "Port on which WebSocket Server runs for Live Preview"
(current translation is not exactly accurate)

EN string: Port on which WebSocket Server runs for Live Preview
Current target string: WebSocket サーバーがライブプレビューで実行するポート
Expected target string: ライブプレビューで WebSocket サーバーが実行されるポート

![preferencesport](https://cloud.githubusercontent.com/assets/6737567/24142789/f

[2017-03-21 07:10] abuzaforbg commented on #13196
Hi @ficristo thanks for your valuable comment. Deleting `state.json` worked.

[2017-03-21 07:10] #13196 closed

[2017-03-21 08:57] ficristo commented on #13196
I'm glad it worked out.

[2017-03-21 12:48] Zhanxin opened #13203 "Core: The "more information" link on extension manager panel would redirect to a 404 error page"
Steps:
1. Open the Brackets.
2. Click the icon about extension management.
3. Look up "Brackets Java" and click the "more information" link.
4. Observe the new page.
Result:
It would link to a 404 error page
Expected:
It could link to a correct page
![404](https://cloud.githubusercontent.com/assets/2245179/24147992/c7fed446-0e77-11e7-985d-9eaa37c23456.png)

[2017-03-21 13:51] swmitra commented on #13203
This is not a Brackets core issue. 'More Info' links to the provided URL in package.json uploaded by the extension author.
Please contact the author of 'Brackets Java' extension to take corrective measure about the unreachable github url.

[2017-03-21 13:51] #13203 closed

[2017-03-21 17:27] bobrowski opened #13205 "fonts not working especially when changing size"
i noticed this recently, windows 7, on brackets 1.8 and the 1.9 pre-release, i uninstalled, deleted all files and extensions, did a fresh re-install

setting a custom font works *sometimes*, but as soon as you go to resize it it resets to whatever the default font is, i made a video so its crystal clear

[Video](https://www.youtube.com/watch?v=_Rp8ANd_9FM)

[2017-03-21 20:00] akinhwan opened #13206 "Brackets API Docs Page...Top Navigation"
http://brackets.io/docs/current/modules/brackets.html#dependencies

In the "Brackets API" Documentation Page, the top navigation "Dependencies" "Variables" "Functions" "Classes" does not change the `<section>` below as expected.

The page in fact remains completely unchanged. Navigation is either broken or unnecessary?

[2017-03-21 22:09] redmunds commented on #13206
@akinhwan Those top navigation links scroll to the appropriate section anchor of the module being displayed. Some navigation doesn't apply to some modules, so nothing is done in that case. For example, the "brackets" module does not have a "variables" section.

I tried a few random navigation links in a few random modules and it seems to be working. Let us know if you find any specific links in sp

[2017-03-22 06:18] #10289 closed

[2017-03-22 09:12] Kooldiv opened #13207 "Brackets extension error"
#my brackets is upto date yet some extensions are showing that they require newer version of brackets
My current version is 1.8

[2017-03-22 12:46] Zhanxin opened #13209 "Core: There is a layout issue on extension manager panel when narrow down the window"
Steps:
1. Open the Brackets.
2. Click the icon about Extension Manager.
3. Narrow down the window.
4. Observe the sort toggle and the search bar.

Result:
The sort toggle and the search bar are misplaced.

Expected:
The sort toggle and the search bar should be displayed in the correct position.
![layout](https://cloud.githubusercontent.com/assets/2245179/24198353/89b8c22c-0f40-11e7-9073-dab355a250

[2017-03-22 12:51] Zhanxin opened #13210 "JP: The location of the prompt is incorrect after click "Quick Edit" or "Quick Docs"."
Steps:
1. Open Bracket
2. Move the cursor to the end of the longest line
3. Click "Quick Edit" or "Quick Docs" under "Navigate" title
4. Observe the location of the prompt

Result:
The location of the prompt is incorrect after clicking "Quick Edit" or "Quick Docs".
Expected:
The prompt box should be displayed at the corresponding position of the cursor.
JP:
![jp](https://cloud.githubusercontent.co

[2017-03-22 13:30] KatarzynaWodzinska commented on #13200
Issue fixed. Please provide most recent screen.

[2017-03-22 14:04] DalonK opened #13211 "Does Brackets have autocomplete for SASS?"
I started to use SASS instead of SCSS sometime ago and found out there is no the same autocomplete as it was for SCSS. While typing SASS markup, Brackets doesn't suggest me names of CSS properties and values. Should I enable something in settings or do something similar?

![sass-no-autocomplete](https://cloud.githubusercontent.com/assets/7037108/24201539/6302ad56-0f21-11e7-97a2-6fd32a34f2ea.jpg)

[2017-03-22 14:40] swmitra commented on #13211
@DalonK Brackets in it's current for doesn't provide any tooling out of the box for tab based SAAS format. However you may try to find some relevant extensions in brackets extension registry.

[2017-03-23 05:43] Zhanxin commented on #13210
Doesn't reproduce on release 1.8 build.

[2017-03-23 05:43] Zhanxin commented on #13209
Could reproduce on release 1.8 build.

[2017-03-23 11:02] #13175 closed

[2017-03-23 11:02] #13176 closed

[2017-03-23 11:18] DalonK commented on #13211
Have found what I've been searched for: [Brackets SASS Code Hints](https://github.com/sprintr/brackets-sass-code-hints).

[2017-03-23 11:19] petetnt commented on #13211
@DalonK great! Closing as solved 😸

[2017-03-23 11:19] #13211 closed

[2017-03-23 11:58] KatarzynaWodzinska commented on #13197
Issue fixed in Slate.

[2017-03-23 14:32] hotice commented on #12585
It was forked though: https://github.com/gverm/brackets-sass

[2017-03-23 16:23] stanfaire opened #13212 "Add line of code to multiple files"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-03-23 16:45] MasterYushi opened #13213 "[Feature Request] Exclude css files from in-line editor"
Being able to mark css files not to be searched for in-line editor would be handy. For example, say I am working with bootstrap along with my custom css file, on pressing `Ctrl+E` I would want only my css file to show up and the bootstrap files to be ignore because I don't want to mess with them. Currently when I do this it takes a few seconds to search through all the bootstrap files which is ann

[2017-03-23 17:03] stelarossa commented on #12064
/command/Menus.js:831 Error setting menu item shortcut: 1(anonymous function) @ /command/Menus.js:831
thirdparty.min.js:13 Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check https://xhr.spec.whatwg.org/.
/command/KeyBindingManager.js:578 Fail to nomalize Cmd-Shift-]
/command/KeyBindingManager.js:578 Fail

[2017-03-23 18:20] petetnt commented on #13209
Also reported by me at https://github.com/adobe/brackets/pull/13080#issuecomment-278798445

[2017-03-23 18:24] petetnt commented on #13213
I just tried it and seems like excluding the folders / files with https://github.com/zaggino/brackets-file-tree-exclude works for this case.

[2017-03-23 18:40] MasterYushi commented on #13213
@petetnt This does work as a substitution for the functionality I wanted for now, although one issue is that this makes the file disappear from the tree which might not be desirable. Thanks.

[2017-03-23 19:35] ficristo commented on #13197
I didn't find any string about "Login Failed" anywhere, all the other it seems to me are translated.

[2017-03-23 19:35] #13197 closed

[2017-03-23 19:37] ficristo commented on #13200
It should have been fixed by https://github.com/adobe/brackets/pull/13204

[2017-03-23 19:37] #13200 closed

[2017-03-23 19:48] ficristo opened #13214 "Change the name of the Brackets Node executable"
### Description

I had trouble to install some extensions on OSX. The problem was that the `node` command wasn't found.
I think the problem is the executable name of node process of Brackets: on Windows is `node.exe`, and on Windows 10 I don't have any problem, while on macOS and Linux is `Brackets-node`.
I don't have proof this is the real problem but to my eyes seems very likely.

On https://git

[2017-03-23 21:28] zaggino commented on #12064
@stelarossa did you test with 1.9? https://github.com/adobe/brackets/releases/tag/release-1.9

[2017-03-23 21:31] zaggino commented on #13207
@Kooldiv latest version is now 1.9 - https://github.com/adobe/brackets/releases/tag/release-1.9
I've released some extensions earlier so pre-release users could install them.

[2017-03-23 21:31] #13207 closed

[2017-03-23 21:48] bestguy commented on #13205
Seeing same on Mac OS - resizing the font (ctrl+/-) reverts the font, and same occurs if I change font size in 'View>Themes..'

[2017-03-23 22:46] guillecro commented on #13205
I can confirm this.
Same issue on Ubuntu 16.04 LTS x64

Here is a preview.
https://gfycat.com/FirmBigheartedHarlequinbug

[2017-03-23 22:53] joakimc opened #13217 "Brackets doesn't pick up on file modifications"
### Description

When checking out an earlier commit with GIT, Brackets doesn't pick up on the  file changes. Even if I close the file and open it again the file changes don't get picked up. I have to restart Brackets to see the changes. Still happens when reloading without extensions.

### Steps to Reproduce

1. Check out some GIT commit
2. Witness changes not picked up by Brackets
3. Close file

[2017-03-23 23:35] metabloks commented on #11865
Has this not been resolved?(?)

[2017-03-24 04:12] dmxt opened #13218 "[1.9] Warning beep on alt+w pane swap."
### Steps to Reproduce

1. Open files on two panes. Vertical in this case.
2. Attempt to press `alt+w` to swap panes

I have a warning noise beep every time I press `alt+w` which is deemed as very annoying that would stop me from using it.

**Expected behavior:** No sound effect per pressing `alt+w` to swap pane

**Actual behavior:** Warning sound beeps per pressing `alt+w+ to swap pane

### Versi

[2017-03-24 07:23] assialiholic opened #13219 "JP: raw UTF-8 character code is shown on replace dialog"
### Description

Under Japanese language setting, raw UTF-8 character code is shown on replace dialog.
![issue](https://cloud.githubusercontent.com/assets/6077519/24284320/10e85b40-10ae-11e7-9ffa-c282c6fd923d.png)

### Steps to Reproduce

1. Set the language setting to Japanese.
2. Call "replace" `検索 -> 置換`
3. Raw UTF-8 character code is shown on "バッチ" in replace dialog.

**Expected behavior:** バッ

[2017-03-24 08:06] Tusko commented on #13205
Have the same problem.
My font is SourceCodePro (default in Brackets, if I'm not mistaken)

But it is bolder than was in Brackets 1.8

[2017-03-24 09:57] avdhesh-agnisys opened #13220 "Redhat/centos 6"
Why Bracket does not support on RedHat/CentOS 6.5 or  lower version. Is there any workaround.

Thanks,
Avdhesh

[2017-03-24 13:59] kobezhu commented on #13205
me too！

[2017-03-24 14:06] Frankusky commented on #12416
This issue happens too in windows 7 with Release 1.9 build 1.9.0-17312 (release 189f6d39a).

After closing brackets and execute it again it loads default font

[2017-03-24 15:50] swmitra commented on #13205
I will have a look at it and keep you guys updated about the fix.

[2017-03-24 15:58] stelarossa commented on #12064
I did the following verifying it won't work:
downloaded 32-bit node.exe and replaced existing one.
downloaded brackets 1.9,deinstalled earlier version,installed new one.
downloaded npm like in tutorial,than tryed downloading emmet like stated above.npm installed successfuly,emmet not,error timeout.
checked firewall rulles just in case,all good...
I'm confused.
Any suggestions,it looks great,but ba

[2017-03-24 16:32] stelarossa commented on #12064
ok,it is  installed,finaly.just it won't work...anybody knows what went wrong?same error console

[2017-03-24 17:01] blairdow commented on #13169
I would love a fix for this as well!

[2017-03-24 17:12] thany opened #13221 "Custom font is ignored"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

A custom font set in View->Themes is ignored.

### Steps to Reproduce

1. Open Bracket

[2017-03-24 17:18] stelarossa commented on #12064
Basicly I'm uninstalling brackets node with revo uninstaller pro and than will install brackets again.Hope this will work...

[2017-03-24 17:36] kobezhu commented on #13221
‘I’ve been through the same situation!

[2017-03-24 18:29] prasadmudedla commented on #13221
same situation... tried changing the defaultPreferneces.json.... Still no luck...

[2017-03-24 19:49] stelarossa commented on #12064
just to let you all know that it didn't work...node is the problem...

Less has finished and no sheets were loaded.
/thirdparty/react.js:6541 Download the React DevTools for a better development experience: https://fb.me/react-devtools
/command/Menus.js:831 Error setting menu item shortcut: 1(anonymous function) @ /command/Menus.js:831
/command/KeyBindingManager.js:578 Failed to normalize Cmd-Shif

[2017-03-24 20:08] muba00 opened #13222 "Unable to download v1.9"
Download fails after 3-10%.
![screen shot 2017-03-25 at 12 08 17 am](https://cloud.githubusercontent.com/assets/11701997/24311809/31e282a8-10ef-11e7-9c98-854c7eaf9976.jpg)

[2017-03-24 21:26] clementi commented on #13221
I'm seeing this also.

[2017-03-24 21:54] redmunds commented on #13169
This is a duplicate of #8012 which has been fixed. It looks like the fix is to add the `indentLineComment` preference and set it to `true`.

[2017-03-24 23:11] blairdow commented on #8012
i've been working around this for months, so happy with this easy solution! I wish i had investigated wayyyy sooner :)

[2017-03-25 14:49] saurabh95 commented on #13222
@muba00 Can you try downloading the dmg from https://github.com/adobe/brackets/releases/download/release-1.9/Brackets.Release.1.9.dmg

[2017-03-25 19:49] muba00 commented on #13222
@saurabh95 Here is the result..
![screen shot 2017-03-25 at 11 48 18 pm](https://cloud.githubusercontent.com/assets/11701997/24325609/9edeecc2-11b5-11e7-93a4-f15e1229e803.jpg)

[2017-03-25 21:23] Manon52 opened #13223 "La fenêtre d'édition du code n'apparait pas. Comment puis-je la faire apparaitre ?"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-03-25 23:49] humphd commented on #12101
@ficristo, while you mention it, is there an existing bug on dnd within the filetree? I can't find one, but surely I'm missing it.  I'm considering implementing it for Thimble, but wanted to see the state of things here first.

[2017-03-26 02:09] timburgess commented on #11061
JSX formatting works well for `.jsx` extension files but there is no mapping to `.js` at present. Changing `languages.json` by moving `"js"` from javascript mode to jsx mode has worked for me to date on regular Javascript files.

[2017-03-26 11:43] petetnt commented on #11061
@timburgess I've been thinking about using the `JSX` mode as default for any JavaScript files, the change would be rather simple but haven't just gotten around to do it yet. Basically it's just defaulting to `jsx` with any `js` files and monkeypatching `LanguageManager` to return `javascript` for any `jsx` calls to enable code hinting and such.

[2017-03-26 12:12] ficristo commented on #12101
Hi @humphd.
AFAIK dnd for filetree is still not available. I found these two issues https://github.com/adobe/brackets/issues/9675 https://github.com/adobe/brackets/issues/10334 and relative trello cards
https://trello.com/c/xwNIcxO6/347-drag-drop-from-os-to-file-tree-copy-move-file
https://trello.com/c/0WJ1aKw2/287-5-drag-drop-within-file-tree-copy-move-file
I think both would be great additions f

[2017-03-26 12:16] ficristo opened #13224 "Upgrade node and npm"
### Description
Since were are at the beginning of the relase would be nice to update them.
I still not sure if go to latest node 6 or make the jump to 7 for node.
Maybe for npm is better to still stay on 3?
Opening to discuss.

[2017-03-26 12:18] ficristo commented on #13169
Reopening: `indentLineComment` does work only for languages which defines single line comments.
Html language defines only block comments.

[2017-03-26 12:23] ficristo opened #13225 "Investigate using CodeMirror comment/comment addon"
### Description

CodeMirror has an [addon](https://codemirror.net/doc/manual.html#addon_comment) which defines lineComments and blockComments.
I don't know if it is better than our custom code, but at the least the `padding` option is interesting for me.

Maybe it could help to solve https://github.com/adobe/brackets/issues/13169

[2017-03-26 12:30] ficristo opened #13226 "Investigate changing html layout for file tree"
### Description

The current layout is composed with `ul` and `li`, plus there is some javascript that handle the selection of current folder and I think also the collapse/exapnd is done in js.
In https://github.com/adobe/brackets/pull/12047 I added some html to workaround a bug, which makes me think the layout can be improved.
Ideally we should delegate more operations to html and css.
If we go o

[2017-03-26 12:33] ronherrema commented on #10555
It's not clear to me how or where this has been incorporated. Is there now a default shortcut for switching panes?

[2017-03-26 12:38] ficristo opened #13227 "Replace .border-radius mixin with border-radius css in brackets_patterns_override.less"
### Description

In `src/styles/brackets_patterns_override.less` there are some mentions of `.border-radius` mixin.
These can safely replaced with the corresponding css `border-radius`.
So `.border-radius(0 0 3px 3px);` will be `border-radius: 0 0 3px 3px;`

There are some other mentions in the tree, but they are in bootstrap files or in files where it is necessary, so there should be left untouch

[2017-03-26 12:43] ficristo commented on #13223
Google translated:
The code editing window does not appear. How can I make it appear?
Can you give use more info? Maybe a screenshot?

[2017-03-26 12:45] Manon52 commented on #13223
![capture d ecran 2017-03-25 a 16 56 30](https://cloud.githubusercontent.com/assets/9582528/24331359/8e43b88e-1200-11e7-8f98-d438e34f0c62.png)

[2017-03-26 12:53] Manon52 commented on #13223
Oups  ! This one is more explicite :
![capture d ecran 2017-03-25 a 16 56 41](https://cloud.githubusercontent.com/assets/9582528/24331374/e7eb26c4-1200-11e7-9e07-dcf592c6827e.png)

If i drag the line :
![capture d ecran 2017-03-26 a 08 50 16](https://cloud.githubusercontent.com/assets/9582528/24331391/54758a8c-1201-11e7-99f4-224d2703cd88.png)

I can drag it down.
![capture d ecran 2017-03-26 a 08

[2017-03-26 12:55] ficristo commented on #13223
It seems to me a problem within one of the extensions you have installed.
If you run `Debug \ Reload Without Extensions` can you reproduce your issue?

[2017-03-26 12:59] Manon52 commented on #13223
OK !  I got it ! Thank you very much ! It's working !

[2017-03-26 13:39] guillecro commented on #13221
This issue is already posted here,
https://github.com/adobe/brackets/issues/13205

Its not working even in Ubuntu (in my case Ubuntu 16.04 LTS x64)

[2017-03-26 18:33] TheMongooseBytes opened #13228 "best upgrading procedure for brackets on windows 10"
Hi

I am running Brackets 1.8 on my Windows 10 machine, a HP z620 workstation and I was prompted by Brackets to upgrade.

My question is simple: Do I uninstall this 1.8 version before installing 1.9 or will 1.9 overwrite the 1.8 install by default and will I run into issues performing the upgrade this way?

[2017-03-26 19:08] APoetsGutReaction opened #13229 "Brackets UI Themes not working/showing up?"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
Yes? It's the themes not showing up that's the problem, and they don't show up with the extensions off either.
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
Yes, couldn't find any similar posts.
* [x] Did you read the [Troubleshooting guide](https://gith

[2017-03-26 21:59] petetnt commented on #13228
Hi @TheMongooseBytes,

you can just run the 1.9. installer: it will overwrite the Brackets files, but you will keep your settings, extensions, history and other related, user specific things. There shouldn't be any issues performing the upgrade whatsoever.

[2017-03-26 22:15] petetnt commented on #13224
Node 8 should land next month-ish so I'd go with that.

[2017-03-27 05:34] swmitra commented on #13224
I am in for node 7 to start with and unless there are any breaking changes introduced as part of node 8, I guess upgrading later in the cycle should be trouble free. Any infrastructure related change could be started right away to make sure we are ready for a release in May first week 😄

[2017-03-27 06:15] raselshifat commented on #12213
i have a problem,when i open brackets and drop my folder on brackets .then always brackets show that "brackets currently only supports UTF-8 encoded text files"

please anyone tell me .what to do :(

[2017-03-27 06:17] petetnt commented on #13229
Hi @APoetsGutReaction,

Sounds like a broken extension to me or faulty configuration file to me. 🤔

Can you check out Debug -> Show Developer Tools -> Console to see if there are any visible errors there.

[2017-03-27 06:19] petetnt commented on #12213
Hi @raselshifat,

Currently, like the error says, Brackets only supports UTF-8 encoded files. Try installing this extension to convert your files: https://github.com/Armacryss/brackets-utf8-converter 👍

[2017-03-27 07:54] hackseoer opened #13230 ""defaultPreferences.json" Error: Found a punctuator character '}' when expecting a quoteless string (check your syntax) at line 564,2 >>> }"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

"defaultPreferences.json" Error: Found a punctuator character '}' when expecting a quo

[2017-03-27 08:30] thany commented on #13221
That appears to be a different issue, as it also reports the problem in 1.8.
This particular case is a *regression* from 1.8, meaning the feature worked fine in 1.8, but it broke as of 1.9.

[2017-03-27 08:58] dennisjnolan opened #13231 "Unable to open a second instance of brackets ver.1.9"
### Prerequisites

* [yes ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ yes] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [yes ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/br

[2017-03-27 09:16] AgamlaRage opened #13232 "Brackets 1.9, can't configure my theme font"
Brackets 1.9, Windows 10

I have to setup my font-family again, each time I quit Brackets.

Here the related part of my **AppData/Roaming/Brackets/brackets.json**, that is valid json.

My theme configuration is the same as my configuration in Brackets 1.8.
i did the normal update, running **Brackets.Release.1.9.msi**
It should works ...

[2017-03-27 09:49] RationalCoding opened #13233 "No WebRTC support for extensions"
The dev console states that Brackets uses Chrome 49, and some parts of the WebRTC spec are present, but most of it is missing. (Notably RTCPeerConnection)

Is this due to Brackets being on an older Chromium build, or have these features been disabled?

[2017-03-27 10:07] petetnt commented on #13233
Hi @RationalCoding,

that's exactly it. We are looking for updating the CEF (Chromium Embedded Frame) to match Chrome 58 for the next release. Meanwhile you try communicating with `WebRTC` through the Node Connection and something like https://github.com/js-platform/node-webrtc

[2017-03-27 10:09] RationalCoding commented on #13233
I figured that was the case. Well, looks like embedded video chat will have to wait :p

Thanks!

[2017-03-27 11:07] parthsharma2 commented on #13227
Hi, I would like to take this issue

[2017-03-27 12:31] MandarSant opened #13234 "ligatures not working"
### Description

[ligatures of fira code not working in newest version of brackets 1.9 refer to the following [issue](https://github.com/tonsky/FiraCode/issues/393#issuecomment-289385186) ]

**Actual behavior:**

 [When I change font line, it applies the changes and shows everything(ligatures ) in Fira Code. But when I restart Brackets it starts in default font]

### Versions

windows 8.1
Brackets

[2017-03-27 13:52] parthsharma2 commented on #13227
Made a pull request to fix this issue. Checkout #13235

[2017-03-27 14:16] carinlynchin commented on #12101
sorry @ficristo ... i just saw this. So i am not talking about live preview.. i realize now that i had this in the wrong area.. its actually eqftp that would be in charge of that... separate extension..my bad

[2017-03-27 14:27] hellojole opened #13236 "Implementing Sparkle for future updates on MacOS?"
This is an insignificant detail, but in my opinion it would be a major improvement for the user experience if the open-source [Sparkle](https://sparkle-project.org/) was implemented for future updates. It's not a big deal, but still a hassle to manually download the files from the website, extract and replace them when there's an easier way.

[2017-03-27 15:09] gparsloe commented on #12461
Hello. I'm using Brackets 1.9 (just updated from 1.6 today). How do I trigger aria hints? I've tried just typing aria- and waiting, but nothing happens.

[2017-03-27 15:35] clementi commented on #13232
This appears to be the same as #13221

[2017-03-27 15:41] Coder206 commented on #12461
@gparsloe Thanks for the information. I am glad you found a solution. :) I would suggest reporting this as an issue.

[2017-03-27 16:21] Tessag159 commented on #10555
Yeah, Brackets updated it so that it is included in the core package now.  I believe the shortcut key is Alt + W

[2017-03-27 17:30] swmitra commented on #13233
Ah.. Missed this thread earlier. I am a bit confused now. I thought starting Brackets with '--enable-media-stream' does the job and you can get the av stream through user media handle. I have a working embedded video chat app running with Brackets 1.8.

[2017-03-27 17:52] RationalCoding commented on #13233
@swmitra So getUserMedia is exposed by starting with that flag? Interesting. What about RTCPeerConnection?

[2017-03-27 17:55] AgamlaRage commented on #13232
Oh yes, sorry for duplicate :(

[2017-03-27 18:06] ficristo commented on #13234
Closing as a dupe of #13221. (I hope to have understood the issue correctly)

[2017-03-27 18:06] #13234 closed

[2017-03-27 18:11] ficristo commented on #13232
Closing as a dupe of https://github.com/adobe/brackets/issues/13221

[2017-03-27 18:11] #13232 closed

[2017-03-27 18:23] ficristo commented on #13229
Just to be sure, after you installed the theme, have you tryed to change the theme with `View \ Themes...` menu?

[2017-03-27 18:24] ficristo commented on #13223
Closing as extension problem

[2017-03-27 18:24] #13223 closed

[2017-03-27 18:26] ficristo commented on #13219
The `¥` should be a `\`

[2017-03-27 18:28] ficristo commented on #13220
If you are talking about rpm distribution, AFAIK it is not supported.
You could give a try to the AppImage of https://github.com/zaggino/brackets-electron/releases

[2017-03-27 18:33] ficristo commented on #13230
The `defaultPreferences.json` should not be modified, and xmlhint is not part of Brackets defaults.
Since I think it is a problem with an extension I close this as such.

[2017-03-27 18:33] #13230 closed

[2017-03-27 18:45] CheckLife opened #13238 "How can I change my defult directory folder to my own in Brackets?!"
I want to use Brackets to view my HTML, JS, and CSS files I've written. However whenever I open a file from my folder "Code", Google Chrome Opens up an index of my desktop folders, then I have to click the folder "code" and go in the folder to click on it. How can I make it to where when i click on "live preview" Chrome loads the actual HTML file instead of traveling the world first!?????

![scree

[2017-03-27 18:50] ficristo commented on #13238
It seems to me your project is actually called "#Code".
Do you have this issue with other projects which in their name there isn't a `#`?

[2017-03-27 19:53] RationalCoding commented on #13233
It looks like Chrome has had a prefixed RTCPeerConnection since v23. I don't think the Chromium version is the cause of this.

[2017-03-27 20:03] CheckLife commented on #13238
@ficristo no thats my folder with my html, js, and css files......

[2017-03-27 20:34] ronherrema commented on #10555
I'm on Mac. There are shortcuts for moving from one document to another in the document list, but I don't see anything for switching between the two open panes.

[2017-03-27 21:55] fjeddy commented on #11657
This is still an issue. I spend close to a minute loading the extension manager.

The mention of GZIP, then computers ( Like mine ) that are very busy or have a poor CPU, are going to take time / struggle unzipping.

The times i have opened the extension manager, it was not because i needed the registry or wanted to install anything remotely. Could it be an idea to not load the remote packages and

[2017-03-27 21:57] RationalCoding commented on #13233
SOLVED: On passing the flag `--enable-media-stream --enable-usermedia-screen-capturing`, the prefixed `webkitRTCPeerConnection` is available.

[2017-03-27 21:57] #13233 closed

[2017-03-27 22:55] haslam22 commented on #13218
Not sure why this is happening, might be because Windows by default maps `alt+letter` shortcuts to the menu bar, so if you type `alt+f`, it opens the file menu etc. You could try overriding the pane swap shortcut to a different one in keymap.json which can be opened using `Debug > Open User Key Map`:

[code]

[2017-03-28 00:05] Mistraval commented on #11865
Nope.

[2017-03-28 01:01] timburgess commented on #11061
@petetnt problem with moving the extension type `.js` from javascript to jsx in `languages.json` is that in the lower right, the filetype will display as 'JSX' not 'Javascript' for simple JS files. There may also be implications in the `.brackets.json` settings specifying a language of "javascript" not applying.

I think we need to look at the existing "htmlmixed" mode to create something similar

[2017-03-28 01:28] CheckLife opened #13239 "There HAS to be a bug in Brackts because my javasript event "onmouseover" is not working in JavaScript! SOMEONE HELP!!!"
I downloaded Brackets TODAY and converted all my files to use on there. When I literally run the exact same code in NotePad++ the "onmouseover" event DOES NOT WORK PROPERLY. So basically i converted from Notepad++ to Brackets today and the issue is when i use the "onmouseover" event the image transition is immediate, but when i use the "on-click" event the transition is smooth. However when i use

[2017-03-28 02:34] Vandivier commented on #11866
perhaps the second recommendation should be https://github.com/gruehle/exclude-folders

it has more stars

[2017-03-28 03:14] brunnopleffken opened #13240 "Unable to change font family AND font size"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

Go to View > Themes.
Change the font size, the font family is automatically changed to

[2017-03-28 03:47] hackseoer commented on #13230
@ficristo Thanks, I have found the cause of the error, from the extension: [htmlHint](https://github.com/cfjedimaster/brackets-htmlhint)

[2017-03-28 06:35] talhazahid commented on #11588
The only thing I dont like about bracket  is they dont have this feature.. sometimes I have to replace a complete div and its a painful process.. I hope to see this feature in future

[2017-03-28 07:27] elrasool opened #13241 "working on .php extension"
Hello . The most feature I missed in Brackets is working with .php files . I hope you solve this problem because I don't want to use any other editors while working on server side files . I'm waiting for this , and I know you will do it . congratulations .

[2017-03-28 07:39] #13227 closed

[2017-03-28 07:48] petetnt commented on #11061
@timburgess my languages.json now looks like this:

[code]

JSX is already a `htmlmixed` like mode in the CodeMirror side: it's a mix of HTML mode, JavaScript mode and custom JSX specific changes.

[2017-03-28 07:50] petetnt commented on #11866
@Vandivier that's correct, fixed 👍

[2017-03-28 07:52] petetnt commented on #13241
Hi @elrasool,

Brackets already supports syntax highlighting for PHP files, and there's some extensions like https://github.com/Brackets-PHP/Brackets-PHP-SmartHints that provide additional features if that helps 👍

[2017-03-28 08:31] timburgess commented on #11061
@petetnt Nice. That works well.

[2017-03-28 10:26] SniCel commented on #12539
It is pity. It was the best feature. Bye brackets :/

[2017-03-28 10:28] petetnt commented on #13239
Hi @CheckLife,

are you using the Live Preview feature of Brackets?

Brackets the code runs on actual browsers and shouldn't have anything to do with Brackets itself. However there might be differences on _how_ you run the code: running the code from the FileSystem (with Notepad++) might behave differently than over the remote debugging protocol (like through Brackets Live Preview).

[2017-03-28 13:49] guillecro commented on #13240
Watch this issue
https://github.com/adobe/brackets/issues/13221
It has been reported

[2017-03-28 14:12] joakimc commented on #13217
I think I found out what's causing this. I believe it's related to path names with parenthesises in them.

I use Dropbox for syncing, and had my project in `/Users/me/Dropbox (Teamname)/dev/project`. When moving my project outside Brackets started picking up file changes. Also, the side panel file structure started reflecting changes, which previously also was missing.

[2017-03-28 15:59] chrisgh1 commented on #12293
I'm still pretty new to Brackets but I also would like to know if this is in the works?  Or if there is a plugin that would allow for live preview of .ejs files

[2017-03-28 16:05] mikemedd opened #13242 "Feature Request: Show project path"
Could you please make it possible to view the current project's path in the app header or Open Folder menu? Currently, the only way to be sure of which project is open is to view one of the files in Finder or reopen the project. Thank you.

[2017-03-28 16:51] ItamarShDev commented on #12293
After getting no response for a long time, I just installed `nodemon` and `livereload` and it does the live reload well with any editor

[2017-03-28 17:26] CheckLife commented on #13239
@petetnt Did you see the video of whats happening in my repository? I literally run both events in NotePad++ and it works fine. What is a solution to this!!!???? because "onmouseover" should not produce a faster transition if i haven't changed anything in my function or CSS

[2017-03-28 18:59] ManuStar136 opened #13244 "Unexpected French language in menus"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-03-29 02:04] dmxt commented on #13218
@haslam22 Is `alt+w` the only default keymap for pane swap?

[2017-03-29 13:07] haslam22 commented on #13218
@dmxt It appears so, the feature was added pretty recently in #12853

[2017-03-29 13:10] haslam22 commented on #13242
Hovering over the project name on the sidebar shows the full path for me. Which OS are you using?

[2017-03-29 13:11] reovero commented on #11825
+1

[2017-03-29 14:36] mikemedd commented on #13242
Thanks, @haslam22 . I'm using MacOS Sierra and that works. The hover is a bit slow but its sufficient.

[2017-03-29 14:37] #13242 closed

[2017-03-29 18:59] ficristo commented on #13217
Closing as dupe of #12864

[2017-03-29 18:59] #13217 closed

[2017-03-29 19:03] ficristo commented on #12101
If this is related to eqftp I think you should file an issue on the extension you are using.
I close for now.

[2017-03-29 19:03] #12101 closed

[2017-03-30 02:40] zaggino commented on #12892
Fixed in https://github.com/adobe/brackets/pull/13243

[2017-03-30 02:40] #12892 closed

[2017-03-30 02:59] zaggino commented on #13239
@CheckLife Please watch your tone. I've checked your video, cloned your code and the problem has nothing to do with Brackets, I can reproduce it even when changing code through Notepad++.

Your problem is that by moving the mouse across button, `onmouseover` is executed multiple times. You can try to write
[code]
and check the developer tools for how many times it outputs slow executed text.

Simp

[2017-03-30 02:59] #13239 closed

[2017-03-30 04:41] mchandleraz commented on #13238
@ficristo If this has anything to do with the `#` in the path, then it's Windows specific. I can't reproduce this on macOS with a path that has a hash in it.

@CheckLife Can you reproduce this issue with a project that does not have a hash (`#`) in the path?

[2017-03-30 09:06] marcojoel opened #13247 "Live Preview on PHP Files"
Hello there...

I've been using Brackets for a while and it been a great tool to work with so far. I've been working in a project in php a few days ago and it worked fine. I've used the live preview and it worked fine both in html files and in php.

Until last week that I've been trying to continue with my work, but it keeps asking me the live preview base url. I've got xampp installed, then I tri

[2017-03-30 10:23] joakimc opened #13248 "Live Preview HTML element highlighting in PHP not working"
After moving my project to a local server (MAMP) and converting my project to a PHP-site (index.php + header.php and footer.php) HTML changes and element highlighting in Live Preview has stopped working. Changes are displayed on save. When clicking classes in the .scss file the elements highlighting do work like they should, but changing and clicking HTML elements in the PHP-file has no effect. Bt

[2017-03-30 11:03] #13248 closed

[2017-03-30 11:12] justinrusso commented on #13053
I might give this a try, seems like a great addition. I'd imagine this would be considered a default extension.. how does LinkParser sound?

I'm thinking not only for require/imports, but even the ability to click on a link in the code, like "github.com".

[2017-03-30 11:18] petetnt commented on #13053
@justinrusso that sounds great 👍 Some links are already parsed (like images inline) so that might be good starting point on how to add this feature for code imports and such.

I think the best start would be handling ES6 imports and CommonJS imports in the filesystem and continuing with that.

[2017-03-30 11:22] justinrusso commented on #13053
That'll be useful! Do you know where the image parsing is located?
Thanks :)

[2017-03-30 15:31] FriedrichLeineweber opened #13249 "Noob needs your help: Brackets doesnt start"
Hey, as the title says: I installed Brackets to do some html stuff from the arch user repository, but it just looks like this when I start it: ![brackets](https://cloud.githubusercontent.com/assets/26656736/24512257/605d012a-156e-11e7-98e5-44061500a69d.png)
 and is stuck at the page. Cant close it either. Tried reinstalling. Read the troubleshooting page.

When I start it from the terminal I get t

[2017-03-30 16:07] lukicamukica commented on #13190
I tried 1.9 and still not working

[2017-03-30 16:28] justinrusso commented on #13053
Should npm modules go to npmjs.org or should they link to the src inside node_modules?

[2017-03-30 17:49] fralix commented on #12739
I would recommend to add an option to switch between multiple projects somewhere.

[2017-03-30 18:26] edyedy123 commented on #13249
Hey, I'm in an open source class and my prof made a very comprehensive guide for installing brackets and Mozilla thimble to use it if you choose to. It is a guide to fixing bugs in Mozilla thimble code but it dose tell you how to install brackets. Hopefully this helps.
Heres the link:
http://blog.humphd.org/fixing-a-bug-in-mozilla-thimble/

[2017-03-30 19:14] Fallon9111 commented on #13249
I am also having this issue (i3 wm, arch). I fixed this by instead installing brackets-bin from the AUR

[2017-03-30 19:17] FriedrichLeineweber commented on #13249
Yeah have it installed to. Doesnt help sadly

[2017-03-30 19:25] FriedrichLeineweber commented on #13249
Nevermind it worked! Thank you very much!

[2017-03-30 19:25] #13249 closed

[2017-03-31 02:57] lkcampbell commented on #13209
I will be glad to fix this bug.

@Zhanxin, would you mind providing a fake screenshot graphic depicting what the phrase "displayed in the correct position" means?

[2017-03-31 03:37] lkcampbell commented on #11848
@AdriVanHoudt , I am really glad that my simple extension helped you out. It has received a surprisingly high number of downloads for a one-off. More power to you and enjoy the magic that is Open source!!

@abose, why is this bug still open? I solved it with an extension.
Let's have some closure. I am closing it and removing the priority labels.

[2017-03-31 03:37] #11848 closed

[2017-03-31 03:45] lkcampbell commented on #7416
I think I cared about this issue at one time...since then I changed my mind and my muscle memory.

Closing, for closure sake.

[2017-03-31 03:45] #7416 closed

[2017-03-31 03:55] lkcampbell commented on #7483
It's 2017 and we still don't have submenus and no one has complained about this bug.

Although I do miss talking to @njx and @pthiess and @larz0, I think this issues is closed.

[2017-03-31 03:55] #7483 closed

[2017-03-31 06:44] petetnt commented on #13209
@lkcampbell there's a PR fixing this alteady if you want to review it https://github.com/adobe/brackets/pull/13245 :+1:

[2017-03-31 06:46] gxnie commented on #13221
I have modified the brackets.min.css.

[2017-03-31 08:55] thany commented on #13221
Can this please be fixed with a maintenance update?

It happens too often that we need to wait 3 months or longer, for an issue to get solved in the next release. And any new release may introduce other breaking bugs, causing us to have to wait *even* longer.

[2017-03-31 11:42] guillecro commented on #13221
I +1 this comment. Its such annoying bug..

[2017-03-31 13:49] lkcampbell commented on #13209
@petetnt okay thanks I will look at it this weekend.

[2017-03-31 14:49] woaspam opened #13251 "installation error on upgrade to 1.9 release"
no FAQ applies
error during installation: "could not write value to key \software\classics\brackets FileExt\shell\open\command"

[2017-03-31 15:08] saurabh95 commented on #13251
Can you try running as administrator as it seems that the error is in writing of registry entry which requires administrator permissions.

[2017-03-31 16:11] jpdupont commented on #13221
+1

[2017-03-31 23:15] Blackweda opened #13252 "Problem with Wiki"
This is just a suggestion for the Wiki:

https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets

I tried to follow all the steps until:

6. Add an "upstream" remote: git remote add upstream https://github.com/adobe/brackets.git

7. Run setup_for_hacking script:

Mac:	tools/setup_for_hacking.sh "/Applications/Brackets.app"

Windows:	_tools\setup_for_hacking.bat "C:\Program Files (x86)\Brack

[2017-04-01 01:34] Blackweda commented on #13189
I'll work on it this weekend.

[2017-04-01 06:32] muba00 opened #13253 "why brackets is using network?"
![screen shot 2017-03-31 at 12 45 43 am](https://cloud.githubusercontent.com/assets/11701997/24576078/3c40a874-16c6-11e7-8778-2a2f13177c96.jpg)

[2017-04-01 09:39] swmitra commented on #13253
Brackets core does use network to upload anonymous Health Data pertaining to feature usage,  extension usage and some other relevant data. But there might be some other user installed extensions which uses some network features. Do let us know if this clarifies your doubt.

[2017-04-01 09:47] swmitra commented on #13252
@Blackweda Thanks a lot for letting us know about this ambiguity in the setup for hacking steps. We will update the wiki with more specific info for this step.

[2017-04-01 09:52] swmitra commented on #13221
@thany We are working on this issue and hopefully have a fix by next week. Once the fix is in, we will trigger a pre-release which would be available under Brackets GitHub releases.

[2017-04-01 16:59] ficristo commented on #13225
It seems to me the addon doesn't support the indent option in case of block comments.
Also I think the way it indent the code is different than the way is done in Brackets.

[2017-04-01 16:59] #13225 closed

[2017-04-01 17:01] #13031 closed

[2017-04-01 17:01] #13066 closed

[2017-04-01 17:02] ficristo commented on #13058
Closing as it seems a problem with the extensions.

[2017-04-01 17:02] #13058 closed

[2017-04-01 19:25] BluTiger opened #13255 "Could you please list the theme used on the homepage? I really like it!"
I didn't know where to add comments/suggestions and this was the only link I could find. Sorry if I'm in the wrong place. On the homepage for brackets.io there's a really cool theme being used for markup and I'd like to use it! :)

[2017-04-01 20:23] haslam22 commented on #13255
It's the [Coolwater ](https://github.com/Brackets-Themes/Coolwater)theme. It's available in the extension manager, or you can download the .zip and drag into Brackets. Hope that helps.

[2017-04-02 04:32] simon66 commented on #13099
Hey guys! I'm back from the "dead" haha
Wow! What a headache :/ Lesson learned, always "push" your modifications.

Going back to the code, why is the invalid chars different based on the OS?
![screen shot 2017-04-02 at 12 06 44 am](https://cloud.githubusercontent.com/assets/1103528/24584338/90cca16e-1738-11e7-862c-90cc02dcd8ab.png)

Why is `<` and `>` valid on MacOS and Linux but invalid on Window

[2017-04-02 05:37] zaggino commented on #13099
Hi, I agree the list should be same for every OS as generally you don't want someone to push an invalid file to a project which other developer on different OS can't use.

[2017-04-02 15:26] vahid-sanati commented on #13221
I have this bug too.

[2017-04-02 17:43] petetnt commented on #13252
Thanks @Blackweda, addressed the issue by modifying the step to:

_(MUST be run in a Command Prompt started with "Run as Administrator". If you opened a new Command Prompt you might need to navigate back to the repository folder you cloned in step 3 with eg. cd C:/path/to/brackets`)_ .

[2017-04-02 17:43] #13252 closed

[2017-04-02 17:43] petetnt commented on #13255
Closing as answered, glad you liked the theme @BluTiger 👍

[2017-04-02 17:43] #13255 closed

[2017-04-02 19:00] bokub opened #13257 "[Wiki] Update Releases list ?"
Hi,

Just wanted to let you know that in the [homepage of the wiki](https://github.com/adobe/brackets/wiki#releases) , the last release note if for **version 1.6**.

You might want to change that so people can easily find the one for 1.9.
Just sayin'

![capture](https://cloud.githubusercontent.com/assets/17952318/24590099/458199da-17e7-11e7-95eb-1739538ee45b.PNG)

[2017-04-02 21:17] petetnt commented on #13257
Thanks @bokub, added the release notes to the list 👍

[2017-04-02 21:17] #13257 closed

[2017-04-02 23:00] Blackweda commented on #13189
Hey guys, I am working on this issue, and in my research through the code, you guys seemed to be part of coding the stuff that relates to this issue. I had a few questions:

1. When you click Quick Edits, what kind of element is that? (like I'm not sure if its some sort of Widget like ModalBar / popUp / dropDown, etc...) Or even when you right click the screen for the (Save, Save As...) stuff, wha

[2017-04-02 23:12] Blackweda commented on #13252
thanks a lot guys!! :)

[2017-04-03 03:13] zaggino commented on #13209
Fixed in https://github.com/adobe/brackets/pull/13245

[2017-04-03 03:13] #13209 closed

[2017-04-03 09:04] ErikThiart commented on #12875
Same issue seems brackets relies on outdated software.

[2017-04-03 11:31] petetnt commented on #13228
Closing as answered

[2017-04-03 11:31] #13228 closed

[2017-04-03 11:32] petetnt commented on #13127
Closing as answered, feel free to reopen if the issue persists

[2017-04-03 11:32] #13127 closed

[2017-04-03 14:57] redmunds commented on #13253
@muba00 You can go to `Help > Health Report` to turn off sharing of anonymous data if you don't want to participate.

[2017-04-03 15:18] humphd commented on #12006
I don't want to hijack this bug, but it seems like the best place to ask this.  In our Mozilla fork, I'm considering moving to webpack vs. requirejs for doing our build.  I see that you have [recently made some moves in this direction](https://github.com/adobe/brackets/search?utf8=%E2%9C%93&q=webpack&type=), and I wonder if it's something you're considering doing en masse?

I realize it might not

[2017-04-03 15:21] petetnt commented on #12006
FWIW I'd love to get rid of `RequireJS` and `amd` modules myself, even if it requires ponyfilling it for the existing extensions. Even more if moving to Webpack would enable hot-module-loading for Brackets itself which would make developing parts of it a breeze. 😸

[2017-04-03 15:36] humphd commented on #12006
@petetnt same with me.  I think it could be done in stages, too, since webpack is fine with AMD modules, and you could migrate to a CommonJS pattern down the road.

As I say, I didn't mean to derail this bug, and just wanted to see what people were thinking.  If you think this is something worth doing in general, maybe we could collaborate and do it in this repo vs. me doing it in our fork.  I'd b

[2017-04-03 18:45] moseleyi opened #13258 "Braces auto-close and indentation"
I installed newest version of Brackets of my new laptop and not sure if I had an extension previously or if my old machine (older version) had different settings.

Auto-close for braces is switched on. For example I'm pressing a tab in CSS file name of a class and when I press opening curly brace the closing one appears (which is great) but the indentation disappears and everything is moved to the

[2017-04-03 19:02] moseleyi opened #13259 "Colour picker of available hex colours in a CSS file"
I've been trying to find an extension but no luck so far and I'm wondering if it's been discontinued? When typing color:# there was a list of colours already used on a given CSS file. It's very helpful with larger files. Is the extension still available?

[2017-04-03 22:04] zaggino commented on #12006
Extensions are currently loaded dynamically after the after the Brackets start-up. Is this possible with commonjs-webpack? Or would it require us to pack the extensions before loading them? If we could get a proof of concept how to do this, I'd certainly vote for.

[2017-04-03 22:27] petetnt commented on #12006
Webpack 2 supports [dynamic imports import()](https://github.com/tc39/proposal-dynamic-import) so it should be very much possible.

[2017-04-03 23:30] BluTiger opened #13260 "Anyway we can get an SFTP option? None of the SFTP options work with current brackets"
I only need SFTP and the ability to download/upload from remote server. Is this possible? I've tried all 4 that come up when typing SFTP and none of them work with current brackets.

[2017-04-03 23:35] BluTiger commented on #13260
For example:
 eqFTP errors out.
osFTP errors out.
Synapse has no icons for adding servers (+, folder, etc)

[2017-04-04 02:29] saurabh95 commented on #13260
Did you try SFtpUpload it seems to work

[2017-04-04 07:40] himasme opened #13261 "Need Sass and Jade Auto Compiler"
Hi,
It would be more useful if you add a plugin or feature to compile Sass and Jade automatically like Atom.io has!
I tried to find a plugin for it but It wasn't available!
Thanks!

[2017-04-04 13:53] petetnt commented on #13261
Hi @himasme,

https://github.com/jasonsanjose/brackets-sass should work for SCSS files. There doesn't seem to be a `jade` compiler extension though, sadly.

[2017-04-04 21:03] lkcampbell opened #13264 "Setting saveFoldStates preference to false breaks code folding"
**OS:** MacS 10.12.3 Sierra

**Brackets Version:** Release 1.9 build 1.9.0-17312 (release 189f6d39a)

**Repro  Steps:**
1. Add the line `"code-folding.saveFoldStates": false` to the brackets.json preference file.
1. Reload Brackets

**Observed Results:**
Code folding stops working. Error messages in the Dev Console:
[code]
**Expected Results:**
Code folding should continue to work normally. No err

[2017-04-04 21:06] lkcampbell commented on #12444
@thehogfather, I'm having this problem as well, so I tried setting `code-folding.saveFoldStates` to `false` and I ran into issue #13264 that I just filed.

[2017-04-05 06:03] nethip commented on #13189
@Blackweda Apologies for the late reply. And thanks for investigating this issue.

AFAIK The change I had done was for MAC only. Commits made by @larz0 @peterflynn should be a good starting point to fix this issue. You could remove the gray scale antialiasing in 0f0d60e 9e04009 ,  to see if you are able to see the issue go away. Historically, if I recall correctly, we switched to using gray scale

[2017-04-05 08:07] RationalCoding opened #13267 "ProjectManager.createNewItem ignores isFolder argument if skipRename is true"
### Description

`ProjectManager.createNewItem('/path', 'name', false, true)` successfully creates a directory without skipping renaming.

`ProjectManager.createNewItem('/path', 'name', true, true)` will skip renaming, but creates a file even though isFolder is true.

### Steps to Reproduce

**Expected behavior:** A folder is created when isFolder is true, regardless of skipRename.

**Actual behav

[2017-04-05 08:18] thehogfather commented on #13264
I can reproduce the error messages - and will look at sending a PR shortly.

[2017-04-05 20:04] RationalCoding commented on #13267
`createNewItem` is passing the `isFolder` argument:
[code]

But the definition of this method on the model has no such argument, so it's being ignored.
[code]

Should be as simple as adding the argument. Should be making a PR soon.

[2017-04-06 07:45] nerk commented on #12898
With Brackets 1.9 the problems regarding proxy configuration are fixed. From my point of view, this issue can be closed.

[2017-04-06 10:50] Worie opened #13273 "[Live preview] Pass remoteWSPort as a part of config to RemoteFunctions"
### Description

See https://github.com/adobe/brackets/pull/12949#discussion_r109300605 for details.

**Expected:** remoteWSPort is part of config object passed from RemoteAgent.js to RemoteFunctions.js

**Actual:** It is a separate parameter atm.

[2017-04-06 11:03] Worie opened #13274 "[Live preview] Improve the appearance of transformed elements when showing margins/paddings"
### Steps to Reproduce

1. Enable highlighting elements in Live Preview
2. Reenable transform to custom-highlightning divs in `RemoteFunctions.js` (it is not applied atm)
2. Transform it via CSS, ex. `rotate:90deg`.
3. As you can see, the margin/paddings showed differ from those in Chrome DevTools

**Expected behavior:** Elements are highlighted the same way as DevTools does

**Actual behavior:**

[2017-04-06 12:57] Worie opened #13275 "[Live preview] Changing preferences in brackets.json causes the LP to close"
### Description

During implementation of https://github.com/adobe/brackets/pull/12949#pullrequestreview-10240534 i've created a piece of code that'd allow the user to change the `livedev.remoteHighlight` without breaking the Live Preview session (so that user can experiment easier with customization of remoteHighlight).

Meanwhile, changes made in https://github.com/adobe/brackets/commit/d6ae9068

[2017-04-06 13:03] Worie opened #13276 "[Live Preview] Make customization of livedev.remoteHighlight easier"
### Description

When user wants to set custom styles to remoteHighlight, he needs to provide whole config for it for make it work, lets say:

[code]
Lets say that, If user provides only

[code]

The remoteHighlight will break and user will no longer see margins/paddings. In other words, user must either specific the whole config or remove it completely from `brackets.json`.

This would probably r

[2017-04-06 15:40] naher94 opened #13277 "Feature Request (Lock a File to a View)"
It would be great to have a feature where in split view where if you always wanted one file to stay open on the right then even when the right pane is active selecting a file from the file tree would open in the left section rather then the last active pane.

[2017-04-06 18:40] ficristo commented on #12898
@nerk glad to know.
Closing

[2017-04-06 18:40] #12898 closed

[2017-04-07 00:53] lkcampbell commented on #13264
@thehogfather, confirmed that the fix works. Thanks for jumping on this so quick, Patrick :).

Closing as fixed.

[2017-04-07 00:53] #13264 closed

[2017-04-07 01:12] lkcampbell commented on #12444
@didiraja if you are running a development build of Brackets, @thehogfather just fixed the problem with `saveFoldStates`. Update your build and try setting it to `false` now and see how it works.

If not, should be fixed in next release.

As for me, it fixes everything.

@thehogfather I have a solid repro of the code folding performance problem, I will file the bug this weekend. I don't really nee

[2017-04-07 06:23] thehogfather commented on #12444
@lkcampbell agreed.

[2017-04-07 06:25] thehogfather commented on #13264
no problem. glad i could help.

[2017-04-07 07:03] sashabeep opened #13278 "Live preview crashing with compass.app"
I'm using compass.app and compiling on-the-fly.

After saving SASS style sheet and compile live preview crashing and chrome showing 404.
Or live preview loads just html page without 127.0.0.1 server, without styles etc.

[2017-04-07 12:36] ghouljd opened #13280 "Many application windows are launched at OS start"
### Prerequisites

* [ y] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ y] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [y ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets

[2017-04-07 13:13] ConduciveMammal opened #13281 "Can't change default languages for double-barrelled extensions "*.js.liquid" etc."
### Prerequisites

* [X] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [X] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [X] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-04-07 13:21] lkcampbell opened #13282 "Navigating between large, code folded files causes performance problems"
**OS:** MacS 10.12.3 Sierra and Windows 10

**Brackets Version:** Release 1.9 build 1.9.0-17312 (release 189f6d39a)

**Repro  Steps:**
1. Make sure `code-folding.enabled` preference is set to `true`.
1. Make sure `code-folding.saveFoldStates` preference is set to `true`.
1. Set `code-folding.maxFoldLevel` preference to a high number like `100`. Collapse all should really be collapsing *all* folds.

[2017-04-07 13:23] lkcampbell commented on #12444
@thehogfather filed the new performance issue #13282.

[2017-04-07 20:29] serzone opened #13284 "Feature Request: allow moving the entire files panel on the right."
Allow moving the working files panel and the current folder file tree to the right.

[2017-04-08 11:25] theel0ja commented on #12282
Same problem here with Ubuntu 16.04

[code]

[2017-04-09 05:47] codingForFood opened #13286 "Selected text that has bg color"
I'm using version 1.9
I added this to change the background color of my php code.
.cm-m-clike, .cm-meta {background: #e9e9e9;}
Which works but I can't see my text selection anymore.
How can I change the selected text background color for those classes?
![brackets1](https://cloud.githubusercontent.com/assets/27122964/24835124/ccd92f0e-1d2a-11e7-91bc-02da786f7e59.jpg)

I can't find any other place t

[2017-04-09 07:01] saurabh95 commented on #13286
Try this
`.CodeMirror .CodeMirror-selected {
    background-color: #e9e9e9;
}`

[2017-04-09 07:31] codingForFood commented on #13286
That changes all selected text to the same background as my php background color.  But I am still not able to see what I am selecting in php.

[2017-04-09 09:36] gidsg opened #13287 "OSX Characters Viewer shortcut (Control–Command–Space bar) does not work in Brackets"
### Description
The OSX keyboard shortcut for [Characters Viewer](https://support.apple.com/en-gb/HT201586) does not work within the Brackets editor.

### Steps to Reproduce

1. Open Brackets
2. Place cursor in editor pane
3. Press <kbd>Control</kbd><kbd>Command</kbd><kbd>Space bar</kbd>

**Expected behavior:** [What you expected to happen]
Characters Viewer opens (as in other applications e.g. Te

[2017-04-09 12:53] ficristo commented on #13165
Closed by #13198

[2017-04-09 12:53] #13165 closed

[2017-04-09 17:49] asadrahman opened #13289 "help with live preview"
Hey, i was following The coding train guide for P5.JS and it was all going perfectly.

my problem is that when i go to live preview, it opens a new tab in google chrome but nothing is displayed.  even the most simple code.

for example :

![image](https://cloud.githubusercontent.com/assets/27152070/24839330/d72b6204-1d4f-11e7-83ae-3c14c4deb755.png)

this should just open up a normal screen with a

[2017-04-09 17:49] asadrahman commented on #13289
i just noticed it keeps opening http://127.0.0.1:51528/index.html ( index.html ) looks like its the problem, how do i change it from that to be the actual file i wanna open (projects)

[2017-04-09 18:41] lkcampbell commented on #13282
Pinging @thehogfather, wanted to make sure you saw this issue, Patrick.

[2017-04-09 18:44] thehogfather commented on #13282
@lkcampbell got it 👍 .

[2017-04-09 18:47] lkcampbell commented on #13267
@RationalCoding sounds good to me.

You supply the PR and we will review.

[2017-04-09 18:49] lkcampbell commented on #13282
@thehogfather let me know if you need help. I am curious if my theory is correct. Either way, let me know.

[2017-04-09 21:39] thehogfather commented on #13282
@lkcampbell your theory is in the right direction - but we could nail it down better. The problem is not actually with the routine for saving fold states. The issue occurs when we attempt to restore the saved fold states for the editor gaining focus.

Here is a quick overview of what I have found so far.
When the active editor changes, the fold states for the editor losing focus are saved while th

[2017-04-09 23:12] humphd opened #13290 "Consider using eslint + prettier"
In our Mozilla fork, we're [thinking to move to using prettier via eslint](https://github.com/mozilla/brackets/pull/703) to autoformat the code.  I'm working with lots of new contributors, and trying to get them to style commits properly is a losing battle.  I'm of the mind that doing this with tooling is the better way going forward.

Before we do it, I thought I'd see if you had interest here fi

[2017-04-10 00:10] kneeki opened #13291 "Using Operator Font"
### Description

Using any of the the (.otf) [Operator Font](https://www.typography.com/blog/introducing-operator) Italic versions causes Brackets to revert to what I assume is Arial. Any of the 'standard' Operator fonts work fine (Light, Medium, Book, Bold, ect).

Without Italic
![Without Italic](http://i.imgur.com/fkvkvDc.png)

With Italic
![With Italic](http://i.imgur.com/Mnzvhwe.png)

### Step

[2017-04-10 03:59] williampmills opened #13292 "Feature Request: Semantic-UI shortcode"
Would like to see the ability to use Semantic-UI shortcodes within the editing window.

For Example:
Instead of <div class="ui button"></div>, writing: .ui.button, would expand to the full code upon pressing the trailing space.

I've seen it working on Sublime Text, but I use Debian 9, with Brackets build 1.9.0-17312, which I prefer greatly.

[2017-04-10 04:03] williampmills commented on #13292
I found this extension for Sublime Text, which does the very thing I've requested. Not sure how to port it across though.

https://github.com/idleberg/sublime-semantic-ui

[2017-04-10 05:24] swmitra commented on #13205
Closing this as fixed by #13279 and available as part of 1.10 pre-release 1 build https://github.com/adobe/brackets/releases/tag/release-1.10-prerelease-1

[2017-04-10 05:24] #13205 closed

[2017-04-10 05:25] swmitra commented on #13221
Closing this as fixed by #13279 and available as part of 1.10 pre-release 1 build https://github.com/adobe/brackets/releases/tag/release-1.10-prerelease-1

[2017-04-10 05:25] #13221 closed

[2017-04-10 05:26] swmitra commented on #13240
Closing this as fixed by #13279 and available as part of 1.10 pre-release 1 build https://github.com/adobe/brackets/releases/tag/release-1.10-prerelease-1

[2017-04-10 05:26] #13240 closed

[2017-04-10 07:06] codingForFood commented on #13286
I was able to solve this problem by making the php code background color slightly transparent.

[2017-04-10 08:12] mrbodich opened #13294 "Command + E (Fast Edit) is not working correct."
Hi. I updated Brackets to 1.9 and now combination Command + E (Fast Edit) is not working correct. In JavaScript it opens function as always first time. Then I press Command + E again to hide. That popup area is hiding 2 times at once fast (hide-show-hide). And then Command + E does not work any more till I open another file and then back to target file. After that Command + E works only once again

[2017-04-10 09:30] #13274 closed

[2017-04-10 10:30] onnlinetool commented on #10548
Downloaden Downloaden Downloaden Downloaden Downloaden Downloaden Downloaden

Downloaden =========>>>>>>>>>> http://bit.ly/2oiWvqi

Downloaden =========>>>>>>>>>> http://bit.ly/2oiWvqi

Downloaden =========>>>>>>>>>> http://bit.ly/2oiWvqi

Downloaden =========>>>>>>>>>> http://bit.ly/2oiWvqi

Downloaden =========>>>>>>>>>> http://bit.ly/2oiWvqi

Downloaden =========>>>>>>>>>> http://bit.ly/2oiWvqi

[2017-04-10 11:04] petetnt commented on #13290
Actually we have already switched to `eslint` to long while back and I wouldn't have any issues myself to use `prettier` in combination too.

[2017-04-10 16:45] haslam22 commented on #13281
I can't reproduce. Tried mapping `*.scss.liquid` and `*.js.liquid` to `scss` and `javascript` as default, reloaded, and both files with those extensions open in `scss`/`javascript` mode as expected.

Your preferences also seem wrong, put both mappings under `languages.fileExtensions` instead:

[code]

[2017-04-10 18:28] ajaybommasani opened #13298 "MageFan - how to edit item.phtml in template lists"
I tried to edit, but the changes not reflecting in frontend

[2017-04-10 18:41] ficristo commented on #13291
So you want to see your code in italic?
I reminds me something like https://github.com/adobe/brackets/issues/12860

[2017-04-10 18:43] ficristo commented on #13284
I don't think this will happen anytime soon...
Maybe an extension can help, marking as such.

[2017-04-10 19:14] kneeki commented on #13291
Well, it's not really in italic. Here's what the end result should appear as:

![operator italic](http://i.imgur.com/UQFYbj4.png)

[2017-04-11 01:39] mcdappdev opened #13299 "Quick Edit custom path"
### Prerequisites

* [X] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [X] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [X] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-04-11 09:55] Samuel91 commented on #12662
Same issue here!

[2017-04-11 12:19] klarkc commented on #12539
Oh, I just installed Brackets... And uninstalled.

[2017-04-11 20:26] #13206 closed

[2017-04-11 23:30] lkcampbell commented on #13282
@thehogfather that's an *impressive* improvement with your patch. I will probably have more time to look into this Friday and this weekend. I will see if I can find an answer to your Brackets API question then as well.

[2017-04-12 09:31] keblowdev opened #13300 "Drag and drop class property lines in css or scss files"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

When editing a scss or css file if I try to drag and drop specific text (i.e. property

[2017-04-12 15:34] muba00 commented on #13253
It's not health report:
[https://i.imgur.com/P32YHxI.jpg](url)

[2017-04-12 17:18] redmunds commented on #13253
Try _Debug > Reload Without Extensions_ to determine if it still happens or not when no extensions are loaded.

[2017-04-12 19:05] ZeoNish opened #13301 "How to use Laravel IDE Helper in your projects?"
How to use Laravel IDE Helper in your projects? https://github.com/barryvdh/laravel-ide-helper

[2017-04-12 19:36] mydesireiscoma commented on #12539
Just installed brackets to work with PSD on Linux
And uninstalled
Adobe **hates** Linux

IMHO:
Dreamweaver sucks
Brackets without Extract sucks
Photoshop just for get color and size - sucks

[2017-04-12 19:42] ZeoNish commented on #13301
http://prntscr.com/evouno

[2017-04-12 19:56] LKona commented on #11333
I can still reproduce this issue. I am using Release 1.10 development build 1.10.0-0 (master 04428819f) on a Mac.

[2017-04-12 20:11] Blackweda commented on #13189
I think I made the necessary changes, I just need to test it out. Will make a PR tonight so we can hopefully close this issue :)

[2017-04-12 23:14] lkcampbell commented on #7637
I'm closing this issue as resolved by documentation per @redmunds comment above.

[2017-04-12 23:14] #7637 closed

[2017-04-13 03:58] jCalderon80 commented on #12539
I uninstalled brackets too, instead I'm using netbeans or visual studio code... since I still can use extract on the web then no need to keep brackets.

[2017-04-13 13:59] humphd commented on #13290
@dsych is starting this work in https://github.com/mozilla/brackets/pull/703.  I made a compare branch to show the effect of running `grunt eslint` using `prettier` to fix problems.  There are some things here that need to be adjusted (e.g., 4-spaces vs. 2, fix javadoc style comment blocks, etc) but everything is configurable.  Feel free to chime in with any suggestions on how the configuration sh

[2017-04-13 16:02] mkoo commented on #12570
(noting for reference) Manual disabling of extensions works with the same freezing up issue on later versions of Brackets v1.9

[2017-04-14 05:33] ZeoNish commented on #13301
Hello?

[2017-04-14 09:24] teuk1 commented on #10812
Doesn't seem working with comments starting by //

[2017-04-14 14:00] sldobri commented on #13291
you need add the font name like:
OperatorMono-Book
OperatorMono-Light
OperatorMono-Medium

[2017-04-15 00:19] kneeki commented on #13291
@sldobri That doesn't work either.

[2017-04-15 03:14] conner-m opened #13303 "Feature Suggestion"
Built-in local PHP server/support for live preview

Windows 10 - Brackets 1.9

[2017-04-15 03:16] conner-m commented on #13303
Already suggested.

[2017-04-15 03:16] #13303 closed

[2017-04-15 03:18] conner-m commented on #13247
I'd love to have this as well.

Live Preview support for PHP, built-in, would be very nice.

Upvote 👍

[2017-04-15 09:27] gthibaud opened #13304 "How to change font in theme ?"
Hi,
I'm working on a Theme for Brackets, and I want to use a custom font instead of the default Brackets font.
I tried to use a @font-face in the theme.less file, but it seem to not working...
`@font-face {
        font-family: 'myfont';
        src: url(fonts/myfont.ttf) format('ttf');
        font-weight: normal;
        font-style:normal;
}

.CodeMirror, .CodeMirror-scroll {
    background-colo

[2017-04-15 09:53] saurabh95 commented on #13304
You can change `font-size` and `font-family` in preferences file.
Go to Debug->Open Preferences File. Then in the right pane in brackets.json file edit `"fonts.fontSize"` and `"fonts.fontFamily"`

[2017-04-15 10:00] saurabh95 commented on #13304
Also are you using 1.9 version? If yes, then there are some issues related to font-size and font-family in this, so you can install a stable pre-release for 1.10 in which above issue is fixed, https://github.com/adobe/brackets/releases/tag/release-1.10-prerelease-1

[2017-04-15 11:21] gthibaud commented on #13304
Ok thank you very much !
I will download the pre-release 😊👍🏻

[2017-04-15 11:21] #13304 closed

[2017-04-15 15:50] ElecRei opened #13305 "CSS Indents removed when closing a declaration"
### Description

For a while now when working on a CSS file in Brackets whenever I open or close a declaration it removes any indentation. I've tried searching for a solution but I only find submitted issues about auto indentation and nothing about this. I turned off auto-close and also fiddled around with the preferences but nothing seems to fix this.

### Example:

So I'll type the selector:

![

[2017-04-16 12:25] lkcampbell commented on #13282
@thehogfather, I think MainViewManager.findInWorkingSet() is the Brackets API you want to use.

[2017-04-16 13:10] thehogfather commented on #13282
oh awesome I'll have a play with that.

[2017-04-16 17:12] ficristo commented on #13305
I think what you see it is the expected behaviour.
You could try to disable the `smartIndent` option in the preferences, maybe only for CSS like this:
[code]

[2017-04-16 17:16] ficristo commented on #13291
Looking around, I don't think your use case is supported by default.
You could create a [new theme](https://github.com/adobe/brackets/wiki/Creating-Themes) and apply the italic style to the classes you expect to be in italic.

[2017-04-16 17:16] #13291 closed

[2017-04-16 18:09] #13286 closed

[2017-04-16 18:10] ficristo commented on #13258
Do you have the same of https://github.com/adobe/brackets/issues/13305 ?

[2017-04-16 19:48] kneeki commented on #13291
@ficristo That was exactly the problem! I modified my current theme and added `font-style: italic;` to one of the css selectors and it's working as expected.

[2017-04-16 23:27] thehogfather commented on #13282
@lkcampbell After tinkering with `MainViewManager.findInAllWorkingSets` I decided it was not quite right for this use case.  For instance when Brackets is opened, it may already contain a list of files in the working set from a prior session (even before any user interaction). Hence presence in the working set does not necessarily mean the fold gutters and states have been initialised/restored for

[2017-04-17 06:48] tweakimp opened #13306 "Drag and Drop is only supported for the open files tab, not for the file overview"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [X] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [X] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

While it is possible to drag and drop files in the open files tab, it is not possible

[2017-04-17 14:45] Doremiska opened #13307 "How to disable the reverse inspect ?"
Hi, I'm starting to get bothered by the new feature "reverse inspect", it's moving me in my code and I spend time always to come back where I was and I didn't find any way to disable this feature. Can you please let me know if there is a way to disable this feature ?

[2017-04-17 15:12] swmitra commented on #13307
We don't have a dedicated preference for this, but setting 'livedev.wsport' to null should do the trick as websocket for reverse inspect won't be created in that case.

[2017-04-17 15:14] swmitra commented on #13307
Just realized it might not work. Let us work on this to expose a preference.

[2017-04-17 15:41] galban commented on #12984
very sad

Hope extract as soon as possible return i need brackets extract

[2017-04-17 15:43] galban commented on #12539
very sad

Hope extract as soon as possible return please

[2017-04-17 16:52] Shawn58 opened #13308 "Why wont my css. link to my html it never shows up in the live preview?"
`<DOCTYPE Html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width+device-width">
<meta name= "description" content="Affordable and Professional web design">
<meta name="keywords" content= " web design, affordable web design, profrofessional web design">
<meta name="author" content="Shawn Crawford">
<title> AcmeWeb Design | Welcome</title>
<link rel="stylesheet" href ="./css

[2017-04-17 17:33] saurabh95 commented on #11625
Now we have upgraded the server and we haven't had any outage in the last 2 months, so I am closing this issue.

[2017-04-17 17:33] #11625 closed

[2017-04-17 19:11] jCalderon80 commented on #12539
Don't think they'll bring it back, they want to push Dreamweaver

[2017-04-17 22:02] petetnt commented on #13308
Hi @Shawn58,

can you paste the `style.css` file too and show your folder structure?

When opening the Live Preview, can you see any errors in the Developer Tools (Debug -> Show Developer Tools -> Console)?

[2017-04-18 04:01] aloha1003 opened #13309 "I can not found Extract for Brackets (Preview)"
I install Bractkets  version 1.9
But I don't see Extract for Brackets (Preview) on right sidebar
How can I fix it ?

[2017-04-18 06:45] petetnt commented on #13309
Hi @aloha1003,

sadly the Extract For Brackets service was discontinued: http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/?lang=en

Like the blog post says, the feature is available in Dreamweaver CC now, if that helps.

Sorry for the inconvenience.

[2017-04-18 10:55] lkcampbell commented on #13282
@thehogfather, okay, it *looked* like the right API from the documentation. There has to be a way to  tell if a file is in the current working set somewhere, but let's not let it block getting this bug fixed. I will take a look at your fix soon, thanks.

[2017-04-18 12:57] thehogfather commented on #13282
@lkcampbell the initial fault in framing the problem is mine as I assumed that the presence of a file in the working set implies that the Editor fold gutters would have been initialised. This is not always the case. Specifically when Brackets is closed and re-launched, files are added to the working set based on settings saved from the previous session. I believe this is largely because code foldi

[2017-04-18 15:42] #13229 closed

[2017-04-18 18:39] Shawn58 commented on #13308
body
{font: 15px/1.5 Arial, Helvetica, sans-serif;
padding:0;
margin:0;
background-color: #f4f4f4;
}
/* Global */
.container{
width:80%;
margin: auto;
overflow:hidden;
}
u1{
margin: 0;
padding:0;
}
.button_1{
height:35px;
background:#e8491d;
border:0
padding-left:20px;
padding-right:20px;
color:#ffffff;
}
/* Header **/
header{background:#35424a
color:#ffffff;
padding-top:30px;
min-height:70px:
bor

[2017-04-18 18:46] Shawn58 commented on #13308
![image](https://cloud.githubusercontent.com/assets/27468422/25147512/c53e7fc0-2445-11e7-801b-3f9456907d94.png)

[2017-04-18 21:27] redmunds commented on #13308
You're still in the "Getting Started" folder. Use _File > Open Folder..._ to switch to the folder that contains your project files.

You can find more info about using Live Preview here:
* https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#live-preview
* https://github.com/adobe/brackets/wiki/Troubleshooting#livedev

[2017-04-18 22:08] mallman commented on #9130
I would like to add my perspective here.

The main issue that's frustrating for me is there doesn't seem to be a way to cut/copy a block of text without codemirror adding an extra newline at the end. This is especially frustrating when I'm trying to paste multiple copies of a single line. I end up having to go back and manually delete an empty line for every paste I performed. Personally, I've nev

[2017-04-18 22:14] mallman commented on #9130
Sorry, this seems to be a Safari-only bug: #2900. Guess what browser I'm using? *sigh*

[2017-04-18 23:59] woaspam commented on #13251
Sorry it took so long to respond -- knee-deep in family matters. Yes, I
have a BS in IT --- the first thing I did was run as administrator.
Still no-go. I guess I could serach and find every entry in registry
with regedit yet it would take some time -- something I don't have right
now. Any other suggestions?

Thanks

Bette

On 3/31/2017 8:08 AM, Saurabh Kathpalia wrote:

--
  Inside every older pe

[2017-04-19 01:10] LKona commented on #10561
The present behavior is that '/' is being replaced with ":". So in Brackets Working Files view, 'NNN/' becomes 'NNN:' and 'abc/1234' becomes 'abc:1234'. Is this the expected behavior?

[2017-04-19 05:33] #9608 closed

[2017-04-19 07:21] Shawn58 commented on #13308
Nah i think your talking about the index file thats not my project lol my projects is the working files the index file is the original file they provide when you download the program

[2017-04-19 09:41] mydesireiscoma commented on #12539
Dreamweaver sucks

[2017-04-19 10:06] luison opened #13311 "Can't install on WIndows 10 with error "must be on local hard drive""
### Description
Error installing to new installation of Windows 10.
Any destination I choose on my system disk (C:) fails with the attached error.
![brackets](https://cloud.githubusercontent.com/assets/745632/25174614/38314b5e-24f8-11e7-8829-30565feadf37.png)

### Steps to Reproduce

1. Download 1.9 msi installation. Tried moving the installer to C: as well.
2. Install (administrative privileges o

[2017-04-19 13:46] KwrKy commented on #12160
Just bumping this thread because I experienced the same issue for the first time today.
Using an iMac, latest macOS, Brackets and Chrome.

[2017-04-19 15:16] redmunds commented on #13308
@Shawn58 Trust me on this one :)

[2017-04-19 15:29] petetnt commented on #13308
@Shawn58 The Live Preview depends on the Project folder like @redmunds says, so you need to open the folder `C:/users/shawn/Desktop/Final Website/coding` in the Project dropdown. (If it still doesn't work, you might also need to rename the file to `index.html` to it to work properly).

[2017-04-19 16:14] swmitra commented on #12160
This issue still exist but in a particular workflow.  If you paste a chunk of markup in the source or do a select all and replace the whole markup this happens. Haven't exactly pin pointed the issue yet but looks like a bulk mutation is causing the instrumented code to append the nodes again. I will have a look at it sometime this week.

[2017-04-19 17:20] Shawn58 commented on #13308
I think i tried to rename it to index.html once but got the same result but i'll try again

[2017-04-19 18:08] petetnt commented on #13308
Hi @Shawn58,

highlighted the Project dropdown as it's not entirely obvious for new users:

![image](https://cloud.githubusercontent.com/assets/7641760/25194723/02b26412-2544-11e7-844c-73a3af537bd6.png)

Clicking there open a dropdown, select `Open Folder` and navigate to the `C:/users/shawn/Desktop/Final Website/coding` folder. Live Preview should now work.

![image](https://cloud.githubuserconte

[2017-04-19 18:11] ficristo opened #13312 "Cannot upload an extension to the registry"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-04-19 19:34] Shawn58 commented on #13308
man its still not working lol wtf its driving me crazy im working on a
really interesting project and this holding me up lol im going to just keep
asking man around the internet lol i'll try to post more on git hub too
until someone tells me what the issue is or i find out what the issue is
thanks man i'll post im at the library now lol its the only way i can get
internet access right now

On Wed,

[2017-04-19 19:50] Shawn58 commented on #13308
man its really bothering me lol i need some answers is there anyone out there that can help

[2017-04-19 19:51] petetnt commented on #13308
Can you open the developer tools (Debug -> Show Developer Tools -> Console) and see if there are any errors after you press the live preview button ( ⚡️ )

[2017-04-19 19:59] Shawn58 commented on #13308
lets see i'll try but if nothing works im going to suspect its my browsers my computer or something im thinking of moving all my important files to my second harddrive on my laptop and restoring lol this shit is driving me mad so im going to try that if nothing works

[2017-04-19 20:01] Shawn58 commented on #13308
![image](https://cloud.githubusercontent.com/assets/27468422/25199622/70a221ae-2519-11e7-826d-bacc3bf74391.png)

[2017-04-19 20:02] Shawn58 commented on #13308
![image](https://cloud.githubusercontent.com/assets/27468422/25199652/8492b76e-2519-11e7-9bfd-f2d7faaf630a.png)

[2017-04-19 20:02] Shawn58 commented on #13308
ok it looks like some errors are there thinks for getting me this far now just have to find out what these errors mean lol

[2017-04-19 20:03] Shawn58 commented on #13308
well im going to take a short break from brackets lmfao its driving me crazy lol but i wont give up

[2017-04-19 20:04] petetnt commented on #13308
The error in there seems to point out that you are still in the `Getting Started` folder, check out https://github.com/adobe/brackets/issues/13308#issuecomment-295371985 for instructions on how to open the correct folder 👍

[2017-04-19 20:06] Shawn58 commented on #13308
oh well i wasnt there at first i just started moving shit around too much lmao because i litterally was trying everything but i'll look at what was said again in the previous comment

[2017-04-19 20:12] Shawn58 commented on #13308
ok man im not going to lie i need some guidance here lol im tired and lazy right now and my head hurts and im new to this but how should i mive them exactly i once moved them to the get started folder on pirpose because i thought that would work lol so can i just move them back idk man what would you do i dont want screw anything up lol

[2017-04-19 20:14] Shawn58 commented on #13308
i need some serious guidance and a break from this madness lol then i'll be ok just was pissed that i watched so many youtube videos and did so much work and is getting no where lol

[2017-04-19 20:19] petetnt commented on #13308
I understand your frustration. Oh now I see from the screenshots that your CSS file is actually called `rough draft website.css` instead of `style.css`? Rename that to `style.css`, and it should be in the `css` folder in your project to match what you have in the HTML file.

The steps needed (altogether) are:

1. You have the correct project open (C:/users/shawn/Desktop/Final Website/coding)
2. Th

[2017-04-19 20:24] WiIdcard opened #13313 "No support for emdash (—) in brackets."
### Description

When trying to use the emdash character as part of a javascript file, I noticed brackets does not support it.

### Steps to Reproduce

1. Create a new HTML file and insert the following code
`<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script><div id="element"> &mdash; </div> <script> console.log($("#element").text() == "—") </script>`
2. Open the HTML file in a br

[2017-04-19 22:04] petetnt commented on #13313
Hi @WiIdcard,

could not replicate this with Windows 10 myself.

The sample code I used was:

[code]

[2017-04-19 22:09] WiIdcard commented on #13313
Hi @petetnt,

I used your code snippet and it still alerted false. No idea what is causing this issue...

[2017-04-20 08:24] An4ikD commented on #13294
Hello,
I have reproduced this error and would like to take this issue. I've already looked at the code and the reason of this error is in the function closeInlineWidget() when it tries to set the cursor position.

[2017-04-20 08:34] mrbodich commented on #13294
Can you reply please when build that including fix will be available for download? Thank you!

[2017-04-20 08:35] An4ikD commented on #13294
Yes, sure.

[2017-04-20 09:35] Dijkstra1 opened #13314 "Cant be installed on micro sd card"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-04-20 15:50] Shawn58 commented on #13308
![preview 1](https://cloud.githubusercontent.com/assets/27468422/25239816/27c36686-25bf-11e7-9f50-7b68b642551a.png)
![preview 2](https://cloud.githubusercontent.com/assets/27468422/25239821/2c9f62ae-25bf-11e7-9e5d-9bb43d0af3d9.png)
![preview part 3](https://cloud.githubusercontent.com/assets/27468422/25239830/32a59fec-25bf-11e7-8efe-5c20302ff3e1.png)
![preview part 4](https://cloud.githubuserconte

[2017-04-20 16:04] Shawn58 opened #13315 "css wont link to html"
![preview 1](https://cloud.githubusercontent.com/assets/27468422/25240632/57e4ce2a-25c1-11e7-85bf-14aea3486b1b.png)
![preview 2](https://cloud.githubusercontent.com/assets/27468422/25240636/59c5099e-25c1-11e7-9054-2ef3e585d743.png)
![preview part 3](https://cloud.githubusercontent.com/assets/27468422/25240647/5e12e3c2-25c1-11e7-8db3-f2f923ca5dd2.png)
![preview part 4](https://cloud.githubuserconte

[2017-04-20 16:23] swmitra commented on #13315
'style.css' doesn't exist in your current project root.  Looking at the first image, I could see 'chat style.css' . Either change the link red to this file or rename the physical file.

[2017-04-20 16:24] Shawn58 commented on #13315
ok thanks im new to this tho lol how am i supposed to do that try to simplify it as best as you can please man thanks for the response tho i really appreciate it lol

[2017-04-20 16:30] redmunds commented on #13315
@Shawn58 Brackets features such as Live Preview and Find in Files work based on the current "project".

I can see from your screenshots that you are still in the Getting Started project. You need to change to _your_ project.

A "project" in Brackets is simply a folder that contains your files.

Yes, Brackets will allow you to open and edit files outside of your "project". They show up in your Work

[2017-04-20 17:49] Shawn58 commented on #13315
ok i fixed it thanks guys lol i was going crazy

[2017-04-20 17:50] Shawn58 commented on #13315
![image](https://cloud.githubusercontent.com/assets/27468422/25244823/3b680780-25d0-11e7-8685-94d8382b77ae.png)

[2017-04-20 17:51] Shawn58 commented on #13315
![image](https://cloud.githubusercontent.com/assets/27468422/25244849/56b6c0da-25d0-11e7-8e95-f091d45d5d3e.png) lol i got the login page to work lol thanks alot

[2017-04-20 18:26] ficristo opened #13316 "Add a padding after / before a comment marker"
Similar to the padding option of CodeMirror of its [comment addon](https://codemirror.net/doc/manual.html#addon_comment)
I would like to see this option on by default.

/cc @redmunds

Empty lines:
[code]
If `indentLineComment` is false what to do?
[code]

Block comments on single line, add padding
[code]
Block comments on multiple lines, no padding
[code]

Other cases?

[2017-04-20 19:05] redmunds commented on #13316
@ficristo My current project gives an ESLint error if comments are not padded, so this would be a nice addition for me!

The tricky part of adding padding is that it is correctly restored to previous state when comment is removed. As long as this is handled well then I'm all for it.

In general, I think padding should also be added.

[2017-04-20 20:27] ElecRei commented on #13305
Thanks for the reply, that fix worked.

[2017-04-20 20:27] #13305 closed

[2017-04-21 00:52] Shawn58 commented on #13315
Ok man i might need a little more assitance lmao my background imgage doesnt show up lol why is this happening

[2017-04-21 02:36] QL568A6 opened #13317 "Brackets Feature Suggestion - Stop opening recent files on start"
I find Brackets' insistence upon opening the most recently opened files very annoying, as I work on projects over long periods of time with many different files from other projects accessed in between and from various storage media that may or may not be mounted. I would like to see a setting to disable this because far too often when I open Brackets I get a dialogue box telling me that it can't f

[2017-04-21 08:23] luison commented on #13311
Just found a workaround as this has something to do with Windows and that kind of installer and it seems to be running around for years (tipical windows). Same issue and solution as:

https://github.com/adobe/brackets/issues/2407

Installing via an administrative cmd and "msiexec /i "

[2017-04-21 10:17] Madebym opened #13319 "Support for CSS Custom Properties"
From what I see Brackets are not aware of CSS Custom Properties a.k.a. CSS Variables.

It would be nice to have built-in suppport for them(or maybe via an extension). And if it could show variable's value after it resolves it(at least for color), that would be awesome. I am thinking of some small popup for that or similar.

CSS custom properties are here(Edge has support now) and more and more peo

[2017-04-21 12:08] Blackweda commented on #12558
is this worth changing? (asking the moderators)

[2017-04-21 13:15] Blackweda commented on #11814
Took care of it.

[2017-04-21 14:52] redmunds commented on #13317
@QL568A6 Brackets is an Open Source project, so the best way to get a new feature is with a Pull Request. :) Let us know if you'd like to take this on and need help getting started.

Brackets already has a "Close All" command, so it would be fairly easy to write a "Close All and Quit" extension.

[2017-04-21 15:19] tallesairan opened #13322 "Site bug download not working"
I don't know if this is the right place to report this bug, but I noticed today when you download, and a wordpress error in json

[http://prntscr.com/ez65gw](http://prntscr.com/ez65gw)

`Uncaught SyntaxError: Unexpected token
http://blog.brackets.io/feed/json?callback=jQuery211032960339032121344_1492787729067&_=1492787729068
`

[2017-04-21 18:16] ficristo commented on #13316
I looked at Sublime and noticed that the "block comment" act differently based on the language.
In javascript:
- with line comments it add the padding
- with block comments it does not

In html:
- it adds the padding in any case

I'm on the opinion to add the padding only for `Edit \ Toggle Line Comment`.
WDYT?

[2017-04-22 18:07] psingl opened #13324 "Compiling brackets"
Hi there!
I have downloaded this repo and want to compile code of this repo into a msi setup file as offered by brackets on its site. Can anybody help me?

[2017-04-22 18:17] GermanJohn opened #13325 "Disable autoclosing"
Hello everyone,

so this issue has been answered already. It's just that the solution didn't work for me for some reason.
So whenever I open a bracket, say, `<p>,` it auto-closes it. This is annoying, as I'm editing existing code for practice at the moment - I just have to erase the added `</p>.` I tried the troubleshooing outlined [here](https://github.com/adobe/brackets/issues/12066). This is wh

[2017-04-22 20:12] rexrjd opened #13326 "extension manager isn't working"
### Prerequisites

* [+] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [+] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [+] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

Cant install any extension from fancy gui, brackets thumbnail keep spinning forever. M

[2017-04-23 00:34] anephew commented on #13317
+1 for optional setting for this

[2017-04-23 06:51] xanderjara opened #13328 "failure of visualization of codigo"
Release 1.9 versión experimental 1.9.0-17312
Ubuntu 16.04
When I add <img src = "/img/foto.png" alt = ""> I do not appear in any firefox, google chrome, browser only when I open the Brackets preview terminal

[2017-04-23 07:09] saurabh95 commented on #13324
You have to clone https://github.com/adobe/brackets-shell/ also, and for msi generation steps are mentioned in this [README ](https://github.com/adobe/brackets-shell/blob/master/installer/win/README.MD)

[2017-04-23 08:38] psingl commented on #13324
Thanks @saurabh95

[2017-04-23 08:38] #13324 closed

[2017-04-23 22:03] hdezela opened #13329 "Default keybinding breaks ALT characters"
### Prerequisites

* [X] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [X] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [X] Did you read the [Troubleshooting guide]

### Description

Not really a bug per se but a bothersome feature nonetheless. I write code for several languages and have become accustomed to using ALT-codes

[2017-04-23 22:42] Shawn58 opened #13330 "creating a small social network with php please help?"
Ok so i need help with the database

[2017-04-23 22:58] Shawn58 commented on #13330
http://imgur.com/insU9o8
http://imgur.com/Ttlw8Iz
http://imgur.com/arUc9ni
http://imgur.com/XTdjJWH
http://imgur.com/7NIFbeC

Ok these are screenshots of whats going on

[2017-04-24 00:34] QL568A6 commented on #13317
Hello,

Thank you for getting back to me. Unfortunately, I have almost no
experience with writing software of any kind. My projects are mainly
HTML/CSS and the occasional SQL tidbit. The only actual programming I do is
with R and the most basic of basic Perl, which both need an IDE to be used
properly. Continuing forward, I'll be using Brackets for CSL
<http://citationstyles.org> as well.

I also

[2017-04-24 07:40] Shawn58 opened #13332 "ok so im trying to code my own social network and im running into a php syntax error i need help?"
Ok so im following a YouTube tutorial on this but i need some help please im getting a error screenshots will be provided im using xxamp. As my server phpadmin as my data base i also am running php admin on wamp lol

[2017-04-24 07:41] Shawn58 commented on #13332
http://imgur.com/R3r2Pa1
http://imgur.com/cpL5icX
http://imgur.com/ENcZ6Su
http://imgur.com/A6H7qzV
http://imgur.com/XOkknDx
http://imgur.com/Dc74EDm
http://imgur.com/Zm9pBS1
http://imgur.com/s3tgd3r
http://imgur.com/ryCcw30
Here are my screenshots

[2017-04-24 10:30] olivtv opened #13333 "Tag closing added on selfclosing HTML tags"
I think the bug came with the 1.9 version.

When I write a selfclosing tag in HTML (br, img, hr, etc.), Brackets write the closing (`</br>`).

So I get `<br></br>` instead of `<br>`.

Thanks,

_:oliv'_

_Mac OS 10.11.16 – Barcket Release 1.9 build 1.9.0-17312 (release 189f6d39a)_

[2017-04-24 16:27] praveenpuglia opened #13335 "CSS Enhancement - Add support for `flow-root` as value for `display` property"
`display: flow-root` is now a thing and I thought it would be nice to have it come up on autocompletion.

I am coming here from [here](https://github.com/atom/language-css/issues/115).

Raised a PR #13334 . Please let me know if I missed something.
Ref -
- http://caniuse.com/#feat=flow-root
- https://developer.mozilla.org/en-US/docs/Web/CSS/display

[2017-04-24 16:33] redmunds commented on #13325
@GermanJohn `closeTags` format is different. Try this:

[code]

[2017-04-24 17:24] muba00 commented on #13253
Solved, without extensions it's not using network. thanks for your help @redmunds

[2017-04-24 17:27] #13253 closed

[2017-04-24 17:34] aaronmohr opened #13336 "Files not updating automatically"
My files don't seem to be updated automatically in Brackets anymore. Whenever I externally add a new file into my code's root folder (images, JS libraries, etc.) I have to restart Brackets before I can access them within the program. Whereas before they would be immediately accessible within Brackets.

I'm currently running version 1.9.0 on Sierra, this issue only started since I updated to the mo

[2017-04-24 20:20] petetnt commented on #13335
Fixed in #13334! 👍

[2017-04-24 20:20] #13335 closed

[2017-04-24 20:21] #13169 closed

[2017-04-25 01:16] xshotD commented on #13332
I'm not trying to be rude or anything, but I don't think this is the right place for this.

[2017-04-25 01:18] xshotD commented on #13322
This bug is confirmed for me, because I downloaded, checked dev tools and the error did pop up.

[2017-04-25 03:38] Shawn58 commented on #13332
I mean then where is the right place i mean im using brackets i dont see the problem maybe someone can help

[2017-04-25 09:13] mejainankit opened #13338 "Auto-Indentation Issue : Problem With indentation of Switch Case statement, after new update it's not working fine."
### Prerequisites

* [y] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [y] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [y] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description
Auto-Indentation Issue : Problem With indentation of Switch Case statement, after new u

[2017-04-25 13:16] lkcampbell commented on #13282
@thehogfather, your change already got merged before I had a chance to look at it :). I will test it later today and update this issue appropriately.

[2017-04-25 15:29] GermanJohn commented on #13325
@redmunds
Hey, thanks. It tells me it's not valid syntax - I left the `"dontCloseTags":[ ]` and `"indentTags":[ ]` empty - do I have to specify each individual bracket I don't want closed?

[2017-04-25 16:33] redmunds commented on #13325
You only need to specify individual tags if you want to close some but not others. Try just removing those props:

[code]

[2017-04-25 18:26] GermanJohn commented on #13325
@redmunds
Still tells me it's invalid...
Is there anything else that might be the issue?

`{
    "fonts.fontSize": "12px",
    "fonts.fontFamily": "'SourceCodePro-Medium', ＭＳ ゴシック, 'MS Gothic', monospace",
    "soimon.DocumentOutliner.enabled": true,
    "closeBrackets": false,
    "closeTags": "closeTags": {
		"whenClosing": false,
		"whenOpening": false
	}

}`

[2017-04-25 20:13] redmunds commented on #13325
You have `closeTags` twice. Should be:

[code]

[2017-04-25 22:30] petetnt commented on #13338
Can replicate on the plain CodeMirror in http://codemirror.net/mode/javascript/

Testcase from MDN

[code]

[2017-04-25 22:34] xshotD commented on #13332
[Stack Overflow](https://stackoverflow.com) deals with programming help.

[2017-04-25 22:34] petetnt commented on #13338
Filed upstream at https://github.com/codemirror/CodeMirror/issues/4707

[2017-04-26 00:20] lkcampbell commented on #13282
Closing as fixed.

[2017-04-26 00:20] #13282 closed

[2017-04-26 00:29] lkcampbell commented on #12444
@didiraja, there is a second performance fix for cold folding, which will be available for version 1.10.

Since no steps were provided to reproduce this issue, I am going to assume that either using the workaround of setting `code-folding.saveFoldStates` to `false`, and/or the new performance fix, will fix your performance problems. I am closing this issue as fixed.

If this is not the case, and y

[2017-04-26 00:29] #12444 closed

[2017-04-26 00:46] lkcampbell commented on #13329
@hdezela, Brackets has the ability to customize any of the Key Bindings, so you can set the key binding for `Collapse All` to anything you want. See [User Key Bindings](https://github.com/adobe/brackets/wiki/User-Key-Bindings) for instructions on how to do this.

[2017-04-26 00:56] lkcampbell commented on #13259
@moseleyi, look up `colorHints` in the extension manager. I think that is the extension you are trying to find.

[2017-04-26 01:04] lkcampbell commented on #13182
I can't reproduce this on macOS Sierra 10.12.4.

[2017-04-26 01:11] lkcampbell commented on #13115
@Narfinas, looks like you solve this problem using customized key bindings so I am closing this issue. If that is not the case feel free to reopen so we can investigate further.

[2017-04-26 01:11] #13115 closed

[2017-04-26 02:59] swmitra commented on #13332
Closing the issue as this is not relevant to Brackets.
@Shawn58 As pointed by @xshotD, please feel free to post your questions in various tech forums where you can seek programming help if you need.

[2017-04-26 02:59] #13332 closed

[2017-04-26 06:38] petetnt commented on #13338
This have been now fixed upstream, thanks for reporting @mejainankit!

[2017-04-26 06:46] mejainankit commented on #13338
Thanks a lot @petetnt !

[2017-04-26 18:13] ficristo commented on #13336
What is the name of your project? Does it contains chars like `(` or `*` for example?

[2017-04-26 18:16] ficristo commented on #13333
Do you have modified your `closeTags` preference?
Something like this should work:
[code]

[2017-04-26 18:23] ficristo commented on #13330
Sorry but this place is to report issues about Brackets itself. Also in future, please, upload the images directly on GitHub.
I briefly looked at the screenshots and in the last one you have some trouble with the strings. You should verify to close them correctly.

[2017-04-26 18:23] #13330 closed

[2017-04-26 18:25] ficristo commented on #13328
Could you add some additional info?
It's not clear to me if you have problems with Brackets itself, the LivePreview or yuor site...

[2017-04-26 18:26] ficristo commented on #13326
Could you open the Developer Tools before opening the Extension Managere and report here if there are any issues?

[2017-04-26 18:30] ficristo commented on #13315
Sorry but this place is to report issues about Brackets itself not about the correctness of your code.

[2017-04-26 18:30] #13315 closed

[2017-04-26 18:34] ficristo commented on #13319
Are you referring about syntax highlighting? The default themes don't do a really good job here, but you could try some custom ones.
Apart syntax highlighting and previewing theyr values, were you thinking something else?

I used this snippet to look:
[code]

[2017-04-26 18:38] ficristo commented on #13311
Closing as a dupe.

[2017-04-26 18:38] #13311 closed

[2017-04-26 18:51] ficristo commented on #13139
Fixed.

[2017-04-26 18:51] #13139 closed

[2017-04-26 19:17] GermanJohn commented on #13325
@redmunds
Thanks a lot! I would've never spotted that... finally worked :)

[2017-04-26 19:17] #13325 closed

[2017-04-26 19:24] AlexParovozoff opened #13340 "Please correct the error when installing in Ubuntu"
### Description

Please correct the error when installing in Ubuntu 17.4, dependency on libgcrypt11. Ubuntu has the libgcrypt20 package installed.

[2017-04-26 20:25] #12360 closed

[2017-04-26 20:26] petetnt commented on #13340
Hi @AlexParovozoff!

Various workarounds for this issue has been listed in https://github.com/adobe/brackets/wiki/Brackets-Linux-Guide#libcrypt11-missing-dependency-in-ubuntu

Closing as duplicate of https://github.com/adobe/brackets/issues/10255

[2017-04-26 20:26] #13340 closed

[2017-04-26 20:49] redmunds commented on #13325
@GermanJohn Glad you got it work. There's a JSONLint extension that will catch errors like that.

[2017-04-26 21:39] Interned commented on #11519
- Using Version 1.9 Edition 1.9.0-17312
- Windows 8.1

Hi,

As this issue

may happen when I was opening Brackets first and then my folder from` open folder >`, etc., I just tried to  first use the right mouseclick on my folder - wich is on a USB flash drive -  to open it with Brackets.
And... it works, I mean "the Enable Experimental Live Preview" works fine.

[2017-04-27 06:46] olivtv commented on #13333
Thanks for your answer :)

The problem is not that I don't want them (the HTML self-closing tags –`<img>`,`<br>`, `<link>`, etc.) to be closed, it's they don't have to be.

Maybe my explanation wasn't that good neither was my English ;)

But your solution show me a way to correct this.
I've tested with the `<img>` tag  by editing the preferences like this 👍

[code]
But we haven't to do this in pre

[2017-04-27 07:39] ficristo commented on #13333
So you don't have closeTags defined neither in your local preferences nor in the global ones?
I should have been clearer: my point is you should not define `dontCloseTags` at all. Try to remove it from the "closeTags" object.
I switched my version of Brackets to the git release `release-1.9` and I cannot reproduce (I don't have closeTags defined).

[2017-04-27 07:54] olivtv commented on #13333
Thanks, it works fine without it :D

I've made a full clear install to see when this preference appears.

This preference is added after the first use of the "**Preferences setup UI**" extension. It had a few preferences by default including the one who causes this problem. Wasn't the case in previous versions.

Thanks a lot for your help. :)

[2017-04-27 11:40] Madebym commented on #13319
@ficristo Sorry, I wasn't clear enough. I am not talking about syntax highlighting in various themes.

I am talking more about suggesting declared variables, basically autocomplete for CSS variables.

Using your example I would like to have a dropdown list of suggested values after opening the left parenthesis in  `color: var(list of possible values)`.

VS Code has it built-in without extensions.

[2017-04-27 12:16] Yaroslavoff commented on #12589
I found the same issue. But this way not works to.

[2017-04-27 18:03] ficristo commented on #13319
Ah, makes sense.
Does VSCode show variables only present in the current file or is able to scan through your CSS files?

[2017-04-27 18:04] ficristo commented on #13333
Good job finding the culprit!
Closing as answered.

[2017-04-27 18:04] #13333 closed

[2017-04-27 18:43] Madebym commented on #13319
@ficristo  Only variables present in the current file are available. It doesn't scan other CSS files, nor it works when @import is used at the top of the current CSS file.

I think that this second option could be really useful, especially for writing modular CSS. From what I know HTTP/2 will allow for parallel requests, basically we will be able to structure our CSS the same way we do it with pre

[2017-04-27 19:27] kahon commented on #12380
Just install .deb of this site:

[](https://packages.debian.org/wheezy/amd64/libgcrypt11/download)

`sudo dpkg -i libgcrypt11_1.5.0-5+deb7u5_amd64.deb`

And then all right :).
Best!!

[2017-04-28 00:45] lkcampbell commented on #3696
This is a strange bug, don't want anyone to have to go down the CodeMirror rabbit hole.

Closing.

[2017-04-28 00:45] #3696 closed

[2017-04-28 00:50] lkcampbell commented on #8989
Closing. It works well enough as is.

[2017-04-28 00:50] #8989 closed

[2017-04-28 00:51] lkcampbell commented on #9891
This is never going to happen and I am going to rewrite the ruler extension anyway. Closing.

[2017-04-28 00:51] #9891 closed

[2017-04-28 00:52] #4822 closed

[2017-04-28 00:52] #4591 closed

[2017-04-28 00:52] lkcampbell commented on #3904
Never going to happen. Closing.

[2017-04-28 00:52] #3904 closed

[2017-04-28 00:54] lkcampbell commented on #9338
Old bug. Low priority. Closing.

[2017-04-28 00:54] #9338 closed

[2017-04-28 00:54] lkcampbell commented on #9310
Ole bug. Low priority. Closing.

[2017-04-28 00:54] #9310 closed

[2017-04-28 00:55] lkcampbell commented on #12274
Not really very important. Closing.

[2017-04-28 00:55] #12274 closed

[2017-04-28 02:42] riaanoliver opened #13341 "Adobe Sign In Error"
### Description

When I try to sign into to my adobe account to use Adobe extract I get an error message with the following message.

Error
Please report broken authorization link: invalid value for parameter client_id

### Steps to Reproduce

1. Help > Sign in to Creative Cloud

**Expected behavior:** Able to access files on creative cloud for extract.

**Actual behavior:** error message
Error
Pl

[2017-04-28 02:43] riaanoliver commented on #13341
<img width="1639" alt="screen shot 2017-04-28 at 12 24 25 pm" src="https://cloud.githubusercontent.com/assets/20329156/25512338/38f690c0-2c10-11e7-80ed-f32048be8e5c.png">

[2017-04-28 06:39] petetnt commented on #13341
Sorry @riaanoliver,

the Extract for Brackets service has been discontinued for Brackets since 1.6.  For more information, see http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/?lang=en.

The extract feature is available in Dreamweaver CC, which is now based on Brackets if that helps.

Sorry again.

[2017-04-28 06:39] #13341 closed

[2017-04-28 08:51] ElXando opened #13343 "Can no longer select returns with Ctrl-B?"
I used to be able to use multiple selections on carriage returns, which I found very helpful for dealing with lots of data. For instance, if I had a file like this:
`1
2
3
4
5`
And I wanted to wrap each number in single quotes, I could put my cursor to the end of 1, hold shift and press right, then use Ctrl-B to highlight all the returns. I would then press left once, insert a single quote, press

[2017-04-28 15:32] redmunds commented on #13343
@ElXando I'm not sure about that change in behavior, but here's another way to get a cursor on each line of a file:
1. Ctrl-A (Select All)
2. Ctrl-Alt-L (Split Selection into Lines)
3. End (change selection to cursor at end of line)

As far as shortcuts, that page shows just a subset of shortcuts. Use the Display Shortcuts extension (as described in that page) to show all shortcuts on your system,

[2017-04-30 16:48] remminator opened #13346 "Errors when opening Brackets. Cannot open files."
I'm getting weird errors when opening Brackets. I can't edit any files, either. I tried deleting brackets.json and state.json to no avail.

Here's a screenshot of one of the errors I'm getting: http://i.imgur.com/6lLHpj6.png

[2017-04-30 20:14] bertfw opened #13347 "Indentation lost on return/enter"
### Description
With the cursor positioned at the beginning of an indented line, hitting return moves the line down but removes any existing indentation. Note that by "beginning of an indented line" I mean the cursor is to the left of all indentation at the absolute start of the line. The indent can be composed of tabs or spaces and this behavior is the same. This requires re-indenting the line.

[2017-04-30 20:21] bertfw commented on #13347
I should also add, just on a lark I tried Shift+Return. This causes the line to move down with the indentation intact. I tried using a custom keymap file, but there doesn't seem to be an editor action matching this key combination. If there were, it would be possible to make this a keymap exception to replace the stock "Return" key action.

[2017-05-01 04:06] ankit9j commented on #12380
Thank you @kahon
Brackets installed now

[2017-05-01 14:08] ficristo commented on #13312
After copying the deps/brackets-extensibility inside the node_modules of brackets-registry the app started.
But uploading an extension resulted in an
"Uncaught Exception"
"Error: Cannot find module 'npm'"
Adding npm in the deps/brackets-extensibility/node_modules (through its package.json) fixed it locally.
@saurabh95 could you check https://brackets-registry.aboutweb.com/ ? Thank you.

[2017-05-01 14:11] ficristo commented on #13319
Note to self: see also https://github.com/adobe/brackets/issues/7882

[2017-05-01 14:11] saurabh95 commented on #13312
@ficristo Will try to add it.

[2017-05-01 14:21] saurabh95 commented on #13312
I ran it on my local, it seems to upload the extension, Can you share which extension are you trying to upload?

[2017-05-01 14:24] ficristo commented on #13312
You probably need to have a "dependencies" field in you package.json.
I tryed and failed to upload these:
https://github.com/ficristo/brackets-terminal-x
https://github.com/ficristo/brackets-panels-hack

[2017-05-01 14:32] saurabh95 commented on #13312
Just checked it, need to add npm as dependency, will raise a PR for it.
Thanks @ficristo for pointing it out

[2017-05-01 17:42] petetnt commented on #13346
Hi @remminator,

looks like the issue is with the [brackets-website-admin](https://github.com/Intronet/brackets-website-admin) extension. You can go to the location (`Users/YOUR_NAME/Application Support/Brackets/extensions/user`) and delete/move the extension by hand in there, after which Brackets should launch.

(Funnily enough the part that does cause the issue is [from an extension I made](http

[2017-05-01 18:39] remminator commented on #13346
Thanks a bunch, Pete! That did it :)

[2017-05-01 18:42] petetnt commented on #13346
Nice 👍 Closing as solved

[2017-05-01 18:42] #13346 closed

[2017-05-02 00:58] GreenSage commented on #13260
I'm reinstalling right now! Would be nice. :) I'll be sure to update.

[2017-05-02 01:05] BluTiger commented on #13260
I'm reinstalling right now! Would be nice. :)

It seems to connect but it's requiring me to full download the project first before it can work. I can work with this. :)

[2017-05-02 01:05] #13260 closed

[2017-05-02 13:37] edmilsonrobson commented on #13292
Interesting, but doesn't [emmet](https://emmet.io/) achieve the same functionality?

[2017-05-02 17:42] ficristo commented on #13316
I want to fix this, but not sure when... Removing myself from assignees.

[2017-05-02 17:44] ficristo commented on #13087
Closing because without an answer.

[2017-05-02 17:44] #13087 closed

[2017-05-02 17:46] ficristo commented on #13097
Assuming this is about add code hint for the location of the file, retargeting as an Extension Idea.

[2017-05-02 17:47] ficristo commented on #12073
Closing because without an answer. Feel free to reopen or open a new issue.

[2017-05-02 17:47] #12073 closed

[2017-05-02 17:48] ficristo commented on #12040
Closing because without an answer. Feel free to reopen or open a new issue.

[2017-05-02 17:48] #12040 closed

[2017-05-02 17:49] ficristo commented on #13090
Closing because without an answer.

[2017-05-02 17:49] #13090 closed

[2017-05-02 17:55] ficristo commented on #13117
I'm sorry, I completely forgot about this...
I wanted to try to reproduce with the same files as yours. So I wanted the index.html and the Stylesheet.css which are shown in the screenshot.
Were you able to solve?
I not could you try `Debug \ Reload Without Extensions`?
Also you could try the multi browser live preview.

[2017-05-03 01:55] bertfw commented on #13347
I tried this on a Windows 10 box and on there it works as expected. So maybe this is a macOS specific problem?

[2017-05-03 06:24] #7236 closed

[2017-05-03 06:42] hatehatersclub opened #13348 "Statement"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-05-03 12:19] rmmc opened #13349 "Fullscreen mode on second monitor is bugged after windows creator update"
### Description

After Windows Creator update, when drag brackets to a second monitor, it will not go on fullscreen mode and layout (UI) has a strange behavior

### Steps to Reproduce

1. Open brackets
2. Drag to second monitor
3. Try Fullscreen mode

**Expected behavior:** Fullscreen on entire screen

**Actual behavior:** Broken layout
http://imgur.com/S5Bxfyg

### Versions

OS: Windows 10 Home E

[2017-05-03 13:24] Nihilivin opened #13350 "PHP arrays are not indented correctly"
### Description / Steps to Reproduce

Simply declare an array in PHP mode. Either using auto indentation plugins  or by pressing enter, the indentation is not correct after the newline

**Expected behavior:** [What you expected to happen]
[code]

**Actual behavior:** [What actually happened]
[code]

### Infos

There is no error, and the problem is still present without any extension
This is probab

[2017-05-03 13:35] #13348 closed

[2017-05-04 04:21] mgraves9803 commented on #13340
you can also go here: https://fourthfruit.github.io/fixes/

[2017-05-04 07:50] hee-develop opened #13351 "Cannot change font"
### Prerequisites

* [O] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [O] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [O] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-05-04 08:37] AntonioDeCasper commented on #13307
Same problem here. I want to disable this feature but i can't...

[2017-05-04 17:33] petetnt commented on #13350
Hi @Nihilivin,

Couldn't replicate myself on Windows 10, `1.10 development build 1.10.0-0` nor CodeMirrors PHP mode test page (http://codemirror.net/mode/php/).

Could you try updating to Brackets 1.9? 👍

[2017-05-04 17:34] petetnt commented on #13351
Hi @hee-develop,

could you try putting the `D2Coding`  to quotes `"D2Coding"` or try to set the font from `View -> Themes -> Font Family`?

[2017-05-04 17:35] petetnt commented on #12995
Closing as answered 👍

[2017-05-04 17:35] #12995 closed

[2017-05-04 17:35] petetnt commented on #13004
Closing as answered

[2017-05-04 17:35] #13004 closed

[2017-05-04 17:35] petetnt commented on #13015
Closing as answered 👍

[2017-05-04 17:35] #13015 closed

[2017-05-04 17:35] petetnt commented on #13022
Closing as answered

[2017-05-04 17:35] #13022 closed

[2017-05-04 17:36] petetnt commented on #13024
Closing as answered

[2017-05-04 17:36] #13024 closed

[2017-05-04 17:36] petetnt commented on #13041
Closing as answered / Extension available

[2017-05-04 17:36] #13041 closed

[2017-05-04 17:37] petetnt commented on #13241
Closing as answered

[2017-05-04 17:37] #13241 closed

[2017-05-04 17:47] petetnt commented on #13322
Thanks for reporting, I reposted this to https://github.com/adobe/brackets.io/issues/196

[2017-05-04 17:47] #13322 closed

[2017-05-04 19:20] Worie opened #13354 "[Live preview] Make JavaScript created DOM elements to be highlightable"
If user creates JavaScript object, he cannot preview the box-model (for ex. with reverse inspect) as the object does really exist in html file. We _could_ for example delegete one event listener for whole body, so when the user clicks it, `event.target` gets highlighted.

Basicly, now you can pretty much click every element on the page and see its box model (ofc its a side effect of reverse lp, bu

[2017-05-05 04:51] MandarSant commented on #13117
I tried all the option as u described above but still not able to solve & the problem is not with the particular
index.html ,Stylesheet.css file it happens every time

[2017-05-05 04:55] onmyflow commented on #13307
Same problem here,
its really starting to annoy me, when I'm working on a section **at the bottom of my website**, that has the same class as one at the top of my website, and then the browser **always jumps to the top**.
But I also wouldn't want to work without live preview ...
Well then.
I'm downgrading again.

[2017-05-05 07:03] hee-develop commented on #13351
@petetnt Yes, I already tried both, but still same.

[2017-05-05 12:32] ghost opened #13355 "Can not Launch/uninstall/reinistall/delete Brackets!"
Hello.

Was able to Launch brackets 1.9 since I installed Adobe Reader! Now I cant launch or reinstall brackets! tried everythin on th troubleshooting site: Cleared The Cache, Checked the File Permissions, Run Brackets From The Command Line, tried to Reinstall!
Nothing helped! I cant even delete the Brackets Folder! So how to get rid of this buggy virus like Software?
I am using Windows 10x64 and

[2017-05-05 13:19] avdhesh-agnisys commented on #13220
Ok Thanks.

[2017-05-05 13:41] avdhesh-agnisys commented on #13220
Not working . It gives same error as bracket.

[2017-05-05 13:42] avdhesh-agnisys commented on #13220
I  tried on CentOS version 6.

[2017-05-05 17:44] Worie opened #13356 "Visual regression testing for Live Preview boxmodel"
My recent changes in `RemoteFunctions.js` related to implementation of boxmodel visualization in Live Preview made this feature break in several edge cases. We should probably create some visual regression tests for this feature to prevent such cases to happen more often.

What do you think? Screenshot comparsion for specific set of properties could work.

[2017-05-05 23:59] 1c0n1c opened #13358 "Random Crashes"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-05-06 07:16] vT0K3N opened #13359 "A failure occurred in build - Antergos (Arch) Linux"
Hello,
I'm using Antergos Linux (Arch) on a ThinkPad X1 Carbon 5th Gen (20HR002MGE) and somehow the installation for 1.9 with the GUI Antergegos installer over AUR won't work. I get this error:

`  CCLD     scsi_id
  CC       src/v4l_id/v4l_id.o
  CCLD     v4l_id
  CC       src/accelerometer/accelerometer.o
  CCLD     accelerometer
  CC       src/keymap/keymap-keymap.o
In file included from src/ke

[2017-05-06 07:38] ficristo commented on #13220
@probonopd do you know if AppImage works on CentOS version 6 ?

[2017-05-06 08:30] probonopd commented on #13220
@ficristo AppImage itself does for sure, but the software inside a particular AppImage must be built with CentOS 6 as a target in mind, too. The Subsurface, KDevelop, and Krita applications do this, for example.

[2017-05-06 10:25] tweakimp commented on #13306
Noone?

[2017-05-06 11:09] imbhavin95 commented on #13351
i also have same problem with Brackets Release 1.9 build 1.9.0-17312 (release 189f6d39a)

[2017-05-06 15:21] redmunds commented on #13306
@tweakimp Correct -- there is no way to change order of files in project folder using drag/drop. It would be difficult to keep track of random display order of every file in every subfolder of every project.

There is a `sortDirectoriesFirst` preference that you can use to change the order. Is there some other sort order that you would prefer?

[2017-05-06 15:47] JustAnotherGamer11303 opened #13360 "(Cannot open storage cglist_safe.csv): cgmode"
With one of my games and one of my moddling programs, when i go to extra's in my game it says (Cannot open storage cglist_safe.csv): cgmode then it force closses the game and in game it doesnt show any of my addons, and with the moddeling program when i go to load it says (Cannot open storage cglist_safe.csv): cgmode

[2017-05-06 19:43] HilalHakla commented on #12087
I have the same problem too, i reloaded it without extensions, i write <div> but doesn't autocompletes </div>

[2017-05-06 19:47] HilalHakla commented on #12087
Nevermind i had a missing tag that i forgot to complete, that's when i wrote another <div> tag it did not autocompleted it

[2017-05-07 13:46] petetnt commented on #13355
Sorry about this.

Which OS are you using? Are you getting some specific errors?

You should be able to manually remove Brackets by deleting the installation folder (for example `C:\Program Files (x86)\Brackets` and the application data folder (``%APPDATA%/Brackets`)

[2017-05-07 16:26] petetnt commented on #13358
Hi @1c0n1c, could you describe the situations when the crashes occur? Can you also share your OS, Brackets version and your Health Report from Help -> Health Report?

[2017-05-07 16:42] petetnt commented on #13359
Hmm, looking at https://aur.archlinux.org/packages/brackets/?comments=all it should work now.

A comment to similar issue than yours says that

[code]

So installing that dep first could work. The `archlinux` package is supported by a thirdparty, so you might be able to find more help by asking help from https://aur.archlinux.org/packages/brackets instead.

Hopefully this helps you somewhat

[2017-05-07 17:23] vT0K3N commented on #13359
That solved my problem :) Awesome! Thank you! I really appreciate your help!

[2017-05-07 17:23] #13359 closed

[2017-05-07 17:26] petetnt commented on #13359
Awesome 👍

[2017-05-07 20:43] petetnt commented on #13360
Hi @JustAnotherGamer11303,

this doesn't seem to be relevant to Brackets ¯\\\_(ツ)_/¯

[2017-05-07 20:43] #13360 closed

[2017-05-08 02:21] eMarketerSocial opened #13361 "Increase Font Size in Brackets"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-05-08 02:35] eMarketerSocial commented on #13361
Error description: Clicking on the keyboard Ctrl ++ does not increase the size of the text

I want to increase the size of the text but it does not. I have already tested it several times, I have restarted Brackets, etc ... but no matter how hard I try it by pressing the Ctrl ++ keys but it does not increase the size of the text.

My operating system is Windows10 and I have the latest version of B

[2017-05-08 04:11] saurabh95 commented on #13361
@eMarketerSocial have you using a font family different from the default one?
There were some issues if you try to use a different font and font-size together, we had fixed those issues and had done a pre-release also.
You can download the stable pre-release from https://github.com/adobe/brackets/releases/tag/release-1.10-prerelease-1

[2017-05-08 04:40] avdhesh-agnisys commented on #13220
I had download from above link. My issue is that how to install Bracket on centOS6 or lower version, Would be possible or not?

[2017-05-08 05:40] imbhavin95 opened #13362 "I Cannot Change Font Family in 1.9"
I cannot change fonts in brackets Release 1.9 build 1.9.0-17312 (release 189f6d39a) previous version i can change properly but after install new version i cannot.

actually i change default font to "consolas" it changed but font size is being very small. after i increase font size change font automatically to default font. how can i fix this?

Note : I check "reload without extension" but it helpl

[2017-05-08 06:02] saurabh95 commented on #13362
@imbhavin95 Actually we have fixed this issue and also did a pre-release.
You can download the stable pre-release from https://github.com/adobe/brackets/releases/tag/release-1.10-prerelease-1

[2017-05-08 06:05] imbhavin95 commented on #13362
Yes @saurabh95 i do this and it's now working. Topic Closed.
Thank you.

[2017-05-08 06:05] #13362 closed

[2017-05-08 13:50] alxbuilder opened #13364 "No Download Checksums Available"
### Description

On the [downloads](https://github.com/adobe/brackets/releases) page, none of the files have any method to verify their integrity.

### Steps to Reproduce
n/a

### Versions
all

[2017-05-08 22:16] petetnt commented on #13364
These would be essential, if @swmitra you could look into incorporating these into the release chain that would be awesome!

[2017-05-09 04:30] saurabh95 commented on #13351
@hee-develop Actually we have fixed this issue and also did a pre-release.
You can download the stable pre-release from https://github.com/adobe/brackets/releases/tag/release-1.10-prerelease-1

[2017-05-09 10:35] mejainankit opened #13365 "Wrong files count if, find in files word count is more than 100"
### Prerequisites

* [Y] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [Y] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [Y] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

Wrong files count if, find in files word count is more  than 100

### Steps to Reprodu

[2017-05-09 12:17] rmdnhsn opened #13366 "How to make the MTML is the default in brackets?"
How to make the MTML is the default in brackets?

[2017-05-09 15:23] carlosnewmusic opened #13367 "XML autocomplete function request"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

[Description of the bug or feature]
I would like to autocomplete the nodes and close them, and that by

[2017-05-09 15:56] #13367 closed

[2017-05-09 17:30] elexl commented on #13366
Every time you create a new file and save it, you are asked for the path and the extension. Probably you won´t create a thousand HTML files. Just add the extension .html in the dialog and you´re done. This gives you the freedom to decide which file you want to create each time.

[2017-05-10 18:01] theodore-steiner opened #13369 "Default to Horozontial Split View"
I typically write my code with the split, horizontal view, sometimes toggling to the vertical view as well.  My problem isn't a big one, but every time I open a new project or switch between projects, my view is reset to the single, "no split" view.  Is there any way to make the horizontal view my default?

Many thanks, in advance!

Best,
T

### Prerequisites

* [ ] Can you reproduce the problem w

[2017-05-10 20:10] Nihilivin commented on #13350
I can't, I wasn't able to update since 1.9 requires libs that were not available for my Fedora distribution... Gonna wait then

[2017-05-10 20:10] #13350 closed

[2017-05-10 20:59] abrahammurciano opened #13370 "Brackets slow to shut down"
I'm running Ubuntu 14.04 (because brackets doesn't work for me on 16, but that's besides the point) with the latest brackets as of this writing.

When I finish working, I close brackets using the Ubuntu's native close button like I normally would do in any window, but for some reason it takes really long to close. Then when I click it a second time after waiting a little, it closes immediately. Al

[2017-05-11 03:48] cbrwizard commented on #10555
Same here, where is this shortcut documented? Alt+W doesn't do anything on Mac.

[2017-05-11 07:29] petetnt commented on #10555
@ronherrema which version of Brackets are you using? Have you tried without extensions? Alt+W works for me on MacOSX with Brackets 1.9 (and latest master).

If it still doesn't work, check the developer tools (Debug -> Show Developer Tools -> Console) if there are any warnings of duplicate keyboard shortcuts. It might also be that another program is blocking the command, in which case you can upda

[2017-05-11 07:50] Yarik91 commented on #13349
I'm here to tell same problem after Creator update.
I have two monitors :
1.Widescreen 1920x1080
2. Old peace of sh***t 1280x1024

When I open brackets on second monitor and then drag to first and make it bigger than resolution of second monitor,  Brackets is cropped like that : http://prntscr.com/f6i2eq

[2017-05-11 17:57] ficristo commented on #13370
The double click to close the application is a dupe of https://github.com/adobe/brackets/issues/4611

[2017-05-11 18:07] ficristo commented on #13349
In electron there were also some problems related to hidpi monitors. I think they were mostly fixed by updating to a new version of Chrome.
Also they mentioned the dpiAware field present in the manifest to change from `true` to `true/pm`.
Maybe we should also change our appshell.exe.manifest file.

[2017-05-11 18:24] ficristo commented on #13312
After adobe/brackets-registry#78 I still cannot upload my extension.
Reopening.

[2017-05-12 00:01] newtohtml opened #13372 "Cannot install Bracket (Forbidden Error)"
I kept on getting Forbidden Error when I try to install bracket, any help would be greatly appreciated!

Thanks.

[2017-05-12 07:36] petetnt commented on #13372
Hey,

have you tried running the installer as administrator? You most likely don't have the required permissions to the installation folder

[2017-05-12 12:46] rmdnhsn commented on #13366
Thanks, elexl..
but i wanted to make by default when i create a new file to be the (HTML).

[2017-05-13 05:18] aryehbeitz commented on #12380
What about a real solution?
When someone tries downloading, they have to search for a solution.
The official packages should include the fix

[2017-05-13 08:35] blackmiaool commented on #12782
Quick fix:
[Hack the brackets](https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets), edit the *src/nls/root/strings.js* like this:

From

`"FILE_MENU": "File",`

To

`"FILE_MENU": "zFile",`

Edit all the menu names, restart the brackets, and the alt-* won't trigger the menu any longer(except alt-z).

[2017-05-13 14:57] HuangZhenyang opened #13374 "Brackets's screen becomes white"
### Description

It seems that if I open Brackets a long time and don't use it. Its screen will become white. Only the navigation bar will show, but couldn't make a response to my operations.

### Versions

1. Windows 8.1
2. Bracktes: sprint 6 `发布版`(released version) 1.6.0-16680 (release 3df0ac6fa)

[2017-05-15 00:17] zaggino commented on #13312
@saurabh95 can you check what's wrong on the registry machine and get npm debug logs from it so we can see why the npm install comand failes?

[2017-05-15 01:42] mgraves9803 commented on #12380
You can get the latest files here (https://fourthfruit.github.io/fixes/)

[2017-05-15 03:15] saurabh95 commented on #13312
Will have a look and let you know

[2017-05-15 05:56] petetnt commented on #13374
Hi @HuangZhenyang,

could you try updating Brackets to the latest version (1.9)?

This has something to do with large code bases IIRC, as seen in https://github.com/adobe/brackets/issues/12617, https://github.com/adobe/brackets/issues/12959, https://github.com/adobe/brackets/issues/12192 and others. Ignoring some larger folders (of third party code, built code etc.) might be helpful, see https://g

[2017-05-15 05:57] petetnt commented on #11826
This should have been fixed for a while now, if this pops up ever again, please do open a new issue so that it can be addressed immediately.

[2017-05-15 05:57] #11826 closed

[2017-05-15 08:38] buimf opened #13375 "built in HTML and CSS validation"
### Prerequisites

* [ √] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ √] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ √] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets

[2017-05-15 11:22] petetnt commented on #13375
Hi @buimf,

validators (as are pretty much all the other things) in Brackets are handled via extensions. For example, there's https://github.com/cfjedimaster/brackets-csslint for CSS Lint and there's w3cvalidator for validating HTML files (https://github.com/cfjedimaster/brackets-w3cvalidation) (which sadly doesn't seem to be supported anymore). Alternatively one could build validator against Mozi

[2017-05-15 12:28] HuangZhenyang commented on #13374
OK! I'm so sorry to disturb u that I didn't  try to look for such problem carefully.
Thank you so much!

[2017-05-15 12:28] #13374 closed

[2017-05-15 12:30] petetnt commented on #13374
No problem @HuangZhenyang, do report if the problem persists! 👍

[2017-05-15 14:43] chepoez opened #13376 "Wordpress livepreview"
Release 1.9 versión 1.9.0-17312 (release 189f6d39a)
windows 10 64x
chrome 58.0.3029.96 (64-bit)
xampp v3.2.2

Hi I am trying to use a Life preview for wordpress,  I am running apache with xampp and have my URL base http://localhost/
The theme twentyseventeen is activated on the wordpress instalation and when openening the page.php file and trying to live preview i get the follogwng error
Fatal err

[2017-05-15 15:03] chepoez commented on #13376
on the .htaccess the following line was missing

RewriteEngine On

now it is working great

[2017-05-15 17:50] FuqingWang opened #13377 "search(ctrl+F) doesn't working once it passed 10,000 lines of code?"
### Description
I just exceeded 10,000 lines of code for my project and accidentally found the search doesn't work anymore. If I cut the lines of code below that it works as usual, not sure if it has anything to do with the number of lines of code, but currently this issue is significantly slowing down my developing speed.

**Expected behavior:** searching key word gives the current(or closet) mat

[2017-05-15 22:55] opl- opened #13378 "Stylus used in a vue/htmlmixed CM mode resolves to unknown Brackets language"
### Description

Defining a Brackets language for Vue components using the vue mode for CodeMirror results in the language being [resolved to an unknown language](https://github.com/adobe/brackets/blob/c62e106d00a2263cbff808629e4f65f615d673ec/src/language/LanguageManager.js#L347) for [the Brackets code hinter](https://github.com/adobe/brackets/blob/63962ceec71d20e25a47bf250be04dccecf041b8/src/edit

[2017-05-16 08:53] petetnt commented on #13378
👍 Nice work @opl-, PRs very welcome

[2017-05-16 08:57] petetnt commented on #13378
Note to self: The option 1. can also be used to overriding JavaScript mode with `jsx` mode.

[2017-05-17 12:40] evaillancourt commented on #13377
I got the same issue, but it seems to be somewhere up to 4000 lines of code. At 4000 I'm ok, but at 6700 it doesn't work anymore... very annoying!

[2017-05-17 13:54] tjdickinson commented on #11161
I have the same issue on Windows 10. Everything is so tiny! Strains my eyes trying to see it.

[2017-05-17 18:31] Loganpi opened #13379 "CSS Styling the Class"
### Description
In css, Brackets does not recognize my classes. So when want to use css for a class, it totally ignores the class.

**Expected behavior:** [The css to recognize my class. ]

**Actual behavior:** [Brackets did not recognize the class.]

### Versions

On brackets 1.9,

[2017-05-17 21:39] petetnt commented on #13379
Hi @Loganpi,

could you share some code where this occurs?

[2017-05-18 14:06] Grafluxe opened #13381 "File extension is outputted twice when saving a file created using DocumentManager.createUntitledDocument."
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

Brackets v1.9.0 added support for creating untitled files with extensions (along with

[2017-05-18 15:15] mrbodich commented on #13294
An4ikD, Hi. How is it going with fixing Command + E?))

[2017-05-18 15:26] mrbodich opened #13382 "Command + E (Fast Edit) is not working correct."
Hi. I updated Brackets to 1.9 and now combination Command + E (Fast Edit) is not working correct. In JavaScript it opens function as always first time. Then I press Command + E again to hide. That popup area is hiding 2 times at once fast (hide-show-hide). And then Command + E does not work any more till I open another file and then back to target file. After that Command + E works only once again