[2016-06-30 11:59] abose commented on #9894
Deprecated feature. Closing.

[2016-06-30 11:59] #9894 closed

[2016-06-30 11:59] abose commented on #9943
Deprecated feature. Closing.

[2016-06-30 11:59] #9943 closed

[2016-06-30 12:01] abose commented on #10007
Deprecated feature [See details](http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/) . Closing.

[2016-06-30 12:01] #10007 closed

[2016-06-30 12:03] abose commented on #10261
Deprecated feature [See details](http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/) . Closing.

[2016-06-30 12:03] #10261 closed

[2016-06-30 12:03] abose commented on #10270
Deprecated feature [See details](http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/) . Closing.

[2016-06-30 12:03] #10270 closed

[2016-06-30 12:04] abose commented on #11836
Extract window placement issue.
Deprecated feature [See details](http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/) . Closing.

[2016-06-30 12:04] #11836 closed

[2016-06-30 12:04] abose commented on #11575
Deprecated feature [See details](http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/) . Closing.

[2016-06-30 12:04] #11575 closed

[2016-06-30 12:04] abose commented on #11554
Deprecated feature [See details](http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/) . Closing.

[2016-06-30 12:04] #11554 closed

[2016-06-30 12:04] abose commented on #11548
Deprecated feature [See details](http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/) . Closing.

[2016-06-30 12:04] #11548 closed

[2016-06-30 12:04] abose commented on #11395
Deprecated feature [See details](http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/) . Closing.

[2016-06-30 12:04] #11395 closed

[2016-06-30 12:05] abose commented on #11362
Deprecated feature [See details](http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/) . Closing.

[2016-06-30 12:05] #11362 closed

[2016-06-30 12:05] abose commented on #11292
Deprecated feature [See details](http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/) . Closing.

[2016-06-30 12:05] #11292 closed

[2016-06-30 12:05] abose commented on #11164
Deprecated feature [See details](http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/) . Closing.

[2016-06-30 12:05] #11164 closed

[2016-06-30 12:05] abose commented on #10824
Deprecated feature [See details](http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/) . Closing.

[2016-06-30 12:05] #10824 closed

[2016-06-30 12:05] abose commented on #10772
Deprecated feature [See details](http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/) . Closing.

[2016-06-30 12:05] #10772 closed

[2016-06-30 12:08] abose commented on #10667
The file causing exception belongs to extract which is a Deprecated feature [See details](http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/) .
Console plus extension works when tested.
Closing.

[2016-06-30 12:08] #10667 closed

[2016-06-30 12:09] abose commented on #10619
Deprecated feature [See details](http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/) . Closing.
Marking as extension idea.

[2016-06-30 12:09] #10619 closed

[2016-06-30 12:10] petetnt commented on #12557
Live Preview should work with any browser with `livepreview.multibrowser` preference set to true. See [this document](https://github.com/adobe/brackets/wiki/Live-Preview-Multibrowser) for more information.

[2016-06-30 12:38] SurajVerma opened #12559 "Error Getting Update Info when try to check for updates"
When I try to check for the updates from help menu in brackets it gives me the below error.

![untitled-1](https://cloud.githubusercontent.com/assets/5441349/16488177/debed146-3eec-11e6-92da-ec81f3ac0683.jpg)
I tried in my 3 different PC's/OS's with brackets installed on them. Below are the configurations.

OS: Windows 7
RAM: 8GB
Hard Disk: 500GB

OS: Windows 10
RAM: 8GB
Hard Disk: 1TB

OS: Ubuntu

[2016-06-30 13:07] doom-fr opened #12560 "case statement folding (no triangle)"
In switch statement, case statement can't be fold (there is no folding triangle).
Sometimes, there is a certain amount of code in case statement, so it will be cool if it will be possible.

[2016-06-30 19:52] stevebeausejour commented on #12061
First of all, are you still having this issue? If that is the case are you experiencing this issue on Windows or on MacOS?

[2016-06-30 20:00] monirulalom commented on #12061
Latest Brackets updates solved my problems on windows platform ,I know use of adobe extract is deprecated.

[2016-06-30 20:00] #12061 closed

[2016-07-01 04:54] abose commented on #12232
tagging @swmitra

[2016-07-01 07:50] Zodiase commented on #11588
If you still want `more requets for this feature`, I'll just say that I tried this editor for two minutes or so and dismissed it due to the lack of multiline support in find & replace.

[2016-07-01 15:46] Dobflem commented on #12559
I also have this issue on Ubuntu 14.04. The extension manager is also failing.
![extension failure](https://cloud.githubusercontent.com/assets/7987620/16526861/53dfae64-3fab-11e6-92a9-597d696f315b.png)

[2016-07-01 15:55] Dobflem commented on #12559
UPDATE:
It seems for the Updating problem the site 'https://getupdates.brackets.io/getupdates/?locale=en&_=1467387426733' is down. This is where Brackets seems to try and pull data from.

As for the extensions problem I get the following error:
Unknown installation error extensionManager domain is undefined

[2016-07-01 17:07] jpurviance commented on #12559
Is there a timeline for when this will be fixed?

[2016-07-01 21:37] Giocapetini commented on #11826
SO i believe i have found the way to replicate the issue with the CTRL + Z after a save.
i will list addons i am using ( version 1.7 brackets fresh install)
Beautify
Brackets File Tree
Brackets Git
Brackets Icons
Documents Toolbar
Extensions Rating
Monokai Dark Soda (theme)
________________________________

i'm currently working on a big project with angularjs, using node and gulp.
the issue as i

[2016-07-01 21:43] Giocapetini commented on #11826
PS. i also think that instead of going back using the ctrl + z, they gave it to the ctrl + y, as i've tested it seems like ctrl + y brings back what would come back if we used the ctrl + z. almost as if it switched places.

[2016-07-02 01:49] SalvorinFex commented on #12532
Really??  Opened over 2 weeks ago and no one has a simple answer for my simple question??

I thought **someone** would know!!

[2016-07-02 10:55] oahehc opened #12562 "ionic project has error when running 'angular.js'"
[Steps]
open ionic project for few second,
bracket will show error msg as below, and then crash.

[What happens]
error msg
"Bracket ran into troble processing C:/...../ionic/js/angular-ui/xxx.js"

[Brackets version] 1.7
[OS version] Win7 64bit
[Extensions] Reload Without Extensions still has same issue

[2016-07-03 06:21] saeedserpooshan opened #12564 "Easy selection of whole line(s) with mouse click/drag on line numbers or left margin"
Hi
Usually we need to select several lines with mouse. it is hard to know exact x-position to be clicked and dragged down to select whole of current line without missing initial indent spaces.
It could be helpful if we could select lines by clicking on line numbers or their left margin and dragging up/down.
Thanks

[2016-07-03 08:57] Tusko commented on #12556
+1

[2016-07-03 09:05] derrickb commented on #12232
Can confirm @thehogfather 's repro steps as well.  This issue has been driving me crazy.

I'm on Windows 10 x64, Brackets 1.7

[2016-07-03 15:38] redmunds commented on #12532
It's not clear to me what you are asking. Which preference would you like to change?

[2016-07-04 00:58] thany commented on #11922
This issue still exists in the latest release. So please reopen.

It's failry simple to reproduce, since it's on of those consistent bugs ;)

[2016-07-04 01:01] thany commented on #11826
Dear Brackets dev team, you're losing many of your users, as this thread is proving right now. I've repeated myself before, and for your sake, I will do it one more time.

**Disable ALL functionaly that leads to clearing the undo history!**

Too much history is ALWAYS better than not enough.

[2016-07-04 01:28] lkcampbell commented on #11826
Dear @thany,

Where is your pull request that solves this problem?

[2016-07-04 02:01] lkcampbell commented on #11826
Hey all,

I don't want to be a jerk.

I understand this issue is hurting everyone.

But you all need to understand something.

I cut my open source development teeth on Brackets for two years.

So I am going to defend Brackets to the hilt.

I worked side by side with @njx, @redmunds, @peterflynn, @jasonsanjose, @gruehle, @dangoor, @RaymondLim, @TomMalbran, @larz0, @JeffryBooher, @ingorichter, @Mar

[2016-07-04 02:43] bmax commented on #12534
works on development build:
![image](https://cloud.githubusercontent.com/assets/158370/16549665/7ac9aa0a-416f-11e6-87ab-2bc5427b8a11.png)

[2016-07-04 13:58] rovf opened #12565 "Ensure final new line in file"
It would be great to have an option which makes Brackets add a new line at the end of the file (if there is none yet).

[2016-07-04 14:01] rovf opened #12566 "Brackets in other languages"
When I downloaded and installed Brackets (on Windows 7), it came up with a German user interface (probably because the IP address of the computer which downloaded the installation file, is hosted under the .de TLD). It would be great to have the option to switch the language (for instance, to English).

[2016-07-04 16:25] Learn-Digital-Audio commented on #12531
or a flatpack for Fedora please! (same thing as a snap package)

https://fedoramagazine.org/explore-flatpak-fedora-24/

Most important is that Adobe please fixes Linux brackets for all the well known and reported issues!

The version i am going to try on Fedora 24 is here:

https://copr.fedorainfracloud.org/coprs/mosquito/brackets/

Imagine how amazing it would be to have a fully updated working B

[2016-07-04 16:49] petetnt commented on #12566
Hi @rovf,

you can switch Brackets languages under `Debug -> Switch Language` to any of the languages [provided by Brackets](https://github.com/adobe/brackets/tree/master/src/nls)!

[2016-07-04 16:51] petetnt commented on #12565
Hi @rovf,

there's various extensions, such as the great [whitespace normalizer](https://github.com/dsbonev/whitespace-normalizer) that provide this feature. You can search and install extensions under `File -> Extension Manager`.

[2016-07-04 19:21] redmunds commented on #12534
@ShinDarth @bmax Please state which operating systems that you are seeing this work or not work.

[2016-07-05 02:43] nethip commented on #12559
@jpurviance I will have a look at what is going wrong with the URL and will keep you updated. @SurajVerma Thanks for reporting and thanks to @Dobflem for providing more information about the issue.

[2016-07-05 02:44] nethip commented on #12562
@oahehc Could you try disabling code hints and see if code hints is indeed causing this issue?

[2016-07-05 02:48] nethip commented on #12539
@pridemusvaire It is just that Extract is not supported inside Brackets. Please checkout the extract panel in Dreamweaver CC. You should be able to use Extract service from within Dreamweaver.

Oh by the way Dreamweaver Beta is out with a complete UI and coding surface overhaul (https://www.adobeprerelease.com). You might want to give it a run. J

[2016-07-05 03:18] joebowbeer opened #12567 "Support binding a sequence of commands to a key"
Feature request: Add support for binding a sequence of commands to a single keybinding

Keybinding only supports binding a single command.

Extending this so that the user can bind a sequence of commands to a key would provide a trivial yet powerful way for users to customize Brackets without the need to edit and install a Javascript extension (which judging from the HelloWord example requires a c

[2016-07-05 04:28] rovf commented on #12566
Thank you!

[2016-07-05 04:28] #12566 closed

[2016-07-05 05:06] rovf commented on #12565
Thank you.

[2016-07-05 05:06] #12565 closed

[2016-07-05 05:15] humanfactors commented on #10465
Same issue on Debian Testing (Stretch). Honestly, some of the replies here are saddening for this community. Whilst I respect that developers should actually track package dependencies in distributions of claimed support; the replies here are not in the spirit of open source.

The solution is much simpler than others here have posted and do not require any changes to your sources.

1. Download the

[2016-07-05 05:54] pridemusvaire commented on #12539
Hi Thanks.

Will check it  out.

From: Prashanth Nethi [mailto:notifications@github.com]
Sent: Tuesday, July 5, 2016 4:49 AM
To: adobe/brackets <brackets@noreply.github.com>
Cc: Pride Musvaire <musvairepridetafadzwa@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [adobe/brackets] Extract for Brackets not working (#12539)

@pridemusvaire <https://github.com/pridemusvaire>  It is just

[2016-07-05 06:12] brandl3s commented on #12539
Seems a shame to remove that feature when the only reason I used brackets was to have extract. Anyway thank you for the answers, I'm moved onto Sublime 👍

[2016-07-05 07:31] vvks commented on #11826
@nethip sorry, I tried recreating it on my personal device but have been unable to recreate it (even though i have the same extensions)

i'll continue trying and let you know asap..

[2016-07-05 07:55] nethip commented on #11826
@vvks No problem! thanks for trying it out. Since I am not able to repro this at from my end, I would instrument some logs and push those changes to a branch. Will you be able to run Brackets from that Branch?

[2016-07-05 10:24] BartHoebink opened #12568 "Live Preview Brackets Issue"
My bracket does not auto update while editing the HTML, so I enabled experimental live preview, but now it tells me i have to load an HTML file even though thats the one I want to open. Could someone help me out?

The picture says: 'Load an HTML file to start Live Preview.'
![error](https://cloud.githubusercontent.com/assets/20298109/16581721/6684bba6-42ab-11e6-910f-f3d04939ec3a.jpg)

[2016-07-05 10:44] Marco105 opened #12569 "Altgr on windows"
Hello,
We need this key on Windows that cut our finger on keyboard !
It's not usefull without this keymap, **please can you find a specific solution for this kind of user**, that could really improved our experience on this wonderfull ide.
BTW

[2016-07-05 12:58] ShinDarth commented on #12534
Mac OS X

[2016-07-05 14:51] redmunds commented on #12568
Start by reading the [Live Preview section of the How To Use Brackets doc](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#live-preview) and the [Live Preview Isn't Working section of the Brackets Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting).

[2016-07-05 18:52] thrash646 opened #12570 "Brackets freezes on startup v1.7"
I am having the same issues as others and I can't figure out how to fix it.
I disabled dev tools and then re-enabled them. The next time I used brackets, it just froze.
Tried re-installing 1.5 and then upgraded to 1.7 and still the issue persists.

I'm new to dev world so I don't know about crash reports and stuff.

Windows 8.1 64bit
16Gb Ram
Intel i7 quad core 2.6GHz

Any help would be greatly ap

[2016-07-05 20:08] jdt1991 opened #12571 "Live Preview Not Loading"
Hi. Hopefully someone can help me. I have been using Brackets for a few months now and it has been brilliantly. However, when using it yesterday, the "live preview" option comes up with a "Unable to load Live Preview, see troubleshooting". I haven't or don't think I have changed anything on settings to stop it working. I have looked through the troubleshooting and are struggling to find the issue

[2016-07-05 23:26] qtbeee commented on #11489
Hi, just wanted to say I just published an extension for this called Tag Deletion.

[2016-07-06 02:28] kshitijpatil opened #12572 "simplify extension menu items"
Put all items added to the menu bar by extensions together in one place instead of scattering them across existing menus.

[2016-07-06 03:22] jadgsam opened #12573 "Live Preview Base URL is not recognized"
Hello,
Currently I cannot open php files using Live Preview from my Mac using Safari only as browser and web server apache the one that comes with the MacBook Pro.

I opened the folder from menu File=>Open Folder, as a result I can see html and php files. A html file can be opened by using the live preview option in the side bar. However when I try to run any php file I am asked to provide a Live

[2016-07-06 07:32] vishwajithsandaru commented on #12228
i also got the above error, its appreciable if somebody can help

[2016-07-06 07:33] bhalajin opened #12574 "Brackets icon in taskbar after update"
If brackets is tied to the taskbar, when an update to brackets is done, the taskbar icon becomes blank.
The correct icon is not replaced after update.

[2016-07-06 10:01] vvks commented on #11826
yes, sure. please let me know about the branch

[2016-07-06 11:35] MohebYarahmadi opened #12575 "Debian 8.5 installation problem"
**Hi. when I try to install brackets on linux debian 8.5 it doesn't work and I can't install it.**

`hanzo@debian:~/Downloads$ sudo dpkg -i Brackets.Release.1.7.64-bit.deb
[sudo] password for hanzo:
dpkg: error: dpkg status database is locked by another process
hanzo@debian:~/Downloads$ sudo dpkg -i Brackets.Release.1.7.64-bit.deb
Selecting previously unselected package brackets.
(Reading database

[2016-07-06 14:01] thrash646 commented on #9011
I now have this same issue on v1.5-1.7 of brackets.
Pretty sure it happened when I accidentally removed dev tools and then turned it back on.

I started a new thread here:
https://github.com/adobe/brackets/issues/12570

[2016-07-06 15:06] pratts commented on #12575
Hello @mohammadyaghobi
Brackets depends on libgcrypt11 library but libgcrypt20 is installed on debian 8.5 by default.
You can check these comments to get libgcrypt11 for debian 8.5 https://github.com/adobe/brackets/issues/10255#issuecomment-89624539 or http://ftp.acc.umu.se/mirror/cdimage/snapshot/Debian/pool/main/libg/libgcrypt11/

The actual reason behind the issue you are facing is discussed in

[2016-07-06 17:49] petetnt commented on #12574
Duplicate of #6297

[2016-07-06 19:17] boosters opened #12576 "How can I change the editor font"
I am using Windows and want to change the editor font, but the view-themes option does not work. My font is already installed on Windows as I can use on other IDE. My font name is Monaco, how can I change it?

Screenshot - http://prntscr.com/bpmynl

[2016-07-06 19:32] petetnt commented on #12576
Hi @boosters,

the font-family name should probably be quoted, such as `'Monaco-Bold'`.

[2016-07-07 01:01] riaanoliver commented on #11744
If this is a deprecated feature, are we able to use it now?  I am using sass and it does not give me any extract features.

[2016-07-07 02:27] 555STi commented on #12505
thanks @nethip, worked flawlessly for me.
`Linux 3.13.0-91-generic #138~precise1-Ubuntu SMP Fri Jun 24 18:50:48 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

[2016-07-07 02:43] edelsonc opened #12577 "Can't toggle comments in SQL documents"
Hello

Comment toggling doesn't work on OS X in .sql scripts.

I'm using Brackets Release 1.7.

Thanks

[2016-07-07 05:12] boosters commented on #12576
@petetnt , I tried that way too but still not working. Original font name - Monaco-Regular

[2016-07-07 07:17] rovf opened #12578 "Font setting ignored"
Brackets shows the text in the edit pane in a proportional font. For editing program files, I prefer a fixed font width.

I checked out the settings for View/Preferences/Editor, and found the following Font Family settings:

'SourceCodePro-Medium', MS ????, 'MS Gothic', monospace

(actually, what is shown in this post as a sequence of 4 question marks, displayed in the settings dialogue as the Jap

[2016-07-07 10:30] rovf opened #12579 "Feature request: Make syntax highlighting configurable"
Brackets tries to guess the correct mode for syntax highlighting (probably from the file name). If the editor can not infer the file type, no syntax highlighting is done.

In my case for instance, shell scripts are not highlighted, if the extension is .zsh, but highlighting works if it is .sh.

Most other editors provide a possibility to let the user specify, which syntax highlighting should be ap

[2016-07-07 13:31] redmunds commented on #12573
Did you try `localhost/~jadsam/pagosweb/prueba/` (without http://) ?

[2016-07-07 13:42] petetnt commented on #12579
Hi @rovf!

You can change the syntax highlighting applied in the bottom pane:

![image](https://cloud.githubusercontent.com/assets/7641760/16655035/3837dde8-4461-11e6-84df-108bb6a52cdd.png)

This persist during the session (at least). I have done some work towards making this persistent across sessions, but the feature is not quite ready yet.

If you want to permanently associate some filetypes wi

[2016-07-07 13:44] petetnt commented on #12578
That should work. Maybe try changing the double quotes (") to single quotes (') if for one reason or another that causes some issues.

[2016-07-07 15:45] thrash646 commented on #12570
Even though the #9011 thread was NO help, and no one came to help me here, I fixed the issue.

[2016-07-07 16:33] jadgsam commented on #12573
Hi redmunds yes I tried different combinations including this "without http://"  but it didn't work. I had to install Chrome and now it works but my idea was not to install another browser. So far and as a conclusion I was not able to workaround this issue without installing Chrome and keep Safari only.

[2016-07-07 22:26] alignsoft commented on #12232
Any chance this can get merged into the project? Is there a 1.7.1 update in the wings?

[2016-07-07 23:35] Lee4LH commented on #12559
Same issue.  I am new and fearful of using anything with instant faults like this.

[2016-07-08 01:14] Seius commented on #12559
Any news?

[2016-07-08 01:35] alexcorvi opened #12580 "PHP syntax highlighting isn't very informative"
I know that the main focus of Brackets doesn't go toward PHP development, but I can see that this is a necessary feature for a code editor that is getting more and more mature such as Brackets.

[2016-07-08 02:01] redmunds commented on #12573
Live Preview Base URL functionality is only supported for standard (not experimental) Live Preview so Chrome is a requirement. Closing.

[2016-07-08 02:01] #12573 closed

[2016-07-08 02:10] cjalonso1 commented on #12559
This behavior started with the last recent update to Brackets.  It’s the
same in my three Mac computers.

On July 7, 2016 at 7:36:57 PM, Lee4LH (notifications@github.com) wrote:

Same issue. I am new and fearful of using anything with instant faults like
this.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/ad

[2016-07-08 04:00] nethip commented on #12559
@cjalonso1 @Seius @Lee4LH The service seems to be down. We are working on it. Should be fixed by EOD.  I will keep you posted.

[2016-07-08 04:08] nethip commented on #12580
@alexcorvi Agree with you on adding more PHP relevant features to Brackets.

Meanwhile, may I recommend Dreamweaver (which just received a complete overhaul of UI and the coding surface by the way), which has great support for PHP. Syntax checking, code hints, device preview, testing server to name few. You could grab a copy of Dreamweaver Beta and play around with it.

[2016-07-08 04:11] nethip commented on #12232
@alignsoft We could go ahead with the merge, but I am afraid we don't have 1.7.1 on the cards. Once the PR is merged, I would recommend you run Brackets from source. It's pretty easy to do that. Refer to the below link to do so.

https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets

[2016-07-08 05:37] manish-agnisys opened #12581 "unable to run Brackets on centos6/redhat6"
I was unable to run brackets on my centos6.5 machine. I got the following errors

/usr/bin/brackets: /lib64/libc.so.6: version GLIBC_2.14′ not found (required by /usr/bin/brackets)
/usr/bin/brackets: /lib64/libc.so.6: version GLIBC_2.14? not found (required by /opt/brackets/lib/libcef.so)
/usr/bin/brackets: /lib64/libc.so.6: version GLIBC_2.15′ not found (required by /opt/brackets/lib/libcef.so)
/

[2016-07-08 06:58] rovf commented on #12579
Thanks for the information. To create a .brackets.json file looks - to me, at least - cumbersome for doing such a simple task. Maybe I'm spoiled here, because nearly every highlighting editor I know, allows a dialogue in the preferences where one can change the mapping between file extensions and file type.

If you think that my feature request does have a chance to be implemented, i.e. by providi

[2016-07-08 07:23] rovf commented on #12578
No, did not work, but I think I found the culprit. Actually, there are two, both extensions:

The first is Brackets Pryme Theme. If I enable only this extension, and choose this theme, my font setting will be ignored, but when I switch back to the original theme (brackets default), I get my font setting honored.

Things get interesting when I enable a second extension, Code Font. If this one is en

[2016-07-08 14:50] raghuveer-kurdi commented on #12380
@iamrudra Thanks for the solution, It worked for me. I also found other steps to install it. i.e via PPA
Follow this link http://www.webupd8.org/2013/11/install-brackets-in-ubuntu-via-ppa-open.html

sudo add-apt-repository ppa:webupd8team/brackets
sudo apt-get update
sudo apt-get install brackets

These three commands will also install the brackets, but i think the above solution is better as It a

[2016-07-08 14:51] Learn-Digital-Audio commented on #12380
This is an automated reply to your message "Re: [adobe/brackets] Install on Ubuntu 16.04 fails, wants
 libgcrypt11, only has libgcrypt20 (#12380)" sent to david@learndigitalaudio.com.

Dear raghuveer-kurdi <notifications@github.com>

Thank you for your email. I am away from the office until the 13th July and will reply as soon as possible after that.

[2016-07-08 20:45] cjalonso1 commented on #12559
The problem appears to have been resolved.

Regards,

Carlos 

On July 8, 2016 at 12:00:57 AM, Prashanth Nethi (notifications@github.com) wrote:

@cjalonso1 @Seius @Lee4LH The service seems to be down. We are working on it. Should be fixed by EOD. I will keep you posted.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-08 21:01] Lee4LH opened #12583 "Google"
Google and advertising (order uncertain) have ruined the internet.  I and many others who have been internet users since 1982 (or thereabouts) do the best we can to keep Google off of our computers. Then I download brackets and it opens with Google Chrome -- good fast way to anger we Google haters. You would do better to dissassociate github from Google.  -- Lee

[2016-07-09 14:40] hil400k commented on #12266
I mean current.

[2016-07-09 14:50] AndZii opened #12584 "Can not dismiss heath report window"
Can not dismiss heath report window

[2016-07-09 18:08] WebHeather commented on #7555
Just FYI... Still have this issue on Windows 7 with the latest release:/

[2016-07-10 02:54] oahehc commented on #12562
Yes, issue stop after disable code hints, thanks.
But will this error been fix?
Or need to disable code hints at all ionic project?

[2016-07-10 12:22] #12371 closed

[2016-07-11 15:21] #11968 closed

[2016-07-11 18:49] VenkatRamReddyK commented on #2752
I am trying to write **unit tests** using **karma** and trying to use `since` block provided by `jasmine-custom-message` framework to console the **failure** message.
So I was wondering if I missed something ?.
I did the following:
- **jasmine (1.3.1) and jasmine-custom-message (0.8.2)** are installed using `bower`
The `require('jasmine-custom-message');` in one of my test file` *.spec.js` is thro

[2016-07-11 20:13] thelgevold commented on #12457
This error when away for me once the auto updates were installed

[2016-07-12 04:35] JacobLett opened #12585 "Homepage "Preprocessor support" is misleading"
I was trying to get my sass files to compile with live preview thinking it would just work. I think I was confused because the homepage said pre-processor support but did not specify this support requires an extension. Once I installed https://github.com/jasonsanjose/brackets-sass it worked. So I think this just needs to be clearer on the description text to avoid confusion.

[2016-07-12 04:40] NathanJPlummer commented on #12514
Since the PPA has been updated and this works now without issues I feel comfortable closing this issue.

[2016-07-12 04:40] #12514 closed

[2016-07-12 05:08] simmu commented on #11826
Lost another block of code due to ctrl-z suddenly not working. I'm a big fan of brackets but this is getting out of hand. Please, team brackets...please have this fix. I'm going to switch to Visual Code till this is fixed.

[2016-07-12 09:29] Metrophobe opened #12586 "Indexing Error "Your solution has more than 30,000 files" but it does not"
I started getting this weird error yesterday and did nothing to cause this issue. I would load the project (using context menu or even from inside brackets), and I would get the error that states that my solution exceeds the 30,000 files.  I am AWARE that there was such an issue before, however in this situation the "indexing error" is not being caused by the amount of files. I checked the solutio

[2016-07-12 12:58] Yannsimon92 commented on #11826
Still facing this issue, it's very annoying...

[2016-07-12 13:14] tdalon opened #12587 "live preview with chrome portable installation"
Hello
I use Chrome as Portable installation.
It would be nice if I could enter/browse for the path of my chrome.exe (instead of looking at the registery entry).

Many thanks

[2016-07-12 13:17] petetnt commented on #12586
Try renaming (/deleting) your application data folders too if the issue persist. They are under `%AppData%/Brackets` on Windows and `~/Library/Application Support/Brackets` on MacOS

[2016-07-12 15:20] Metrophobe commented on #12586
I think it was not clear from the post but I had done that. When I uninstalled the app I actually found  all folders named brackets in appdata and removed them. Still no joy! I realised that for some odd reason when I select to open a folder and use it as project. It loses "focus" and diverts to opening all of the desktop and all of the folders and drives. (because I saw onedrive in there and home

[2016-07-12 20:17] hghubert opened #12588 "Mac OS X can't install extensions (Unknown internal error). version 1.7"
I updated to 1.7 on Mac OS X (El Capitan) Version 10.11.5 and cannot install or update extensions.

I get the following error "Installation failed.  Unknown internal error"

I have tried this on three separate Macs

On one machine that does not have NodeJS installed I get the following error:
"Unknown installation error extensionManager domain is undefined. extensibility/Package.js:411"

When I op

[2016-07-12 20:54] petetnt commented on #12588
Hi @hghubert,

might be an firewall issue. On MacOS, follow these steps:

[code]

Restart Brackets completely and try again.

[2016-07-12 21:33] hghubert commented on #12588
Thanks for the quick reply.  I followed the steps you listed and do not know how to include just the Node that is installed with Brackets.  There is no specific Brackets app folder in Applications and no way that I know of to open the Package Contents while adding a file in Firewall Options. Instead I allowed incoming connections from the Brackets app.

This had no effect and I still get the same

[2016-07-13 06:55] tdalon opened #12589 "Link with relative paths does not work in Live Preview"
Hello
it looks like in live preview,relative links like this
 <a href="../_work/file.txt">: does not work.
The .. (one directory up) seems omitted or not understood.

(The link works properly if open in the browser normally without the live preview)

[2016-07-13 10:17] ficristo commented on #12577
Seems a general problem: tryed with sql, cc, and js snippet of code.
[code]
/cc @thehogfather

[2016-07-13 12:21] #12515 closed

[2016-07-13 14:00] ficristo commented on #12522
Brackets doesn't have Copy&Paste as contextual menu.
Do you have an extension that add them? If so, you should file a bug against that extension.

[2016-07-13 14:02] ficristo commented on #12560
[code]

[2016-07-13 15:26] mikeyrizkalla opened #12590 "brackets freezes several times a day"
I have been using brackets pretty regularly to make basic websites but for the past few weeks it has been freezing several times a day which makes it virtually impossible to get any work done.

For example: When I'm writing css and just click over to my index.html page it completely freezes and goes white.

I tried uninstalling and re-installing but the exact same thing is still happening. I have

[2016-07-14 01:22] sdcinglis commented on #11826
Any news on an upcoming fix? This has been happening to me for a few weeks now.

[2016-07-14 09:10] ficristo commented on #12581
I think you don't have the required libs installed.
Have you tryed what mentioned in [here](https://github.com/adobe/brackets/issues/4816#issuecomment-67396919)?
It seems you have to update `glibc`.

[2016-07-14 09:18] ImAnnoying commented on #12583
IIRC, you can enable Experimental Live Preview and have it work with other browsers like Firefox

[2016-07-14 09:24] SamKeightley commented on #12583
I'm curious, why the hate for Google? I love what they doXD Also I'd like to recommend atom as a text editor as well:)

[2016-07-14 14:16] REBAUD commented on #11826
This issue exist for a while now and it's very annoying.
Any solution to avoid it?

it disappears after relaunching brackets but come again after some time.

[2016-07-14 14:50] addui commented on #12232
So has the bug's cause been identified and fixed? Is it fixed in source? If not then there is no point in running from Source yet.

[2016-07-14 16:57] redmunds commented on #12590
Start by looking at the Troubleshooting doc in Brackets Wiki: https://github.com/adobe/brackets/wiki/Troubleshooting#-brackets-is-running-slow

[2016-07-14 18:07] SteveChab commented on #11826
With the last release of Brackets (1.7, June 8), the problem went away for me. But today, it resurfaced. I thought it might have something to do with syncing software like git or box. Not the culprit. :(

[2016-07-15 02:04] #12121 closed

[2016-07-15 09:21] petetnt commented on #11826
For what it's worth I haven't ran into this issue myself at all after #12175 was merged.

As always, if you are running into this issue, please also post the extensions, versions and platforms you are using Brackets on, for example by posting the Health Report under `Help -> Health Report`.

For example `brackets-git` has an known issue of nuking the history (as described on https://github.com/zag

[2016-07-15 11:16] scopolamin commented on #11826
**How to reproduce the bug - always!**

[2016-07-15 11:29] petetnt commented on #11826
@scopolamin Like I said, that obviously doesn't occur to everyone, including myself. That's why the Health Report and possible errors in developer console are essential on debugging the matter.

[2016-07-15 11:43] REBAUD commented on #11826
Its doesnt appear immediately for me but after few hours.

Im working under linux with brackets 1.6 (but the issue was also in 1.7) and without git plugin.

Next time i will do a health report

[2016-07-15 12:30] scopolamin commented on #11826
@petetnt I tested this on tree different systems. Linux Mint, Windows 7, Windows 10 ... I happens **always** and on the first try (and even with extensions disabled).

But maybe it's a question about the "expected behavior"?
Maybe you just expect a differend behavior then the users in this thread?
So again, with some comment:

![inspector](https://cloud.githubusercontent.com/assets/3865239/1687420

[2016-07-15 12:43] petetnt commented on #11826
@scopalamin That's actually how the editing should work. After you type `a`, the history stack is `[a]`. When you undo it, the history stack is `[]`. When you type `b`, the stack is `[b]`. When undo that, the stack is empty again -> `[]`.

However, if you instead just remove the character, the stack will look like this:

[code]

In which case the history will work as `b -> empty -> a`.

[2016-07-15 12:48] scopolamin commented on #11826
@petetnt
Sure, makes sense! Seems like my "sample" was just a "juhu, I found a working sample" while I messed up with the logic. Sorry.

[2016-07-15 12:48] REBAUD commented on #11826
Agreed with @petetnt

In my case, i do modification on the file and next do a ctrl+s. But it seems that the history stack is empty after this because nothing happen if i do a ctrl+z after.

I hope that i will be able to provide a log soon

[2016-07-15 19:17] roicos commented on #12102
Here https://github.com/roicos/brackets-changing-tags I create a "Changing tags" extension.
Please, be free to coment if it can be improved. I see one thing that should be done better, but have difficulties with the solution: if you changed tag, pair tag automatically changed, but if you press Ctrl+Z, only last change cancels. I thought about document.batchOperation() but the first change is made

[2016-07-16 08:26] paddy1228 opened #12591 "Nested folders won't open in v1.7"
On clicking a nested folder, it closes the parent folder. Renaming also doesn't work.

[2016-07-16 16:42] JohnCido opened #12592 "Can't change the project folder in Brackets"
This occurred several times already and everything turns out fine after several days or so. But this happens from time to time, which really kind of messed up my develop work. I tried to use DeveTool and messages I got listed below:

I also find out that if I launch Brackets and do nothing for some time and it'll have a chance working fine again.
For extensions, I tried to disable them one by one

[2016-07-16 17:43] 4ndv commented on #12539
No reason to use Brackets anymore, hello Atom :(

[2016-07-16 19:30] marmistrz opened #12593 "[Firefox Live Preview] 404 Not found after modifying the source"
I grabbed the following HTML5 template: https://html5up.net/stellar

I launched the live preview in Firefox. The page loaded properly. I edited the `main.css` file. The page "reloaded" but Firefox reported:

     GET http://127.0.0.1:36548/images/background.jpg [HTTP/1.1 404 Not Found 1ms]

I'm running Arch Linux, Firefox 47.0.1 and Brackets 1.7.0.

[2016-07-17 05:48] Justin-Turner-Overdrive opened #12594 "Live preview not working for HTML"
Went through your troubleshooting guide. Html file is in working set. There are no syntax errors in code. CSS live is working perfectly. Reload without extension makes no difference. Restarting brackets and chrome makes no difference. Tried a different project, same results. Not running my own server, just stock live preview setup for projects living on my desktop.

Brackets Release 1.7 build 1.7.

[2016-07-17 06:57] busykai commented on #12522
As @ficristo explains, Brackets only supports keyboard shortcuts. Please file the issue against the extension which provides the context menu items.

[2016-07-17 06:57] #12522 closed

[2016-07-17 07:12] busykai commented on #12592
@JohnCido, it sounds like something (a firewall, maybe) preventing the editor from connecting to its `node.js` instance. By default on Mac you may check that connections to `Brackets-node` are allowed by going to _System Preferences -> Security and Privacy -> Firewall -> Firewall Options..._. If you're using some other security software, make sure it's configured to allow connections to `Brackets-

[2016-07-17 07:17] busykai commented on #12591
@paddy1228, does the #10574 sound like the issue you're seeing? Basically, right now you need to click on the name of the nested folder to close/open it. Clicking on the area left to it will result in collapsing the parent folder. Is this what you're seeing?

[2016-07-17 14:36] mcmyt opened #12595 "Almost nothing is working when updated to 1.7"
Hello,

I've just updated brackets to 1.7 and almost nothing is working, I can't open folders (The window to select one doesn't even appear), I don't have the folders I'm used to work on anymore on the left, the popup doesn't open when clicking on the plugins icon etc... really nothing is working. I'm stuck and have some urgent work to finish.

![180aa0454d83e25ebc5b84744ab7d7e5](https://cloud.git

[2016-07-17 15:25] nethip commented on #12595
@mcmyt You could try deleting `cef_data` folder. this would be present at `~/Library/Application Content/Brackets/cef_data` . Relaunch Brackets app.

[2016-07-17 20:00] Justin-Turner-Overdrive commented on #12594
Also, _Live Preview Highlight_ is not working for me in html code. Works fine in CSS.

[2016-07-17 21:17] ACPixel opened #12596 "No api function to replace all text on a specific line."
like the title said, i did a ton of digging and could not find a function to replace a full line of text, or get all text on a specific line. im trying to write a neat little extension, but i need to be able to get all the text on a line whenever its changed, (basically on change event that outputs what line was changed and all thext on that line) and i need to be able to replace all text on a cer

[2016-07-18 01:01] vsmith72 opened #12597 "Quick Edit panels too long"
I noticed with the latest version of Brackets (1.7) the quick edit panel is very long.
![capture](https://cloud.githubusercontent.com/assets/19600175/16904321/7ac935b4-4c48-11e6-9c78-b6a3a2a007f8.PNG)

[2016-07-18 01:12] Justin-Turner-Overdrive commented on #12594
One (hopefully) final note... I tried bringing up dev tools in the debug menu (to see console errors), but nothing opens when I select Debug→Show Developer Tools. Same for keyboard shortcut. Tried restarting, but Brackets won't quit normally. Takes a force quit to kill it.

[2016-07-18 02:53] nethip commented on #12597
@vsmith72 This change may not be specific to 1.7. Are you seeing the same after restarting Brackets and doing a QE ?

[2016-07-18 03:37] pabrunson opened #12598 "Mouseover highlight doesn't work"
I have just learned about Brackets and was following along with a video tutorial about creating a webpage in Brackets (where I learned about it). In the tutorial, the code lines highlight when the mouse runs over the code. You can also see the mouse-over effect in the live preview. I have selected "Highlight Active Line" under view in Brackets, but mousing over the code does nothing. The only way

[2016-07-18 05:30] nethip commented on #11826
I am thinking of some test scenarios to get to the root of the problem. Will anyone be able to try some steps that I had outlined below.

 * Disable Node temporarily and work in that mode for a while. This is to rule out if any node related feature(s) is causing this failure. On *Windows/Linux* you could go to the installed folder location and rename `node-core` to something like `node-core-disabl

[2016-07-18 05:39] cekpek commented on #11826
@nethip i can confirm (at least on my case) that i am not using Find In Files when this problem occur.

[2016-07-18 05:50] nethip commented on #11826
@cekpek Thanks for confirming. Did you get a chance to look at the `Working Files` to see any duplicate entries?

[2016-07-18 05:51] nethip commented on #11826
@cekpek Also could you follow the steps above to disable `node` related features and check if this happens again?

[2016-07-18 05:59] cekpek commented on #11826
@nethip as for the duplicate entries, i am not too sure, as far as i remembered, the last time i lost my code was the entire controller code of angular apps, so i am assuming there is no duplicate controller in the `Working File`. I will try to disabled the node the next time i code using Brackets (as i have move to sublime text right now).

[2016-07-18 07:07] Isaac2k1 opened #12599 "post processor signature problem"
By using Brackets, called from Fusion360 I get following error message:

Information: Configuration: Generic Burny Plasma (WADR)
Information: Vendor: Lincoln Electric
Information: Posting intermediate data to 'I:\HG\Lab\10 MA Ordner\Mailand\ACAD\11.cnc'
Error: Failed to post process. See below for details.
...
Code page changed to '1252  (ANSI - Latin I)'
Start time: Monday, July 18, 2016 7:03:38

[2016-07-18 07:36] petetnt commented on #12596
Hi @ACPixel,

see the [documentation on `CodeMirror`](https://codemirror.net/doc/manual.html#commands) which provides the editor Brackets uses for replacing complete lines. Specifically:

and

Replace the part of the document between from and to with the given string. from and to must be `{line, ch}` objects. to can be left off to simply insert the string at position from. When origin is given, it

[2016-07-18 16:34] redmunds commented on #12594
JTO (@Justin-Turner-Overdrive), what is the file extension of your HTML doc? Brackets only recognizes "htm", "html", and "xhtml" as static HTML files.

[2016-07-18 16:36] dekdevy commented on #11826
Still having this problem every other day. :(

[2016-07-18 17:00] VanagaS opened #12600 "File delete needs confirmation"
When right clicking on a file and selecting delete, it doesn't ask for a confirmation and just deletes the file. Quite dangerous!

[2016-07-18 18:19] vsmith72 commented on #12597
Yes I still get it after restarting brackets.  I use WE all the time and it only stared doing this after I installed 1.7

Sent from my iPhone

[2016-07-18 20:12] Justin-Turner-Overdrive commented on #12594
It's .html

I also tested an older project, same results.

[2016-07-19 00:22] Adriano87 opened #12601 "Brackets!!"
Olá boa noite,eu gostaria que o editor Brackets fosse multi browsers,ou seja a renderização deveria ser para todos os navegadores modernos.

[2016-07-19 05:07] schroef commented on #12526
Sorry for the long wait, but putting in you code with cmd+shift+G actually goes to the usere folder. I the main library there is no bracket app. ive deleted every thing accept the extensions. Still the app freezes up on load

[2016-07-19 05:18] schroef commented on #12526
OKay when i load this extension, brackets gets stuck

`malas34.brackets-console-plus`

[2016-07-19 11:13] petetnt commented on #12601
Hi @Adriano87,

if I understood you correctly (through Google Translate), you can already use the Live Preview feature in Brackets with any browser.

[2016-07-20 00:55] redmunds commented on #12594
@Justin-Turner-Overdrive

File needs to be in project tree, so make sure _File > Open Folder_ selects folder that contains all of your project files.

Not sure what else it could be. Did you try _File > Enable Experimental Live Preview_ ? That will open in page in your default browser, and then you can copy/paste url to any other browser and see edits in multiple browsers at once.

[2016-07-20 01:39] vsmith72 commented on #12597
It was Overscroll that caused the issue [https://github.com/Emmeran/brackets-overscroll](url)

[2016-07-20 03:54] Justin-Turner-Overdrive commented on #12594
html and css are both in the project tree, both in working set on a horizontal split. I included a video in my first post that shows the folder hierarchy... pretty standard stuff— html in root of project folder, css and images and js in their own folders.

I've tried both experimental (which chrome and safari), and regular (chrome obvs), no differences in behavior.

I suppose I'll try a fresh inst

[2016-07-20 04:26] Justin-Turner-Overdrive commented on #12594
I figured this out, and it was my own fault.

Like I said, I'm new... and have been doing all my studying in CodePen for the past year. So I got in the habit of not typing <html></html> elements. Somehow Chrome was still displaying my local projects just fine without them, so I never noticed.

Adding the <html> elements to all my projects fixed this issue.

[2016-07-20 04:26] #12594 closed

[2016-07-20 05:32] janukawijesinghe opened #12602 "Extract for Brackets to work with Experience Design"
Brackets Code Editor has good integration with PSD Files, which allows it to grab layers, colors, font details and spacing info. More on that here (https://helpx.adobe.com/creative-cloud/help/extract-for-brackets.html)
I wonder whether you can work on features that allow Adobe Extract to grab data(images, font names, sizing info etc) from XD and transfer for Brackets, the same way it happens to PS

[2016-07-20 06:45] Lulucmy opened #12603 "Brackets on RaspberryPi ?"
Hello,

I'm using a Raspberry Pi 3 but I can't install Brackets  because  I have armhf and Brackets only works  with 64-bit and 32-bit... Is there an other release for armhf ?

Thanks :)

[2016-07-20 07:51] KorvinAmber opened #12604 "Problems with compilation"
Problems with the compilation of the less in css.
LESS AutoCompile plugin installed.
// Out: ../style.css, compress: true, it is written. However, the compilation does not work.
How to fix?
![screenshot_3](https://cloud.githubusercontent.com/assets/20553307/16979037/aaba9c6a-4e67-11e6-969b-ed715ab0ffeb.png)
![screenshot_4](https://cloud.githubusercontent.com/assets/20553307/16979036/aabaa0fc-4e67-

[2016-07-20 08:22] ficristo commented on #12604
Have you looked at `Debug \ Show developer tools` to see if there is any error?

PS: it would be better to file extension problems on extension repo.

[2016-07-20 08:30] ficristo commented on #12603
If you search other ARM issues, it seems to me that is not supported.
So I think you are pretty much on your own.
If you want to take a look to hack the [bracket-shell](https://github.com/adobe/brackets-shell)...

[2016-07-20 17:30] REBAUD commented on #11826
my health report:

{
    "uuid": "95028d3c-9239-48ed-afef-58c1f867814b",
    "snapshotTime": 1469035758604,
    "os": "linux",
    "userAgent": "Mozilla/5.0 (X11; Linux i686) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/29.0.1547.80 Safari/537.36",
    "osLanguage": "en",
    "bracketsLanguage": "en",
    "bracketsVersion": "1.6.0-16680",
    "fileStats": {
        "openedFileExt": {

[2016-07-20 19:16] ficristo commented on #12600
The deleted file should be in the Recycle Bin.
That said there is a pending PR: https://github.com/adobe/brackets/pull/10258

[2016-07-21 03:58] k4kfh opened #12607 "Brackets not saving files?"
For some reason Brackets is not saving the JSON file I'm trying to edit.  Brackets seems to think it is saving fine, and remembers the saved changes somehow, but Chrome has the wrong version of the file in live preview, and ``cat`` and ``gedit`` both have the same problem Chrome has. Not sure what's up with this, but I'm happy to provide more information.

[2016-07-21 03:58] #12607 closed

[2016-07-21 08:27] petetnt opened #12608 "currentFileChange listener error leads into a maximum call stack size exceeding RangeError"
Been running into this lately. Sometimes when you go and which the file in working tree or in file tree, Brackets hangs for a long while (seconds to minutes to forever). After it recovers you'll, console is filled with errors:

[code]

For some reason Brackets goes into an endless loop of `setActivePaneId`:s and which lead to `_activeEditorChange`s.  Quite possibly an `splitViewSameDoc` error.

/c

[2016-07-21 14:53] jburdi commented on #12580
This theme does a great job with syntax highlighting for php - https://github.com/cithukyaw/DreamPHP

[2016-07-22 09:34] thehogfather commented on #12577
@edelsonc  @ficristo This is a bug from the version of CodeMirror included in Brackets. The issue will disappear once brackets upgrades code mirror whenever that is.

As a workaround, the comments are foldable if there is a space before the first `/*`.

[2016-07-22 09:48] ficristo commented on #12577
@thehogfather good to know!

Another thing is that would be nice to be able to collapse comments that span on multiple lines (and use line comments).
[code]
Maybe too hard / peformance sensitive but still...

@edelsonc I'm sorry to have hijacket your issue...

[2016-07-22 09:50] ficristo opened #12609 "Update CodeMirror"
As usual there are some fixes on CodeMirror.
It would be nice to start looking at updating it.

/cc @MarcelGerber @MiguelCastillo

[2016-07-22 11:40] thehogfather commented on #12577
@ficristo would require writing a range finder for single line comments that span multiple consecutive lines - so not too hard.

Might be worth creating a separate issue so we can discuss the implications of such a use case. The actual range finder should be relatively easy to write.

[2016-07-22 11:41] greieras opened #12610 "Title files in top bar"
I wish to have brackets file open , separately in top bar, as notepad or sublime have them. How can I do that?

[2016-07-22 11:48] ficristo opened #12611 "Collapse comments that span on multiple lines (and use line comments)"
It would be nice to be able to collapse comments that span on multiple lines (and use line comments).
[code]
I imagine this could be too hard / peformance sensitive so if we decide to implement this, we should add a preference.

See https://github.com/adobe/brackets/issues/12577

[2016-07-22 11:51] ficristo commented on #12610
If you mean tabs, Brackets doesn't support them.
However you can try to install an extension. For example https://github.com/DH3ALEJANDRO/custom-work-for-brackets

[2016-07-22 12:35] greieras commented on #12610
YES TABS ,sorry I didn't know exactly how to name those features, well
then, is ok, I will try to install this plugin, but the problem really was
like, when I have many files opened, let's say more then 5, that panel from
the left, above the project explorer become scrollable and all the time I
have to scroll down and up for specific file, which I work at. That's all.
Thank you.

On Fri, Jul 22, 2

[2016-07-22 13:16] w1-mikebrouwer opened #12612 "Brackets freezes after a period and can only be closed using TaskManager"
The situation:
You are developing a website (on a ftp connection using Synapse), all the time switching between Chrome and Brackets.
After a random period of time (but minimal 40-50 minutes, never less) Brackets freezes when I go back from Chrome to Brackets. After like 10-20 sec Brackets works again. But the next time Brackets gets minimized it will stay frozen when you open it again. Only way of

[2016-07-22 13:31] ficristo commented on #12610
Oh, I think you will have a similar problem also with that plugin...
Alternatively, have you tryed `Navigate \ Quick Open`? You can write the name of the file you are looking for.

[2016-07-22 13:41] ShinDarth commented on #12534
Confirmed also on Ubuntu 16.04

[2016-07-23 09:27] #11087 closed

[2016-07-23 09:38] MarcelGerber commented on #11087
This should be fixed now that #11284 was merged.

[2016-07-23 11:24] #9496 closed

[2016-07-23 11:25] MarcelGerber commented on #9496
This should now be fixed. Please check and let us know whether you still see this issue.

[2016-07-23 11:25] #4888 closed

[2016-07-23 11:26] MarcelGerber commented on #4888
This should now be fixed. Please check and let us know whether you still see this issue.

[2016-07-23 11:27] ficristo commented on #12144
There are still some failures on master:
- Integration \ FindInFiles
- Extensions \ Code Folding (this should be fixed updating CodeMirror)
- Extensions \ SVG Code Hints

@MarcelGerber can you look at all the failures? I would prefer to have a clean situation before looking more at CodeMirror.

[2016-07-23 16:04] FTG-003 commented on #12515
Hi guys ,
Just to inform you that Brackets still crash on Ubuntu 16.04 (Xenial Xerus) X64
No luck with any of these combinations and tips to work around the problem, unfortunately.

Can someone help me to solve this issue splease?
**_I love Brackets and and I'd really like to keep using it and share it's development in the community._**

Thanks in advance! :shipit:

[2016-07-23 17:54] theosanthropos opened #12614 "Right-clicking Bugged."
Release 1.7 experimental build 1.7.0-16898 (release b0a363b71)
build timestamp: Wed Jun 15 2016 10:33:42 GMT+0000

Ubuntu 16.04 LTS, 64bit.

Bugged Feature: Right-click function.

Description of Bug:

When loading various documents into horizontal, split views, the right-click function becomes unresponsive. Other than reloading Brackets, the only working solution seems to be selecting a document f

[2016-07-24 07:39] Cath-O commented on #12526
I had the same issue.

I started by removing cef_data, and the 2x .json files.

After no difference - moved malas34.brackets-console-plus to disabled plugins - Brackets now works.

[2016-07-24 08:10] MarcelGerber commented on #9311
In the next Brackets release, there will be a pref `lineWiseCopyCut`, which you can disable so this doesn't happen again,
Closing.

[2016-07-24 08:10] #9311 closed

[2016-07-24 08:10] MarcelGerber commented on #8651
A Confirm dialog is now shown when deleting a file.
Closing.

[2016-07-24 08:10] #8651 closed

[2016-07-24 08:11] MarcelGerber commented on #10190
A Confirm dialog is now shown when deleting a file.
Closing.

[2016-07-24 08:11] #10190 closed

[2016-07-24 11:09] petetnt commented on #12612
Possibly related to #12608

[2016-07-25 06:03] vvks commented on #11826
@nethip I have been using brackets with node-core disabled for the last couple of days and haven't encountered the issue since.

**NOTE:** I am not sure whether it is because node-core is disabled or because of the nature of the bug (as it has no STR). I'll continue using brackets this way for sometime to be sure.

[2016-07-25 07:59] sipersoft opened #12616 "Missing Brackets' files on local system (Mac OS X El Capitan)"
Not sure if *Issues* is an appropriate place to put this, but I'm at a loss.

There are a few persistent bugs popping up, that require direct editing of Brackets' files. But, I cannot find said files.

I've started a [Stack Overflow Thread](http://stackoverflow.com/questions/38536163/mac-osx-adobe-brackets-cannot-find-file-js-part-of-brackets-to-edit-stat) regarding the same issue, but no bites th

[2016-07-25 09:52] nethip commented on #12616
@sipersoft I think you are referring to the *minified* files that go along with the installation. The debugger must be showing the source because of the source maps file `main.js.map`. You could set up the dev environment and run Brackets from the dev folder. Please refer to [this wiki] (https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets) to setup dev environment. Once done, you could

[2016-07-25 11:55] soniajay80 opened #12617 "Sudden white screen in Bracket when trying to edit any JS file"
Hi,
![bracketwhiteissue](https://cloud.githubusercontent.com/assets/20641303/17100546/b406688e-528c-11e6-9a30-4ce87a398e93.jpg)
Bracket editor become white and also not responding when i try to edit some content. It is not a fixed time pattern issue, sometime within 1 or 2 min it will happen but sometime after 10 min,

Below are my environment and Bracket version details:

Bracket Version: Release

[2016-07-25 12:58] Ripley6811 opened #12618 "Request: Remove dark backdrop for "Themes Settings" modal"
This is a feature request.

When clicking through all my installed themes in the "Themes Settings" modal, the darkened backdrop obscures the view of the themes changing. It would be nice to remove the backdrop for this particular modal.

I'm using Release 1.7 build 1.7.0-16898 (release b0a363b71)

[2016-07-25 21:32] animationfund2 opened #12619 "Automatic close braces issue?"
Is there a way for Brackets not to end a code? For example: &lt;ul&gt;&lt;li&gt;&lt;/li&gt;&lt;/ul&gt;. It automatically adds in &lt;/li&gt;&lt;/ul&gt; I saw the option Edit >> Auto Close Braces. I have that option off and unfortunately it still automatically adds the end part of the code. Is there any way to fix this? Thanks!

[2016-07-25 21:58] RaymondLim commented on #12619
@animationfund2 That is not for close tag options. You need to update your preferences by selecting Debug > Open Preferences File. Then copy the close tag preferences from the defaultPreferences.json to your preference file and make some necessary changes.

[2016-07-25 22:44] paulrevival commented on #12595
I have the same problem both on linux (ubuntu 16.04 64bit) and win 10 64bit. Deleting cef_data folder does nothing :(

[2016-07-25 23:49] animationfund2 commented on #12619
Thanks for the help!

[2016-07-26 06:48] iegik opened #12620 "Using File Filters"
Please add ability to read and .*ignore files and exclude by these rules

https://github.com/adobe/brackets/wiki/Using-File-Filters

[2016-07-26 07:17] petetnt commented on #12617
Hey there @soniajay80,

next time you are using Brackets, could you open your `Developer Tools` (from Debug -> Show Developer Tools) if by some chance the developer tools wouldn't hard crash too and we would get some errors to log by. Just keep the window open and then check the Console in the tools when the hard crash occurs.

[2016-07-26 07:17] petetnt commented on #12614
Hi @theosanthropos,

when this occurs, do you see any errors in the DevTools (Debug -> Show Developer Tools)?

[2016-07-26 07:58] webfri opened #12621 "library extension"
Hi guys!

Does exist an extension to use libraries such as the ones in Dreamweaver?

Thanks for your help.

[2016-07-26 09:55] sakshamgoyal01 opened #12622 "new feature request"
add collaboration feature where you can share your code and work togeter!!!

[2016-07-26 12:38] #12609 closed

[2016-07-26 15:28] #12075 closed

[2016-07-26 19:48] dashingspidy opened #12623 "Indentation Shortcut doesn't works"
Hello,

I'm using Brackets on Mac OS 10.11.6 (El Captain)
KeyBoard layout: Belgian French

Indentation shortcut is:  `cmd + ]` . To get `]`i have to hold `alt + shift + )` but every time i do this  it select `Expend Current` shortcut, which is `alt + cmd + ]`.

Please let me know if you have another solution for this. Thanks

[2016-07-26 20:57] RaymondLim commented on #12623
@dashingspidy You need to customize your keyboard shortcuts for your specific keyboard layout. Select "Open User Key Map" from Debug menu and add your new keyboard bindings. See https://github.com/adobe/brackets/wiki/User-Key-Bindings for how to specify new key bindings.

[2016-07-26 21:25] edDimensi opened #12624 "URLCodeHints for stylus and jade(pug)"
How to enable URL Code Hints for stylus, jade(pug) files?

[2016-07-27 00:21] #12619 closed

[2016-07-27 09:47] medianagraphic opened #12625 "toggle icon not work"
when i use split mode button toggle not work !

[2016-07-27 15:42] thany opened #12626 "Can't always type €"
About half the time I want to, I can't type the € symbol. It works fine in all other programs.

On my particular keyboard layout (US with €-sign) I can type the € by pressing Ctrl+Alt+5. One can produce consective € signs by holding Ctrl+Alt and hitting the 5 key multiple times. One can also let go of all keys and re-press the whole Ctrl+Alt+5 every time.

In Brackets, *when* the € doesn't work (i

[2016-07-27 18:04] abose commented on #12603
Brackets do not officially support ARM-based environments. Chromium seems to be available for  RPi. This should make it technically possible to port brackets-shell to ARM. But it would require significant effort. Closing as answered.

[2016-07-27 18:04] #12603 closed

[2016-07-27 18:07] abose commented on #12610
Closing as this was a conscious UX design for brackets.

[2016-07-27 18:07] #12610 closed

[2016-07-27 18:09] abose commented on #12604
As brackets-less-autocompile is an extension, we can do little about fixing the issue. Please log an issue in the extension repo at [https://github.com/jdiehl/brackets-less-autocompile](https://github.com/jdiehl/brackets-less-autocompile).
Closing as extension problem.

[2016-07-27 18:09] #12604 closed

[2016-07-27 18:11] abose commented on #12601
Closing as answered. Please feel free to reopen this if you issue is not resolved.

[2016-07-27 18:11] #12601 closed

[2016-07-27 18:12] abose commented on #12600
Should be fixed in the next release thanks to @MarcelGerber .Closing as fixed.

[2016-07-27 18:12] #12600 closed

[2016-07-27 18:16] abose commented on #12602
Thanks for logging this new feature request. Extract service is now discontinued in brackets.
[http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/ ](http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/)
Closing.

[2016-07-27 18:16] #12602 closed

[2016-07-27 18:20] abose commented on #12599
Can you give more details on what exactly the problem is? Contributors to the brackets projects may not know about fusion360/prost processing things. A write-up detailing the issue could help us in understanding the issue.

[2016-07-27 18:21] abose commented on #12223
Closing long pending issue. Please feel free to reopen if the problem persists.

[2016-07-27 18:21] #12223 closed

[2016-07-27 18:27] abose commented on #12194
Closing long pending issue. Please feel free to reopen if you still face the problem.

[2016-07-27 18:27] #12194 closed

[2016-07-27 18:27] abose commented on #12189
Closing long pending issue. Please feel free to reopen if you still face the problem.

[2016-07-27 18:27] #12189 closed

[2016-07-27 18:28] abose commented on #12186
Closing long pending issue. Please feel free to reopen if you still face the problem.

[2016-07-27 18:28] #12186 closed

[2016-07-27 18:29] abose commented on #12018
Closing long pending issue. Please feel free to reopen if you still face the problem.

[2016-07-27 18:29] #12018 closed

[2016-07-27 18:29] abose commented on #12020
Closing long pending issue. Please feel free to reopen if you still face the problem.

[2016-07-27 18:29] #12020 closed

[2016-07-27 18:30] abose commented on #11935
extract is deprecated. Closing.

[2016-07-27 18:30] #11935 closed

[2016-07-27 18:38] MarcelGerber commented on #11079
This will finally be fixed in the next version of Brackets.
Closing,

[2016-07-27 18:38] #11079 closed

[2016-07-27 21:16] doom-fr commented on #12560
thanks for your message and sorry for the delay of answer.

I have tried with your piece of code, with and without extension. It is the same. I can fold the switch statement, but not the case statement.

I am french and the language was setting to 'Default system language'. I have changed it to english (uk) and after english (us). No change.

My version of brackets is Release 1.7 build 1.7.0-16898

[2016-07-28 09:03] thany opened #12627 "Brackets stopped working"
I just got this message after hitting Ctrl+S:
![capture](https://cloud.githubusercontent.com/assets/152227/17207011/cd7e34d6-54b2-11e6-98d9-9746786383ff.png)
On Windows 10, Brackets 1.7.

I can't do debugging. I don't have the symbols installed. But after "closing" Brackets, it keeps running with *only* its window frame intact, and the rest white.

[2016-07-28 09:06] thany commented on #12627
I did the exact same change again, saved it successfully, and now Brackets crashes afterwards. WTF?

Is there something so badly wrong with my code that Brackets must crash on it? What gives?

[2016-07-28 10:31] petetnt commented on #12626
Hi @thany,

does this occur without extensions too?

[2016-07-28 10:33] petetnt commented on #12625
Hi @medianagraphic,

could you give an example when (and which) icon does not work? There's an issue with same doc being open on both panels, which has a fix here: https://github.com/adobe/brackets/pull/12248

[2016-07-28 11:45] thany commented on #12626
Good point, it does not.
What's the best way to see which one is interfering? I have quite a few installed...

[2016-07-28 11:46] accjiyun commented on #10465
sudo apt-add-repository ppa:webupd8team/brackets
sudo apt-get update
sudo apt-get install brackets

[2016-07-28 12:32] petetnt commented on #12626
Try this extension: https://github.com/redmunds/brackets-display-shortcuts

[2016-07-28 14:10] thany commented on #12626
Ah! It's part of the [Markdown Toolbar](https://github.com/alanhohn/markdown-toolbar) extension (Ctrl+Alt+number for such-and-such level heading).

Now the question is: where is the bug? Is it in Brackets for allowing Ctrl+Alt+ shortcuts which in Windows map to special characters, or is it a bug in said extension for registering such hotkeys? I will file an issue there because registering Ctrl+Alt

[2016-07-28 18:42] petetnt commented on #12626
Basically there is no bug, everything works as indented. Keyboards are different across the world, which is why it's always pretty hard to find any shortcuts that don't interfere with some other functionality.

However in https://github.com/adobe/brackets/issues/12131#issuecomment-176702665 I proposed a system that works around this issue by introducing localizable keyboard shortcuts for these kin

[2016-07-28 18:46] petetnt commented on #12627
Duplicate of #12617? Do you have a example that crashes Brackets? Never seen this one before

[2016-07-29 12:35] dashingspidy commented on #12623
I can understand but it doesn't make sense if `cmd + ]` shortcut doesn't works. Same shortcut works on other editor like sublime text and VSCode. why would it select ` alt + cmd + ] `instead of given command? Obviously something is wrong!

[2016-07-29 13:45] ficristo opened #12629 "Cannot read property 'file' of null"
I was running in this today:

[code]

There are some `null` values in `_mrofList`. We should be sure this never happen or check for them.
/cc @swmitra

[2016-07-29 14:30] petetnt commented on #12629
Related to #12608?

[2016-07-29 14:30] Ravi52 commented on #12186
when I click on the open folder from the file menu.so that I can open
multiple files. that time it hangs.

On Wed, Jul 27, 2016 at 11:59 PM, Arun Bose <notifications@github.com>
wrote:

[2016-07-29 15:15] petetnt opened #12630 "Faulty highlighting when line numbers are not enabled"
![image](https://cloud.githubusercontent.com/assets/7641760/17253036/a436b00c-55b7-11e6-87bb-05eb2ebd3657.png)

When I was trying to address this comment on the indent wrapping hack PR https://github.com/adobe/brackets/pull/12110#issuecomment-228483676 I noticed that the faulty highlighting isn't due to the indent wrapping hack.

Never noticed this before because I never have line numbers off.

[2016-07-29 17:13] moueza opened #12631 "for of agnostic"
It does not recognize the for(let x of y) form

[2016-07-29 17:58] ficristo commented on #12631
@moueza can you provide more details? Possibly share the problematic snippet of code.
I see ```for(let x of y)``` correctly syntax highlighted on Brackets 1.7 with javascript language.

[2016-07-30 04:16] blackmiaool commented on #11826
@tansiner Infact, this bug started from 1.5. So I'm using 1.4 now.

[2016-07-30 04:22] SalvorinFex commented on #12532
Well, I would like to use Canary and Chromium for Live preview.
As that quote states, but I have not found where to make those changes to facilitate that .

[2016-07-30 11:57] ficristo commented on #12595
You could try to move all your extensions under the `disabled` folder to see if it is an extension problem.
Mac: `~/Library/Application Support/Brackets/extensions/disabled`
Win: `C:\Users\<user>\AppData\Roaming\Brackets\extensions\disabled`
Linux: `~/.config/brackets/extensions/disabled`

[2016-07-30 15:54] HannahHam08 opened #12632 "Live Preview Only Showing 'Getting Started'"
Currently I'm trying to use the Live Preview function and it is not working correctly.

I'm in my project that I want to view, and have done the usual 'File' -> 'Open Folder' to set it as the current folder, but still it only shows the 'Getting Started' file.
I'm not sure what to do to fix this.

[2016-07-30 17:44] redmunds commented on #12532
The easiest solution is to turn ON "experimental" Live Preview here:
_File > Enable Experimental Live Preview_

Live Preview opens in whatever you set to be your default browser. Then you can copy the URL and paste it into any other browser.

[2016-07-30 17:50] abhinavluv opened #12633 "Brackets not working"
Getting an error "The application was unable to start correctly (0xc0000022). Click OK to close the application." Previously was getting an error for access related issues, so gave full control to the brackets application and brackets directory. After giving full control, i started getting this error.

[2016-07-30 18:24] RaymondLim commented on #12630
@petetnt I found out that just changing `@code-padding: 15px;` to `@code-padding: 0px;` fix the indentation issues for all cases.

[2016-07-30 20:10] petetnt commented on #12630
@RaymondLim interesting, I thought I tried that out yesterday when checking out your comment! I'll try that out and update the indent-wrap PR asap

[2016-07-30 21:28] rcosgrave commented on #10845
Thank you @peterflynn !!!! I should have known

[2016-07-30 21:46] markljackson commented on #12633
What version of Brackets, and what O/S are you on?

[2016-07-30 21:49] thany commented on #12627
Unfortunately, I can't reproduce it. Even if I could, I'd have no idea what circumstances would cause this, so I still wouldn't be able to tell you how to reproduce it. Not only that, but magically I'm not getting this crash anymore.

It could have been webkit messing things up (wouldn't be the first time if I look at what Chrome manages sometimes), so if that's the case, all we can do is to keep

[2016-07-30 21:50] markljackson commented on #12632
Have you selected a FILE to preview, or just the folder?

[2016-07-30 22:35] RaymondLim commented on #12630
@petetnt Don't use it with any other changes in your PR. Just that simple change. I did verify with main editor and inline editor (both with line numbers and without line numbers). Not sure what other side effects this change might introduce though.

[2016-07-31 04:47] abhinavluv commented on #12633
I tried to install the latest version which I downloaded from brackets
website. V1.7

On 31-Jul-2016 3:17 am, "Mark" <notifications@github.com> wrote:

[2016-07-31 04:48] abhinavluv commented on #12633
Forgot to mention, OS is windows 10 64 bit

On 31-Jul-2016 3:17 am, "Mark" <notifications@github.com> wrote:

[2016-07-31 08:55] ficristo opened #12634 "Spammy console running tests"
I run the unit tests with the developer console open: there are quite a few logs.
Some are deprecation warnings, I still have to understand if the others are expected.

[2016-07-31 09:37] denisftw commented on #11085
Yeah, it doesn't work on Linux, but even if it did, passing `--disable-direct-write` is not a solution.

Most Linux applications I'm aware of, including Chrome, Atom, Opera etc use font-smoothing settings from a file called `fonts.conf`, which resides at `~/.config/fontconfig/fonts.conf`. On my system, the relevant part is:

[code]

They see that it says `antialias` = `false` and understand that f

[2016-07-31 17:56] petetnt commented on #12633
Quick googling shows that this might be an anti-virus software issue. Which AV are you running?

[2016-07-31 18:20] abhinavluv commented on #12633
I too checked that.but the time I tried installing brackets, I did not have
an antivirus... I then later scanned my pc by installing an antivirus and
tried reinstalling but could go any further.

On 31-Jul-2016 11:27 pm, "Pete Nykänen" <notifications@github.com> wrote:

[2016-08-01 04:35] zaggino commented on #12494
@akashs25 @ColinRioux try out https://github.com/zaggino/brackets-typescript

[2016-08-01 04:45] medianagraphic commented on #12625
Thanks

On Thu, Jul 28, 2016 at 3:03 PM, Pete Nykänen <notifications@github.com>
wrote:

[2016-08-01 14:17] AaronRayRay opened #12637 "Code Hinting has turned off & I cannot get it back on"
Hi

Sorry if this has been done, however I cannot find a clear answer.

Sometimes code hinting turns off and usually when I close Brackets and re-open, it is working fine again. However this time it is not working at all. I notice there is a menu option "Show code hints" however it does not select when I click on it or try the Ctrl + space.

Does anyone know how to get it back on?

[2016-08-01 15:37] AaronRayRay commented on #12637
Can I just update this to say, it appears to only be code hinting within script tags when writing javascript.

When I am doing css it is still working just fine.

[2016-08-01 15:49] redmunds commented on #12637
@AaronRayRay Code hinting in a simple `<script>` tag works for me, so I suspect that it's the language or some other attribute that you have specified. Please paste in an example of your script tag.

[2016-08-01 16:24] AaronRayRay commented on #12637
Hello @redmunds

Thank you for getting back to me. I am going through a tutorial course.

The code is below what I am writing between:

[2016-08-01 16:27] AaronRayRay commented on #12637
`<script type="text/javascript">

        </script>`

So normally when I start typing between these codes docu... for example it would normally suggest document. Then after that getEle.... it comes up with a list of things I may want to select, in the case of what I am doing getElementById.

It has previously stopped displaying the hints to me, I just saved the work, restarted brackets and it woul

[2016-08-01 16:32] redmunds commented on #12637
I know that works in .htm and .html files. Does your file have some other file extension? Or maybe it's a new file that has not yet been saved to disk (so it does not yet have a file extensions)?

[2016-08-01 16:37] AaronRayRay commented on #12637
@redmunds my extensions list shows as below and the file is saved. This one is arrays.html.

![image](https://cloud.githubusercontent.com/assets/20774542/17301373/8d3f58f0-580e-11e6-98c8-d29b3cc96dfe.png)

[2016-08-01 16:41] AaronRayRay commented on #12637
@redmunds I seem to have solved it.

I just clicked on Debug > Reload without extensions

then Debug > Reload with extensions

and now it appears to be working!

Very odd....but something to try for anyone else who gets the same problem at some point.

Thank you for assisting me :+1:

[2016-08-01 16:41] #12637 closed

[2016-08-01 18:35] HannahHam08 commented on #12632
I do not know how to do that.
Clicking on the live preview button doesn't generate a drop down menu at all?

[2016-08-02 06:23] petetnt commented on #12616
Closing as answered

[2016-08-02 06:23] #12616 closed

[2016-08-02 09:14] ficristo commented on #12581
Closing as duplicate.

[2016-08-02 09:14] #12581 closed

[2016-08-02 09:15] ficristo commented on #12560
/cc @thehogfather

[2016-08-02 09:15] #12512 closed

[2016-08-02 09:16] #12499 closed

[2016-08-02 09:17] ficristo commented on #12431
ping

[2016-08-02 09:18] #12395 closed

[2016-08-02 09:18] #12394 closed

[2016-08-02 09:19] thehogfather commented on #12560
@doom-fr @ficristo make sure you have `"code-folding.alwaysUseIndentFold": true` in either your defaultPreferences.json file or your project's .brackets.json file.

[2016-08-02 09:20] ficristo commented on #12597
@vsmith72 can you open an issue on the extension repository?
Closing as extension problem.

[2016-08-02 09:20] #12597 closed

[2016-08-02 09:29] ficristo commented on #12575
@pratts thank you for have answered.
We are tracking the problem on #10255.
Closing as duplicate

[2016-08-02 09:29] #12575 closed

[2016-08-02 09:35] DatN3xus opened #12639 "UNIX Format"
I would love to see an option to change the format of wordwrap from Windows to UNIX. I'm often writing code for linux console (under Mac OS X or Win10) and get errors like: "/usr/bin/php^M: bad interpreter" because the line-end isn't in UNIX format. Notepad++ does have a possibility to change, but it's ugly.

Please include it in the next update! :)

FYI:

http://stackoverflow.com/questions/142190

[2016-08-02 10:24] ficristo commented on #12539
Closing since Extract is deprecated.

[2016-08-02 10:24] #12539 closed

[2016-08-02 10:33] ficristo commented on #12538
@Krysisx if you are still having issues after reinstalling please open a new issue.

[2016-08-02 10:33] #12538 closed

[2016-08-02 10:34] ficristo commented on #12525
@phani2791 if you are still having issues after reinstalling please open a new issue.

[2016-08-02 10:34] #12525 closed

[2016-08-02 10:38] ficristo commented on #12519
@saobangpro2991 if you are still experiencing issues with `brackets-git` is better to open first an issue on the extension repository.

[2016-08-02 10:38] #12519 closed

[2016-08-02 11:35] ficristo commented on #12584
Are you able to click on the x icon and it doesn't close?
Can you look at `Debug \ Show developer tools` to see if is there any errors?

[2016-08-02 11:37] ficristo commented on #12583
There is the Experimental Live Preview which will open your default browser.
If you have any trouble with it please open a new issue.

[2016-08-02 11:37] #12583 closed

[2016-08-02 11:38] ficristo commented on #12580
The syntax highlighting in Brackets come from CodeMirror. I'm quite sure it still miss some keywords.
Apart the keywords can you say more about what you expect?

[2016-08-02 11:41] ficristo commented on #12570
Hi @thrash646, can you share how you solved your issue?
Maybe other people will have your same problem, so they can find a solution.

[2016-08-02 11:43] ficristo commented on #12559
@SurajVerma are you still experiencing this issue? Linux builds should have been fixed since then.

[2016-08-02 11:46] ficristo commented on #12526
@schroef can you open an issue on the extension repository?
I'm closing this as extension problem.

[2016-08-02 11:46] #12526 closed

[2016-08-02 11:47] ficristo commented on #12510
Closing since the Linux build should have been fixed.

[2016-08-02 11:47] #12510 closed

[2016-08-02 11:49] ficristo commented on #12505
Closing since Linux build should have been fixed.
@CrNix if you are still experiencing some issue please open a new issue.

[2016-08-02 11:49] #12505 closed

[2016-08-02 11:49] ficristo commented on #12503
Closing as duplicate.

[2016-08-02 11:49] #12503 closed

[2016-08-02 11:50] ficristo commented on #12501
Closing since it has been fixed.

[2016-08-02 11:50] #12501 closed

[2016-08-02 11:51] ficristo commented on #12497
Closing since Extract is deprecated.
I _think_ Dreamweaver has / will have this feature.

[2016-08-02 11:51] #12497 closed

[2016-08-02 11:55] #12459 closed

[2016-08-02 11:55] ficristo commented on #12438
Closing since duplicate and extension question / problem.

[2016-08-02 11:55] #12438 closed

[2016-08-02 11:57] ficristo commented on #12443
Extension question / problem should be asked on the extension repository.
Closing.

[2016-08-02 11:57] #12443 closed

[2016-08-02 12:00] ficristo commented on #12424
The default dark theme (Brackets Dark) does highlight the tags without the underline.
Closing as theme issue.

[2016-08-02 12:00] #12424 closed

[2016-08-02 12:00] ficristo commented on #12412
@kpeacock24 Were you able to solve?

[2016-08-02 12:01] ficristo commented on #12409
Extract was deprecated and removed from Brackets. I think we can close this now.

[2016-08-02 12:01] #12409 closed

[2016-08-02 12:02] ficristo commented on #12380
We are tacking the problem on #10255.
Closing as dupliclate.

[2016-08-02 12:02] #12380 closed

[2016-08-02 12:04] ficristo commented on #12376
Closing as answered.

[2016-08-02 12:04] #12376 closed

[2016-08-02 12:39] SurajVerma commented on #12559
@ficristo Thanks for your response. I wasn't able to check as after Ubuntu 16.04 LTS upgrade, the installer wasn't working for me so I gave up. I will try and update you in a couple of hours.

[2016-08-02 13:08] Dobflem commented on #12559
@ficristo @SurajVerma This is working on Ubuntu 14.04  and Ubuntu 16.04. I have tested it on my work PC (14.04) and my home Laptop (16.04).

[2016-08-02 13:19] ficristo commented on #12403
Extract has been deprecated: http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/
Closing.

[2016-08-02 13:19] #12403 closed

[2016-08-02 13:34] ficristo commented on #12297
Extract has been deprecated: http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/
Closing.

[2016-08-02 13:34] #12297 closed

[2016-08-02 13:56] ficristo commented on #12263
Extract has been deprecated: http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/
Closing.

[2016-08-02 13:56] #12263 closed

[2016-08-02 14:15] ficristo commented on #12101
@carinlynchin are you talking about implementing drag & drop for the file tree?

[2016-08-02 14:17] ficristo commented on #12088
@NikosEfthias what do you mean exactly with _custom modules_?

[2016-08-02 14:18] ficristo commented on #12079
@FunctN are you talking about SVN?

[2016-08-02 14:19] ficristo commented on #12037
brackets.io is running. Closing.

[2016-08-02 14:19] #12037 closed

[2016-08-02 14:25] ficristo commented on #12001
Extract has been deprecated: http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/
Closing.

[2016-08-02 14:25] #12001 closed

[2016-08-02 14:27] #11980 closed

[2016-08-02 14:30] askucher commented on #2752
+1

[2016-08-02 15:42] ficristo opened #12640 "Help wanted: update CEF version on Linux, help needed on OSX and Windows"
The version of CEF on Linux is lagging behind and I would like to try to improve this situation.
To do so there are two ways:
- fix the crash on quit on https://github.com/adobe/brackets-shell/pull/499
- update the portion of cefclient used on the brackets shell which hopefully fix the crash

We tryed the first thing and asked for help without results.

Now I'm tryng the second way, but before I n

[2016-08-02 15:43] ficristo commented on #12640
Could you look at https://github.com/adobe/brackets-shell/pull/561?

[2016-08-02 16:25] thrash646 commented on #12570
Good point. I always get frustrated when people solve the issue without reporting how they did it. I was just frustrated at the lack of help I was given so I left in a huff.

Solution:
1)  Manually disabled ALL of the extensions by moving them from the USERS folder to the DISABLED folder. (see: https://github.com/adobe/brackets/wiki/Extension-Locations for help)
2) Restart Brackets and re-enable a

[2016-08-02 16:32] petetnt commented on #12596
Closing as answered, feel free to reopen if the solution doesn't work for you.

[2016-08-02 16:32] #12596 closed

[2016-08-02 16:32] #12574 closed

[2016-08-02 16:35] petetnt commented on #12404
Closing as answered 👍

[2016-08-02 16:35] #12404 closed

[2016-08-02 16:36] petetnt commented on #12375
Fixed in 1.7

[2016-08-02 16:36] #12375 closed

[2016-08-02 16:36] petetnt commented on #12364
Fixed in 1.7

[2016-08-02 16:36] #12364 closed

[2016-08-02 16:37] petetnt commented on #12356
Fixed in 1.7.

[2016-08-02 16:37] #12356 closed

[2016-08-02 16:37] petetnt commented on #12229
Closing as answered, feel free to reopen

[2016-08-02 16:37] #12229 closed

[2016-08-02 16:38] petetnt commented on #12350
Closing as answered 👍

[2016-08-02 16:38] #12350 closed

[2016-08-02 16:38] petetnt commented on #12557
Closing as answered, feel free to reopen if you cannot get Vivaldi working with Live Preview

[2016-08-02 16:38] #12557 closed

[2016-08-02 16:39] petetnt commented on #11815
Closing as non-issue 👍

[2016-08-02 16:39] #11815 closed

[2016-08-02 16:41] petetnt commented on #12351
Closing as solved.

[2016-08-02 16:41] #12351 closed

[2016-08-02 16:55] ficristo commented on #12570
@thrash646 thank you.

[2016-08-02 16:55] #12570 closed

[2016-08-02 17:10] ficristo commented on #12632
@HannahHam08 if you click on the LivePreview button on the right sidebar, it should open Chrome with the html you selected to view.
If you enabled the experimental LivePreview it should open your default browser.

So, you cannot switch projects? Is your first time using Brackets?
Can you look at https://github.com/adobe/brackets/wiki/Troubleshooting to see if there is anything that can help?

[2016-08-02 17:20] ficristo commented on #10608
As explained by @ryanstewart Brackets cannot compile SCSS files.
Closing.

[2016-08-02 17:20] #10608 closed

[2016-08-02 19:35] #12387 closed

[2016-08-02 19:35] #12388 closed

[2016-08-02 19:38] petetnt commented on #12556
Duplicate of #11567, :+1:  for the idea from me though

[2016-08-02 19:38] #12556 closed

[2016-08-02 20:44] iamrudra commented on #12380
Just went through the comments on #10255 - Folks on that thread would be disappointed to know that the most appreciated comment on _this_ issue is something that they've termed as **ugly dangerous etc etc etc** 😈

[2016-08-02 21:00] SalvorinFex commented on #12532
Well, that does work with Canary, because you can't make it a default browser.

`It usually works with current beta, dev, or canary versions of Chrome...`

Which this statement says it should.

[2016-08-03 04:10] SurajVerma commented on #12559
@Dobflem Thanks for the confirmation, @ficristo working for me too. Closing the issue. Thanks everyone for help. :)

[2016-08-03 04:10] #12559 closed

[2016-08-03 05:53] ficristo commented on #12559
@SurajVerma @Dobflem thank you to have verified.

[2016-08-03 06:17] nabeelmkasim opened #12643 "Extract Adobe Experience Design (Adobe XD) files"
Please try to include extract option for Adobe XD too. Not just PSD

[2016-08-03 08:11] dezudas opened #12644 "Mac OS 10.12 Beta (16A238m)"
Bracket crash after a while, everythings gets blank

[2016-08-03 10:51] carinlynchin commented on #12101
@ficristo no, I mean like say here is a hierarchy:

main -> documents -> www -> html

 and my setup is at html folder.  I am saing that it would be cool to be able to go up to the documents folder or the www folder without having to re-configure the settings for that connection or without having to have multiple connections.. one for each level in the hiearchy

[2016-08-03 14:21] ficristo commented on #12101
So is about LivePreview settings?

[2016-08-03 14:28] marcellopato opened #12645 "Material Design!!"
How about put some Material Design frame work inside GWD?

[2016-08-03 14:42] #12406 closed

[2016-08-03 14:56] Jacqbus commented on #10591
I had that problem too, but tried @khullah 's solution, and it works well.  I would just like to know, what this option do, and which functionality i just disabled? (searching in all files, by Ctrl+Shift+F  works for me anyway)

[2016-08-03 18:27] danicoolpak17 opened #12646 "Right side bar"
Hey All,
My Right Side Bar in extension dissappears as the brackets load and open. The bar which has Live Preview and Extension buttons on it.
Any help.

In the bottom in status bar it shows 11 errors.

Thanks
Dani

[2016-08-03 19:59] ficristo commented on #11061
Now JSX is available.
Closing.

[2016-08-03 19:59] #11061 closed

[2016-08-03 20:11] #11356 closed

[2016-08-03 20:20] ficristo commented on #12645
There are already some themes that have a material design.
I don't think we will change the two default themes anytime soon.

[2016-08-03 20:20] #12645 closed

[2016-08-03 20:22] ficristo commented on #12643
Extract was deprecated: http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/
Closing

[2016-08-03 20:22] #12643 closed

[2016-08-03 21:09] HannahHam08 commented on #12632
Thank you, it seems to have fixed itself.
I reinstalled the program and it seems to be working fine now.

Thank you

[2016-08-03 21:09] #12632 closed

[2016-08-03 21:59] ficristo commented on #10255
For whoever wants to help, https://github.com/adobe/brackets/issues/12640 is related.

[2016-08-03 22:09] marcellopato commented on #12645
What themes?

[2016-08-04 02:25] chenryhen commented on #12578
I'm getting this problem too with 1.7 for Mac. No matter what I do, the font stays the same, even after removing all of my extensions. What's weird is that I have the same theme, same font, on a different Mac, and I'm having no problems there.

[2016-08-04 07:20] petetnt commented on #12646
Hi @danicoolpak17,

can you check that the `No Distractions` mode is not enabled in `View -> No Distractions`.

If it isn't, could you paste the errors here? You can see the errors by double clicking the errors-counter in the status bar (Console tab)

[2016-08-04 07:23] tnga opened #12649 "code hint (js) performance"
the fact that on brackets, jshint scan all files in the current directory, play i think, to the editor performance depending of computer characteristics. For my experience, it consume a lot cpu when waiting for auto completion and show problematic result due sometime to conflict of similar result.

Is there a way to enable auto completion just for opened files ?

[2016-08-04 08:55] ficristo commented on #12645
Under `File \ Extension Manager` on the `Themes` tab there are some themes that claim to use the material design (just search for material).
After installed you can switch to the new theme using `View \ Themes`.
I don't know how good they are.

[2016-08-04 15:26] tnga commented on #12649
Okay i have finally found solution with `jscodehints.detectedExclusions` in brackets's settings!

[2016-08-04 15:26] #12649 closed

[2016-08-04 15:38] marcellopato commented on #12645
An app llike this should improve the BEST material design with tools and so
on. Not just be a good tool for building banners...

Em qui, 4 de ago de 2016 às 05:56, ficristo <notifications@github.com>
escreveu:

[2016-08-04 15:49] ficristo commented on #12645
Oh, I thought you wanted a theme!
Instead you want some tools to write material things?
Can you describe which kind of tools?

[2016-08-04 17:23] NikosEfthias commented on #12088
i meant the modules i wrote and linked under node_modules

[2016-08-04 17:32] ficristo commented on #12088
Are you using `npm link`?

[2016-08-04 18:24] NikosEfthias commented on #12088
nope internally i have a gulp task linking all custom modules using ln -s

[2016-08-04 19:00] redmunds commented on #12088
@NikosEfthias The info generated by the JavaScriptCodeHint engine is the same info used by the Jump command to open the correct file. Search on DEFAULT_EXCLUDED_DIRECTORIES (in extensions/default/JavaScriptCodeHInts) and you'll see that the node_modules folder is excluded by default because it's generally very large and a big impact on performance. Try removing that and see how it works for you.

[2016-08-04 19:15] Bryceratops88 opened #12650 "In Brackets, I can't turn off auto close brackets..."
New to HTML or anything coding so bare with me...

So for instance, I type in tag and a closing tag immediately appears afterwards. This is a great unless I've already typed text and don't want to have to cut and paste. Opened up preferences and thought I inserted the proper code. "closeBrackets": False. I saved the file and still nothing happens.

[2016-08-04 19:27] RaymondLim commented on #12650
@Bryceratops88 You can turn it off from Edit > Auto Close Braces.

[2016-08-04 19:46] VitaliyAT opened #12651 "Copy Paste from the "box" in context menu."
It was very big negative surprise that such powerful and wonderful instrument have not such elementary things. It like make it without "Quit" option - just kill from manager task, All extensions that people did work very bad. 3 times copy is OK, 5 times - NO. Some nothing at all. Could you add normal copy paste context options from "box"?

[2016-08-04 20:59] marcellopato commented on #12645
All material tools togheter. Imagine if you can use GWD to create wep pages
on a blink of an eye just draging and droping a slider, a card, a
collection, and everything INSIDE GWD.
But the HTML MUST be clean, tight. Now a days I can write a entire web site
using just a few hours per day writing the HTML code. Put some features
ilke connect to a database and FTP and sey goodbye to Dreamweaver for g

[2016-08-04 21:37] ficristo commented on #12645
Brackets is focused to be a code editor. Everything else is welcome as extension.

Maybe [this extension](https://github.com/swmitra/html-designer) could be something useful.

[2016-08-04 21:46] ficristo commented on #12622
Closing as a duplicate of https://github.com/adobe/brackets/issues/11177

[2016-08-04 21:46] #12622 closed

[2016-08-05 03:15] sakshamgoyal01 commented on #11177
HOW TO USE??????????

[2016-08-05 03:15] sakshamgoyal01 opened #12652 "using the plugin"
HOW TO USE??????

[2016-08-05 03:20] jackycute commented on #11177
@sakshamgoyal01
You mean HackMD?
I haven't make it as extension yet.
But you could try online version - https://hackmd.io

[2016-08-05 03:23] sakshamgoyal01 commented on #11177
NO.... how to use in brackets?? i installed it but i dont know what to do next

[2016-08-05 11:44] marcellopato commented on #12645
Yes, I know about Brackets extensions, but i´m talking about GWD and its cool about HTML5 animation. But it works great only for create banners. That´s it focus. But would be the best and powerfull web pages tool!
Maybe someone do a php, full of functioality and then, boom, you open it on GWD e visually put everything on its place with an gorgeous look, like, sliders, carrosels,cards, forms and to

[2016-08-05 15:01] redmunds commented on #12652
How to use: https://github.com/adobe/brackets/wiki/How-to-Use-Brackets

Other useful documents: https://github.com/adobe/brackets/wiki

[2016-08-05 15:01] #12652 closed

[2016-08-05 15:30] NikosEfthias commented on #12088
yes it does the trick though as you tell it effects the performance awfully so seems i need another solution

[2016-08-05 15:30] #12088 closed

[2016-08-05 21:54] #12650 closed

[2016-08-05 21:54] Bryceratops88 opened #12653 "Can't turn off Auto Close tags"
New to HTML or anything coding so bare with me...

So for instance, I type in tag and a closing tag immediately appears afterwards. This is a great unless I've already typed text and don't want to have to cut and paste. Opened up preferences and thought I inserted the proper code. "closeBrackets": False. I saved the file and still nothing happens.

[2016-08-05 21:59] RaymondLim commented on #12653
@Bryceratops88 Just answer this question a while back. See my answer [here](https://github.com/adobe/brackets/issues/12619#issuecomment-235098893).

[2016-08-06 03:28] sakshamgoyal01 commented on #12652
noooooo! omfg. how to use the plugin???

[2016-08-06 04:09] Bryceratops88 commented on #12653
Thank you, sir.

[2016-08-06 07:08] #12653 closed

[2016-08-06 07:24] ficristo commented on #12621
I don't know Dreamweaver. Can you give me more info?

[2016-08-06 07:29] ficristo commented on #12639
There are already some issues about line ending.
Closing as a dupe of the first I found: https://github.com/adobe/brackets/issues/10594
There is a pending PR https://github.com/adobe/brackets/pull/10346

[2016-08-06 07:29] #12639 closed

[2016-08-06 07:59] ficristo commented on #12651
On which OS are you?
Are you sayng there isn't a Quit option or it doesnt' work?

Some extensions are not always updated by their author. If you have troubles with them you should open issues on their repository.

Are you saing `Ctrl / Cmd + C` and `Ctrl / Cmd + V` don't work well?

There are already some issues about adding `Copy / Cut / Paste` to the context menu.

[2016-08-06 08:00] ficristo commented on #12644
Do you know if Chrom49 works with that OS?

[2016-08-06 08:06] ficristo commented on #3296
Done with a deprecation warning in: https://github.com/adobe/brackets/pull/11616

[2016-08-06 08:06] #3296 closed

[2016-08-06 17:20] redmunds commented on #12652
Such drama :) Which plugin? Need more details.

[2016-08-06 18:45] #12347 closed

[2016-08-06 18:46] #12331 closed

[2016-08-06 18:48] petetnt commented on #12296
Closing as solved, feel free to reopen if it occurs again (I've had same kinds of issues with Ionic myself).

[2016-08-06 18:48] #12296 closed

[2016-08-06 18:50] #12202 closed

[2016-08-06 18:51] #12169 closed

[2016-08-06 18:52] #12168 closed

[2016-08-06 18:52] #12167 closed

[2016-08-06 18:52] petetnt commented on #12157
Closing as the PR was merged 👍

[2016-08-06 18:52] #12157 closed

[2016-08-06 18:53] petetnt commented on #12142
Closing as solved, feel free to reopen if the problem comes back

[2016-08-06 18:53] #12142 closed

[2016-08-06 18:54] #12136 closed

[2016-08-06 18:55] petetnt commented on #12114
Closing as duplicate

[2016-08-06 18:55] #12114 closed

[2016-08-06 18:55] petetnt commented on #12115
Closing as answered, feel free to reopen if the problem still occurs.

[2016-08-06 18:55] #12115 closed

[2016-08-06 18:57] petetnt commented on #12102
Cool stuff 👍 Closing this as solved, feel free to reopen if you have any other questions regarding this.

[2016-08-06 18:57] #12102 closed

[2016-08-06 18:58] #12077 closed

[2016-08-06 18:59] petetnt commented on #12651
Duplicate of #12063

[2016-08-06 19:00] petetnt commented on #12058
Closing this, feel free to reopen if you still have this issue with Brackets 1.7.

[2016-08-06 19:00] #12058 closed

[2016-08-06 19:02] petetnt commented on #11966
Closing as deprecated as Extract isn't supported anymore.

[2016-08-06 19:02] #11966 closed

[2016-08-06 19:03] petetnt commented on #11939
JSX Mode is now available in Brackets

[2016-08-06 19:03] #11939 closed

[2016-08-06 19:04] petetnt commented on #11896
Closing as Extract is now deprecated

[2016-08-06 19:04] #11896 closed

[2016-08-06 19:05] #11900 closed

[2016-08-06 19:05] petetnt opened #12655 "Remember the selected syntax highlighting for extensionless files"
Or maybe all files that have other highlighting than the default one applied to.

I actually have started to work on this months ago, it just needs some polish, I'll try to get that in as a PR sometime soon 👍

[2016-08-06 20:37] sprintr commented on #12655
@petetnt Have you had a look at #11560? This may be related to that.

[2016-08-06 20:55] petetnt commented on #12655
@sprintr Hmm never seen that one before, that is definitely related. My PR would build on top of that by applying the syntax highlighting for files not per filename, but path name. For example I have an bash file called `app` in project 1 and NodeJS file called `app` in project 2; if I apply JavaScript for the one in project 2, it shouldn't use that as syntax for the project 1 one.

[2016-08-06 21:14] sprintr commented on #12655
Cool, I still have to write unit tests for them but haven't been able to do so.

[2016-08-06 21:55] danicoolpak17 commented on #12646
Hey @petetnt

I did all that but nothing worked , and some of the extensions where causing problems. As I uninstalled them and restarted the Brackets it showing now and updated it as well.

now it is showing less errors here are the left ones.

ErrorNotification.js:125 Cannot assign Ctrl-Shift-Up to io.emmet.increment_number_by_1. It is already assigned to edit.lineUpwindow.console.error @ ErrorNo

[2016-08-06 22:34] petetnt commented on #12646
So the problem is now fixed? :+1:  If you are able to tell which extension was causing the problems, it might be useful to report it to the extensions repository.

Those errors are soft errors due to multiple extensions/core trying to bind the same shortcuts which you can ignore.

Closing this as solved, feel free to reopen if the problem still occurs.

[2016-08-06 22:34] #12646 closed

[2016-08-07 03:25] tallandroid commented on #11609
This can be closed now.

[2016-08-07 03:28] sakshamgoyal01 commented on #12652
ughhhhh. help with using the rtcollab plugin in brackets... i installed it
but how to collab with other people so i can make a website together???

On Sun, Aug 7, 2016 at 12:21 AM Randy Edmunds <notifications@github.com>
wrote:

--
Saksham Goyal

[2016-08-07 14:52] crash5936 commented on #12322
Hello guys,

I have probably run into the same issue and I'm not able to fix it in any way.

I've tried reinstalling it even with deleting the config/cache, checked my firewall, but I'm simply not getting hints for JS anymore (I've tried HTML and it works fine). I've checked the console and network tabs in developer tools, console seems to return an error that I think is related
[brackets_error_lo

[2016-08-07 15:23] #11609 closed

[2016-08-07 16:26] ficristo commented on #11541
Extract is deprecated: http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/
Closing

[2016-08-07 16:26] #11541 closed

[2016-08-07 16:29] ficristo commented on #11511
Closing as the PR has merged.
Reopen if you still have the problem.

[2016-08-07 16:29] #11511 closed

[2016-08-07 16:34] ficristo commented on #11492
Brackets doesn't have Copy & Paste in context menu.
If you had them, it was probably an extension problem.
For now I close this as a dupe https://github.com/adobe/brackets/issues/12063 were was asked to add them.

[2016-08-07 16:34] #11492 closed

[2016-08-07 16:35] ficristo commented on #11354
Extract is deprecated http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/
Closing

[2016-08-07 16:35] #11354 closed

[2016-08-07 16:40] ficristo commented on #11380
You can look at https://github.com/adobe/brackets-shell/wiki/Building-brackets-shell#linux to build the shell and https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets to hack Brackets.

[2016-08-07 16:40] #11380 closed

[2016-08-07 16:42] ficristo commented on #11272
Extract is deprecated: http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/
Closing

[2016-08-07 16:42] #11272 closed

[2016-08-07 16:43] ficristo commented on #11353
Extract is deprecated: http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/
Closing

[2016-08-07 16:43] #11353 closed

[2016-08-07 16:44] ficristo commented on #11271
@ryanstewart @nethip it still not possible to comment.
Is now expected? Can we close this?

[2016-08-07 16:47] ficristo commented on #11146
Closing as answered.

[2016-08-07 16:47] #11146 closed

[2016-08-07 16:51] ficristo commented on #11044
I guess we can close this now?

[2016-08-07 16:52] ficristo commented on #11029
Closing as most likely an extension behaviour.

[2016-08-07 16:52] #11029 closed

[2016-08-07 16:55] ficristo commented on #10829
Works for me.
Closing

[2016-08-07 16:55] #10829 closed

[2016-08-07 16:57] #11044 closed

[2016-08-07 17:04] ficristo commented on #11611
I've created the PR. Now this is a dupe of https://github.com/adobe/brackets/issues/8093
Closing

[2016-08-07 17:04] #11611 closed

[2016-08-07 17:07] ficristo commented on #11646
Extract is deprecated: http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/
Closing

[2016-08-07 17:07] #11646 closed

[2016-08-07 17:10] ficristo commented on #11670
I close this since we haven't heard any news and the problem seems have been fixed.
If you have still problems reopen.

[2016-08-07 17:10] #11670 closed

[2016-08-07 17:19] ficristo commented on #11791
Closing as a duplicate of https://github.com/adobe/brackets/issues/10255

[2016-08-07 17:19] #11791 closed

[2016-08-07 17:31] ficristo commented on #11910
Extract is deprecated: http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/
Closing

[2016-08-07 17:31] #11910 closed

[2016-08-07 17:32] ficristo commented on #11920
Can you reproduce with `Debug \ Reload without extensions` ?

[2016-08-07 17:43] ficristo commented on #11947
Cannot reproduce anymore on 1.7
If you have still problem reopen or open a new issue.

[2016-08-07 17:43] #11947 closed

[2016-08-07 17:43] ficristo commented on #11969
Closing as a duplicate of https://github.com/adobe/brackets/issues/10255

[2016-08-07 17:43] #11969 closed

[2016-08-07 17:47] #12066 closed

[2016-08-07 17:48] ficristo commented on #12090
Closing as a duplicate of #11826

[2016-08-07 17:48] #12090 closed

[2016-08-07 17:57] ficristo commented on #12294
Closing as duplicate of https://github.com/adobe/brackets/issues/10255

[2016-08-07 17:57] #12294 closed

[2016-08-07 17:59] ficristo commented on #12358
Closing as a duplicate of https://github.com/adobe/brackets/issues/12063

[2016-08-07 17:59] #12358 closed

[2016-08-07 20:15] danicoolpak17 commented on #12646
Yes, indeed i switched to console and saw it by myself , and managed to removed the extensions which were giving me errors. once i read them I understood that there should be no issue in app itself.
now i am trying to find solution for shortcuts and how to assign them.
Thanks @petetnt

[2016-08-08 06:10] webfri commented on #12621
In a library you have for example a menu for the whole website. You add it once to each page and when you want to edit the menu you only edit the one in the library and each page will be adjusted automatically.

[2016-08-08 14:06] cgideon opened #12656 "Windows 10 install issue"
I downloaded the MSI installer from brackets.io on my Windows 10 machine, and received the Brackets.Release.1.7.msi installer. When running this installer either by double clicking on it, or by running msiexec command from Powershell as Administrator I get the attached error, I am unable to find any logs or get any additional information that might provide insight into what the problem is.

Let me

[2016-08-08 14:30] BlasoK opened #12657 "Cant live preview"
I only can live preview on index.html if the file isnt with index name, I cant use live preview

[2016-08-08 14:30] Learn-Digital-Audio commented on #12640
Ficristo, it is fantastic news you are working on this! Thanks so much! Is there any news on your progress?

[2016-08-08 15:23] redmunds commented on #12652
In general, you need to ask the question on the repo of the plugin.

I've never heard of the rtcollab plugin. I don't see it when I search extension manager in Brackets or even directly on web page: https://brackets-registry.aboutweb.com/

I found this extension using google: https://github.com/simphax/brackets-rtcollab  Try asking your question there.

[2016-08-08 15:33] ficristo commented on #12640
@Learn-Digital-Audio I'll update this thread with any news.
Right now I have a couple of PR in the works, nothing big, but they are build one on top of each other.
So I need adobe/brackets-shell#561 before posting another one. And that PR has yet to be tested on OSX.
In general there is still a lot of work to do (especially since I'm not really a native developer)
Since Linux version is mostly com

[2016-08-08 15:56] ficristo commented on #12656
Could you take a look at [this comment](https://github.com/adobe/brackets/issues/8809#issuecomment-52693962) so to be able to provide a log?

[2016-08-08 16:01] cgideon commented on #12656
Running the command  msiexec /i .\Brackets.Release.1.7.msi /l*v brackets_log.txt returns the attached .txt file
[brackets_log.txt](https://github.com/adobe/brackets/files/407214/brackets_log.txt)

[2016-08-08 16:16] ficristo commented on #12656
I found this thread http://stackoverflow.com/questions/538229/problems-with-windows-installer-package
Can you try downloading again the installer?
Unfortunately I cannot help more...

[2016-08-08 17:14] cgideon commented on #12656
Unfortunately re-downloading the 1.7 installer and I tried the 1.6 installer did not solve the problem. I wonder if it's just an issue with my machine or if it's a Windows wide issue? I don't have access to another Windows device to test this theory.

[2016-08-08 18:32] fdbozzo commented on #11929
I agree with yacut. Hope better nodejs support.

[2016-08-08 20:05] jrj2211 commented on #11416
Please do this, I keep hitting enter

[2016-08-08 20:25] redmunds commented on #11929
Search on DEFAULT_EXCLUDED_DIRECTORIES (in extensions/default/JavaScriptCodeHInts) and you'll see that the node_modules folder is excluded by default because it's generally very large and a big impact on performance. Try removing that and see how it works for you.

Also read through the [JS Code Hints wiki page](https://github.com/adobe/brackets/wiki/JavaScript-Code-Hints) for more info about furt

[2016-08-08 21:44] fdbozzo commented on #11929
Hi redmunds:

The preferences.js file in the directory you mention have the node_modules dir and require.* files excluded. I've commented them out and asigned null to them, but I do not have autocomplete for requires either.

The comments in the settings say "**by default exclude node_modules for performance reasons and because we don't do full hinting for those anyhow**":

[code]
I've restarted B

[2016-08-08 22:30] redmunds commented on #11929
Not sure. Have you used any of the other "exclude" type extensions to speed up other parts of Brackets (such as as Find in Files) ? If so, excluding node_modules folder could also affect this (just a guess).

[2016-08-08 23:10] fdbozzo commented on #11929
Yes, I've used one, but I've disabled it before testing this again.
Thanks for your interest.

[2016-08-09 02:21] tv-nieri commented on #10266
I hope this helps someone...

I had this issue also. In my case, i got the .deb package from brackts.io website, the x64 version.
You can install .deb packages with the Software Center in Ubuntu, but i used the dpkg command insted, like this exemple:
$sudo dpkg -i package.deb

When i tried to install some extensions, i found this issue, so i was going to try place the .zip packages in the extensio

[2016-08-09 04:00] luo820802 commented on #11991
Force writing a read-only as a superuser by entering the password would also be a nice feature, just like what Atom does.

[2016-08-09 06:29] ficristo opened #12658 "Exception in 'crawlComplete' listener"
Running some tests I see the following exception. I'm starting to think it's becoming important to fix because I've the impression it affects the tests results.
[code]

Related to https://github.com/adobe/brackets/issues/12634

/cc @abose @MarcelGerber

[2016-08-09 16:28] omikor opened #12660 "disable auto correct on brackets"
hello, I want to disable auto corection on brackets.
can you help me?

[2016-08-09 17:00] himanshu64 commented on #11182
I have same prob here but not solve

[2016-08-09 18:40] raita commented on #12645
Marcellopato that's so Futuristic what you talking about many's peoples doesn't even realize that but honest at you i don't know what really GWD that is

[2016-08-09 19:33] marcellopato commented on #12645
It is Google Web Design, a Google´s web design software. But it is good oonly for creating banners in HTML5. It is fantastic.

[2016-08-10 04:15] raita commented on #12645
Can you please give me a Link from that Material Web Design please .
Kindly.
Dezzy.
Sent from Yahoo Mail on Android

  On Tue, 9 Aug, 2016 at 21:34, marcellopato<notifications@github.com> wrote:
It is Google Web Design, a Google´s web design software. But it is good oonly for creating banners in HTML5. It is fantastic.

—
You are receiving this because you commented.
Reply to this email directly,

[2016-08-10 04:15] ksindhi opened #12662 "Very Slow Editing"
Hi,
My Name is Kunal and I am using Brakets since launch, I am truly FAN of this EDITOR, But i came with a common problem in my system using Brakets,

****Issue Explain****
1.Slow Loading of Files - If i click on open from the left sidebar and select my project folder then it opening slow but it can Ignored.
2. Very Very Slow Editing of Files i.e .HTML Files, CSS, If i double click  on any file fr

[2016-08-10 07:27] ficristo commented on #12660
Can you clarify what is _auto correction_?

[2016-08-10 09:46] cdll commented on #12662
im looking into these issue tobe optimized~

[2016-08-10 09:48] ksindhi commented on #12662
Thanks, Waiting for hearing from you soon

[2016-08-10 10:20] nethip commented on #11826
Sorry for the late reply @vvks. Thanks for helping! Really appreciate it. I will check to see what has gone into `node-core` between 1.4 - 1.5

[2016-08-10 11:33] marcellopato commented on #12645
You can find GWD here https://www.google.com/webdesigner/ and the Material Design framwork that i use alot is http://materializecss.com/

[2016-08-10 11:53] ficristo opened #12664 "[UI/UX] Code folding for tag that span on multiple lines"
In #12521 @thehogfather change the behavior of code folding to match the CodeMirror one.
So now when a tag span on multiple lines you have two code folding triangles.
![html-foldable](https://cloud.githubusercontent.com/assets/10583268/17270676/03e6b950-5669-11e6-971e-b0121c8a472b.png)

@redmunds proposed an alternative.
Another option would be to collapse both tag attributes and tag contents some

[2016-08-10 12:04] ficristo commented on #12529
Should be fixed in 1.8 by https://github.com/adobe/brackets/pull/12521

[2016-08-10 12:04] #12529 closed

[2016-08-10 12:05] ficristo commented on #12488
This issue seems very likely the same fixed in https://github.com/adobe/brackets/pull/12521 which will be in 1.8

[2016-08-10 12:05] #12488 closed

[2016-08-10 12:06] ficristo commented on #12456
Should be fixed in 1.8 by https://github.com/adobe/brackets/pull/12521

[2016-08-10 12:06] #12456 closed

[2016-08-10 12:07] ficristo commented on #12355
Very likely fixed by https://github.com/adobe/brackets/pull/12521 which will be in 1.8.

[2016-08-10 12:07] #12355 closed

[2016-08-10 12:08] ficristo commented on #12232
Should be fixed in 1.8 by https://github.com/adobe/brackets/pull/12521
@addui you can try building brackets from source now that #12521 has been merged.

[2016-08-10 12:08] #12232 closed

[2016-08-10 12:22] ficristo commented on #12577
We [update CodeMirror](https://github.com/adobe/brackets/pull/12613) and @thehogfather fixed a [problem](https://github.com/adobe/brackets/pull/12521) with CodeFolding, both of which should be available on 1.8.
Closing since it is fixed.

[2016-08-10 12:22] #12577 closed

[2016-08-10 13:47] blackmiaool commented on #11826
@nethip  So that's it!  I used 1.5 installer to install brackets and can't save. But if I use 1.4 installer and manually update js to 1.5 release commit, no bug is encountered.

[2016-08-10 18:13] addui commented on #12232
Thank You, I will give it a shot when I get the chance

[2016-08-11 03:29] Charly321 opened #12665 "Add a CSS Designer"
Add a CSS Designer like the one in Xpressive or in Dreamweaver

[2016-08-11 07:00] EkaterinaMironova opened #12666 "Autocomplete doesn't work after using spread operator"
If I use [spread operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_operator) in variable declaration, Autocomplete doesn't work.

For example:
`let model = new Model(...args);`

In function declaration it's ok.
`function createModel(Model, ...args) {};`

What's wrong? Thanks a lot!

Brackets version - sprint 7 build 1.7.0-16898 (release b0a363b71), russia

[2016-08-11 07:01] petetnt commented on #12665
Hi @Charly321,

have you tried the [html-designer](https://github.com/swmitra/html-designer) extension? It could provide many features you are looking for. You can install it via `File -> Extension Manager`.

[2016-08-11 09:03] Antoine-Pous commented on #12662
Got the same issue here

[2016-08-11 14:25] mdxprograms commented on #11826
I would love to use git in brackets but the plugin always causes this issue for me.
Is this currently being fixed?

[2016-08-11 16:33] redmunds commented on #12662
Be sure to read through the Brackets is Running Slow section of the Troubleshooting Guide to see if any of the known cases apply to you:
https://github.com/adobe/brackets/wiki/Troubleshooting#slow

[2016-08-11 17:58] kirkins commented on #12640
Anyone know if there is a workaround? I'm running brackets on my desktop which is Ubuntu 14.04 without a problem. On my laptop with 16.04 I get the libgcrypt11 issue.

[2016-08-11 18:54] ficristo commented on #12640
@kirkins have you searched it on other issues?
By the way there are some workarounds in #12380 and #10255 for the libgcrypt11 issue.

[2016-08-11 19:02] ficristo commented on #12640
Another, but much more ambitious way, to fix all problems on Linux would be to fix [this](https://github.com/electron/electron/issues/1582) electron issue and switch to that shell.

[2016-08-11 19:24] kirkins commented on #12640
As a work around I used the repackaged version of 1.6 found at the bottom of this page:

https://brbsix.github.io/2015/10/29/fix-missing-libgcrypt11-for-brackets-text-editor/

[2016-08-11 20:03] GSriKavya opened #12667 "error when "npm start" command is used"
npm ERR! missing script: start

[2016-08-11 20:08] #12667 closed

[2016-08-11 21:27] sedge commented on #11087
👍

[2016-08-11 22:53] andrewkfiedler opened #12668 "Wrong file mapped to file contents"
I've noticed a few times that the contents I'm looking at for a file are wrong (they belong to another file).  I'm not sure how to recreate this issue, but I will mention that I'm using git integration.

The issue is, the original file contents for that filename will be overwritten by the other file's contents if you happen to save.

I almost got into an unfortunate situation, but luckily was able

[2016-08-11 22:56] petetnt commented on #12668
Hi @andrewkfiedler,

this issue is a duplicate of #12317, no idea what causes it though 😕

Let's continue the discussion in #12317 👍

[2016-08-11 22:56] #12668 closed

[2016-08-12 09:25] ficristo opened #12669 "Code folding arrow on the script tag is invisible"
For the following snippet:

[code]

the code folding arrow on the `script` tag is invisible but you can still collapse the tag.
If you highlight all the code then it arrow is visible.
/cc @thehogfather

[2016-08-12 10:06] nethip commented on #11826
@blackmiaool Thanks for experimenting and letting us know! I am checking at the commit history of node-core and nothing much seem have gone into this folder between 1.4 - 1.5. It could be combination of other factors. Could you do the following steps.

 - Make a copy of node-core, that got copied while installing 1.4
 - Install Brackets 1.6
 - rename the node-core folder and copy node-core folder,

[2016-08-12 12:38] daman99 commented on #11161
Still not resolved. And it's a Windows issue as well.

[2016-08-12 14:54] jGeek314 opened #12670 "dontCloseTags option is being ignored."
Not sure what I'm doing wrong here.  I tried a cfbrackets extension and everything worked except the dontclosetags list.  So I tried to change my preferences manually and still can't get brackets to listen to the closeTags.dontCloseTags array.

Tried reloading with and without extensions... still couldn't get it to work.

Here are the contents of my brackets.json file:

[code]

[2016-08-13 03:03] Charly321 opened #12672 "Online platform"
Get a platform accessible on the web where we can upload files and export them.

[2016-08-13 08:00] ficristo commented on #12670
It seems that if you have `whenClosing: true` the `dontCloseTags` attribute is ignored.
Filed: https://github.com/codemirror/CodeMirror/issues/4165

[2016-08-13 15:54] #12490 closed

[2016-08-13 15:57] #12489 closed

[2016-08-13 18:42] redmunds commented on #12672
@Charly321 Can you use Dropbox for that? How would this be any different?

[2016-08-14 05:35] blackmiaool commented on #11826
@nethip I don't know why but no bug is encountered after installing 1.6.  And I found no difference between 1.6's node-core and 1.4's node-core. They are both 131.3KB.

[2016-08-14 07:09] mdxprograms commented on #11826
@blackmiaool this happens in 1.7 for me.

[2016-08-14 13:44] ficristo commented on #12664
/cc @larz0

[2016-08-14 14:01] #12576 closed

[2016-08-14 14:42] ficristo commented on #12551
@pratts if you have any other question you can open a new issue or maybe join us on slack.
For now I close this.

[2016-08-14 14:42] #12551 closed

[2016-08-14 14:46] ficristo commented on #12435
Trello card: https://trello.com/c/ziZfd6Rl/548-bookmark-line-location-within-text

[2016-08-14 14:47] ficristo commented on #12527
Closing as a dupe of https://github.com/adobe/brackets/issues/12435

[2016-08-14 14:47] #12527 closed

[2016-08-14 14:47] ficristo commented on #12550
Closing as a dupe of https://github.com/adobe/brackets/issues/12435

[2016-08-14 14:47] #12550 closed

[2016-08-14 17:33] MarcelGerber commented on #9305
Fixed in #12671.
Closing.

[2016-08-14 17:33] #9305 closed

[2016-08-14 17:33] MarcelGerber commented on #10963
Fixed in #12671.
Closing.

[2016-08-14 17:33] #10963 closed

[2016-08-14 18:39] ficristo commented on #12564
The extension `Select Lines` seems to do the trick.

[2016-08-14 18:53] ficristo commented on #12509
@ahbappa did you have opened an issue to the extension repository?
We cannot fix all the extensions problems.

[2016-08-14 18:54] ficristo commented on #12508
@sohilj23 if you have still problem please open a new issue.

[2016-08-14 18:54] #12508 closed

[2016-08-14 18:57] ficristo commented on #12507
How many files has your project? Brackets doesn't work well with big project as of now.
If you have many files you could give a try to this extension https://github.com/zaggino/brackets-file-tree-exclude.

[2016-08-14 19:00] ficristo commented on #12498
Does still reproduce on 1.7? If so, can you share a minimal snippet which reproduce the problem?

[2016-08-14 19:36] ficristo commented on #3904
While testing https://github.com/adobe/brackets-shell/pull/564 this would helped me a bit (simply to realize if the shell I built was the correct one).

[2016-08-14 20:10] #12658 closed

[2016-08-15 05:30] ficristo commented on #12457
As pointed out by @salazr seems a 10.11.5 bug.
@isaacminogue if you have still the problem, could you fully update your system and retry?

[2016-08-15 06:03] ficristo commented on #12432
I'm not sure if it is what you are looking for but you could try https://github.com/swmitra/html-designer extension.

[2016-08-15 06:20] ficristo commented on #12413
@hardikdangar could you try the latest version (1.7) to see if you still have problems?

[2016-08-15 06:21] ficristo commented on #12399
@sprintr could you take a look?

[2016-08-15 06:39] ficristo commented on #12520
Related: https://groups.google.com/a/chromium.org/forum/#!msg/chromium-dev/UhE1rxzhkkk/fxUQqTWRDQAJ
Chomium changed the default value for this option and it is possible that future versions will remove that option entirely.
I think we inherited the new default when we updated to a new version of CEF.

[2016-08-15 06:44] ficristo commented on #12500
@rickcurran were you able to solve your problem?

[2016-08-15 09:16] h4yfans commented on #11826
1.7 same issue

[2016-08-15 09:59] rickcurran commented on #12500
@ficristo Yep, as per my last comment above I had to basically reset everything in Brackets to get it working again, copying over the existing brackets.json file didn't work. So, a bit of a clean restart for me there to get it working again, not too big a deal as it was easy enough to get all the extensions back in.

[2016-08-15 12:28] ficristo commented on #12500
Glad you worked out your problem :+1:.
Closing.

[2016-08-15 12:28] #12500 closed

[2016-08-15 17:48] sprintr commented on #12399
@ficristo @MarcelGerber It must be because of me. I did not check it in other mixed html files. Will put a PR up.

[2016-08-15 21:56] #12399 closed

[2016-08-16 01:46] andreymokko opened #12677 "Extract for Brackets (Preview) don't support cyrillic language"
If I [click to "Copy Text" for cyrillic language](https://cl.ly/h4TB) (example «Привет»), and paste it, i get html symbol code: "`&#1055;&#1088;&#1086;&#1076;&#1072;&#1078`" instead of text. It is very uncomfortable.

So, necessary to keep open Photoshop for copy the text, or write a text manually.

[2016-08-16 04:08] engkusk opened #12678 "Open file with one line type very slow"
If I open a file with one line type, example a _foundation.min.css_ file (It has 160KB size but one line script) It's **very slow**, and this happen when I try '**find**', '**replace**', and **editing** the file.

Then when I try to find a word and that found , the 'yellow highlight' in right scrollbar is shown on top, which the founded words is on middle of scrollbar (Maybe its something bugs, ca

[2016-08-16 04:13] nethip commented on #12677
@andreymokko Extract is no longer supported from within Brackets(http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/). You could try Dreamweaver which will still support Extract.

[2016-08-16 04:18] andreymokko commented on #12677
@nethip Too bad :( I don't like Dreamweaver. Thank you for your answer!

[2016-08-16 04:18] #12677 closed

[2016-08-16 05:48] #12630 closed

[2016-08-16 05:51] #7638 closed

[2016-08-16 06:38] #11341 closed

[2016-08-16 06:40] recepkocur commented on #12498
The version is Release 1.7 build 1.7.0-16898 and the issue persists.

[2016-08-16 08:24] ficristo commented on #12670
Given the upstream discussion I think this is the expected behaviour.
@jGeek314 you can contact the author of the extension you are using to discuss more this issue.

[2016-08-16 08:24] #12670 closed

[2016-08-16 13:06] guldtop opened #12680 "CSS documents"
Brackets should auto-generate a css-file if one does not already exist, when trying to add rules to html elements.

[2016-08-16 15:17] redmunds commented on #12678
@engkusk This is a known issue. Do you really edit minified css files? Generally, searching, debugging, and editing of css is done in original file, then the minified css is re-generated when you're done.

[2016-08-16 16:50] ficristo commented on #12417
I much prefer the approach in #12647, so closing.

[2016-08-16 16:50] #12417 closed

[2016-08-16 18:22] ficristo commented on #12398
Hi @TheNemus, if you try `Debug \ Reload without extensions` can you still reproduce?
AFAICT Brackets doesn't support jade natively, so maybe is an extension problem.

[2016-08-16 18:23] #12392 closed

[2016-08-16 20:12] raita commented on #12645
WoooooW so Beauty Bro but those need to work together in same time ? GWD and Materializecss?  well if i do a wedb site design can i put on Wordpress Bro?

    Le Mercredi 10 août 2016 13h34, marcellopato <notifications@github.com> a écrit :

 You can find GWD here https://www.google.com/webdesigner/ and the Material Design framwork that i use alot is http://materializecss.com/—
You are receiving t

[2016-08-16 21:29] marcellopato commented on #12645
WP uses another framework called bootstrap.

[2016-08-17 06:23] petetnt commented on #12678
There should be an escape hatch of some sort (either for the code or the user) to bail out from these kinds of situations. It's rather grating when you accidentally open up a minified file / similar and all you can do is see whether Brackets recovers or just do a hard reboot.

[2016-08-17 06:55] ficristo commented on #12322
Hi @crash5936, could you try the PR https://github.com/adobe/brackets/pull/11569 and see if fixes the issue for you?

[2016-08-17 06:59] ficristo commented on #12305
Closing as extract is deprecated.

[2016-08-17 06:59] #12305 closed

[2016-08-17 07:00] ficristo commented on #12304
Closing as extract is deprecated.

[2016-08-17 07:00] #12304 closed

[2016-08-17 07:05] ficristo commented on #12302
Closing as extract is deprecated.

[2016-08-17 07:05] #12302 closed

[2016-08-17 07:13] ficristo commented on #12292
I cannot reproduce the problem on master.
The error in console is most likely an extension problem.
Update to the latest release and try the suggestion of @petetnt to see if you can reproduce: if you can reopen the issue.

[2016-08-17 07:13] #12292 closed

[2016-08-17 07:16] ficristo commented on #12291
@nethip do you think we can close this, since it was for the refreshed build of 1.6?

[2016-08-17 07:19] ficristo commented on #12290
@giorga8 can you try `Debug \ Reload without extensions` and see if you can still reproduce?

[2016-08-17 07:22] ficristo commented on #12286
No, AFAIK Brackets doesn't.

[2016-08-17 07:23] ficristo commented on #12283
@MarcelGerber can you answer this?

[2016-08-17 07:25] ficristo commented on #12277
Closing as Extract is deprecated.

[2016-08-17 07:25] #12277 closed

[2016-08-17 07:32] ficristo commented on #12228
My first impression is that `phantomjs` didn't download correctly.
Could you try running `npm install` again? Maybe try to delete `node_modules` folder first too.

[2016-08-17 07:35] ficristo commented on #12210
You can try this extension too https://github.com/redmunds/brackets-display-shortcuts

[2016-08-17 07:35] #12210 closed

[2016-08-17 07:38] ficristo commented on #12187
This PR https://github.com/adobe/brackets/pull/12647 is now using chokidar.

[2016-08-17 07:41] ficristo commented on #12173
Can you reproduce the issue on latest version?

[2016-08-17 07:45] nethip commented on #12291
@ficristo I think we can close this.

[2016-08-17 07:45] #12291 closed

[2016-08-17 07:45] ficristo commented on #12137
`input` is an autoclosing tag. If you want to close it you can write `<input type="text" />`.

[2016-08-17 07:45] #12137 closed

[2016-08-17 07:49] ficristo commented on #12120
@chocolatekitkat we can't do much here.
In this particular case you can use only html, or `echo` the closing `div` too.

[2016-08-17 07:49] #12120 closed

[2016-08-17 08:28] MarcelGerber commented on #12283
The message you are referring to is `Possible memory leak: 16 'currentFileChange' listeners attached to Object`, as defined in https://github.com/adobe/brackets/blob/86c037f097d475d0e54faf50a998350ece3fe2ca/src/utils/EventDispatcher.js#L119-L122.
Mind the "possible", though. This safeguard is in place so one can spot memory leaks more easily, but not everything it outputs is actually a memory leak

[2016-08-17 08:28] #12283 closed

[2016-08-17 08:30] muzammilijaz opened #12682 "How i Close Getting Started File From Panel"
Please find the attachment.I want to exit Getting Started Files from left tab.
http://prnt.sc/c6rc4k

[2016-08-17 08:33] #8208 closed

[2016-08-17 08:34] ficristo commented on #12682
ATM you can't close a project, you can only switch to another one. Just click on the project name or with `File \ Open Folder`.

[2016-08-17 08:34] #12682 closed

[2016-08-17 09:00] MarcelGerber commented on #12678
@engkusk The second issue you mentioned, with the scroll track markers all in one place, will be fixed in the next version of Brackets.

@petetnt We (and CodeMirror) already have some safeguards in place so we don't do too much work, so I think a big part of this is also time spent in extension code.
But I just ran a timeline recording while opening `jquery-2.1.3.min.js` and as it turns out, most

[2016-08-17 11:46] TimHandy commented on #10255
+1 from another impacted. Linux Mint 18.

[2016-08-17 15:00] ShinDarth commented on #11588
+1

[2016-08-17 16:17] ficristo commented on #11770
@nethip I think this is fixed with the latest release

[2016-08-17 16:22] ficristo commented on #11867
Are you all still able to reproduce with the latest release? Event without extensions?

[2016-08-17 16:24] ficristo commented on #11875
Closing as a dupe of #11938.
(Even if it is more recent its image is clearer about the issue)

[2016-08-17 16:24] #11875 closed

[2016-08-17 16:25] ficristo commented on #11889
@appijumbo if you have still problems feel free to open a new issue.
Closing as most likely an extension problem.

[2016-08-17 16:25] #11889 closed

[2016-08-17 16:27] ficristo commented on #11911
@SilverSilence If you have still problems feel free to reopen or open a new issue.

[2016-08-17 16:27] #11911 closed

[2016-08-17 16:30] ficristo commented on #11776
Closing as a dupe of #11621

[2016-08-17 16:30] #11776 closed

[2016-08-17 17:09] ficristo commented on #11719
Closing as we haven't heard you back.
If you still have the problem, reopen after trying the suggestions given by @abose.

[2016-08-17 17:09] #11719 closed

[2016-08-17 18:24] ficristo commented on #12640
Another cleanup https://github.com/adobe/brackets-shell/pull/570 ready to be looked at.

[2016-08-17 23:14] MarcelGerber commented on #12678
Okay, it turns out that most of these layout calls are probably still our fault, as the vanilla CM demo can handle the same content with just two layout calls. Sure, there might be some configuration differences that make up for some of that, but 2 calls vs 10 is still a pretty big discrepancy.

[2016-08-17 23:24] MarcelGerber opened #12684 "File tree: Half-hidden expansion icons don't toggle on click"
1. Scroll the file tree such that one of the arrow symbols to the left of a folder is halfway hidden behind the drop shadow below the project name (kinda hard to describe)

    ![image](https://cloud.githubusercontent.com/assets/2641501/17756740/1dbde740-64e2-11e6-8f93-dddf802c414b.png)
2. Click the visible part of the icon

Result:
Nothing happens.

Expected:
The subtree should expand/collapse as

[2016-08-18 04:57] raita commented on #12645
Can we make with Boostrap create material design and parallax effect?

Sent from Yahoo Mail on Android

  On Tue, 16 Aug, 2016 at 23:29, marcellopato<notifications@github.com> wrote:
WP uses another framework called bootstrap.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-08-18 05:49] shakeelkoper opened #12686 "Free Marker template"
Bracket is my Fav editor it will be great if we can see FREE MARKER file type like ftl and other JAVASCRIPT like ts and dart

[2016-08-18 06:16] ficristo commented on #12686
Nowadays we don't accept wew languages in core. So I'll mark this as extension idea.
For typescript there are already some extensions available.

[2016-08-18 06:52] #12684 closed

[2016-08-18 07:25] ficristo commented on #10777
Closing as extension problem.
@abdelouahabb if you still have problems reopen or open a new issue.

[2016-08-18 07:25] #10777 closed

[2016-08-18 08:04] ficristo commented on #11925
Probably we need to rename `run` to `requestRun`. It will be also more consistent we Brackets coding.
But maybe can we use some jsdoc attribute to change the name in the documentation?
/cc @MarcelGerber @abose @nethip

[2016-08-18 11:36] marcellopato commented on #12645
Yes. There´s a version for Material Design for Bootstrap, two, by the way.
http://mdbootstrap.com/material-design-for-bootstrap/ and http://fezvrasta.github.io/bootstrap-material-design/

Cheers!

[2016-08-18 11:43] sridhar985780 opened #12687 "Can not connect to server"
while installing extension node.js bindings it says installation failed, cannot connect to server.
Is this my machine problem?

[2016-08-18 13:33] blbwd opened #12688 "Never opens the current file"
Linux Mint 32 bit - Brackets is the default editor for HTML and PHP files. Now if I click any PHP / HTML file, the brackets editor opens but loads the lats opened project file not the current PHP / HTML file which I clicked on.
So, every time I have to drag the file on brackets to open it. Need to fix it.

[2016-08-18 13:46] ralgor14 opened #12689 "Possible swagger hub codegen issue with Enums: @JsonValue annotation is missing from toString()"
The @JsonValue annotation is missing when codegen creates java code (Server->jaxrs) for Enums.
This annotation should be on toString() method.
The following:
        "state": {
          "type": "string",
          "enum": [
            "active",
            "inactive"
          ]
        }

causes creation of the following Enum code:
  public enum StateEnum {
    ACTIVE("active"),

    INACTIVE("

[2016-08-18 13:46] ralgor14 opened #12690 "Possible swagger hub codegen issue with nested elements: the @JsonProperty annotation is missing from get methods"
The @JsonProperty annotation is missing when codegen creates Java code (Server->jaxrs) for nested elements.

The following block:

    "PM_Session": {
      "description": "description",
      "type": "object",
      "properties": {
        "id": {
          "description": "description",
          "type": "string"
        },
		....
		"ethOamPerfMonCfg": {
          "$ref": "#/definitions/EthOamPer

[2016-08-18 13:56] ficristo commented on #12689
How is this related to Brackets?

[2016-08-18 13:56] ficristo commented on #12690
How is this related to Brackets?

[2016-08-18 15:33] ralgor14 commented on #12690
I do not understand the question. It's connected to @JsonProperty .
Did I write anything connected to Brackets?

[2016-08-18 15:34] ralgor14 commented on #12689
I do not understand the question. It's connected to @JsonValue annotation for Enums .
 Did I write anything connected to Brackets?

[2016-08-18 15:40] ralgor14 commented on #12690
Sorry, I should move it to swagger-api/swagger-codegen

[2016-08-18 15:41] ralgor14 commented on #12689
Sorry, I should move it to swagger-api/swagger-codegen

[2016-08-18 15:54] #12690 closed

[2016-08-18 15:54] #12689 closed

[2016-08-18 16:18] swathiAMD opened #12691 "Creating widget"
Hi,
  I followed the webinar : http://ww2.mendix.com/Expert-Webinar.Widgets.html.

I m unable to create an widget. The widget creation is freezing at '25%' not sure how to proceed.

PFA the screen shot.
![creatingwidget](https://cloud.githubusercontent.com/assets/4669814/17781586/bfa4ce0e-6567-11e6-9fbb-6988054cf87c.png)

[2016-08-18 16:46] mbeirouti commented on #12589
Instead of two dots try one dot in the directory name so:

"./_work/file.txt" should work I think.

[2016-08-18 18:07] ficristo commented on #12640
https://github.com/adobe/brackets-shell/pull/571

[2016-08-18 18:09] badakim1091 opened #12692 "Copying contents from a HTML file will also copy CSS contents in quick-edit, without actually displaying those properties."
OS X El Capitan 10.11.5
MacBook Pro 2015

When you copy contents from a HTML file to a new HTML file in a different directory, it also copies CSS contents and displays it in quick-edit view. However, the CSS is not actually applied to the HTML content.

1. Create a new directory called project1
2. Create a new index.html file in the project1 folder
3. Copy the contents from index.html in Getting S

[2016-08-18 18:34] MarcelGerber commented on #12691
This is not an issue related to Brackets, but rather regarding the [Widget Development Plugin for Brackets](https://github.com/mendix/WDPForBrackets).
Closing as extension problem.

[2016-08-18 18:34] #12691 closed

[2016-08-18 18:38] MarcelGerber commented on #12692
That's because Brackets tries to find the most related stylesheets, and if it cannot find one, it searches through all stylesheets in the project.
So, your CSS is not copied, it's just that the file you see in Quick Edit is that of the Getting Started folder. You'll also see its full path when hovering over the file name.

[2016-08-18 18:44] badakim1091 commented on #12692
The thing is, even if I make another CSS file that has the name of main.css in the folder with the new copied html, and make the main.css empty, quick-edit still pulls the information from the old CSS..

[2016-08-18 18:53] MarcelGerber commented on #8545
Closing as an extension is available now.

[2016-08-18 18:53] #8545 closed

[2016-08-18 20:17] #10516 closed

[2016-08-19 02:16] Akira1138 opened #12694 "MacOS Hidden File "Icon" Tree Issue"
Hello everyone

Since last update to El-Capitan, i got the following tree issue in Brackets (see below)

![error](https://cloud.githubusercontent.com/assets/21115089/17796496/2c0645ba-65c1-11e6-9053-fabdf13a6cb2.png)

This hidden file system is created when changing the current default icon folder.

As shown in picture, this annoying "Icon" still appear even with file exclude extension, i tried se

[2016-08-19 03:33] idietmoran commented on #12688
Brackets won't open files properly through the terminal as well.

`brackets . &` while in the correct path won't open the project in brackets. It's an issue with Linux and is a problem probably with brackets shell.

[2016-08-19 05:10] CrNix commented on #12064
Hi, I have the same problem but with different error message - Installation failed, Unknown internal error. I just downloaded latest Brackets from git (it says Release 1.8 development build 1.8.0-0 (master 5141df27a)).

Using Linux Mint 17.3 64bit. In some other issue was mentioned that this error was fixed, but still keeps occuring to me. Have to install all extensions by hand - copy the extensio

[2016-08-19 06:32] petetnt commented on #12064
Hi @CrNix,

do you see any errors in the Developer Tools? You can see them in `Debug -> Show Developer Tools`. Check the `console` and `network` after getting that error.

[2016-08-19 08:07] kjw86 opened #12695 "shortcut issue (hide sidebar)"
'Hide sidebar' shortcut doesn't work (CTRL-ALT-H); it does work through the view menu.

using Brackets Release 1.7 build 1.7.0-16898 (release b0a363b71) on Windows 10

[2016-08-19 08:11] petetnt commented on #12695
Hi @kjw86,

Cannot repro on MacOS with `CMD-SHIFT-H`. Cannot confirm the shortcut on Windows right now, but can you try `CTRL-SHIFT-H`.

[2016-08-19 15:06] Ampix0 opened #12696 "Slow/Freezing while editing networked file"
Accessing my project files located on an Ubuntu server over SAMBA on my Windows 10 PC. I use Brackets on windows and access the network share to edit. I have only noticed this issue since going with this set up. The issues is Brackets will often freeze when selecting text, or while typing. The issue is not constant and I do not know how to replicate it, but does occasionally and semi-frequently oc

[2016-08-19 17:48] CrNix commented on #12064
@petetnt Hi, this the message from console: "Unknown installation error extensionManager domain is undefined"

[2016-08-19 19:26] lucasecardoso commented on #11723
Is this still a problem for you? Tried to reproduce on Brackets 1.7 Win 7 64 bits and I'm not getting the same result.

Default Markdown:
![image](https://cloud.githubusercontent.com/assets/12672911/17821733/8dee5598-6629-11e6-81c0-1fd1e35cba02.png)

GFM:
![image](https://cloud.githubusercontent.com/assets/12672911/17821751/a77a84aa-6629-11e6-9da3-ee2a55be3e05.png)

Let me know if it's still the c

[2016-08-19 21:26] JohnOKeefe15 opened #12697 "If folder name of previously opened folder changes Brackets accepts no input after launching"
System:
Windows 10 Pro 64bit

Brackets Version:
Release 1.7 build 1.7.0-16898
build timestamp: Wed Jun 08 2016 12:27:56 GMT+0100

Steps to reproduce:
1. Launch Brackets
2. Open a project by doing File->Open Folder
3. Close Brackets
4. Change the folder name of the project you opened in step 2.
5. Launch Brackets

Actual Results:
You should now not be able to use any of the menu items in brackets a

[2016-08-19 21:34] JohnOKeefe15 commented on #12697
Disabled all extensions and Brackets properly reported an error when trying to open.

[2016-08-19 21:34] #12697 closed

[2016-08-20 00:01] giorga8 commented on #12290
okay i will try tomorrow

[2016-08-20 01:16] lucasecardoso commented on #12480
I want to take a stab at developing a multi-line tab extension. Any clues where in the code I should look for that? I've been browsing the codebase and I can't find anything related to tab management.

[2016-08-20 02:13] flynnstone9 opened #12698 "No Auto-Complete for JS"
Hey just updated to the 1.7 build. Brackets isn't auto-completing for java-script. For example when I use to type "arr" it would fill with "array."

**It use to.** The auto fill works for html / css still. Is it a setting somewhere that has been adjusted?

Probably a quick fix. Thanks ahead of time.

[2016-08-20 05:38] flynnstone9 commented on #12698
Just reloaded without extensions and they're working.

**Is there a method of finding which extension is causing the issue?**

[2016-08-20 05:41] #12698 closed

[2016-08-20 05:42] ficristo commented on #12698
You can look at `Debug \ Show Developer Tools` and see if there is anything.
Otherwise I think you need to disable all the extensions and enable one by one.
The faster way (I don't know how safe it is) is to move all your extensions in the `disabled` folder and then move one by one in the `user` folder again

[2016-08-20 07:26] ficristo commented on #12184
Fixed by https://github.com/adobe/brackets/pull/12110
Will be in 1.8

[2016-08-20 07:26] #12184 closed

[2016-08-20 13:13] ldez commented on #11723
I confirm it's fixed.

[2016-08-20 13:13] #11723 closed

[2016-08-20 15:49] #10574 closed

[2016-08-20 15:53] blbwd commented on #12380
@iamrudra you have saved my day, installing  libgcrypt11 separately worked for me like a charm. Thanks a lot.

[2016-08-20 18:10] Charly321 opened #12699 "JS Hint doesn't work whit big files"
I have a long HTML file with dôme JavaScript on it ans i cannot use JS Hint  on it. After, when I want to go on my JS file, I have to reload brackets.

[2016-08-21 06:21] ficristo commented on #12694
This is an extension problem and you should file it against the extension repository so I'm closing it.

Are you saying it worked in the past and now it doesn't?
You could try to move all your extensions but the exclude one in the disabled folder and see if there is some extensions conflict.

[2016-08-21 06:21] #12694 closed

[2016-08-21 06:26] ficristo commented on #12695
It does work on my Windows 10 PC.
Can you try `Debug \ Reload Without Extenesions` and see if it still the case?
You could try this extension https://github.com/redmunds/brackets-display-shortcuts to see if there is any conflict.

[2016-08-21 06:57] ficristo commented on #11449
@rawat11 Is this the same of https://github.com/adobe/brackets/issues/11341?

[2016-08-21 07:01] ficristo commented on #11340
@bardhkrasniqi could you try the latest release to see if you can still reproduce?

[2016-08-21 07:30] ficristo commented on #10977
Closing as was an Extract bug.
If you can still reproduce on latest release please open a new issue.

[2016-08-21 07:30] #10977 closed

[2016-08-21 07:31] ficristo commented on #11073
Closing as was an Extract bug.
If you have still problems please open a new issue.

[2016-08-21 07:31] #11073 closed

[2016-08-21 08:47] #1087 closed

[2016-08-21 14:53] crash5936 commented on #12322
@ficristo Hello, thanks a lot, it actually does fix the issue. I saw the thread before, but because I'm pretty new to git and programming in general, I was discouraged by what seemed to be quite a complicated process. Now that you've pointed me in the direction, I went through the whole process and actually learned quite a few new things, so thanks for that :)

[2016-08-21 21:37] iamrudra commented on #12380
@blbwd - Cheers! 👍

[2016-08-21 22:10] MarcelGerber commented on #11697
Cannot repro with latest Chrome version. Closing.

[2016-08-21 22:10] #11697 closed

[2016-08-21 22:22] #10029 closed

[2016-08-22 00:13] zaggino commented on #11826
This should be fixed in 1.8 by https://github.com/adobe/brackets/pull/12681

[2016-08-22 00:24] BlackRockSoul opened #12703 "OS X. Cant open some files"
I cant open some folders and files. v1.7
v1.5 works fine
Console error log
![image](https://cloud.githubusercontent.com/assets/4317830/17840782/ad94357e-6828-11e6-9952-88984395ab34.png)
![2016-08-22 5 29 47](https://cloud.githubusercontent.com/assets/4317830/17840827/766a26a2-6829-11e6-8b5e-abb879ddb786.png)

[2016-08-22 03:13] engkusk opened #12704 "Add find and replace text in selection"
Its amazing text editor with much of features, but I and probably everybody need this features : please add features which I can **find and replace text in a block selection**. Don't make extension just make that features, cause it's important and usefull, and most of another editor has that features. Thanks

[2016-08-22 07:44] thany commented on #11826
That would be very cool indeed. But please do excuse my scepticism until then 😇

[2016-08-22 07:46] thany commented on #11826
Could you explain briefly what the problem turned out to be, @zaggino? I suppose some of us would be dying to know 😃

[2016-08-22 08:30] ficristo commented on #12704
Closing as a dupe of #11194

[2016-08-22 08:30] #12704 closed

[2016-08-22 09:07] zaggino commented on #11826
In the issue that I've been able to replicate, file system invoked a `change` event over a file which had newer timestamp than the file in Brackets, so Brackets reloaded a content of that file (because there were no unsaved changes in the editor). There was no safe-guard in place that the modified file is actually still the same file (contents were equal).

[2016-08-22 09:53] #12687 closed

[2016-08-22 14:02] jGeek314 commented on #12670
@ficristo Does this mean it's impossible in brackets to use "whenClosing: true" with the  "dontCloseTags"?  Or is there some way to modify the autoselfclosers to get it to work?  It seems like a bug to me, or at least a missing feature.

[2016-08-22 14:15] ficristo commented on #12670
We are inheriting the CodeMirror behaviour which is the expected one, in this case, according its author. So yes, I think is impossible to use `whenClosing: true` with the `dontCloseTags`.
Perhaps you could define your own language (see https://github.com/adobe/brackets/wiki/Language-Support) using a new codemirror mode with the `autoselfclosers` option.
I think @MarcelGerber could help you more.

[2016-08-22 17:59] ficristo commented on #10775
@valtlai do you want to setup a PR?

[2016-08-22 20:05] #8498 closed

[2016-08-22 20:15] raita commented on #12645
Oh that's my boy is good one but can we use also Brackets on it?

    Le Jeudi 18 août 2016 13h37, marcellopato <notifications@github.com> a écrit :

 Yes. There´s a version for Material Design for Bootstrap, two, by the way.
http://mdbootstrap.com/material-design-for-bootstrap/ and http://fezvrasta.github.io/bootstrap-material-design/Cheers!—
You are receiving this because you commented.
Reply to

[2016-08-23 01:00] descadmx commented on #12064
Same as CrNix here. It happened to me while using Debian 8 and Ubuntu. I also deleted all hidden folders in my home directory (such as .config) but still have the same issue.

[2016-08-23 02:22] Darthlegos opened #12706 "JSLint not working: 'alert' was used before it was defined. alert(date);"
The JSLint thinks that when I use the alert("Your Text Here"); script, I am using a function. Please fix ASAP
All I did was put an alert(); script in the javascript file and I got an error.
I expected it to run an alert.
I get the error in JSLint: "'alert' was used before it was defined.	alert(date);"
Brackets version: Latest
OS version: Windows 7 Premium
I've tested without extensions
No Console

[2016-08-23 06:02] flynnstone9 commented on #12698
**Hey actually the problem popped up again.** This time when I "Reload without Extensions" it is not working. Any guidance on how to fix this?

[2016-08-23 06:29] vvks commented on #12706
You can put the following comment at the top of your file

`/*jslint devel: true */`

for further refs: http://www.jslint.com/help.html

[2016-08-23 09:29] petetnt commented on #12706
As @vvks pointed out, `devel: true` is the way to go

Closing as answered.

[2016-08-23 09:29] #12706 closed

[2016-08-23 12:06] marcellopato commented on #12645
Yes!

Em seg, 22 de ago de 2016 às 17:15, Raita Sorin <notifications@github.com>
escreveu:

[2016-08-23 12:26] petetnt commented on #12703
Hi @BlackRockSoul, does this occur without extensions? Do the folders you are trying to open have anything special in them?

[2016-08-23 12:42] BlackRockSoul commented on #12703
@petetnt yep. Just installed
Folders have php and js files. V 1.5 and the windows latest version was ok

[2016-08-23 14:26] evliyabalik opened #12708 "mathematical operations"
I can not do the multiplication gives an error in the code I wrote

[2016-08-23 14:29] kjw86 commented on #12695
reloaded Brackets without extensions and shortcut still didn't work. Also no conflict with other shortcuts according Redmunds 'display-shortcuts'...strange?!?

[2016-08-23 15:05] BlackRockSoul commented on #12703
I think I figured out what the problem is. Os X created icon files. I can't do anything with them
![image](https://cloud.githubusercontent.com/assets/4317830/17897255/f64502d6-696c-11e6-93d1-d74c440ea144.png)

[2016-08-23 15:13] BlackRockSoul commented on #12703
Okay, it was a problem. I just deleted these files and everything. No errors anymore.
_p.s. sorry for bad english ^^_

[2016-08-23 15:13] #12703 closed

[2016-08-23 15:15] petetnt commented on #12703
@BlackRockSoul No problem!

I'll follow up and see if files called `Icon` cause problems in general as they seem to as far as the `React` error messages show.

[2016-08-23 16:17] dblachut commented on #12666
I can confirm this issue, please fix asap. :+1:

[2016-08-23 17:20] ficristo commented on #12708
Which error do you see?

[2016-08-23 23:23] dblachut commented on #12666
Looks like tern does not have support for "SpreadElement". After adding stub implementation in https://github.com/ternjs/tern/blob/a53d2ee43d091a44fb4291779a786ed3fc010ba3/lib/infer.js#L1373 it works.

I will try to investigate it further, or event fix it, tomorrow. Unless someone will do it first(?). :)

[2016-08-24 05:22] CrNix commented on #12064
@petetnt Hi, here is also the line number of the error Package.js:408

[2016-08-24 05:47] weenzeel opened #12709 "Support HTML 4 attributes"
I would like to use brackets for HTML-email workflow. But attributes often used when writing HTML-email doesn't autocomplete in brackets, lika cellspacing or cellpadding on table.

[2016-08-24 07:47] ficristo commented on #12666
Could you try this PR https://github.com/adobe/brackets/pull/11569 to see if it fixes this issue?

[2016-08-24 08:28] dblachut commented on #12666
Looks like it did, at least for me. I can use it as a temporary solution. Thanks.

[2016-08-24 12:45] EkaterinaMironova commented on #12666
Cool! It works! Thanks a lot =)

[2016-08-24 14:56] evliyabalik commented on #12708
Ben herhangi bir hata kodu sorun derleme yapımında tanınmaz alamadım

PRoGrAmER

2016-08-23 20:20 GMT+03:00 ficristo <notifications@github.com>:

[2016-08-24 14:56] evliyabalik commented on #12708
I do not get any error code is not recognized in making trouble compiling

PRoGrAmER

2016-08-24 17:56 GMT+03:00 Evliya BALIK <evliyabalik@gmail.com>:

[2016-08-24 17:51] ficristo commented on #12708
Could you give us more info like a snippet of code, which language you are using, maybe a screenshot, what are you compiling, etc? I really don't know how to help otherwise.
Maybe try also `Debug \ Reload without extensions` to see if it is an extension that is causing problems.

[2016-08-24 20:00] petetnt commented on #12064
Hi @CrNix (and others): could you try the latest `master`. #12702 has a bug fix that most likely won't fix the installation issue, but actually shows more useful information than just `Unknown installation error`

[2016-08-25 07:35] thany commented on #11826
Why would the filesystem do such a thing? Especially considering this bug existed on multiple platforms, and therefore multiple different filesystems...

[2016-08-25 08:11] vankasteelj commented on #11826
filesystem could be node `const filesystem = require('fs');` which is multiplatform.

[2016-08-25 08:11] CrNix commented on #12064
Hi @petetnt, pulled the latest master (commit: master be628813e) but the message in the console is the same.

Here is the GUI dialog shown

![brackets-install-error](https://cloud.githubusercontent.com/assets/15139474/17961469/34770898-6aac-11e6-897a-88ee570eb347.png)

[2016-08-25 08:13] petetnt commented on #11826
@thany It's an underlying issue with file IO and race conditions, on how CodeMirror handles `resetText` and its history and how all that is implemented in CEF / Brackets Shell and finally Brackets.

TL;DR: It's pretty complex. See the longer messages I have written above which outline most of that.

[2016-08-25 08:42] 230116885230116885 opened #12710 "Remove restriction on the number of files in the project."
Please remove the limit on the number of files in the project.

[2016-08-25 08:48] 230116885230116885 opened #12711 "Ability to add the authors for each line of code"
Ability to add the authors for each line of code from GIT.

[2016-08-25 09:41] petetnt commented on #12711
Hi @230116885230116885,

You mean a `git blame` view similar to [the github one](https://github.com/adobe/brackets/blame/master/src/view/ThemeView.js)?

This is something that an extension (such as the great [brackets-git](https://github.com/zaggino/brackets-git)) should handle instead of Brackets core. I suggest you repost your feature request to `brackets-git` 👍

[2016-08-25 09:41] #12711 closed

[2016-08-25 10:23] 230116885230116885 commented on #12711
Yes. Thank you.
https://github.com/zaggino/brackets-git/issues/1310

[2016-08-25 11:52] DigiSquid opened #12713 "File tree not working"
For some reason the file tree is not working for me on Brackets 1.7 for Mac OS X 10.11.6. It shows a list of files for whatever project was opened last, but I can't really interact with the list. Files and folders can be selected, but they can't be opened. So the only way I have access to my files is through search. Changing projects, or reloading them, doesn't refresh the list either. It's almost

[2016-08-25 13:12] petetnt commented on #12713
Hi @DigiSquid, do you see any errors in the developer tools (`Debug -> Show Developer tools -> Console`)

[2016-08-25 14:41] redmunds commented on #12710
It would be nice if file limit was configurable so you could set it to a much higher value, but probably shouldn't remove it.

[2016-08-25 15:46] johncarterdesign opened #12714 "File Inference Problem with CreateJs"
As I edit my project containing the createjs suite, I will get 3 or 4 warnings (like the screenshot below) that say JavaScript File Inference Problem, and each time it names a different file within createjs. After a few of these warnings the screen will randomly go blank while I am editing and the only way to get brackets working again is to quit from the dock and reopen. I have tried just deletin

[2016-08-25 16:19] peym4ns opened #12715 "php: ctrl + space not working in "Brackets""
ctrl + space not work in "Brackets"

[2016-08-25 18:14] ficristo commented on #12715
I assume you meant "Brackets".
Can you be more specific: which language are you using? Do you use some extensions?
If you try `Debug \ Reload Without Extensions` does work again?

[2016-08-25 18:15] ficristo commented on #12714
Brackets doesn't handle well big project: how big is yours?
In this case you could try https://github.com/zaggino/brackets-file-tree-exclude

[2016-08-25 18:47] redmunds opened #12716 "Update File Inference dialog"
Currently, Brackets shows the File Inference Problem dialog something like this:

<img width="609" alt="brackets-file-inference-problem" src="https://cloud.githubusercontent.com/assets/1197144/17981400/732cf366-6ab8-11e6-8ad9-999b8de4cc6a.png">
 like this:

The dialog states that this is "likely a bug" and encourages users to file a new issue. While there is likely some code in the particular file

[2016-08-25 19:12] peym4ns commented on #12715
Yes, I'm use php Language
I try  Debug \ Reload Without Extensions , but does not work.

[2016-08-25 22:20] #11076 closed

[2016-08-25 22:22] MarcelGerber commented on #11936
This should be fixed in the next Release.
Please chime in in case it still doesn't work.
Closing.

[2016-08-25 22:22] #11936 closed

[2016-08-25 22:25] #10027 closed

[2016-08-25 22:43] #6598 closed

[2016-08-25 22:44] #5780 closed

[2016-08-25 22:45] #5962 closed

[2016-08-26 07:24] petetnt commented on #8142
Fixed in #12251 / 	63962ce

[2016-08-26 07:24] #8142 closed

[2016-08-26 12:22] #11568 closed

[2016-08-26 12:45] zaggino commented on #11748
@dmikrot almost there https://github.com/adobe/brackets-shell/pull/543

[2016-08-26 13:28] MarcelGerber commented on #11162
This is fixed with the merge of #11569 and will come to you in Release 1.8.
Please let us know if it still doesn't work for you when the Release ships.

[2016-08-26 13:28] #11162 closed

[2016-08-26 13:30] MarcelGerber commented on #10865
This appears to be fixed with the merge of #11569 and will come to you in Release 1.8.
Please let us know if it still doesn't work for you when the Release ships.

[2016-08-26 13:30] #10865 closed

[2016-08-26 13:32] MarcelGerber commented on #12212
This is fixed with the merge of #11569 and will come to you in Release 1.8.
Please let us know if it still doesn't work for you when the Release ships.

[2016-08-26 13:32] #12212 closed

[2016-08-26 13:34] MarcelGerber commented on #12197
This is fixed with the merge of #11569 and will come to you in Release 1.8.
Please let us know if it still doesn't work for you when the Release ships.

[2016-08-26 13:34] #12197 closed

[2016-08-26 13:36] MarcelGerber commented on #12322
@crash5936 pointed out that #11569 fixed the issue for his copy of Brackets, so I just assume the overall issue is resolved as well. #11569 has been merged and will come to you in Release 1.8.
Please let us know if it still doesn't work for you when the Release ships.

[2016-08-26 13:36] #12322 closed

[2016-08-26 13:37] MarcelGerber commented on #12666
This is fixed with the merge of #11569 and will come to you in Release 1.8.
Please let us know if it still doesn't work for you when the Release ships.

[2016-08-26 13:37] #12666 closed

[2016-08-27 06:35] MarcelGerber commented on #12715
By default, Brackets doesn't come with PHP Code Hints.
You can install an extension to get these. Try "PHP SmartHints", for example. Let us know if you're still having trouble.

[2016-08-27 07:46] zaggino commented on #10717
Fixed in https://github.com/adobe/brackets/pull/11602

[2016-08-27 07:46] #10717 closed

[2016-08-27 12:39] abhijith-gururaj opened #12722 "jsp syntax highlighting"
There is a bug in highlighting the JSP code in the HTML file. The syntax highlighting breaks after a relational operator has encountered. Check out the screenshot below.

![screenshot 10](https://cloud.githubusercontent.com/assets/7941660/18027457/45ff24f2-6c81-11e6-8c55-1232f6f7feee.png)

As you can see , the highlighting breaks after the relational operator in the first if statement.

[2016-08-27 13:41] zaggino commented on #10281
Now fixed in master:
![image](https://cloud.githubusercontent.com/assets/1067319/18027759/c256e296-6caf-11e6-8f54-e8bc74d1c4f5.png)

[2016-08-27 13:45] zaggino commented on #10281
My bad, didn't notice linux only, will check it there...

[2016-08-27 17:25] petetnt opened #12723 "Test windows should launch without user extensions"
While running the tests I noticed that all the test windows are being loaded with user extensions enabled, which is in most cases unnecessary and at worst case might even cause false positives.

Only exception would be running user extension tests, in which case we should have a way of loading only a specific extension while running extension tests.

[2016-08-27 17:32] petetnt opened #12724 "Fix Code Folding tests"
There are a few failing tests now in the latest master:

[code]

[code]

[code]

cc @thehogfather

[2016-08-27 17:33] petetnt commented on #11577
Fixed in #12673

[2016-08-27 17:33] petetnt commented on #10864
Fixed in #12673

[2016-08-27 20:56] evliyabalik commented on #12708
Şimdi tamamen matematiksel bir çarpma (*) operasyonu olarak tek başına
sorunu çözüldü bilmek teşekkür ederim

PRoGrAmER

2016-08-24 20:52 GMT+03:00 ficristo <notifications@github.com>:

[2016-08-27 20:56] evliyabalik commented on #12708
now completely solved the problem by itself as a mathematical
multiplication (*) operation , thank you to know

PRoGrAmER

2016-08-24 20:52 GMT+03:00 ficristo <notifications@github.com>:

[2016-08-27 21:47] #12708 closed

[2016-08-27 21:50] MarcelGerber commented on #12723
As far as I know, normal tests (Integration, Main View Manager, Live Preview, ...) run without extensions loaded.
It's only the Extensions tab that runs with all extensions enabled, and yes, you're right, there should be a way to only load one user extension and ignore the others so we can prevent some test failures.

[2016-08-27 21:54] MarcelGerber commented on #12723
#9982 is about the same thing.
While @peterflynn thought we cannot load just one extension when we "Run all", I think this can at least be done for the spawned test windows, where I assume most of the failures happen.

[2016-08-27 22:39] thehogfather commented on #12724
@petetnt I'm actually unable to verify that tests are now passing as I just get a blank white screen on the tests window. Is this a known issue?

[2016-08-27 22:45] MarcelGerber opened #12726 "Scroll state not remembered in some cases"
Right now it looks like this is more of an extension problem, but I'm filing it here anyways because it might also be a recent regression.
1. Install the brackets-git extension
2. Open file 1 and scroll down a little
3. Open file 2
4. Open file 1
   You might have to try twice (that is, after step 4, go back to step 2)

Result:
The document is scrolled all the way to the top.

`git bisect` points

[2016-08-27 22:52] MarcelGerber commented on #12726
Turns out that the other extension that failed is `brackets-eslint`.
Still, I'd like to figure out what's the background as this surely wasn't intended to be a kind-of-breaking change.

[2016-08-27 23:22] thehogfather commented on #12726
Off the top of my head, there might be a similar effect for any extensions that mutate the gutters. This is true of both extensions you've mentioned.
The background of commit @5727863 is that it watches changes to the gutter and makes sure the fold gutter is inserted after the line numbers (if line-numbers gutter is present). [See here](https://github.com/adobe/brackets/blob/master/src/extensions/

[2016-08-28 16:06] alfredrb opened #12728 "Html Shows but Css doesn't effect HTML? Is there a way to fix this?"
So i'm new to brackets I started yesterday, But my css isn't effecting HTML live preview here is the screen shots.

![css](https://cloud.githubusercontent.com/assets/20364059/18034912/d9985012-6d17-11e6-93c5-7e2c5b9fefc2.PNG)

[2016-08-28 17:27] vahid-sanati commented on #11826
I confirm with disabling node-cores the problem is fixed.

[2016-08-28 20:44] rococtz opened #12729 "Command ID for moving cursor to next line?"
Hi,

I want to be able move my cursor up, down, left, right without using the arrow keys. Is there a command id for that?  If not, do you have any example of how to achieve that?

Thanks

[2016-08-28 20:49] sprintr commented on #12729
`Editor.prototype.setCursorPos` in `/src/editor/Editor.js` is the API you need.

[2016-08-28 21:14] rococtz commented on #12729
Thank you very much for the quick response.

I believe there's no key binding for this, right?

What would be the approach if I want to use this API? Should I create my own extension?

[2016-08-28 21:46] sprintr commented on #12729
You need to create your own extension to start with.

First get the editor instance.
[code]
then set cursor position.
[code]

[2016-08-29 01:24] zaggino commented on #11577
Re-opening as #12673 had to be reverted.

[2016-08-29 01:24] zaggino commented on #10864
Re-opening as #12673 had to be reverted.

[2016-08-29 01:26] zaggino commented on #12726
This is now fixed by https://github.com/adobe/brackets/pull/12727 but let's keep it open until we settle things around gutters api and get to final testing of 1.8

[2016-08-29 02:04] rococtz commented on #12729
Thank you!

[2016-08-29 02:04] #12729 closed

[2016-08-29 03:30] BruceHem opened #12731 "quick find definitions (ctrl + T) not working with generator functions"
Is there a way to get this to work with generator functions?
Sublime does it, wondering why brackets doesn't

[2016-08-29 05:06] SachinPachari commented on #11682
Hi @ingorichter
Can i try fixing this ?

[2016-08-29 09:17] moukbel opened #12733 "Cannot find context with specified id"
hi,

i'm new in devloping and  i keep get this message error in brackets,
"Cannot find context with specified id"
any one can help me please ?

[2016-08-29 12:01] joepie91 commented on #12551
This ticket is closed, but the issue still remains - the URL is still causing a 403, despite being part of Brackets' buildscripts. I'm building from the `1.7` release, not `master`, so this is definitely something that still needs fixing.

Perhaps this can be reopened?

[2016-08-29 12:46] knox97 opened #12735 "Editor CSS content gets applied to Brackets"
Hey guys, lets get to the issue right away,here are couple of screenshots of the problem
![workspace 1_030](https://cloud.githubusercontent.com/assets/19645574/18051757/bf70354e-6df6-11e6-807f-4e4e190e1fc8.png)
![workspace 1_029](https://cloud.githubusercontent.com/assets/19645574/18051762/c8f59eec-6df6-11e6-87ec-4adb21443613.png)

All that you see on the pictures above is done with html internal

[2016-08-29 13:28] MarcelGerber commented on #12735
Have you tried launching Brackets without extensions (`Debug > Reload without extensions`)?

[2016-08-29 17:38] ficristo commented on #12715
Closing as extension available.

[2016-08-29 17:38] #12715 closed

[2016-08-29 17:43] ficristo commented on #12733
Where you see the message? Is an alert or you see in the console?
Can you reproduce with `Debug \ Reload Without Extensions`?

[2016-08-29 17:44] ficristo commented on #12722
The problem is that jsp is recognized as html.
IMO the right way to fix this is to create an extension that add JSP as a language.
CodeMirror supports it, see https://codemirror.net/mode/htmlembedded/index.html

[2016-08-29 17:45] ficristo commented on #12728
Can you reproduce with `Debug \ Reload Without Extensions`?

[2016-08-29 17:53] ficristo commented on #12551
To be able to compile `master` on Linux is the first step to be able to move on a newer version of CEF.
While it still says CEF 2171, https://github.com/adobe/brackets/issues/11047 is tracking the update.
That's why I don't see a reason to reopen this.

If you want to compile 1.7 for Linux you still have to use the `linux-1547` branch.

If you instead want to try to update Linux shell to use a new

[2016-08-29 18:38] ficristo commented on #11529
Since this is related to Extract and now it is deprecated http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/, closing.
@steveny9911 Reopen it, if you still hit the problem

[2016-08-29 18:38] #11529 closed

[2016-08-29 18:40] ficristo commented on #11520
It seems an Extract issue and now that it is deprecated http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/, closing.
Reopen if you hit the problem.

[2016-08-29 18:40] #11520 closed

[2016-08-29 19:09] joepie91 commented on #12551
I've been trying to compile from the [`release-1.7` branch](https://github.com/adobe/brackets-shell/tree/release-1.7) though, not `master`. Why doesn't the `release-1.7` branch point at the version of CEF that's actually used for 1.7? Is this a Linux-specific thing?

[2016-08-30 00:16] alfredrb commented on #12728
It still doesn't show CSS Effect in Debug \ Reload Without Extensions

[2016-08-30 03:41] nethip commented on #11826
@vahid-sanati Thanks for trying! @zaggino had made a fix in this area.

Could you run Brackets from source and tell us if you are still seeing this issue? Here is the guide to how to run Brackets from source, with the latest *master*. https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets

@vvks It would be great if you can try running Brackets from source with the latest *master*

[2016-08-30 05:22] ficristo commented on #12551
Yes, it's Linux specific.
@nethip I think it would be nice to have tag/branch for Linux releases too.

[2016-08-30 05:25] ficristo commented on #12728
Could you share a snippet of code so we can reproduce?

[2016-08-30 06:07] moukbel commented on #12733
it's keep appear in the console, when i reloaded without Extensions its disappear.
thanks,

[2016-08-30 07:51] ficristo commented on #12733
Closing as extension problem.

[2016-08-30 07:51] #12733 closed

[2016-08-30 16:55] ilyachch commented on #12617
`/utils/EventDispatcher.js:125 Possible memory leak: 16 'activeEditorChange' listeners attached to Object {_eventHandlers: Object, _EventDispatcher: true}`

some of same arrors were before fail

[2016-08-30 18:49] alfredrb commented on #12728
Okay

[2016-08-30 18:52] alfredrb commented on #12728
Css: /* reset all the things */

*,
*:before,
*:after {
    margin:0;
    padding:0;
    border:0;
    text-decoration:none;
    outline:none;
}

/* fonts */

body {
    font-family:Arial, sans-serif;
}

/* dimension animator */

.animate
{
    -webkit-transition : max-width .4s, max-height .4s, width .4s, height .4s;
	-moz-transition    : max-width .4s, max-height .4s, width .4s, height .4s;
	-ms

[2016-08-30 20:38] DeveloperACE opened #12739 "Suggestion: open multiple projects in separate windows"
i posted this suggestion here (https://github.com/kooohei/brackets-synapse/issues/94) and then realized that this may be something that would have to be done by adobe or the brackets team...

The full description for the suggestion is linked above.

[2016-08-30 22:49] redmunds commented on #12739
@DeveloperACE You can open a second Brackets window using `Debug > New Brackets Window`, but this is experimental (which is why it's in the Debug menu). As long as you're not editing any files in both windows, it should be ok, but watch out for any weird behavior.

[2016-08-31 01:39] DeveloperACE commented on #12739
"As long as you're not editing any files in both windows, it should be ok, but watch out for any weird behavior."

Does this apply to all files in general or only to the same file/files from the same project? I would really like to be able to have two projects open at once in separate windows and be able to switch between them. (My main reason for this is because wakatime, my time-tracking app for

[2016-08-31 01:48] rodya-mirov commented on #10255
Can't install either (Ubuntu). This issue is 2 years old!

[2016-08-31 07:26] AdeHarrison opened #12740 "Not all selected text highlighted?"
Using latest (Release 1.7 build 1.7.0-16898 (release b0a363b71) build timestamp: Wed Jun 08 2016 04:20:22 GMT-0700) on El Capitan

When I select text, the first 2 chars aren't highlighted (see attached), bizarre but any ideas? it's really off putting

thanks in advance

![brackets](https://cloud.githubusercontent.com/assets/10206077/18119809/5b86a2a2-6f54-11e6-93e9-1e715c575b78.png)

[2016-08-31 07:36] petetnt commented on #12740
This has been fixed in https://github.com/adobe/brackets/pull/12635 and 12110, can you try the latest master (See: [How-to-Hack-on-Brackets](https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets)).

Feel free to reopen if the problem still occurs on you on the latest master.

[2016-08-31 07:36] #12740 closed

[2016-08-31 09:17] armorking5 opened #12741 "Saving language for extension not remembered"
Hi,
I have installed this plugin https://github.com/Athorcis/brackets-twig , but I have a problem.
I set tpl as Twig default extension and it isn't memorized as it goes directly to Text language, even when I checked the preferences file and see it saved.

[code]

'twigmixed' is the mode for the Twig language.
Brackets version 1.7 build release 1.7.0-16898
Thanks in advance

[2016-08-31 09:27] armorking5 commented on #12741
Excuse me, but I found the error and is not within Brackets core.

[2016-08-31 09:27] #12741 closed

[2016-08-31 10:09] ficristo commented on #12728
In the html you posted there isn't the link to the stylesheet, something like:
[code]
And this has nothing to do with live preview.

Plus I remember some issues, while using live preview, on html files which aren't enclosed in a `<html>` tag. So I would suggest to add it.

[2016-08-31 10:09] #12728 closed

[2016-08-31 16:46] redmunds commented on #12739
I meant that the files being edited in one Brackets window should not be edited in any of the other Brackets windows.

Case to avoid: make edit to a file in a Brackets window and before saving to disk, make a different edit to same file in another Brackets window. Brackets will save changes for one or the other, but won't merge changes. You'll lose one of the changes. This is also true between Bra

[2016-08-31 18:21] DeveloperACE commented on #12739
So open two separate projects with separate files is fine?

Okay thank you!

[2016-08-31 18:22] ficristo commented on #10255
Given the current situation on Linux, and my doubts that anything will change anytime soon, I would like to suggest to use [brackets-electron](https://github.com/zaggino/brackets-electron).
Basically it's Brackets but with Electron as the underline shell. I think it's worth a try.
Here a release: https://github.com/zaggino/brackets-electron/releases/tag/v1.8.1

Last year, electron was bring up as

[2016-09-01 05:45] ficristo commented on #12640
I'm not sure if I still continue on this given that @zaggino has released brackets-electron.
See this comment for a bit more context: https://github.com/adobe/brackets/issues/10255#issuecomment-243854796

[2016-09-01 11:08] lukejanicke opened #12743 "Extension Manager dialog blocks Switch Language dialog"
If you open the Extension Manager and then try to open Switch Language (in the Debug menu)... nothing happens. Selecting Switch Language should first close the Extension Manager so the Switch Language dialog can come up. Moreover, if you then try to close the Extension Manager, it is unresponsive for a few seconds before finally closing.

[2016-09-01 14:10] MarcelGerber opened #12744 "Tern: Look for a better solution to resolve paths"
In #12734, we monkeypatched `Tern.Server`'s `normalizeFilename` method, as it would break some functionality on Linux and Mac otherwise.

This issue is there to track any ideas for a better way to resolve the paths Tern sends us.

Many of the comments in #12734 are still relevant, especially those by @marijnh and @zaggino.

[2016-09-01 16:05] SamyCoenen commented on #12380
Install the official deb from launchpad https://launchpad.net/ubuntu/+archive/primary/+files/libgcrypt11_1.5.3-2ubuntu4.2_amd64.deb
and then the brackets installation works flawlessly.

[2016-09-01 18:02] rdealmeida12 opened #12745 "Paste option from the context menu"
I'm using the latest version of Brackets (1.7.0-16898). I can not paste from the context menu, but an able to paste from the edit menu and the Ctrl - V shortcut. I reloaded without extensions , still nothing..
any ideas ??

Bob

[2016-09-01 18:03] ficristo commented on #12745
Brackets doesn't have native context menu. Probably an extension problem.

[2016-09-01 18:03] #12745 closed

[2016-09-01 18:16] rdealmeida12 commented on #12745
If I highlight some text, right click and scroll down and left click on cut and then position the cursor some where else, right click and left click on paste nothing happens.. I've tried reloading without extensions, still the same thing..
Any Ideas??
Bob

[2016-09-01 18:20] ficristo opened #12746 "Running some InlineEditorProviders tests make Brackets to blank out (only when running through VS or XCode)"
When I tryed to run the tests under the `describe("InlineEditor provider prioritization"`, after having build the shell and executing it with the ide, Brackets blanked out.
This both on Windows10 with Visual Studio and OSX with Xcode.

[2016-09-01 18:21] rdealmeida12 opened #12747 "Can not right click and paste"
If I highlight some text, right click and scroll down and left click on cut and then position the cursor some where else, right click and left click on paste nothing happens.. I've tried reloading without extensions, still the same thing..
Any Ideas??
Bob

[2016-09-01 18:24] ficristo commented on #12745
If you are trying to copy and paste from the context menu, Brackets doesn't have it currently: so you have an extension that add it.
If you have tryed reloading without extensions, you shouldn't see the context menu with copy and paste anymore.
And that is the expected behaviour.

[2016-09-01 18:27] ficristo commented on #12747
I closed this https://github.com/adobe/brackets/issues/12745 for a reason.

[2016-09-01 18:27] #12747 closed

[2016-09-01 18:45] petetnt commented on #12743
Modal dialogs in general should be unaccessible when other modals are open, but I think it isn't possible with `CEF` AFAIK

[2016-09-01 19:39] Denisov21 commented on #12587
Big idea!

[2016-09-01 20:29] devarni commented on #11826
I can confirm that undo/redo is not working (V. 1.7) on Debian 64Bit!

[2016-09-01 22:25] zaggino commented on #11826
@devarni please try Electron build https://github.com/zaggino/brackets-electron/releases

[2016-09-02 07:59] p-lehnhardt opened #12748 "Health report notification seems invisible instead of closed after pressing 'x'"
After opening brackets (new installation), a notification of the health report appeared in the upper right corner. After clicking 'x' the notification seemed to be closed, but the region of the editor, where the notification has been, is now unselectable. Even the links of the notification are still clickable despite of not visible (only the cursor changes to the default link-appearance). Using br

[2016-09-02 08:51] devarni commented on #11826
@zaggino Yes, thanks, With this build undo/redo is working!
Does it need to reinstall all extensions or it's enough to copy the user folder with the extensions?

[2016-09-02 09:42] zaggino commented on #11826
@devarni You can safely copy extensions; if some of them misbehave try reinstalling them; if doesn't help open an issue at https://github.com/zaggino/brackets-electron/issues

[2016-09-02 15:46] fralix opened #12749 "Show function syntax for functions"
Hey,
I am not sure if this was already proposed (but I didn't find it).

What about showing the function syntax when it gets typed.

E.g. I type in a php document "hash(" and under the line I see
`string hash ( string $algo , string $data [, bool $raw_output = false ] )` as it is defined in PHP here http://php.net/manual/en/function.hash.php .

Inspired by the Geany IDE :D
Additionally you could p

[2016-09-02 19:07] ficristo commented on #12749
You could try https://github.com/Brackets-PHP/Brackets-PHP-SmartHints or see if there is another extension

[2016-09-02 19:20] fralix commented on #12749
Ah ok thank you. But I meant the preview of the syntax :D
But this is good and I will try other extensions if I have time :D

[2016-09-03 17:42] petetnt commented on #10658
Not valid issue anymore, closing

[2016-09-03 17:42] #10658 closed

[2016-09-03 17:54] petetnt commented on #12063
Added to core with #12674

[2016-09-03 17:54] #12063 closed

[2016-09-03 17:54] #12651 closed

[2016-09-03 23:33] AndGK opened #12750 "Folder for Themes?"
Where can I find a folder that represents themes I downloaded and the default one? For example, I want to edit default color of default theme from #f8f8f8 to #ffffff.

[2016-09-04 07:32] steventce commented on #11472
+1 - If a folder or file is selected, even if I right-click the empty space below the project tree to create something new under the root, the new folder or file is created in the sub-directory of the selected item instead.

[2016-09-04 10:28] petetnt commented on #12750
Hi @AndGK,

the themes are located in the `extensions` folder, which you can open from `Help -> Show Extensions Folder`.

Feel free to comment if you cannot find the said theme.

[2016-09-04 10:28] #12750 closed

[2016-09-04 12:48] 1951FDG commented on #11871
Works as expected using Release 1.6 build 1.6.0-16680 (release 3df0ac6fa) . Issue can be closed!

[2016-09-04 18:00] #11871 closed

[2016-09-05 12:33] petetnt commented on #12370
Closing as duplicate

[2016-09-05 12:33] #12370 closed

[2016-09-05 12:34] #12349 closed

[2016-09-05 14:59] AyushKenhi opened #12754 "Bold Font"
Is there any way to bold the font of the editor.

[2016-09-05 19:18] #11748 closed

[2016-09-06 00:06] pingtopablo commented on #11416
This may be related to some Adobe's guidelines since I have seen this behavior present on other Adobe's apps such Photoshop or Illustrator.

But as I said before I think this is a misconception and should be reverted.

[2016-09-06 07:47] marek8623 opened #12756 "Problem with saving html files"
Hi everyone,

I have problem with saving html files. If I want to save a file I need to click on another file on the left side and then brackets will save the opened file.

Thank you for your response.

[2016-09-06 15:08] dhruvajoshi8 opened #12757 "Visual Studio Crash when 'Open Folder'"
Visual Studio on my machine gets crashed when i try to open a folder. Below is the error i get
![image](https://cloud.githubusercontent.com/assets/22031266/18279011/b7a4dc9e-7471-11e6-898b-9a6056fc0e7c.png)

I tried looking into various issues reported here. Though could not find any solution to this particular problem. Can somebody please help?

Thanks in advance!

[2016-09-06 15:25] petetnt commented on #12757
Hi @dhruvajoshi8,

you might be looking for VSCode repository located at https://github.com/Microsoft/vscode

This repository belongs to `Brackets` code editor.

[2016-09-06 15:26] #12757 closed

[2016-09-06 15:52] RoteMinecraftIL opened #12758 "Can't install Bracket on linux"
I downloaded the Brackets v1.7 64bit .deb to my Kubuntu 16.04.1 64bit pc, when typing `sudo dpkg --install Brackets.Release.1.7.64-bit.deb` on the admin account I get [this](https://gist.github.com/RoteMinecraftIL/33069153c73cfb6c79876a028d1d287c) crash log. HELP ME!

[2016-09-06 17:29] isaacdew opened #12759 "Using PHP When Building Extensions"
Is it possible to build an extensions' interface with PHP? I am working on an extension that I need to submit information to a database. The only way I know how to do this is through PHP but it seems to ignore all of the PHP syntax. If there are any other possibilities like doing it via Javascript let me know.

[2016-09-06 17:29] NathanJPlummer commented on #12758
There's a couple fixes for this.

First, this [this page here](http://www.webupd8.org/2015/04/fix-missing-libgcrypt11-causing-spotify.html) has a solution, which basically explains where to get the old libcrypt.  The two libcrypts can work side by side.

You can also install brackets [from this PPA](https://launchpad.net/~webupd8team/+archive/ubuntu/brackets) which will handle this issue automatic

[2016-09-06 17:49] ficristo commented on #12758
@NathanJPlummer thank you for answering.
This is a dupe of #10255 or #12380.
Especially for Linux users I suggest to try https://github.com/zaggino/brackets-electron/
Some context: https://github.com/adobe/brackets/issues/10255#issuecomment-243854796

[2016-09-06 17:49] #12758 closed

[2016-09-06 17:50] ficristo commented on #12759
Do you mean a Brackets extension? If so it's not possible.
But I don't understand what you mean with "ignore all of the PHP syntax".
Can you clarify?

[2016-09-06 18:01] ficristo commented on #12754
It's depend on what you want it for. You could:
- try a theme that change the style of the editor (but it will not affect the file tree)
- play with an extension, but I'm not sure if you can theme completely the file tree
- change the font on `View \ Themes` to one installed on your system on use a bold font
- play with the styles on Developer Tools (but they will be forgetten on restart)

[2016-09-06 18:04] ficristo commented on #12756
Can you reproduce with `Debug \ Reload Without Extensions`?
If so, could you give us the exact steps to reproduce?
For example are you trying to save an existing file or one created with `Ctrl+N`?

[2016-09-06 18:19] isaacdew commented on #12759
Yes. I mean that it acknowledges all of the HTML within the PHP file but ignores all of the actual PHP. Thanks for answering. Is it possible that I can connect to a database another way? Is there a way to use JavaScript?

[2016-09-06 21:32] zaggino commented on #12759
@isaacdew using database might not be a best solution for brackets extension, can you share more information on what does your extension do and what kind of data do you need to save?

[2016-09-06 21:41] isaacdew commented on #12759
@zaggino - I built an in editor time clock (just a basic JS timer) to keep track of a user's development time but I want to allow the user to save their time in a database and associate it with a specific project in the database.

[2016-09-06 22:00] zaggino commented on #12759
1) https://github.com/adobe/brackets/wiki/Preferences-System Brackets have State object which is kind of a local data storage that you could utilize to save data on users computer
2) if you want to send it to a database in internet, you'll need to setup a api server somewhere and use jquery's `$.ajax` to send it there, that's how Health Data is being collected: https://github.com/adobe/brackets/bl

[2016-09-06 22:10] isaacdew commented on #12759
The second option will most likely be what I'm looking for. I want developers to be able to view their hours through a web application. Thank you.

[2016-09-06 22:43] ealgase opened #12760 "Can't condense code blocks without opening properly"
### Description

Sometimes, after closing code blocks and not clicking the open button, when they do open, I can't close them.

### Steps to Reproduce

1. Condense code block
2. Do things such as moving cursor to the ... and opening it without clicking.
3. After a few tries, the arrow will turn right; however, the code block will not be condensed

**Expected behavior:** Arrow points down and allow

[2016-09-06 23:53] #12759 closed

[2016-09-06 23:56] zaggino commented on #12760
cc @thehogfather

[2016-09-07 03:37] vicApakau opened #12762 "auto compile (sass, pug)"
This is the only place to chat / no forum?
(slack invite is not working)

In Atom, I can auto compile pug and sass.
How do I do that in Brackets?

I added the extensions and they ... don't auto compile?
Vic

[2016-09-07 05:09] zaggino commented on #12762
Hi, you'd need to ask extension authors to implement auto-compile in their extensions.
Probably best place would be in the extension repositories:
https://github.com/ForbesLindesay/jade-brackets/issues
https://github.com/jasonsanjose/brackets-sass/issues

[2016-09-07 05:09] #12762 closed

[2016-09-07 10:28] vvks commented on #11826
@nethip i have been running Brackets from source with the latest master and the issue seems to be fixed now. thank you..

[2016-09-07 10:32] anika-infoobjects commented on #11588
This feature is a must have for any editor. I am surprised to find brackets does not support this..

[2016-09-07 11:04] nethip commented on #11588
There is a PR raised for this. https://github.com/adobe/brackets/pull/12442

[2016-09-07 14:40] iegik commented on #11990
[code]

[2016-09-07 14:42] iegik commented on #11990
possible Memory Leak at /thirdparty/CodeMirror/lib/codemirror.js:1390
[code]

[2016-09-07 20:47] mdxprograms commented on #11826
I'm with @thany. This has pushed me to another editor altogether. This is a core feature. Not even a feature at that. A necessity.

[2016-09-07 20:48] mdxprograms commented on #11826
This happens for me on 1.7 btw

[2016-09-07 20:49] mdxprograms commented on #11826
@petetnt do you have the git plugin installed? That's what causes the undo to break for me

[2016-09-07 21:30] zaggino commented on #11990
@iegik since you're on linux, can you test this with https://github.com/zaggino/brackets-electron/releases please?

[2016-09-07 21:36] petetnt commented on #11826
@mdxprograms I don't, but I outlined the issue in https://github.com/zaggino/brackets-git/issues/1274 in january.

It might be fixed in the current master though already with #12681. If you could try that out, see https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets

[2016-09-08 00:47] ealgase opened #12763 "Annoying lag when typing/moving with arrow keys"
### Description

Whenever I type text, sometimes my rendering in brackets falls behind for a few seconds, so I can't see what I'm typing.

### Steps to Reproduce

1. Type text

**Expected behavior:** When I type text or move with arrow keys, the changes are instant

**Actual behavior:** It takes a few seconds

### Versions

Windows 10
Release 1.7 build 1.7.0-16898 (release b0a363b)

[2016-09-08 01:43] zaggino commented on #12763
@ealgase
1) Have you tried `Debug > Reload Without Extensions` mode? (`Shift+F5`)
2) What extensions do you have installed? (copy from `Help > Health Report`)

[2016-09-08 01:55] yamenr opened #12764 "When opening a jpg image main Brackets screen becomes white, cannot open other files, cannot close brackets!"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug \ Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wik

[2016-09-08 03:49] nethip commented on #11826
@vvks Thanks for confirming. This is relieving for sure!

@mdxprograms As @petetnt had suggested, could you try running Brackets from source to see if you are still seeing this issue?

[2016-09-08 03:58] mdxprograms commented on #11826
@nethip sure thing. I'll give it a go tomorrow morning.

[2016-09-08 04:19] #12764 closed

[2016-09-08 05:32] zaggino opened #12765 "leaks in src/command/Menus.js"
`Menu.prototype.addMenuItem(CMD_ID)` (1) calls constructor MenuItem(id, command) (2) which attaches event handlers to command (3). Calling `Menu.prototype.removeMenuItem(CMD_ID)` (4) doesn't remove these handlers leading to infinitely increasing numbers of event handlers on command.

1) https://github.com/adobe/brackets/blob/master/src/command/Menus.js#L546
2) https://github.com/adobe/brackets/blo

[2016-09-08 08:02] StudioMastro commented on #10719
Hi there,
not sure is the same issue, but similar.

I'm working on a newsletter storage on a network (win pc) from my Mac and, if I paste an element in my working folder on the network, it won't refresh the content in brackets.

Already tried with ^⌘R...

It does work when I do in local, not if I cmnd+k to my business network from my mac.

Any help?

[2016-09-08 08:54] petetnt commented on #12765
Nice catch and should be pretty trivial to fix. Any takers?

[2016-09-08 22:53] ealgase commented on #12763
Health Report:
`{
    "uuid": "377f821f-e07c-4138-a0a6-214ba5e34fef",
    "snapshotTime": 1473375068355,
    "os": "win",
    "userAgent": "Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Brackets/1.7.0.0 Chrome/49.0.2623.110 Safari/537.36",
    "osLanguage": "en-US",
    "bracketsLanguage": "en-US",
    "bracketsVersion": "1.7.0-16898",
    "projectLoadTimes": "",
    "

[2016-09-08 22:57] ealgase commented on #12763
Testing more, it DOES still occur, but only when typing in a Javascript code block within HTML.

[2016-09-09 03:08] daytonallen commented on #12765
I could have a go at this one. If I'm understanding the problem correctly all I'd need to do is fetch the menu item and call `removeEventListener` for each of the attached events on it right?

[2016-09-09 03:54] zaggino commented on #12765
@daytonallen go ahead
bit of tips: `command` comes from here: https://github.com/adobe/brackets/blob/master/src/command/CommandManager.js#L66-L73 so it's event methods are provided by `EventDispatcher`

you need to get a quick look at the code in https://github.com/adobe/brackets/blob/master/src/utils/EventDispatcher.js and it's `off` method that it assigns to objects

when calling off, you need t

[2016-09-09 05:19] #12413 closed

[2016-09-09 06:23] vvks commented on #12322
@MarcelGerber hi, i just wanted to point out that i am currently running Brackets from source to try out the fix for #11826 and since then code hints have stopped working for me. i deleted the cef_data folder and i saw no relevant error in the console.

they used to work fine earlier.

[2016-09-09 06:38] zaggino commented on #12322
@vvks please run `npm install` in the cloned `brackets` directory and try again

[2016-09-09 06:50] vvks commented on #12322
@zaggino yes, after running `npn install` it works fine. thank you..

[2016-09-09 14:53] CupOfTea696 opened #12766 "Allow setting default file type for files without extension"
### Prerequisites
- [x] Can you reproduce the problem with `Debug \ Reload Without Extensions`?
- [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
- [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?
### Description

Setting the default language for files with no file extension has no effect.
### Steps to