[2015-04-15 17:14] prksingh commented on #10901
Closing as a duplicate.

[2015-04-15 17:14] #10901 closed

[2015-04-15 17:23] petetnt commented on #10779
Just noticed when trying out #10906 that holding down F5 will crash Brackets within seconds

[2015-04-15 17:57] abose commented on #10886
:cool:

[2015-04-15 18:01] abose commented on #10896
Yes probably the line length would be the issue here. Brackets doesn't handle long lines very well,  issue #10738 describes similar issues with files the the 100KB range.

[2015-04-15 18:50] valtlait commented on #10775
Value in `FIND_IN_FILES_SCOPED` is `in <span class='dialog-filename'>{0}</span>`. There should be `REPLACE_IN_FILES_SCOPED` which contains the same value. But in Finnish translation there would be two different values.

[2015-04-15 18:57] kupoback commented on #10899
I am on Windows 8.1, current Brackets build, and the latest version of Grunt and the extension. Is there anyone who has experience on this?

[2015-04-15 19:19] in-in opened #10909 "Undo doesn't work after saving"
First of all, thank you for excellent IDE.

I use Csscomb to formatting my Sass code but this plugin "CSScomb Brackets" not allow to use my own configuration (.csscomb.json). So I started to use grunt-csscomb this work well for me, but after formatting I lose undo history. Do I have any chance to fix it. Thank you anyway.

For information, I used the same process with Sublime Text and I can use Un

[2015-04-15 20:18] larz0 opened #10910 "CSS in Extract Plugin messes up the modal dialog title styling in Brackets"
![screen shot 2015-04-15 at 1 17 11 pm](https://cloud.githubusercontent.com/assets/1495261/7168378/d868919c-e371-11e4-9de3-a0ca7083d145.png)

 (cc @ryanstewart @peterflynn).

[2015-04-15 20:46] larz0 commented on #10910
Closing, apparently this only happens on my machine.

[2015-04-15 20:46] #10910 closed

[2015-04-15 21:13] larz0 commented on #10858
I think this only happens when the collapsed code has a nested collapsable code.

[2015-04-16 01:13] tofanelli commented on #10836
Hey Prashant!

I think this is impossible to have a previous installation, once, as I told you, this is a fresh Windows installation in a completely new hard drive. So, it's completely impossible to have another Brackets installation. Even if had a chance, my previous hard drive is already formated.

I didn't save any plugin or whatsoever exactly for this reason. To be sure anything will "mask"" t

[2015-04-16 05:08] rawat11 opened #10913 "[IQE]: A rectangular pop up appears after Health data pop up which vanishes instantly when Bracket is launched for the first time"
Steps:
1. Launch Brackets for first time with Cache cleared.

Result: Health Data notification comes followed by a strange pop up that vanishes instantly.

Expected : Only Health Data Notification should pop up.

ENV : Win 7
Build:1.3.0-15958

Note: Screenshot is not available as the pop up box vanishes instantly

[2015-04-16 05:13] prafulVaishnav commented on #10913
@rawat11 Can you send the screenshot of that strange popup?

[2015-04-16 05:51] prafulVaishnav commented on #10909
@in-in Brackets do not maintain the undo history if the file is modified by some other process.

[2015-04-16 05:52] prafulVaishnav commented on #10909
@in-in We have similar item in backlog to remember the undo history. Please upvote it [here](https://trello.com/c/H8AyDwFA/391-local-history-versioning)

[2015-04-16 05:54] nethip commented on #10906
I am kind of adding the same labels as present in #8116  & #10779. It would be good to debug it though.

[2015-04-16 05:55] prafulVaishnav commented on #10903
Similar to this https://github.com/adobe/brackets/issues/7571

[2015-04-16 06:17] rawat11 commented on #10913
@prafulVaishnav - Hope it works.

![image](https://cloud.githubusercontent.com/assets/10069885/7175080/3ff0244e-e42e-11e4-8359-e73e9b052742.png)

[2015-04-16 06:22] nethip commented on #10398
@dmxt While we figure out how to solve this issue, did you try passing the parameter `--disable-direct-write` to Brackets shortcut. In order to do that, you could add the parameters to the `Target` edit box, present in the shortcut's *Properties* dialog. So the Target edit box would look something like

`"C:\Program Files (x86)\Brackets\Brackets.exe" --disable-direct-write`

Can you try this and l

[2015-04-16 06:50] activenode commented on #10896
Why is that so? Any reason for that? I totally switched the Editor because we are working with auto-generated icons.css and this breaks the workflow.

[2015-04-16 07:12] abose commented on #10896
Very sorry to hear that this issue is breaking your workflow.
I have marked for fixing for the next release. Please give us some time to fix the issue.

[2015-04-16 08:16] prafulVaishnav commented on #10913
@rawat11 We will not be using this dialog box. Rather, we will be using the pop-up. You can see the conversation on this [PR](https://github.com/adobe/brackets/pull/10912) We will merge the change by tomorrow definitely. This also includes string change.

[2015-04-16 09:07] petetnt commented on #10909
As a stop-gap workaround you could try replacing the `CSScomb Brackets`-extensions config-file with your own (It's located at `..\Brackets\extensions\user\csscomb-brackets\node_modules\csscomb\config`). Sadly that doesn't really work project-by-project basis but you could try filing an issue to [hano/csscomb-brackets](https://github.com/hano/csscomb-brackets/issues).

[2015-04-16 09:13] shorshe commented on #10433
I'd make an argument against the feature creep. Brackets should not be an achieve manager,true.
But treating an archive as just an other kind of folder would be different, in my opinion.
Other Texteditors do this too.

[2015-04-16 09:45] valtlait commented on #10876
@njx You can use non-breaking hyphen to prevent line break between hyphen and greater than sign. In that case, “->” becomes “\u2011>”.

[2015-04-16 11:59] PhiLhoSoft commented on #10827
For the record, my `.brackets.json` file has other settings `"language": { "javascript": { "useTabChar": false } },` that override a global (defined in `brackets.json`) `"useTabChar": true`, and only for this project.
So this eliminates bad placement of the file, bad syntax inside it (it would be reported, anyway, would it? -- just checked, not at all, but I see the change in the above setting) an

[2015-04-16 12:25] SeanJM commented on #10906
It would be. Doing a plug in without having to quit brackets and open it after a few reloads would take a bit off my mind.

[2015-04-16 13:15] kupoback opened #10915 "Uploading to a file system?"
I am working for a web firm who does hosting as well through our own servers. With that, we are networked into those servers and do a lot of local uploads.

Is there a way to set brackets to push a file to that folder on the server, without having to edit from the server? We use Git for repositories, to keep up to date on everything that's been changed.

I can upload to SFTP, to Media Temple, but

[2015-04-16 14:44] redmunds commented on #10827
I took a quick look at the extension code (i.e. I haven't tried running it or stepping through it) and it looks like the prefs are retrieved at extension load time. The prefs for your default startup project may not have been loaded, and any project that you switch to later will definitely not have been loaded. Try waiting until `_indexFilter()` is called to retrieve the pref.

If that fixes probl

[2015-04-16 15:35] brennan-macaig opened #10916 "On Linux, Brackets always opens as if it was the first time."
It always acts like it's the first time opening the program. Live preview shows the notes like it would for a first-timer, extensions pop up with their settings as if it was just opened after an update... etc.

[2015-04-16 18:03] njx commented on #10876
@valtlait Thanks for the info. In general, though, we've just used ` > ` in documentation that refers to menu items, and I think it looks nicer anyway - it looks less like a fake ASCII arrow and more just like a delimiter.

[2015-04-16 19:33] abose commented on #10916
Which version of linux, brackets are you on?
Did brackets always behave this way or did it broke after an update?

Also could you go to debug>show developer tools > and see if there are any error messages in the console?

[2015-04-16 19:40] abose commented on #10915
There are many FTP/SFTP extensions available in brackets. Please check if one of those suits your requirement.

[2015-04-16 20:26] WopkePB opened #10917 "A theme with a file list that has a light background and dark characters"
All themes appear to have a dark background with light characters. I have been looking high and low for a lighter theme that has a standard light background and dark characters. Is it possible to create such a theme myself or are there other ways to accomplish this?

Thanks a lot,

Wopke

[2015-04-16 20:39] ryanstewart commented on #10917
Are you talking about the file list view or the code editor itself? There are lots of dark-on-light themes for the code editor (and that's what Brackets has by default).

We don't currently have any easy way to style the file panel UI. But that's on our roadmap.

=Ryan
ryan@adobe.com

[2015-04-16 21:35] peterflynn commented on #10905
Probably most related to this story: [Clipboard Cut/Copy/Paste in Editor Context Menu](https://trello.com/c/ZriVEu50/935-clipboard-cut-copy-paste-in-editor-context-menu)

[2015-04-16 21:39] peterflynn commented on #10905
Actually, this is probably not something we could use since it deliberately doesn't support paste.  I've added a note on the Trello card though, so we can check back later to see if they decide to expand the scope of this feature.  Closing since there's nothing we can do for now.

[2015-04-16 21:39] #10905 closed

[2015-04-16 22:05] WopkePB commented on #10917
Hi Ryan,

Thanks for your quick reply, much appreciated. There are a lot of nice light right panel themes, but  I'm looking for a theme that brightens up the sombre left panel with the files. In other words, I guess I'm looking very much forward to your roadmap issue that resolves "Brackets currently only supports editor themes." Please keep me posted, because I really like Brackets.

Cheers,

Wop

[2015-04-16 22:14] le717 commented on #10905
Except wouldn't paste be rather easy to implement? When the paste command is sent, get the cursor location and using CM's insert method (or anything else) to inject the text right there? It might be that paste was deliberately for that purpose: we already have most (if not all) the ability to code in a paste ourselves (although I agree, it would be nice if the API supported paste).

[2015-04-16 22:31] rp4rk commented on #10630
Confirmed broken on Surface Pro 2, exact same problems as in original post.

[2015-04-17 02:53] JonathanWolfe commented on #10827
I did finally solve the issue by waiting on `appReady` and then refreshing the filetree. (Otherwise not waiting for `appReady` and just running on `_indexFilter`'s regular time would use the global settings until the `appReady` event naturally fired.

[2015-04-17 04:50] prksingh commented on #10906
Closing as a duplicate of #10498

[2015-04-17 04:50] #10906 closed

[2015-04-17 04:53] madanbn commented on #10812
It looks risky to be doing a merge of CM now so close to the release for 1.3, shouldn't we move this to 1.4?

[2015-04-17 04:56] nethip commented on #10590
I am moving this out to 1.4 as we are going to pull latest version of code mirror only in 1.4

[2015-04-17 04:57] nethip commented on #10893
We are going to add unit tests in 1.4

[2015-04-17 04:58] nethip commented on #10913
Removing the 1.3 label as we are now going to use popup instead of this dialog.

[2015-04-17 05:39] PandawanFr opened #10918 "Can't use Live Preview"
So I updated Brackets a couple days ago. And now when I want to use Live Preview, it asks me for a BASE URL, which I don't want to modify, i just want it to use default, so I searched on google, and apparently, default is localhost, so when i type http://localhost/ and open live preview, I get a chrome error "ERR_CONNECTION_REFUSED"

I am not really experienced with Brackets, sorry if that's easy

[2015-04-17 05:59] PandawanFr commented on #10918
I tried removing the live-dev folder, removing all baseurl from state.json... Nothing

[2015-04-17 06:19] prksingh commented on #10836
I see brackets consuming ~150 MB memory on my system as well. I don't think this has a quick fix though. Marking 'move to backlog', so it can be picked with as part of general performance fixes

[2015-04-17 06:22] peterflynn commented on #10905
That part is indeed easy -- in fact, that's exactly how CodeMirror works already.  The hard part is _triggering_ the paste command in the first place.  Browsers will trigger it natively when the user hits Cmd-V or selects Paste from the _native_ menu bar; but JS cannot trigger paste on its own (e.g. from an HTML toolbar button or context menu).  In regular browsers, it would be a serious security

[2015-04-17 06:24] peterflynn commented on #10905
So to clarify the original title -- cut/copy/paste _already_ in-browser today if you use the keyboard or the native menu.  We just couldn't offer an HTML menu (e.g. our own Edit menu) with menu items for cut/copy/paste.

[2015-04-17 06:26] sundaysen commented on #10723
I believe Notepad++ has such a feature.

[2015-04-17 06:31] #10715 closed

[2015-04-17 08:16] ryanstewart commented on #10893
Moving this to the Release 1.4 planning column.

[2015-04-17 08:17] ryanstewart commented on #7638
Moving this to tackle in 1.4.

[2015-04-17 08:20] ryanstewart commented on #10918
Are you using the experimental live preview or just the default?

[2015-04-17 08:21] ryanstewart opened #10921 "Update CodeMirror"
Update code mirror to latest version and fix issues.

[2015-04-17 09:39] abose commented on #10869
PR merged, So closing the issue.

[2015-04-17 09:39] #10869 closed

[2015-04-17 10:10] prafulVaishnav commented on #10876
Fixed by this [PR](https://github.com/adobe/brackets/pull/10912)

[2015-04-17 10:10] #10876 closed

[2015-04-17 10:33] prafulVaishnav commented on #8980
Verified. Indentation is working fine.. Closing..

[2015-04-17 10:33] #8980 closed

[2015-04-17 12:13] prafulVaishnav commented on #10918
You can find how live preview works [here](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#live-preview) . For any live preview troubleshooting, please try the suggestions given in this [link](https://github.com/adobe/brackets/wiki/Troubleshooting#livedev) Please let us know if you still face any problem.

[2015-04-17 13:50] MarcelGerber opened #10923 "Health Data dialog barely readable using dark theme"
The dialog currently looks like this with a dark theme applied:
![image](https://cloud.githubusercontent.com/assets/2641501/7203227/546e2132-e519-11e4-968c-62092cb779e5.png)

As you can see, the actual data is gray on gray, so it's barely readble.

[2015-04-17 14:14] PandawanFr commented on #10918
Default, I tried experimental, it just uses safari instead of chrome

[2015-04-17 14:15] PandawanFr commented on #10918
I know how Live preview was it used to work, but now that I updated, it asks me for a Base URL which I don't want to modify, I just want to use the "no backend logic"

But I don't know how...

[2015-04-17 14:58] redmunds commented on #10918
@PandawanFr Brackets should only prompt for Base URL for file extensions that it recognizes as server-side files (which are only supported using a Base URL). What's the file extension of your file?

[2015-04-17 18:12] cfjedimaster opened #10928 "Code folding with array of objects"
Given this code:

  // Some fake testing data
  var chats = [{
    id: 0,
    name: 'Ben Sparrow',
    lastText: 'You on your way?',
    face: 'https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png'
  }, {
    id: 1,
    name: 'Max Lynx',
    lastText: 'Hey, it\'s me',
    face: 'https://avatars3.githubusercontent.com/u/11214?v=3&s=460'
  }, {
    id: 2,
    name: 'Andrew Jostlin',

[2015-04-17 18:54] cfjedimaster opened #10929 "Command line should be lowercase"
I can't test this because my Debug menu doesn't have the 'install command line' thing mentioned in the draft release notes, but the command line really should be "Brackets", but "brackets". The capital letter is awkward and will slow folks down when typing.

[2015-04-17 18:59] ryanstewart commented on #10929
Whoops, that's moved to the _File_ menu and we made it lower case. I'll fix the draft release notes.

[2015-04-17 19:01] ryanstewart commented on #10929
Updated the release notes and linked the [command line](https://github.com/adobe/brackets/wiki/Command-Line-Tools) wiki correctly. Closing.

[2015-04-17 19:01] #10929 closed

[2015-04-17 19:36] MarcelGerber commented on #10858
Our `pointer-events: none` rule causes this problem.

[2015-04-17 20:23] peterflynn commented on #10214
Brackets release 1.3 will have a built-in workaround for this issue, so the mouse hacks should no longer be needed to restore the Brackets 1.0 scrolling behavior.

Lowering priority and leaving open, since we do eventually want to pick up a CEF fix and remove the hacky workaround.

Note: this does _not_ make Brackets 1.3 respect the OS setting for number of lines to scroll.  No version of Brackets

[2015-04-17 21:22] njx commented on #10923
This also happens with other dark themes like Mystique.

[2015-04-17 21:32] MarcelGerber opened #10931 "Health Data UX: Long time until dialog shows up"
1. Restart Brackets
2. Select `Help > Health Report`

Result: For me, the dialog takes around 3 seconds to show up. I've even gotten longer waiting times before.

There's no sign of loading or fetching data in the background, so for some seconds it feels like Brackets has either become unresponsive or just no-oped.

Obviously, that's because the extension registry is fetched in the background, but

[2015-04-17 21:37] JeffryBooher commented on #10630
Marking this as Needs Review since it's a recent regression.

[2015-04-17 21:48] ryanstewart opened #10932 "`brackets` versus `bkts` or Something Smaller for Command Line Tools"
In the 1.3 release we're going to be introducing an official [command line tool](https://github.com/adobe/brackets/wiki/Command-Line-Tools) so you can open any file/folder in Brackets from the terminal or command prompt.

After a bit of discussion the team decided that `brackets` wasn't too long and would be fine as the command to launch it. Other editors have gone with something 4 characters (`ma

[2015-04-17 21:54] hpoom commented on #10932
Personally I am a fan of short CLI commands. I like what sublime did with subl. I am also a fan of bkts and have been using it for some time.

I would like to see bkts used.

[2015-04-17 22:13] mezpahlan commented on #10932
I prefer legibility over short names. With tab auto complete, brackets makes more sense. What if I don't know know the alias? Typing brackets rather than bkts would be more natural to me.

[2015-04-17 22:16] johnbillion commented on #10932
How about both? `bkts` could be an alias for `brackets`.

[2015-04-17 22:29] p4bl1t0 commented on #10932
I prefer `brackets` over `bkts`. I sometimes had problems remembering commands so the larger one it's more rememberable for me.

[2015-04-17 22:32] PandawanFr commented on #10918
php

[2015-04-17 22:49] redmunds commented on #10918
PHP is "backend logic". Using a local server and specifying Base URL is the only way it works with default live preview.

[2015-04-17 22:52] PandawanFr commented on #10918
So I have to use html if I want it to be normal? How could I make it work with a BaseURL? When I put localhost, it tells me ERR_CONNECTION_REFUSED

[2015-04-17 22:56] redmunds commented on #10918
It sounds like you don't have a local server installed or it hasn't been started. Mac comes with a built in server. On Windows, you can use something like WAMP.

[2015-04-17 22:56] PandawanFr commented on #10918
Whoops, just did something bad...

[2015-04-17 23:34] brennan-macaig commented on #10916
@abose Sorry about that.

Here's my system specs:

**OS:** Ubuntu 14.04 LTS / 64Bit

**Brackets:** 1.2, been broken since 1.1 I believe....

[Console output can be found here](http://hastebin.com/raw/iwutogetud).... Most of it seems extension related, but it's been happening without these extensions

Thank you for your help @abose !

[2015-04-17 23:38] luisalvarado opened #10933 "Dragging PHP,CSS,HTML,JS files or Complete folders to Brackets icon on Ubuntu Launcher does not open Brackets with files"
Was explaining the benefits to a friend between Sublimetext and Brackets and one thing Brackets did not do was support for dragging and opening different web files (html,css,js,php,xml,json...) or even opening a complete folder when we dragged it to the Brackets icon on the Launcher in Ubuntu. I had already even added the MimeType to support the different extensions but Brackets opened empty, not

[2015-04-17 23:52] taggon commented on #10932
+1 for `brackets`

[2015-04-18 01:12] larz0 commented on #10932
```brackets```

[2015-04-18 01:15] Equinoxdawg commented on #10932
As others have said: `brackets`, with the alias`bkts` available, too.

[2015-04-18 01:24] AGNOCKI commented on #10918
Yep
-cody

On Apr 17, 2015, at 6:32 PM, PandawanFr <notifications@github.com> wrote:

php

—
Reply to this email directly or view it on GitHub.

[2015-04-18 04:17] abose commented on #10932
+1 for `brackets`, with alias `bkts`.

[2015-04-18 04:40] abose commented on #10916
It seems that brackets-minimap is throwing some errors.
Can you try removing the extension and see if the problems persist?
Also check if it works if you reload without extensions [debug>reload without extensions].

[2015-04-18 07:15] stephenkeep commented on #10932
As suggested on twitter simply  {}

[2015-04-18 12:36] brennan-macaig commented on #10916
@abose reloaded without extensions, same thing. Removed brackets-minimap as well, same thing again.

[2015-04-18 14:53] PandawanFr commented on #10918
?

[2015-04-18 15:12] djondi opened #10936 "Double click select a part of a var"
This one is simple. Double clicking on a variable "$var" selects only the "var" without the $ sign :)

[2015-04-18 20:19] MarcelGerber commented on #10896
@activenode I _think_ my branch (PR #10882) will fix that issue. Would you be willing to try? I could generate a test build for you so you can just replace some files in the Brackets install dir - only if you want, of course.

[2015-04-18 20:27] MarcelGerber commented on #10903
@prafulVaishnav From what I can tell, that's a different issue. In my issue, the file being inline-edited is marked dirty, but here, the inline-editor host is marked dirty.

[2015-04-18 20:45] MarcelGerber commented on #10936
What language is your file written in?
It should already work with JavaScript, PHP and Perl files. If it doesn't, what version of Brackets are you using? See `Help > About Brackets`.

[2015-04-18 21:06] MarcelGerber opened #10938 "Windows: Command line shortcut doesn't work in Git Bash"
1. Open Git Bash (Msysgit) on Windows
2. Type `brackets`

Result:
[code]
even though it works just fine in cmd (both admin and non-admin)

Expected:
Brackets launches

Problem:
As the Git Bash emulates a Linux/*NIX-like bash, it doesn't interpret `.bat` files, but Brackets only has one of those. That's probably also an issue with cygwin and similar environments.

Possible solution:
Also include a

[2015-04-18 21:40] peterflynn commented on #10938
We should consider fixing this for 1.3, especially since it seems like the fix might be easy (just add another file in the `command` subfolder that gets installed).

Note: I think it would also work if the file has a .sh extension (without the user needing to type ".sh").  This might be a little more clear since the type of the file is more obvious from its name.

[2015-04-18 22:06] MarcelGerber opened #10940 "JS Inline Editor content shifts upon cursor-placement/scrolling"
1. Press `Ctrl-E` to open an JS Inline Editor on [brackets.js:462](https://github.com/adobe/brackets/blob/9264e29c0367846d70c276caf3d989b249573d1e/src/brackets.js#L462)
2. Click somewhere in the Inline Editor to place the cursor

Result:
The Inline editor content shifts a little downward.

---
Related:
1. Press `Ctrl-E` to open an JS Inline Editor on [brackets.js:462](https://github.com/adobe/brac

[2015-04-18 22:09] MarcelGerber opened #10941 "Editor jumps upward upon cursor-placement when at EOF"
1. Open `brackets.js`
2. Scroll all the way down to the bottom
3. Click somewhere in the editor to place the cursor

Result:
The editor shifts a little upward

Possibly a regression of the Code Folding work

[2015-04-19 03:30] le717 commented on #10932
I vote for `brackets` with possible `bkts` alias. My reasoning is `bkts` can be hard to remember. Personally, I want to keep typing `brkts` just when typing the shortcut above.

Yea, that won't happen. :stuck_out_tongue:

[2015-04-19 06:16] activenode commented on #10896
@MarcelGerber I sure will.

[2015-04-19 06:38] nethip commented on #10938
@MarcelGerber @peterflynn Sure! Surprisingly issuing `brackets` in GitBash works fine on my system. I will look into this. And thanks for the pointers @MarcelGerber.

[2015-04-19 06:42] djondi commented on #10936
I'm writing in PHP. I'm using version 1.2 build 1.2.0-15697. Believe that's the latest one.
Here's a screenshot just so we can understand each other better :)
https://www.dropbox.com/s/zf6dbljzqkdkbp6/Screenshot%202015-04-19%2008.40.07.png?dl=0

[2015-04-19 06:44] nethip commented on #10932
Thanks for the inputs! I will update the wiki, https://github.com/adobe/brackets/wiki/Command-Line-Arguments, on how to manually create alias to Brackets.

[2015-04-19 09:59] MarcelGerber commented on #10938
@nethip Perhaps you still have the old path (pointing to the installation directory directly rather than the `command` subfolder) included in your PATH?

[2015-04-19 10:02] MarcelGerber commented on #10936
Yeah, I get what you want (and that's also the expected behavior). For me, it definitely select `$komentar` rather than just `komentar`.
Could you just try `Debug > Reload without extensions` to make sure it's not caused by an extension?

[2015-04-19 10:20] MarcelGerber commented on #10896
@activenode I've created a custom build for you at https://mega.co.nz/#!iEsTlKrJ!HLCCBqLsJ8RoTpeKlrxYLZNEPAHdyJu9eFdGXdPDcug.

1. Download and unzip it
2. When launching Brackets, hold down Shift
3. In the dialog, select `www/index.html` of the unzipped folder

[2015-04-19 10:37] MarcelGerber commented on #10941
`git bisect` points to c3c10de479e4ed1767174ab2c79ed32479a197c0. cc @peterflynn

[2015-04-19 10:45] activenode commented on #10896
I'll give it a try and tell you the experiences the next days.

[2015-04-19 10:48] MarcelGerber commented on #10941
@peterflynn The issue lies in this line change: https://github.com/adobe/brackets/commit/c3c10de479e4ed1767174ab2c79ed32479a197c0#diff-faf67ee120ecabfc547fc41ee34e0707R33

[2015-04-19 11:07] nethip commented on #10938
@MarcelGerber I think I still have the Path to 'command' folder on my system. I can check this tomorrow when I get to the office.

[2015-04-19 11:15] MarcelGerber commented on #10938
Yeah, that's the folder the current installer adds to the PATH, so it's fine.
What I meant was the part added by the old installer.

[2015-04-19 16:00] djondi commented on #10936
I did try to reload without any extension and it didn't help. The thing that bothers me is still there. It's just I've spent many years with other text editors (Notepad++, Sublime Text etc) and they all did select only the text without the variable sign. It's hard to start doing different things now. Is there any extension that could help me?

[2015-04-19 16:50] MarcelGerber commented on #10936
Ah, from your description I thought you meant it the other way round.

You could write a very simple extension to fix that. This should suffice:
[code]

[2015-04-19 17:27] djondi commented on #10936
Hahahaha so simple yet caused so many problems. I've been Sublime Text fan for a year or two (before that used Dreamweaver), but the thing that bothered me about Sublime Text is it's looks, I'm not sure how to put it, but it looks rather childish to me. Environment is very important for creating code, at least for me. All other text editors have flaws, Atom without an option to load last project o

[2015-04-19 22:41] tofanelli commented on #10836
I will try to record my Brackets RAM consumption to you see how fast Brackets hogs my free RAM... last friday it was in 500MB using only a folder with 6 files (2 CSS, 3 html and 1 jpg) and any plugin installed at all. I barely installed anything on my computer these days exactly to monitor what it can be happening here.
Is there anything else can I do to help you at all?

Cheers =)

Date: Thu, 16

[2015-04-20 06:26] nethip commented on #10918
@PandawanFr Is this issue resolved yet?

[2015-04-20 07:51] julieyuan opened #10948 "Loc:JP: The string "Help" should be localized on Brackets Health Report first pop up"
Stteps:
1. Install Brackets on Japanese OS
2. Launch it and Brackets Health Report menu will pop up

Result:
The string "Help" is not localized

Expected result:
The string should be localized

ENV: Mac 10.10 Japanese OS
Build:  Release 1.3 build 1.3.0-15996

Screenshots:
ENU ss:
![en-help](https://cloud.githubusercontent.com/assets/4251563/7225828/62840e82-e6f7-11e4-9d58-8e697ae90e82.png)
JPN ss:

[2015-04-20 08:08] nethip commented on #10948
@rawat11 Could you look into this?

[2015-04-20 08:37] prafulVaishnav commented on #10923
Fixed and merged. Closing it..

[2015-04-20 08:37] #10923 closed

[2015-04-20 08:48] julieyuan opened #10949 "Loc: JP, FR: Unlocalized string HEALTH_DATA_PREVIEW_INTRO on Brackets Health Report dialog"
Steps:
1. Launch Brackets
2. Click Help > Health Report

Result:
There are unlocalized strings on this dialog. Its string id is HEALTH_DATA_PREVIEW_INTRO.

Expected Result:
The string should be localized.

ENV: Mac 10.10 JPN and FRA OS
Build: Release 1.3 build 1.3.0-15996

Screenshots:
Met some problem to upload the screenshot, will try again once it is available.

[2015-04-20 08:55] activenode commented on #10896
It did not help. Here you go with a file that crashes Brackets: https://gist.github.com/activenode/d1d8706328b7a0bf462c

[2015-04-20 09:28] prafulVaishnav commented on #10913
Closing this as we don't have this dialog anymore.

[2015-04-20 09:28] #10913 closed

[2015-04-20 09:52] rawat11 commented on #10948
Closing the issue, Since the translations are awited.

[2015-04-20 09:52] #10948 closed

[2015-04-20 09:53] rawat11 commented on #10949
Closing the issue, since the translations in french are awaited

[2015-04-20 09:53] #10949 closed

[2015-04-20 10:00] nethip commented on #10938
You are right @MarcelGerber. This does not work in GitBash. I am looking into this.

[2015-04-20 11:03] prafulVaishnav commented on #10941
@MarcelGerber Thanks a lot Marcel for figuring this out.. You are right it was due to the padding on CodeMirror-foldgutter. Padding was done to keep folded/open marker sync with line number on left.

[2015-04-20 11:18] dinesh1d opened #10950 "brackets stopped responding when using bootstrap min css file"
using brackets as text editor. Bootstrap.min css file is stopped
responding on brackets. Html file is working fine, but when switch on to css file brackets hangs. Brackets worked fine on restart. When css file loads the problem started again. The file works fine on other text editors, but not on brackets. Apart from bootstrap css other css files works on brackets. disabled the extensions in bracke

[2015-04-20 11:57] banny94 opened #10953 "Multiple Cursors - New Line Issue"
When using the Multiple Cursors feature, if you write out in 3 separate places `<tr></tr>` and pressed enter, the first cursor would correctly create a new line within the opening and closing tag, but it seems the multiple cursors feature works off line number than where the element actually is. Small issue, but if can be resolved would be useful :)

[2015-04-20 13:47] activenode commented on #10896
Ok this seems to be not a Bracketsproblem at all. At least not for this example.
This plugin was the reason: https://github.com/Hirse/brackets-outline-list

[2015-04-20 13:47] #10896 closed

[2015-04-20 15:41] Equinox opened #10956 "Recycle Bin project."
I'm not sure if it's something you're going to fix in the future or not at all, but if you right click the recycle bin, in the context menu, it shows it available to open as a Brackets project:

![](http://i.imgur.com/YKxnahW.png)

Other editors like Atom don't offer this same ability, as you can see from the screenshot - so it's either a work in progress removing it or a feature Brackets has over

[2015-04-20 17:33] kupoback commented on #10915
I checked out the FTP/SFTP sites however nothing supports what I need. The file system I use is such

    \\ICS-dev-02\var\www\domain.dev.com\filesofdomain

We work off repos, while I can open them directly from the server, it's best if I do it on my own repo. The FTP/SFTP 2 plugins I found do not support those.

[2015-04-20 20:24] nicolo-ribaudo opened #10958 "Register custom Quick Views"
What about if extensions could register custom quick views? So that can be added previews for things like MathML, fonts, inline svg, css timing functions, ...

Maybe something like this:
[code]

[2015-04-20 22:04] peterflynn opened #10959 "Health Report *does not work* in release builds"
1. Download & run the 1.3 prerelease build.  Leave Health Report enabled and then wait.

No data is ever sent.  If you look in dev tools, it's sending POSTs to the local Brackets index.html file instead.

This is because config.json is actually machine-generated and gets overwritten by the build script (see [write-config task](https://github.com/adobe/brackets/blob/master/tasks/write-config.js)).

[2015-04-20 23:02] redmunds commented on #10958
The css timing functions inline editors provide a custom editor -- I think this would only work for non-editable views such as documentation.

"Quick View" is the name of the popover you see when you move mouse over certain items such as colors or images. Maybe "QuickDocsManager"?

[2015-04-20 23:08] PandawanFr commented on #10918
Idk if you could call it resolved or not. I don't know how to setup a custom server, but i understood why it doesn't work... (You should maybe put a hint or a small help on how to setup a custom server on the wiki)

Other than that, yes it is resolved...

[2015-04-21 01:26] #10940 closed

[2015-04-21 01:26] #10941 closed

[2015-04-21 05:41] rroshan1 commented on #10578
Completed the last pending task- Check wiki for spam.
Closing the task.

[2015-04-21 05:41] #10578 closed

[2015-04-21 05:51] prafulVaishnav commented on #10959
@peterflynn Thanks a lot Peter for figuring it out before release. I have created [PR](https://github.com/adobe/brackets/pull/10961)

[2015-04-21 05:55] nethip commented on #10956
Good catch @Equinox . Thanks for catching this. I have already made the required changes for this. Would you mind testing the build that I have posted at the following location. Before installing this, please uninstall the already installed Brackets instance.

https://www.dropbox.com/s/001xo6ejgmb7t4i/Brackets%20Release%201.3_ContextMenuChange.zip?dl=0

Let me know if you run into any issues using

[2015-04-21 05:57] prafulVaishnav commented on #10953
@banny94 I am unable to understand the issue. Can you please attach the screenshot to make it clear?

[2015-04-21 07:06] rroshan1 commented on #10953
@banny94 Pressing enter while in between the tags in all selections does create new lines within the opening and closing tags as you expect.
Please retry once making sure that your multiple selections are still selected while you press enter.
If not, please share the screenshot steps.

[2015-04-21 07:36] peterflynn commented on #10950
@dinesh1d The Google Drive link doesn't have permissions to view/download the CSS file.  Can you upload it as a public [Gist](https://gist.github.com/) maybe?

Are you editing the bootstrap.min.css file, or just viewing it?  Are you putting your cursor in a specific place within the file, or running any other specific Brackets command (for example, Quick Edit) before the freeze occurs?

[2015-04-21 07:57] julieyuan opened #10962 "Find in Files: Edit icon doesn't show on Exclusion set dropdown menu if the set name is long"
Steps:
1. Launch Brackets and open any project
2. Click Find > Find in Files
3. Click the Exclusion Set dropdown button.
4. Click "New Exclusion Set..." and input a matched string to exclude some files
5. In the Name field of the resulting dialog, type a long name. Click OK.
6. Click the Exclusion Set dropdown button again.

Result:
The edit icon cannot show on Exclusion set dropdown menu

Expecte

[2015-04-21 08:39] julieyuan opened #10963 "[Core][Find in Files]: Scroll bar causes the bad layout on Exclusion Set menu"
Steps:
1. Launch Brackets and open any project
2. Click Find > Find in Files
3. Click the Exclusion Set dropdown button
4. Click New Exclusion Set button and new several sets (maybe 5~6 sets) to make the scroll bar show
5. Drag the scroll bar to observe the sets name on the dropdown menu

Result:
The line space between different sets is inconsistent and cause the bad layout. If there are many sets

[2015-04-21 09:20] julieyuan opened #10964 "[L10N]: String "Other Binary" should be localized."
Steps:
1. Launch Brackets
2. New a file with an unsupport format, like: .pdf
3. Observe the string related to the language on status bar

Result:
The string "Other Binary" keeps in English

Expected result:
This string should be localized.

Notes:
This is not a new string. It should reproduces for a long time and is low priority.

ENV: Win8.1 FR and JP OS
Build: Release 1.3 build 1.3.0-16008

Scre

[2015-04-21 09:39] hmemcpy commented on #10214
Sorry to bump this, I just installed the 1.3 pre-release build (1.3 build 1.3.0-15996 (release 2fbd9d392)) - I still experience the scrolling issue.
Is there anything I should enable for the workaround to... erm.. work? :)

[2015-04-21 11:06] nethip commented on #10956
This is fixed now with PR https://github.com/adobe/brackets/issues/10938

[2015-04-21 11:06] nethip commented on #10938
This is fixed now with PR https://github.com/adobe/brackets/issues/10938

[2015-04-21 11:35] nethip commented on #10858
PR https://github.com/adobe/brackets/pull/10960 merged. Closing this.

[2015-04-21 11:45] Equinox commented on #10956
Sorry, I should have commented I wasn't able to switch versions due to a [nasty](https://groups.google.com/forum/#!topic/brackets-dev/63XpRpL7bMg) extension bug I was facing, and since I've for the time being fixed it -- I don't really want to lose it working correctly.

[2015-04-21 11:58] rroshan1 commented on #9880
Issue fixed with PRs #10390 and #10951.

[2015-04-21 11:58] #9880 closed

[2015-04-21 11:59] rroshan1 commented on #9520
Issue fixed with PRs #10390 and #10951.

[2015-04-21 11:59] #9520 closed

[2015-04-21 12:22] MarcelGerber commented on #10214
I think my fix didn't yet make it into the prerelease, but it will be part of the release that'll be available in a few days.

[2015-04-21 12:27] sarciszewski commented on #9520
:+1: Awesome, thanks ;)

[2015-04-21 13:27] dmxt commented on #10398
@nethip
Yes, as mentioned above, the parameter `--disable-direct-write` solves the very issue. However, passing the parameter isn't an option for me because it causes miscellaneous problems with third party program interaction, for an example:

* FileZilla doesn't open multiply files properly with the argument, instead of opening as tab, it opens as new window which disrupts my work flow.
* Openin

[2015-04-21 13:46] humphd opened #10965 ""SecurityError: the operation is insecure." accessing cssRules in Firefox for different domain"
The MultiBrowserImpl Live Dev code expects to be able to access the `cssRules` property for stylesheets in the previewed DOM:
* https://github.com/adobe/brackets/blob/b8f92c1b36c2a15396e36b732d7f3fe52e8f4a8d/src/LiveDevelopment/MultiBrowserImpl/protocol/remote/DocumentObserver.js#L60
* https://github.com/adobe/brackets/blob/0ebf3737b8e2fba8c16dc839326338acd0aac2d2/src/LiveDevelopment/MultiBrowserI

[2015-04-21 18:42] #10858 closed

[2015-04-22 04:18] leedorian commented on #10718
Same problem here on lots of javascripts, make brackets crash.

[2015-04-22 05:19] awebdeveloper opened #10966 "How do i run brackets in browser"
i would like to use chrome to develop instead of using brackets native shell . All articles that i found are old and outdated could some one point me the way.

[2015-04-22 05:40] Equinox commented on #10966
As far as I know, [Bramble](https://github.com/humphd/brackets) is an attempt at exactly that.
An example being [here](http://humphd.github.io/brackets/dist/).

[2015-04-22 05:50] awebdeveloper commented on #10966
i mean run my local files

[2015-04-22 06:01] Equinox commented on #10718
My Angular project just really lags the editor before it gives me a message saying that there's too many files and that the excess will be excluded. After that, it's fine. I was using [this](https://github.com/JonathanWolfe/file-tree-exclude) to exclude bower and node_modules but for the current release branch of 1.3 it is giving me problems, so it isn't a long-term fix.

[2015-04-22 09:15] RoryPicko opened #10968 "Keyboards Shortcuts only active on first open window"
If you open a new brackets window, you cannot use any keyboard shortcuts within the newly opened window, even CTRL+(C+V+X) etc... but they still work on the initial window.

I love brackets and think it's by for the best IDE IO have tried but the inability to have a smooth workflow when working within 2 folders is frustrating!

[2015-04-22 11:19] fenixproductions opened #10969 "Use keyboard with RMB menu"
When I use MENU key on my keyboard (between windows and Ctrl) Right Mouse Button (RMB) menu appears.

Unfortunately, this menu is not in focus and it is not possible to navigate through items with keyboard arrow keys. Brackets moves line focus in editor panel instead.

As all other text editors I've tried allow to navigate RMB menu with arrows with no problems, Brackets should also follow this tre

[2015-04-22 11:44] rawat11 opened #10970 "[IQE]: Code folding shortcuts not viewable in "View" menu and not working in French OS"
Steps To Reproduce:

1. Launch Brackets
2. Go to "View" menu

Result : The keyboard shortcut for "Collapse Current" and "Expand Current" are not viewed.

Expected : The keyboard shortcut for "Collapse Current" and "Expand Current" should be viewable and working.

ENV: Win 7 Fr OS
Build: Brackets Pre release 1.3.0-15996

![2015-04-22 16_55_19-windows7_enterprise french x64 - vmware workstation](htt

[2015-04-22 12:49] prafulVaishnav commented on #10970
@rawat11 I am unable to repro on my machine. Is shortcut visible for other languages? Can you try reloading Brackets without Extensions (Debug > Reload Without Extensions) ? Can you open developer tools (Debug > Show Developer Tools) and see on console if there is any error?

[2015-04-22 12:51] jamiechoi opened #10971 "Live Preview ERR_CONNECTION_REFUSED"
I've tried restarting the computer (failed), reinstalling brackets (failed), reinstalling brackets without PSD editor (still failed).

How can I run the live preview (php file)?

[2015-04-22 12:55] prafulVaishnav commented on #10971
@jamiechoi You need local server running on your system for php file. You can get information [here](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#live-preview)

[2015-04-22 12:56] jamiechoi commented on #10971
You don't have to worry about that. http://localhost/index.html gave me the same result, after renaming index.php to index.html. It does NOT contain any PHP code in it (now).

[2015-04-22 12:56] PeterDaveHello opened #10972 "Is it possible to setup another download site for brackets?"
Hi, the download speed from the GitHub release page is slow from here(Taiwan), I wonder if brackets can has its own download site for it? If we have rsync protocol to access, it'll be easy to setup a mirror, so we can download brackets faster, thanks!

[2015-04-22 13:05] prafulVaishnav commented on #10918
@PandawanFr May be this will help you to [setup custom server]( https://github.com/adobe/brackets/wiki/Brackets-Server-Smoke-Tests#server-setup-macwindows)

Closing the issue..

[2015-04-22 13:05] #10918 closed

[2015-04-22 13:08] jamiechoi commented on #10971
I used static preview as a solution now. Is there any method to solve the previous live preview problem?

[2015-04-22 13:11] prafulVaishnav commented on #10971
@jamiechoi Are you able to use LivePreview on default Project that comes with Brackets (Getting Started) ?

[2015-04-22 13:21] spongessuck opened #10973 "Suggestion: Regular expression tag matches for replacement"
It'd be very useful if users could 'tag' pieces of a regular expression find and put them into the replace field like in Visual Studio.

For example:
    find: (foo)bar
    replace: \1seball

[2015-04-22 13:28] nethip commented on #10938
Closing as the PR is now merged.

[2015-04-22 13:28] #10938 closed

[2015-04-22 13:30] nethip commented on #9273
This has now landed in master. Closing this. PR at https://github.com/adobe/brackets-shell/pull/513

[2015-04-22 13:30] #9273 closed

[2015-04-22 14:26] MarcelGerber commented on #10896
Could you maybe file an issue with that extension so its developer (@Hirse) can take a look?

[2015-04-22 14:36] busykai commented on #10965
@humphd, would you mind submitting a PR? Your suggested fix is doing the right thing.

[2015-04-22 14:43] MarcelGerber commented on #10953
Also, could you make sure this is not a problem caused by an extension by selecting `Debug > Reload without extensions`. After doing so, see if you can still reproduce the issue.

[2015-04-22 14:49] MarcelGerber commented on #10950
@peterflynn You can get it here: https://raw.githubusercontent.com/twbs/bootstrap/v3.3.2/dist/css/bootstrap.min.css

It's quite possible @dinesh1d sees #10879 (I see that too with that Bootstrap file and with extensions disabled), which would be fixed with my PR #10882.

[2015-04-22 14:55] prafulVaishnav commented on #10970
@rawat11 Tried with French Language Pack installed on my OS (W7) but couldn't repro.

[2015-04-22 15:06] redmunds commented on #10973
@spongessuck Brackets already supports this using JavaScript RegExp so use `$1` (instead of `\1`).

[2015-04-22 15:07] spongessuck commented on #10973
Ah, OK thanks. Is this in the docs anywhere?

On Wed, Apr 22, 2015 at 11:07 AM, Randy Edmunds <notifications@github.com>
wrote:

[2015-04-22 15:11] redmunds commented on #10973
I was expecting to find this info in the [How to Use Brackets doc](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets) and send you a link, but it's not mentioned.

Re-opening this issue to update the documentation.

[2015-04-22 20:07] x0rsw1tch opened #10974 "Cannot Use Ctrl+V Shortcut for Paste Function in New Brackets Window"
Steps to Recreation:
1. Open Brackets.
2. Use Debug Menu > Select "New Brackets Window"
3. Inside text editor, Try to paste something in plain-text using Ctrl+V

What Happens:
- Clipboard contents are not pasted into editor.
- No error messages are displayed in console.

Did This Work in a Previous Version:
- Unknown

Brackets Version:
Release 1.2 build 1.2.0-15697 (release 8f82e2a97)

OS:
Windows

[2015-04-22 20:43] AJDBenner opened #10975 "Quick edit doesn't close using keyboard shortcut without a CSS file."
If you delete your CSS file from the file tree and try to close quick edit using the keyboard shortcut CMD + e the inline widget opens back up.

STR:
- open brackets
- delete all CSS files
- open quick edit on an element using CMD + E
- try to close quick edit using CMD + E

It looks like this

![demo](https://cloud.githubusercontent.com/assets/9154982/7284877/748ec37e-e90e-11e4-9edc-0ff720f02c58.

[2015-04-22 23:32] peterflynn commented on #10974
This is a duplicate of #8135.  Virtually all shortcuts will be broken in the second window, which is one of several important reasons to avoid using this unofficial testing feature -- see notes in the original bug for details.

[2015-04-22 23:32] #10974 closed

[2015-04-22 23:37] peterflynn commented on #10968
This is a duplicate of #8135 -- one of several important reasons to avoid using this unofficial testing feature.  See notes in the original bug for details.

For now, your best option is to you the Recent Projects dropdown to quickly switch between project folders.  (Or open the parent folder of the two folders you're using, if possible).

[2015-04-22 23:37] #10968 closed

[2015-04-22 23:44] vinnytroia opened #10976 "Font smoothing"
Please add font smoothing for Brackets in OSX. The fonts look like complete shit
![screen shot 2015-04-22 23 43 38 0000](https://cloud.githubusercontent.com/assets/1675215/7287874/93513d62-e91f-11e4-8ee8-acffac5b88d4.png)
![screen shot 2015-04-22 23 44 01 0000](https://cloud.githubusercontent.com/assets/1675215/7287876/949ec144-e91f-11e4-9ae4-58e77232ea6e.png)

[2015-04-23 02:20] CPCookieMan opened #10977 "Popup boxes are off center"
This is driving me up a wall. It looks terrible. Something changed between 1.1 and 1.2 that made popup boxes go all wonky. It makes brackets-git look really weird as well, as the popup boxes got smaller for some reason, and the titles for popup boxes go on to two lines.
![centering](https://cloud.githubusercontent.com/assets/1424353/7289410/b1c981e6-e93d-11e4-9b52-9caed3cd17af.PNG)
Upon further re

[2015-04-23 03:54] CPCookieMan commented on #10977
I've submitted a pull request which has fixed the problem. Request #10978.

[2015-04-23 05:08] rawat11 opened #10979 "[IQE] : Cursor position is not retained in the Code folding 'Collapse Current' and 'Expand Current' feature"
1. Launch Brackets
2. Open main.css file and point to any line between the code folding tags.
3. Go to view menu and select 'Collapse Current'

Result : The cursor pints to the beginning of the line.

Expected : Cursor should retain its nearest position.

ENV: Win 7 Eng OS
Build: Brackets 1.3.0-16017

[2015-04-23 05:41] rawat11 commented on #10970
@prafulVaishnav : I again tried it on a fresh machine.
The shortcuts are not visible but they are working when typed from virtual keyboard.

[2015-04-23 06:32] prafulVaishnav commented on #10975
Its because there is no focus on inlineWidget when no css/less is present in the project. I feel it would be good to have focus on 'X' in inline widget.

[2015-04-23 07:53] fenixproductions opened #10980 "Customize menus"
Please add the possibility to customize menus: main Menu or Right Mouse Button.

With just a few extensions my RMB context menu has dozen of items and it is hard to find anything in it. It would be great to have the possibility of creating own elements and grouping specific commands under them.

Or add an option to wrap all plugins in their own submenus automatically (instead of adding command for

[2015-04-23 08:23] prafulVaishnav commented on #10959
PR merged so closing it..

[2015-04-23 08:23] #10959 closed

[2015-04-23 08:24] rroshan1 commented on #10971
@jamiechoi You may want to refer to a similar closed issue #10918 for more insight.

[2015-04-23 09:02] rawat11 opened #10981 "[IQE]: Quick open box and drop down results are not in sync with each other when the Brackets window is resized"
Steps To Reproduce

1. Launch Brackets
2. Open any file
3. Select Quick open from the Navigate menu
4. type any character in the quick open box
5. Resize the brackets window

Result : Quick open box and drop down results are not in sync with each other when brackets is resized.

ENV : Win 7 Eng OS, FR OS
Build : Build: Brackets 1.3.0-16017

![ui-1](https://cloud.githubusercontent.com/assets/100698

[2015-04-23 09:04] julieyuan opened #10982 "Loc: FR: Some fonts are not clear on Health Data pop up"
Steps:
1. Install Brackets
2. Launch Brackets at first time, the Health Data menu pops up

Result:
Some fonts in black color and the link in blue color are not clear on the menu.

Expected Result:
All strings should show clearly on UI

ENV: Win8.1 FR and Mac 10.8 FR OS
Build: Release 1.3.0-16017

Notes:
Only reporduces for FR. it looks ok on JP OS

Screenshots:
Will upload the screenshots once it

[2015-04-23 09:08] peterflynn commented on #10981
Closing as a duplicate of #1157 (which in turn was closed & moved to the feature backlog)

[2015-04-23 09:08] #10981 closed

[2015-04-23 10:00] julieyuan opened #10983 "Core: Overwrite external changes works incorrectly now"
Steps:
1. Launch Brackets and open a project
2. Open a file to working set and edit this file without saving
3. Edit the same file from OS without saving
4. Back to Brackets and click this file

Result:
On Win, nothing happens. On Mac, the External Changes dialog says external modified message
"<span class='dialog-filename'>{0}</span> has been modified on disk outside of {APP_NAME}, but also has u

[2015-04-23 11:09] prafulVaishnav commented on #10979
Moving it to Release 1.4

[2015-04-23 11:18] rroshan1 commented on #10983
@julieyuan Looks like your OS editor on MAC has the **AutoSave option enabled**. As such, Brackets identifies that it has a set of changes while the file has been modified on disk outside Brackets. This is as per our expectations. Can you please disable the auto save option OR use an editor without AutoSave and then try.
The AutoSave option makes other Brackets-like editors like Sublime also behav

[2015-04-23 11:19] prafulVaishnav commented on #10982
@julieyuan Can you please share the screenshot? Health Data popup has blue background color and white text color.

[2015-04-23 11:22] prafulVaishnav commented on #10757
@rroshan1 I think this issue has been fixed. Can you close this?

[2015-04-23 11:41] rroshan1 commented on #10983
Without AutoSave option in an external editor, the file will not be modified on disk externally. As such, Brackets need not bother about it as you see in Windows.

[2015-04-23 12:10] petetnt opened #10984 "CSS Timing Function Quick Edit: linear is invalid syntax"
Steps to reproduce:

* Create a .css file

[code]

* Place cursor on linear and press CTRL+E, which results in `CSS Timing Function Quick Edit: invalid syntax`.

Expected: Timing Function Quick Edit (Bezier curve editor?) view opens up with a line representing `cubic-bezier(0.0, 0.0, 1.0, 1.0)` [(ref MDN)](https://developer.mozilla.org/en/docs/Web/CSS/timing-function#linear).

Windows 8.1, Release

[2015-04-23 12:53] Tania-Jiacomini opened #10985 "French: Global translation change for "Health Report""
Global translation change requested for accuracy.

- EN: Health Report
- RECORD LOCATOR: L3
- CURRENT FR: Rapport sur l’état de santé
- NEW FR: Rapport d’intégrité

- EN: In order to improve {APP_NAME}, we periodically send limited, <strong>anonymous</strong> statistics to Adobe about how you use {APP_NAME}. This information helps prioritize features, find bugs, and spot usability issues.<br><br>Y

[2015-04-23 12:56] petetnt commented on #10984
[This line](https://github.com/adobe/brackets/blob/6affa7907fdc820f7b9083bc0ff7c9fb87fb3e57/src/extensions/default/InlineTimingFunctionEditor/TimingFunctionUtils.js#L359)  states that:

[code]

Checking for "animation" together with transition fixes the problem.

[code]

[2015-04-23 12:59] Tania-Jiacomini opened #10986 "French: text appears partially truncated"
Bottom line of second checkbox name is horizontally truncated (for example, bottom part of "p" letters is not displayed). Please adjust layout.

![enu_brackets_001_win_1 3 0-16017](https://cloud.githubusercontent.com/assets/2284774/7297461/5b6f5f14-e9c9-11e4-91ff-e74b3f525bf0.png)
![fr_brackets_001_win_1 3 0-16017](https://cloud.githubusercontent.com/assets/2284774/7297460/5b66a73e-e9c9-11e4-80c2-

[2015-04-23 13:01] Tania-Jiacomini opened #10987 "French: "Open with Brackets" menu item missing"
See screenshots, "Open with" menu item is not available in French menu.

![enu_brackets_002_win_1 3 0-16017](https://cloud.githubusercontent.com/assets/2284774/7297496/a12c40b2-e9c9-11e4-9c2f-dacccb871fac.png)
![fr_brackets_002_win_1 3 0-16017](https://cloud.githubusercontent.com/assets/2284774/7297495/a12b3b2c-e9c9-11e4-93e8-31484ce8677c.png)

[2015-04-23 13:09] nsyrax opened #10988 "White screen when Brackets opens"
Whenever I open Brackets, about 8/10 times to be more specific, I get a white screen with the title "index.html". I get it if I'm just opening Brackets via the shortcut or opening a file associated with it. I opened the DevTools by right clicking and see the following:

    Uncaught Error: Load timeout for modules: main
    http://requirejs.org/docs/errors.html#timeout

[2015-04-23 16:36] nethip commented on #10987
@Tania-Jiacomini This is not a bug. I think you installed two versions of the pre-release builds(English). Could you uninstall of versions of Brackets and only have the latest pre-release version. The one which you are seeing in French version are correct.

And about the menus, for folder it is going to be "Open as Brackets Project" and for file it is going to be "Open With Brackets"

[2015-04-23 19:17] joconnell4 opened #10992 "Can't install extensions in brackets 1.2.0-15697 on kubuntu 14.04"
I can't install extensions, either manually or automatically. Others have reported a similar issue (https://github.com/adobe/brackets/issues/10266), but their solutions haven't help me.
I have an etc/hosts file and pinging local host returns 127.0.0.1 as the ip address

Developers tools console output:

---

Download the React DevTools for a better development experience: http://fb.me/react-devtoo

[2015-04-24 01:55] julieyuan commented on #10982
@prafulVaishnav Uploading the screenshot. I think those strings in black color are not so clear
![health data-fr](https://cloud.githubusercontent.com/assets/4251563/7310972/0d5c5a0e-e9ea-11e4-9ecf-c19af04795c5.png)

[2015-04-24 04:57] rawat11 opened #10994 "[IQE]: Code Folding expand and collapse indicators in JS files comes only for script tags braces, does not come for html tags"
Steps To Reproduce :
1. Launch Brackets
2. Open any JS file

Result : Code Folding expand and collapse indicators in JS files is only visible near script tag for functions

Expected Result :  Code Folding expand and collapse indicators in JS files should come for html tags as well.

ENV: Win 7 Eng OS
Build: Brackets 1.3.0-16017

![2015-04-24 10_26_21-a js getting started - brackets](https://cloud.

[2015-04-24 04:59] rroshan1 commented on #10983
@julieyuan If you are fine with the conclusions, shall we close this issue?

[2015-04-24 05:04] rroshan1 commented on #10757
Fixed by PR #10819.

[2015-04-24 05:04] #10757 closed

[2015-04-24 05:28] rroshan1 commented on #10988
@nsyrax Can you please share the Brackets version and OS that you are using.

[2015-04-24 05:40] julieyuan commented on #10983
@rroshan1 Thanks for the info. Yes, it should be the modified message instead of deleted. Updated the expected result. But I still have one question, if the behavior on win is expected, the overwrite dialog won't be used anymore, right?

[2015-04-24 05:51] nethip commented on #10994
@rawat11 We don't put in HTML tags in the above form inside a JS file. Are you facing this issue with JS inside an HTML file?

[2015-04-24 05:52] vinnytroia commented on #10976
OSX - brackets 1.2. Is there a better build available?

[2015-04-24 05:57] rawat11 commented on #10994
@nethip It is a JS file along with HTML tags.

[2015-04-24 06:14] nethip commented on #10982
@julieyuan Thanks for reporting this. The problem was with the translated FR string. I have corrected the string and pushed in the change to `release` branch.

[2015-04-24 06:18] nethip commented on #10994
@rawat11 As I said above, we don't put in HTML tags(at least in the format that you are using in) inside JS file. The other way is possible. That is putting the JS code, inside a script tag, inside an HTML file.

[2015-04-24 06:25] nethip commented on #10982
https://github.com/adobe/brackets/commit/cd0a6aae5284ff37eca04c7b74b727b09a31852f fixed this.

The Popup now looks like below.

![screen shot 2015-04-24 at 12 06 53 pm](https://cloud.githubusercontent.com/assets/1577184/7313559/caa0f32a-ea78-11e4-80b0-5d0dc7eeb4ad.png)

[2015-04-24 06:39] nethip commented on #10986
This is now fixed with https://github.com/adobe/brackets-shell/pull/522 . The screen now looks like below.

![frinstallerwindow](https://cloud.githubusercontent.com/assets/1577184/7313753/c18223de-ea7a-11e4-878c-eb4a27446ed4.PNG)

[2015-04-24 08:20] MayaFuruto opened #10995 "“Localization”; github: Japanese "loc: Translation change required for "<p>In order to improve {APP_NAME}, we periodically send limited, <strong>anonymous</strong> statistics to Adobe about how you use {APP_NAME}. This information helps prioritize features, find bugs, and spot usability issues. <a href='https://github.com/adobe/brackets/wiki/Health-Data'>Learn more about {APP_NAME} Health Report</a> and how it benefits the {APP_NAME} community while protecting your privacy.</p><p>Below is a preview of the data that will be sent in your next Health Report <em>if</em> it is enabled.</p>""
[Both Mac and Win]: Please change the translation for "<p>In order to improve {APP_NAME}, we periodically send limited, <strong>anonymous</strong> statistics to Adobe about how you use {APP_NAME}. This information helps prioritize features, find bugs, and spot usability issues. <a href='https://github.com/adobe/brackets/wiki/Health-Data'>Learn more about {APP_NAME} Health Report</a> and how it ben

[2015-04-24 09:16] RoryPicko opened #10996 "File Cacheing causing issues"
Brackets caches files that you open and close, so when you reopen a closed file it doesn't load it from disk, which is great when one person is working on a project.

But when working along side another developer on the same files over a network this causes issues, as when I save and close a file, the other developer then opens it his end to make his changes, but its his previous cached version wi

[2015-04-24 09:33] O4D commented on #10302
Thank you for your answer. I were very busy these last month but it helps me to know the real capacity of Brackets.

I think today I'll use " Select all occurrences (using Find all and select (Alt+F3)) ", and I already begin to use Ctrl+E to find the original function's definition.

But i'm a little sad to not find equals features than in Visual Studio (C#)...

[2015-04-24 09:47] KatarzynaWodzinska opened #10997 "Loc: Japanese: Unlocalized strings displayed on the screenshots"
As per Priyanka's comment: We should log bug for this in order to track the issue, but translation is not required as of now, It will be covered in next release.

Please see the screenshots attached.
![jp_brackets_001_win_1 3 0-16017](https://cloud.githubusercontent.com/assets/6737567/7316461/896519fa-ea77-11e4-96cc-1535dc9e18db.png)
![jp_brackets_002_win_1 3 0-16017](https://cloud.githubuserconte

[2015-04-24 09:49] Tania-Jiacomini commented on #10986
Thanks for fixing the issue, now closing the bug.

[2015-04-24 09:49] #10986 closed

[2015-04-24 09:51] Tania-Jiacomini commented on #10987
Okay, thanks for clarifying! Now closing the bug.

[2015-04-24 09:51] #10987 closed

[2015-04-24 10:03] pantkowiak commented on #10995
fixed in ALF

[2015-04-24 10:09] nethip opened #10998 "New Release Tasks for 1.4"
### Checklist for starting a new release cycle

- [x] \( @prafulVaishnav ) All unnecessary branches deleted from GitHub repos.
- [x] \( @prafulVaishnav  ) \(Win) Check Live Development feature(s) with Chrome (beta) - in case a new beta release is available. See also: [googlechromereleases](http://googlechromereleases.blogspot.com/).
- [x]  \( @prafulVaishnav ) \(Mac) Check Live Development feature

[2015-04-24 12:16] nsyrax commented on #10988
I'm on Windows 7 SP1, I can't tell you what version of Brackets I'm running because it won't open at all. But I can tell you I have updated in the last month.

[2015-04-24 12:28] stowball opened #10999 "With Extension Manager open, you can't close Brackets (Win 8)"
When you open the Extension Manager dialog, you can't close Brackets with Alt+F4 or the X in the top right. The X has a hover state, but it can't be activated. The Minimize and Restore buttons work as expected though.

[2015-04-24 13:56] zenwarr opened #11000 "Multiple cursors inside HTML tags"
When multiple cursors placed inside tags, pressing Enter causes editor to place cursors into wrong positions, while newlines are inserted correctly. Possible duplicate of #10953  ?
Facing it while working with HTML file, tried to reload without extensions, but problem still exists.

![brackets-issue](https://cloud.githubusercontent.com/assets/1969391/7320071/f890fdd2-eabb-11e4-8a1f-f80c4d285095.gi

[2015-04-24 15:05] nsyrax commented on #10988
I uninstalled/reinstalled Brackets and it seems to have fixed the issue. Corrupt preferences?

[2015-04-24 16:10] AJDBenner commented on #10773
Here's a better display of what the bug looks like.

![demo](https://cloud.githubusercontent.com/assets/9154982/7323075/26a8282c-ea7a-11e4-943c-14243badace2.gif)

This error logs in the console.

![screen shot 2015-04-24 at 12 08 43 pm](https://cloud.githubusercontent.com/assets/9154982/7323188/cf71d278-ea7a-11e4-98d6-ac57de293c3b.png)

[2015-04-24 16:40] humphd commented on #10773
cc @busykai.

[2015-04-24 17:02] le717 commented on #10999
This is by design. The extension manager and other dialogs are modal dialogs, and modal dialogs, by definition, prevent other actions from occurring, such as closing the program.

[2015-04-24 19:30] stowball commented on #10999
If it's by design, then the X shouldn't have a hover state, because that's a confusing user experience. I'd also argue that none of the menus should be focusable/clickable because they don't actually do anything when the modal is open.

[2015-04-24 19:31] anephew commented on #10980
Developers & users are waiting for it for a long time. I would also like to know when it will be implemented.

[2015-04-24 20:49] peterflynn commented on #10980
It sounds like there are two requests here:

* Let users override the UI choices an extension has made for menus -- similar to how you can override keyboard shortcuts.  We don't currently have plans to do this, but I'll mark 'move to backlog' so it can be prioritized against other features.
* Let extensions _or_ group menu items into submenus.  Already tracked on our feature backlog here: https://

[2015-04-24 21:20] luisalvarado commented on #10255
I find this information for Debian/Ubuntu users http://www.webupd8.org/2015/04/fix-missing-libgcrypt11-causing-spotify.html

Will simply wait to install Brackets after it supports libgcrypt20. I thought I was the only one with the issue.

[2015-04-25 13:26] siratama opened #11001 "Error Loading Project: CC Extension Builder: The user name of Japanese is garbled."
I installed Brackets and CC Extension Builder, but even if I try to create new extension, the next error occurs.
![error](https://cloud.githubusercontent.com/assets/3593619/7333042/5bd12ab0-eb99-11e4-83b9-f0fed999f945.png)
The user name of Japanese is garbled.

[2015-04-25 13:59] nicolo-ribaudo commented on #10958
I was thinking of something like this: http://jsbin.com/widoricire/1/edit?js,output

[2015-04-26 15:15] #10664 closed

[2015-04-26 15:21] JosephNovak opened #11002 "Non UTF-8 problem"
I have some files that have non UTF-8 code in them.  Brackets will not open them.  How do I fix them if they can't be opened?

[2015-04-26 15:30] Equinox commented on #11002
You could try opening the file in another editor like notepad or something, removing the offending characters then going back to Brackets. There's also [this](https://github.com/Hiromi-Ayase/brackets-shizimily-multiencoding) extension that might help.

[2015-04-26 17:53] sammarcus commented on #9773
Could this be documented somewhere? it was driving me mad, I was convinced this was a problem with my machine. Where is this second instance pulling prefs from, and saving history, etc? I'm surprised it can coexist at the same time so peacefully without any chaos. I had no idea this functionality was intentional! Thanks for your help, @redmunds!

[2015-04-27 01:52] Equinox commented on #11000
I just tried it and I get the same result as you on the release branch.

[2015-04-27 05:25] nethip commented on #10970
@rawat11 Good catch! @prafulVaishnav Let us take this up post 1.3.

[2015-04-27 05:44] julieyuan commented on #10995
The fix has not been merged into latest build yet. will verify it with later build

[2015-04-27 06:16] rroshan1 commented on #11002
Thanks @Equinox for the prompt reply. That should solve this issue.
@JosephNovak Closing this issue.

[2015-04-27 06:16] #11002 closed

[2015-04-27 07:20] dinesh1d commented on #10950
@peterflynn I would upload it on gist. Yes i am editing bootstrap for customizing the page. sometime when using ctrl+f command on brackets, it's freezes after showing first few results. able to scroll page for a few minutes then it's hangs.

[2015-04-27 12:44] nethip commented on #10956
@Equinox This is now fixed with 1.3. Closing this.

[2015-04-27 12:44] #10956 closed

[2015-04-27 13:18] johanforssell commented on #10976
O yes :+1:

[2015-04-27 13:36] MiguelCastillo commented on #10976
It is enabled.  Just maybe not the type you are looking for.

https://github.com/adobe/brackets/blob/master/src/styles/brackets.less#L58

I am working on a small plugin to help you configure this and a couple of other font related stuff.  We tried to add this as a setting in brackets a while ago... We had a UI and everything...  But this setting is only has any sort visual effect on MacOs, so deci

[2015-04-27 14:17] ohNegative opened #11003 "issue installing 1.3 on Windows?"
I'm having an issue installing the 1.3 version on Windows 7. I've tried several different PC's, on wi-fi, and then on my dedicated internet connection and for some reason it will get to the end of the install and then say "an internal error occurred" and then roll back the install.

Wondering if anybody else is having issues installing 1.3 on Windows 7

P

[2015-04-27 14:45] redmunds commented on #11000
Thanks for the animated gif -- very helpful! This may be a duplicate of #10284.

[2015-04-27 14:47] redmunds commented on #11003
@ohNegative I just installed 1.3 on Windows 7. Maybe your download was somehow corrupted -- try re-downloading.

[2015-04-27 15:02] ohNegative commented on #11003
@redmunds Got it. I'll give it another go later this afternoon and then close this if I'm successful. I kind of figured it was something on my end.

P

[2015-04-27 15:03] redmunds commented on #9773
I will re-open this issue for updating the documentation in [How to Use Brackets](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#live-preview) to include info about using a different profile.

This [section](https://github.com/adobe/brackets/wiki/Troubleshooting#clear-live-preview-profilecache) in Troubleshooting Guide describes where Brackets saves the profile info.

**Note:** since t

[2015-04-27 16:18] sammarcus commented on #9773
Awesome, thanks so much @redmunds! Very, very helpful!

[2015-04-27 18:50] petetnt opened #11004 "Setting the code folding menu item-shortcuts fail (on Windows?)"
Windows 8.1., Brackets - Release 1.3 development build 1.3.0-0 (and the release itself) (no extensions)

1. Open Brackets
2. Check Developer Tools
3. See two of these: `Error setting menu item shortcut: 1`

Threw a console.log before the [line that throws the error](https://github.com/adobe/brackets/blob/master/src/command/Menus.js#L818) and the key combinations are `ctrl+alt+[` and `ctrl+alt+]` w

[2015-04-27 18:59] redmunds commented on #11004
@petetnt Yes, I need to update my `display-brackets-shortcuts` extension to use another shortcut.

Does anything not work as expected? I have been seeing a similar error message on Brackets 1.2 (that I have not gotten around to reporting) with a shortcut override, but everything still works as expected.

[2015-04-27 19:21] petetnt commented on #11004
The menu items do work, but the shortcuts don't, but that's most likely because I am on a finnish keyboard layout and pressing CTRL+ALT+[ or ] is AFAIK impossible as [ and ] are behind Alt Gr

![image](https://cloud.githubusercontent.com/assets/7641760/7355599/997cb49a-ed2b-11e4-8106-49803d45e5aa.png)
(from http://frontype.com/keyboarding/540px-Computer-keyboard-Sweden.svg.png)

[2015-04-27 19:48] fernandez954 opened #11005 "No Admin Rights"
I cant get the extensions to work under my profile. I dont have admin rights, is there a way to make the extensions work under my profile? The company I work for has a high level of security. I love using this program at home and would like to be able to use all the extensions at my work place.

[2015-04-27 19:55] fernandez954 commented on #11005
I am running windows 7 professional.

[2015-04-28 07:19] prafulVaishnav commented on #11004
Similar to #10970

[2015-04-28 07:56] labo-css opened #11006 "Code folding not working on sass, jade & some others."
With the past solution (the plugin) they worked well. :/

[2015-04-28 10:06] rroshan1 commented on #9773
Updated the Documentation [How to Use Brackets](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#live-preview) with the info- Brackets opens an additional copy of chrome for live preview.
Closing the issue.

[2015-04-28 10:06] #9773 closed

[2015-04-28 10:08] nunoarruda opened #11007 ""Duplicate File" feature"
I would love to see a "Duplicate File" feature on the context menu so we could duplicate files. I need this feature quite often and I'm sure I'm not alone. There's a extension for that (https://github.com/torinpascal/brackets-duplicate-extension) but it feels weird to have to install an extension for such a basic/core feature of a code editor.
![duplicate](https://cloud.githubusercontent.com/asset

[2015-04-28 10:17] julieyuan commented on #10982
Verified with Release 1.3 build 1.3.0-16022. It is fixed and the screenshot is the one offered by nethip. Closed as fixed.

[2015-04-28 10:17] #10982 closed

[2015-04-28 10:41] ConstantinChirila opened #11008 "Formating and autocomplete for html/css"
I've been using Brackets a lot, and it's missing some important features that i kinda took it for granted while using Sublime and Visual Studio.
1. The CSS and HTML core is not formatted properly. I mean it does it, but it does it poorly.
2. Autocomplete (for a lack of a better word) is not that efficient. For example:
In sublime when you create a div/h/p/header/body/etc you g about and write "div

[2015-04-28 11:00] hedo77 commented on #10979
With the new update this function collapse makes the editor unusable.
Thecursor is positioned incorrectly and is compressed code.
HOW DO I DISABLE FUNCTION?

[2015-04-28 11:22] prafulVaishnav commented on #10979
@hedo77 Hii. Can you please elaborate how the code folding is making editor unusable. You can disable code folding by setting the preference "code-folding.enabled" to false

[2015-04-28 11:24] rroshan1 commented on #10988
@nsyrax Good to see that you have Brackets working now..
Corrupt preferences? Well may be, but can't say for sure as we don't have the setup to verify.
Closing the issue.

[2015-04-28 11:31] skant-sourcefuse opened #11009 "Compress file hang-up/stuck"
When we open any compressed file more than 30kb Brackets goes stuck/hang-up.
please fix this problem as soon as possible.

[2015-04-28 11:38] hedo77 commented on #10979
I found errors compiling a SASS files and every time i create a { automatically compresses all the code is entered and a } in the wrong place.

Now i disabled like you suggested and i can finally work again :-)

[2015-04-28 11:53] nethip commented on #11007
@nunoarruda Could you please upvote this trello card we have for same.

https://trello.com/c/AUMtxj7D/754-create-file-w-duplicate-in-file-tree

[2015-04-28 12:18] omegahm commented on #10932
I believe it should be `brackets`. If you want a smaller name, you can alias it yourself:

[code]

[2015-04-28 12:29] abose commented on #10915
@kupoback the path `\\ICS-dev-02\var\www\domain.dev.com\filesofdomain` looks like an SMB share. You could directly mount the network share in linux/windows and edit the files as if on a local drive. Would this work in your case?

[2015-04-28 12:41] rroshan1 commented on #11005
@fernandez954 Thanks for expressing your love for Brackets. :)
I think I can help you on this. Following are the steps:-
**1.** From your home machine, go to ``Help > Show Extensions Folder``. On Windows, you will be redirected to the "C:\Users\username\AppData\Roaming\Brackets\extensions".
**2.** Go inside "user" folder and you will see a folder corresponding to each Extension.
**3.** You can jus

[2015-04-28 13:03] nsyrax commented on #10988
@rroshan1  Problem is back  :0(

[2015-04-28 13:09] kupoback commented on #10915
Unfortunately we use Git Repositories, so editing on the local server is not really an option. I mean, yes I can, however, I would have to pull those files onto my desktop and then push them to bitbucket. A bit of extra work. I was merely curious.

[2015-04-28 13:16] jamiechoi opened #11010 "Suddenly Hangs"
Open brackets 1.3, great. No difference from 1.2.
Started using. Quite good, and then suddenly,

What? It hangs?

That's alright. And that's the time the editor go white. Can't even close Brackets.

Used taskmgr to close. Start again, after a while, same problem.

Going to install 1.2 again. Anyone know what the problem is?

[2015-04-28 13:26] O4D opened #11011 "Problème d'inférence de fichier Javascript"
Brackets a rencontré des problème lors du traitement de ce fichier
https://dl.dropboxusercontent.com/u/3005324/Rapport%20de%20bug%20Brackets/ErrorEvent.js

...Alors pour aider je signal le bug :)

[2015-04-28 13:57] #9949 closed

[2015-04-28 14:52] nunoarruda commented on #11007
@nethip It's done!

[2015-04-28 15:16] javilopezc commented on #10842
I've seen this error a couple of times on first start (single instance of Brackets), and a restart helps.
I saw it on node, also on git. I have under 5 extensions installed at this point.

[2015-04-28 16:34] zenwarr opened #11012 "Feature requiest: quickly create rule in quick edit"
Small user experience improvement: it should be possible to create rules in css with quick edit really quick. To make it real, quick editor file select should remember last file used to create rule (or most often used one - it is subject to discuss) and focus it in file selection popup (with or without sorting list of files).
Let's consider my case. I need to create CSS rule for element (most comm

[2015-04-28 17:28] arrbie opened #11013 "Bad font rendering makes text hard to read"
Text rendering in Brackets is of very low quality and subpar other text editors. Eyes become tired and you need to increase the text size to compensate for the low readability. To me this is a deal-breaker.

The effect is quite independent of choice of font, and is especially true for the default font 'SourceCodePro-Medium', but also for 'Menlo-Regular' (pics below).

It's as if Brackets weren't e

[2015-04-28 17:34] arjunkbabu opened #11014 "Cannot open a specific webpage for development straight from the command-line"
I was much thrilled when one fine day Brackets showed me a prompt that said we could launch the application straight from the command-line once for version 1.3, and so upgraded it.

While the noticeable changes to the upgrade seems nice, the fact remains that I'm not able to create a new file or open an existing one right from the command-line using Brackets.

For instance, in my working directory

[2015-04-28 18:23] DarkSkyGhost commented on #10916
Archlinux 64-bit, brackets 1.2.0-0 installed from git from here: https://aur.archlinux.org/packages/brackets-git/

Same situation for me:

Brackets is always:

1. Starting as the first time
2. Plugin panel opens but it continuously loads
3. Getting Started/index.html cannot be loaded and complains about not supporting UTF-8 files.
4. If I choose project folder, files inside of it are not shown.

Y

[2015-04-28 19:59] yotamN2 opened #11016 "Brackets take really long time to quick edit on Linux Mint 17.1"
Someone just told me about this awesome feature and I immediately went to check this but when I do Ctrl+E from the html it's just freeze for a few seconds until it's find it. I have 5 scss files which all together have something around 300 lines of code + the compiled css, there is a way to remove the compiled css from the search files to boost it a bit?

[2015-04-28 20:01] Jackbennett commented on #10475
With 1.3 and right-click open offered on the default install, On Windows at least you may be interested in revisiting this. Or at least support the unicode that notepad lists (utf-16 is that?)

The reason being if I were to `"example file" > file.txt` Brackets can't open this. If I right click in the folder and create a new txt or save from opening notepad the default is ANSI and Brackets doesn't

[2015-04-28 20:17] AhoyLemon commented on #11006
:+1:
Yes please. Sass is still folding as it should for me (as is JS & HTML), but I use jade a lot these days and it's a bummer to lose that ability.

[2015-04-28 21:31] sammarcus commented on #9773
Thank you, @rroshan1! :+1:

[2015-04-29 01:44] brennan-macaig commented on #10916
@DarkSkyGhost regarding the UTF-8 issue:

Sometimes my Brackets does this, and it turns out that it saves the files as non-UTF-8? I pull my files back from the server and retry whenever this happens, but it's slightly annoying.

Also addressing #2, this happens for me whenever I have a mediocre connection, even though it should be fine to connect.

[2015-04-29 02:53] rroshan1 commented on #10983
Sorry for the late reply.
For your query- Yes, you are right. Currently, if there are no unsaved changes in a file opened in Brackets editor and changes are made externally on disk, it just picks up the latest file from disk without showing any dialog.
I will review the code and let you know later as when to expect the overwrite dialog.
Closing the issue for now.

[2015-04-29 02:53] #10983 closed

[2015-04-29 03:24] rroshan1 commented on #10988
@nsyrax Do you see that issue with the latest release?
Do you see the issue if you don't use that shortcut to open Brackets?
Still, I think the error message that  you shared would help. Thanks.

[2015-04-29 03:29] rroshan1 commented on #11010
@jamiechoi Sorry about that.
Looking into it. Looks similar to #10988.

[2015-04-29 05:12] prafulVaishnav commented on #11010
@jamiechoi Can you please delete [Brackets cache folder](https://github.com/adobe/brackets/wiki/Cache-Folder#resetting-cache--preferences)

If problem still persists, can you please [collect crash logs](https://github.com/adobe/brackets/wiki/Crash-Logs) and share result.

[2015-04-29 05:24] nethip commented on #11014
@arjunkbabu command line is not yet supported on Linux. The work on Linux is in progress.

[2015-04-29 06:08] rroshan1 commented on #10988
@nsyrax Can you please delete [Brackets cache folder](https://github.com/adobe/brackets/wiki/Cache-Folder#resetting-cache--preferences)
If problem still persists, please collect [crash logs](https://github.com/adobe/brackets/wiki/Crash-Logs) and share the result.

[2015-04-29 06:46] cheesypoof opened #11017 "Code folding hideUntilMouseover broken"
Is the pref `code-folding.hideUntilMouseover` actually working properly for anyone else? I am only able to trigger this over what seems like a 1px-wide area that extends along the gutter (visualized below in red). When my cursor is anywhere else in the gutter, the folding arrows are still hidden...

![hitbox](https://cloud.githubusercontent.com/assets/2069528/7385740/d9c837f2-edff-11e4-8967-59bdd1

[2015-04-29 08:14] labo-css commented on #11006
Scss syntax? I use sass syntax and it don't work. And jade... ^^'

[2015-04-29 08:21] prafulVaishnav commented on #11006
@labo-css Can you please elaborate problem in code folding for sass. Is code-folding not working at all for sass file and working with js/html/css ?

[2015-04-29 08:26] labo-css commented on #11006
It work with css, html but not sass (sass syntax) & jade.

[2015-04-29 08:53] mesosteros commented on #11003
I'm also having an issue with installing 1.3 but on Windows 8.1 x64bits... it starts looking for the 1.2 msi installer which is really weird. Is it the same with you?

[2015-04-29 09:32] mesosteros opened #11018 "Version 1.3 Installation issue on Windows 8.1"
I'm trying to upgrade from 1.2 on a Windows 8.1 x64 bits. The installer keeps asking me... for the 1.2 msi installer?

![brackets](https://cloud.githubusercontent.com/assets/1943233/7388162/0b109d8a-ee5b-11e4-8736-b87c1dd8b416.jpg)

[2015-04-29 10:38] Jackbennett opened #11019 "Need "Per User" preferences as well as "per machine""
Hello, As per the current Docs on [preferences](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#preferences) there's a gap where multiple users on the same machine can't have their own preferences.

Scope|location
--------|----------
Computer| `C:\AppData\Roaming\Brackets\brackets.json`
User |
Project| `.\.brackets.json`

My use case is in deploying brackets on a domain, I can pre-set t

[2015-04-29 12:40] dmxt opened #11020 "Please add directwrite option to config."
Current parameter argument: `--disable-direct-write`, please add this option to config so we don't have to use parameter argument, since it causes other issues.

In addition, this is a solution for this issue: https://github.com/adobe/brackets/issues/10398 and for whoever prefer to disable or enable directwrite. Sublime text editor has this option.

Thanks.

[2015-04-29 14:11] nsyrax commented on #10988
@rroshan1  OK, I am running the newest update, which I believe was from yesterday, still had the issue. I used procdump to create dumps for each Brackets process. My question is this, what exactly is included in the dump file and is there a way I can read it? And each one is over 100mb, is that right? And thanks for all your help so far. It appears the Brackets team is every bit as awesome as the

[2015-04-29 15:14] AhoyLemon commented on #11006
Oh yeah, @labo-css is right. `.scss` folds up nicely, but I made a little test document with the `.sass` syntax and that one doesn't have any fold arrows. Couldn't confirm if `.sass` used to work with the extension, as I've always used `.scss`

[2015-04-29 15:56] MarcelGerber commented on #10962
Somehow related to #9305

[2015-04-29 15:57] MarcelGerber commented on #10963
Somehow related to #9305

[2015-04-29 16:06] Equinox commented on #10956
After removing the 1.3 development version and all other Brackets versions I had, the option was still there. Clicking it gave me an error saying whatever I had clicked on wasn't an application. I've just installed 1.3 release but still the option is there for the rubbish bin. If this is registry related, any idea what I have to remove?

[2015-04-29 16:26] MarcelGerber commented on #10988
AFAICT, we usually saw this issue with very slow Windows machines or when opening Brackets right after starting Windows up.
Is your setup particularly slow? Is your Brackets installation maybe located on a slow drive (like a network drive, CD, ...)?

[2015-04-29 16:27] labo-css commented on #11006
Jade & Sass syntax worked well with the extension, and now i can't install it because it is not supposed to work with 1.3.

So... i'm screwed :D

[2015-04-29 17:08] nsyrax commented on #10988
@MarcelGerber  It's installed on C, I have 8GB of RAM and an Intel i5 @ 3.2GHz, that should be more than enough to run it. I run Photoshop and Illustrator with no issues.

[2015-04-29 19:39] willsteinmetz opened #11021 "Mac cmd+backtick/tilde key doesn't cycle through windows"
In most Mac apps, when there is more than one window open, they can be cycled through by pressing CMD+backtick on the keyboard. However, in Brackets, the user has to go to the Window menu in order to swap windows.

[2015-04-29 22:13] thehogfather commented on #11017
@cheesypoof do you by any chance have brackets-git extension installed? Or any other extension that uses the gutter? The issue sounds similar to the one reported [here](https://github.com/thehogfather/brackets-code-folding/issues/121).

[2015-04-29 22:25] thehogfather commented on #11006
@labo-css  the extension had the `alwaysUseIndentFold` preference on by default. This preference is off by default in 1.3. In your `.brackets.json` file (either at project or user level) create an entry for `"code-folding.alwaysUseIndentFold": true` and your sass and jade files should get back the fold markers.

Be aware though that this will cause more fold markers to appear in your files - even

[2015-04-29 22:35] cheesypoof commented on #11017
Yes, I do have brackets-git installed. I should have taken a few seconds to test this without extensions - palm meet face. I thought that since I didn't have "Use Git gutter marks" enabled, the extension was unlikely to be the culprit. There obviously is a conflict though - the same issue as the one you referenced. Thanks @thehogfather.

Closing as an extension issue. See zaggino/brackets-git#1019

[2015-04-29 22:35] #11017 closed

[2015-04-30 00:46] AhoyLemon commented on #11006
Did that, jade is folding as expected now. The odd misinterpreted indentation is possible, but this solves way more problems than it creates, so thanks @thehogfather.

[2015-04-30 05:03] labo-css commented on #11006
Oh yeah thanx :+1:
http://cdn.meme.am/instances/22489608.jpg

[2015-04-30 05:03] #11006 closed

[2015-04-30 06:38] heeroluo opened #11023 "The blue "Brackets Health Report" layer does not disappear all the time"
The layer does not disappear although I click on it or open the "Health Report" dialog.

![brackets-health-report](https://cloud.githubusercontent.com/assets/509953/7407579/9f18197c-ef46-11e4-8b8d-8155f9ff5213.jpg)

[2015-04-30 07:17] prafulVaishnav commented on #11023
There is x button on right top to close the popup which is overridden by some extension bar.
One way would be to disable that extension and close the popup.

[2015-04-30 07:53] heeroluo commented on #11023
Thank you, I have solved the problem. It causes by an extension called "Tabs".

[2015-04-30 07:53] #11023 closed

[2015-04-30 08:21] Hiei16 opened #11024 "Brackets, color customization"
Hi,

I recently adopted the IDE Brackets which is similar to Sublime Text that I find a little more convenient to use.

No theme suited me, so I create one. I succeed to managed 90% of the theme with that kind of code (need theme extension to create):

.CodeMirror[doctype=php] .cm-comment {
    color: #F90 !important;
}

.CodeMirror[doctype=css] .cm-comment {
    color: #999 !important;
}

For exa

[2015-04-30 08:48] bobiblazeski commented on #9341
Any update on this ? It's annoying for both files and folder. Though with folders you have workaround by opening the lowest folder first, for root files there is no solution.

[2015-04-30 08:58] nethip commented on #11008
@ConstantinChirila

* CSS and HTML core formatting: Have you tried this extension. https://github.com/drewhamlett/brackets-beautify. We are in the process of prioritizing this item.

* Autocomplete: Have you tried the emmet extension for Brackets. It give you something what you are asking for, though it is completely meant to be used for inserting emmet code hints, which I think is pretty awesome.

[2015-04-30 09:03] Equinox commented on #11008
On the topic of 'auto-complete': you can also use this [snippets extensions](https://github.com/chuyik/brackets-snippets) for exactly that. I recently moved all the functions and code that I have to write many times over to a snippet and it's extremely easy to manage, document and use. So the choice is yours in that respect.

[2015-04-30 09:03] nethip commented on #11009
@skant-sourcefuse Would you mind sharing the files. Is it happening with a CSS or a JS file? And could you tell us what is your project setup, like are you using angular/backbone/node_modules e.t.c?

[2015-04-30 09:10] nethip commented on #10977
@CPCookieMan This problem got introduced because of a change in our Extract for Brackets plugin. Basically the plugin was overriding some CSS styles. Could you try this with our latest build. This must not be there.

[2015-04-30 09:14] alaksandarjesus opened #11025 "Brackets + Angular JS + Jasmine"
I am facing trouble while running angularjs unit test with Jasmine. The detailed description can be found in    http://stackoverflow.com/questions/29960928/angularjs-jasmine-unit-test/29961759#29961759

Just want to confirm whether brackets was overriding Jasmine as commented.

P.S:  If i test simple javascript it works. But not with angularjs.

[2015-04-30 09:15] #10915 closed

[2015-04-30 10:42] IDrakon opened #11026 "Дерево проекта."
sprint 3 build 1.3.0-16022 (release cd0a6aae5)
Нельзя перетаскивать файлы в дереве проекта мышкой.

[2015-04-30 10:45] IgorNovozhilov opened #11027 "right click on an empty space selects the last word on line. [ Контекстное меню.]"
sprint 3 build 1.3.0-16022 (release cd0a6aae5)

Oh yes got it now, also writing the description in English.
On any file, right-click on an empty space, this selects the last word in the line. no word should be selected in the case and the right click context should be appropriately handled.

Если кликать правой кнопкой мыши, в окне редактирования файла, в пустое место окна то выделяется последнее

[2015-04-30 11:53] nethip commented on #10996
@RoryPicko When you don't have local changes(or did a Ctrl-S),  Brackets automatically loads these external changes. Am I misunderstanding something?

[2015-04-30 12:07] bredgerly opened #11028 "Brackets Not Saving - No Error Message"
Menu items are clickable but unresponsive.

Can click  any menu option but nothing happens, file explorer shows that no changes have been saved

[2015-04-30 12:28] RoryPicko commented on #10996
@nethip No, I think you've understood correctly, it's just not what I was experiencing.

Regardless of when I was saving/closing and re-opening files. Once a file is loaded, you only work from that version on the respected machines, until you close/reopen the brackets IDE. so 2 developers working on the same folder would constantly be overwriting each others changes.

[2015-04-30 13:45] apricot13 opened #11029 "Unable to see 'dist' folders"
Using bower if I install jquery I cannot see the dist folder in the file tree and its not picked up in my HTML either when adding the script tags.

This is the case for all folders called dist. I have to open it in finder and drag and drop the file to be able to view it!

![capture](https://cloud.githubusercontent.com/assets/649148/7413942/6b8ee954-ef47-11e4-8108-6b649e665866.JPG)

I'm running win

[2015-04-30 14:13] ConstantinChirila commented on #11008
@nethip Thank you!
I have just tried emmet, it is the best solution for it, but it's a bit crude as in if you hit tab after any word, it would take that and wrap it like ca = <car></car>... and so on.
Regarding the beautify, it seams to work so far. Thanks!

@Equinox
This is dead on what i need, i guess now it's a matter of keeping adding the snippets.
Thank you!

[2015-04-30 14:23] AhoyLemon opened #11030 "Code folding in jade, strict-sass and other indentation based languages."
This is related to #11006, but that issue was closed and I thought this needed a more widespread solution.

Out of the box, the new brackets code folding doesn't kick in for indentation based languages without brackets, most notably jade and sass (.sass syntax, .scss syntax works great)

The fix @thehogfather recommends is to set `"code-folding.alwaysUseIndentFold": true` in your `.brackets.json`

[2015-04-30 14:30] AhoyLemon commented on #11030
Or maybe this would be best resolved in the ForbesLindesay/jade-brackets plugin? I'd be happy to try to make a fork of @ForbesLindesay to address this, but I'm not yet sure what the settings would be.

[2015-04-30 14:44] redmunds commented on #11008
Autoclose functionality is provided in core Brackets, but you have to enable it at *Edit > Auto Close Braces*.

[2015-04-30 15:28] nethip commented on #11008
@redmunds Duh! I completely forgot we had this built into Brackets. Thanks for pointing out :smile: I have closed the trello card too.

[2015-04-30 17:38] PAULWORK opened #11031 "Add source code formater"
Would be nice to format the source code, HTML, CSS, JS, etc. And to validate code flawlessly.

[2015-04-30 21:58] Panzerfather commented on #10656
This problem only occurs when trying to build brackets from source release (tested with 1.3). It doesn't exists when building it from a cloned release branch. So either its fixed or theres a problem with fetching the right dependencies via npm.

@rodrigob:
There is a build instruction in the wiki for [Brackets](https://github.com/adobe/brackets/wiki/Building-Brackets-Releases)

[2015-04-30 22:15] mab9824 opened #11032 "RPM distro?"
It would be good to have RPM or other distro suitable for RedHat/Centos.

[2015-05-01 06:55] dacrhu commented on #11032
https://copr.fedoraproject.org/coprs/dacr/brackets/

I think you can build RPM to Centos too.

[2015-05-01 08:32] sQuarecoW commented on #7723
What is the status of this?

[2015-05-01 08:50] Bquadrio opened #11033 "using find"
when we try to find a variable using php, with "$" char, don't work.

[2015-05-01 08:50] #11033 closed

[2015-05-01 11:42] ntkog opened #11034 "keymap.json not working properly"
When i try to remap some keys for default extensions (codefolding ) it doesn't override the shorcut , instead it creates an alias ,

Take a look :

![screen shot 2015-05-01 at 13 33 10](https://cloud.githubusercontent.com/assets/1333901/7429748/b40aa068-f007-11e4-9d2f-e299791ff8f7.png)

**Platform : OSX Yosemite 10.10.1

[2015-05-01 11:44] nicolo-ribaudo commented on #11031
You can install these extensions:
- Beautify (To format HTML, js and CSS files)
- W3CValidation (To validate HTML code)
- CSSLint for Brackets (To validate CSS code)

[2015-05-01 14:55] alt- opened #11035 "LiveDevelopmentUtils file extension checking logic compares file language, not extension"
According to the comments, the isStaticHtmlFileExt and isServerHtmlFileExt methods should compare the file extensions to a list. Instead they compare the file language, determined by LanguageManager.getLanguageForPath(filePath).getId(), to the list.

LanguageManager returns the same language, 'html', for both static and server html files, causing eg. .hbs files to match isStaticHtmlFileExt, which

[2015-05-01 15:24] redmunds commented on #11034
That's correct because you can have multiple shortcuts for a command. To remove a shortcut, set it to `null`.

[2015-05-01 15:59] le717 commented on #11035
An `.hbs` file is used by [Handlebars.js](http://handlebarsjs.com/), correct? In that case, wouldn't `isStaticHtmlFileExt()` be correct because it is client-side (static) file type and not a server-side language? (See [the arrays](https://github.com/adobe/brackets/blob/master/src/LiveDevelopment/LiveDevelopmentUtils.js#L37-L42) these functions use.)

/cc @peterflynn You and I moved these methods t

[2015-05-01 16:13] alt- commented on #11035
In my case it's interpolated server-side. I'd think self-bootstrapping (parse as html, fetch Handlebar.js and intepolate self) would be uncommon.

From what I can gather these methods are primarily used by https://github.com/adobe/brackets/blob/master/src/LiveDevelopment/LiveDevelopment.js#L711 to launch the initial index page and I keep getting a download of index.hbs instead of the correct index

[2015-05-01 16:59] ntkog commented on #11034
Ok thanks, a lot for the explanation.

[2015-05-01 16:59] #11034 closed

[2015-05-01 19:03] JeffryBooher opened #11036 "RTE when pressing CTRL+SHIFT+SPACE"
**NOTE: I haven't done widespread testing or tested with 1.3 yet...**

1) Open a doc
2) Press CTRL+SHIFT+SPACE
-> RTE

[code]
[code]

[2015-05-01 20:38] edgaa opened #11037 "Typing } in CSS file does not preserve indent"
All of the sudden, when I enter following:

[code]

the moment I enter } I'm getting

[code]

How can I keep the indentation?

Same happens when I press ENTER

[2015-05-01 22:57] mfromin opened #11038 "Add padding/margin under Working Files header"
When there are no files open in the editor the "select a folder" section moves up near the top of the left panel and seems to obscure some of the buttons that would be on the working files panel.

From a look and feel perspective it would be nicer if the Working Files area never disappeared as it does at present.  Perhaps some padding or margin beneath the "Working Files" title so that its never f

[2015-05-01 23:17] javilopezc opened #11039 "Cannot launch brackets 1.3.0.0 - Windows 8.1"
It was working ok a few days ago, and suddenly could not launch it anymore.

Before positing this issue I followed the instructions to clear cache as indicated in the [Brackets not launching](https://github.com/adobe/brackets/wiki/Troubleshooting#launching) Troubleshooting section, but to no avail.

The Windows Event log error indicates that the `libcef.dll` module is the one with errors.

Here is

[2015-05-01 23:19] mfromin commented on #11038
From looking at Dev Tools it would appear that the DIV with `id="working-set-list-container"` gets set to `display:none` but a couple of buttons are outside of that DIV:

* `working-set-splitview-btn`
* `working-set-option-btn`

(see screenshot) so they can still be seen in some scenarios:

![screen shot 2015-05-01 at 5 15 34 pm](https://cloud.githubusercontent.com/assets/2193139/7438705/dad44e7e-

[2015-05-01 23:56] Karklis opened #11040 "Strange slowdown when open to edit a .htaccess file."
With livereload running, apache running, when open .htaccess to edit in brackets, the IDE became too slow.

.htaccess file downloaded from: https://github.com/h5bp/html5-boilerplate/blob/master/dist/.htaccess

- windows 7 64 ultimate;
- With or without apache 2.4 (XAMPP) running;
- Brackets Release 1.3 build 1.3.0-16022 (release cd0a6aae5) build timestamp: Wed Apr 29 2015 11:07:50 GMT+0100 ;
- wit

[2015-05-02 03:24] mfromin commented on #11038
This seems to override what Brackets is doing:

[code]

[2015-05-02 07:25] Equinox commented on #10956
I'm also now getting double of the commands, as per my last comment: ![](http://i.imgur.com/V1YPvuj.png)

[2015-05-02 12:40] nethip commented on #10956
@equinox this might be happening because of multiple pre release builds as we have renamed and moved the keys. Please delete the flowing entry

'HKCR/*/Shell/Open with Brackets'

[2015-05-02 13:03] Equinox commented on #10956
That sadly didn't fix it.

[2015-05-02 13:37] Equinox commented on #10956
I looked up the location of the registry values before you removed the ability to use commands on the rubbish bin, ie "Root="HKCR" Key="Folder\shell\!(loc.ExplorerFolderOpenContextMenu)\command" deleting the Brackets reference there worked.

[2015-05-02 16:54] yahyaKacem opened #11041 "add possibility to replace with new line"
Hi, I'm on Ubuntu 14.04 using Release 1.3 experimental build 1.3.0-16022 is it possible to search for a string and replace it with line return, like this,
original:

    azerty, qwerty

expected result:

    azerty,
    qwerty

so search for `', '` and replace with `',\n'` or `',\r'` do it this will result in `azerty,\nqwerty` or `azerty,\rqwerty`

also can write multi-line replace string or searc

[2015-05-02 22:07] simsam7 commented on #7208
So glad I found this thread, the missing icons in Brackets have been a nuisance!

[2015-05-03 15:01] petetnt opened #11044 "Extract fills developer console with deprecation warnings"
1. Install Brackets with Extract for Brackets
2. Console is filled with Deprecation warnings such as:

[code]

Small / easy fixes but I can't really do them myself as the extension is closed source...

[2015-05-03 15:36] busykai commented on #11038
@mfromin, check if that repeats without any extensions (*Debug -> Reload without extensions*). it does look like you have a couple extensions installed which intervene the DOM directly. if it does not reproduce after you reload without extensions, then this is an extension issue, you should file it against the extension which causes it.

[2015-05-04 01:32] the-simian opened #11045 "Working Files closing issue."
Closing an Item in the Working files and choosing 'dont save' does not close the file. It works identically to cancel.

Steps to reproduce:
1. Open a file
2. Alter it. A little dot appears to the left of the unsaved file.
3. You change your mind, lets just close that file.
4. Click the x, a popup appears "save, don't save and cancel"
5. select "don't save". Nothing happens. It is the same as choos

[2015-05-04 02:04] mfromin commented on #11038
It does still happen.  From what I can tell Brackets changes the `working-set-list-container` visibility to `display:none` when there are no working files.

[2015-05-04 02:52] brunnopleffken commented on #11013
I believe Brackets uses grayscale anti-aliasing instead of subpixel for some reason (performance, maybe)... I agree with you, it's really bad and I use a "CSS injection" extension and do some workarround to solve it.

This is my workarround to get subpixel rendering back:

[code]

[2015-05-04 05:26] rroshan1 commented on #11045
@the-simian I do NOT see the issue!!   For me, it works as one would expect it to.
Can you please share the OS and version of Brackets you are using.
You can try reloading without extensions OR try after deleting your preferences. Refer [Troubleshooting](https://github.com/adobe/brackets/wiki/Troubleshooting#other).

[2015-05-04 05:30] PabloK opened #11046 "Quickly switching between js files causes freezing."
Hi I'm using brackets on a high-end machine but a simple task such as switching quickly between js files in the GUI causes it to freeze. This seems to occur even for small js files. Eventually the GUI catches up but some times I have to wait for several minutes.

[2015-05-04 05:31] PabloK commented on #11046
I'm using brackets 1.3 on windows 8.1

[2015-05-04 05:32] the-simian commented on #11045
Its possible an extension is interfering. I am using Windows and version 1.3.0.

I'll audit my extensions. I'll close the issue, then. Thanks for confirming!

[2015-05-04 05:32] #11045 closed

[2015-05-04 05:42] nethip commented on #10998
Verified whether we need to pickup the latest branch of CEF. The diff can be found here.

https://bitbucket.org/chromiumembedded/cef/branch/2272?dest=2171

I did not see a compelling reason to update to 2272. Let us just skip updating CEF for this sprint.

[2015-05-04 08:10] nethip opened #11047 "[CEF 2171][Linux only] Upgrade Linux app-shell's to use CEF 2171"
Upgrade app-shell CEF version to 2171 on Linux. I am creating this placeholder card to track the following issues.

https://github.com/adobe/brackets/issues/4611
https://github.com/adobe/brackets/issues/10231
https://github.com/adobe/brackets-shell/pull/503
https://github.com/adobe/brackets-shell/pull/501
https://github.com/adobe/brackets-shell/pull/499
https://github.com/adobe/brackets-shell/pull

[2015-05-04 08:15] #9950 closed

[2015-05-04 08:21] gogobook commented on #10255
Brackets can't install in ubuntu(15.04), it need libgcrypt11(>=1.4.5)

[2015-05-04 09:02] prafulVaishnav commented on #11046
@PabloK Hii.. Are you facing this problem only with js files? Are these js files contain long lines (eg. minified js)?

[2015-05-04 09:27] PabloK commented on #11046
Some files contain minified javascript but quickly pressing the files generated the same problem for short 100-200 row javascript files as well. I will aquire the information and return as soon as I can.

[2015-05-04 09:48] designcise opened #11048 "Switch Case Code Folding"
Case code block (ending with break, continue, return etc.) inside a switch statement cannot be folded in v1.3

[2015-05-04 10:01] prafulVaishnav commented on #11041
@yahyaKacem No. Its not possible currently to include newline in replace string. Although you can use newline in search. Information is given [here](https://trello.com/c/yho8jb7y/1082-find-replace-allow-matching-across-lines-n-or-multiline-regex-or-replacement-text-containing-newlines) We have feature backlog for this. Please upvote [here](https://trello.com/c/yho8jb7y/1082-find-replace-allow-matc

[2015-05-04 10:01] #11041 closed

[2015-05-04 10:13] nethip commented on #10956
@Equinox I thought you have this double entry for file context menus. You have to remove it at both the places. I mean at `HKCR\*\Shell\Open With Brackets` and `HKCR\Folder\shell\Open As Brackets Project`(which you had already removed). Could you double check at both the places. Thanks!

[2015-05-04 10:21] nethip commented on #11037
@edgaa You could disable smart indent by changing this preference.

`"smartIndent": false`

Use *Debug->Open Preference File* to open preference file and add following code.
[code]

[2015-05-04 10:26] arrbie commented on #11013
@brunnopleffken: Yes, thank brunnopleffken. I also try to easen up on the worst pain by applying similar rendering patches. I've also experimented a little with 98% alpha on the text colors, eg rgba(0, 136, 0, 0.98). It helps a little, but it's still VERY FUZZY compared to normal Mac standards and other text editors.

During the last week I've spoken to five different developers using Macs, and ev

[2015-05-04 10:41] nethip commented on #10398
@dmxt The problem in making Brackets configurable for this workflow is the fact that, this needs to be handled at the `brackets-shell` (The thin wrapper which encloses the editor) side of things and we do not have any infrastructure as of now to to make `brackets-shell` configurable. As of now we just have `Brackets` side of things configurable, through `.brackets.json` but not `brackets-shell`.

[2015-05-04 10:52] nethip commented on #11018
@mesosteros Hmm. looks like the, remove existing installation, phase of the installer is failing. I would suggest running Brackets 1.2 installer again which is going to remove the existing 1.2 installation and then re-run Brackets 1.3 installer.

The following posts have some info about this issue as well.

https://support.microsoft.com/en-us/kb/258847
http://answers.microsoft.com/en-us/protect/fo

[2015-05-04 10:56] mesosteros commented on #11018
Thanks @nethip , I was just coming here to close this: I solved it last night by downloading the Brackets 1.2 installer and then when I ran 1.3 it automatically found 1.2 and ran it to uninstall that version and update to the new one.

[2015-05-04 10:58] prafulVaishnav commented on #11048
@designcise Please set the preference `"code-folding.alwaysUseIndentFold": true` in the preference file (`Debug->Open Preference File` ). It is by default off to avoid too many code fold markers.

[2015-05-04 10:59] rroshan1 commented on #10988
@nsyrax Can you try the following:-
Backup and delete the contents in the folder *C:\Users\username\AppData\Roaming\Brackets\*.
See if the issue still exists. If NOT, we can confirm that it is caused by some corrupt preference OR faulty extension. Otherwise, we can look more into the issue.

[2015-05-04 11:00] nethip commented on #11013
@arrbie I have marked this for 1.4 and we need to figure how to disable sub-pixel rendering on Mac.

[2015-05-04 11:08] arrbie commented on #11013
@nethip, thanks for taking this seriously. However, I think you are quite on the wrong track. This is definately not a matter of "disable sub-pixel rendering on Mac". Actually, you seem to have misunderstood completely nethip. Please, read carefully all fixes that have been attempted above – without reaching satisfactory results.

You need to get hold of someone that really uses a Mac as their pri

[2015-05-04 11:17] edgaa commented on #11037
Thanks that worked.. don't know why it would suddenly be changed though.. could be an extension?

[2015-05-04 11:17] #11037 closed

[2015-05-04 11:19] ryanstewart commented on #11013
Is this just an issue on non-retina Macs? I'm on a 15" Mac Book Pro and I'm not seeing any obvious text issues.

I definitely notice the differences in the screenshots above. I just don't see those differences on my own machine.

[2015-05-04 11:28] prafulVaishnav commented on #11037
@edgaa Brackets auto-indent when you pressed `}`  Setting `smartIndet: false` will disable the indentation across all the files.

[2015-05-04 12:19] nethip commented on #11013
@ryanstewart @arrbie I think this is a problem on all Macs. And it is much worse on non-retina displays. We have being tracking multiple issues with fonts on MAC (https://github.com/adobe/brackets/issues/4640, https://github.com/adobe/brackets/issues/10083,  https://github.com/adobe/brackets/issues/2791) for quite some time. And I think actually CEF 2171 made it look a lot worse.

@arrbie I take b

[2015-05-04 12:27] nethip commented on #11013
Also take a look at https://github.com/adobe/brackets/issues/10083#issuecomment-65554516 for @peterflynn comment on the same.

[2015-05-04 13:48] arrbie commented on #11013
CEF is crap for the Brackets product. I wish Brackets had used the built-in web rendering API:s of each OS (platform) instead.

[2015-05-04 16:09] arrbie commented on #11013
Regarding #10083 and @peterflynn's comments:
I think he might be onto something here. I also have noticed strange horizontal shiftings related to the font size. Fractional width is definately part of this problem. However, as I pointed out in a new comment in #10083, there must be more to it than this since the geometric size of the rendered text is actually correct now (used to be too narrow).

[2015-05-04 16:11] PabloK commented on #11046
54 files in the project. I have a minified copy of require js in the project and switching from that file to another js file causes the problem immediately.

[2015-05-04 17:16] nethip commented on #11013
From my previous experience we had problems with fractional widths attributed to AA, only if the AA algorithms are implemented by the renderer rather than by the system, like the text engine used in `Photoshop`, and `Fireworks`(Check Anti aliased text in these products and you will see jaggered edges, which I have been fighting for ages to figure out how to solve this AA problem as we had to imple

[2015-05-04 17:19] nethip commented on #11013
* There is another thing I want to add. If there is a scale factor applied to the entire text, it is going to effect the entire text rendering. So another point to look out would be to see if any scale factor is getting applied.

[2015-05-04 18:03] arrbie commented on #11013
Already tried the follow to no satisfaction:
• disabling ligatures
• changing all varieties of font-smooting (incl AA off)
• drop shadow nullification
• font scaling factors (+/- 0.5 px in steps of 0.01 px)

[2015-05-04 18:24] ryanstewart commented on #11013
@arrbie if you're feeling brave, would you mind seeing if [this experimental branch of Brackets](https://github.com/zaggino/brackets-electron) running on Electron is better?

Here's a side by side comparison on my machine (Black title bar is Brackets normal, grey is with Electron)
![main_css__getting_started__ _brackets_and_main_css__getting_started__ _brackets_and_slack](https://cloud.githubuserc

[2015-05-04 18:37] redmunds opened #11049 "KeyBindingManager._getUserKeyMapFilePath() should return a Deferred object"
The `KeyBindingManager._getUserKeyMapFilePath()` command should return a Deferred object that is resolved when **keymap.json** file is opened.

Even though the *Open User Key Map* command is in the *Debug* menu, and the method starts with an underscore (implying that it is private), it's registered `CommandManager` with `Commands.FILE_OPEN_KEYMAP` id, so that seems public to me. I discovered this

[2015-05-04 18:47] brunnopleffken commented on #11013
I can't see differences between Brackets-Shell and Electron at all... I believe the main point here is that Brackets doesn't use sub-pixel anti-aliasing for text, it uses greyscale, leading it into fuzzy fonts (basically, the same issue that IE10 and Office 2013 faced in Windows 8 a few years ago) on non-Retina/non-High-DPI displays, lowering the effective resolution...

Enabling sub-pixel renderi

[2015-05-04 18:51] nethip commented on #11013
@brunnopleffken Did you do this comparison on a retina display. If yes it is hard to figure that differences because of high pixel density. May be we might want to compare this on a non retina display.

And you many be right about enabling sub pixel rendering support. Did you get a chance to experiment with `-webkit-font-smoothing: subpixel-antialiased;`. Does that make the rendering a little bett

[2015-05-04 18:55] nethip commented on #11013
@ryanstewart I am not able to distinguish between both the screenshots just by looking at them. I will have to probably do an XOR in Fireworks to figure out the little differences.

[2015-05-04 19:23] arrbie commented on #11013
@ryanstewart, nope, I can't see any difference in rendering quality between your two images of Brackets normal and Electron above. Both look good to me.

I will try to install the experimental branch on my MacBook Air 13" (non-retina) and get back to you with results. Now, where do I find the compiled version of this?

[2015-05-04 19:27] unyo opened #11050 "HAML not folding in Brackets 1.3"
HAML does not fold in Brackets 1.3. I'm reverting to 1.2 since the code folding extension (https://github.com/thehogfather/brackets-code-folding) allows folding HAML.

[2015-05-04 19:28] MarcelGerber commented on #11013
@arrbie There's no compiled version available, but it's more or less easy to set up:
1. `git clone https://github.com/zaggino/brackets-electron`
2. `cd brackets-electron`
3. `git submodule update --init`
4. `npm install`
5. `npm start` to run

Notice you won't have your usual extensions and themes installed as it's more or less a separate install.

Even if you don't see a difference/improvement im

[2015-05-04 19:31] nethip commented on #11013
@brunnopleffken I just saw from your above comment that you have already tried `-webkit-font-smoothing: subpixel-antialiased;`. Let us then compare then screenshots with this setting on. I will do this first thing tomorrow.

[2015-05-04 19:37] arrbie commented on #11013
@MarcelGerber, what's <i>npm</i>?

[2015-05-04 19:40] chrisjmendoza opened #11051 "Brackets unusable but still responsive - does not open files or close properly"
Last week, my Mac failed to go to sleep and ran out of battery. Brackets and some other programs were open at the time. The next day, I plugged it in and turned Mac back on. Everything works except for Brackets now. I can open it, and that's it. It doesn't show any of my files, it won't open any files, and doesn't close. I have tried uninstalling and reinstalling it, installing the prior 1.2 brack

[2015-05-04 19:40] nethip commented on #11013
@arrbie `npm` is a node package manager. Install `node` and this would get installed along with it

[2015-05-04 19:41] arrbie commented on #11013
Sorry, don't do NodeJS yet. Will have to pass on this one.

[2015-05-04 19:42] MarcelGerber commented on #11013
Oh, ok. It's the Node package manager.
So, Node is a command line tool that lets you run JavaScript locally on your computer (with access to files and so on), and npm is a tool that lets you install modules (similar to `pip` for Python, `gem` for Ruby, etc.).

Just saw your answer: You don't really have to have any Node skills for this, just install Node and you're ready. But it's of course also f

[2015-05-04 19:48] arrbie commented on #11013
@MarcelGerber, yeah, I know about NodeJS. Just not ready to go there yet. Any way to install Brackets Electron w/o node?

[2015-05-04 20:35] sprintr commented on #10932
I am using `[]` as an alias to `brackets` on Git Bash.

[2015-05-04 21:23] nethip commented on #11013
Actually we were deliberate in disabling sub pixel AA. See this https://github.com/adobe/brackets/issues/4640#issuecomment-28142044

After looking at our issues base, I found that the only possible solution for time being is to write an extension or a theme which would either enable/disable sub pixel-anitaliasing. Also we could have more options in this extension to either completely disable AA or

[2015-05-04 21:59] arrbie commented on #11013
Here we go again. This animation reason for fiddling with the AA has been discarded in numerous discussion comments. It seems nobody has reported proof of such a connection, but rather the opposite. So we have to conclude that it's simply a myth.

Also – and more importantly – we are not talking about simply switching on or off the subpixel-antialiasing. This has already been tested (in extensions

[2015-05-04 22:10] brunnopleffken commented on #11013
There has been some change on Brackets-Shell or something since Brackets v. 1.0? I tested this CSS (using ```-webkit-font-smoothing``` and ```-webkit-backface-visibility``` on my friend's iMac and it seems not to work anymore... I used to do this workaround before I started using MacBook Retina, and yes, I checked with Digital Color Meter: there was sub-pixel anti-aliasing using CSS... ;)

By the

[2015-05-04 22:35] Equinox commented on #10956
I was getting it doubled on all places where it was added (folders, files etc), removing both entries and then reinstalling the release version fixed it and put it back to the expected output: ie the option with the icon (and only one instance).

[2015-05-05 02:26] fujitatakesh commented on #10971
I faced same problem on windows.
I supporsed Mr. Node dislike too long path.
So I substed long path to drive letter and Brackets opened from drive letter.
-- c:\>subst s: c:\too\long\long\long\long\long\long\long\long\path\
It workarounded.
If you suffering from similar problem. It worth to try it. Thanks.

[2015-05-05 03:04] GisKook opened #11052 "How can I generate a .ai file？"
Hello,
    I am sorry for ask such a question here.But I have no place to ask.How can I generate a .ai file with a stand alone program?Is it possible?Is there any open source library to write .ai file?What is the different between .ai and .pgf file.If I bother you.I am really sorry.Or can you tell me where should I ask this question?
Thanks,
zhangkai

[2015-05-05 04:04] nethip commented on #11013
I had mentioned in my comment above the actual reason why we have turned this off with the older build of CEF. Now I also mentioned that **if** and **only if** we see any degradation at all only then we need to worry about disabling animations, though it has been ruled out in multiple comments.

@brunnopleffken The difference between 1.0 and 1.1 is that we have upgraded to CEF 2171 in 1.1. If I un

[2015-05-05 04:37] nethip commented on #10956
@Equinox Thanks for bearing with us on this. Also we would like to thank you for your testing efforts in making this a solid feature.

[2015-05-05 04:40] Equinox commented on #10956
It was a pleasure to help! I hang around the IRC channel too and try to help people going there for help. Keep making Brackets by far the best editor and we're even. ;)

[2015-05-05 05:07] rroshan1 commented on #11052
Sorry, we may not be able to help you on this unrelated question.
Still, see if this helps you [http://en.wikipedia.org/wiki/Adobe_Illustrator_Artwork#Programs_that_support_AI_files](http://en.wikipedia.org/wiki/Adobe_Illustrator_Artwork#Programs_that_support_AI_files).

[2015-05-05 05:07] #11052 closed

[2015-05-05 05:52] petetnt commented on #11050
Try setting `code-folding.alwaysUseIndentFold: true` on your Preferences file (Debug -> Open Preferences File)

[2015-05-05 06:42] ryanstewart commented on #10932
Thanks for the feedback everyone. I'm going to go ahead and close this since we settled on `brackets` and it's pretty straight forward to set up an alias.

[2015-05-05 06:42] #10932 closed

[2015-05-05 07:35] skant-sourcefuse commented on #11009
Hi,

This kind of any(CSS, JS) compressed file when we open it get stuck or
crashed for sometime and most of time need to restart.

On Thu, Apr 30, 2015 at 2:34 PM, Prashanth Nethi <notifications@github.com>
wrote:

--

Thanks & Regards
SHASHIKANT...

[2015-05-05 08:52] chrona opened #11054 "Use of numpad can trigger collapse"
[ Windows 7 | Release 1.3 Build 1.30-16022 ]

1. Open any file which can collapse
2. Try to create a character using the numpad (e.g. an ellipsis -> ALT + 0133); a character using 1 is required.

=====

Result:
Everything is collapsed now.

Expected:
The ellipsis should appear without everything collapsing.

Workaround:
Using the character escaped or use copy/paste from somewhere else.

[2015-05-05 08:59] ryanstewart commented on #9270
Reopening to target for 1.4. @peterflynn we may have some questions about whether you can help us with the high speed camera.

[2015-05-05 09:02] designcise commented on #11048
Thanks, that works! Can we expect to see this implemented as an option in settings sometime later?

[2015-05-05 09:20] ryanstewart opened #11055 "Add Performance Metrics to Health Data Report"
Add performance-specific metrics to the [Health Data Report](https://github.com/adobe/brackets/wiki/Health-Data). Things we want to start tracking:

- [x] Startup Time
- [x] Average File Switching Time
- [x] Project Size (number of files)
- [x] Type of file(s) opened in Brackets

[2015-05-05 09:27] #10860 closed

[2015-05-05 09:29] #10861 closed

[2015-05-05 10:17] Equinox commented on #10741
I think adding something like [this](https://github.com/dnbard/brackets-draggable-modals) extension into Brackets by default (like you guys did with the code folding) would be a good idea. It'd fix issues like this one and the one @prksingh linked.

[2015-05-05 10:35] ryanstewart commented on #10728
@prafulVaishnav Did we figure out the culprit is E4B? Can you repo this with a stable E4B?

[2015-05-05 10:40] ryanstewart commented on #11054
This is because the key binding for code folding collapse all is alt+1. You can override this by modifying the keymap file - https://github.com/adobe/brackets/wiki/User-Key-Bindings

Also wouldn't it be better to use `&hellip;` instead of the Alt+ way of inputing it?

[2015-05-05 10:42] ryanstewart commented on #11051
hey @chrisjmendoza if you clear out your `~/Library/Application Support/Brackets/cef_data/` folder, does that work?

[2015-05-05 10:43] ryanstewart commented on #11049
Marking this for 1.4.

[2015-05-05 10:45] ryanstewart commented on #10741
I'm going to go ahead and close this because it's not something we're planning on changing. Since the extension is there to make them draggable, that seems like a good workaround.

I *think* the rendering issues are something that we'll be fixing in an update so hopefully that will alleviate the need to drag.

[2015-05-05 10:45] #10741 closed

[2015-05-05 10:47] ryanstewart commented on #11048
@designcise I don't think we'll make it a checkmark but I am hoping in the next release we do something better around exposing preferences so that it's easier to change.

I'll go ahead and close this now since it's resolved, but will create a card for preferences.

[2015-05-05 10:47] #11048 closed

[2015-05-05 10:52] ryanstewart opened #11056 "Improve Preferences Experience"
# Background
Until now we've kept the preferences menu item disabled because we'd planned on doing a more robust UI around preferences. But in the few years that Brackets has been around, more and more editors have adopted the JSON file as a preference and in general our users seem comfortable with that approach.

# Proposal
* Enable the Preferences menu item in the default menu on Mac and Windows

[2015-05-05 10:55] ryanstewart commented on #11056
@prafulVaishnav @nethip @rroshan1 Would it be possible to add a `"documentation"` property to `brackets.json` that points to our documentation?

I know JSON doesn't support comments so we can't show something like:

`\\ Go here for documentation`

But could we do something like:

`{
   "documentation":"https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#preferences"
    "steelbisondev.fixmy

[2015-05-05 11:12] Jackbennett opened #11057 "Live preview doesn't open a new window of chrome if chrome is already open."
When a user, staff or domain admin clicks to run the live preview _and_ already has chrome open. Brackets always opens a new tab in chrome. This doesn't work as it won't have remote debugging enabled.

If I allow brackets to try to close and re-open chrome it again just opens a new tab.

The user must already have chrome closed first and allow brackets to open it.

My environment:
* Windows 7 SP1

[2015-05-05 11:16] 2007ay opened #11058 "unable to launch custom brackets.exe"
Hi,
I have created a desktop app using brackets-shell version sprint-38. I have done the following changes.

 1. config.h -changed APP_NAME from 'Brackets' to 'MyBrackets'.
 2. appshell_config.gypi - changed appname from 'Brackets' to 'MyBrackets'.
 3. Gruntfile - changed build.name from 'Brackets' to 'MyBrackets'.

After building brackets-shell with these changes i used to get 'MyBrackets.exe'
in

[2015-05-05 11:25] ryanstewart commented on #11044
Thanks for this @petetnt. @prafulVaishnav I'll add this to the E4B work for the next release.

[2015-05-05 11:30] ryanstewart commented on #11039
If you try clearing out the `AppData/Roaming/Brackets/cef_data` folder, does that help?

[2015-05-05 11:32] petetnt commented on #11044
@ryanstewart :+1:

[2015-05-05 13:49] arrbie commented on #11013
Consider <b>switching</b> from CEF <b>to PhoneGap</b> on the Mac distribution of Brackets – if you think that userbase is of value to Adobe. It will make the product behave <i>natively</i>, and make it much <i>leaner</i> (you could save ~75MB of the total 114MB). It would also start up faster.

The should require only minor work, and I don't see any reason this product should make hard-coded depen

[2015-05-05 14:18] chrisjmendoza commented on #11051
As I mentioned before, there is no such folder in my application support
folder. Even when I uninstall and reinstall, I never see it.
On May 5, 2015 3:43 AM, "Ryan Stewart" <notifications@github.com> wrote:

[2015-05-05 15:19] ryanstewart commented on #11036
Is this just on Windows Jeff? I tried reproducing on Mac and either I wasn't doing the right key combo or it doesn't repo on Mac.

[2015-05-05 15:58] javilopezc commented on #11039
I cleared out the `cef_data` folder as mentioned in the `Brackets not launching` section in the ` Troubleshooting` page, which I referenced in the original issue.
It did not help.

[2015-05-05 16:02] nethip commented on #10956
Sure! :smile:

[2015-05-05 16:08] redmunds commented on #11057
This is by design. Brackets automatically uses the `--remote-debugging` flag (see https://github.com/adobe/brackets-shell repo). Is this causing any problems, or just unexpected?

[2015-05-05 16:11] redmunds commented on #11049
FYI, I got around this in [Display Shortcuts extension](https://github.com/redmunds/brackets-display-shortcuts) by using `setTimeout()` so not critical for 1.4.

[2015-05-05 17:45] Jackbennett commented on #11057
If chrome is already open. Brackets won't launch a new window. It makes a new tab and hangs loading the `file:///C:/Program%20Files%20(x86)/Brackets/www/LiveDevelopment/launch.html` because the first chrome wasn't launched by brackets with `--remote-debugging`

How do I get brackets to force opening a new window? This works like you'd expect on my laptop but on the domain the open chrome captures

[2015-05-05 23:23] luisalvarado commented on #10255
Ok, do not know if it's Brackets 1.3 or Ubuntu 15.04 right now (Since 3 days ago at least). But installing Brackets on Ubuntu 15.04 works perfect. No problems. Tested this on 5 laptops and 2 PCs. All using Ubuntu 15.04 64-bit.

[2015-05-06 02:56] bigflipo opened #11059 "how to launch live preview with a server-side file"
I'm trying to launch live preview with a server-side file, I have already installed LAMP and everything is running smoothly, I also changed the permissions of the localhost folder using chown in the terminal. I can run through my local server php files. but inside brackets, when I click the thunder, a pop-up message appears asking for a Live Preview Base URL: and it asks for a url like http://loca

[2015-05-06 03:02] bigflipo commented on #11059
I know how to fix the problem:
in a php file with the function phpinfo();
scroll to the hostname:port of the apache2 handler and there will be an address whith the colon and the port number.

[2015-05-06 03:02] #11059 closed

[2015-05-06 05:19] lygstate commented on #10400
Still exist in brackets 1.3

[2015-05-06 07:23] gogobook commented on #10255
My PC is Ubuntu 15.04 64-bit too, installing Brackets 1.2 is fine. But Brackets 1.3 is not.

[2015-05-06 07:26] js0511 commented on #10255
NAVER - http://www.naver.com/
--------------------------------------------

oiup2006@naver.com 님께 보내신 메일 <Re: [brackets] Debian - libgcrypt version breaks Brackets. (#10255)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-05-06 07:55] nethip commented on #10255
@gogobook You mean you are unable to install it or is it that you are not able to launch it? If you are not able to install, you could try using `dpkg` to run brackets installer from command line and see where the installer is failing. If it is about launching Brackets, again try launching Brackets from command line, something like typing `/opt/Brackets/Brackets` in command line where `/opt/Bracke

[2015-05-06 07:57] Romane-T commented on #10255
Debian Jessie, no problems with 1.3. But...

I still have libgcrypt11 installed from when bug first notifies way back
when. My first suggestion would be to make certain that your machine
actually has all the required dependencies (i.e. libgcrypt11)

On 06/05/15 17:24, gogobook wrote:

[2015-05-06 08:01] chrona commented on #11054
Yeah, I know why it collapses, I'd just assume that it wouldn't happen while using the numpad.
But the Key-Bindings seems fine for a workaround, thanks!

[2015-05-06 08:01] js0511 commented on #11054
NAVER - http://www.naver.com/
--------------------------------------------

oiup2006@naver.com 님께 보내신 메일 <Re: [brackets] Use of numpad can trigger collapse (#11054)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-05-06 08:05] nethip commented on #11054
@Naver As I mentioned earlier we keep this forum dedicated to issues and development work of Brackets and let us restrict it to these items alone. Please do not post about non relevant topics here.

[2015-05-06 08:08] nethip commented on #10400
@lygstate We have not pushed any change into 1.3, which might fix this behavior.

[2015-05-06 08:08] js0511 commented on #10400
NAVER - http://www.naver.com/
--------------------------------------------

oiup2006@naver.com 님께 보내신 메일 <Re: [brackets] There is style issue under win7 basic mode. (#10400)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-05-06 08:13] nethip commented on #11056
:+1:

@ryanstewart About documentation, we could do that.

[2015-05-06 08:17] nethip commented on #11039
@javilopezc Looks like the installation did not go fine and it ended up with corrupt `libcef.dll`.

Could you re-download 1.3 installer from https://bracket.io and run the installer again.
Note: Please uninstall existing instance of Brackets before going through the above step.

[2015-05-06 08:32] nethip commented on #11051
@chrisjmendoza From the logs above, I can see that the `Brackets` folder is present inside `~/Library/Application Support` on your system as Brackets is still able to reference a file from there (`brackets-paste-and-indent/main.js`).  Can you check again if the folder, `Brackets` is present at `~/Library/Application Support/`. If present, please rename this to anything other than `Brackets`, so th

[2015-05-06 08:35] gogobook commented on #10255
Thank you, Romane-T and nethip. After manually install libgcrypt11. Brackets 1.3 can be installed. And it could be launched by command line.

[2015-05-06 08:39] nethip commented on #11051
@chrisjmendoza And make sure you are referring to user's `~/Library/Application Support/` folder rather than `/Library/Application Support/` folder. Best way to make sure of that is to type in `Cmd-Shift-G` shortcut in `Finder` and type in `~/Library/Application Support/` in the `Go To The Folder` dialog.

[2015-05-06 08:50] nethip commented on #11058
@2007ay We have not changed anything much in our shell code in 1.3. Make sure you do not have any `Brackets.exe` process running in the background.

Also could you try rebuilding Brackets shell by cleaning the existing build and by building it again. If you are still not able to get this running, then the you could see what is happening using the debugger. Put a breakpoint at this place `cefclient

[2015-05-06 09:10] hmemcpy commented on #10214
@MarcelGerber

Just wanted to let you know that for the most part, the fix is great! However, sometimes (and I couldn't really find out when), the scrolling misbehaves again - becoming too fast. If I reload Brackets (Shift-F5), the scrolling goes back to normal (fixed) state.

Will try to repro... (using 1.3 build 1.3.0-16022)

[2015-05-06 09:19] js0511 commented on #10214
NAVER - http://www.naver.com/
--------------------------------------------

oiup2006@naver.com 님께 보내신 메일 <Re: [brackets] Editor & file tree scroll too fast when using mouse wheel (starting in 1.1) (#10214)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-05-06 09:36] prafulVaishnav commented on #10728
@ryanstewart Yeah. Culprit here is E4B.

[2015-05-06 09:37] js0511 commented on #10728
NAVER - http://www.naver.com/
--------------------------------------------

oiup2006@naver.com 님께 보내신 메일 <Re: [brackets] Extension Manager buttons hidden on window resize (#10728)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-05-06 10:05] nethip commented on #10932
@omegahm @sprintr That are some interesting aliases. You could now open files and folders through aliases as well. Here are my aliases. I got inspired from @sprintr :smile: and tweaked a little.

[code]

[2015-05-06 10:53] prafulVaishnav commented on #11028
@bredgerly Are you saying none of the Brackets Menu Items is working? Are you not able to save the change made in the Brackets editor through shortcut and menu Item? Which platform are you on and version of Brackets using?

[2015-05-06 10:53] js0511 commented on #11028
NAVER - http://www.naver.com/
--------------------------------------------

oiup2006@naver.com 님께 보내신 메일 <Re: [brackets] Brackets Not Saving - No Error Message (#11028)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-05-06 11:06] rroshan1 commented on #11028
Looking into it.

[2015-05-06 13:40] Jackbennett commented on #11057
[Is this the line?](https://github.com/adobe/brackets-shell/blob/b31e5cb11f24957788876ec7819b8f6dd843b632/appshell/appshell_extensions_win.cpp#L344)

append `--new-window` on that string and I guess brackets would be opening a new window all the time for live preview. I assume this would always make a new window when clicking preview.

Perhaps if the boolean `enableRemoteDebugging` was instead som

[2015-05-06 13:40] js0511 commented on #11057
NAVER - http://www.naver.com/
--------------------------------------------

oiup2006@naver.com 님께 보내신 메일 <Re: [brackets] Live preview doesn't open a new window of chrome if chrome is already open. (#11057)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-05-06 15:03] redmunds commented on #11057
This feature request would have to be done as a preference, since I think most people prefer to have a new tab opened so there are less windows to manage.

[2015-05-06 15:23] Jackbennett commented on #11057
I agree but there's also a subtle bug in here. Brackets will just try to open new chrome tabs in a window that it can never connect to. The relaunch "chrome button" that it offers after timing out just keeps opening new tabs.

I see in the network console brackets makes a request to 127.0.0.1:9222 before chrome even starts to open. Maybe if brackets sees this return `connection refused` it knows t

[2015-05-06 16:04] busykai commented on #11038
Working Set disappears when empty by design (unless you're in a split view). I thought the issue was that the split button was only partially visible (which is caused by the git extension rendering branch name there).

If I understand correctly, the issue seems to be the *fact* that Working Set disappears.

[2015-05-06 16:41] sprintr commented on #11056
I am going to submit a PR to allow code hints for preferences next week.

@ryanstewart I was thinking about adding a little description of each preference beneath it when it is active.

[2015-05-06 17:05] redmunds commented on #11057
There is some other connection problem going on. Start by reading the [Live Preview section of the How To Use Brackets doc](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#live-preview) and the [Live Preview Isn't Working section of the Brackets Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting) to make sure this isn't a known problem.

[2015-05-06 17:39] chrisjmendoza commented on #11051
FINALLY someone pointed me to the right place. No one ANYWHERE ever said to look in my user application support (I'm not new to PCs, just Macs, so I'm still figuring out the little these like these). I found the folder, deleted it (I can always get my extensions again, not important), reinstalled and voilá! @nethip THANK YOU for helping me to fix this. Case closed now.

[2015-05-06 17:53] redmunds commented on #11051
@chrisjmendoza FYI, in unix (which is used by Mac) `~` means *user folder*.

[2015-05-06 17:55] chrisjmendoza commented on #11051
That'll be handy to know. That also explains a lot of tutorials I've read.
Thank you!
On May 6, 2015 10:53 AM, "Randy Edmunds" <notifications@github.com> wrote:

[2015-05-06 18:19] mfromin commented on #11038
If that is working by design then I guess my only comment would be I find that behavior odd in that a whole "section" of the UI disappears.

[2015-05-06 20:24] akaRem opened #11060 "Ugly cyrillic fonts"
Cyrillic fonts are ugly

[2015-05-06 21:03] ryanstewart commented on #11056
@sprintr yes! The code hints PR would be awesome!

[2015-05-07 06:27] rroshan1 commented on #10988
@nsyrax Were you able to resolve the issue and proceed with using Brackets?

[2015-05-07 07:59] thany commented on #10214
Yep, whether it's a real fix or a workaround, I don't really care that much. It seems to be working okay for now. The scrolling speed *should* really respect the control panel setting, but since (I imagine) many users never touch this setting, the current scrolling speed would be okay-ish for most Windows users.

Thanks so far :)

@hmemcpy I haven't run into your issue yet. Maybe a plugin is causi

[2015-05-07 08:00] hurelu commented on #11010
Facing same issue on Win8.1 since version 1.3. Will post further details in #10988

[2015-05-07 08:25] hurelu commented on #10988
Since the 1.3 upgrade I am experiencing random freeze where the main screen goes white with only the menu and header shown (same as #10988). The  menu interface works (dropdown) but not the menu items. The window can't be closed and requires the task manager to be killed. Further information:
The crash occurs
* after 1-10 minutes of use
* when working on a relatively small JS file (~100 Lines)
* o

[2015-05-07 08:33] weblogixx opened #11061 "Feature-Request: Add correct highlighting for React.js"
Hi there,

it would be nice if brackets could automatically detect jsx-code in .jsx (and possibly .js) files. This would make it easier to develop React-Components in Brackets.

Please look at the attached screenshot to see what I mean.

![brackets](https://cloud.githubusercontent.com/assets/757613/7511317/4330720e-f4a4-11e4-9425-d0aed7ae1595.jpg)

[2015-05-07 09:04] Ksrinivas92 commented on #9592
+1

[2015-05-07 09:27] prafulVaishnav commented on #10988
@hurelu can you please [collect crash logs](https://github.com/adobe/brackets/wiki/Crash-Logs) and share result.

[2015-05-07 09:28] prafulVaishnav commented on #11010
@jamiechoi Is your problem resolved? @hurelu can you please [collect crash logs](https://github.com/adobe/brackets/wiki/Crash-Logs) and share result

[2015-05-07 10:10] rroshan1 commented on #11056
@sprintr :+1:

[2015-05-07 11:08] 2007ay commented on #11058
I got the problem. actually xcopy command is not generating properly in MyBrackets.vscsproj file. and this is well know problem i think so. To fix this problem one fix-msvc.sh file has written.

Since brackets.vscsproj name is hardcoded here so changes is not reflecting in my MyBrackets.vscsproj

Basically In fix-msvc.sh need to change brackets.vcxproj to <appname>.vsxproj .
since this is hard cod

[2015-05-07 11:11] #11058 closed

[2015-05-07 11:25] hurelu commented on #10988
@prafulVaishnav followed the instructions on the link to get the freeze log. I could only locate one Brackets.exe process and just sent you by email a zip of the dmp file.
Hope this helps. Cheers.

[2015-05-07 11:51] krypsin opened #11062 "Entering a new line with multi-line selection causes malformed code"
When I make a multiple line selection (in order to create a new line beneath each of the lines my cursor is on) it doesn't behave as expected.

To replicate this, I just do this:
1. Ctrl+Left click at the end of each line I want to enter a new line under.
2. Press Enter on my keyboard.
3. Lines are now messed up.

Instead it breaks my code and messes up it's formatting.
![Normal Code](http://puu.s

[2015-05-07 12:00] petetnt commented on #11061
Have you tried [brackets-jsx](https://github.com/automenta/brackets-jsx) extension? It should add syntax highlighting for `.jsx` files.

[2015-05-07 12:36] zeakd opened #11063 "There is still miss wording at 'split view' tab in Korean ;)"
separate vertical is "왼쪽/오른쪽으로 분할" that means "left/right"
separate horizontal is "위/아래로 분할" that means "up/down"

there is mismatch. :D

[2015-05-07 12:38] rroshan1 commented on #11063
@zeakd Can you please raise a PR with the fix. Thanks.

[2015-05-07 12:40] rroshan1 commented on #11063
@zeakd Thanks for pointing out.
Will it be possible for you to raise a PR with the fix and add someone for linguistic review. Thanks!

[2015-05-07 14:06] weblogixx commented on #11061
@petetnt: Yes, I already have it installed, together with jsxHint and other plugins. The code folding and syntax highlighting are looking the way you see them in the screenshot.

The highlighting seems to be related to this plugin (it is a current issue there on https://github.com/automenta/brackets-jsx/issues/2). It seems the plugin itself is deprecated.

[2015-05-07 14:33] redmunds commented on #11062
I don't have the same exact markup as your example, but this seems to work correctly for me. Use *Debug > Reload Without Extensions* and then try again to make sure this isn't caused by an extension.

[2015-05-07 14:53] abose commented on #11060
can you provide a screenshot?

[2015-05-07 15:01] abose commented on #11032
RPM distros is not in our current roadmap for brackets. However, it would be awesome if you could contribute to the RPM install scripts for linux :gift: . An introduction for generating our installers could be found at https://github.com/adobe/brackets/wiki/Building-Brackets-Releases. Closing and moving to backlog.

[2015-05-07 15:01] #11032 closed

[2015-05-07 15:05] abose commented on #11040
Does this problem persist after restarting brackets?
Can you try `debug>reload without extensions` and see if the slowdown persists?

[2015-05-07 16:13] willprot opened #11064 "Closing blue "Brackets Health Report" layer"
As stated in #11023 the layer may get covered by other extensions. However it states the obvious cause, but makes no mention of changing this behavior or adding a solution.

To that end it should only open once or be able to be closed by clicking anywhere in anticipation that there may be other extensions installed that may cover the small X at the top. Maybe just adding a close button at the bott

[2015-05-07 16:53] #10871 closed

[2015-05-07 16:57] Karklis commented on #11040
yes, slowdown persists, but became a little faster... but I still having lags scrolling... with sublimetext everything is ok, but brackets still slow...

[2015-05-07 18:52] #10879 closed

[2015-05-07 18:54] abose commented on #11064
@willprot i see that one of your extensions is affected by this behaviour; There would certainly be lots of opinions on what the 'right' approach would be in this case. It would help if you could contribute to brackets by raising a pull request for the desired behavior you would like. Else this might fall into a lesser priority bucket for the core team.

[2015-05-07 19:05] abose commented on #11054
@nethip what is the comment about @Naver posting things? a google search says that naver is a billion$ corporation.

[2015-05-07 19:07] abose commented on #11029
Works in my machine :tm: .
Could you goto 'debug menu>reload without extensions'  and see if the problem persists?

[2015-05-07 19:11] MiguelCastillo commented on #11029
@apricot13 do you the extension File Tree Exclude?

[2015-05-07 19:18] abose commented on #11027
Щелкните правой кнопкой мыши выберет слово под курсором мыши в скобках . Ожидается, что это . Быстрые документы и другие функциональные затем будет направлена ​​на выбранном слове .
Я перевел это на русский с Google Translate . извините , если есть какие-либо ошибки .
закрыть вопрос .

[2015-05-07 19:29] nethip commented on #11054
It is just spam. I wrote to GitHub support about this and they are looking into to. Basically that person has set a rule in his Inbox to send a reply to every notification from Brackets. :wink:

[2015-05-07 19:31] abose commented on #11026
you cannot currently drag and drop files in the file tree. Please upvote this feature in trello at https://trello.com/c/0WJ1aKw2/287-5-drag-drop-within-file-tree-copy-move-file if you want this in brackets. Popular requests usually gets implemented. closing the issue.

[2015-05-07 19:31] #11026 closed

[2015-05-07 19:45] abose commented on #11024
hi @Hiei16 the issue tracking page for brackets is usually reserved for tracking bugs/issues.
you could refer to https://github.com/adobe/brackets/wiki/Themes and https://github.com/adobe/brackets/wiki/Creating-Themes pages to get some introduction on the topics.
If you are looking for help relating to specifics in brackets/other general discussion topics, you could post this topic in brackets dis

[2015-05-07 19:45] #11024 closed

[2015-05-07 19:48] abose commented on #11003
@mesosteros where you able to install brackets 1.3?

[2015-05-07 19:49] akaRem commented on #11060
@abose Sorry, but no. After 15min of using brackets, I've decided to remove it (ugly, slow, partially localized, etc). :-(

About fonts.
The problem was that text in editor pane was looking like this:

[code]

[2015-05-07 19:49] #11018 closed

[2015-05-07 19:50] MarcelGerber commented on #11003
@abose Yes he was, see #11018.

[2015-05-07 19:56] MarcelGerber commented on #11060
@abose See https://github.com/adobe/brackets/issues/3465 for a screenshot and a workaround.
That's the corresponding issue, I guess.

@akaRem Could you give us more informations on the speed issue? How big was your project, which features did you use, where would you like the performance to improve (e.g. startup, scrolling)?
Your feedback would be very valuable and much appreciated!

Unfortunately

[2015-05-07 21:35] akaRem commented on #11060
@abose looked at #3465 — same thing. I'll close this issue.

@MarcelGerber
I didn't work with my project and didn't use any features. I've installed and started this app, horrified about fonts, then I googled for 3-5 minutes on how to fix it, installed extension, which promised to fix this by choosing another font. In readme it was said, that some menu should appear, but it did not (or I didn't fi

[2015-05-07 21:35] #11060 closed

[2015-05-07 21:36] akaRem commented on #11060
here i dont:
![2015-05-08 0 30 25](https://cloud.githubusercontent.com/assets/1472728/7526448/41bc58e0-f51a-11e4-938f-2071961bd5e3.png)
![2015-05-08 0 30 33](https://cloud.githubusercontent.com/assets/1472728/7526451/47e0c030-f51a-11e4-8edb-ccfcb6466fb0.png)
![2015-05-08 0 30 45](https://cloud.githubusercontent.com/assets/1472728/7526456/4ced4756-f51a-11e4-9bee-1b83c8204786.png)
![2015-05-08 0 30

[2015-05-07 21:40] akaRem commented on #11060
@MarcelGerber I dont think that there could be any workaround with fonts.
Default fonts MUST be good for any charset.
And nobody should #$%^&* with make them readable.

[2015-05-07 21:52] MarcelGerber commented on #11060
I'm sorry to hear that.

The image preview (the overall feature is named Quick View) is supposed to work like this, it just displays the image so you can get a quick impression of what it looks like and how big it is (which is very useful when hardcoding the dimensions in CSS/HTML). It's also available for plain colors (hex/rgb/rgba/hsl/hsla), gradients and data URLs, where it might be even more u

[2015-05-07 22:55] mesosteros commented on #11003
@abose yeah. As @MarcelGerber said, check #11018

[2015-05-08 01:12] Damey37 commented on #10465
Hi guys ! It You must install the package "libgcrypt20" and "libgcrypt20-dev" first. Then, recompile the package .deb and changed in the file "control" the dependence "libgcrypt11" to "libgcrypt20". Finally, rebuilt a package .deb of folder "Brackets" . And it work !

[2015-05-08 01:12] Damey37 commented on #10255
Hi guys ! It You must install the package "libgcrypt20" and "libgcrypt20-dev" first. Then, recompile the package .deb and changed in the file "control" the dependence "libgcrypt11" to "libgcrypt20". Finally, rebuilt a package .deb of folder "Brackets" . And it work !

[2015-05-08 04:18] rroshan1 commented on #10871
Fixed with PR #10878 merge.

[2015-05-08 06:23] IDrakon commented on #11027
Клик происходит не по слову под курсором а в пустое место.
-1

[2015-05-08 06:28] IDrakon commented on #11026
+1

[2015-05-08 07:32] abose commented on #11040
Did you try Can you try `debug>reload without extensions`

[2015-05-08 07:35] abose commented on #11054
If this is their valid Github handle, why do a corporation of this size want to spam us :open_mouth:

[2015-05-08 07:47] #11003 closed

[2015-05-08 09:23] juice opened #11065 "Emoji support"
I tried to insert a Emoji into my HTML file and noticed that i cannot use the native Emoji Picker from OS X.

My Workaround, copy/paste the Emoji into the Editor, but by default all you can see is the unpleased square placeholder.

I added the "Apple Color Emoji" Font to the Font-Family and the Square disappeared, but still no Emoji, just invisible Characters.

[2015-05-08 11:13] akaRem commented on #11060
@MarcelGerber

 Quick View - ok, but it could be better (for example, act like preview in OSX) — too small image, unfortunately.

Translation — ok, understood. But I'm not going to use brackets (may be later I'll change my opinion) and spending time on the translation does not make sense. Sorry.

[2015-05-08 11:40] cithukyaw opened #11067 "Wrong automatic code indentation"
I have a `switch/case` statement. The code block under a `case` statement has one nested level like below:

[code]

I wanted to add  curly braces to the `if` statement line. When I typed `{`, the code indentation was automatically moved backwards to the same level of `case` such

[code]

Then, I had to manually fix the indentation to get it right like below:

[code]

To get more clear picture, che

[2015-05-08 12:00] prafulVaishnav commented on #11067
@cithukyaw What file you are working on (like JavaScript or other) If you want to make sure its not caused by any extension, reload Brackets without Extension (Debug > Reload Without Extensions)

[2015-05-08 12:05] dinesh1d commented on #10950
bootstrap.css, bootsrap.theme.css, bootstrap.theme.min.css all these file worked fine on brackets. only bootstrap.min.css is causing problems.

[2015-05-08 12:09] cithukyaw commented on #11067
@prafulVaishnav The file is PHP. I reloaded Brackets without Extension. The problem still persists. So, I believe it is an issue of Brackets core.

[2015-05-08 12:11] krypsin commented on #11062
Should have tried it without extensions first, thanks for that reminder.

...seems to work now.

Now I'll have to sift through which plugins cause this.

Did see this in Devtools, though (no extensions enabled)
![Dev tools](http://puu.sh/hFOdM/72c33524ab.png)

[2015-05-08 12:13] cithukyaw commented on #11067
I believe the problem is not particular to the `switch/case` statement only. I noticed that the same problem occurred with the parent `if` or any other control structures.

[2015-05-08 15:00] MarcelGerber commented on #10921
I'd like to take this, as well as trying to fix the unit test failures you stated. Is that ok?

[2015-05-08 16:06] #10965 closed

[2015-05-08 16:50] njx commented on #10998
Looks like the checklist item for merging a new upstream CM might be missing?

[2015-05-08 21:33] peterflynn commented on #11062
Closing since this is not a core Brackets issue.

@krypsin If you're able to figure out what steps cause that 'foldgutter.js' error though, please file a new bug with steps to reproduce -- we should definitely fix that if we can get a handle on it.

[2015-05-08 21:33] #11062 closed

[2015-05-09 00:36] PhysicsApp opened #11068 "Shortcut "Collapse all" overrides Mac OSX logical (||) on spanish keyboards"
Shortcut "Collapse all" overrides Mac OSX logical (||) on spanish keyboards
I didn't found a way to change this behavior

[2015-05-09 05:35] qazwsx5513 opened #11069 "How do you change from local server back to live preview"
I was using local server for a while and I would like to know how to change back to live preview

[2015-05-09 07:09] MarcelGerber commented on #11067
I can repro in [the CodeMirror php mode](http://codemirror.net/mode/php/), so marking codemirror.
Just to be clear: You've manually indented the if block to that level, correct? Because for me, it's at the same level the `case` is, at first.

[2015-05-09 07:14] cithukyaw commented on #11067
@MarcelGerber

Yes, I manually indented.

[2015-05-09 08:15] futurefeeling opened #11070 "about jshint"
***following is my js code in the js file;***
![js code](https://cloud.githubusercontent.com/assets/9881593/7549402/7045ad28-f665-11e4-983a-026faaf1f645.png)

***and it make a mistake the jshint gave:***
![problem](https://cloud.githubusercontent.com/assets/9881593/7549414/cb4cbe3c-f665-11e4-9491-282f68244e9e.png)

of course,it can run in the browser.

 Is this a issues ? or it had been solved and

[2015-05-09 09:51] MarcelGerber commented on #11067
Upstream bug: codemirror/CodeMirror#3252

[2015-05-09 10:05] nethip commented on #10921
@MarcelGerber Sure go ahead and continue with the tasks. We were half way through the fixes. @prafulVaishnav Could you chime in here with the SASS issues you were facing when try to update CM to latest version.

[2015-05-09 10:07] nethip commented on #10998
@njx We are tracking this at https://github.com/adobe/brackets/issues/10921. We usually have that as part of the template. I am thinking we would have removed this from here as we are tracking this as a separate card.

[2015-05-09 10:10] MarcelGerber commented on #10921
I wonder what fixes you're talking about?
For me, one fix (see #11071) sufficed to make everything work as expected. What other issues were you running into?

Are the SASS issues you mentioned related to the CSS Parsing unit test? I've fixed that issue.

[2015-05-09 10:34] nethip commented on #10921
It could be them but I am not sure as@prafulVaishnav is the one who is actively looking into it.

[2015-05-09 14:04] MarcelGerber opened #11072 "Get npm devDependencies up to date"
We should really try to get our `devDepencies` up to date.
Imo, this release is perfect as it's more or less meant to be a maintenance release from what I've heard.

[![devDependency Status](https://david-dm.org/adobe/brackets/dev-status.svg)](https://david-dm.org/adobe/brackets#info=devDependencies)
https://david-dm.org/adobe/brackets#info=devDependencies

[2015-05-09 14:08] MarcelGerber commented on #11072
Also for brackets-shell:
[![devDependency Status](https://david-dm.org/adobe/brackets-shell/dev-status.svg)](https://david-dm.org/adobe/brackets-shell#info=devDependencies)
https://david-dm.org/adobe/brackets-shell#info=devDependencies

[2015-05-09 14:35] aepedraza opened #11073 "Extension manager window not showing correctly"
Hello, this is my first post in this project. I found a graphical issue in my Brackets's installation. When I open the **Extension Manager Window**, is shown as follows
![2015-05-09-111049_1024x600_scrot](https://cloud.githubusercontent.com/assets/10976526/7550531/1a97cefc-f63c-11e4-9fb2-5c188ad14de0.png)
which is not draggable by default.
I installed the [Draggable modals](https://github.com/dnba

[2015-05-09 15:12] ElegantScripting opened #11074 "Code-folding misplaced"
If you hide your line numbers, and then show them again, the code-folding is misplaced.

Also, is there any way to disable code-folding?

[2015-05-09 15:14] ldez commented on #11070
Not an issue.
Use JSLint configuration file `.jslintrc` or use comment jshint command to define your lint rules.

See JSLint documentation: http://jshint.com/docs/

[2015-05-09 15:18] ldez commented on #11070
Sorry I give link to JS**H**int Doc not JS**L**int see here: http://www.jslint.com/help.html

[2015-05-09 15:20] ldez commented on #11070
In your case add this at the top of the file: ` /*global $,console */`

[2015-05-09 15:20] ldez commented on #11070
Please close this issue.

[2015-05-09 15:40] MarcelGerber opened #11075 "CSS Inline Editor not fully shown when window is small"
1. Open `test/smokes/citrus completed` as a project
2. Resize Brackets to a small horizontal size (mine is half-screen)
3. Open `index.html`
4. In line 17, put your cursor where the `|` is: `<a| href="#">`
5. Press `Cmd/Ctrl-E`
6. Scroll down to see the bottom of the Inline Editor

Result:
The Inline Editor apparently doesn't take into account that a line-wrapped line can take up more than one edi

[2015-05-09 15:54] MarcelGerber opened #11076 "MultiBrowser Live Preview unloads @import-ed stylesheets upon editing"
1. Open `test/smokes/citrus completed` as a project
2. Open `index.html`
3. Start Multi Browser Live Preview
4. Put your cursor in the `<body>` tag
5. Press `Cmd/Ctrl-E`
6. Change `background-color: #66B034;` to `background-color: #D90;` (_that's step 39 of the [Smoke Tests](https://github.com/adobe/brackets/wiki/Brackets-Smoke-Tests)_)

Result:
The stylesheet is no longer applied to the website.

[2015-05-09 15:54] MarcelGerber commented on #11076
cc @sebaslv @busykai

[2015-05-09 16:50] MarcelGerber commented on #11075
`git bisect` points to 54c98fb9ec07e794cd9e7f6beb1d3586e2919c5d

[2015-05-09 17:23] MarcelGerber commented on #11075
@peterflynn Removing [this line](https://github.com/adobe/brackets/commit/54c98fb9ec07e794cd9e7f6beb1d3586e2919c5d#diff-4e57e09c441fe2f6a61b901f4d215db5L360) caused this issue.
Any idea what it did or how could replicate it (we could of course just re-introduce it, but I'd like to know how it works anyway)?

[2015-05-09 17:34] le717 opened #11078 "Default `closeBrackets` preference to true"
Every now and then we get bug reports about quotes, parentheses, and the like not auto-closing. This is because the [`closeBrackets`](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#list-of-supported-preferences) preference is defaulted to `false`. I would actually expect this to be on by default, as it is rather expected behavior by any modern IDE/code editor. Since preference work is

[2015-05-09 22:42] Rodsevich commented on #11029
I had the same "problem", and it was an extension hiding it

[2015-05-09 23:24] njx commented on #10998
Ah ok - this issue was referenced from adobe/CodeMirror2#91 as the issue where we were tracking the update. Looks like that PR has already been handled anyway.

[2015-05-10 00:26] redmunds commented on #11069
Use *File > Project Settings*, then delete the value for Live Preview Base URL, and click Done.

[2015-05-10 00:26] #11069 closed

[2015-05-10 00:53] futurizing opened #11079 "Find and Replace tick marks not positioned correctly when using with scrollPastEnd"
When enabling `"scrollPastEnd": true` in preferences file, Find and Replace tick marks (the yellow ticks on the right scroll bar that show occurrence positions) are not positioned correctly. It is positioned as the same as when the `"scrollPastEnd": false`, which makes it harder to find the text occurrences.

How to reproduce:
- Turn on `"scrollPastEnd": true` in preferences file.
- Use the *Find*

[2015-05-10 02:57] Pomax opened #11080 "The dependency chain is too deep for windows"
If I include brackets as a git submodule in my own project, its `node_modules` dependency chain is so incredibly deep it breaks windows' path length restrictions while cloning --recursive. Would it be possible to optimize this so that it's not node_modules in node_modules in node_modules in node_modules, but npm deduped all to the same depth?

[2015-05-10 09:40] abose commented on #11070
Closing the issue.
This is an expected behavior. As pointed out by @ldez ,Adding `/*global $,console */` to the beginning of the file would solve your case.

[2015-05-10 09:40] #11070 closed

[2015-05-10 16:20] itsakt commented on #10255
I just downloaded Brackets 1.3 and had same issue in Debian 8. I went here http://ftp.acc.umu.se/mirror/cdimage/snapshot/Debian/pool/main/libg/libgcrypt11/
and installed libgcrypt11 for my system and now Brackets installed successfully

[2015-05-10 18:56] redmunds commented on #11078
IIRC, `closeBrackets` was not enabled by default because "type through" was not supported well enough.

[2015-05-11 03:48] Karklis commented on #11040
yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes, yes,

[2015-05-11 05:18] YaoLinHsieh opened #11082 "Can't load the resource : http://s3.amazonaws.com/files.brackets.io/updates/stable/zh.json?_=1431317777528"

[2015-05-11 06:12] nethip commented on #11082
@YaoLinHsieh What were you trying to access? We do not support any updates for zh locale?

[2015-05-11 08:00] futurefeeling commented on #11070
sorry,having some trivial thing  these day,and thanks for your help

[2015-05-11 08:55] rroshan1 commented on #11063
@zeakd Basically, the **Vertical split** option causes the main editor to be split vertically into 2- left and right editors; while **Horizontal Split** does the same into top and bottom. Hence, the Korean string "left/right split" is used for vertical split and "top/bottom split" for horizontal split.
Hope that resolves your confusion.

[2015-05-11 09:00] rroshan1 commented on #11063
You can verify that the "left/right split" and "top/down split" options split the main editor as per the name.

[2015-05-11 09:00] #11063 closed

[2015-05-11 10:09] abose commented on #11040
:sweat_smile:  I can't see the slowness in my machine.
What is the project size you opened? If you open the file from the Default 'Getting Started` project, and open the .htaccess file, is it slow?
Could you see any messages in the developer console?
Also What is the ram/processor utilization you are seeing in the task manager.

[2015-05-11 10:10] abose commented on #11070
No issues, please keep logging issues that you see is relevant :smile:

[2015-05-11 11:37] YaoLinHsieh commented on #11082
I did not try anything... I just use it as usual.
I extended the code folding, beautify, and change the theme to the dark version, and switch the language to the traditional Chinese after setup brackets.
I have not changed other setting or other things.

[2015-05-11 12:20] abose commented on #11074
This is a known issue that we are working on #10864  .
You can disable code-folding by debug menu > opening the preferences file and adding `    "code-folding.enabled": true ` to the preferences json.

closing as duplicate.

[2015-05-11 12:20] #11074 closed

[2015-05-11 12:24] abose commented on #11078
What is `type through` ?

[2015-05-11 12:25] nethip commented on #11082
@YaoLinHsieh Oh you mean you saw this error in the console? I tried your repro steps(change language and invoke *Check For Updates*) but I don't see any issue in the console. Can you repro this issue?

[2015-05-11 12:44] thany opened #11083 "Scrolling sometimes reverts to being too fast"
The scrolling-too-fast-bug seems to have been resolved... To a certain point. I can't put my finger on it, but at some point it reverts to scrolling too fast again. It almost looks like there's some kind of built-in scrolling acceleration going on (like how OSX very annoyingly has, but to a lesser degree).

But right now, as I write this, the file tree is scrolling 18 lines per tick. That is still

[2015-05-11 12:48] abose commented on #2872
Closing this as no one has reported this issue in a long time.

[2015-05-11 12:48] #2872 closed

[2015-05-11 12:52] dsalenz opened #11084 "wrong closing behavior (OSX)"
Clicking on the "X" on the top left, closes the app completly on OSX. This is no normal OSX behavior.

[2015-05-11 12:55] SeaofThought opened #11085 "Please add option to disabe font-smoothing"
I can't find a way to disable font-smoothing in Brackets. I'm using Windows 7 with anti-aliasing disabled and it works great with Sublime, Eclipse, etc, where I use Courier New or some similar font. I have 100% vision and a 92dpi monitor, so my experience with smooth (blurred) fonts is exactly as described here:

"There are those who get visual fatigue, headache and sore eyes from reading blurred

[2015-05-11 13:15] abose commented on #10996
Brackets do not currently support multiple users editing the same file- in this case, brackets will always reload the file from disk if it finds any changes. This is an expected behavior for now.
But multi-user cursors and workflows can be implemented as an extension.
Closing as extension idea.

[2015-05-11 13:15] #10996 closed

[2015-05-11 13:30] abose commented on #10966
Please upvote this feature in https://trello.com/c/o5nf9nHc  and https://trello.com/c/61ChEQmJ

If you are planning to port this as a chrome app alone[as against a generic browser web app], you could start by mapping the native shell API's to chrome API's.

You could also start discussions in the brackets community forum at https://groups.google.com/forum/#!forum/brackets-dev So that interested co

[2015-05-11 13:30] #10966 closed

[2015-05-11 13:32] nethip commented on #11085
@SeaofThought  Possibly related https://github.com/adobe/brackets/issues/10398. Could you try launching brackets from command line by passing `--disable-direct-write` as an argument. Please launch `Brackets` from terminal by typing in the following.

`Brackets.exe --disable-direct-write`

[2015-05-11 13:35] humphd commented on #10966
FYI: you can play with our browser fork here as we add things:
* https://mozillathimblelivepreview.net/bramble/dist/index.html?ui=1 (with full UI)
* https://mozillathimblelivepreview.net/bramble/dist/ (with a bunch of UI turned off for our use case)
* https://bramble.mofostaging.net (our staging server that integrates this into Thimble, and uses the static site above in an iframe)

[2015-05-11 13:36] SeaofThought commented on #11085
Many many thanks!! That worked great!!! :) (super-smile)

[2015-05-11 13:36] #11085 closed

[2015-05-11 14:33] daaru00 opened #11086 "Open file with not work on linux"
open file with brackets not work on Linux.
My version is: _Linux 3.13.0-37-generic x86_64 - Linux Mint Cinnamon edition_

[2015-05-11 14:50] redmunds commented on #11078
Here's an example:
1. Turn on *Edit > Auto Close Braces* and open a .js file
2. Type `alert("x`
3. Notice that the closing paren and double-quote were inserted so text is `alert("x")`
4. Now type `")`

Result
Resulting text is `alert("x")`. Brackets recognized that it had automatically inserted `")` so it did not insert those chars again when you typed them. That's "type through". This is helpful

[2015-05-11 15:42] thany commented on #11080
That's actually a bug in npm, since Windows' maximum path length is actually 32767 (minus a few) characters. It's unlikely that anything will ever get that far.

[2015-05-11 15:44] thany commented on #11065
Since Brackets is built on top of webkit, it's very likely to be suffering from the web's general inability to process unicode properly.
See: [javascript has a unicode problem](https://mathiasbynens.be/notes/javascript-unicode) ;)

[2015-05-11 15:48] thany commented on #11054
I think one solution to this problem might be that Alt+number hotkeys should only work with the regular row of number keys, not with the numpad. This is because, as demonstrated, Alt+numpadX has special meaning in Windows.

[2015-05-11 15:55] thany commented on #11061
So it's kind of understandable, don't you think? The JS you're showing is all kinds of wrong. The fact that React parses it fine, doesn't make it valid JS. To me it's complately normal that Brackets has no idea how to deal with it. In fact, it's doing a pretty good job as it is.

The feature request is not to match the correct bracket, it's to support JSX files in terms of highlighting and such.

[2015-05-11 16:09] juice commented on #11065
It is possible in Atom. It is not perfect, but you can see the Emoji with a following Square.

[2015-05-11 16:12] thany commented on #11083
Update: yeah it literally happens out of the blue. I don't need to do anything in order the scrolling speed to mess up again. It can happen literally anytime. It's like a ticking timebomb without display.

I'm very curious to know why this is happening. My programming skills from way back tell me that this shouldn't be too hard, but then again, brackets depends on a fairly great number of 3rd part

[2015-05-11 16:14] thany commented on #11065
Which proves why the web in general is so crappy with unicode characters above the 0xFFFF fold.

[2015-05-11 16:44] Pomax commented on #11080
you clearly never looked at the previous Lodash requirement chain. It is incredible =)

That said, there are definitely things that can be done to fix it (dependency consolidation at higher levels, checking which dependencies at the major offenders, at which depth, and getting those projects to use `optionalDependencies` so that the deps only get installed "if not already found in a higher level",

[2015-05-11 17:10] sedge opened #11087 "CodeHinter gets confused completing a pre-populated attribute"
To my understanding, the hinter should completely replace the contents of the `""` when doing a hint replacement. It's somewhat unreliable at the moment:

![autocompleteerror](https://cloud.githubusercontent.com/assets/1616860/7570520/d199659a-f7de-11e4-8512-9a6f0470f061.gif)

[2015-05-11 17:16] sedge opened #11088 "CodeHinter: `background-image` property only shows CSS `url()` hints when quotes are included"
To my understanding, the background-image property in a CSS file should show code hints for the url function without quotes, since they aren't required:

![urlerror](https://cloud.githubusercontent.com/assets/1616860/7570662/d7e17234-f7df-11e4-8d69-1a92899bc994.gif)

[2015-05-11 17:17] wgrs opened #11089 "Text selection issues"
I am having major issues with brackets in spite of having disabled most of the plug ins.

1. Extremely slow when selecting text. Selection becomes unresponsive.
2. Selecting text causing text to be mangled.
3. When disabling plugins, reloading brackets hangs.

[2015-05-11 17:23] dalekprime commented on #11046
I'm seeing this as well.  Freezing up to 30 seconds.  But not just js files.  HTML as well.  I hadn't seen this prior to 1.3.  Happens on both my Mac and Windows 8.1 machine.  It doesn't always consistently happen.  Haven't been able to identify exactly what types of files are causing this issue.
My cpu will be 100% during the file switching, and on windows I think the task that was taking 100% wa

[2015-05-11 17:45] wgrs opened #11090 "Undo not working"
Running undo command not working. Issue seems to be linked to the beautify on save command.

[2015-05-11 18:01] redmunds commented on #11089
To help isolate a problem, it's not enough to disable *most* of the plug ins -- you have to disable them *all*. If a problem is caused by a plugin, then enable/disable plug ins to isolate which one is causing the problem.

[2015-05-11 18:08] redmunds commented on #11088
Yes, that seems to be a recently injected bug.

As a workaround, hit Enter after typing `url` and *before* typing `(`.

[2015-05-11 18:11] humphd commented on #11088
@sedge, would you mind `git bisect`ing this and see if you can find a regression range?

On May 11, 2015 2:08 PM, Randy Edmunds <notifications@github.com> wrote:

Yes, that seems to be a recently injected bug.

As a workaround, hit Enter after typing url and before typing (.

—
Reply to this email directly or view it on GitHub<https://github.com/adobe/brackets/issues/11088#issuecomment-101001857>.

[2015-05-11 18:15] redmunds commented on #11088
Just to be clear, I don't work on brackets every day, so "recently" for me may mean a few releases. Also, you need to build Brackets locally to use `git bisect`.

[2015-05-11 18:25] busykai commented on #11090
Beautify is not part of the Brackets core. Beautification is not done as a sequence of editing commands, it's ran though an external process and then the entire content of the editor is [replaced](https://github.com/drewhamlett/brackets-beautify/blob/master/main.js#L169). Whenever that happens, the undo/redo stack is emptied (which means the editor thinks nothing has been edited). Please file this

[2015-05-11 18:25] #11090 closed

[2015-05-11 20:07] PabloK commented on #11046
I have win 8 aswell. My problems are exactly the same. 100% Cpu load and about 30s of freezing. Json files have the same problem as js and html. Do you have javascript in your html templates? Thinking it might be somthing with the highlightibg engine.

[2015-05-12 02:25] YaoLinHsieh commented on #11082
Yes, I just saw that in the console.
well...I do not know...I could not compile jquery file(.js) with autoCompleted / Hint when I saw this error 403 in the console.

[2015-05-12 05:49] CHALLENGER22 commented on #10950
yes i too face this same problem with bootstrap min css. when i open BS min css to view/edit Brackets showing the file but after some scroll it hangs & then i have to end the process to close Bracket.

My pc configuration
Window 7 64bit
Intel 950 i7 processor
6gb ram
MSI 460gtx x 2 in SLI

Bracket is a very good editor but please try to solve this problem & make Bracket handle vary large coding fi

[2015-05-12 06:02] nethip commented on #11085
:smile: Glad it worked.

[2015-05-12 06:02] petetnt commented on #11089
FWIW I have randomly noticed this behavior recently when trying to select very long pieces of HTML code (more specifically inline-SVG:s that can span hundreds to thousands lines). I tried to repro it for an issue a week ago but haven't been able to repro it repeatedly.

[2015-05-12 06:12] petetnt opened #11091 "Code folds uncollapse when selecting over the ... marker (on nested collapses)"
Steps to repro:

Write some HTML
[code]

Fold the inner `<p>`

![image](https://cloud.githubusercontent.com/assets/7641760/7581030/b62c04ea-f886-11e4-8858-c478a1e0d371.png)

Start selecting text from the beginning or end of line 4 (the collapsed one). The fold uncollapses when mouse hovers over `...`

(Brackets 1.3, Win 8.1)

[2015-05-12 06:27] sarangbaheti opened #11092 "can't install brackets on ubuntu 15.04"
Downloaded Brackets Brackets.Release.1.3.64-bit.deb today and not able to install because dependency on libgcrypt11(>= 1.4.5).

![brackets-installation-error](https://cloud.githubusercontent.com/assets/1380950/7581233/3f2f3778-f835-11e4-9891-2578319f68c1.png)

Any help in this matter is appreciated.
Thanks

[2015-05-12 06:28] rroshan1 opened #11093 "[Performance] Find In Files Optimization"
- [x] Measure the performance of "Find In Files".
- [x] Compare the same with other Brackets-like editors.
- [x] Analyzing the scope for improvements in "Find In Files".
- [ ] Implement the optimizations.
- [ ] Measure the improvements.

*Method used to measure the performance*:-

We have run multiple FindInFiles searches and used iPhone 5S to capture the slo-mo (slow-motion) videos with 120 fps.

[2015-05-12 06:29] nethip commented on #11092
@sarangbaheti Could you take a look at this thread https://github.com/adobe/brackets/issues/10255 and try the steps mentioned there.

[2015-05-12 06:43] weblogixx commented on #11061
@thany: Yes I do understand fully. The problem is that React encourages users to use the .js instead of the older .jsx ending (a thing that seems kind of stupid to me because of all the problem this causes as seen here). As React gains more attention, more projects will be written with it (and files with the .js extension).

[2015-05-12 06:51] zaggino commented on #11061
I agree with @weblogixx, we should be able to support [JSX](https://jsx.github.io/) syntax in `.js` files.

[2015-05-12 07:00] petetnt commented on #11061
CodeMirror doesn't have a React/JS [language mode](https://codemirror.net/mode/) yet either, and I haven't seen attempts at one other than the deprecated code that the `brackets-jsx` plugin is based on too. See https://github.com/codemirror/CodeMirror/issues/3122 for (one) comment from march

[2015-05-12 07:48] nethip commented on #11091
@petetnt I just followed the steps that you mentioned above and I am not able to repro this. Are any other steps involved here to repro the issue?

[2015-05-12 07:58] petetnt commented on #11091
@nethip nope, that is all. Here's a (low quality) gif:
![giffo](https://cloud.githubusercontent.com/assets/7641760/7582401/d9b0de2c-f895-11e4-90cc-873bd2230b8a.gif)

[2015-05-12 08:02] nethip commented on #11091
@petetnt Yes I am repro this now. But it is quite strange that I followed the exact steps in the before run and I was not able to repro it.

[2015-05-12 08:32] petetnt commented on #11091
It seems to be a CodeMirror issue as it works on the CodeMirror's [code folding demo too](https://codemirror.net/demo/folding.html), crossref codemirror/CodeMirror#3255

[2015-05-12 08:55] petetnt commented on #11091
Okay, it's not a bug, it's a feature that can be controlled by `clearOnEnter` option to `markText` as confirmed on the Code Mirror issue. Preference idea then? :dancers:

[2015-05-12 08:56] #11091 closed

[2015-05-12 09:07] thany commented on #11083
Update 2: the scrolling may speed up even moments after reloading Brackets, and literally only just scrolling. So I reload, scroll some, and boom.

[2015-05-12 09:11] nethip opened #11094 "[Performance] Switching between / opening files"
* Determine the time it takes to switch between files and also open files
* Table out the comparative data
* Analyze the code for figuring out the areas where the performance needs to be improved.

[2015-05-12 10:00] enalposi commented on #10166
Hi, sorry for the noise, but same problem exists for "text/x-kendo-template". Could we please have a more generic solution?

[2015-05-12 12:21] thany opened #11095 "Ctrl+Shift+arrow doesn't move a line"
It's always worked like this:

`Ctrl+Shift+up`: Move current line/selection up
`Ctrl+Shift+down`: Move current line/selection down

Somehow, Brackets recently started to act differently:

`Ctrl+Shift+up`: Select from current position up to the beginning of the document
`Ctrl+Shift+down`: Select from current position down to the end of the document

This is weird, since I've used this feature a LOT

[2015-05-12 12:31] thany commented on #11095
Update: might be [this one](https://github.com/thehogfather/brackets-code-folding/issues/136) actually.

[2015-05-12 13:33] hurelu commented on #10988
@prafulVaishnav was the freeze log of any use? Any insights on what is happening?

[2015-05-12 15:03] nanchez opened #11096 "Closing health data window leaves link reference "floating""
Hi.

I just open Brackets, closed the heath data window information, open two files in split vertical view and I found the link of Health Data is still working, but invisible.  I'm attaching an image where you can view this behavior.

![screenshot1](https://cloud.githubusercontent.com/assets/6824505/7590405/fc7cbca8-f88d-11e4-9e9f-1567eb76e902.png)

At the right you can find the link (I put my mou

[2015-05-12 15:08] smiclea commented on #7387
I get "The extension package is invalid: The uploaded content is not a valid zip file." when I try to upload my extension. The upload works if I delete node_modules folder, but my extension requires it.

[2015-05-12 15:49] nanchez commented on #11096
By the way, it happens on Ubuntu 14.04 LTS running on VMware.

[2015-05-12 15:59] nanchez commented on #11096
I closed the application (Brackets) and opened it again and now the Health Data window doesn't show, neither the "invisible link".

[2015-05-12 16:51] MarcelGerber commented on #11051
Closing.

[2015-05-12 16:51] #11051 closed

[2015-05-12 17:14] MarcelGerber commented on #11073
I _think_ that's an issue with the Extract extension you have installed.
Please also try downloading the latest release - Release 1.3 - to see if it already got fixed (I honestly don't know right now).

[2015-05-12 17:23] MarcelGerber commented on #11082
That's an expected error we cannot suppress (I think?). It can be seen for pretty much all locales.
Closing.

[2015-05-12 17:23] #11082 closed

[2015-05-12 17:24] ryanstewart commented on #11073
@MarcelGerber @aepedraza I just added a version of Extract to the registry that *should* fix this. You should see it as an update in your extension registry. Can you try installing that and letting me know?

[2015-05-12 17:27] MarcelGerber commented on #11083
You can see what we did to fix this bug here: https://github.com/adobe/brackets/pull/10930
It's a hack, I know, but it at least works.

What extensions do you have installed? Maybe one of them calls `body.removeEventListener`?
(If you give me a list of the extensions you have installed, I could look that up)

[2015-05-12 18:45] miqmago commented on #11068
+1 Very important.

Workaround: `Debug > Open User Key Map`

[code]

[2015-05-12 20:33] ryanstewart commented on #11065
Just tested this in [Brackets-Electron](https://github.com/zaggino/brackets-electron) and it seems to work great! Brackets-Electron is a version of Brackets that the community and committers have been testing out that's based on the [Atom/Electron shell](https://github.com/atom/electron). It's looking really promising so we may move Brackets over to that instead of keeping our own, CEF-based brack

[2015-05-12 21:03] ingorichter commented on #7387
@smiclea how did you create the zip? Can I download it somewhere? Thanks.

[2015-05-12 21:18] albertinad commented on #7387
Hi @ingorichter , after a lot of failure intents uploading brackets-bower extension to the registry, I was able to reproduce the same error in my local environment. Below the steps I follow:
1) set up my local brackets registry
2) upload my package
    2.1) everything was right
3) clean up to start again
4) download 70 random extensions from the public brackets registry
5) start the local brackets

[2015-05-12 22:11] zaggino commented on #7387
Good job @albertinad :+1:

[2015-05-13 01:13] OttoRobba opened #11097 "Can't toggle comments in Lua"
This is a pesky bug.

1. Open any .lua file
2. Type anything (can be a simple local a = 10)
3. Try to comment it out using the Ctrl+/ shortcut
4. Nothing happens

Tested under OS X Yosemite, Ubuntu 14.10 and Arch Linux (latest), on three different machines.

[2015-05-13 01:46] sbruchmann commented on #11097
Here’s the stack trace:

[code]

[2015-05-13 01:56] sarangbaheti commented on #11092
Thanks @nethip, dowloaded libgcrypt11 ( libgcrypt11-dbg_1.4.5-2_amd64.deb) from http://ftp.acc.umu.se/mirror/cdimage/snapshot/Debian/pool/main/libg/libgcrypt11/ and now i am able to launch and work with brackets

[2015-05-13 01:56] #11092 closed

[2015-05-13 01:57] sarangbaheti commented on #10255
thanks @itsakt for the location for libgcrypt11, installed 1.4.5 version and got things rolling..

[2015-05-13 02:46] zeakd commented on #11063
I checked. thanks!

[2015-05-13 02:46] darkcyber opened #11098 "Install extension failed on ubuntu 14.04"
Just download last Brackets Release 1.3 experimental build 1.3.0-16022 (release cd0a6aae5) and do fresh install.

Try to install ftp-sync extension and get this

Installation failed
Unknown internal error

what i see in developer tools console is

Unknown installation error Object {errno: 3, code: "EACCES", path: "/home/darkcyber/.config/Brackets/extensions/user/ftp-sync"} /extensibility/Package.j

[2015-05-13 05:59] ingorichter commented on #7387
Great job @albertinad. I suspected that decompress-zip might be the issue. I did some investigation some time ago but never finished the work (https://github.com/adobe/brackets/issues/7387). Sometimes the error disappeared after restarting the registry (I have not really an idea why).

[2015-05-13 06:13] #10921 closed

[2015-05-13 07:03] tatof opened #11099 "CSS close curly braces - row problem"
Hello,

I really like Brackets only have one problem I can't find a solution to.

When I type css it always starts at the beginning row. (no problem there)
so I tab to the position I want the class to be.
Then I open and close the "curly braces" and the hole row go's to the beginning! So I have to Tab the row again.

Can't find out how to change this.
Here is a gif with the problem:
http://jxerot.

[2015-05-13 07:21] DiamondeX opened #11100 "Folding of variable definisions"
Sometimes variable definitions could consume quite a lot of lines. Could you add folding of such blocks?

[2015-05-13 07:45] nethip commented on #11099
@tatof Have you tried installing the [beautify] (https://github.com/drewhamlett/brackets-beautify) extension?

[2015-05-13 07:53] tatof commented on #11099
I installed "preferences setup UI" and enabled the "automaticly close Brackets".
And now it doesn't go back to the begin row!

Only I think this sould be fixed in Brackets.. don't think there are people who want to work this way.

Will tryout beautify

[2015-05-13 07:58] vlad00777 opened #11102 "Live preview error ({0})"
Hi. A have problem with livepreview. I try run brackets without plugins, but this problem remains.
I work with prepros for compile scss. Yesterday it is work beaterful, but today crash all times.

[2015-05-13 08:13] thany commented on #11065
Isn't Electron essentially CEF as well? Not "CEF the project on google code", but "CEF, as in any embedded version of Chromium". What I'm saying is, both are Chromium, so both rely on the same (sometimes broken-by-design) base.

[2015-05-13 08:17] smiclea commented on #7387
@ingorichter You can download it here: https://drive.google.com/file/d/0BxNY66eFHRb5YXI5UmlteVo2N0U/view?usp=sharing

[2015-05-13 08:18] smiclea commented on #7387
So it still doesn't work for me

[2015-05-13 08:19] thany commented on #11083
For the moment, I've got these installed:
[code]

[2015-05-13 08:58] abose commented on #11100
Can you give more context on the problem?
How large of a file are you using?
 what kind of slowdown are you observing?

nb: You could already fold all the blocks in a project using the shortcut `alt+1`

[2015-05-13 09:00] abose commented on #11098
Is this only this extension you are having difficulty to install?
can you try installing any other extension and see if the error persists?

[2015-05-13 09:48] AlifArnado commented on #10266
I have this problem also...
help me please

[2015-05-13 10:00] nethip commented on #11099
@tatof We are prioritizing the issues with indentation in Brackets. Just that we want to understand if the above extension solves the aforementioned issues and unblocks your workflow.

[2015-05-13 10:15] nethip commented on #10266
@AlifArnado Did you try steps mentioned by @aroberge ?

[2015-05-13 10:40] tatof commented on #11099
No beautify doesn't solve the problem.

[2015-05-13 10:48] Azraeleas opened #11103 "Brackets [ ] css not loading in live view at all"
I have a html project that I am working on using adobe brackets. When i try to use live veiw, the html code loads fine but any CSS I type does not register. Brackets itself recognises the codes and tags i am typing in for CSS but they do not load along with my html code...
![screen shot 2015-05-13 at 12 47 45 pm](https://cloud.githubusercontent.com/assets/12425837/7608924/4fefdea2-f96e-11e4-9b98-8

[2015-05-13 11:13] MarcelGerber commented on #11065
@thany It is, but [Chrome just recently improved its Emoji handling quite a lot](http://thenextweb.com/google/2015/01/11/emoji-support-finally-coming-google-chrome-os-x/) (Chrome 41 if I see that right).
Brackets uses Chrome 39 on Windows and OS X, while Electron is up to date with Chrome 42.

Probably the biggest difference between Electron and CEF is that Electron combines io.js and Chromium to

[2015-05-13 11:19] abose commented on #11096
This could be focus issue; i have seen similar issues in google chrome browser.
When you switch out to another application and come back to brackets does the tooltip disappear?

[2015-05-13 11:21] thany commented on #11065
There's always gonna be a platform-specific wrapper. In Electron's case, that's io.js, which is almost identical to Node.js. The only advantage I see is that Electron uses a "regular" Chromium, where CEF appears to be some hacked-away crap version of Chromium (which is why CEF introduces bugs that are weird, not appearing in Chrome, and platform-specific).

If moving to Electron works, great! But

[2015-05-13 11:23] abose commented on #11103
Try toggling `file menu -> Enable Experimental Live Preview` and see if the problem persists.

[2015-05-13 11:24] abose commented on #11102
Does brackets app itself crash?
Which OS and version of brackets are you on?

[2015-05-13 11:28] nethip opened #11104 "[Performance] Typing performance"
- [ ] Measure the performance of typing comparing this to other apps in the market
- [ ] Analyze any code bottlenecks that is bringing the typing speed down.
- [ ] Fix the identified issues.

Method used perform the testing.

We used iPhone 5S to capture the slo-mo video. Once captured, we then loaded the videos into Premier-Pro and started calculating the time difference between when the key got

[2015-05-13 11:29] MarcelGerber commented on #11065
@thany The big advantage we have with Electron is that we don't need to maintain a native shell (we currently have [brackets-shell](https://github.com/adobe/brackets-shell) for that).
In brackets-shell, updating CEF is a big churn and major undertaking, while in Electron a new Chrome version just "slips in" and is ready to use.

[2015-05-13 11:30] nethip opened #11105 "[Performance] Scrolling performance"
- [ ] Measure the performance of scrolling comparing this to other apps in the market
- [ ] Analyze any code bottlenecks that is bringing the scrolling speed down.
- [ ] Fix the identified issues.

Method used perform the testing.

We used iPhone 5S to capture the slo-mo video. Once captured, we then loaded the videos into Premier-Pro and started calculating the time difference between when scroll

[2015-05-13 11:34] Azraeleas commented on #11103
Unfortunately this is still not fixing it... 😕

Yours sincerely
Graeme Ford

[2015-05-13 11:40] abose commented on #11103
Could you share the code with us if you don't mind? :smile:

[2015-05-13 12:10] MarcelGerber commented on #11083
If it happens again, could you follow these steps:
1. Open the developer tools (`Debug > Show Developer Tools` or F12)
2. Make sure you're in the Elements view (first tab)
3. Click the `<body>` tag
4. On the right, switch over to the `Event Listeners` tab
5. Expand the `wheel` section (if there is one), which should look like this:
![image](https://cloud.githubusercontent.com/assets/2641501/761002

[2015-05-13 12:59] abose opened #11106 "[Performance] startup time"
Comparing the startup time of brackets to other editors.

[2015-05-13 14:21] humphd commented on #11103
If you're using the HTML page in your screenshot, note that you need to add a `<link rel="stylesheet" href="Test.css">` to your `<head>` element, otherwise the browser won't know about the sheet.

[2015-05-13 14:23] AlifArnado commented on #10266
@nethip I tried on a 64 -bit Linux OS elementary ,, what steps it enables successful I have tried it and the results are not there ,, please help

[2015-05-13 14:32] busykai opened #11108 "Live Preview: shutdown server once Live Previewing is over."
The server is not being shutdown after Live Preview is over. This is true both for CDT-based preview and the multi-browser version.

To reproduce:
1. Open Live Preview.
2. From the browser that has opened, copy the URL.
3. Close Live Preview (either close the browser or from within the editor).
4. Open a browser, paste the URL and press enter.

Result: the recently previewed page opens (not instru

[2015-05-13 14:54] vlad00777 commented on #11102
http://joxi.ru/DmB7eKRuyNyz2P
Windows 7 x64

sprint 3 build 1.3.0-16022 (release cd0a6aae5)
build timestamp: Wed Apr 29 2015 11:07:50 GMT+0100

[2015-05-13 15:16] thany commented on #11083
After the scrolling speed has increased again, the handler is exactly as in your screenshot. Down to the line number even. It's also the only handler for `wheel`.

In the mean time, I've also figured out how to cause this issue, and how to make it go away: simply scroll a LOT. I mean vigorously. I have a Logitech M500 mouse with "tickless scrolling mode", where the scrollwheel becomes a flywheel.

[2015-05-13 15:28] thany commented on #11083
Another update.

I've put a console.log at the point where a scroll event should get canceled. As long as the scroll speed is broken, every other scroll event *does* get canceled properly. The different between "good" and "bad" scrolling speed is, repsectively, the wheelDelta being either +/-120 or +/-480.

That tells me there's something else, hidden more deeply within CEF (or something else) tha