[2016-09-09 17:17] timothylrobb commented on #11213
I'm experiencing the same problem on Windows 10.  To get around it, I will sometimes disable lint on save and then re-enabled it.  But when I switch to a different file, it breaks again and has to be disabled and re-enabled again.  It works fine on a Windows 7 PC at my workplace, though.

[2016-09-09 17:37] daytonallen commented on #12765
Submitted a PR.

[2016-09-09 17:56] ficristo opened #12768 "Do not recompute the styles for every test window"
### Prerequisites

* [x] Can you reproduce the problem with `Debug \ Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wik

[2016-09-09 18:34] efares opened #12769 "Feature Request: Back-tick notation for multi-line strings."
### Description

It would be nice to use the back-tick notation for multi-line strings in TypeScript.
### Steps to Reproduce
1. Open a TypeScript file in Brackets
2. Use back-tick "`" (not single quote) and write a string
3. Enter new line and continue writing the string

**Expected behavior:** [What you expected to happen]
- This is Visual Studio Code
  ![screen shot 2016-09-09 at 2 33 23 pm](htt

[2016-09-09 18:53] ficristo commented on #12769
Next time could you follow the indications you see when you open a new issue?
I usually use only the master branch and I don't see any particular issue.
Could you add a screenshot of Brackets, which version it is, share the snippet of code you use and which language it is? (It seems a snippet of angularjs 2 to me).

[2016-09-09 19:39] MarcelGerber commented on #12769
I don't exactly see an issue in the screenshot. The whole multi-line string is highlighted as a string, and everything else isn't.
So what would you want to see instead?

[2016-09-09 19:47] efares commented on #12769
@ficristo sorry, I put it in the new issue format.
@MarcelGerber the first screenshot is of VS Code not Brackets.

[2016-09-09 20:25] zaggino commented on #12769
@efares as far as I know, Brackets support it fine, can you show how it fails in your Brackets?
![image](https://cloud.githubusercontent.com/assets/1067319/18401737/56823f1e-771f-11e6-848d-5e600f54301e.png)

[2016-09-09 20:45] zaggino commented on #11213
@timothylrobb
What Brackets version do you use?
What extensions you have installed?
Do you have any errors in the developer console?

[2016-09-09 21:31] timothylrobb commented on #11213
Hi Martin,

After looking at the questions you asked, I started digging more into the
issue. I began removing extensions one by one that I had installed.

It turns out that the issue is caused by an extension called "PHP Linter
for Brackets". For some reason it is breaking jslint.

Thanks,
Tim

On Fri, Sep 9, 2016, 1:46 PM Martin Zagora <notifications@github.com> wrote:

[2016-09-09 21:48] thehogfather commented on #12760
I am unable to reproduce this using the steps to reproduce above. However I can reproduce a similar issue if lines are added above the folded code for example.

@ealgase could you clarify that this issue does occur exactly as stated (i.e., you don't need to add or remove lines from the file)?

 My initial suspicion is that it has been addressed in #12521 and is closely related to #12456 #12232

[2016-09-09 23:03] efares commented on #12769
@zaggino it works fine on JavaScript files but I was wondering if it can also function the same with **TypeScript** files.

[2016-09-10 00:02] zaggino commented on #12769
@efares It works the same for TypeScript, I'm using my https://github.com/zaggino/brackets-typescript extension.
![image](https://cloud.githubusercontent.com/assets/1067319/18406218/8cae136a-773d-11e6-9819-11f8e04b1b58.png)

[2016-09-10 00:04] zaggino commented on #11213
Forgot, @alastairparagas as for the original issue, I recommend testing again with Brackets-Electron - https://github.com/zaggino/brackets-electron/releases

[2016-09-10 00:06] zaggino commented on #12760
Marking for 1.9 as this should be re-tested with 1.8 release.

[2016-09-10 04:24] NathanJPlummer commented on #12531
@kodaxx
@Learn-Digital-Audio

While Brackets is not available as a Snap Package, the Linux Friendly fork Brackets-Electron is available as a similar Universal AppImage.

More information about Brackets-Electron and installing the AppImage is available at my [Brackets Linux Installation Guide](https://nathanjplummer.github.io/Brackets/).

[2016-09-10 09:19] vankasteelj opened #12770 "Paste (right click or ctrl+v) doesn't do anything"
### Prerequisites

* [x] Can you reproduce the problem with `Debug \ Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

I cannot paste anything in Brackets.

This isn't  #12745 or #12747 : when I reload with

[2016-09-10 09:24] vankasteelj commented on #12770
UPDATE : it does work when I reset to 300f3d0. I'd be blaming d93ccc532 but I sadly don't know brackets code well enough to sustain that presumption

[2016-09-10 09:43] ficristo commented on #12770
If you use master it is expected. You need to build the brackets-shell too to use the paste feature.
Alternatively you could give a try to [brackets-electron](https://github.com/zaggino/brackets-electron/)

[2016-09-10 09:43] #12770 closed

[2016-09-10 11:12] db2k commented on #11416
This bothers me so much. It breaks simple UI laws, why should a window close on ENTER, since we already have ESC for closing it?

[2016-09-10 11:43] zaggino commented on #11416
This should be an easy thing to fix, PRs are welcome.

[2016-09-10 14:08] ficristo opened #12771 "Do something about src/config.json"
### Prerequisites
- [x] Can you reproduce the problem with `Debug \ Reload Without Extensions`?
- [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
- [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wiki

[2016-09-10 14:30] ficristo opened #12772 "Make ProjectModel.(_exclusionListRegEx|defaultIgnoreGlobs) user configurable"
We have issues about Brackets not able to cope with big projects. There are some extensions that deal with them by filtering the folders of the projects, but using a function supposed to be private.
We should instead expose these two things and rethink how Brackets' features interact with them.

I'm quite sure there are already issues \ trello cards similar to this especially for find in files.
Bu

[2016-09-10 15:23] zaggino commented on #12771
In `brackets-electron` I made `src/config.json` to be ignored by git, since it's recreated after every `npm install`

[2016-09-10 16:04] ficristo commented on #12771
AFAIK the only thing to manage is `healthDataServerURL` which points to `https://healthdev.brackets.io/healthDataLog` in dev and points to `https://health.brackets.io/healthDataLog` in production.
After we find a way for that we can put `src/config.json` in `.gitignore`.

[2016-09-10 21:44] ealgase commented on #12760
Hmm... I tested again and it is addressed by #12521, and you did need to delete lines above.

[2016-09-10 21:44] #12760 closed

[2016-09-10 22:18] thany commented on #12520
So can we then have a switch for this in 1.8? Or at least bring back the same behaviour as we came to expect up until 1.6 (nonsmooth scrolling)?

It's just that, at least in my book, smooth scrolling for a text editor is just... not very sensible, to say the least. Plus, smooth scroll makes me dizzy, which is why I turn it off for everything that has the option.
(for the same reason, I'm also happ

[2016-09-10 23:16] #12765 closed

[2016-09-10 23:21] zaggino commented on #12520
@MarcelGerber @ficristo can this be easily made a preference?

[2016-09-11 10:35] petetnt commented on #12771
Can we use environment variables? Something like `healthDataServerURL = (BRACKETS_ENV !== "development" ? "https://healthdev.brackets.io/healthDataLog" : "https://health.brackets.io/healthDataLog")`?

[2016-09-11 10:36] retan opened #12773 "[Feature Request] Sorting options affect file tree"
In the sidebar there is a menu with sorting options (under the cog icon). It affects only the sorting of files on list for the left / right pane. I would love to have it change the order of sorting for the file tree as well (though regardless of the chosen sorting order, the directories should be listed first, I think).

[2016-09-11 10:40] petetnt commented on #12766
Dupe of #12655 but this one is more meaty so I'll just close the old one :+1:

[2016-09-11 10:40] #12655 closed

[2016-09-11 10:44] petetnt commented on #12766
I made some work on this a while ago but didn't have to finish it yet. See this commit: https://github.com/petetnt/brackets/commit/b069d3ea9ce85f7cb8af62a66530b3c2402e69f0

Things that are missing:

- Following file renames and deletes
- Unit tests

[2016-09-11 13:14] Denisov21 commented on #12520
+1 Agree

[2016-09-11 15:10] iegik opened #12774 "Failed to connect to node"
v1.8.2 #8606d51ab Ubuntu 14.04
After clean start In console shows the error:
[code]

[2016-09-11 15:14] iegik opened #12775 "PreferencesManager.convertPreferences() has been deprecated."
v1.8.2
In console shows the warning:

[code]

[2016-09-11 15:25] iegik opened #12776 "Exception in 'checkedStateChange' listener on Command "Show Errors in Status Bar""
### Description

Console shows error:

[code]

### Steps to Reproduce

1. Debug -> Show Errors in Status Bar

### Versions

Ubuntu 14.04

Breckets-Electron v1.8.2

[2016-09-11 20:56] alanbares commented on #12766
Well been wanting to help with Brackets since it's my usual IDE but not sure if if I can handle this issue. I'll try and give it a shot anyway.

[2016-09-11 21:49] #12009 closed

[2016-09-11 22:02] zaggino commented on #12774
@iegik can you provide a list of installed extensions from `Help > Health Report` ?

[2016-09-11 22:04] MarcelGerber commented on #11416
Duplicate of #6904, but I'm going to leave both open.

[2016-09-11 22:07] MarcelGerber commented on #12771
We probably don't even need that.
`package.json` is used in dev and `src/config.json` in production, so we could just integrate this difference into the code that copies the values around.

[2016-09-12 00:48] zaggino commented on #12776
https://github.com/zaggino/brackets-electron/issues/71

[2016-09-12 00:53] zaggino commented on #12774
Solving here https://github.com/zaggino/brackets-electron/issues/72

[2016-09-12 00:53] #12774 closed

[2016-09-12 04:41] nethip commented on #12520
I think it is a bit tricky to implement this as an option, if it can be done only via command line, as we don't have any preferences management on the shell side (brackets.json and state.json load after CEF initialization followed by Brackets load).

 @ficristo Do we know if we can enable/disable this setting at runtime(once Brackets is loaded)? or does it have to be via command line only?

[2016-09-12 04:43] zaggino commented on #12520
Isn't this related?
https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior

[2016-09-12 07:48] MarcelGerber commented on #12520
@zaggino I looked into that yesterday, but no, Chrome doesn't respect that option (even with `--enable-experimental-web-platform-features`).

[2016-09-12 08:44] thany commented on #12520
I haven't tested, but the two options would most likely mean:
`auto`: whatever the browser would do standardly
`smooth`: override browser default with smooth scrolling

Sadly `scroll-behavior` doesn't come with a `nonsmooth` option or similar 😕

[2016-09-12 10:42] shirodkarsohan opened #12777 "Unable to download Brackets 1.7"
I am not able to download Brackets 1.7 (Release 1.7 - 06-10-2016). I am currently using Release 1.6 build 1.6.0-16680 (release 3df0ac6fa). When I try to download Brackets, it continues till 75%-78%, than the download speed drops slowly and download fails with 403 error code. I have tried downloading on numerous occasions but the same problem continues. I seriously feel this is a server issue.

Any

[2016-09-12 11:15] zaggino commented on #12777
Not sure what might be the issue but in the meantime you can try downloading brackets-electron directly from github - https://github.com/zaggino/brackets-electron/releases

[2016-09-12 18:20] ficristo commented on #12520
@nethip has already confirmed my understanding that is hard in brackets-shell, maybe easier with electron, to read a preferences file since we have to implement the feature.
According to MDN the `auto` value for `scroll-behavior` is `The scrolling box is scrolled in an instant fashion.` I don't know if it is what we want.
The last alternative is to disable it in the shell, checking if the the flag

[2016-09-12 18:24] ficristo commented on #12773
To list the directories first, you could try to add this in your preferences.
[code]

[2016-09-12 19:46] Denisov21 commented on #6904
+1

[2016-09-12 19:48] retan commented on #12773
I know about that. I'm talking about a proper sorting of the file tree, no only "directories first".

[2016-09-12 21:07] zaggino commented on #12773
What sorting options would you like there to see?

[2016-09-13 00:41] zaggino commented on #12520
Available in `brackets-electron@1.8.3` https://github.com/zaggino/brackets-electron/issues/74

[2016-09-13 08:31] petetnt commented on #12773
@zaggino I'd assume name/type/date like the working set items.

[2016-09-13 08:44] zaggino commented on #12773
That should be quite easy to implement I think.

[2016-09-13 12:55] zaggino commented on #12776
Here it hints https://github.com/electron/electron/issues/4733 that it might be something with referencing an object in the main process which has already been removed. Will have a closer look at my code even though I can't replicate this.

[2016-09-13 12:55] #12776 closed

[2016-09-13 18:13] retan commented on #12773
@petetnt Exactly as @zaggino said: name/type/date, but with folders first (by default or as an option), maybe sorted the same way among themselves.

[2016-09-13 18:15] kellyking opened #12779 "Remove Working Files Panel"
### Description

I am trying to completely remove the 'Working Files' section on the left-hand panel. There are several reasons for this:
1. The list becomes too long and requires scrolling. It takes up too much space and reduces the space for the active project file list. ( I know I can delete a file by clicking on the x - but this takes too long and I have to do this multiple times per day. )
2.

[2016-09-13 18:18] retan commented on #12773
P.S. when were are already at it, then to make it perfect, maybe also an option for sorting direction. (or each sorting type split into "up" and "down")  :stuck_out_tongue_winking_eye:

[2016-09-14 00:29] mossad commented on #11826
The same here on win10 64x undo redo not working even after removing extensions

[2016-09-14 01:47] zaggino commented on #11826
this will be fixed in next (1.8) release of brackets which is up to adobe to release;
in the meantime you can use brackets-electron where this has been already fixed

[2016-09-14 06:57] zaggino commented on #12773
I guess that should be a second level menu when right clicking the tree

Sort > ...options

![image](https://cloud.githubusercontent.com/assets/1067319/18502749/47480080-7a9c-11e6-947d-a5ed7dfa50a2.png)

[2016-09-14 08:50] petetnt commented on #12777
Have you had any luck downloading 1.7. or does the problem persist?

[2016-09-14 08:52] petetnt commented on #12748
Tagging as `Linux only`, can someone repro this on other platforms (or other *nix distros)?

[2016-09-14 16:16] dedicatedmedia commented on #11826
I am also having the same issue.
I am on:
Release 1.7 build 1.7.0-16898 (release b0a363b71)
Win 10 x64

[2016-09-14 17:22] retan commented on #12773
@zaggino -- a question not connected with the issue -- what extension gives you the "add to / remove to .gitignore" options?

[2016-09-14 17:42] Rafiozoo commented on #11826
Today Ctrl-Z bug has occurred many times in **SCSS** file. After saving - no way back.

[2016-09-14 18:57] petetnt commented on #11826
@Rafiozoo do you have an SCSS processor extension in Brackets?

@dedicatedmedia @Rafiozoo can you test the latest master and see if the problem still occurs.

[2016-09-14 20:19] Rafiozoo commented on #11826
@petetnt Yes [Brackets Sass](https://github.com/jasonsanjose/brackets-sass)

[2016-09-14 21:04] zaggino commented on #12773
@retan this one https://github.com/zaggino/brackets-git

[2016-09-14 21:10] zaggino commented on #12773
to the cog, I believe it would pollute the ui and I prefer to keep it clean, I dont want an icon in there for a feature that I will never use

[2016-09-14 21:25] retan commented on #12773
@zaggino Sorry but I don't follow you. I meant the cog that is already there, the one displaying sorting options for left/right pane.
![image](https://cloud.githubusercontent.com/assets/3779428/18530597/812eb772-7ad2-11e6-9820-3384ee675237.png)

(thank you for the extension by the way)

[2016-09-14 21:50] zaggino commented on #12773
That already sorts working tree. How would the menu look like if you add options to sort file tree?

[2016-09-14 21:51] rococtz opened #12782 ""Alt - F" shortcut not working because of "File" menu"
### Description

I try to use some custom shortcuts Emacs style and I need to be able to bind "Alt - F" to be work like "Ctrl + Left Arrow" (jump the word).

The problem is that when I press Alt + F my shortcut works, but the cursor becomes inactive and the focus moves on the File menu. I guess it's because in Windows the Alt key switches focus to the menu and it happens that F is the starting let

[2016-09-15 18:20] retan commented on #12773
@zaggino Working tree? That's what you call the "left" / "right" lists?
The thing is... I don't use those lists at all. With many files opened they reduce the space for the file tree quite a bit and when I work in split view (almost all the time) and cycle through files it's hard to tell which file is actually open (you can tell of course but you need to run with your eyes all around the interface

[2016-09-15 18:43] ficristo commented on #12640
~~https://github.com/adobe/brackets-shell/pull/578~~
Merged

[2016-09-15 23:15] zaggino commented on #12773
That seems like a doable solution, I was just confused where you want to place those options.  Take note that when the working tree is hidden, the cog is not visible too so that'd have to be changed otherwise you won't be able to use it of course. If anyone wants to pick this up, go ahead.

[2016-09-15 23:18] zaggino commented on #12782
I've reproduced this with `brackets` on windows but can't reproduce with `brackets-electron` so marking this as shell issue.

[2016-09-15 23:22] zaggino commented on #11826
@dedicatedmedia @Rafiozoo you can now try pre-release of Brackets 1.8 to see whether this is fixed: https://github.com/adobe/brackets/releases/tag/release-1.8-prerelease1

[2016-09-16 00:17] OBXJuggler opened #12783 "rendered process gone"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug \ Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wik

[2016-09-16 00:18] OBXJuggler commented on #12783
installed brackets 1.7

live view doesn't work

i get this message:

_rendered process gone

whats going on?

[2016-09-16 00:18] #12783 closed

[2016-09-16 00:29] OBXJuggler opened #12784 "_rendered process gone"
i downloaded Brackets 1.7

live preview won't work!

i get :

_rendered process gone

help, please

[2016-09-16 12:33] petetnt commented on #12784
Hi @OBXJuggler, can you post the errors in Debug -> Developer Tools -> Console

[2016-09-16 17:36] elron opened #12786 "Search items in scrollbar - new feature: Move to found item by clicking scrollbar"
### Description

Here's a new way to navigate faster to your search results in the scrollbar.

**Actual behavior:** [What actually happened]

I saw that when you search for a word in your document, **it _yellow marks_ the scroll bar in places the word exist**. This is cool!!!

**Expected behavior:** [What you expected to happen]

However, if you **click** on a _yellow mark_ in the scrollbar, it ju

[2016-09-16 17:46] elron opened #12787 "Bug/feature: Ctrl+Shift+Move selection with curser doesn't duplicate."
### Description

A feature that allows to **duplicate a code selection without Copy+Paste**.

###  Expected behavior: [What you expected to happen]

I used dreamweaver before this, there, if I wanted to duplicate a selection I did, I would:
1. Select something in the code
2. Hold CTRL+SHIFT, Clicking on the selection and dragging it to another place in the code.
3. That would cause:
- the original

[2016-09-16 17:53] ficristo commented on #12787
You have to enable the `dragDropText` preference.
`Debug \ Open Preferences File` and add
[code]

[2016-09-16 18:31] elron commented on #12787
@ficristo How do I edit it?
Whenever I do the change and save + restart Brackets, it reverts back to defaultPreferences file.

[2016-09-16 18:33] ficristo commented on #12787
Are you modifying the **right** file?

[2016-09-16 18:35] elron commented on #12787
I am modifying the file that opens when I click - Debug->Open Preferences
File
בתאריך 16 בספט׳ 2016 21:34,‏ "ficristo" <notifications@github.com> כתב:

Are you modifying the *right* file?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/adobe/brackets/issues/12787#issuecomment-247674607>,
or mute
the thread
<https://gith

[2016-09-16 18:39] ficristo commented on #12787
When you click it, it should open the split view.
At the left you have the `defaultPreferences.json` file which isn't supposed to be modified.
On the right side you should see the `brackets.json` file where you have to put your changes.

[2016-09-16 18:49] elron commented on #12787
I see! I will try soon and let you know
בתאריך 16 בספט׳ 2016 21:40,‏ "ficristo" <notifications@github.com> כתב:

[2016-09-16 21:10] retan commented on #12773
@zaggino I'm glad it's clear finally. :smile:
Well.. I don't think that's an issue. Why would I want to change sorting method for the tree if it was hidden.
What do you mean by "pick this up"?

[2016-09-16 21:34] elron commented on #12787
You, @ficristo, an awesome person on the internet, you're my savior.

[2016-09-16 21:34] #12787 closed

[2016-09-16 21:56] elron commented on #12665
I'm thinking about CSS designing in a CSS / SCSS file, would be really cool. For example if you type `.myclass {}` and then right click on the brackets or something like that, it would add up to the option menu (quick edits/Quick Docs/Select All) a new option where it will open a popup and will let you design the item in it. Not many options are needed, just text-shadow, background color... basic

[2016-09-16 22:13] zaggino commented on #12773
"pick this up" is a phrase for "start implementing this and opening a pull request"

[2016-09-17 04:27] DeveloperACE opened #12788 "Feature suggestion: be able to print your code"
I would really like the ability to print your code for offline editing. helps me focus.

[2016-09-17 09:10] kromeyer opened #12789 "file tree breaks on OSX when folder with folder icon is used"
### Description

Brackets file tree isn't working on OSX if folder with changed folder icon is opened. OSX creates an Icon file inside a folder if the user changes the folder icon or software like BTSync or Dropbox are in use which create specific folders and also use the icon mechanism.

### Steps to Reproduce

1. create a folder
2. change folder icon (more details here: https://support.apple.com

[2016-09-17 12:13] s1awek commented on #11122
Bless you for sharing this solution.

[2016-09-17 12:13] lednhatkhanh opened #12790 "Feature suggestion: All extensions in one place?"
I think brackets needs a place to help users find all packages, theme, upload there extensions, etc...
Both Atom and vscode have their own page, and one more thing, brackets has a small number of packages compared to the others.

[2016-09-17 12:56] ficristo commented on #12790
This is the homepage for the registry where all extensions live: https://brackets-registry.aboutweb.com/
Here you can upload your extension or theme.
You can find the same through `File \ Extension Manager...`

[2016-09-17 12:56] petetnt commented on #12790
Hi @lednhatkhanh,

Brackets extension registry is available [here](https://brackets-registry.aboutweb.com/), where you can see all the existing extensions, upload new ones and update old ones.

There's also http://brackets.dnbard.com/ which lists most popular extensions by  various metrics.

Feel free to reopen if you have more questions.

[2016-09-17 12:56] #12790 closed

[2016-09-17 13:02] petetnt commented on #12789
Also reported in https://github.com/adobe/brackets/issues/12694 and https://github.com/adobe/brackets/issues/12703.

As this seems to affect many users, giving this a higher priorty

[2016-09-17 18:32] moeiscool commented on #12058
where is this file on windows?

[2016-09-17 22:32] zaggino commented on #12058
on windows:
[code]

[2016-09-18 09:14] iampepe opened #12791 "Native menus on Linux"
Why there is still no native menus on linux?

[2016-09-18 10:13] zaggino commented on #12791
Duplicate of https://github.com/adobe/brackets/issues/7236
Brackets-Electron has native menus on Linux: https://github.com/zaggino/brackets-electron/releases

[2016-09-18 10:13] #12791 closed

[2016-09-18 10:38] iampepe commented on #12791
I will try it out, thank you.

[2016-09-18 17:06] Denisov21 commented on #12788
+1 good idea for me!

[2016-09-18 19:23] WilfredRuck commented on #12754
<b> </b>

[2016-09-18 19:24] WilfredRuck commented on #12754
"<b> </b>"

[2016-09-18 19:24] WilfredRuck commented on #12754
<b> tag?

[2016-09-18 22:51] retan commented on #12773
@zaggino
Aaaa! Well, I hope somebody does. With my skills this would take ages. 😜
I'm counting on you coding wizards out there!!!

[2016-09-19 07:11] petetnt opened #12792 "File change throws "Cannot read property file of null" on NavigationAndHistory/main.js"
### Prerequisites
- [x] Can you reproduce the problem with `Debug \ Reload Without Extensions`?
- [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
- [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?
### Description

For some time now (~5 days?) I have been getting the following errors every time I switch

[2016-09-19 10:20] petetnt commented on #12792
Suddenly it stopped doing that, without restarting/reloading or restarting Brackets 🤔 🤔

[2016-09-19 12:48] SebastiaanNijland opened #12793 "Squash merge doesn't work with the new Approve Review feature"
### Prerequisites

* [x] Can you reproduce the problem with `Debug \ Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

When trying to squash merge a pull request, I get a 'merge failed, at least 1 approved

[2016-09-19 12:49] #12793 closed

[2016-09-19 19:14] ficristo commented on #12792
Related https://github.com/adobe/brackets/issues/12629

[2016-09-19 19:20] petetnt commented on #12792
@ficristo Hah, I like how the chain goes on like my issue - your issue - my issue... 😆

[2016-09-19 21:53] hnaparst opened #12795 "Using brackets on Linux with index.php file?"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug \ Reload Without Extensions`? Yes
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported? Yes
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)? Yes

For more information on how to write a good bug report read [here](https://github.com/adobe/

[2016-09-20 20:35] norrisollie opened #12796 "MacOS Sierra Issue"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug \ Reload Without Extensions`? Not Able
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported? Yes
* [ ] Did you read the [Troubleshooting guide Yes
(https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/a

[2016-09-20 20:38] norrisollie commented on #12796
Ok, just realised there was an update. No issues anymore.

[2016-09-20 20:38] #12796 closed

[2016-09-21 06:13] designcise commented on #12724
I'm using v1.8 build 1.8.0-17080; code folding is still breaking in this version. Also it would be nice to have code folding for switch's cases, thanks!

[2016-09-21 07:46] designcise opened #12797 "Horizontal Scrollbar Not Scrolling"
### Description

The horizontal scrollbar does not scroll to the length of the code if it goes past the screen; I've noticed this recurrently with statements that have curly braces at the end such as if/else (see screenshot attached). Reloaded brackets without extensions as well, same issue persists!

### Steps to Reproduce

1. Write a length one-line if statement with opening curly brace on same

[2016-09-21 09:23] Aphrodisiaque opened #12798 "Suggestion..."
Bonjour à tous...

Une fonctionnalité toute simple me manque cruellement : le "copier / coller" accessible avec le clic droit de la souris...
Les habitudes sont tenaces !

Bonne journée à tous

[2016-09-21 09:33] ficristo commented on #12798
Google translation:

This is already available in 1.8 [prerelease](https://github.com/adobe/brackets/releases/tag/release-1.8-prerelease1).

[2016-09-21 09:33] #12798 closed

[2016-09-21 11:40] adityapaturi opened #12799 "Pressing Escape key is removing multiple popups"
### Prerequisites

* [X] Can you reproduce the problem with `Debug \ Reload Without Extensions`?
* [X] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [X] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wik

[2016-09-21 11:42] adityapaturi commented on #12799
@petetnt, @bmax : Please have a look. This is introcuded by PR #12251

[2016-09-21 11:46] petetnt commented on #12799
@adityapaturi Thanks for this bug report, assigning to myself.

[2016-09-21 19:33] bdbch opened #12801 "Windows 10 UWP Version"
### Prerequisites
- [x] Can you reproduce the problem with `Debug \ Reload Without Extensions`?
- [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
- [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wiki

[2016-09-23 10:44] AgentO0 opened #12803 "CSS commands wont work at all"
Hello experts,

i am quite new here and i just started using Brackets and have only used html ages ago and not really advanced..

My problem now is, that no matter what codes i write in my CSS- file, it will not effect my html layout, which is really annoying.

The commands are really really simple so there is not much i could have overlooked, but you never know.

In the Pics below you can see the

[2016-09-23 11:45] designcise commented on #11113
I witnessed this issue on Release 1.8 build 1.8.0-17080, after saving by hitting CTRL+S and then trying to undo, which doesn't work in such instance, but rather scrolls to the top.

[2016-09-23 11:47] designcise commented on #11826
I had this issue on Release 1.8 build 1.8.0-17080 (using on Windows 10). After saving the file, ctrl+z wasn't working, and oddly enough it kept scrolling to the top of the document instead.

[2016-09-23 11:52] petetnt commented on #11826
@designcise can you post your `Help -> Health Report`? Can you repeat the issue? Do you see any errors in the console? Does this occur without extensions?

[2016-09-23 12:14] AgentO0 commented on #12803
already solved sorry

[2016-09-23 12:41] zaggino commented on #11113
@designcise have you also tried reloading without extensions?

[2016-09-23 12:41] zaggino commented on #12803
👍

[2016-09-23 12:41] #12803 closed

[2016-09-23 12:43] designcise commented on #11826
@petetnt I only started using Release 1.8 build 1.8.0-17080 day before yesterday, if I witness this issue again, I'll keep those things in mind. Right now, I'm not sure how to reproduce this issue. Health report (this snapshot was created after I witnessed the issue; I since then closed and restarted Brackets, which seemed to resolve it for now):

`{
    "uuid": "769518fa-bf57-4376-9cee-4726d9f710

[2016-09-23 12:48] designcise commented on #11113
@zaggino  I didn't, I closed brackets and just restarted it again which solved it for time being. If I witness this again, I'll try reloading it without extensions. I don't know exactly how to reproduce this, but my guess is if I reload it, the issue would go away in any case. So not, sure if it would yield any useful information in this instance.

[2016-09-23 16:27] ficristo commented on #12788
If you do `Debug \ Show Developer Tools` and write in the console tab `window.print()` does it work for you?

[2016-09-23 16:29] #12754 closed

[2016-09-23 16:31] ficristo commented on #12724
@thehogfather do you still have the problem? if so, have you tryed to run `npm install`?

@designcise do you have clear step to reproduce? If so can you open a new issue?

[2016-09-23 16:34] ficristo commented on #12724
@designcise for the `case` you could try to add `code-folding​.alwaysUseIndentFold: true` to your preferences.

[2016-09-23 16:37] ficristo commented on #12797
Can you reproduce on https://codemirror.net/?
If so can you open an issue here https://github.com/codemirror/codemirror?
If not can you share a minimal snippet of code that reproduce the problem?

PS: CodeMirror is the underline editor used by Brackets.

[2016-09-23 17:11] DeveloperACE commented on #12788
I mean like actually printing the code you wrote on paper

[2016-09-23 17:25] ficristo commented on #12788
I tryed myself and (of course...) it prints the filetree too...
So, unfortunately, we need an hook in the brackets-shell.
Maybe @zaggino can implement it in brackets-electron.

[2016-09-23 18:36] ficristo commented on #10196
Since Extract is deprecated I close this.
http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview

Let me know if I missed something here.

[2016-09-23 18:36] #10196 closed

[2016-09-23 18:38] ficristo commented on #5451
With 1.8 `<script type >` should also work.

[2016-09-23 18:38] #5451 closed

[2016-09-23 18:58] ficristo commented on #9130
@peterflynn is the current behaviour the expected one or should we match Sublime?

[2016-09-24 10:16] designcise commented on #12797
I witnessed the same issue again today; tried reloading brackets without extensions and still the scrollbar didn't scroll fully to the right. So I restarted Brackets, and the issue persisted, this is the piece of code (include the tabs please -- 4 x tabs with Tab Size: 4):

                                $cache_dir = CACHE_DIR . "shop/{$country_code}_{$active_shop->id}/shipping_{$payment_type}-{$

[2016-09-24 11:02] ficristo commented on #12797
I cannot reproduce with a `test.php` file and that single line.
I tried to "reset" my preferences file (I made a backup of `brackets.json` and let Brackets generate a fresh one) and still cannot reproduce.

[2016-09-24 11:40] designcise commented on #12797
I wasn't able to reproduce it on a new file with that line of code either. In fact, I pasted the entire code from that file on to a new "test.php" file and it seems to be scrolling fine in the new file but not the old one.

[2016-09-24 22:27] derrickb commented on #11775
I'm still seeing this issue in 1.8 build 1.8.0-17080

[2016-09-25 00:20] zaggino commented on #12788
@ficristo
[code]
in style will hide the file tree, there're some others that need to be hidden too but overall I don't think this needs shell support

[2016-09-25 06:40] ficristo commented on #12788
@zaggino that could work. I tryed to print in distraction mode and I had some results.
But the print wasn't colored so maybe we need something else that's why I labeled with native shell.
Personally I'm not up to implement this so if someone want to take a look go ahead.

[2016-09-25 07:21] #5522 closed

[2016-09-25 07:31] zdroid commented on #6291
Well, it looks like this project prefers having 137 branches.

[2016-09-25 07:31] #6291 closed

[2016-09-25 17:14] redmunds commented on #12788
Try this extension to get color-coded output. Note that output is HTML, so you need to print from browser: https://github.com/peterflynn/copy-as-html

[2016-09-25 19:15] MoatazAhmed25 commented on #12779
@petetnt  I will work on it :)

[2016-09-25 19:22] petetnt commented on #12779
@MoatazAhmed25 cool! If you need help with exploring the codebase or have any other questions, feel free to post them in this issue! 👍

[2016-09-25 19:55] thehogfather commented on #12724
@ficristo thanks - `npm install` seem to have addressed the issue. Code folding tests off the master branch are passing.
Also this issue can be safely closed as it was introduced by 5727863 which has since been reverted.

[2016-09-25 20:49] #12724 closed

[2016-09-26 08:55] crashbdx commented on #11826
Same issue here, impossible to work like that :( tried debug > reload without extension, problem is the same with no extension, it happen when i save and change windows (exemple going to my browser) then when i go back to brackets, impossible to undo...

[2016-09-26 09:11] zaggino commented on #11826
@crashbdx are you using version 1.8 from https://github.com/adobe/brackets/releases ?

[2016-09-26 09:28] crashbdx commented on #11826
@zaggino no im in 1.7, if i use a pre realease will all my extension still work ?

[2016-09-26 09:31] zaggino commented on #11826
@crashbdx yes, they will continue to work. You should be able to safely upgrade to pre-release as you would do with normal release. Let us know if you still experience the issue in 1.8

[2016-09-26 09:32] petetnt commented on #11826
@crashbdx they will. Could you also post any errors you might see in Debug -> Developer Tools -> Console.

[2016-09-26 09:52] crashbdx commented on #11826
Ok, seem to work well with the 1.8, i'll let you know if the problem show up again, thank you.

[2016-09-26 15:18] mpettaw2 commented on #12766
I would love to work on this issue as well if that's ok.

[2016-09-26 15:23] petetnt commented on #12766
@mpettaw2 of course! @alanbares have you made much progress? Could you perhaps coordinate together? 👍

[2016-09-26 16:09] dedicatedmedia commented on #11826
@zaggino I've using 1.8 for a few days now. I haven't encountered this bug.

Thanks!

[2016-09-26 18:21] alanbares commented on #12766
@petetnt Not really, I feel completely lost tackling the issue :(.

[2016-09-26 18:26] ficristo commented on #12766
@petetnt do we need to land @sprintr PR first?

[2016-09-26 19:26] petetnt commented on #12766
@ficristo maybe not *need* for this feature,, but it would be a great addition on it's own and would be a good starting point for this feature too.

[2016-09-26 21:30] mpettaw2 commented on #12766
so i found the getFilenameWithoutExtension function. i was going to change that instead of the getFileExtension because I didn't want change the file before it got written to the program. anyway i was thinking of something like

[code]

just wanted to see if that was ok before i send it out....

[2016-09-27 09:23] caseyjonesaustralia opened #12804 "Directory Browsing Doesn't work in 1.7 or 1.8 pre release"
Version 1.6 allows me to move through a sub-directory, but both version 1.7 and 1.8 (pre-release) does not.

I'm using a MacBook Pro 2015 build on OSX Sierra and a MacBook Air 2012 on El Capitain.

To reproduce, I drag a project folder onto the brackets icon similar to the following

project

I can open "folder1" but folder2 won't open at all.

[2016-09-27 09:42] petetnt commented on #12804
Do you happen to have files called `Icon` in your folders? It seems to have caused some similar issues in https://github.com/adobe/brackets/issues/12789.

[2016-09-27 10:00] caseyjonesaustralia commented on #12804
Ah! Exactly! I do indeed have files called "Icon?" in these folders.
For production work I have been using brackets v1.6, as it works perfectly regardless of the icons being present.

Cheers mate,

[2016-09-27 10:02] petetnt commented on #12804
@caseyjonesaustralia, I'll try and fix the Icon issue this week, lets track this on #12789 for progress.

Big thanks for the report, closing as duplicate.

[2016-09-27 10:02] #12804 closed

[2016-09-27 12:00] killerog commented on #12580
I don't know if it's better to recycle this topic or use a different one. I've been using Brackets a lot for html last weeks and were loving it, but now that I had to mix in some php it started being a bit annoying on the syntax highlighting.
As you can see in the screenshot the closing div isn't recognized anymore because there's a bit of multi-line php in between it (if I remove it the highlight

[2016-09-27 12:19] zaggino commented on #12580
@killerog you'll probably want to open an issue with https://github.com/codemirror/CodeMirror
php demo is here: https://codemirror.net/mode/php/index.html and the closing /div error is also present in the demo, Brackets use CodeMirror in the background.

[2016-09-27 12:34] ficristo commented on #12580
You are missing a `?` inside the first `<php`.

[2016-09-27 12:42] killerog commented on #12580
Oh man... that's so stupid of me...

It's corner time for me I guess :)

[2016-09-27 14:49] Rainbowlemon commented on #11826
I'm using 1.8, build 1.8.0-17080, on Windows 10 x64, and have just encountered this bug again. Selecting `Debug -> Restart Node` fixed it.

[2016-09-27 16:23] vahid-sanati commented on #11826
Since using version 1.8 pre-release I haven't faced this problem anymore!

[2016-09-27 18:01] mansimarkaur commented on #12766
@mpettaw2 the getFilenameWithoutExtension function return filenames for directories as well and .bat won't be suitable extension for a directory. Also, this method is supposed to return only the filename after stripping the extension (if any), so adding .bat to a file without extension for returning as filename doesn't seem feasible.

[2016-09-27 18:06] mansimarkaur commented on #11763
I want to start contributing to brackets. Is this issue still open for working? If yes, please help me get started.

[2016-09-27 18:49] ficristo commented on #12640
https://github.com/adobe/brackets-shell/pull/581

[2016-09-27 18:59] ficristo commented on #11763
If @manoharprabhu will not work on this anymore, yes.
Personally I'd prefer to simply disable the menu items than showing a message, maybe you can check other code editor like Notepad++ or Sublime and see what they do.

[2016-09-27 19:05] manoharprabhu commented on #11763
@mansimarkaur can go ahead and contribute the fix for this issue.
Sorry, I got caught up in a lot of stuff and couldn't continue contributing.

[2016-09-27 20:30] vahid-sanati commented on #11826
Just encountered the problem right after posting my previous comment. for almost 10 days of using v1.8 I wasn't faced the problem.

[2016-09-27 23:10] mansimarkaur commented on #12144
I'm also getting Integration failures.

[2016-09-28 00:22] mansimarkaur commented on #10611
I have cached `$(".modal-body", $dlg)`  in to its own variable in #12805

[2016-09-28 06:29] #10611 closed

[2016-09-28 19:40] ficristo commented on #12640
https://github.com/adobe/brackets-shell/pull/583

[2016-09-28 21:12] sahildua2305 commented on #11416
@zaggino can I take it? Looks like a good starter bug 😄

[2016-09-28 21:48] zaggino commented on #11416
Sure @sahildua2305 , go ahead.

[2016-09-28 21:56] sahildua2305 commented on #11416
Thanks @zaggino!

I figured out that it's [here](https://github.com/adobe/brackets/blob/master/src/extensibility/InstallExtensionDialog.js#L322) that ESCAPE key event is defined. Since, the same action on ENTER key is by default, we should disable the default event triggering from ENTER key?

Am I thinking in the right direction?

[2016-09-28 22:03] zaggino commented on #11416
Possibly, ideally try debugging what event/code makes it close after `Enter` and then it'll be clearer where you need to change the code.

[2016-09-28 22:05] sahildua2305 commented on #11416
Is there an efficient way to debug this application? (Like putting up some debug messages or things like that?)

[2016-09-28 22:47] zaggino commented on #11416
`Debug > Show developer tools` menu will open classic Chrome developer tools where you'll see all the Brackets source. It's easy to debug there, you can put breakpoints whereever you want and go through code step-by-step.

You need to be running Brackets from source: https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets

[2016-09-29 07:15] #12799 closed

[2016-09-29 19:06] petetnt commented on #12789
Fix pending at #12807

[2016-09-29 19:51] petetnt commented on #12789
Fixed in #12807

[2016-09-29 19:51] #12789 closed

[2016-09-29 23:29] zaggino commented on #11826
Encountering the issue after 10 days is a bit weird. Can you provide your list of extensions @vahid-sanati ?

[2016-09-30 07:01] manel00 opened #12808 "Error brackets: Favicon + Fail to nomalize Cmd shift ]"
Hi everyone!

I'm using Brackets on a Windows 7, and It gives me some error that I cannot understand, I'll show you a screenshot, I dont know if it's my code, Bootstrap CDN... But I was sweeping along this problem since few days, What should I do?

![brackets error](https://cloud.githubusercontent.com/assets/8410687/18983216/c0c44508-86eb-11e6-8db1-70e93c1e8517.jpg)

[2016-09-30 07:17] zaggino commented on #12808
@manel00 this is an extension issue, report here please:
https://github.com/sixertoy/brackets-console-plus

[2016-09-30 07:17] #12808 closed

[2016-09-30 11:44] vahid-sanati commented on #11826
@zaggino In those 10 days I was working on a project and there was no problem. then switched to another project and faced the problem at my first attempt to undo after my first save of the modified file. I guess changing the project caused the problem to appear.

about the extensions, I'm using almost 35 extension but in v1.7 I tried without them and the problem was still there. so I guess they do

[2016-09-30 12:24] designcise commented on #11826
Funny @vahid-sanati mentioned this happened when he switched from one project to another, come to think of it, I witnessed this issue (about 2 days into using 1.8) exactly when I switched from one project to another. Maybe that's a starting point for diagnosing this issue?

[2016-09-30 15:25] fralix commented on #12696
I open a file with embedding an sftp location to my pc and opening it with Brackets. Everything worked fine but today I am just unable to use the software. It freezes on startup, shows the file tree.

There are irregular frame updates so sometimes I can click somewhere and the action happens after a few **minutes**.
I tried a few things like removing the extensions from the config folder // moving

[2016-09-30 23:24] spbond opened #12809 "Hide/Show Hidden Files Button"
### Description

This is a feature request.  It would be very convenient to have a button which would hide/show hidden system files and files listed in .gitignore and .ngmignore (and similar types of files) in the file sidebar.  These are all files which I typically don't want cluttering my workspace, but as others have pointed out, sometimes you need to edit them.  Being able to keep them hidden,

[2016-10-01 00:32] thany commented on #11826
I'm now encountering this far more frequently, while working a project that is being served with [gulp-live-server](https://www.npmjs.com/package/gulp-live-server), for some reason. When I work on a project that is served with a plain Apache instance, the problem goes almost unnoticed.

I'm not sure if this is related, but it does stand out to me.

[2016-10-01 01:20] zaggino commented on #11826
Can you share your project on github @thany or somewhere?

[2016-10-01 09:10] TamerHussien commented on #12192
i tried it in other way
i moved the poject files from its location because when i open brackets it gets freeze immediately then open brackets and install https://github.com/zaggino/brackets-file-tree-exclude from extension manager with the instructions and the open the project again from the new location it works with me

[2016-10-01 09:14] ficristo commented on #12599
If you still have the problem, please add more details and then reopen.

[2016-10-01 09:14] #12599 closed

[2016-10-01 09:14] ficristo commented on #12631
If you still have the problem, please add more details and then reopen.

[2016-10-01 09:14] #12631 closed

[2016-10-01 09:14] ficristo commented on #12595
If you still have the problem, please add more details and then reopen.

[2016-10-01 09:14] #12595 closed

[2016-10-01 09:14] ficristo commented on #12431
If you still have the problem, please add more details and then reopen.

[2016-10-01 09:14] #12431 closed

[2016-10-01 09:15] ficristo commented on #12584
For now closing as a dupe of https://github.com/adobe/brackets/issues/12748 which is Linux only.

[2016-10-01 09:15] #12584 closed

[2016-10-01 09:16] ficristo commented on #12412
If you still have the problem, please add more details and then reopen.

[2016-10-01 09:16] #12412 closed

[2016-10-01 09:17] ficristo commented on #12079
Since there was an anwer, I'm repurposing this for SVN.
As for Git, this is an extension idea.

[2016-10-01 09:17] ficristo commented on #12101
I'm labeling for LivePreview, hope it is correct.

[2016-10-01 09:19] ficristo commented on #12644
Relabeling `native-shell` just to check if evrything will work with newer version of it.

[2016-10-01 09:20] ficristo commented on #11920
Likely an extension problem. Closing

[2016-10-01 09:20] #11920 closed

[2016-10-01 09:26] ficristo commented on #12187
Now that #12647 has merged we are using https://github.com/Microsoft/vscode-filewatcher-windows on Windows and https://github.com/paulmillr/chokidar on Linux and macOS.

[2016-10-01 09:26] #12187 closed

[2016-10-01 09:38] ficristo commented on #12010
@adobe/brackets-committers after 10 months someone at Adobe does care for this issue?
Can non adobe people have access to this machine?

[2016-10-01 14:39] shubham48648 commented on #12777
downloading is working fine, close this issue

[2016-10-01 14:52] #12777 closed

[2016-10-01 15:06] luisalvarado opened #12810 "Golang files do not have a theme option"
Basically, opening a .go file shows the code but without coloring (no theme) as oppose to Sublimetext or Atom. I noticed today when I was moving my team from Atom or Sublimetext to Brackets and this happened.

Using Ubuntu 16.04 64-bit.

[2016-10-01 15:52] petetnt commented on #12810
Hi @luisalvarado,

Golang syntax highlighting is available via plugins such as https://github.com/petetnt/brackets-codemirror-go and https://github.com/devinceble/brackets-go. You can install them under `File -> Extension Manager`

[2016-10-01 15:52] #12810 closed

[2016-10-01 18:59] johnroper100 commented on #11904
Yes. I will take a look at this.

[2016-10-01 20:26] uniphonic commented on #12010
@ryanstewart @madanbn @nethip Any chance one of you could take a look?

[2016-10-02 09:05] designcise commented on #11113
Witnessed it about 3 times yesterday, again with CTRL+S while working. This makes the document scroll to top (to a random location) and messes up the undo. Tried reproducing it, wasn't able to pinpoint the problem.

[2016-10-02 09:21] zaggino commented on #11113
@designcise this is almost certainly caused by an external modification of the file. Is there anything (extension or a gulp watch task in background) that'd modify file after saving it? It actually doesn't scroll top to a random location, but to a location of the first change.

For example if you'd have an extension that'd strip whitespace from the file, it'd scroll top to the first line with whit

[2016-10-02 09:49] designcise commented on #11113
@zaggino The only two extensions I'm using are:

1. Console
2. Open a new editor window

There's nothing else externally modifying the file as it is only open in brackets.

[2016-10-02 13:12] declanmarks opened #12811 "libgcrypt11 dependency not satisfied."
When installing Brackets in Ubuntu 16.04 I get an error saying that the dependencies are not satisfied. After reading online Brackets using an old version of libgcrypt. Is this something that is going to be updated. I am currently using the latest version of brackets.

[2016-10-02 13:18] petetnt commented on #12811
Hi @declanmarks,

please see https://github.com/adobe/brackets/issues/12640 and https://github.com/adobe/brackets/issues/10255 for workarounds for this issue.

Closing this as duplicate.

[2016-10-02 13:18] #12811 closed

[2016-10-02 14:14] ficristo commented on #12811
For completeness there is this guide: https://nathanjplummer.github.io/Brackets/
My suggest for Linux users is to use brackets-electron.

[2016-10-02 14:29] designcise commented on #11113
Witnessed it twice more just now, I can confirm that it scrolls to a random location to top.

[2016-10-02 15:01] mackenza commented on #12811
as a full time Linux user, I concur with @ficristo . There are some limitations to Brackets-Electron (I don't believe Live Preview works but I don't use it), but there are numerous advantages:

- retains window size between sessions
- doesn't require hitting the window close X button twice to close the window
- native menus vs. html menus
- no dependency issues as above. Can also run via AppImage

[2016-10-02 20:22] mackenza commented on #12795
are you using the new "experimental" live preview? If so, it doesn't support PHP. Otherwise, it would be interesting to know what you plan to do with Live Preview and PHP. Even the older mode doesn't actually do the live part of live preview... it saves and reloads the PHP file. You would be better off setting up a live reload toolchain with gulp or something like that.

IMO, Live Preview is a nic

[2016-10-02 22:05] tomlutzenberger commented on #11845
I could solve this problem by uninstalling and reinstalling Brackets 1.7.
It seems the update from 1.6 had some issues.

[2016-10-02 23:20] zaggino commented on #11845
There's also 1.8 here: https://github.com/adobe/brackets/releases
Closing this as this is an old version problem, please report again if there's problem with 1.8

[2016-10-02 23:20] #11845 closed

[2016-10-03 03:06] crashbdx commented on #11826
Bug randomly show up again even with 1.8 for me.

[2016-10-03 07:58] hunter2020 opened #12812 "idea for debug & browser live development button"
I see live development button showing HTML  CSS js on the desktop like files I suggest  add an option to  showing files  by   localhost server  that will cover PHP file
example
localhost/php_file.php
localhost/html_file.html

[2016-10-03 12:43] thany commented on #11826
@zaggino It will be on github in a while, but now is not the right time for that, sorry.

[2016-10-03 18:23] ficristo commented on #3741
I created a `test.css` file and added
[code]
which is highlighted correctly.
It's not really clear to me what you meant with previewer, but since this had no answer and to me works fine, I close this.
FYI there is this issue which is about to differentiate tags and custom classes: https://github.com/adobe/brackets/issues/12558

[2016-10-03 18:23] #3741 closed

[2016-10-03 18:44] ficristo commented on #12812
It is not clear to me what are you asking.
If you click the live development button it should open your browser, does not?

[2016-10-03 19:16] zaggino commented on #11826
That's ok, but if we're not able to replicate it, we probably won't be able to fix it. It certainly doesn't happen to me anymore in daily usage.

[2016-10-04 00:41] saddamcoxbd opened #12813 "Vice deb"
### Prerequisites

* [x] Can you reproduce the problem with `Debug \ Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wik

[2016-10-04 00:44] hunter2020 commented on #12812
It's work
I  have suggestion to include php existence
To showing by live browser

[2016-10-04 08:46] thany commented on #11826
I'm guessing you're not using 1.7, but a pre-release. I'll switch to and try 1.8 when it comes out.

[2016-10-04 08:56] crashbdx commented on #11826
For me it happen with any kind of project not a specific one, it is pretty random, ether with 1.7 or pre release 1.8, very difficult to keep working with it sadly :(

[2016-10-04 12:31] petetnt commented on #12813
Closing as invalid

[2016-10-04 12:31] #12813 closed

[2016-10-04 19:19] MustafaHaaji commented on #11826
it may be wrong but when i disable beautify plugin. it works for me without no problem. Can you try to disable and check if it's true or it's only for me working when i disabled...... thanks.........

[2016-10-04 19:51] timothydewolf opened #12814 "Windows 64-bit build target"
No 64-bit build target on Windows

Attempting a 64-bit build on Visual Studio 2015 yields errors.  I updated my code locally to allow the 64-bit build to proceed, meaning fixing things like moving GetWindowLong=>GetWindowLongPtr in the NC painting code and numerous size_t <=> int casts.

The Gruntfile does not contain a 64-bit build target.  Would it be possible to get this 64-bit target into git?

[2016-10-04 21:00] zaggino commented on #11826
If you use brackets beautify (https://github.com/brackets-beautify/brackets-beautify#usage) you should try turning `Beautify on Save` feature off. Any other extensions which do things after save can possibly be causing this issue too.

[2016-10-04 21:02] zaggino commented on #11113
If you use brackets beautify (https://github.com/brackets-beautify/brackets-beautify#usage) you should try turning `Beautify on Save` feature off. Any other extensions which do things after save can possibly be causing this issue too.

[2016-10-05 04:34] incorrectusername commented on #12766
Hello,
I'm new to Open Source. I would like to fix this issue . This is my first time.
Can someone help me get started?

[2016-10-05 06:10] petetnt commented on #12766
Hi @incorrectusername!

That's great! See the article [How to hack on Brackets](https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets) to get started with the Brackets codebase. If you have any questions, feel free to post them here! We also have a [Slack channel](https://brackets.slack.com) for day-to-day communication. (You can join by sending a mail to admin@brackets.io with the subjec

[2016-10-05 17:44] ficristo commented on #12788
I noticed these functions on electron today:
http://electron.atom.io/docs/api/web-contents/#contentsprintoptions
http://electron.atom.io/docs/api/web-contents/#contentsprinttopdfoptions-callback
They seemed useful for this task.

[2016-10-05 18:37] mackenza commented on #12788
I bet this could easily be covered in brackets-electron since these are already existing Electron APIs. Right @zaggino ?

[2016-10-05 20:28] s7aesis commented on #11826
I had this problem on 1.7 constantly. I haven't seen the behavior again since getting 1.8 two days ago.

[2016-10-05 20:47] zaggino commented on #12788
I think it's the almost same thing as doing `window.print()` in regular shell, you'd still need to play with print media queries to get a nice output out of it.

[2016-10-05 23:18] kaimdx opened #12815 "Feature suggestion - 'reverse live view': link from browser to editor"
### Description

I know with live view the part of the webpage that is being changed in the editor is highlighted in the browser. It will be very handy if the reverse also works: click somewhere in the browser, the editor cursor jumps to where the corresponding HTML code is.

I found it easier to locate/find something, such as a paragraph or a title, in browser than in the editor. Also, you usuall

[2016-10-05 23:37] GreenCommunications opened #12816 "JS ajax responseText typo"
![eed189f0dd5270c53c671b1f1165f817](https://cloud.githubusercontent.com/assets/10868929/19135511/0e9d17c8-8b33-11e6-8d92-3a9809b74b56.png)

OS: Windows 10

Brackets: 1.7

[2016-10-06 00:29] mackenza commented on #12816
I am running from master and the typo does not exist there. Can you re-submit this issue using the issue template? That would give us useful information like what version you are running.

[2016-10-06 09:36] ficristo commented on #12816
This was fixed with the upgrade of Tern available in 1.8.

[2016-10-06 09:36] #12816 closed

[2016-10-06 10:28] ficristo commented on #12640
~~https://github.com/adobe/brackets-shell/pull/584~~
Merged

[2016-10-06 10:29] ficristo commented on #12640
https://github.com/adobe/brackets-shell/pull/585
https://github.com/adobe/brackets-shell/pull/586

[2016-10-06 19:01] ficristo commented on #12640
https://github.com/adobe/brackets-shell/pull/588

[2016-10-07 10:17] SebastianSlow opened #12817 "Code snippet"
Hello, I would be great if the Brackets had the option to create and store code snippets.

[2016-10-07 10:40] petetnt commented on #12817
Hi @SebastianSlow!

There's an extension for that! Check out https://github.com/jrowny/brackets-snippets. You can install it from File -> Extension manager.

[2016-10-07 10:40] #12817 closed

[2016-10-07 10:49] Ulver84 opened #12818 "Syntax error in live preview."
Hi,

I get a syntax error in a html file that is very basic/tiny. I have tried to reload Brackets without extensions and cleaned Live Preview Profile/Cache.

When I first activate live preview it works fine. As you can see in this video, it highlights where my cursor is, I can edit text and everything works fine, however as soon as I edit below the table, even pressing the space bar will produce a

[2016-10-07 13:05] petetnt commented on #10555
I'd love to see this feature in the core too. Tagging as starter bug.

[2016-10-07 16:56] ficristo commented on #12818
Could you share s minimal snippet of code to reproduce? Thank you.

[2016-10-07 19:09] ficristo commented on #12640
There are still some problems, but at least now I can run the application on Linux with the latest CEF.
https://github.com/adobe/brackets-shell/pull/589

[2016-10-08 08:05] Ulver84 commented on #12818
Of course :) Link to the folder is here:
https://www.dropbox.com/sh/7z0ce0yzph1vsvk/AABw3vYJUyYNEnd_21Gs-WW1a?dl=0

And a jsfiddle here
https://jsfiddle.net/qgL118ye/

[2016-10-08 10:09] mandar262 opened #12819 "Extension installation faied"
I was installing the extension from the following link [Link to package]
(https://github.com/thehogfather/brackets-code-folding)

but it gave following error

![capture](https://cloud.githubusercontent.com/assets/20091634/19212365/3c0e028a-8d6d-11e6-88ed-d4357de35489.JPG)

where will i find dissabled extension folder or uninstall it

[2016-10-08 10:51] petetnt commented on #12819
Hi @mandar262,

the code folding extension is now in the Brackets core, so the extension isn't needed anymore.

The disabled folder is under

- Mac: ~/Library/Application Support/Brackets/extensions
- Win XP: C:\Documents and Settings\<username>\Application Data\Brackets\cef_data -- (aka %appdata%\Brackets\)
- Win Vista/7/8/10: C:\Users\<username>\AppData\Roaming\Brackets\-- (aka %appdata%\Bracket

[2016-10-08 10:51] #12819 closed

[2016-10-08 17:49] montagnez commented on #11141
Resolve the problem :

1 - go to : AppData\Roaming\Brackets\extensions\user\FolderExtention

2 - Go to newtondark.css for example for me.

3 - add this line :

.CodeMirror {
line-height: 1.6;
}

4 - Be happy !

[2016-10-08 17:52] MiguelCastillo commented on #11141
https://github.com/MiguelCastillo/Brackets-LineStyle

[2016-10-08 19:31] petetnt commented on #12818
Off topic, but as a cat owner I love that website 😻

[2016-10-08 23:51] theksmith commented on #12779
+1, please make completely disabling the left panel an option for those of us wanting a simple tab based experience

[2016-10-09 08:16] Ulver84 commented on #12818
Haha thank you, cats are the best aren't they 😄

[2016-10-09 14:48] Ollie-w opened #12821 "Add CSS grid properties for syntax highlighting & auto-complete"
CSS grid has reached candidate recommendation stage. Its time to add its syntax for those of us who are using it already.

[2016-10-09 18:14] ndabAP commented on #11111
Still not working.

[2016-10-09 20:32] garrett85 opened #12823 "custom indentation"
I would like to be able to customize whether or not brackets uses space or tabs when pressing space. And to matter which one it uses I would like to be able to customize the number of columns in the tab or spaces if it's inserting spaces. And I'd to be able to have a different configuration for different file types. I use different indentation on my python programs than I do just about everything

[2016-10-10 00:16] redmunds commented on #12823
You need to manually edit your brackets preferences json file to specify those settings per language. For example:

[code]

Note that you can set preferences globally or per project.

[2016-10-10 07:34] petetnt commented on #12821
Fixed in #12822 👍

[2016-10-10 07:34] #12821 closed

[2016-10-10 15:57] kellyking commented on #12779
theksmith - I think you misunderstood my request. I don't want to completely disable the left panel. I only want to remove the Working Files Panel from the left panel. I want to keep the project folder tree.

[2016-10-10 16:07] garrett85 commented on #12823
Thanks. I didn't know that.

[2016-10-10 17:26] #12823 closed

[2016-10-10 18:43] theksmith commented on #12779
@kellyking - sorry about that. i'll open a different issue for my feature request.

[2016-10-10 19:00] petetnt commented on #12779
@theksmith have you noticed that you can hide the sidebar with Shift + CMD + H (or View -> Hide Sidebar)? You can use that together with various of the tab based extensions 👍

[2016-10-11 07:22] danvim opened #12825 "Touchpad Scrolling only gets converted to up key and down key in Code Mirror and doesn't work elsewhere"
### Description

When using a laptop with multi-touch, gesture scrolling gets converted to up arrow and down arrow.

### Steps to Reproduce

1. Use a laptop with touchpad scrolling support
2. Attempt scrolling in Code Mirror
3. Attempt scrolling in sidebar

**Expected behavior:**

The elements scrolls.

**Actual behavior:**

The cursor quickly runs up and down in Code Mirror and scrolling does not

[2016-10-11 11:49] corfeur12 commented on #12792
I have been having this exact same problem too, but it has not stopped for me. I am using Windows 10 Version 1511 (OS Build 10586.589) on a 64bit processor.

[2016-10-11 12:47] GalawynRM commented on #12713
I'm pretty sure is related to Icon^M file on the folder.
I'm currently using an extension to filter out Icon files, waiting for 1.8 fixes

[2016-10-11 13:08] petetnt commented on #12713
@GalawynRM, this has already been fixed in the master branch (https://github.com/adobe/brackets/pull/12807), not quite sure if it landed to the pre-release but should at least be in 1.8 that should be coming out by the end of the month.

If you want to use the master meanwhile, see the article [How to hack on Brackets](https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets) to get started

[2016-10-11 13:08] #12713 closed

[2016-10-11 17:52] ficristo commented on #12792
@corfeur12 have you tryed `File \ Open Recent Files...`  and then press the `Clear` button?
I don't think it is a real fix, but as a temporary workaround could help.

[2016-10-11 18:37] ficristo commented on #12814
While I agree, I think Adobe should upload a CEF for Windows 64-bit first. Then probably there is some work to do, as you already found.
If you really need a 64bit Brackets you can try https://github.com/zaggino/brackets-electron/

[2016-10-12 05:49] corfeur12 commented on #12792
@ficristo I have just done that and it seems to have fixed it, thank you

[2016-10-12 12:41] Slayerxy opened #12826 "Unable to create new file/directory on Brackets Ubuntu (error NotReadable)"
Hello
I'm using Brackets on Ubuntu 16.04 and when im trying to create a new file or directory within an existing project i keep getting "An error occurred when trying to create the file (error NotReadable)"

thou my server testing root folder and sub folders are owned by the current user
nabil@nabil-Vostro-1015:~$ ls -l /var/www/introductionphp/
total 44
drwxrwxrwx  5 nabil nabil 4096 Oct 10 22:19

[2016-10-12 14:56] #12502 closed

[2016-10-12 16:10] rbuk commented on #12818
Joined GitHub _just_ to say I'm also having this issue! It's heartbreaking, I was beginning to fall in love with Brackets!

[2016-10-13 00:38] zaggino commented on #11111
Linux users are encouraged to try out electron build for the time being -> https://github.com/zaggino/brackets-electron/releases

[2016-10-13 09:18] wilfordw opened #12831 "Project-level preferences do not work"
### Steps to Reproduce

1. Follow[《How to Use Brackets》](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets)
2. create a `.brackets.json` in the root of my project
[code]

**Expected behavior:** font size of files in my project should change to 14px and jslint work for `node.js`

**Actual behavior:** nothing happened when I saved the json file, but it worked well when i did the same change

[2016-10-13 09:37] ficristo commented on #12831
I suppose you written a valid json, right? What you have is not (note the last trailing comma).
In the template issue it is aked if you see any error in Developer Tools, is there one?

[2016-10-13 10:04] vince1995 opened #12832 "Toogle-Code-Block-Button doesn't work sometimes"
### Description

Sometimes the toggle button to hide or show code blocks doesn't work correctly. When I open a code block the button doesn't switch.

Here a picture of the issue:

![image](https://cloud.githubusercontent.com/assets/15120985/19344917/6cb390bc-913c-11e6-83ba-36732b81183d.png)

And how it should be:

![image](https://cloud.githubusercontent.com/assets/15120985/19344932/806e64f6-913c-

[2016-10-13 10:19] wilfordw commented on #12831
@ficristo I copyed all the context from User-global preferences in `brackets.json`,but` .brackets.json` even didn't work,and there are no error in Developer Tools,So it's hard for me to find the way to resolve it.
And i want to find someone who had the same problem as my then had resoved it.

[2016-10-13 13:24] SpeedyTechie commented on #11566
I had a similar issue running Brackets on Windows. I found that it was because of the large number of files in my project (primarily because I was using gulp.js and there was a large 'node_modules' folder in the directory). I solved it by using this extension to exclude my 'node_modules' folder when opening the project: https://github.com/zaggino/brackets-file-tree-exclude.

This may or may not be

[2016-10-13 13:42] SpeedyTechie commented on #12832
I have this problem as well. I most often encounter it when dealing with large SVG files, but I haven't been able to consistently reproduce it either. Also on Windows 10 and Release 1.7 build 1.7.0-16898. If/when I encounter the issue again, I'll report more details.

[2016-10-13 16:55] redmunds commented on #12831
@wilfordw There is a JSON Lint extension that will report this error.

@ficristo I have seen many others fall into same trap. Would be nice if Brackets would write an error to console when parsing any preferences json fails.

[2016-10-13 17:03] ficristo commented on #12831
@redmunds I think would be even better having a json linter in core.
And more better our json files should not be strict json, they should support, for example, comments in them. Something like gyp file which support also trailing commas.

[2016-10-13 17:03] fankee commented on #11416
Hi,
I made a change in [this line](https://github.com/adobe/brackets/blob/master/src/widgets/Dialogs.js#L167), and now when you type inside the search box it doesn't close. However, the main extension manager dialog box is still closing.
Am I on the right track?

[2016-10-13 17:12] ficristo commented on #11416
Yesterday I took a look and come to similar conclusion: replacing `$primaryBtn.click();` with `return true` seemed to fix the issue (at least for Theme dialog).
I don't know if it is right maybe @zaggino know/remember why is there that line.

Keep in mind there are already a couple of people looking at this issue.

[2016-10-13 17:16] ficristo commented on #12832
This is already fixed by #12521
Can you try a prerelease to see if you still hit?

[2016-10-13 17:28] SpeedyTechie commented on #12832
Okay, first I confirmed that the issue I was seeing was related to deleting lines of code above the folded section, which it was. I installed Release 1.8 build 1.8.0-17080 and can verify that the problem no longer occurs. Can't speak for @vince1995, but this takes care of it for me.

[2016-10-13 17:39] ficristo commented on #12832
@SpeedyTechie thank you.
@vince1995 if you still have this problem with 1.8 prerelease could open a new issue? Thank you,

[2016-10-13 17:39] #12832 closed

[2016-10-14 07:01] Ulver84 commented on #12818
I tried with Brackets 1.8 today, but the problem persists. Is there anything I can do to help troubleshooting?

[2016-10-14 07:21] idphobia commented on #11826
can not believe this issue is not fixed over a year, 1.5 not working, 1.6 not working, 1.7 not working, 1.8 not working

[2016-10-14 10:12] wilfordw commented on #12831
i have made a stupid mistake!!!
**root of my project means the folder opened by Brackets**. But I create `.brackets.json` in the sub folder of the root,so the preference didn't be loaded.

[2016-10-14 10:13] #12831 closed

[2016-10-14 14:53] hadome opened #12833 "Brackets does not open any file after the ?Icon-File from Mac in the file tree"
Hello,
I have got a problem: Brackets does not open any php/image/… files below the "Icon?“ file from Mac.
I run Brackets without any Plugins.

System: macOS sierra
MacBook Pro 13“ 2015
Brackets: 1.7.0-16898

Thank you for reading.
hadome

[2016-10-14 15:00] petetnt commented on #12833
Hi @hadome!

I think this too is fixed with #12807.

Could you try the latest master? See [this article](https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets) for instructions.

[2016-10-14 15:25] redmunds commented on #12831
@ficristo

I'm ok with that as long as user has a way to disable it.

Totally agree.

While I agree, with both of those suggestions, they won't catch all cases, so errors should still be written to console.

[2016-10-14 17:00] ficristo commented on #12831
@wilfordw happy to hear you found the problem.

@redmunds you are right about the extension. I'll open a new issue about the general problem.

[2016-10-14 17:50] ficristo opened #12834 "Write json errors on console"
### Prerequisites

* [x] Can you reproduce the problem with `Debug \ Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wik

[2016-10-14 22:19] zaggino commented on #11826
This is how you launch Brackets from the source: https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets

It'd be useful if you could debug what is causing your problem, it's very hard to fix problems which are not happening on every machine and are specific to system configuration, extensions, etc.

[2016-10-14 22:27] vankasteelj commented on #11826
I'm repeating what I said a year ago, it isn't linked to extensions. System configuration might be on point, but I doubt it, it rather seems linked to the workflow and type of projects : I'm confident anybody can reproduce this, if they use they application daily, for production.

[2016-10-15 06:14] zaggino commented on #11826
@vankasteelj I've found one case which I could replicate and fixed that in master. It's available in 1.8 pre-release or brackets-electron 1.8.4 . Unless someone actually contributes with a scenario how to replicate this with 1.8 or debugs this issue on his machine, this won't move anywhere.

[2016-10-15 23:15] vahid-sanati commented on #11826
I just faced a scenario that may help finding the source of this issue. I was working on a file and had some custom regions of my code folded. I hit the save button and all my foldings expanded right after. Then I checked and yes, there was no undo anymore. It seems like file is closed and reopened. because closing the file makes custom folded areas reset for me every time (don't know if it is a b

[2016-10-16 01:24] ingorichter commented on #12010
I don't have access to the machine anymore. Otherwise I could have a look

[2016-10-16 07:02] nmaxcom commented on #11625
This seems to be happening again

[2016-10-16 10:04] Gascony commented on #12482
I have similar issue, would like to be able to make the sidebar taller so to speak.
There is so much space one could use in height on the sidebar but it is not possible. (unless I have missed something)

![screen shot 2016-10-16 at 12 03 20](https://cloud.githubusercontent.com/assets/15771476/19416731/99b64ac4-9398-11e6-90b3-92118624544c.png)

[2016-10-16 11:05] ficristo commented on #12482
@Gascony if you look at extension manager, there are a couple of extensions that make the working panel resizable.
For example `Resize Working Files`

[2016-10-16 11:10] ficristo commented on #12833
@hadome

If you are running from source, the fix should be already included.

[2016-10-16 11:12] Gascony commented on #12482
@ficristo Thank you very much, that made life little easier. ^^

[2016-10-16 11:44] CodeGenTeam opened #12835 "How to change cache path"
C:\Documents and Settings\<username>\Application Data\Brackets\cef_data -- (aka %appdata%\Brackets\cef_data

How to change to folder brackets, I have portable on flash drive?

[2016-10-16 13:57] petetnt commented on #12834
Why don't we just use JavaScript files as configuration objects?

- Linted automatically
- Shows errors in console
- Has comments
- Easily configured
- Familiar syntax
- Backwards compatible with the `json` notation through `JSON.parse()`

[2016-10-16 23:37] zaggino commented on #12834
+1 for errors in the console

[2016-10-16 23:47] zaggino commented on #11826
Yes, @vahid-sanati what happens in latest master is that something external (or an extension using external approach) modifies the file after it's being saved by Brackets. It is in steps like this:

1) Brackets saves a file.
2) Someone (extension, external program) picks up save event and modifies the file (for example whitespace cleanup, making line-endings consistent, whatever)
3) Brackets get n

[2016-10-17 00:55] KhalitovAdel opened #12836 "How can I install BRACKETS to CentOS 7?"
I know how can i install the brackets on ubuntu (https://launchpad.net/~webupd8team/+archive/ubuntu/brackets).
But I need to install brackets to CentOS 7. How can I do it?

[2016-10-17 01:10] zaggino commented on #12836
Try AppImage from https://github.com/zaggino/brackets-electron/releases

[2016-10-17 01:36] KhalitovAdel commented on #12836
Well, how can I set my Brackets on the CentOS, and to automatically update itself?

[2016-10-17 01:45] zaggino commented on #12836
Docs about AppImage and how to install it are available at http://appimage.org/
Currently, there's no auto-update feature but you'll get a notification in the application when you can download a newer version (check repeats every 24 hours)

[2016-10-17 09:25] vince1995 commented on #12832
I've installed 1.8 now. When I get the problem, I'll open a new issue.

Thank you.

[2016-10-17 10:22] vahid-sanati commented on #11826
well good news. I finally got a situation that this issue always was happening. then begin testing my extensions one by one and find out by disabling an extension named [CloseAllOpenFiles](https://github.com/kaala/brackets-openedfiles) the problem is not happening.

I tried to debug the extension and find the line `AppInit.extensionsLoaded(removeViewState);` was causing the problem. but the intere

[2016-10-17 10:56] zaggino commented on #11826
Thanks for the effort @vahid-sanati ! I'll have a look at that extension as soon as I can to see if it's something that we can fix in the core.

[2016-10-17 17:57] ficristo commented on #12835
AFAIK your use case is still not supported.
There was a card on trello: https://trello.com/c/sHyY0KlB/1003-portable-build

Maybe [brackets-electron](https://github.com/zaggino/brackets-electron/) could help here, @zaggino WDYT?

[2016-10-17 18:06] ficristo commented on #12825
Just in case, could you try to reproduce on CodeMirror site? https://codemirror.net

[2016-10-17 18:10] ficristo commented on #12826
If you use another editor what happen? Can you write the file?

Lately my usual advice for Linux user is to use [braclets-electron](https://github.com/zaggino/brackets-electron/): it has better support for Linux and maybe it will fix your problem

[2016-10-17 19:35] lukaskadan opened #12838 "suggested feature: suggest defined class in css"
### Description

suggested feature: suggest defined class in css

Once you defined a class in html it could be a useful feature to suggest this class in the css document when you start typing a dot. This feature would reduce broken code because of typing errors.

### Steps to reproduce

1. define class in html
2. refer to a class in css

**Expected behavior:**

3. suggest defined class(es) from th

[2016-10-17 19:46] CodeGenTeam commented on #12835
I found some little solution, create .bat file, inside reset path:
SET CURRENT_FILE_PATH=%~dp0
SET APPDATA=%CURRENT_FILE_PATH%\Brackets\User\AppData\Roaming
SET USERPROFILE=%CURRENT_FILE_PATH%\Brackets\User
start Brackets\Brackets.exe

But It's not correct, bcz any action, which will be address to APPDATA or USERPROFILE will be write to there, but it's not big problem. Node_nodules, for example, w

[2016-10-17 20:12] redmunds commented on #12838
There's an extension called "Brackets CSS Class code hint" that does this. Maybe some others.

[2016-10-17 22:28] xavierocampos commented on #12779
Although I am in favor of freedom of expression, I must also make use of my freedom of expression to be completely against this request. Just one of the reasons why I feel so comfortable Brackets by the Working File is instead of using Tabs. If you do not like to work, there are plugins that can fix it, but I am against removing an option that many of us like it is.

[2016-10-17 23:44] zaggino commented on #12779
@xavierocampos this is certainly not about changing the default look and feel of Brackets, it's only about adding an ability/option to hide working files section for those who don't use it

[2016-10-18 03:02] danvim commented on #12825
@ficristo The CodeMirror demos scrolls normal. Meaning the cursor stayed where is was and the bar scrolled.

[2016-10-18 03:09] danvim commented on #12825
Here's the gif for context. Please note I'm only using the scrolling gesture on my laptop. And the same effect is shown in Inspector.

![getting-started](https://cloud.githubusercontent.com/assets/5255292/19463005/1f0d17ee-9523-11e6-8dcf-99240df54b39.gif)

[2016-10-18 03:15] wilfordw commented on #12779
+1  "Working Files" is the tab for Brackets.but sometimes it makes left panel not convenient for use,since too many works have been opened.So a trigger for "Working Files" is neccessary!

[2016-10-18 06:08] zaggino commented on #11416
See https://github.com/adobe/brackets/commit/046aa948f4110d540d554e7085bf1040510e3345

It's like this, you hit enter:

If you're focused on a button, click that button
Else click primary button (in this issue, closes the dialog which is what we don't want)

Solution is simple, you need to add one condition there:

If you're focused on a input `e.target.tagName === "INPUT"`, don't do anything

[2016-10-18 06:27] probonopd commented on #12836
@zaggino check [AppImageUpdate](https://github.com/probonopd/AppImageKit/blob/master/AppImageUpdate.AppDir/README.md)

[2016-10-18 08:42] sahildua2305 commented on #11416
Thanks for the pointer @zaggino

I have created a PR to fix the issue. Please review it :)

[2016-10-18 09:42] swmitra opened #12840 "Release 1.8 Tasks"
### Tasks in Development
- [X] [2 days before] Review bugs open to the current milestone @swmitra
- [X] All new open bugs have been reviewed @swmitra
- [X] [2 days before] Notify committers of impending merge of master into release branch @nethip/@swmitra
- [X] Notify ALF Team that we have reached String Freeze: `DL-Brackets-IQE` @saurabh95
- [X] Merge master to both release branches @swmitra
- [X

[2016-10-18 13:23] Slayerxy commented on #12826
first of all thank you for taking the time to respond to my qst
i've tried Netbeans IDE 8.2 and im still getting the same result
![screenshot from 2016-10-18 14-22-13](https://cloud.githubusercontent.com/assets/22792488/19479388/5db0bc2e-953e-11e6-87b0-44b640400115.png)

[2016-10-18 13:54] designcise commented on #11113
So I was finally able to figure out what's going on. Upon saving, collapsed code-folds automatically expand which is why it appears that the document scrolled to the top.

[2016-10-18 15:31] #12398 closed

[2016-10-18 15:35] lukaskadan commented on #12838
thank you!

                      Lukas Kadan
Grafik- & Kommunikationsdesign
visual communication design
Lukas.kadan@gmail.com
+43 6 80 20 7 13 77

2016-10-17 22:13 GMT+02:00 Randy Edmunds <notifications@github.com>:

[2016-10-18 16:44] kellyking commented on #12779
@xavierocampos I think you also misunderstood my request. I don't want to completely remove the left-hand panel - only the 'Working Files' section. There isn't currently a plugin that will do this.
I agree with you, that using Tabs is not a workable option; which is why I prefer the project tree.

[2016-10-18 16:55] #11416 closed

[2016-10-18 16:55] petetnt commented on #6904
Fixed in #12839

[2016-10-18 16:55] #6904 closed

[2016-10-18 17:20] MiguelCastillo commented on #12779
@kellyking I found working files a bit annoying when new files were open because it cause the tree to move...  That - for whatever personal reason - bothered me.  So I created https://github.com/MiguelCastillo/Brackets-WorkingFiles.

I am sure we can make some arrangements there to optionally hide it.  Interested in a PR?

[2016-10-18 17:45] ficristo commented on #12398
Hi @TheNemus,
if you were able to fix the problem could you share your solution? It could help other users.
Thank you.

[2016-10-18 18:00] ficristo commented on #12826
I'm not really familiar with linux world, but it seems to me `var/www` folder needs a special treatment.
Looking around, maybe you could try something like `chmod -R 774 /var/www/introductionphp/` (if you already didn't of course).

To workaround your issue you could try to move your project in your `home` folder and create a symbolic link inside `var/www`: `ln -s ....`

[2016-10-18 18:11] ficristo commented on #12825
The only thing that come to my mind, this could be an issue with Chrome 49 used through [CEF](https://bitbucket.org/chromiumembedded/cef) by Brackets.
Did you try on Chrome?

If the issue is too annoying for you, you could try [brackets-electron](https://github.com/zaggino/brackets-electron/) to see if you can still hit this issue.

[2016-10-18 19:03] sahildua2305 commented on #11416
@petetnt I'd love to contribute more. Let me know if you know of a bug that you think will be good to solve to begin with. 😄

[2016-10-18 19:22] sahildua2305 commented on #11436
@petetnt I'd like to work on this. Can you provide some hint about how to get started with this?

[2016-10-18 19:42] petetnt commented on #11436
@sahildua2305 The search cache is initialized in [FindInFiles.js#L838](https://github.com/adobe/brackets/blob/f028b3ecdf2017498196f39ddbbe4a2364366c92/src/search/FindInFiles.js#L838) which calls `ProjectManager.getAllFiles` which calls [`ProjectModel.prototype.getAllFiles` here](https://github.com/adobe/brackets/blob/master/src/project/ProjectManager.js#L1369) which leads to the situation which @a

[2016-10-18 19:50] sahildua2305 commented on #11436
Not sure I understand it correctly. Where should the check (to find if file cache is already there) go?

[2016-10-18 19:52] petetnt commented on #11436
Not quite sure yet myself either 😹 I think the answer lies in either `FindInFiles` or `ProjectModel`.

[2016-10-18 19:54] sahildua2305 commented on #11436
Ok! I will look into it. Let me know if you find out something on this though. Thanks 😄

[2016-10-18 20:41] zaggino commented on #11113
@thehogfather ? is that possible ?

[2016-10-18 20:49] pabliqe commented on #11416
Thanks for taking care of this. 👊

[2016-10-18 20:52] thehogfather commented on #11113
This is possible if the document is modified in a different editor or in source control - and the original folded region becomes invalid. In that scenario, the intended behaviour would be to expand the invalid fold states. Another scenario would probably be a bug. @designcise If you can consistently reproduce this, please enumerate the steps required to reproduce and I will take a look.

[2016-10-18 22:07] designcise commented on #11113
@thehogfather the file is not edited in a different editor. I was able to reproduce it several times like so (but only for files with extensions '.js' -- although i've witnessed this behavior in other file types too):

- Make changes by typing in some code.
- Save File (by pressing CTRL+S).
- Undo those changes by pressing CTRL+Z on keyboard.
- Save File Again (by pressing CTRL+S).

You will then

[2016-10-18 22:18] zaggino commented on #11113
@designcise
1) can you share the project with us on github?
2) can you provide your health report? (help -> health report)

[2016-10-18 22:58] designcise commented on #11113
Help Report:

{
    "uuid": "769518fa-bf57-4376-9cee-4726d9f7109f",
    "snapshotTime": 1476830688523,
    "os": "win",
    "userAgent": "Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Brackets/1.8.0.0 Chrome/49.0.2623.110 Safari/537.36",
    "osLanguage": "en-US",
    "bracketsLanguage": "en-US",
    "bracketsVersion": "1.8.0-17080",
    "fileStats": {
        "openedF

[2016-10-19 05:28] arevalosoft opened #12841 "TODO list"
### Description

TODO list

It would be nice that Brackets has a "to do" list.  As a developer would be helpful since when I'm tired in the middle of the night, I would like to make some notes where I'm leaving the code... to continue later or so...  to keep track of the things one it's doing...  this is a good implementation of a TODO list, please take a look: http://docwiki.embarcadero.com/RADSt

[2016-10-19 05:47] swmitra commented on #12792
@zaggino @petetnt @ficristo I am pushing this issue to 1.9 milestone.

[2016-10-19 06:42] danvim commented on #12825
@ficristo Yes, as I have said in my first comment, I suspect the embedded Chromium is to blame because Google Chrome is totally fine.

[2016-10-19 07:31] swmitra commented on #12841
@arevalosoft 'task-list' brackets extension does similar thing and can be used to keep track of tasks project wise. Please have a look at this git repo https://github.com/ckip/brackets-task-list

[2016-10-19 07:36] swmitra commented on #12838
@lukaskadan Closing the issue as the requested feature is already available as an extension. Please reopen the issue if the suggested extension or none of the other available extensions offer the requested feature.

[2016-10-19 07:36] #12838 closed

[2016-10-19 07:37] petetnt commented on #12841
There's also https://github.com/mikaeljorhult/brackets-todo, which works great but could use some contributions on fixing deprecation warnings.

[2016-10-19 11:01] Slayerxy commented on #12826
Problem fixed, i tried "sudo chown -R nabil:nabil introducingphp/" and it did the job.

Thank you so much for your assistance

[2016-10-19 16:06] gultyaev opened #12842 "Windows 10 can't install extensions"
Hello! I have some problem with extensions install. When i install any extension or theme brackets show error "Install error. Server connection is impossible".

Sorry for my english.

P.S. On the Linux it works correctly.

[2016-10-19 16:51] arevalosoft commented on #12841
Thanks!

On Wed, Oct 19, 2016 at 1:31 AM, Swagatam Mitra <notifications@github.com>
wrote:

--
César Arévalo
+(506) 8704-6390

[2016-10-19 16:51] arevalosoft commented on #12841
Thanks!

On Wed, Oct 19, 2016 at 1:38 AM, Pete Nykänen <notifications@github.com>
wrote:

--
César Arévalo
+(506) 8704-6390

[2016-10-19 17:38] ficristo commented on #12825
You are right! Sorry.
Marking as `cef` to verify if an upgrade will fix.

[2016-10-19 19:44] efiator opened #12843 "How To Hack on Brackets"
The How to Hack on Brackets page seems to be missing some instructions for mac users who are running El Capitan. Below is a proposed update:

Before step 5: If you have node.js, then continue with the following steps:

If you don’t currently have node.js on your computer, you need to go here and download node.js : https://docs.npmjs.com/getting-started/installing-node

		Then follow the instructio

[2016-10-19 19:47] efiator commented on #12843
Or you can follow this url as well:

https://docs.npmjs.com/getting-started/installing-node

[2016-10-19 19:49] ceokzoo commented on #11821
I tried to recreate this issue and I didn't have any success. Can you elaborate on this issue? Or is it now working?

[2016-10-20 03:46] swmitra commented on #12841
@arevalosoft Closing this issue as the requested feature is available in multiple extensions.

[2016-10-20 03:46] #12841 closed

[2016-10-20 03:54] swmitra commented on #11625
Brackets extension registry is accessible.
@nmaxcom Can you please check and confirm, so that this issue can be closed?

[2016-10-20 06:20] Rufury commented on #12833
Just downloaded from brackets.io latest version and I have same issue.
Don't understand from the links above how should I fix it.

[2016-10-20 07:18] petetnt commented on #12843
Hi @efiator,

thanks for the heads up! I added `NodeJS` as an prerequisite to the guide, as it applies to all platforms now.

Feel free to reopen the issue or open new ones if you see other missing things 👍

[2016-10-20 07:18] #12843 closed

[2016-10-20 07:19] petetnt commented on #12842
Hi @gultyaev,

do you have `node.exe` shipped with Brackets allowed in your firewall settings?

[2016-10-20 07:55] zaggino commented on #12833
@Rufury new builds will be available in brackets.io in a couple of days hopefully

[2016-10-20 09:21] gultyaev commented on #12842
@petetnt
All requests allowed. I tried disable firewall and this changes nothing

[2016-10-20 09:23] petetnt commented on #12842
Do you see any errors other in `Debug -> Show Developer Tools -> Console-tab` or `Debug -> Show Developer Tools -> Network-tab` ?

[2016-10-20 09:30] gultyaev commented on #12842
![pic](https://cloud.githubusercontent.com/assets/22374911/19554380/ff306904-96c0-11e6-8f60-487604a508c8.PNG)
Is this we need?

[2016-10-20 10:32] nmaxcom commented on #11625
It did work the time I used, yes. Someone should look this intermitence
though.

Thanks

On Oct 20, 2016 05:54, "Swagatam Mitra" <notifications@github.com> wrote:

[2016-10-20 11:46] tobibeer commented on #12324
@benzen217, please reopen, it's quite untenable that in `1--foo` the bit that reads `--foo` is not shown as a comment. I don't know how this can be resolved but the issue remains.

[2016-10-20 17:33] mmcken3 commented on #12818
I downloaded the drop box code and reproduced the error as well. However, It is interesting because if you save and refresh the live preview it will update and tell you that there are no more syntax errors. But once you start editing again the issue persist. Trying to look into what is causing it now and try to replicate it with my own code. Let me know if there is anything else I could do to help

[2016-10-20 19:09] haslam22 commented on #12818
I downloaded and fixed the issue by closing the <li> tags in the <nav> element near the top. Anyone else willing to verify?

[2016-10-20 19:24] petetnt commented on #12818
@haslam22 oh, so this is a duplicate of #7257? It has a PR pending at #12057, which should be reviewed and rebased against master.

[2016-10-20 19:55] mmcken3 commented on #12818
I can verify @haslam22 remarks, looking at all the places I saw the issue, it was the missing optional tags of either li or p.

[2016-10-20 19:58] petetnt commented on #12818
Working on merging #12057 right now

[2016-10-21 07:55] 2015hzz commented on #10465
@Joepete ,thinks,work for me.

[2016-10-21 10:58] dr460neye opened #12845 "Scrolling with mousewheel while marking text is stuttering"
Issue:
Each time I select text at the End of an HTML File and start scrolling by mousewheel to the beginning the scrolling stutters. What do I mean by that? I do a 3 line scroll (Windows Default) by scrolling with the mouse wheel for one tick upwards. Now everything look fine. If I scroll up for another tick, I go 3 lines up and after this I scroll 1 line down automatically.

Environment:
Windows

[2016-10-21 16:31] ficristo commented on #12845
Since you mention smooth scrolling, could you try to start brackets with a commandline switch:
`Brackets.exe --disable-smooth-scrolling` to see if it fixes your problem?

[2016-10-21 17:29] DaAwesomeP opened #12846 "ES7 async and await keywords"
Brackets does not properly highlight the JavaScript ES7 `async` and `await` keywords, and the following line is highlighted incorrectly as well.

Release 1.7 build 1.7.0-16898 (release b0a363b71)
build timestamp: Wed Jun 08 2016 12:27:56 GMT+0100
Windows 10 Pro x64

[2016-10-21 19:25] kornfein opened #12847 "Files tree scroll bar almost impossible to see"
The left file tree scroll bar is very narrow and just slightly darker the background itself, This is in the brackets default (light) theme, the brackets default (dark) is a little better but i do not like the dark background in the editing area.  i tried a few other themes to no avail.
![brackets](https://cloud.githubusercontent.com/assets/5863663/19608972/690b18e2-97a2-11e6-9548-581609726478.png)

[2016-10-21 20:26] zaggino commented on #12846
Hi @DaAwesomeP

We're updating CodeMirror in soon to be released version 1.8

You can test the highlighting here https://codemirror.net/mode/javascript/index.html and if it's incorrect, open an issue with https://github.com/codemirror/CodeMirror

[2016-10-21 20:26] #12846 closed

[2016-10-21 22:05] DaAwesomeP commented on #12846
Yeah, the new CodeMirror version works as expected. Thanks!

[2016-10-22 12:27] gultyaev commented on #12842
Finally! I install extension! I just disable secure connections scanning in my AV.

[2016-10-22 12:27] #12842 closed

[2016-10-23 15:42] ficristo commented on #12640
https://github.com/adobe/brackets-shell/pull/591

[2016-10-23 15:51] KhalitovAdel opened #12848 "Bad head menu, how to fix?"
Why my menu drop down? How i can fix it?
![2016-10-23 18-49-45](https://cloud.githubusercontent.com/assets/5517534/19627536/120b1dda-995a-11e6-8f40-dcad631fde7c.png)

[2016-10-23 16:16] ficristo commented on #12848
Can you open `Debug \ Show Developer Tools` and eventually check what there is in the console?

That said usually, especially for Linux users, I advice to use [brackets-electron](https://github.com/zaggino/brackets-electron/) instead of Brackets.
Here https://nathanjplummer.github.io/Brackets/ you can see some known problems, brackets-electron fix most of them.

[2016-10-23 16:26] ficristo opened #12849 "Document workaround for ENOSPC error"
### Prerequisites

* [x] Can you reproduce the problem with `Debug \ Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wik

[2016-10-24 07:42] #12848 closed

[2016-10-24 08:32] arthur801031 commented on #10555
Hi @petetnt , Can I try adding this feature in the core? Thank you!

[2016-10-24 08:35] petetnt commented on #10555
@arthur801031 Sure thing!

See the article [How to hack on Brackets](https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets) to get started with the Brackets codebase. If you have any questions, feel free to post them here! We also have a [Slack channel](https://brackets.slack.com) for day-to-day communication. (You can join by sending a mail to admin@brackets.io with the subject line `sla

[2016-10-24 18:23] ingorichter opened #12852 "grunt build fails due to linting errors"
### Description

`grunt build` is failing due to 36 linting errors

### Steps to Reproduce

1. npm install
2. grunt setup
3. grunt build

**Expected behavior:** No linting errors

**Actual behavior:**
[code]
### Versions

OSX 10.11.6. Latest master of brackets

[2016-10-24 19:30] ficristo commented on #12852
I cannot reproduce on Windows 10 with:
`rm -rf node_modules/`
`npm install`
`grunt build`

`grunt setup` does not exist, is it a typo?

[2016-10-24 22:38] zaggino commented on #12852
`grunt setup` is from `brackets-shell` I think

[2016-10-25 10:36] swmitra commented on #12852
I am able to build brackets successfully. Will try it once more by syncing again.
@ingorichter Can you please let me know the set of files where eslint complains?

[2016-10-25 17:19] mmcken3 commented on #12815
I am also not sure if this is mentioned anywhere else in issues. I checked and could not find it. But, I think this update could be pretty useful for larger pages and would get behind trying to get that set up.

[2016-10-25 20:08] #7257 closed

[2016-10-25 20:08] petetnt commented on #12818
Fixed in #12057

[2016-10-25 20:08] #12818 closed

[2016-10-26 01:47] arthur801031 commented on #10555
Hi @petetnt  I've added this feature in the core. Please let me know if I need to make any changes. Thank you very much.

[2016-10-26 14:07] dancingfrog commented on #10789
Debug > Reload Without Extensions...

It's not cause by any extension, but is definitely related to the number of files that Brackets tries to index when activating the "Find/Replace in Files" feature

Brackets version Release 1.3 development build 1.3.0-0
Windows 10

[2016-10-26 18:03] ficristo commented on #10789
@dancingfrog can you try again with 1.7?

[2016-10-26 19:51] caleb87 commented on #12617
This also happens to me several times per day. I'll try to get a log posted.

[2016-10-27 17:48] ficristo opened #12857 "Proposal to switch to another shell (electron)"
The reasons of this proposal are:
- **maintenance**: is quite high, especially if we think about the features that are in electron but not in brackets, it can be only higher. Probably we will need to replace GYP with GN since CEF is switching to it
- **theme**: let's say the truth, the dark theme is only truly supported on macOS. On Windows 10 is not right and on Linux there isn't
- **features**:

[2016-10-27 22:14] ingorichter commented on #12852
My fault, `grunt setup` is definitely wrong for the `brackets` repo.

Here is the list of files where eslint chokes
[code]

[2016-10-27 22:16] ingorichter commented on #12852
ok, I figured what it was. These are all leftover files from a rename. Their parent folder is `package` but now the folder name is `node`.

Closing this issue. Thanks for trying to repro.

[2016-10-27 22:16] #12852 closed

[2016-10-28 07:57] petetnt opened #12859 "SpecRunnerUtils#SimulateKeyEvent should support modifier keys"
### Prerequisites
- [x] Can you reproduce the problem with `Debug \ Reload Without Extensions`?
- [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
- [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?
### Description

There's a long running TODO in the SpecRunnerUtils here: https://github.com/adobe/bracket

[2016-10-28 08:36] petetnt commented on #10555
Fixed/added in #12853

[2016-10-28 08:36] #10555 closed

[2016-10-28 21:48] vahid-sanati commented on #11826
Using the latest 1.8 release and the problem still there. I Can now reproduce the problem even without any extension installed! seems like it's getting worse by each update! I've spend my entire day to find what is causing this and what I find out is:

1. the problem happens only to files that are inside a folder in the project root. the files that are in root folder are OK!

2. If you make change

[2016-10-28 21:58] vankasteelj commented on #11826
I encountered the issue with the undo history again twice today, but I cannot reproduce it using your described method.

[2016-10-28 22:47] thany commented on #11826
I say **postpone 1.8 until this is resolved**

This issue has been going on for WAAAAAAAY too long, and causes loss of work, happens across all platforms, across many different types of users, and therefor should ab-so-lute-ly be fixed before any release.

[2016-10-28 23:02] tonybrasunas commented on #11826
Have to agree with @thany here. I use brackets daily and generally love it.
But this issue needs to be fixed. It's got me on the edge of switching
editors numerous times. Don't need or care about a new version until this
is fixed.

On Fri, Oct 28, 2016 at 3:48 PM, thany <notifications@github.com> wrote:

--
______________________________
Tony Brasunas // Senior Software Engineer
O 510-740-2766
C 4

[2016-10-28 23:42] zaggino commented on #11826
I don't understand how postponing 1.8 would help. We fixed at least one scenario of this in 1.8, although it's quite clear that not all. I've tried steps by @vahid-sanati and I can't replicate this on two windows 10 machines that I daily use. I can guarantee that if we'd be able to replicate this, it'd be fixed shortly after.

[2016-10-28 23:47] vahid-sanati commented on #11826
I tried that method in my lap top which is windows 10 32 bit and like you said the problem didn't show up. but somehow that steps produce the problem in my desktop pc. my guess is that 2 events are firing in the same time and on the low end systems there is enough delay to do the job properly and in high end systems it happens too fast and they interact with each other. believe me I faced this iss

[2016-10-29 01:01] Madebym opened #12860 "How to get/apply a bolder font version"
I just can't get bold fonts to show in Brackets. For example, I have Fira Mono, Input Mono, Mononoki, all in bold versions installed on my computer(Win10 64bit).

I tried all possible word combinations, none of them displayed that particular font(via change font in view>themes). What is the correct way of writing font family?

Btw. I have no such issues on other editors.

[2016-10-29 02:55] thany commented on #11826
Postponing 1.8 gives you (as the developers) an incentive to get this problem fixed for one. Also it's a problem more than bad enough that it MUST NOT occur in the next release. It's too critical. As a result, you may loose even more users to Atom.

Put simply, you can't afford to have this bug in 1.8.

[2016-10-29 05:36] designcise commented on #11826
i too would agree on postponing 1.8 till this bug is fixed because this is by far the most critical bug, and I too have witnessed it on a number of occasions. Although I have not been able to successfully reproduce it, I was able to notice that it had something to do with code-folding; at certain occasions while saving, all folded panes are unfolded and the ability to undo is lost. Once it happens

[2016-10-29 08:06] vahid-sanati commented on #11826
@designcise It is not related to code folding. It reads file from disk again and that's what makes folded areas expand as well as undo lose. Your description of problem is very similar to mine. maybe you can reproduce the problem with steps I wrote few comments above!

[2016-10-29 13:28] vankasteelj commented on #11826
All I can add right now, is that it happens while working, which means:
- in-file research
- project search
- undo/redo
- git commit, from console

@zaggino maybe you could release a special patch with a lot of logging from history, this way when the issue happens again, I can check the console for complete information.

[2016-10-29 16:13] haslam22 commented on #12859
Am I right in thinking we need to pass the modifier arguments to these two methods?
[code]

[code]

So perhaps the fourth parameter could be a modifiers list, such as:  `modifiers : [ "Control", "Shift", "Alt" ]`, and then we could pass the values in the correct format, e.g. space separated list for initKeyboardEvent, or changing the booleans for initKeyEvent by checking the list for values?

[2016-10-29 19:12] petetnt commented on #12859
Not sure why those are there in the first place as they are deprecated from the spec 🤔 Nor I am sure if we could require all those hacks anymore either.

IMHO it could just use [KeyboardEvent constructor](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/KeyboardEvent) and the last parameter could/should just be an object containing all the values acccepted by the `KeyboardEventInit`

[2016-10-29 19:55] Denisov21 commented on #12847
+1

[2016-10-29 19:56] Denisov21 commented on #12814
+1

[2016-10-29 20:57] tclzcja commented on #11984
Since the brackets-shell ticket has been merged, does that mean ESLint will be formally included in Brackets 1.8 release? Thank you!

[2016-10-30 07:48] ficristo commented on #12660
Please clarify what do you mean and then reopen.

[2016-10-30 07:48] #12660 closed

[2016-10-30 07:49] ficristo commented on #12591
#10574 should be fixed in 1.8.
If that is not the problem you were seeing please reopen.

[2016-10-30 07:49] #12591 closed

[2016-10-30 07:50] ficristo commented on #12672
I close this as a dupe of #12794 which has a little more details.

[2016-10-30 07:50] #12672 closed

[2016-10-30 07:57] ficristo commented on #12457
I close this since we didn't hear back and because this problem is most likely an OS issue.

[2016-10-30 07:57] #12457 closed

[2016-10-30 07:59] ficristo commented on #12228
I wasn't able to reproduce on Ubuntu16.04.
I close this since we didn't hear back from you. If you still hit this problem please reopen after answering my question.

[2016-10-30 07:59] #12228 closed

[2016-10-30 08:00] ficristo commented on #12173
I close this since we didn't hear back from you.

[2016-10-30 08:00] #12173 closed

[2016-10-30 08:01] ficristo commented on #11867
I close this since we didn't hear back from you.

[2016-10-30 08:01] #11867 closed

[2016-10-30 08:02] ficristo commented on #12290
It seems to me an extension problem. I close this since we didn't hear back from you.

[2016-10-30 08:02] #12290 closed

[2016-10-30 08:03] ficristo commented on #11449
I assume this is a dupe of #11341. I close this.

[2016-10-30 08:03] #11449 closed

[2016-10-30 08:04] ficristo commented on #11340
I close this since we didn't hear back from you.

[2016-10-30 08:04] #11340 closed

[2016-10-30 08:06] ficristo commented on #12714
I close this since we didn't hear back from you.

[2016-10-30 08:06] #12714 closed

[2016-10-30 08:06] ficristo commented on #12735
I close this since we didn't hear back from you.

[2016-10-30 08:06] #12735 closed

[2016-10-30 09:18] ficristo commented on #11984
@tclzcja no, that ticket is only about to use ESLint to lint brackets-shell code.
You will have still to use an extension for 1.8 for your code.

[2016-10-30 12:33] danicholls commented on #11867
I stopped using Brackets in the meantime.

[2016-10-30 16:11] petetnt commented on #10853
Revamped and fixed finally in #12861

[2016-10-30 16:11] #10853 closed

[2016-10-30 19:42] haslam22 opened #12862 "Copy/paste doesn't work, and tests hang? Latest master (Windows 10)"
### Prerequisites

* [X] Can you reproduce the problem with `Debug \ Reload Without Extensions`?
* [X] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [X] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wik

[2016-10-30 19:56] ficristo commented on #12862
Hi @haslam22, since brackets 1.8 you need to have a newer version of the shell.
While waiting for 1.8 release you can use a prerelease: https://github.com/adobe/brackets/releases/tag/release-1.8-prerelease
This should solve your copy/paste issue.

Again, with 1.8 `npm install` is a necessary step to run but seems you have run it. 👍

Brackets test windows are known to have problems...
Running All /

[2016-10-30 20:04] haslam22 commented on #12862
@ficristo Ahh thank you. I had no idea what was going on but the 1.8 prerelease fixed the issues. I'll also be aware of the test thing. This can be closed whenever.

[2016-10-30 20:21] #12862 closed

[2016-10-30 23:53] vadi2 commented on #12508
Re-downloading and forcing a reinstall of the same 1.7.0-16898 version fixed the issue.

[2016-10-31 06:56] Ulver84 commented on #12818
Good to hear! =) I saw that the 1.8 pre-release was updated three days ago and was wondering if this fix was included, but I still experience the syntax error, so I guess it hasn't been included yet. I'm completely new to github (and coding in general), and was wondering if there was a way to see when a fix was pushed to a beta or pre-release version? Thank you.

[2016-10-31 07:09] petetnt commented on #12818
Hi @Ulver84,

due to the branching nature of `git` that is indeed a bit tricky.

You can try to see if a particular PR is included by

1. Cloning the whole repo `git clone https://github.com/adobe/brackets`
2. Checking out the tagged release `git checkout tags/release-1.8-prerelease`
3. Using `git log --grep='pull/12057/commits'` to see if the particular PR is included (will return nothing if not)

[2016-10-31 07:52] Ulver84 commented on #12818
I see, a bit more advanced than my current skill level 😄 Thank you still, I'll save those tips for when I become better.

I just tried to un-install Brackets and re-install the 1.8 pre-release, but I do still experience the issue.

Version is
Release 1.8 build 1.8.0-17101 (release 5651f1f26)
build timestamp: Wed Oct 26 2016 15:19:04 GMT+0100

I'm using the same code posted in the first post. I did

[2016-10-31 07:56] petetnt commented on #12818
Thanks for the information @Ulver84, I'll try and come back to this issue ASAP and see if I am able to reproduce it on 1.8 prerelease.

[2016-10-31 07:57] Ulver84 commented on #12818
Uh! I think I'm on to something. I might be a simple PEBKAC error (or error 40 as we call it here). I'll test some more! :)

[2016-10-31 08:09] Ulver84 commented on #12818
My bad, I thought it was a user-error for a second. I noticed that it said "syntax error" immediately, when I typed the < sign and the tag was unfinished, but then it disappeared when I closed the tag. But then I still got a syntax error when I added a <br> further down on the page. I can't see the error and it is W3C validated, so I assume there are no unclosed tags and such, and I can't see anyo

[2016-10-31 08:36] Ulver84 commented on #12818
Now I actually think that I worked it out. I noticed in the video, that I was editing in Firefox. I got some live-preview errors in Chrome at one point, while Firefox was working, so I switched. But just now I disabled experimental live-preview and switched to Chrome again, and now the syntax error is gone. I have tested a bit and I can't reproduce the error anymore, so I think that was the culpri

[2016-10-31 08:40] petetnt commented on #12818
👍  Great that you got it figured out. Feel free to open a new issue / post in this one if the problem comes back.

[2016-10-31 08:55] zaggino commented on #11826
@vankasteelj and others
if you're able to run from source (guide to that here https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets) you can just edit the source and put some console logging into the `Editor.prototype._resetText` function. See my PR here: https://github.com/adobe/brackets/pull/12681/files which fixed the events when file was reset with the text having the same value as th

[2016-10-31 11:24] Ulver84 commented on #12818
It has come back with a vengeance it seems :( It has happened twice, and after the first syntax error I decided to start from scratch and record my work. I'm doing a tutorial on CSS with html and CSS code provided by the teacher. The html copied from codepen has some white space when copied to Brackets. When I removed it the syntax error occurred.
https://youtu.be/FidCGSJwN38?t=8m25s

[2016-10-31 15:30] haslam22 commented on #12859
I think the hacks are still required, for some reason it's still impossible to pass `keyCode`, `which`, and `charCode` properties into the KeyboardEvent.

Here's the method updated to use the new KeyboardEvent constructor like you suggested, having the fourth argument be a KeyboardEventInit dictionary:

[code]

I've run the unit/integration tests and it seems to be all OK. Any thoughts, or should

[2016-10-31 17:36] petetnt commented on #12859
Sure, open a PR and we can work forward from there 👍

[2016-10-31 17:37] petetnt commented on #12833
@Rufury have you tried the new pre-release?

[2016-10-31 17:50] Rufury commented on #12833
@petetnt no, I don't use pre-releases usually, was waiting for full release update.

[2016-10-31 18:07] thany commented on #11826
Just remove ALL history nuking. Problem solved.

Having a bit too much history is a billion times better than losing all of it at unpredictable times.

[2016-10-31 18:25] vahid-sanati commented on #11826
@zaggino Well I have tested this log and result is interesting! I find out that this problem only happens when there is multiple lines in the file. when I write in just 1 line and save I can undo. but the moment i press enter and write anything and save the undo is lost. again delete and making the same file 1 line and save the undo is working! I think we've found the problem. it's the new line ch

[2016-10-31 18:29] petetnt commented on #11826
@thany That might sound like a good idea at first, but there's tons of situations where resetting the undo history is very much wanted effect, such as when files endures outside changes (and thus editor cannot be sure if the document history is valid or not). If losing the undo history sounds bad, try a situation where undoing actively destroys your document from unexpected places.

(For example,

[2016-10-31 21:14] vahid-sanati commented on #11826
guys I was right about the new line character! I played a little with this logging and this is my result:

I changed the the code @zaggino mentioned to this one:

[code]

and the result is interesting!

with this text in file:
[code]
the log is:
[code]

when entering one new line between 2 lines:
[code]
the log is:
[code]

and for 2 new lines:
[code]
the log is:
[code]

this is obvious that new li

[2016-10-31 21:42] vahid-sanati commented on #11826
**Found Solution!!!**
just modified these 2 variables in the `Editor.prototype._resetText` function and it totally fixed the problem.

added before any other code inside function:
`text = text.replace(/(?:\r\n|\r|\n)/g, "\r\n");`

and modified `currentText` definition to this one:
`var currentText = this._codeMirror.getValue().replace(/(?:\r\n|\r|\n)/g, "\r\n");`

Bye Bye undo reset!

Edit : The s

[2016-10-31 22:01] tonybrasunas commented on #11826
Bravo @vahid-sanati! Now let's see if this fixes the issue for others as well.

[2016-10-31 22:08] zaggino commented on #11826
So what we have here is that line-endings of the original file are different than line-endings that are put into the file, when save has been made. I think we can fix this quickly for 1.8 cc @ficristo @petetnt

[2016-10-31 22:24] petetnt commented on #11826
That's pretty interesting @vahid-sanati, great job. I always have normalized line-endings, which explains why I (and many others) never run into that particular issue.

Another fix for 1.8. sounds good to me, create a PR and aim it towards `release` branch.

Again, great job 👍

[2016-10-31 23:11] vahid-sanati commented on #11826
thank you @petetnt @zaggino and all other developers for your great application. I love brackets and I just didn't want to give up on it.
I'm glad I could help you fix this issue.

[2016-11-01 05:24] bstellar opened #12864 "folder tree not updating when creating or deleting a file"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug \ Reload Without Extensions`? yes
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported? yes
* [ ] Did you read the [Troubleshooting guide] (https://github.com/adobe/brackets/wiki/Troubleshooting)? yes

For more information on how to write a good bug report read [here](https://github.com/adobe

[2016-11-01 07:42] arthur801031 commented on #12486
Hi @petetnt  I would like to work on this. Do I add this to the core? Could you provide some guidance on how to tackle this problem? Thank you!

[2016-11-01 08:08] petetnt commented on #12486
The CSS code hinting is handled in https://github.com/adobe/brackets/blob/master/src/extensions/default/CSSCodeHints/main.js

The list of autocomplete values come from https://github.com/adobe/brackets/blob/master/src/extensions/default/CSSCodeHints/CSSProperties.json

I think @sprintr and @MarcelGerber have been working with CSSCodeHints the most lately, so they might be able to give out more spe

[2016-11-01 08:15] petetnt commented on #12864
Hi @bstellar, can you post the errors you see under `Debug -> Show Developer Tools -> Console`?

[2016-11-01 09:02] vankasteelj commented on #11826
Thanks ! I applied the [patch](https://patch-diff.githubusercontent.com/raw/adobe/brackets/pull/12865.diff) from the PR, let's give it a run on the next few days :)

[2016-11-01 09:42] vahid-sanati commented on #11826
@vankasteelj tested and works fine. the only minor issue that is remaining is when making multiple saves quickly, the message I uploaded its image in my previous comment shows up. It doesn't happen always but seeing it frequently since yesterday after normalizing line endings.
![cc089596-9fb3-11e6-9a80-4781db5ccbbe](https://cloud.githubusercontent.com/assets/19893777/19885609/ce28c752-a034-11e6-82

[2016-11-01 10:13] zaggino commented on #11826
@vahid-sanati that `external changes` dialog should be treated as a separate issue outside of this, please open a new issue and copy-paste there how you're able to replicate it, thanks

[2016-11-01 11:46] petetnt commented on #12860
Hi @Madebym,

the font families should be

- Quoted
- Written as they should be defined as a font family.

For example Fira Mono Bold should be `'Fira Mono Bold'`.

[2016-11-01 11:47] vahid-sanati opened #12867 "External change message shows when making multiple saves quickly"
When making multiple saves quickly after each other, this message shows up. It doesn't happen if there is more than 2sec delay between two saves but it's showing when making saves quickly. this started since #12865 after applying line ending normalization.

![cc089596-9fb3-11e6-9a80-4781db5ccbbe](https://cloud.githubusercontent.com/assets/19893777/19885609/ce28c752-a034-11e6-8217-544370e749b9.png)

[2016-11-01 11:52] petetnt commented on #12867
How many lines is `control.php`? I am bit worried about the O(n) nature of the RegExp replace in #12865.

[2016-11-01 11:56] vahid-sanati commented on #12867
@petetnt it's just 63 lines.

[2016-11-01 11:58] petetnt commented on #12867
Well that's very weird 🤔

[2016-11-01 12:00] zaggino commented on #12867
Can't replicate this on my (quite powerful) machine.

@vahid-sanati can you confirm that if you remove the fix in https://github.com/adobe/brackets/pull/12865, it stops?

It could be happening due to relatively slow operating system reporting file system changes in wrong order. You're running Windows, right @vahid-sanati ?

[2016-11-01 12:08] vahid-sanati commented on #12867
@zaggino yes I'm running windows 10 x64. That's weird! the message showed up even without the #12865 fix. I just noticed this issue after that fix and think that was the reason.

I think the event that listens to file change must be paused while brackets is saving the file and continue after save is completed.

[2016-11-01 12:16] vahid-sanati commented on #12867
when the message shows, if I select to reload from disk, the last change reverts back. maybe this give a clue to you.

[2016-11-01 12:46] zaggino commented on #12867
I believe it's basically this scenario:
1) you save a change A
2) FS notifies the file has been changed
3) Brackets read the file containing A
4) you save a change B
5) Brackets evaluate that A is different to B
The fix would be something of ignoring 5) if a save was done after 3)

[2016-11-01 12:50] vahid-sanati commented on #12867
sometimes it gets fixed by itself and never happens no matter how quick I save. and sometimes it starts happening again. but the strange part is when this issue was fixed the undo issue was fixed too. (using the one without #12865 fix). it has become completely random.

[2016-11-01 13:23] Madebym commented on #12860
@petetnt Thanks for the help, but that is the way I've been doing it, along with other possible combinations, e.g. `Fira Mono-Bold`, `FiraMonoBold`, etc.

It doesn't work. Nor with Fira Mono, Input Mono, or any other typeface I tried.

Are you able to display `Fira Mono Bold` written like this on your end?

[2016-11-01 13:31] vahid-sanati commented on #12867
found the situation that the problem is happening and not happening. when opening the file for first time or rename the project the problem is not happening for first time. after closing file and brackets and reopening the file, the problem begins happening. the same situation I described in undo issue before discovering new line.

[2016-11-01 14:38] redmunds commented on #12486
CSSCodeHints is for `property:value;` pattern, so pseudo-selectors may not be a good fit there. May want to split pseudo-classes & pseudo-elements off into a new extension similar to how HTMLEntityCodeHints is separate from HTMLCodeHints.

[2016-11-01 14:40] petetnt commented on #12486
@redmunds you are correct, sounds good to me.

[2016-11-01 14:46] ivmirx opened #12868 "macOS accessibility attributes are missing"
### Description

Brackets is not reporting its window information to macOS accessibility.

### Steps to Reproduce

1. run Accessibility Inspector from Xcode
2. focus Brackets window with an opened file

**Expected behavior:** all the attributes like Title, Document should contain values

**Actual behavior:** `<nil>` or `<empty string>` in these attributes

### Versions

macOS 10.11.6
Brackets Rele

[2016-11-01 15:37] dancingfrog commented on #10789
Same...
Release 1.7 build 1.7.0-16898 (release b0a363b71)
build timestamp: Wed Jun 08 2016 12:27:56 GMT+0100
Windows 10 Pro - 10.0.14393 Build 14393

[2016-11-01 18:12] mmcken3 commented on #12868
I can confirm that I have replicated and seen the same issue on Mac OS 10.10.5 and Brackets 1.7 version 1.7.0-16898.

[2016-11-01 18:22] mmcken3 commented on #12860
I am running a Mac OS 10.10.5 and I can get this font-family to work in Brackets. I am using it by editing the CSS element. So for example...

p {
    font-family: Fira Mono Bold;
}

Could you possibly copy and paste or screenshot the snippet of code where you are trying to use this font?

[2016-11-01 18:42] Madebym commented on #12860
@mmcken3 I change fonts via `view > themes`. There is a setting called `'Font Family'` there.

This works, I get the regular version to display:
`'Fira Mono', ＭＳ ゴシック, 'MS Gothic', monospace`

This doesn't work, and I have bolder versions installed on my system.
`'Fira Mono Bold', ＭＳ ゴシック, 'MS Gothic', monospace`

[2016-11-01 19:20] ficristo commented on #12860
@Madebym I confirm your behaviour.
But it seems the expected one to me: when set `'Fira Mono'` as font-family the bold variant is used for bold elements.

Messing around with the code, adding something like the following seems to work.
[code]
@petetnt maybe we could add an option in the Theme settings?

[2016-11-01 19:34] Madebym commented on #12860
@ficristo The exact thing you wrote already crossed my mind, the thing that was bugging me is how the default font family works written this way : `SourceCodePro-Medium`.

Are we seeing the regular version or the medium? If it works like you said, then there must be `font-weight: 500` specified somewhere in the stylesheets. Or it picks the medium font directly, without the need to specify `font-we

[2016-11-01 20:06] ficristo commented on #12860
I double clicked on the ttf files and saw that for `Fira Mono` and `Fira Mono Bold` the name is the same: `Fira Mono`. For `Fira Mono Medium` the name is `Fira Mono Medium`. And this one can be used in the theme settings.
I guess it is possible to set some sort of "baseline" for the font (regular, medium) and then you have all the variants (light, bold, ...). You can use only the baseline, CSS pic

[2016-11-01 23:25] zaggino commented on #12867
Since a certain speed is required to reproduce this, it'll probably be easier to replicate with an integration test-case. I'd vote this not to be a blocker for releasing 1.8 though, as it's not a new issue and honestly, not many people save a file every 1-2 seconds.

[2016-11-01 23:43] petetnt commented on #12860
Yup, looking further I think Fira Mono only has different font weights, with bold being 700.

[2016-11-02 06:45] vahid-sanati commented on #12867
@zaggino I don't save every 1-2 seconds either :D I agree with you this issue is not that important to block 1.8 release. I just saw this and wanted to show you that maybe it can give you some clue because I believe this is related to undo reset problem. The reason is as I said before, in the situations that this problem doesn't show up, the undo is not resetting too. (without using the fixed vers

[2016-11-02 06:57] vahid-sanati commented on #12867
This maybe useful to mention. every time I hit save, the folding arrows flash once. before undo fix that meant I lost undo. but after fix the undo is not resetting anymore but the flash still happens. this means the editor assumes the changes to be external and reads the file from disk but that text comparison you made prevents resetting history. It's not properly detecting which change is interna

[2016-11-02 08:11] swmitra commented on #12867
I doesn't look like to be related to #12865 changes. It looks like a timing issue which occurs on a very specific sequence and dependent on io speed of the machine.
At first glance I guess the scenario must be like -
* Save a file
* Brackets gets file modified notification
* Does something in main thread and triggers an io to read content
* Now comes the second notification
* By this time the doc

[2016-11-02 08:27] ArashHeidary commented on #11182
I have the same problem and it solved. Thanks

[2016-11-02 08:30] swmitra commented on #12486
Not sure whether I am late already and @arthur801031 has already started working on this.
I have already done the same as part of Brackets in Dreamweaver and should be forward porting it to Brackets in release 1.9. This release will cover a whole bunch of things in terms of code hints which will be contributions from Abode back to Brackets. FYR , please check the following screenshots which depict

[2016-11-02 08:34] arthur801031 commented on #12486
Hi @swmitra @petetnt  I just started today, so no worries. I will find another bug/feature to work on. Thank you very much for your time! :)

[2016-11-02 08:43] gfcnani opened #12869 "Whitescreen issue"
I'm getting whitescreen suddenly while using brackets. I tried clear cache folder, uninstall and reinstall and tried different version but the issue is still coming. I'm using windows 10 and brackets version is 1.7

[2016-11-02 08:43] swmitra commented on #12486
@arthur801031 I was late indeed in that case 😄  It's great to see the spirit of all the Brackets contributors, and this is what will keep Brackets growing bigger and better.  A big thumbs up for your last PR ( switching focus between panes ) 👍 , keep them coming.

There are a lot of missing things which all of us could focus for the next release. I will try to compile a section in the release card

[2016-11-02 08:44] petetnt commented on #12869
Possible duplicate of #12617

[2016-11-02 09:19] NathanJPlummer commented on #12836
There's also instructions for installing an AppImage at my [Brackets Linux Guide](https://nathanjplummer.github.io/Brackets/).

[2016-11-02 09:24] NathanJPlummer commented on #12836
There also seems to be a repository [here](https://copr.fedorainfracloud.org/coprs/mosquito/brackets/) with a CentOS package.  Not sure if this is what you're looking for as most of my experience with Linux is on the Debian side.

[2016-11-02 13:14] gfcnani commented on #12617
Hi,
![screenshot 34](https://cloud.githubusercontent.com/assets/22237335/19929971/0a297254-a12c-11e6-8621-dc347955e68b.png)
I kept **Developer Tools** open like you said and image of console at the time of whitescreen. Hope you can solve this issue.

[2016-11-02 13:46] zaggino commented on #12617
Seems like a CEF crash to me :-/

[2016-11-02 14:11] gfcnani commented on #12617
what does that mean?

[2016-11-02 15:12] Madebym commented on #12860
Ok, guess the only way to apply the bold version is through overwriting editor stylesheets, either by hand or with an extension like https://github.com/tobibeer/brackets-custom-css.

[2016-11-02 15:12] #12860 closed

[2016-11-02 18:37] ficristo commented on #11821
@dominik0711 can you reproduce with latest version?

[2016-11-02 18:48] ficristo opened #12870 "Add support to group some languages"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-11-02 18:51] ficristo commented on #11903
1.8 should have this fixed. If you will still wave a problem please open a new issue.

[2016-11-02 18:51] #11903 closed

[2016-11-02 18:53] ficristo commented on #7653
With 1.8 fsevents_win is not part of the build anymore.
We are using now chokidar on Linux and macOS (which uses fsevent under the hood) and https://github.com/Microsoft/vscode-filewatcher-windows on Windows.

[2016-11-02 18:53] #7653 closed

[2016-11-02 18:57] ficristo commented on #7944
It seems a dupe of https://github.com/adobe/brackets/issues/12228 which I close since I waasn't able to reproduce.
@bundgaard @mackenza are you still able to reproduce?

[2016-11-02 19:05] ficristo commented on #12857
If I'm not mistaken @zaggino also replaced the sockets usage for node connection, which has always given some problems. This another reason to switch to the electron fork.

[2016-11-02 19:26] ficristo commented on #10322
Cannot reproduce on Firefox on Windows 10. @9000-volts can you?

[2016-11-02 19:28] ficristo commented on #12847
I close this as a dupe of #12482

[2016-11-02 19:28] #12847 closed

[2016-11-02 20:49] zaggino commented on #12857
Yes, it uses electron's IPC and also for every node connection, new node process is spawned. This way they don't interfere with each other (sync functions in one slowing down all or one bug crashing all for example) and it feels a lot faster (didn't do measurements).

[2016-11-03 09:45] bundgaard commented on #7944
Hello,

I will look into this in the coming days, sitting pretty tight with work,
so I have no opportunity to test it at the moment, but I will return with
more information

Thanks

David

2016-11-02 19:58 GMT+01:00 ficristo <notifications@github.com>:

[2016-11-03 09:47] dil05621 opened #12871 "Dilato:Core: Copyright information is still displayed for Copyright 2012."
1.Launch the Brackets
2.Click Help
3.Click About Brackets on the drop-down of help menu.
4.Observe the string"Copyright 2012 - present Adobe Systems Incorporated and its licensors. All rights reserved."
Result: Copyright information is still displayed for Copyright 2012.
Expect: Copyright information is displayed for Copyright 2016.

![copyright](https://cloud.githubusercontent.com/assets/23234219

[2016-11-03 09:53] Zhanxin commented on #12871
This is issue has been fixed when we tested release 1.7 build, and reproduce now, please check: https://github.com/adobe/brackets/issues/12268

[2016-11-03 10:38] petetnt commented on #12871
The clause was changed to `original year - present` to prevent unneeded license changes every year etc.

[2016-11-03 11:56] Zhanxin commented on #12871
Thanks for your explanation. Close this.

[2016-11-03 11:56] #12871 closed

[2016-11-03 12:09] mackenza commented on #7944
might as well close this. it's 2 1/2 years old

[2016-11-03 17:30] ficristo commented on #11770
I close this since I cannot reproduce.

[2016-11-03 17:30] #11770 closed

[2016-11-03 17:32] ficristo commented on #7944
IMO it is wrong to close an issue only because is old.

[2016-11-03 19:05] ficristo commented on #11839
I close this as a dupe of #11141

[2016-11-03 19:05] #11839 closed

[2016-11-03 19:10] ficristo commented on #11501
I close this as a dupe of #7236

[2016-11-03 19:10] #11501 closed

[2016-11-03 19:11] ficristo commented on #7236
@ingorichter I removed "fix in progress".

[2016-11-03 20:42] jamran7 commented on #12441
Hi,
I am working on brackets in a separate repository with a team as part of a college course project. I've already started a topic about the solution with brackets-dev: "Brackets turning into browser issue https://github.com/adobe/brackets/issues/12441 (may be old)". Is there any drag-and-drop copy for text in Brackets? Brackets currently stops the browser's default behavior only when there is da

[2016-11-03 20:53] petetnt commented on #12441
Hi @jamram7,

Go to `Debug -> Open Preferences File` and add `"dragDropText": true` to the `brackets.json` (right panel) to enable drag and drop text functionality.
`

[2016-11-03 21:25] jamran7 commented on #12441
Huh, even with that on and after I reverted the code back to the original state, I can't drag copy text to brackets. What is also weird is that with dragText set to true I can't drag a url into brackets and expect it to produce the bug either. However I can drag a url into the extension plane and produce the bug with dragText set to true which makes me wonder if my solution is really a solution.

[2016-11-03 21:41] jamran7 commented on #12441
Ok so I tried to draging-and-droping url's all around the editor with my solution working with brackets and it does not allow the browser to takeover, even with the split views, but the issue with dragAndDrop not working when it is true bothers me. I'm working on a Mac and I've tried it with a clean install, not a git link, on my Windows desktop and it too doesn't drag-and-drop text. Can someone v

[2016-11-03 21:45] vadi2 opened #12872 "Bracket's Chrome hijacks all system links"
### Prerequisites

* [X] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [X] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [X] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-11-03 22:03] redmunds commented on #12441
The `dragAndDrop` option allows dragging selected text to _move_ it. To _copy_ selected text, hold down Cmd key on Mac (Ctrl key on Windows,Linux).

[2016-11-03 23:17] haslam22 commented on #12766
So, a little confused on this issue, by looking at #11560  it seems like the intended behaviour for extension-less files is:

- Show `Set as Default for <filename> Files` instead of `Set as Default for . Files` in the dropdown below
- Add the file name (or path?) mapping somewhere

Currently what happens is:

- User opens a file without an extension
- Selects a language and clicks `Set as Default

[2016-11-03 23:53] IgorNovozhilov commented on #7236
A little negative publicity.
This is so old bug that I had to abandon the brackets and go to use VSCode :disappointed:
#11501
PS: Yes, it's not the only reason

[2016-11-04 06:35] ficristo commented on #7236
@IgorNovozhilov you can give a try to https://github.com/zaggino/brackets-electron/releases

[2016-11-04 14:58] olivergraphix opened #12873 "Window title on OS X"
I'm running Brackets 1.7.0 on Mac OS 10.7.5 and 10.11.6.
I'm tracking my time in Brackets using RescueTime.

RescueTime is tracking the time in apps by logging the name of the app, version and window title. Window Title displays the file name of the document with the focus.

My problem is that for Brackets I don't see the info for Window Title, so RescueTime logs just the name of the app and not t

[2016-11-04 20:03] user-12345 opened #12874 "Can Brackets be used for commercial purpose ?"
First off, thumbs up for the incredible editor, Brackets.

### My commercial activities might include:
1) creating and selling WordPress based themes and WordPress based plugins.
2) creating and selling other software.

### My questions is:
1) can i use Brackets for commercial purpose stated above ?
2) can all Brackets themes and extensions be used for commercial purpose stated above ?

Please, ki

[2016-11-04 20:42] manomoreno commented on #12874
For any software you use, I recommend reading its license. In case of public repositories in Github, they are all open source. If you want to check for any specific license here, look for the LICENSE file in the root directory of the project.

Please, take a look at this link https://opensource.org/faq as well.

[2016-11-04 22:15] MoatazAhmed25 commented on #12779
@petetnt I will add new section under working set DDL, that contains the following menu items.
1 - Close All Files.
2 - Close All But This.
3 - Close All Above This.

[2016-11-04 22:27] thany commented on #11826
I'm working on a PHP project right now, and undo doesn't works after save *every single time*. It's completely reproducible.

Just thought you might know.

But again, **just remove history nuking alltogether** for now - we'll be better off without it if this bug can't be fixed. I'll keep repeating this, jsyk.

[2016-11-04 22:29] zaggino commented on #11826
@thany Please read @vahid-sanati's comments above and try the same thing he did to figure out what is the problem on his machine. Otherwise, your comments are quite useless.

[2016-11-04 22:30] thany commented on #11826
Why is removing history nuking alltogether not an option?

How is it better to lose work, than to have a little bit too much of it?

[2016-11-05 02:08] vankasteelj commented on #11826
I haven't encountered the issue in the previous days, and i've been pretty busy coding on brackets :) it's a good sign so far

[2016-11-05 06:51] belenos commented on #11937
+1. Please!

[2016-11-05 16:19] vahid-sanati commented on #11826
@thany if you haven't applied the fix #12865 of course the problem will still happen to you. the final 1.8 release will have the fix. apply the patch or wait for the final release. If you don't want to work with source you can edit main.js file inside the install directory of brackets to apply the fix (actually I did all my tests with this method, never tried the source) but you should be careful

[2016-11-05 17:02] petetnt commented on #12874
Are you using Brackets as a base for the said software or creating the said software with Brackets? Anyway the answer is yes, as long as (as pointed out by @manomoreno) you comply the [LICENSE](https://github.com/adobe/brackets/blob/master/LICENSE) provided by Brackets. It's a standard MIT license.

[2016-11-05 22:18] zaggino commented on #11937
Try AppImage from https://github.com/zaggino/brackets-electron/releases

[2016-11-06 04:53] DiegoTc opened #12875 "Error when installing in Lubuntu 16.04"
### Description
Getting the following trying to install brackets.
`Error dependency is not satisfiable libgcrypt11 (>= 1.4.5)
`
Installation shouldn't cause any issue at the moment of executing the deb.

### Steps to Reproduce

1. Download Brackets Deb
2. Install the deb
3. Error appears

**Expected behavior:**  Brackets should be install with no complications

**Actual behavior:** Brackets isn't

[2016-11-06 05:31] zaggino commented on #12875
@DiegoTc try this link from README: https://nathanjplummer.github.io/Brackets

[2016-11-06 11:29] ficristo commented on #12875
Dupe of #10255
Usual suggestion, give a try to https://github.com/zaggino/brackets-electron

[2016-11-06 11:29] #12875 closed

[2016-11-06 11:30] ficristo commented on #12873
For now I close this as a dupe of #12868

[2016-11-06 11:30] #12873 closed

[2016-11-06 11:33] ficristo commented on #12872
Brackets on Linux is known to have some problems: https://nathanjplummer.github.io/Brackets
Can you give a try to [brackets-electron](https://github.com/zaggino/brackets-electron/) to see if it fixes your problem?

[2016-11-06 11:35] ficristo commented on #12868
Out of curiosity, could you give a try to https://github.com/zaggino/brackets-electron/ to see if it fixes this?

[2016-11-06 11:39] ficristo commented on #12869
I close as a dupe of #12617 for now.

[2016-11-06 11:39] #12869 closed

[2016-11-06 11:47] ficristo commented on #12617
CEF stands for Chromium Embedded Framework, you can find it at https://bitbucket.org/chromiumembedded/cef
Basically it let us have access to the underlyng OS while building Brackets with web technologies.
I hit similar problems when running our test suite, which can use a lot of CPU and memory.
It is possible that your workflow could cause a crash of CEF, so maybe we need to update our version.

I

[2016-11-06 11:58] ficristo commented on #12857
AFAIK the current shell scripts cannot handle patch releases, while the fork of @zaggino can.
There are issues that really deserve a patch release, think about the Ctrl-Z issue or https://github.com/adobe/brackets/pull/12145 which resulted in refreshed builds of the release.
Maybe this could be fixed in brackes-shell side, but since it is already available in the fork, why not use it? 😄

[2016-11-06 18:29] jamran7 commented on #12441
So I've had to change the solution, but it's where it should be now; I've tested the drag-and-drop option and it works with text. You can drag-copy text just not urls, and it works in the different split views. The solution is this:
[code]
And you put that before `if (files && files.length) {` in two functions `function handleDragOver(event) {` and `function handleDrop(event) {`. These two functio

[2016-11-06 18:32] petetnt commented on #12441
Good job @jamran7!

Would you be interested in making that a PR? See https://github.com/adobe/brackets/blob/master/CONTRIBUTING.md for more information.

[2016-11-06 23:37] jacebenson opened #12877 "Update Linux wiki pages with libgcrypt dependency issue"
### Description

Update Linux wiki pages with libgcrypt dependecy issue for debian variants
https://github.com/adobe/brackets/wiki/Linux-Version

I would have included this change in my pull request but, seems these pages are locked or something.

Please add links to the following work around (haven't tested, but folks have pointed to this) so users can at least try to get it working, or direct th

[2016-11-07 03:48] zaggino commented on #12617
Guys I have replicated this with running a script. Basically it dumps about 5 databases to the hard drive in a way that it first deletes the old dumps and then writes them to disk, leading to a lot of deletes and creates reported by file watchers in very short time. Talking about 1000+ files deleted and then created again in less than a second.

The culprit seems to be tons of calls to `_addSearch

[2016-11-07 07:04] dil05621 opened #12879 "Dilato:Core:No prompt message appears When you type a file that is not quickly open."
Launch Brackets.
Create/Open some files.
Navigate-> Quick Open
 Type a file that is not quickly open
Observer the red box
Result:
No prompt message appears
Expect:
An prompt message should appear.
![44444](https://cloud.githubusercontent.com/assets/23234219/20049011/5c1abdca-a4fb-11e6-96bf-d814d6197c6c.png)

[2016-11-07 08:28] petetnt commented on #12617
Nice job debugging the issue @zaggino 👍

[2016-11-07 17:50] jamran7 commented on #12441
Yes I am, I am running the test now and will soon create a PR.

[2016-11-07 18:49] ficristo commented on #12441
@jamran7 from your solution it seems to me you are implementing the [allowDropFileTypes](https://codemirror.net/doc/manual.html#option_allowDropFileTypes) option of CodeMirror.
Could you investigate if it is the case?
Keep in mind I didn't look at this issue at all so maybe it is the wrong route, I still believe it's worth double checking.

[2016-11-07 19:13] ficristo commented on #12879
AFAIK this behaviour has never changed and sincerly I don't see the point to add a prompt.
Can I know the rational of this request?

[2016-11-07 19:16] ficristo commented on #12877
In the README file at the root of the repo, there is a guide for known Linux problems: https://nathanjplummer.github.io/Brackets/
Maybe we could add a link in the https://github.com/adobe/brackets/wiki/Linux-Version page too.

[2016-11-07 20:11] ceokzoo opened #12880 "French and Japanese comments in the index.html are in English"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-11-07 20:11] jmiller13 opened #12881 "Jasmine Spec Runner Not Working??"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

The Jasmine Spec Runner does not seem to be working for me. All I get is a blank white

[2016-11-07 21:28] petetnt commented on #12881
Another case of the mysterious blank page with the runner. For some running `npm install` again has helped, for me just relaunching Brackets usually helps. Can you open the developers tools (in the Jasmine window) and see if there's any errors?

[2016-11-08 08:18] w1-mikebrouwer commented on #12612
Hey Botpopbot,

Thanks for sharing your solution! Sadly, i have 3 monitors with a resolution of 1920x1080.

# MikeB

[2016-11-08 19:10] ficristo commented on #11812
Dupe of #11460

[2016-11-08 19:10] #11812 closed

[2016-11-08 19:10] ficristo commented on #11811
Dupe of #11460

[2016-11-08 19:10] #11811 closed

[2016-11-08 19:13] ficristo commented on #12133
From the comments it seems fixed, reopen if not.

[2016-11-08 19:13] #12133 closed

[2016-11-08 19:18] ficristo commented on #12135
Closed.

[2016-11-08 19:18] #12135 closed

[2016-11-08 19:25] ficristo commented on #12475
French seems translated to me.
The japanese is a dupe of #12264

[2016-11-08 19:25] #12475 closed

[2016-11-08 19:36] IoannesBracciano opened #12882 "Brackets freezes when I use Ctrl-X shortcut"
Hello, I'm using Brackets on Elementary OS loki and I've stumbled upon a bug. Basically when I am editing a file and use the Ctrl-X shortcut to cut some text, the window becomes totally unresponsive and in addition it won't even close. This behaviour seems to persist even without extensions loaded. Reproducing the problem is quite simple:
* Open a file in Brackets
* Select some text
* Hit Ctrl-X

[2016-11-08 20:44] WebSpectrum opened #12883 "Mode-Aware Styles in Dreamweaver Integration"
I'm trying to get mode-aware styles working in Dreamweaver, in Brackets I just add "addModeClass": true to json and some example css like below to color PHP blocks

 .cm-m-css.clike {
    color: #6c9ef8;
}

However this doesn't work in Dreamweaver, just need to clarify if it's possible and how is it done in an embedded brackets? How does the CSS differ? ..... Thank you

[2016-11-08 21:56] petetnt commented on #12882
Hi @IoannesBracciano ,

can you open the DevTools (Debug -> Open Developer Tools) and seeing if there are any errors in the console-tab. Also could you state your operating system and Brackets version?

[2016-11-08 23:31] IoannesBracciano commented on #12882
I've tried to reproduce the issue with developer tools open, after having put my laptop to sleep, and suddenly everything seems to be working fine!
I am using Elementary OS loki, it is based on ubuntu 16.04.
Brackets reports Release 1.7 experimental build 1.7.0-16898 (release b0a363b71)
I am going to report back when I encounter the issue again.

[2016-11-09 02:18] Hablion opened #12884 "Brackets asking for adobe flash, even after it has been installed"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-11-09 09:53] petetnt commented on #12884
Hi @Hablion,

this issue is specific to the `brackets-pixlr` extension and should be reported to the `brackets-pixlr` repository at https://github.com/dnbard/brackets-pixlr. Feel free to follow up if you need any help or have other questions regarding the issue though 👍

[2016-11-09 09:53] #12884 closed

[2016-11-09 12:17] swmitra opened #12886 "Release 1.8 Deployment Tasks"
### Tasks to deploy a release publicly
- [x] Tag the build (brackets, brackets-shell) using `release-1.0` format (Creating 'Release' in brackets tags the build, so only need to do this in brackets-shell?)
- [x] Announcement to the brackets-dev group for this release and work in the new cycle
- [x] Merge localizations/other release changes back into master
- [x] Merge localizations/other release ch

[2016-11-09 12:45] thany commented on #12520
Should be a more easily settable option. I understand Brackets is meant for developers, but a dialog with options, including that one, is essential for people to find them.

On top of that, disabling smooth scrolling is an **accessibility option**, making it more important for people that need it (like myself) to assert the validity of working with Brackets in the first place.

Why is it an access

[2016-11-09 13:19] MateenRay opened #12887 "Please provide option auto selecting the tags of the scripting languages with tab button"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-11-09 14:55] steven-fernandez opened #12888 "When I open a .html file it goes straight to preview and I cannot see the code"
### Description

When I open a .html file it goes straight to preview and I cannot see the code

### Steps to Reproduce

1. Open the project folder
2. Select a .html file

**Expected behavior:** I should be able to see the source code

**Actual behavior:** I only saw the page preview

### Versions

Version 0.0.8
OSX

[2016-11-09 19:18] markhillard commented on #12520
@zaggino, nice work! I think making the shell option available in brackets.json is just fine, since that's where all the other general settings are located.

I'm running the latest version of Brackets: Release 1.7 build 1.7.0-16898 (release b0a363b71). I also noticed that your [brackets-electron](https://github.com/zaggino/brackets-electron/issues/74) fork is now at version 1.8.3. Will this be rol

[2016-11-09 19:23] jamran7 commented on #12441
CM is apparently not in charge of handling files in Brackets which is why Brackets pre-empts CM. CM wouldn't see any files anyways if that option was used. (Scroll, the cut off threw me off)
[code]

[2016-11-09 19:39] ficristo commented on #12441
@jamran7 thank you. I really appreciate.

[2016-11-09 20:20] BobbyBabes commented on #11730
Same issue here. With Bracket's own Getting Started index.html file.
This happens on a fresh installation of Manjaro Minimal Net Edition (16.08) with the Linux kernel updated from 4.4 to 4.8.5. And then a medium sized installation of KDE (plasma group package; not the mammoth plasma-meta meta package).
This Google Chrome package was then installed (with pacman) from here : https://aur.archlinux.or

[2016-11-09 20:21] zaggino commented on #12520
@markhillard this option is electron specific for now, brackets-shell based on CEF doesn't support it

[2016-11-09 20:22] jmiller13 commented on #12881
I can not, no. I'll run npm install again to see if it changes anything, I feel like I've done it multiple times, but I'll try again to make sure.

[2016-11-09 20:23] zaggino commented on #12881
also run `git submodule update --init` too if you missed that one (before npm install)

[2016-11-09 21:40] markhillard commented on #12520
Thanks for the clarification @zaggino.

[2016-11-09 22:20] user-12345 commented on #12874
Dear petetnt, Thank you very much. Actually i will use Brackets only for creating the files and directories for the software and writing code for the software.

[2016-11-09 22:26] petetnt commented on #12874
@user-12345 you are welcome! Happy "Brackets"ing 👍

[2016-11-09 22:26] #12874 closed

[2016-11-10 01:49] yx91490 opened #12889 "cannot show the installed extensions immediately when I open Extension Manager."
When I open the Extension Manager, I need to wait until Brackets loads all necessary resource from  Internet, but sometimes I only want to manage my extensions and don't need to install new extensions.

[2016-11-10 04:04] Orcinuss opened #12890 "Text continues underneath right sidebar"
### Description
When 'Word Wrap' is NOT enabled and the line is very long, the text will continue below the right hand sidebar (the now that holds the live preview and extension manager buttons). Horizontal scroll does not scroll all the way and a few characters are cut off as I believe they are underneath the right sidebar.

### Steps to Reproduce
1. Turn off Word Wrap
2. Write long line of code

[2016-11-10 09:19] mrbodich opened #12892 "Coding in JSX files — javascript not fully supported in *.jsx"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-11-10 12:31] xfg commented on #12454
+1
I run automatically unit tests on each change of files and this is frustrating constantly switching from brackets window to terminal to see that all is well.

[2016-11-10 14:49] quantbo opened #12893 "Updating from v1.7 to v1.8--uninstall required?"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-11-10 15:16] AndrewWJordan opened #12894 "Brackets is not working anymore since 1.8 install"
Completed 1.8 msi install and since then Brackets opens, but it will not do anything.  Even the close button doesn't work.  If I click Open or Open File, nothing happens.  Uninstalled and tried to reinstall 1.7 MSI, and am still getting the same issues. Was using Brackets without an issue this morning until the initial install.

### Prerequisites

* [ ] Can you reproduce the problem with `Debug ->

[2016-11-10 16:14] rodrigolossio opened #12895 "I tried to install 1.8 but I can't because the brackets folder has a different permission. The first version which I had installed was 1.7 and now I have no permission to do nothing."
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-11-10 16:33] SheNNawy2015 commented on #10465
sudo apt-get install -f
sudo dpkg -i Brackets.Release.1.1.64-bit.deb

[2016-11-10 19:22] carinlynchin opened #12896 "1.8 not working"
### Prerequisites

* [ NO ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ NO ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ NO ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/br

[2016-11-10 22:24] zaggino commented on #10465
https://nathanjplummer.github.io/Brackets/

[2016-11-11 06:23] Orcinuss commented on #12890
Still broken as of version: Release 1.8 build 1.8.0-17108 (alf_localization_release_1.8 3af64fae4)

[2016-11-11 07:15] swmitra commented on #12895
@rodrigolossio Can you please let us know about the permission issue in details? What kind of error you are seeing? Which platform you are trying to install Brackets on ?

I would request you to set required permission to a folder first and then try to install brackets in that folder by pointing that folder in the installer dialog.

[2016-11-11 08:33] Cactusx09 opened #12897 "Brackets 1.8 - Brackets Git failed to connect to NodeJS"
### Description
![image](https://cloud.githubusercontent.com/assets/9021479/20208923/e3751526-a7f9-11e6-8d5f-60f3258bdc11.png)

[Description of the bug or feature]

### Steps to Reproduce

1. Just open Brackets 1.8 with Brackets-git plugin

### Versions
Windows 10
Brackets 1.8

[2016-11-11 08:49] Cactusx09 commented on #12897
Fix this trough reinstall brackets and brackets-git

[2016-11-11 10:15] nerk opened #12898 "Brackets 1.8 - Installing extensions from Extension Manager not working"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-11-11 10:18] nerk commented on #12898
Forgot to mention that I'm behind a proxy. Proxy is properly configured and list of extensions appear in Extension Manager.

[2016-11-11 10:33] gultyaev opened #12899 "1.8 extract"
Extract error "An error occurred when trying to view the folder files".

Not works after update to 1.8

[2016-11-11 10:37] fuecisla commented on #12898
Same thing here. No way to install extensions with the extensions manager

[2016-11-11 10:40] CB-Sean opened #12900 "Suggestion: Quick Open / Quick Edit support for back-end languages"
### Description

Suggestion: It would be very convenient to be able to use Quick Open and Quick Edit with files other than HTML, CSS and JS.

 I'm pretty sure I'm not the only one that uses Brackets for both front-end and back-end. The Quick Open and Quick Edit features are very useful, and I've noticed they really speed up the web development process.

If Quick Open and Quick Edit would be usable

[2016-11-11 14:34] Madebym commented on #12898
Working on Win7 64bit, not working on Win7 32bit !!

[2016-11-11 14:46] IiroP commented on #12893
No need to unistall, just run 1.8 installer

[2016-11-11 14:57] YoruNoTori opened #12901 "Cursor Problems, brackets gets slow"
I ve been working with brackets since their firt release, I didn´t have any issue at all, in version 1.7 it was terrible that I couldn´t go back steps my code when I used javascript, now in version 1.8, my project started get slower in code editing, and my javascript code continues having same sort of issues, what is going on guys? this was supposed to be the best ide ever made!

[2016-11-11 15:22] nerk commented on #12898
I'm on Windows 64-bit and it does not work. I would actually assume that it would be the other way round since the Brackets msi installer installs the 32-bit version on a 64-bit system.

[2016-11-11 15:29] SkyAx commented on #12899
I have the same problem.
Before when I drag and drop files into this area, the following:
![error](https://cloud.githubusercontent.com/assets/15022782/20219868/4c410a14-a83c-11e6-9fe3-0be0bd53526f.png)

[2016-11-11 15:32] Madebym commented on #12898
Funny, it is the other way around on my end.

Laptop is running Win10, all fine. Desktop is Win7, can't install.

The only difference is that I had 1.8 pre-release installed on desktop.

[2016-11-11 15:46] photopea opened #12902 "Downloading a file inside an Extension"
Hi, I am developing a photo editor https://www.Photopea.com

I decided to make it a Brackets extension. You can find and install it by searching for "photopea" in an extension manager.

I have noticed, that files can not be saved (File - Save as PSD does nothing). My editor saves files through a "download" attribute of an anchor tag.

    <a href="...." download>XY</a>

It executes a new MouseEven

[2016-11-11 15:54] traBolic opened #12903 "Grave accent char problem"
Hi screenshot describing itself.

![image](https://cloud.githubusercontent.com/assets/5789670/20220851/cc682d6c-a837-11e6-8227-500028075095.png)

[2016-11-11 16:41] Tusko commented on #12896
+1

[2016-11-11 16:49] Tusko opened #12904 "Brackets 1.8 : Failed to connect to node"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [X] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [X] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-11-12 06:59] ficristo commented on #12903
The JSLint version that come with Brackets it is really outdated.
My advice is to switch to ESLint.

Closing as dupe of https://github.com/adobe/brackets/issues/12000

[2016-11-12 06:59] #12903 closed

[2016-11-12 07:01] ficristo commented on #12899
Extract is not supported anymore within Brackets.
http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/

[2016-11-12 07:01] #12899 closed

[2016-11-12 07:02] ficristo commented on #12897
Happy to hear you were able to fix it.
Closing as extension problem.

[2016-11-12 07:02] #12897 closed

[2016-11-12 07:03] ficristo commented on #12896
Please open an issue on the extension repository.

[2016-11-12 07:03] #12896 closed

[2016-11-12 07:04] ficristo commented on #12893
As @IiroP said you can install the new version on top of the old one, without uninstall.

[2016-11-12 07:04] #12893 closed

[2016-11-12 07:07] ficristo commented on #12889
There are already open issues about this...
#11567
#11657
#11729

[2016-11-12 07:07] #12889 closed

[2016-11-12 08:12] ficristo commented on #12902
Keep in mind that ATM Brackets is build on top of Chrome 49 on Windows and macOS and Chrome 29 on Linux.
So for the `filter` attribute you probabily need to add the `-webkit` prefix.
For the MouseEvent we should know more. For example how did you create `Save as PSD`?

[2016-11-12 08:17] ficristo commented on #12904
Are those logs from a `Debug -> Reload Without Extensions` session?
Could you try to move all your extension in the disabled folder?
You can find extensions location here: https://github.com/adobe/brackets/wiki/Extension-Locations#user-extensions-folder. Up of a level there is a disabled folder.

[2016-11-12 08:19] ficristo commented on #12901
If you are talking about Ctrl-Z issue, I really hope it is fixed in 1.8

Could you elaborate?

[2016-11-12 08:21] ficristo commented on #12900
The Quick Open, if I'm not mistaken, should be available despites the languages.
Quick Edit is another story and IMO should be better left to extensions authors.

[2016-11-12 08:31] ficristo commented on #12894
Could you try to delete the [Cache Folder](https://github.com/adobe/brackets/wiki/Cache-Folder)?
Keep in mind, as written in the link, this will reset all of your preferences.

[2016-11-12 08:36] ficristo commented on #12888
If this is correct, it's really an outdated version. You should download 1.8.0.

Otherwise, do you have any extensions? Are you run `Debug \ Reload without extensions` and verified if you still can reproduce?

[2016-11-12 08:45] ficristo commented on #12887
Are you looking for the `"insertHintOnTab": true` preference?

[2016-11-12 09:34] Ulver84 commented on #12818
I figured the error out =) It's because the teacher wrote `<100%>` in the code, instead of (100%). Since there is no `<100%>` tag in HTML, Live Preview stopped working. A bit related: I had a `</div>` tag in my code that had no start tag, and again live preview stopped working, which makes sense. But if I may come with a suggestion, it would be nice if Brackets said something like "are you sure yo

[2016-11-12 11:36] photopea commented on #12902
Chrome is updated like every month. Why do you use 1.5 years and 3 years old versions? Is it because you haven't released a new Brackets version for Linux since 2013?

I am saving files this way:

    var data = new Uint8Array(arrayBuffer);
    var a = document.createElement( "a" );
    var blob = new Blob([data]);
    var url = window.URL.createObjectURL( blob );
    a.href = url;
    a.download

[2016-11-12 12:40] federojoavellaneda commented on #12899
OMG Is the real reason why he used Brackets

[2016-11-12 14:27] gultyaev commented on #12899
Yep. Because it is most conveniently.

[2016-11-12 16:59] monarchvlad opened #12906 "An error occurred when trying to view the folder files"
How can i fix it?
![image](https://cloud.githubusercontent.com/assets/13378944/20239508/6994a144-a912-11e6-80b6-51313afdeed6.png)

[2016-11-12 18:45] MD-Nayeem opened #12907 "Plugins no install on brackets new version"
Plugins no install on brackets new version .
![1](https://cloud.githubusercontent.com/assets/22129078/20240107/6199fad4-a93a-11e6-8624-16f80357a04e.jpg)

[2016-11-12 19:16] ivmirx commented on #12868
@ficristo it shows Title now but it's "Brackets-Electron" instead of full title "index.html (Getting Started) – Brackets-Electron".

The "Document" parameter is still `nil`, it should match the currently opened file path, something like `file:///Users/MyName/Documents/example.js`.

[2016-11-12 19:52] Cichyy7 opened #12908 "Brakets right click menu is too big"
My right click menu is way to big. I have lot of extensions and not all of options from right click menu are shown on my screen. Is there a way to split right click menu in two parts or fix this problem in some other way?
![problem1](https://cloud.githubusercontent.com/assets/16727308/20240494/d9529f0c-a919-11e6-985d-6429b7f25b54.png)

[2016-11-13 14:08] tanguyvda commented on #12906
Same problem here while moving to brackets 1.8. Had to go back on 1.7.

To go further, console was showing a lot of node error. (use of GLOBAL deprecated, node server stopping, couldn't load ws.localhost:port, node was still there in my task manager.)

It was a fresh brackets 1.8 install with extract and no other plugin.

[2016-11-13 16:42] MD-Nayeem commented on #12898
Not working also for me win 32bit

[2016-11-13 18:21] monarchvlad commented on #12906
Well, I go back on 1.7 and problem is solved, but I'll never be able of using next versions of brackets ?

[2016-11-13 18:39] AyratGaliev commented on #12899
The problem in the new version node.exe located in the installed folder Brackets (C:\Program Files (x86)\Brackets). You need to replace the new version node.exe on the old version node.exe of Brackets v1.7.

[2016-11-13 20:20] Denisov21 commented on #12908
I think you also installed my extension called "Pop-up menu"!
If you have installed "Pop-up menu" update to the new version!

[2016-11-14 02:47] catcatac opened #12909 "Brackets 1.8 closing tags (from last divs to body and html) are red."
TITLE ^

I am currently trying to build a registration page using CodeIgniter. I've been running in circles with my code. I checked all the divs and they're completely perfect (opening and closing tags) but it's still red. What is wrong with these red colored codes? Please help me with this one.

The ones enlosed in ** are the ones in red. This is my html code:

[code]

### Versions

Windows 7 Pro

[2016-11-14 05:35] TomMalbran commented on #12909
The issue are these lines:
[code]

Which should be like this. Notice that before the option tags ended with `/>` instead of just `>`
[code]

[2016-11-14 05:48] catcatac commented on #12909
Thank you so much Tomás Malbrán!
On Nov 14, 2016 1:36 PM, "Tomás Malbrán" <notifications@github.com> wrote:

[2016-11-14 05:50] TomMalbran commented on #12909
Your welcome.

Closing as this is not an issue with Brackets, but with the code.

[2016-11-14 05:50] #12909 closed

[2016-11-14 08:26] CB-Sean commented on #12900
I've tried using the Quick Open on classes and functions in our PHP framework, but it doesn't seem to work.
I have tried all kind of extentions, but none of them work for me. Honestly I haven't looked into Quick Edit because I didn't really need it at the time (it's rare that I ever need to edit a PHP class in our framework). Perhaps there already is an extension for Quick Edit across languages.

[2016-11-14 08:37] swmitra commented on #12900
@CB-Sean Quick-Open is to open files by typing and filtering the file names. This feature works with all type of files and can list all files under a project root. To summarize this feature works only with file system entries.

Quick-Edit on the other hand is a different concept, where without navigating to a file explicitly, you can edit a logical construct (like a CSS selector definition, a java

[2016-11-14 08:47] CB-Sean commented on #12900
@swmitra Maybe I'm using the wrong name then. By 'Quick Open', I mean to open the location of a function (for example in JavaScript) when I'm selecting a function and pressing CTRL-J. I thought it was called Quick Open, but apparently I'm just confusing you all :P Apparently in the menus it's called "Go To Definition". My mistake!

[2016-11-14 08:55] swmitra commented on #12908
Closing this as not a Brackets issue.

[2016-11-14 08:55] #12908 closed

[2016-11-14 10:48] yohanChang opened #12910 "Brackets seems not able to display extension lists via extension manager when under authenticated proxy environment"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-11-14 12:56] SkyAx commented on #12899
How can I fix it on ubuntu 16.04?

[2016-11-14 13:59] AndrewWJordan commented on #12894
Thank you!  I cleared the cache, but it did not have any effect. I instead deleted the entire Brackets directory that was in my Roaming folder and then reinstalled 1.8.  It appears to be working now. Thanks, Andrew Jordan
Software Engineer
Marist College
3399 North Road
Poughkeepsie, NY 12601
845-575-3509-----ficristo <notifications@github.com> wrote: -----To: adobe/brackets <brackets@noreply.gith

[2016-11-14 16:08] nerk commented on #12898
The problem seems to be related to the  proxy configuration:

If no `proxy` is configured in `brackets.json`, the Extension Manager still lists the available extensions. I assume it uses the system wide configured proxy (or cached entries somewhere?). If I try to install an extension from the list, it posts a `Installation failed - Cannot connect to server.` message box.

If I add a `proxy` settin

[2016-11-14 16:57] MandarSant opened #12911 "Feature Request (Terminal/CMD)"
add Terminal/Cmd.exe to the brackets which will open within editor not seprate window [like this packge in atom](https://atom.io/packages/platformio-ide-terminal) or by default in editor like [VSCode](https://code.visualstudio.com/docs/editor/integrated-terminal)

[2016-11-14 17:36] joedawalker commented on #12906
I had the exact same issue and had to go back to 1.7 last week.

[2016-11-14 18:26] traBolic commented on #12903
I did install ESLint but nothings changed. Still getting error
![image](https://cloud.githubusercontent.com/assets/5789670/20277265/86c9d224-aaa8-11e6-9b55-afd9e8d4407a.png)

[2016-11-14 18:27] ficristo commented on #12911
Dupe of #12454

[2016-11-14 18:27] #12911 closed

[2016-11-14 18:38] ficristo commented on #12903
I think you need the `es6` environment: `/*eslint-env es6*/`

[2016-11-14 18:41] ficristo commented on #12906
Extract is not supported anymore within Brackets.
http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/

@swmitra @rbharti
Is still the extension supposed to work? If Adobe doesn't want to mantain it anymore, and the infrastructure is still available, can be "donated" to the community?

[2016-11-14 18:53] ficristo commented on #12894
👍

[2016-11-14 18:53] #12894 closed

[2016-11-14 22:23] ks927 opened #12912 "Lost all saved files when updating from 1.7 to 1.8"
Updated from Brackets 1.7 to 1.8 with dozens of files saved. I thought they would transfer over with the update.
They were all gone when I finished installing 1.8. Even tried reinstalling 1.7, but they're still not there.

Please include the OS and what version of the OS you're running.
OS X El Capitan 10.11.6

Please include the version of Brackets. You can find it under `Help -> About Brackets`

[2016-11-15 02:53] jmiller13 commented on #12881
Running npm install again worked. Thanks for the help!

[2016-11-15 03:30] MandarSant opened #12913 "Feature Request (color picker/pallet )"
I use dreamweaver for coding i also like Brackets but what makes me to stick to dreamweaver is its color picker/pallet(While Coding CSS) so i request Brackets dev to create the dreamweaver like color picker/pallet for Brackets

![47aa920e-a85a-11e6-8ff5-0cd918fdf0e3](https://cloud.githubusercontent.com/assets/20091634/20292224/e6105ad2-ab11-11e6-83bf-f6d2443d4a12.png)

[2016-11-15 04:14] swmitra commented on #12913
@MandarSant Thanks for reaching out to us. If you look closely there are only 2 feature differences between the DW color picker and Brackets color picker.
* Custom pallet - favorite color shortcuts
* Eye dropper - To pick colors from anyplace in the display

There are lot of color pickers provided by some popular JS libraries which can add the other missing features like preview, grayscale slider

[2016-11-15 04:19] swmitra commented on #12912
@ks927 Please tell us the following details to know more about the problem.
* Where were these files saved? Did you created all these files in the Brackets default project after the first launch? ( Getting Started )
* Are they not visible from the Brackets project explore only? Are they accessible from OS finder ?

[2016-11-15 04:25] swmitra commented on #12907
@MD-Nayeem Please tell us more about the problem.
* Do you have a network proxy set?
* Do you work with a authentication server first to connect to internet?
* Are you able to open [Brackets Extension Registry](https://brackets-registry.aboutweb.com/) from browser?

[2016-11-15 04:28] ks927 commented on #12912
Yes they were all saved in the Getting Started folder.

They are both not visible in Brackets and I'm not able to locate them in the OS finder.

[2016-11-15 04:32] swmitra commented on #12906
@ficristo I will ask @rbharti to answer this on committer channel in slack as he is not on Github. As far as I know Extract workflow is part of creative cloud and offered with Dreamweaver. So If someone has to use Extracts for web development, then the option is to use Dreamweaver.

In this case, as extract plugin used to get copied to user extension folder, after the recent install it's still rem

[2016-11-15 04:48] rajnishb commented on #12906
@ficristo is right. Extract service is no longer supported. The infrastructure is available only for requests from Dreamweaver.

[2016-11-15 04:59] swmitra commented on #12906
Closing the issue.

[2016-11-15 04:59] #12906 closed

[2016-11-15 05:05] swmitra commented on #12912
@ks927 That explains the problem. "Getting Started" project is hosted from the 'nls/root/Getting Started' which is part of the Brackets install directory. Because of Brackets 1.8 install, when the previous version got uninstalled it removed the contents from the install location then copied 1.8 contents.

Please make sure to use 'user directory' or some other directory for project work as install

[2016-11-15 05:07] swmitra commented on #12912
@ks927 From Brackets perspective in this case we can't really do anything at this point of time. Do let us know whether we can close this issue.

[2016-11-15 07:00] petetnt commented on #12881
Glad you got it working :+1:

[2016-11-15 07:00] #12881 closed

[2016-11-15 09:05] adrian-wright commented on #12895
I have had a similar problem. I have been using brackets 1.7 on my windows 10 laptop. I was prompted to update to 1.8 and when trying to update the installer is telling me that I need administrator privileges; I am the administrator. "the installer has insufficient privileges to access this directory: C:\program files (x86)\brackets. The installation cannot continue. Log on as administrator ....."

[2016-11-15 09:41] AgamlaRage opened #12914 "Brackets-Sass extension doesn't work"
### Sass compile in Brackets
**repository :**  [brackets-sass](https://github.com/jasonsanjose/brackets-sass/issues/180#issuecomment-260525434)
**issue :** [issue](https://github.com/jasonsanjose/brackets-sass/issues/180#issuecomment-260525434)

Hello, I post this issue here because nobody seems to maintain the [brackets-sass repository](https://github.com/jasonsanjose/brackets-sass/issues/180#iss

[2016-11-15 10:00] zaggino commented on #12914
If it's not maintained anymore, I can look at forking it and putting up a fix. Let us know @jasonsanjose

[2016-11-15 12:33] MandarSant commented on #12913
@swmitra nearear to DW color picker is Exceptable i am not insiste for exactly same  but out of 100% 40% is exceptable

[2016-11-15 13:11] ks927 commented on #12912
you can close this issue

[2016-11-15 13:38] swmitra commented on #12912
Closing this.

[2016-11-15 13:38] #12912 closed

[2016-11-15 13:57] BobbyBabes commented on #11730
OK, I fixed the issue. But it happened accidentally, as a positive side effect of another issue.
When I installed KDE, a non-existent locale was created : "en_NL.UTF-8".
This caused an irritating message after using the man command : "man: can't set the locale; make sure $LC_* and $LANG are correct".
I found this fix : https://github.com/PanderMusubi/locale-en-nl
After installing this fix for the

[2016-11-15 17:15] ershankylandole commented on #12206
yessss finally i did it. use either xampp or wamp first thing first you have to place your all php file in server directory that is for xampp is htdoc and wamp is www directory. after that open brackets and open project setting or base url box and just write http://localhost and hit enter
hope this does work for you gyuzzz thnk you

[2016-11-15 17:44] jasonsanjose commented on #12914
@zaggino thanks for volunteering. I think there was some miscommunication with the Brackets team on who would take ownership after I moved to a new team. I'll double check.

[2016-11-15 19:17] imranrbx opened #12915 "Brackets 1.8 does not open PSD"
Brackets 1.8 can not open PSD and can not get connected with creative cloud so i reverted back to 1.7 and It's working fine something is wrong in thirdparty.min.js file it can not connect on 127.0.0.1:port/files

Thank You!

[2016-11-15 20:51] s5rockhoppers opened #12916 "Can't install extensions"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`? **N/A**
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

When trying to install an extension or theme an error message pops up stating

[2016-11-16 02:10] nico22sa opened #12917 "File lost after linux failed to resume from suspesion"
Hello
1)I saved the file in a folder in desktop.
2) put linux ubuntu 14.04 in suspension mode
3) due to a battery failure, resume failed too.
4) after recovery file was lost from brackets history and from computer
5) someone told me to check the tmp files of brackets but have no idea where to find them
Brackets
Release 1.6 experimental build 1.6.0-16680 (release 3df0ac6fa)

* [have no extension in

[2016-11-16 19:15] ficristo commented on #12902
I tryed that snippet on Brackets console (`Debug \ Show Developer Tools`) replacing `arrayBuffer` with `[]`.
I see a `<a>` tag created and Brackets ask me to download the file. It seems to work to me.
Maybe some other @adobe/brackets-committers can help more here.

Just FYI updating CEF (which is the Chrome based software used by Brackets) is a big task, usually done by Adobe. I don't know if ther

[2016-11-16 19:17] ficristo commented on #12915
Extract is not supported anymore within Brackets.
http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/

Dupe of https://github.com/adobe/brackets/issues/12906 and https://github.com/adobe/brackets/issues/12899

Leaving open for now to let other users see this.

[2016-11-16 19:21] ficristo commented on #12890
It seems a dupe of https://github.com/adobe/brackets/issues/12797
Can you try to create a new file with only that line of code and see if you can still reproduce?
Can you also try to reproduce on https://codemirror.net/ ?

[2016-11-16 20:53] waffledonkey commented on #12916
I have the same problem.  For me 1.8 works, but only if I'm **not** behind a proxy.  If I'm behind a proxy (with the proxy preference set) it fails immediately with the error mentioned above.  1.7 works both behind a proxy or not.

Here's the entire console output (1.8, behind a proxy w/proxy pref):

`/thirdparty/react.js:6541 Download the React DevTools for a better development experience: https:

[2016-11-16 21:01] Jonatino commented on #11893
@abose any updates regarding this issue? Been over a year.

[2016-11-17 01:08] K-Thompson opened #12918 "v1.8 crashes and, in general is less stable than 1.7 it seems to me."
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [Y] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [Y] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-11-17 01:25] meeple142 commented on #12913
@swmitra if you have your courser in a color like `#1F1F1F` or `#FFF`  or in between the parenthesis in `rbg(0,0,0)` then push `Ctrl + e`  it will open a color picker that does most all of those things.
(tested in js, html and css file)

[2016-11-17 03:09] zaggino commented on #12918
We have a tern running in a web worker, instead of a node implementation which would make more sense. That could be the culprit.

[2016-11-17 03:27] jedeveraa commented on #12914
Hi @jasonsanjose , hoping for the best :) this is the best extension of brackets i've ever known. knowing that just to compile scss you need to install many packages just to get going.

[2016-11-17 03:54] borloc47 opened #12919 "Issuws"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-11-17 03:54] borloc47 opened #12920 "Issuws"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-11-17 08:53] #12920 closed

[2016-11-17 08:54] #12919 closed

[2016-11-17 19:04] ficristo commented on #12918
@K-Thompson is your platform a 32 bit one?
If so could you try to replace the node executable you find in `C:\Program Files\Brackets` with the one you can dowload from http://nodejs.org/dist/v6.3.1/win-x86/?

For the exception you get could you try this workaround?
https://github.com/adobe/brackets/issues/12792#issuecomment-252992877

[2016-11-17 19:07] ficristo commented on #12907
If you are on a 32 bit platform could you try this workaround?
https://github.com/adobe/brackets/issues/12918#issuecomment-261337603

[2016-11-17 19:07] ficristo commented on #12898
If you are on a 32 bit platform could you try this workaround?
https://github.com/adobe/brackets/issues/12918#issuecomment-261337603

[2016-11-17 19:09] ficristo commented on #12916
If you are on a 32 bit platform could you try this workaround?
https://github.com/adobe/brackets/issues/12918#issuecomment-261337603

[2016-11-17 19:13] ficristo commented on #12910
Are you able to access this json?
https://s3.amazonaws.com/extend.brackets/registry.json

[2016-11-17 19:28] nerk commented on #12898
@fricisto Sorry, I do not have  access to a 32-bit platform.

[2016-11-17 19:31] s5rockhoppers commented on #12918
That seemed to fix the problem...

[2016-11-17 23:44] gilberto389 opened #12922 "collapse all not work"
### Prerequisites

alt+1
not work

only this : Brackets Snippets (by edc)

win 7 64 bits

Also the cursor is directed to any line, apparently when saving

[2016-11-18 04:34] MandarSant opened #12923 "Feature Request (Package Website)"
It is very convinient to have brackets package/Theme  website like

- [Atom](atom.io)
- [VSCode](code.visualstudio.com) also like
-  [Sublime Text](packagecontrol.io)

[2016-11-18 05:55] suheib opened #12924 "brackets mac os x 10.5.8"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-11-18 07:06] TWOWhite commented on #12923
It is here https://brackets-registry.aboutweb.com/

[2016-11-18 08:52] nerk commented on #12898
@ficristo The workaround does not change anything on my 64-bit Windows, same behavior. However, I am aware that the patched node.exe is the 32-bit version, whereas the originally installed node.exe is a 64-bit version. But as mentioned above, I do not have access to a 32-bit Windows. (Brackets.exe is still 32-bit on my 64-bit Windows, though).

[2016-11-18 09:20] nerk commented on #12898
@ficristo 64-bit node.exe downloaded from /dist/v6.3.1/win-x64/ does not change anything either for me.

[2016-11-18 09:48] ficristo commented on #12898
@nerk sorry if I confused you. There were some comments about 32 bit so I added that workaround for them.
In your case I don't know what's going on...
Were you able to see hte extensions list and install them in 1.7?

[2016-11-18 10:41] nerk commented on #12898
@fricisto Yes, I've been using Brackets since 1.1 and have not had any problems until 1.8.

The problem manifests itsself in https://github.com/nodejs/node/blob/master/lib/_http_client.js:

[code]

`options.path` seems to contain a path with some invalid characters, This only happens if a proxy is configured in Brackets. I already tried to put an URL encoded proxy path into the configuration file,

[2016-11-18 12:12] nerk commented on #12898
@ficristo Surprisingly, if I replace node.exe with the one included in 1.7 (node v0.10.24), it works!

[2016-11-18 12:45] ficristo commented on #12898
Actually is not so surprising, since we have updated node from 0.10.x to 6.3.x I was expecting some breakage (but I was thinking more about extensions than Brackets itself).
If I'm not mistaken we still don't use any node 6 feature in core, so should be relative safe to use node 0.10. Keep in mind extension authors could start to relying on it.

If you want to mess with Brackets code I wonder if u

[2016-11-18 13:30] MandarSant commented on #12923
@TWOWhite is it official website?

[2016-11-18 13:37] petetnt commented on #12923
@MandarSant it is. It's also the interface for adding, updating and removing extensions.

There's also http://brackets.dnbard.com/ which ranks the extensions by downloads and such.

Closing as answered, but feel free to ask more questions if needed or send suggestions! 👍

[2016-11-18 13:37] #12923 closed

[2016-11-18 13:43] nerk commented on #12898
Thanks. I narrowed it down somewhat. The last working version of nodejs is 0.11.3. As of 0.11.4, things go wrong as described above.

The relevant changes might be here:

https://github.com/nodejs/node/commit/49519f121787d51394f00c871f854794e409bdda

I can not tell you exactly what is going on, because I'm not really eager to actually debug nodejs. However, if you need more details or I can do som

[2016-11-18 14:56] nerk commented on #12898
Not working with request 2.78.1. Now it get `ErrorNotification.js:122 [Extensions] Failed to connect to node` in the developer console. This is most likely incompatible with other modules of current Brackets.

If I had a version of node.js which actually included  `options` into  `throw new TypeError('Request path contains unescaped characters');` in _http_client.js, we could actually see more. Ma

[2016-11-18 15:25] nerk commented on #12898
Just for the fun of it, I tried v0.7.9 of node.exe and it worked!

[2016-11-18 15:56] ficristo commented on #12898
Just to be sure: have you tryed the new request with node 6.3.1?

[2016-11-18 18:11] matt-jarrett opened #12925 ""Brackets quite unexpectedly" After closing app - Mac"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-11-18 18:11] matt-jarrett commented on #12925
Please help, I'm pretty bummed my favorite text editor doesn't work on my new MacBook 😢

[2016-11-18 18:19] AgamlaRage opened #12926 "Language .logs (synthax highlighting for log files) for Brackets"
I would like to propose this as a feature, or a potential extension.

I can have this kind of interface in Atom, with this package [https://github.com/mrodalgaard/language-log](language-log).
There is a filter input (different of searching is great for log reading.
You can also filter by level (Warning, Error, ...etc).

![sans titre](https://cloud.githubusercontent.com/assets/15155827/20440982/c03

[2016-11-18 19:13] nerk commented on #12898
I hope so, but something else must have gone wrong.

Anyway, I just updated to Brackets 1.8  on my Windows 10 64-bit system at home. Without proxy configuration, everything is working fine. If I configure a proxy, I am observing exactly the same behavior ("Installation failed - Unknown internal error").

Next I installed `request@latest` and - voila, the problem is gone! (I get an connection timeo

[2016-11-18 19:33] nerk commented on #12898
Actually, if I specify the protocol in the proxy spec, e.g. `http://proxy:81` instead of `proxy:81`, I still get an "internal error". Seems to be a different one, though. This time, nothing is dumped to the Brackets console. I think this just might be such an internal incompatbility you mentioned regarding updating `request`.

I just leave it at that for now.

[2016-11-18 21:48] mattbaron commented on #12925
I'm having the exact same problem.  MacOS 10.12.1 (Sierra) on my new MacBook Pro 15".  No problems on my iMac running MacOS 10.12.1 on my iMac and no problems on Yosemite.

I also tried installing Brackets 1.7, and that has the same problem.

[2016-11-18 21:53] mattbaron commented on #12925
Process:               Brackets [14200]
Path:                  /Applications/Brackets.app/Contents/MacOS/Brackets
Identifier:            io.brackets.appshell
Version:               1.7.0 (1.7.0)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           Brackets [14200]
User ID:               501

Date/Time:             2016-11-18 15:33:27.949 -0600
OS Version:

[2016-11-18 22:23] matt-jarrett commented on #12925
I just formatted the hard drive and reinstalled the OS fresh and the problem persists.  I didn't install anything else, just Brackets 1.8 on a brand new OS.  I'd rather not have to switch my text editor :(  #help

[2016-11-19 00:27] Anthimos opened #12927 "Show parameter names when entering a function in javascript"
I just signed up for GitHub only to fill this request, it's very important to me:

### Description

When autocompleting a function in Brackets, the parameters of the function are shown, but they hide after I start typing the arguments. I'd really love being able to see what parameters this function requires in the right order (like the autocomplete at http://ternjs.net/doc/demo/. In the demo, even