[2015-03-12 01:27] DrPandemic opened #10733 "Creating new file/folder gets default name"
Hi,
I'm running Cinnamon on Arch Linux x64. I just updated my Brackets to "Release 1.2 experimental build 1.2.0-0".
I think the bug was introduced in my last update. When I create a new file/folder, or rename it, the document will always be called Untitled-1, Untitled-2, etc.
Even if I reload without extension, the bug persists.

[2015-03-12 02:00] prksingh commented on #10733
Do you mean brackets doesn't popup the save dialog for new files or that after you save, the new name provided is ignored and it defaults to original name ('untitled-1' maybe?)

[2015-03-12 02:58] noragrossman commented on #10728
Appears to work correctly on Ubuntu 14.04

[2015-03-12 09:42] datamweb commented on #10728
HI,
my windows is 8 pro  and brackets v 1.2
Please see the picture:
![Image 3](http://www.datamweb.ir/brackets/4.png)

[2015-03-12 11:04] #10521 closed

[2015-03-12 11:31] PhiLhoSoft commented on #10328
See also http://nickgravgaard.com/elastic-tabstops/ :-)

[2015-03-12 11:59] PhiLhoSoft commented on #9329
I had a look and apparently Brackets doesn't expose the read-only (or other attributes) status in the file API.
My starting point was the Various Improvements plugin which fetches the file date / time and display it.
https://github.com/Dammmien/brackets-various-improvements.git

I found something better (somehow): the Perforce plugin:
https://github.com/JoshGalvin/brackets-perforce.git

Very primi

[2015-03-12 12:31] prksingh commented on #10731
I have seen this issue but typing something fixes it. You can try clearing Brackets settings data from: C:\Users\<username>\AppData\Roaming\Brackets on Windows -- Don't delete the extensions folder.

If that doesn't work, can you please select *Debug > Show Developer Tools* and check to see if the console contains any errors.

[2015-03-12 12:32] ghostoy opened #10734 "Add support for Node.js 0.12.0"
Node.js 0.12.0 is released. Will Brackets upgrade to support this version?

[2015-03-12 13:42] yahyaKacem opened #10735 "Don't lose history when refresh"
When using Brackets and hit the F5 button to refresh the ability to undo changes is lost.
OS: Ubuntu 14.04.
Bracket Build: Release 1.2 experimental build 1.2.0-15697.

[2015-03-12 23:09] DrPandemic commented on #10733
You are right, that was not really clear. Brackets prompts me for a name, and when I click enter, it ignores the name and put a default one

[2015-03-12 23:25] DrPandemic commented on #10731
You are right, I could clean my settings. But a bug like that is, I think, a signal that maybe the setting parsing/validation could be improve? Currently, my logs or full of :
[code]
Maybe a sevice crashed? I have the impression, take this with a grain of salt, that the bug appears when I start working on a file named : profile.ejs.

[2015-03-13 01:27] prafulVaishnav commented on #10735
We have this item on the backlog https://trello.com/c/H8AyDwFA/391-local-history-versioning. You can upvote this.

[2015-03-13 08:21] nethip commented on #10733
@DrPandemic Could you confirm if this is happening in the released builds as well? When you say Brackets experimental builds are you referring to linux prerelease build?

[2015-03-13 09:06] aravindsanker opened #10738 "Hangs while opening larger files"
Whenever i open a large file like usual min.css bracket hangs, takes 5-10 minutes to load.

[2015-03-13 09:09] prksingh commented on #10735
Closing the issue to avoid duplicate tracking

[2015-03-13 09:09] #10735 closed

[2015-03-13 09:16] prafulVaishnav commented on #10738
@aravindsanker What is the size of file you are trying to open? Does this happen with all files having size equal or greater than that?

[2015-03-13 09:31] aravindsanker commented on #10738
Experiencing problem with Files of size around 150 kb. Other files with lesser memory are working just fine.

[2015-03-13 09:33] prksingh commented on #10734
I have created a task for this in the backlog. https://trello.com/c/DJwcfxyh

Please upvote it so it can be picked up on priority.

[2015-03-13 09:33] #10734 closed

[2015-03-13 09:45] prafulVaishnav commented on #10738
@aravindsanker Can you go through https://github.com/adobe/brackets/wiki/Troubleshooting#extensions and try reloading Brackets without extensions. If problem persists, please share the brackets version and platform you are using.

[2015-03-13 10:13] aravindsanker commented on #10738
Windows 7 is the OS I'm using
and  Release 1.2 build 1.2.0-15697 (release 8f82e2a97) is the bracket version.

[2015-03-13 10:50] prksingh commented on #10738
Could you share some /all of these files that lead to a hang?

[2015-03-13 10:52] wizzor commented on #9500
+1

[2015-03-13 12:25] nethip commented on #10731
@DrPandemic Could you check to see if this is happening with the Linux released builds? We still have some issues to be fixed in the prerelease build(which has CEF 2171 integrated).

[2015-03-13 12:33] nethip commented on #10698
@le717 Please refer to the following document to build Brackets from source.
https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets

Once you have built this, do this.
1) Open GitBash
2) `cd` to where you have downloaded Brackets source
3) Run the following commands

[code]

You should now be having the change which @le717 had put up for review(#8985)

[2015-03-13 13:09] nethip commented on #10738
Adding to the discussion, @aravindsanker If you are seeing this performance degradation with JS files, you could try disabling JS code hints. We have observed that certain JS files which have deep/circualr dependencies might slow down the performance, because of the `tern` worker which provides JS code hints.

Please follow the instructions in the below link to to disable JS code hints.

https://g

[2015-03-13 14:45] redmunds commented on #10738
@aravindsanker Brackets doesn't handle long lines very well, so I suspect that may be the problem. If you make a copy of the file and un-minify it (using something like the Beautify extension), how long does it take to load?

[2015-03-13 18:08] kneeki opened #10739 "PHP code Beautify"
Hey all,

I've looked through the extensions and I was unable to find an extension that supports formatting PHP code. I've tried `jsbeautify` and `beautifier`, neither work with a `.php` file. Anyone have any tips as to how I could go about beautifying my php files?

[2015-03-13 20:03] peterflynn commented on #10739
Closing and adding to 'Extension Ideas' list.  I'm not aware of any existing extensions that do this, but it would be a great one to have!

There are several open-source PHP formatters on GitHub, so extension authors might want to take a look at one of these as a starting point:
https://github.com/mmoreram/php-formatter
https://github.com/clbustos/PHP_Beautifier
https://github.com/NathanWong/phpfo

[2015-03-13 20:03] #10739 closed

[2015-03-13 20:39] peterflynn commented on #9500
Closing since this is already tracked on our feature backlog: [Open File/Folder from Command Line on Linux](https://trello.com/c/6JZLKIHn/1379-open-file-folder-from-command-line-on-linux).  Please upvote that item to help raise its priority.

(See also duplicates of this issue such as #8128, #6991)

[2015-03-13 20:39] #9500 closed

[2015-03-13 20:44] peterflynn commented on #10738
I doubt any of the causes being discussed here could possibly cause a 5-10 minute delay.  Opening a 150 KB file should only take a few seconds (even if editing within the file is slightly sluggish once it's open).

@aravindsanker where are these files located?  Do smaller files in the _same_ folder open with no problem?  If you copy one of these files into an empty folder and open _just_ that fold

[2015-03-13 21:20] peterflynn commented on #10733
@DrPandemic Between this and #10731, it sounds like you're having trouble entering getting Brackets to respond to text field input in general.

I second what @nethip said: can you confirm you're using an official, stable Brackets 1.2 build downloaded directly from http://brackets.io?  There's no build number on the end of your version number (after the "-"), so I think you have some sort of test b

[2015-03-13 21:30] peterflynn commented on #10734
@ghostoy If you or someone else could comment on that card about the benefits of upgrading Node, I think it would be helpful.  Updating is a bunch of work and could be destabilizing, so we'd want to know that Brackets is getting something worthwhile out of it before undertaking that work.

See also #10001, which is about a much shorter-term upgrade to a newer version of 0.10.x...

[2015-03-13 21:35] peterflynn commented on #10735
This may actually be more a duplicate of #10222.

@yahyaKacem What are you using F5 for?  Normally it's only used if you're developing an extension for Brackets or modifying the core source code...

[2015-03-14 01:40] redosendoken opened #10740 "code select"
select all codes in a line by clicking the line number

[2015-03-14 08:54] linuxjd opened #10741 "extension manage window isn't draggable?"
In the latest brackets, I cannot drag the extension manage.When the brackets is not  maximized,I cannot see all the manage window and the close button in the lower right.

[2015-03-14 13:54] GameplayJDK opened #10743 "Extension Manager not fully visible"
I've docked the brackets window to the right side of my screen, but as I tried to open the extension manager it wasn't fully visible:

![screenshot_1](https://cloud.githubusercontent.com/assets/4069263/6651897/9d6569e8-ca59-11e4-87c3-268960a98f50.png)

[2015-03-14 15:45] yahyaKacem commented on #10735
@peterflynn sometimes some plugins like [interactive linter](https://github.com/MiguelCastillo/Brackets-InteractiveLinter) stop working so I have to refresh brackets so it continue to work I didn't find why this is happening  probably there's's another bug.

[2015-03-14 18:02] GuyZipory opened #10744 "Anti-Virus (NOD32) blocking the "Live Preview""
Hello,
Whenever I hit Live Preview, Chrome opens up like it's supposed to. However, it is stuck at "Waiting". It takes extremely long to load, to the point where I don't even feel like using Live Preview anymore. And in the rare case that it does work, it's not live. It's like any other static http server.
so I tried to stop the my antivirus (NOD32) and suddenly problem fixed!

Now I don't sure ho

[2015-03-15 00:21] erasmo-marin opened #10746 "Use GtkHeaderBar and set dark theme by default in Linux version of brackets-shell"
Would be a very good improvement to use the GtkHeaderBar widget in the Llinux version of brackets-shell. Even better if you set the dark theme by default. It will provide better desktop integration, and the possibility to change the window decoration style through css.

Also, moving the menubar to the top or making a menu inside a GtkMenuButton would be a big improvement too.

[2015-03-15 09:39] dustindowell22 opened #10747 "Incorrect SCSS syntax highlighting after using interpolation."
When using interpolation, `#{}`, syntax highlighting in SCSS looks like this.
![](http://cl.ly/image/0t3e0j001p3p/Screen%20Shot%202015-03-15%20at%204.35.32%20AM.png)

Instead of how it normally would look, which would be like this.
![](http://cl.ly/image/3f42341a0C2K/Screen%20Shot%202015-03-15%20at%204.35.43%20AM.png)

[2015-03-15 12:33] WackiDesign commented on #10744
Yes, I can confirm that.
But NOD32 also blocks some extensions (for example eqFTP) and even some functions of Brackets.

Fortunately, you can exclude the protocol filtering in NOD32: advanced settings -> web and mail -> protocol filtering -> excluded aplications -> brackets.exe

[2015-03-15 13:04] petetnt commented on #10743
Duplicate of #10728

[2015-03-15 13:08] petetnt commented on #10728
My home PC (Windows 8.1.) shows yet another behavior on Brackets 1.2. (The best one yet I'd say, sans the overlapping search bar)

![image](https://cloud.githubusercontent.com/assets/7641760/6656100/04bdda78-cb25-11e4-9453-fd345762d44d.png)

[2015-03-15 13:45] petetnt commented on #10728
In general, there's some weird behavior with the extension manager.

First I thought that "hey, on my home PC this is actually even better" when I saw this:
![image](https://cloud.githubusercontent.com/assets/7641760/6656128/583c7bd6-cb26-11e4-8e57-83a3290d04c1.png)

But then I noticed I was on the `Installed` tab.  The Available and Themes tabs look like they look on my other comment above

![ima

[2015-03-15 16:03] MarcelGerber commented on #10747
Cross-filed: codemirror/CodeMirror#3133

[2015-03-15 17:21] DrPandemic commented on #10733
Updating/downgrading to the official release solved the problem for me. So I guess it's not a problem currently, but it could be in the next release. Should I close this issue?

[2015-03-15 17:23] DrPandemic commented on #10731
The Linux release build doesn't have the problem. Should I close this issue?

[2015-03-15 19:57] raminox opened #10748 "unable to install brackets extension unknown internal error (ubuntu 14.10)"

[2015-03-15 20:36] Azema commented on #10565
I have the same problem, with and without extensions.

_Problem:_ JavaScriptQuickEdit call `brackets._jsCodeHintsHelper` and `session` is null.

_Brackets version:_ Version 1.2 édition 1.2.0-15697 (release 8f82e2a97)
_OS:_ Windows 7 (x86)

[2015-03-15 22:12] yoyoy opened #10749 "How to create a custom shortcut"
Hello everybody...
i'm looking for a simple thing on google but did not find any example.

I would like to create my own shortcuts to write code...

for example if I do ALTGr+G I like to write $_GET[''] in my code directly...
same for ALTGr+P with $_POST['']
if my cursor can be positionned beetween the 2 quotes it would be fantastic...

please could you explain me the way to do that ?
thanks a loo

[2015-03-15 22:18] elice82 opened #10750 "Drop images/files in the sidebar where the files are standing"
I'm working in Brackets 1.2 on Yosemite (Mac OS X 10.10) and I can't seem to drop images in the sidebar where the files are. Sometimes I do get + sign but it opens in the top part.
I thought I could dot this in Mavericks (10.9).

[2015-03-15 22:29] yoyoy commented on #10270
@redmunds hello,
please whai is the code to handle Alt Gr ?
i tried in keymap.json

{
    "documentation": "https://github.com/adobe/brackets/wiki/User-Key-Bindings",
    "overrides": {
         "AltGr-P": "xxxxx.shortcuts"
    }
}

but brackets say the shortcut is not good
i do not find anything about it on https://github.com/adobe/brackets/wiki/User-Key-Bindings

thanks

[2015-03-15 22:29] torreslucas13 opened #10751 "Live Preview Not Works"
Browser: Google Chrome Version 41.0.2272.89 m
Brackets Release 1.2 build 1.2.0-15697 (release 8f82e2a97)
build timestamp: Sun Feb 22 2015 22:34:56 GMT-0800
![issue1](https://cloud.githubusercontent.com/assets/8942972/6658489/805cd35e-cb49-11e4-961c-a8f74fd0ffbe.png)

[2015-03-16 04:56] prksingh commented on #10740
Good candidate for an extension

[2015-03-16 04:56] #10740 closed

[2015-03-16 05:58] prafulVaishnav commented on #10751
Can you try https://github.com/adobe/brackets/wiki/Troubleshooting#livedev. Also make sure you have tried Debug > Reload Without Extensions to make sure it is not because of bugs in any extensions. Also can you share is there is any error on console (Debug > Show Developer Tools) Let us know if problem persists.

[2015-03-16 06:09] prafulVaishnav commented on #10750
Are you saying you are not able to open the image file when you drop it to brackets. Ideally droping any supported file will open it and add it to the brackets working files.
![untitled](https://cloud.githubusercontent.com/assets/10204469/6661356/00524206-cbd1-11e4-8136-0a32cdb4fd06.png)

[2015-03-16 06:15] prksingh commented on #10741
Do you mean, you can't drag the extension manager window. I am not sure if we could drag this in earlier versions even. I just tried a really old version of brackets (V0.38 on Mac mavericks) and could not drag the extension manager window.

Also the close button issue not being visible, is that a duplicate of bug #10728 ?

[2015-03-16 06:16] peterflynn commented on #10749
Check out the popular "Brackets Snippets" extension.

Snippets are not a built-in core Brackets feature right now, but if you'd like them to be, please upvote this item on our feature backlog: [Code Snippets/Templates: Insert & manage snippets](https://trello.com/c/tVSVhAg2/342-code-snippets-templates-insert-manage-snippets).

[2015-03-16 06:16] #10749 closed

[2015-03-16 06:17] peterflynn commented on #10740
You can also upvote this item on our feature backlog if you'd like this to be a built-in feature: [Click/drag in gutter selects line(s), double-click selects block](https://trello.com/c/rQOTX8JH/1022-click-drag-in-gutter-selects-line-s-double-click-selects-block).

[2015-03-16 06:19] peterflynn commented on #10731
No, I think we should leave it open with a tag indicating it's related to the CEF upgrade, since we wouldn't want to ship that in a Linux release without fixing this first.  @nethip, are you able to repro this on your Linux machine that has the new CEF branch building?

[2015-03-16 06:26] peterflynn commented on #10750
@elice82 "Sometimes I do get + sign but it opens in the top part." -- That's the correct behavior.  Dropping a file on Brackets always opens it.

If you want dropping a file onto the folder tree to actually move/copy the file into that folder, please upvote this item on our feature backlog: [Drag/drop from OS to File Tree (Copy/Move file)](https://trello.com/c/xwNIcxO6/347-drag-drop-from-os-to-fil

[2015-03-16 06:27] prksingh commented on #10743
Closing as it looks like a duplicate. Please reopen if your problem is different

[2015-03-16 06:27] #10743 closed

[2015-03-16 06:28] peterflynn commented on #10741
@linuxjd How big is the window size you normally use for Brackets?  If your window is at least 760x513, you should be able to see all of the Extension Manager dialog...

[2015-03-16 08:17] elice82 commented on #10750
@prafulVaishnav
Yes, this the behavior now.

Example:
I use Skitch (another app), drag the image outthere into Brackets and dropped into the folder "IMG". Not working files.
This what I did on Mavericks but on Yosemite it isn't supported anymore.

@peterflynn
I hope it is the same thing as I 'm writing about.

[2015-03-16 09:08] peterflynn commented on #10698
Changing title -- @f3yisayo, it seems the problem here mainly lies with the "mactype" font customizer tool you're using.  Brackets 1.1 and onward render fonts the way recent versions of Chrome (and other modern Windows apps) render fonts: using DirectWrite.  The [mactype FAQ](http://code.google.com/p/mactype/wiki/FAQ) says:

The screenshot of 1.0 above looks nothing like the text in 1.0 running on

[2015-03-16 09:10] peterflynn commented on #10698
I did notice that, in the Extension Manager dialog specifically, our newer builds have lost subpixel antialiasing -- a sliver of #9978 that isn't fixed yet.  We could keep this bug open to track that issue, but I have a feeling @f3yisayo is concerned with the overall UI appearance and not solely Extension Manager... so they're really two different issues.

[2015-03-16 09:18] peterflynn commented on #10698
Fwiw, the missing subpixel AA in the Extension Manager dialog is due to _something_ in the project tree's CSS -- remove that bit of UI from the DOM, and the problem goes away.  That's almost certainly Chrome bug https://code.google.com/p/chromium/issues/detail?id=435317 again, but unfortunately someone's marked it as a security bug recently, so now we have no way to tell when it will be fixed... y

[2015-03-16 12:12] #10160 closed

[2015-03-16 12:22] hdf commented on #6657
+1
nw.js is the future, and currently there are no IDE -s for it. I think brackets would be a great fit.
What stands in the way of using nw.js as live preview instead of chrome?

[2015-03-16 13:11] nethip commented on #6657
@jasonsanjose I recall you talking about a possible implementation of node-webkit based approach. Could you fill in more details here?

[2015-03-16 17:56] peterflynn commented on #10750
@elice82 That has never been supported in Brackets, but we'd like it to be a feature in the future. Please upvote the link I gave above to help raise its priority.

Closing to avoid redundancy since drag & drop files to copy is already tracked on our feature backlog.

[2015-03-16 17:56] #10750 closed

[2015-03-16 18:56] miguelsousa commented on #10680
I'll mention that by using `src: local(...)` you'll start running into problems related to not having all users using the same version of the fonts. In the long run I think these problems will outweigh the benefit of not fetching the fonts over the wire (which is something I believe is not going to happen every time because the browser is supposed to cache the fonts).

[2015-03-16 21:35] peterflynn commented on #6657
@nethip I believe that was research about running Brackets itself on top of node-webkit (instead of brackets-shell as today).  The request here is about pointing Live Preview at node-webkit (instead of the _Chrome browser_ as today).

With Multi-Browser Live Preview, this should already work.  For classic Live Preview, which probably isn't going away in the near future, it's more complex -- should

[2015-03-16 21:39] #6657 closed

[2015-03-17 04:26] prafulVaishnav commented on #10748
@raminox Can you please do troubleshoot given in https://github.com/adobe/brackets/wiki/Troubleshooting#extension-install Are you able to use Live Preview ?

[2015-03-17 06:32] nextgenthemes opened #10753 "Ability to set default highlighting for extension-less files."
Because of this https://github.com/adobe/brackets/pull/10141 and playing around I just got too the unfortunate fact that we can not set a default highlighting for extension-less files.

Steps to reproduce:
1. Open a text/bash/any file without a extension
2. Select a highlighting language
3. At this point the top of the menu becomes available and says "Set as Default for .-Files" (I guessed the wor

[2015-03-17 06:42] ivan1810 commented on #10555
I've wrote extremly simple extension for toggling panes:
[https://github.com/ivan1810/moving-between-splitted-windows] (https://github.com/ivan1810/moving-between-splitted-windows)

You can install it through extension manager.
Does it solve your problem?

[2015-03-17 07:36] petetnt opened #10754 "Main menu bar Find > Find In / Replace In are confusing or useless"
Win 8.1, Brackets 1.2. release.

Steps to reproduce:
1. Click a folder in File Tree
2. Folder collapses/uncollapses but isn't selected
3. Can't use "Find in Selected File/**Folder**" or "Replace in Selected File/**Folder**"

[2015-03-17 09:38] rodrigob commented on #10656
I got the same issue (after downloading bracket from source code).
I think the problem is that README.md does not provide any build instructions (that I could notice).

[2015-03-17 12:18] nethip commented on #10731
@peterflynn I am not able to repro this on my Ubuntu VM.

[2015-03-17 12:18] nethip commented on #10731
I am using Ubuntu 14.04.1

[2015-03-17 13:24] raminox commented on #10748
Yeah live preview it seems working well

[2015-03-17 14:38] redmunds commented on #10754
@petetnt Yes, this is by design. To use "Find in Selected File/Folder" or "Replace in Selected File/Folder", right-click on FIle/Folder in file tree and choose it from the context menu.

[2015-03-17 15:26] redmunds opened #10755 "Mac: Brackets opens on monitor with focus"
I am seeing this with Brackets 1.2 on Yosemite. I have a MacBook Pro with a secondary monitor.

It doesn't matter which monitor Brackets window was positioned in when I shutdown, Brackets is opened in whichever monitor has focus. Works either way between laptop monitor and external monitor.

[2015-03-17 15:30] MarcelGerber commented on #10270
@yoyoy You can simply write "Ctrl-Alt-P" rather than "AltGr-P".

[2015-03-17 15:59] abdelouahabb opened #10756 "Include autocompletion from class and id"
Hi,
I wish I can do this in Brackets, where I can have the `class` and `id` from the project, I guess this is easy to do, because it will scan the DOM using some XML parser, and get all the values of the classes and id, and of course the scan will be only in the same directory.
Here is an example from Eclipse:
![sans titre](https://cloud.githubusercontent.com/assets/2527234/6691450/e7d06202-ccc6-1

[2015-03-17 16:01] petetnt commented on #10754
Oh right! That explains why I couldn't figured out how to do it today when I was certain I had been able to do it before... most likely because I didn't check the context menu. Closing as it's by design. Thanks @redmunds

[2015-03-17 20:22] bstopp opened #10757 "Error Message when .brackets.json file has bad syntax"
Plugins fail to work correctly when a project's *.brackets.json* file has a bad format (like an extra **,** in an object). However there's no indicator that there is an issue with the configuration file.

Can there be a log message that pops-up when this is the case, similar to when it is a JS file?

![capture](https://cloud.githubusercontent.com/assets/6520270/6696726/6f806e58-ccb9-11e4-894b-6763

[2015-03-17 20:46] peterflynn commented on #10731
Hmm, since Arch Linux isn't officially supported (only Debian & Ubuntu are on the official list) maybe this is an Arch-specific problem?

@DrPandemic Can you try this:

1. Clone the Brackets git repo and checkout the `pflynn/in-browser-file-system branch` branch (and be sure you run `git submodule update --init`)
2. Run a local webserver from the root of the repo
3. Open `localhost:8080/src/index/

[2015-03-17 21:34] peterflynn commented on #10756
@abdelouahabb I agree that would be very cool!  We're tracking that idea on our feature backlog here: [CSS Code Hinting: CSS Class and ID used in HTML](https://trello.com/c/oldLUN3g/1032-css-code-hinting-css-class-and-id-used-in-html).  Please upvote that item to help raise its priority -- I'll close this bug to avoid duplication.

[2015-03-17 21:34] #10756 closed

[2015-03-17 21:38] peterflynn commented on #10754
Reopening since it seems like we shouldn't have those items in the menu bar if that can't actually be sensibly invoked from there.  Looks like those menu items were added in #7488 but without any real discussion.

[2015-03-17 22:07] peterflynn commented on #10691
Ah, actually I just realized that last remaining part -- "Ability to open two folders at once in the same Brackets window" -- is already captured in #8632, so I'll close this as a duplicate.

[2015-03-17 22:07] #10691 closed

[2015-03-17 22:44] abdelouahabb commented on #10756
ah wonderful! thank you! VOTING :+1:

[2015-03-18 05:35] prafulVaishnav commented on #10757
@bstopp Hii.. Brackets do show the message about the corrupt preference file when the brackets is loaded and it finds corrupt preference file.
![untitled](https://cloud.githubusercontent.com/assets/10204469/6703237/857edf50-cd5e-11e4-9db4-1b653e554aab.png)

Are you not able to see this message on brackets launch?

[2015-03-18 05:53] nethip commented on #10757
@prafulVaishnav I think @bstopp is referring to the .brackets.json present in the project folder not the global preference one.

[2015-03-18 06:00] prafulVaishnav commented on #10748
@raminox Hii. Some steps:

1. Have you tried the troubleshoot guide given above?

2. Can you do following -
Go to Debug -> Show Developer Tools
Go to the Console tab

If you see any error there, can you paste it here.

2. Are you able to install the extension manually i..e. by dragging the zip file.

[2015-03-18 06:22] prksingh commented on #10753
This makes sense to me. Adding to backlog for prioritization.

[2015-03-18 06:30] petetnt commented on #10754
Actually the new title matches the situation better...

In the menu bar, `Find/Replace in selected file` is pretty silly as it's exactly the same as just `Find`. Then again for `Find/Replace in selected folder` is something that I can think use for, especially when `Find/Replace in Files` defaults to project root.

But then again, all of those features are available when right clicking the file tr

[2015-03-18 06:36] petetnt commented on #10757
Ingo Richter's JSONLint Extension for Brackets (also available in the extension registry) does what @bstopp wants.

https://github.com/ingorichter/de.richter.brackets.jsonlint

[2015-03-18 07:06] prafulVaishnav commented on #10757
@bstopp I misunderstood.. We don't have check for the projects preference. Make sense to check for the corrupt preference file when project loads and show dialog if its bad.

[2015-03-18 08:12] nethip commented on #10755
@redmunds I will try to repro this and dig more into it.

[2015-03-18 08:24] nethip commented on #10746
@erasmo-marin This is definently a good idea! You could start a thread on brackets-dev (https://groups.google.com/forum/#!forum/brackets-dev) to get more thoughts on this and also find someone in the forum you would be interested in collaborating to work on this, as Linux side of things in Brackets are mostly driven by the community.

However, right now we are having a blocker(Crash on quit) on Li

[2015-03-18 08:51] nethip commented on #10718
@peterflynn By full native crash you mean render process crash right?. Because it looks like it is a render process crash/hang.

@cfjedimaster Have you installed any extensions? If yes, you could uninstall them and see if you are still seeing the issue. If you have already followed @redmunds 's suggestion of deleting the Brackets folder, ignore this step.

[2015-03-18 10:02] andreaslarsen commented on #10542
After latest update on mac cmd± doesn't seem to work

[2015-03-18 10:18] nethip commented on #10754
@peterflynn Yes I think this makes sense to remove these menu items.

[2015-03-18 10:46] prafulVaishnav commented on #10542
@andreaslarsen Can you try reloading Brackets without Extensions ?

[2015-03-18 11:15] andreaslarsen commented on #10542
@prafulVaishnav just did, still not working

[2015-03-18 13:20] bstopp commented on #10757
Sorry, should have been more specific. I am referring to the file within a given project; not the global preferences file.

[2015-03-18 15:22] redmunds commented on #10754
@petetnt `Find in selected file` is a little different from `Find` (in a single file) in that you see all of the results in the panel below.

[2015-03-18 16:00] petetnt commented on #10754
@redmunds ha, you are correct! Can't believe I missed that too..

[2015-03-18 16:13] redmunds commented on #10755
This may be a fact of life on Yosemite as I see it happen in other apps, too.

[2015-03-18 16:24] erasmo-marin commented on #10746
@nethip Thanks for the information. I already tried to fix this but brackets-shell is not compiling. I will try this branch instead. Thanks again.

[2015-03-18 17:08] nethip commented on #10755
@redmunds Good catch! :smile:  I am able to repro this too. I tried with some Apple apps(iTunes, safari) and non Apple apps(Chrome, Kontakt). The above behaviour is specific to Brackets. I will debug and figure out  why the window is getting moved to the active screen.

[2015-03-18 17:20] nsyrax opened #10759 "Unable to open files larger than 16mb"
I have tried running Brackets with and without extensions and get the same result. The error I receive is **"Error Opening File. An error occurred when trying to open the file C:/Users/nsyrax/20150312.txt. Files larger than 16 MB cannot be opened in Brackets."** I've tried opening several files that were also above 16 mb with no luck. My Brackets version is Release 1.2 build 1.2.0-15697 running on

[2015-03-18 21:38] peterflynn commented on #10759
@nsyrax The error message is correct: Brackets does not open files larger than 16 MB, to protect performance and stability.  How often do you need to edit text files larger than 16 MB?  How much larger are they?

[2015-03-18 21:39] peterflynn commented on #10755
@redmunds Is this a regression in 1.2, or has it been around for a while?  That has a bearing on priority...

[2015-03-18 23:02] redmunds commented on #10755
I also see this in Brackets 1.0, so not a new regression.

[2015-03-19 00:04] sixertoy opened #10760 "Brackets Registry"
Hey :)

i've uploaded console-plus extension as "malas34", since i've change my username...
now i can't update it or just a new versionunder sixertoy...
i don't know if it's an username issue, becaus i've tried to upload a new zip, changing package name dans it fails

Sorry :(
Thx

[2015-03-19 00:16] peterflynn commented on #10746
@erasmo-marin I believe @ingorichter has already done some work on a native menu bar for the Linux shell... I'm not sure if it's posted on a branch anywhere though.  See adobe/brackets#7236.

[2015-03-19 03:08] caphodel commented on #7387
I've receiving 'Bad Request' today. Anything i can do to my zip file? or just wait someone fix this on the server side?

[2015-03-19 03:52] nethip commented on #10755
@redmunds I could debug the problem and the problem lies in the following code in `cefclient_mac.mm`.

[code]

and

[code]

On substituting the first part with
[code]

and disabling the `setShouldCascadeWindows` part, the bug seems to go away.

[2015-03-19 04:19] rawat11 commented on #10570
@nethip Can you please check at your end if it has been addressed or not

[2015-03-19 05:14] prksingh commented on #10542
@andreaslarsen Could you create a new issue for this? Your issue seems different from the issue being discussed here

[2015-03-19 05:18] prksingh commented on #10757
This does seem like something brackets should do. Would be good to hear what @ryanstewart thinks.

[2015-03-19 05:21] nethip commented on #10757
IMO we should do what we are doing with the corrupted global preference file. I think applying the above workflow(which @prafulVaishnav has pointed out) for project's bracket.json should be the ideal fix.

[2015-03-19 05:45] prksingh commented on #10760
This is the extension you mean to update? https://github.com/sixertoy/brackets-console-plus

The registry is maintained by AboutWeb. I can try to reach someone from Aboutweb to see if they can update the permission to your new username

[2015-03-19 07:04] phoenix3008 commented on #7387
I am trying to update my extension to a new version, and also get 400 'Bad request'

[2015-03-19 08:13] nethip commented on #10570
@rawat11 Sure! We are yet to prioritize this. It would be great if you can you help us with figuring out which build might have broken this. Earlier builds are located at the following location.

https://github.com/adobe/Brackets/releases. I think this feature went into Brackets in Sprint 36, but that is just a guess.

[2015-03-19 09:01] sixertoy commented on #10760
Yes

It would be nice :)
Of course if your are in touch with them ;)

++

[2015-03-19 12:12] nsyrax commented on #10759
@peterflynn Every Tuesday and Thursday I process files that are between 16-17mb, so I do it pretty regularly. It's a new process I've been given, so it's also a new problem I hadn't encountered with Brackets before. BTW, I LOVE Brackets. Since I started using it, this is the ONLY thing where it's let me down.

[2015-03-19 13:02] abose commented on #10719
@DaLaw I was not able to repro this issue. Are you still facing the problem?

[2015-03-19 13:08] ralder commented on #10398
You need to run Brackets.exe with flag --disable-direct-write (you may add it in field target in properties of shortcut Brackets)

[2015-03-19 13:16] ralder commented on #10698
for continue using mactype https://github.com/adobe/brackets/issues/10398#issuecomment-83554972

[2015-03-19 13:30] abose commented on #10696
@andyburke Which version of OSX are you on? Are you still facing this issue?
Works in my machine™

[2015-03-19 14:16] rainje commented on #10720
Bad request is back.

[2015-03-19 14:46] mitchellsimoens commented on #7387
Am also getting Bad Request. @peterflynn any way to kick the bucket again to fix?

[2015-03-19 16:30] lkcampbell commented on #10754
This issue is coming up because the new version of the project tree does not highlight the folders when they are opened or collapsed. Not sure when this changed, probably with the React update of the project tree. I looked at a much older version of Brackets (Sprint 37) and the folders use to highlight when we selected them. Without that highlighting, a menu version of this command makes no sense

[2015-03-19 17:49] prksingh commented on #10754
Instead of removing the menu, would it be better to allow folders to be selected in file tree and populate the selected folder by default on `Find/Replace in selected folder`? If no folder is selected, we could default to the whole project or the current file

[2015-03-19 17:50] iampeterbanjo opened #10762 "Wrap with abbreviation shortcut has been removed"
Hi. I love Brackets and especially it's integration with Emmet.

The "Wrap with abbreviation" shortcut is no longer working - sometime in the past week or so it seems to have been disabled or removed. The shortcut used to be Ctrl (Cmd) + Shift + A but it no longer works or appears under the Emmet drop-down next to "Wrap with abbreviation". I don't know if it's related to #3280.

I am using a Mac a

[2015-03-19 19:13] fastinvsqrt opened #10763 "Copy and/or paste broken in 1.2 on 64-bit Win8.21"
I'm sorry if this has been reported already, but I recently upgraded from 1.1 to 1.2 on a 64-bit Windows 8.1 and copy/paste functionality is now broken. I tried using Ctrl+C and Ctrl+V as well as going into the menu.

I did not have the time to check to see if content was actually copied to the clipboard when I pressed Ctrl+C, so I am not sure if it is copy or paste that is broken.

[2015-03-19 19:47] andyburke commented on #10696
It seems to have abated. This was actually only happening under a Dropbox controlled folder. Maybe a new version of Dropbox came out that fixed this. Closing.

[2015-03-19 19:47] #10696 closed

[2015-03-19 20:28] caphodel commented on #7387
Now i got ENOSPC, that's mean there is no space left on the server.

[2015-03-19 20:45] phoenix3008 commented on #7387
when will be some free space on server, to upload extensions ?

[2015-03-19 20:48] greasan opened #10764 "Quick edit with Jade"
Hi,

is it possible to use quick edit css feature with Jade?

[2015-03-20 00:17] cfjedimaster commented on #10718
I haven't seen this again since the original report.

On Wed, Mar 18, 2015 at 3:52 AM, Prashanth Nethi <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for MobileFirst at IBM

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: raymondcamden

[2015-03-20 02:07] dmxt commented on #10398
The flag `--disable-direct-write` solved the problem. Hopefully it will be configurable through the config.

Thanks.

[2015-03-20 02:20] unproductiveefficiency opened #10765 "When trying to open a PSD for the first time in Extract it says "To sign in, please connect to the internet.""
Obviously I am connected to the internet. I have tried turning off firewall and reinstalling. I tried versions 1.1 and 1.2, but am having the same problem.

http://i.imgur.com/4yckfBk.png

[2015-03-20 06:08] prafulVaishnav commented on #10764
@greasan We don't have Jade support in Brackets. There are some extensions available for Jade highlighting and snippets in Brackets.

[2015-03-20 06:15] prafulVaishnav commented on #10763
@fastinvsqrt  Can you please try this to make sure it is not caused by any extension :  Start by using Debug > Reload Without Extensions

[2015-03-20 06:26] nethip commented on #10765
@unproductiveefficiency Sorry for not being able to use Extract. Could you confirm if you are able to install any extension and also tell us if you able to use Live Preview feature? Also please check if you are able to open the PSD by pasting the short URL of your PSD?

[2015-03-20 06:40] nethip commented on #7387
We are looking into. We have already sent a mail to aboutweb guys and hopefully this should get resolved sooner.

[2015-03-20 06:44] nethip commented on #10762
@iampeterbanjo Just to rule out some possibilities can you try running Brackets without extensions. Choose `Debug->Reload without Extensions`. The next step you could try is to check to see if you have any custom key bindings. You could access the same from `Debug->Open User Key Map`. More about key bindings can be found at this location. (https://github.com/adobe/brackets/wiki/User-Key-Bindings)

[2015-03-20 07:45] peterflynn commented on #10763
@fastinvsqrt Do you have "Webroot Identity Shield" installed?  There is a known bug in that product that blocks copy/paste for some Brackets users -- see #2531 / #6683.

[2015-03-20 07:47] peterflynn commented on #10762
@iampeterbanjo Since this is a problem with the Emmet extension specifically, and not Brackets core, please file this bug with the Emmet extension's developers instead.

Actually, looks like someone beat you to it: emmetio/brackets-emmet#78.  Might want to leave a comment over there.

[2015-03-20 07:47] #10762 closed

[2015-03-20 07:51] peterflynn commented on #10754
@prksingh We deliberately removed the ability to select folders earlier, since it presents usability issues of its own (e.g. selection highlight no longer reflects what file is shown in the editor area), and a number of other tools also don't let you select folders.  Since the same feature is already accessible via right-click, I think it's better to just remove the confusing menu items for now.

[2015-03-20 07:58] peterflynn commented on #10570
I don't think you'll find any build where this ever worked, so this is probably pretty low priority.  Especially since it's an unusual workflow, and the "fixed" behavior wouldn't be much nicer -- if you rename a .png file to .css and _then_ open if in Brackets, you'll see an error dialog instead of a preview of the image since it doesn't have an image file extension.

The reason you see nothing in

[2015-03-20 08:11] artlantis commented on #9793
Same for me. Right now I am working behind the proxy which is controlling by hardware firewall. Therefore, the Brackets does not connect to Adobe Cloud service. Brackets always throw an error message like:

[code]

[2015-03-20 08:44] caphodel commented on #7387
Thank you so much @nethip

[2015-03-20 09:19] nethip commented on #9793
@jasonsanjose Any thoughts on how to resolve these firewall issues?

[2015-03-20 09:48] Timodz opened #10766 "Integreted Live Preview"
It Will be nice if The Application has an Integreted Live Preview So users Dont have to go each time to the browser so  work and test in Brackets

[2015-03-20 09:54] prksingh commented on #10720
I will contact AboutWeb to restart the server again

[2015-03-20 09:56] iampeterbanjo commented on #10762
@peterflynn @nethip Thanks both.

[2015-03-20 10:50] prksingh commented on #10718
@cfjedimaster I think you may have moved the folder (from the link). Can you provide a new link? Also what version of Mac OS are you using?

[2015-03-20 10:57] prksingh commented on #10398
Thanks @ralder for the solution. Closing as a duplicate of #10698

[2015-03-20 10:57] #10398 closed

[2015-03-20 11:07] prksingh commented on #10764
Brackets focuses on core web languages (HTML, CSS and Javascript). There may be extensions contributed by developers for other languages though as mentioned by @prafulVaishnav.

[2015-03-20 11:07] #10764 closed

[2015-03-20 11:26] pantkowiak commented on #10569
@julieyuan issue is fixed with PR #10767, please verify.

[2015-03-20 11:46] prksingh commented on #10754
@peterflynn Got it! Thanks. Removed the two confusing menu items

[2015-03-20 12:10] fastinvsqrt commented on #10763
@prafulVaishnav I can re-install 1.2 later and try.

@peterflynn I don't have Identity Shield, but I do have Webroot SecureAnywhere.

[2015-03-20 12:55] prksingh commented on #10766
This is being tracked as a trello card: https://trello.com/c/YG0BBlrl You can upvote the card to increase its priority.

This feature has not been high on brackets priority though, as mentioned in the card:

"One of our central ideas when creating Brackets is that there should not be a 'design view'. We believe that designs and code are best /displayed run in their target environment, not in an em

[2015-03-20 12:56] prksingh commented on #10766
Closing to avoid duplication

[2015-03-20 12:56] #10766 closed

[2015-03-20 13:35] PhiLhoSoft opened #10769 "Refresh (F5) with two different projects in two windows"
I have two different projects opened in two instances of Brackets.
I loaded P1 first, then P2.
If I refresh the Brackets instance of P1 with F5, it opens on the P2 project, and when I go back to P1, I have lost all opened files in the working files list.

Minor issue, but I thought I should report it.

[2015-03-20 15:06] AJDBenner opened #10770 "Indentation looks incorrect on the <tr> tag"
This is what the issue looks like.

![demo2](https://cloud.githubusercontent.com/assets/9154982/6754095/d5c4dfa8-cef0-11e4-928f-8b578d4896d3.gif)

[2015-03-20 15:29] andreaslarsen commented on #10542
@prksingh it resolved itself (no idea how). I'll create a new issue if it reappears.

[2015-03-20 16:40] jasonsanjose commented on #9793
You might check with @dangoor since he's familiar with the proxy handling that was implemented for the extension registry.

[2015-03-20 18:22] peterflynn commented on #10763
@fastinvsqrt Webroot is almost certainly your problem then.  Can you try the fix described in https://github.com/adobe/brackets/issues/2531#issuecomment-23747772 or the settings workaround suggested in https://github.com/adobe/brackets/issues/2531#issuecomment-75397950?  If neither of those work, please contact Webroot support for a more permanent fix following these instructions: https://communit

[2015-03-20 18:40] MarcelGerber commented on #10760
@prksingh AFAIK, @ingorichter has admin rights to the registry too (and thus can change owners as well), so reaching out to him may be faster.

[2015-03-20 19:53] holdav opened #10772 "Adobe Extract crop tool missing."
Hello,

could it be possible to implement crop tool in Adobe Extract plugin? This tool is very useful. Pure layers aren't always that what HTML coder needs and crop tool is necessary in this cases.

Thanks.

[2015-03-20 20:24] AJDBenner opened #10773 "Live Preview MultiBrowser doubles the content when using Quick Edit (CMD + E)"
When you enable experimental live preview in the File menu and use the Quick Edit (CMD + E) widget to alter CSS on an element the content in the rendered live preview window repeats itself.

Before the CSS widget change.

![screen shot 2015-03-20 at 4 19 28 pm](https://cloud.githubusercontent.com/assets/9154982/6760202/ee84cb30-cf1c-11e4-8fe5-0a91298981c7.png)

In this example, when you change the

[2015-03-20 20:25] AJDBenner commented on #10773
CC @humphd

[2015-03-20 23:45] peterflynn commented on #10770
It's expecting the opening `<tr>` to be indented too.  If you press Enter at the end of the `<table>` line (instead of the beginning of the `</table>` line as shown above), then the blank line between the two will be indented already, and you'd have to explicitly choose to hit backspace to get them to mismatch that way.

So maybe the bug here is that hitting Enter isn't inserting the correct numbe

[2015-03-20 23:47] peterflynn commented on #10770
Same thing happens here, so it is a bug / missing feature in CodeMirror: http://codemirror.net/mode/htmlmixed/

[2015-03-20 23:49] peterflynn commented on #10769
@PhiLhoSoft Are you using the _Debug > New Brackets Window_ command, or are you actually explicitly launching Brackets twice?  The latter should be hard/impossible to do...

[2015-03-21 00:08] DrPandemic commented on #10731
I didn't know you were planning to have a browser version, I like the idea.

You wrote : ```localhost:8080/src/index/html``` but I used : ```localhost:8080/src/index.html ```

For the first part, I wasn't able to reproduce the bug, but I don't know if it's really representative. The problem was not always present. Normally, I'm able to trigger it when I open files, and in the web version, I can't

[2015-03-21 02:19] trent- opened #10774 "Need to hit close button in title bar twice to exit"
OS: Ubuntu 14.04 x86_64; Brackets version 1.2.0-15697

It seems to exit out of brackets, when using the close button on the title bar, I need to click it twice.

![demo](https://cloud.githubusercontent.com/assets/1747643/6763333/7b3adf98-cfcb-11e4-8abc-1cb3742c147b.gif)

* **Scenario 1:** Open brackets, all changes are saved, need to click the close button twice.
* **Scenario 2:** Open brackets, m

[2015-03-21 07:06] prksingh commented on #10760
I have reached out to Ingo as well. Ingo or someone from Aboutweb should be able to fix this.

[2015-03-21 10:09] sixertoy commented on #10760
Thx a lot guys :)
i should send you some French fresh "croissants au beurre" ? for apologize :D

[2015-03-21 11:15] valtlai opened #10775 "Can’t translate string `FIND_IN_FILES_SCOPED` correctly"
I’m not able to translate string `FIND_IN_FILES_SCOPED` correctly into Finnish, because it’s used in two different places.

When an user clicks file tree item and selects “Find in…” `FIND_IN_FILES_SCOPED` should be `kohteesta <span class='dialog-filename'>{0}</span>`.

When s/he selects “Replace in…” the string should be `kohteessa [...]`.  (Letter _s_, not _t_)

For this reason, there should be t

[2015-03-21 13:08] unproductiveefficiency commented on #10765
Yes. I was able to use other extensions. For some reason it just started working. Sorry I could not give a reason why.

[2015-03-21 13:23] GameplayJDK opened #10776 "Wrong order when switching documents using Ctrl+Tab or Ctrl+Shift+Tab"
I noticed this as I wanted to switch using the shortcut keys after changing the order of the "Working Files":

![bug00](https://cloud.githubusercontent.com/assets/4069263/6765185/c3dad4d8-cfd5-11e4-85b0-9e49dfd10b31.gif)

[2015-03-21 13:34] abdelouahabb opened #10777 "Enabled Experimental live preview is always on."
Hi, if this feature is enabled, it stays even if disabled, it will enable again, to disable it, it must be done from `brackets.json` and put `"livedev.multibrowser": false,`.

`Release 1.2 build 1.2.0-15697 (release 8f82e2a97) `

[2015-03-21 13:41] abdelouahabb commented on #10373
for me, it doesent start at all!
![sans titre](https://cloud.githubusercontent.com/assets/2527234/6765252/44ef3698-cfd8-11e4-866e-5f5c86975d54.jpg)

[2015-03-21 14:08] maityarkodeb commented on #7387
Subscribed to thread for future updates on this issue.

[2015-03-21 16:24] Timodz commented on #10373
Me too i had that problem and solve it by Enabling Experimental Live Preview
![screenshot 2015-03-21 17 23 24](https://cloud.githubusercontent.com/assets/10684872/6765795/20ded472-cfef-11e4-83c4-d944427b301d.png)

[2015-03-21 17:20] AJDBenner commented on #10770
I see what you mean about the opening `<tr>` tag expecting to be indented too. Thanks for taking a look.

[2015-03-21 18:11] dmxt commented on #10398
Please reopen this issue. The flagging solution is quick hack fix at best, because it doesn't work well in other situation such as:

* You only can add flag to shortcut file.
* I cannot start Brackets with flag through right-click context menu, because it starts with original .exe without flag.
* FileZilla doesn't work properly with flag argument when I try to edit more than one file through FileZ

[2015-03-21 18:16] dmxt commented on #10398
@prksingh Reopen the issue, please.

[2015-03-21 21:42] TheTeapot418 opened #10778 "Extensions manager is positionned strangely"
I have noticed this bug since the last update. I don't know if it depends on the screen resolution ...

Expected behavior :
Opening the extensions manager brings up the window horizontally and vertically centered

Actual behavior :
The extensions manager window is correctly positionned vertically, but is not centered horizontally

[2015-03-22 01:48] prksingh commented on #10398
@dmxt I had closed this issue because it appeared to be a duplicate of issue #10698

Are you saying that this issue is different from 10698? Otherwise we can continue to track it there

[2015-03-22 10:54] raminox commented on #10748
## I did what you mentioned above & all i got this message
[node-error 10:28:32 AM] [Launcher] uncaught exception
at top level, exiting. Error: listen EADDRINUSE
at errnoException (net.js:901:11)
at Server._listen2 (net.js:1039:14)
at listen (net.js:1061:10)
at net.js:1135:9
at dns.js:72:18
at process._tickCallback (node.js:415:13) ErrorNotification.js:125
[node-info 10:28:32 AM] [Server] stopping

[2015-03-22 11:36] zaggino commented on #7387
Hi guys, some people in this thread might be interested:
https://groups.google.com/forum/#!topic/brackets-dev/lxMADzwDoWk

[2015-03-22 12:30] petetnt commented on #10769
@peterflynn you can launch a second (or nth) instance of Brackets (at least on Windows) by right clicking the task bar icon and selecting `Brackets`.

![image](https://cloud.githubusercontent.com/assets/7641760/6769308/dfc3debe-d09e-11e4-8b3f-d996ed2dbf20.png)

![image](https://cloud.githubusercontent.com/assets/7641760/6769303/ba694424-d09e-11e4-8930-b0e5edf711bd.png)

(The bottom-most one is Bra

[2015-03-22 12:36] petetnt opened #10779 "Mashing F5 crashes Brackets"
Found this small issue that most won't run into when testing out for #10769 but anyway:

(Windows 8.1., Brackets 1.2.)
1. Open Brackets
2. Repeatedly reload the project with `F5`
3. Soon-ish Brackets hangs and can only be terminated via Task Manager:

![image](https://cloud.githubusercontent.com/assets/7641760/6769358/adf4d2ce-d0a0-11e4-9d22-7fdbee6cc66a.png)

[2015-03-22 12:59] petetnt opened #10780 "Show Developer Tools-command should bring the window to top"
Steps to reproduce (Win8.1., Brackets 1.2.)

1. Show developer tools
2. Click the main Brackets-window so that the devtools-window falls behind the main one
3. Click "Show Developer Tools" (or press F12) -> devtools-window is still behind the main Brackets-window.

Try the same in Chrome for example, where pressing F12 always shows the developer tools on top when the window is detached but open. I

[2015-03-22 14:10] PhiLhoSoft commented on #10769
As said, I just have Brackets in my Quick Launch menu and start a new instance from there.

I will try to spawn from inside, maybe it can save some memory?

[2015-03-22 15:26] fastinvsqrt commented on #10763
@peterflynn I'm sorry it has taken me so long to get back to you, but the solution you described in #2531 ([here](https://github.com/adobe/brackets/issues/2531#issuecomment-23747772)) worked. Thank you!

[2015-03-22 16:08] RadiationX opened #10781 "Problems with opening files and closing program in Elementary OS[luna]"
1. If you try to open a file, the program opens, but the file does not open. Open the file, you can use Drag-and-drop or "Ctrl + O".

2. Need two click to "close button" that close program.

[2015-03-22 20:50] JohnL3 opened #10782 "Brackets dose not recognise my css file for quick edits"
Brackets wont recognise my css file for quick edits .... when i go to quick edits and hit new it opens up a list of other css like main.css Quickveiw.less styles.less .
i can manuall click on my css file and add styles and it updates the html that im working on.
when i installed brackets it had this problem and would only bring up the read me  main.css for the help html. so after trying a few time

[2015-03-22 21:34] JohnL3 commented on #10782
Managed to close the other files that were showing up under the file i was working on. still hasnt helped but from the attached image you can see the simple example i am trying. you can see the preview in the browser with the css styles and you can see in the edting window when i now click quick edit it says "They are no stylesheets in your project create one to add CSS rule."
would really appreci

[2015-03-23 00:53] Nio-av opened #10783 "Search field in Menu Bar does not exist in the Germany version (OS X)"
After setting the System Language from English to German, the Search - Field in the Top-Menu (Menu / Help ) does not exist anymore.

[2015-03-23 01:02] dmxt commented on #10398
@prksingh My issue is older than his, it doesn't make sense to close an issue if someone else make a repetitive post? I'm not complaining, it just doesn't make sense... but if you think it's right thing to do, then that's fine, I have nothing against it.

[2015-03-23 02:21] dangoor commented on #9793
If I recall correctly, the proxy value can be passed in when making requests in Node and that's all we did with that proxy flag.

[2015-03-23 02:37] PavanKu commented on #10782
@JohnL3 , I think, you need to open the folder which contains CSS and html files in brackets then only Brackets will come to know linked css files.

So follow below steps:
1) Click on "screenshots" drop down in side bar
2) Open folder containing css and HTMLS
3) Try "Quick Edit"

[2015-03-23 08:09] JohnL3 commented on #10782
Thank you very much for this ... clicked on screenshots and opened my flolder throught the option there and it worked can now quick edit ....

[2015-03-23 08:09] #10782 closed

[2015-03-23 08:22] prafulVaishnav commented on #10774
Duplicate of #4611

[2015-03-23 08:25] prafulVaishnav commented on #10778
@TheTeapot418 Can you paste here the screenshots? What is your platform and version of Brackets? We have some ongoing issues related to Extension Manager positioning : https://github.com/adobe/brackets/issues/10728 https://github.com/adobe/brackets/issues/9838

[2015-03-23 08:36] prafulVaishnav commented on #10776
@GameplayJDK Are you able to consistently reproduce the issue? Can you tell if there is any console error ( open Debug -> Show Developer Tools & see console tab)

[2015-03-23 08:42] prksingh commented on #10774
As mentioned by @prafulVaishnav this may be a duplicate of #4611 Please note that there may be a fix for this in PR: https://github.com/adobe/brackets-shell/pull/458 Can you test if pulling those changes fixes your issue. There may be some testing pending on the Pull request. It would help us if you can confirm it fixes your issue. Thanks!

[2015-03-23 08:43] prksingh commented on #10774
Closing the issue to avoid duplication

[2015-03-23 08:43] #10774 closed

[2015-03-23 08:47] prksingh commented on #10765
Closing for now. Please reopen if you see the issue again.

[2015-03-23 08:47] #10765 closed

[2015-03-23 08:54] prksingh commented on #10777
Do you mean you can't turn Experimental live preview off from the menu? Which OS is this? I just tried reproducing this in windows but couldn't. Could it be a timing issue (Can you check waiting for a few seconds and then turning it off to see if it fixes it)? Is it intermittent for you or you see this happening all the time

[2015-03-23 08:57] brad-jones commented on #10720
+1 bad request is coming up for me too. Any progress been made with AboutWeb?

[2015-03-23 09:09] prksingh commented on #10779
Am able to reproduce on Windows 7 as well. Thanks for reporting. Adding 'move to backlog' so we can assign some priority to this. Looks like a very rare scenario so may not be an urgent fix.

[2015-03-23 09:14] prksingh commented on #10780
This has my vote too. I agree that this should be the correct behavior. Adding 'needs review' so team can also have a look at this before deciding the right behavior

[2015-03-23 09:22] prksingh commented on #10398
I saw that your issue was older but the 10698 had more discussion and information on it.

[2015-03-23 09:25] prksingh commented on #10763
Closing the issue as fixed

[2015-03-23 09:25] #10763 closed

[2015-03-23 10:50] #10754 closed

[2015-03-23 11:15] petetnt commented on #10754
:+1:

[2015-03-23 11:31] onlymaj commented on #9793
Also in some countries like mine i see this :

its better to use local offline method . it's not reasonable to upload about 200MB files on the cloud to use this system btw.

[2015-03-23 11:40] petetnt commented on #10776
Duplicate of #9538 , being tracked at #6273

[2015-03-23 12:29] TheTeapot418 commented on #10778
Sorry, here is a screenshot :

![capture d ecran 119](https://cloud.githubusercontent.com/assets/11538064/6779818/348b6b58-d160-11e4-9f75-0e917b5ad3fb.png)

I am running Brackets 1.2.0-15697 on Windows 8.1 Update 1. My screen resolution is 1366x768px

[2015-03-23 13:01] abdelouahabb commented on #10777
Here is a trick to do:
1- Open the preferences file.

2- Enable or disable the experimental live preview from the Menu.

3- You will see that the file will not get modified!

here is an example, notice that there is no star near the name to tell that it has been modified.
![sans titre](https://cloud.githubusercontent.com/assets/2527234/6780400/24e704be-d165-11e4-8ff9-453436d24675.jpg)

[2015-03-23 14:28] rainje commented on #10744
Two days ago I noticed that brackets hangs every 5 minutes or so, I tried disabling some extensions, then all with no success. I cleaned brackets and reinstalled it, after only a minute working with this fresh  bracket install (no extensions) it froze again... I'm also using NOD32 so it may be related, I excluded the application from filtering and no more freeze.

[2015-03-23 16:02] JosephGF commented on #10720
I have probelms too

[2015-03-23 17:52] mtylenda commented on #10760
Hey @prksingh, @MarcelGerber and @sixertoy! The server appears to have had some network connectivity issues which are now resolved. Let me know if you still have trouble uploading.

[2015-03-23 18:57] borgdylan opened #10785 "Linux x86: X11 crashes or freezes when brackets is closed"
Using brackets 1.2 for Linux 32bit (the extract bundle) makes X11 crash/freeze on exit.

[2015-03-23 20:05] peterflynn commented on #10776
Closing.  Ctrl-Tab moves in MRU order (like most other code editors, but unlike web browsers). We plan to add alternate shortcuts in a future version to move in linear order; in the meantime, you can use my File Navigation Shortcuts extension.

[2015-03-23 20:06] #10776 closed

[2015-03-23 20:07] peterflynn commented on #10778
@TheTeapot418 Can you try [manually disabling all extensions](https://github.com/adobe/brackets/wiki/Troubleshooting#disabling-extensions-individually) and see if the problem goes away?  (If so, you can re-enable extensions one-by-one or in small groups to pinpoint which one is causing the problem).

[2015-03-23 20:09] peterflynn commented on #10780
Works correctly for me on Mac, so marking as Windows-only.

[2015-03-23 20:22] humphd opened #10786 "Allow QuickView image preview for arbitrary URLs missing image known extension"
Currently the code for QuickView's image preview depends on a URL having a known image extension:

[code]

This is fine in the general case, but falls down when you use an image from a web service.  For example, my gravatar image is https://avatars3.githubusercontent.com/u/427398, which will fail this regex and shows no preview, despite the fact that the image can be loaded correctly.

I think thi

[2015-03-23 20:30] TheTeapot418 commented on #10778
@peterflynn Ok so apparently, the extension which causes the problem is the preview of Extract

[2015-03-23 20:39] humphd opened #10787 "Phase out file:/// URIs and replace with URL.createObjectURL() and BLOBs"
Brackets' Filesystem implementation is swappable, which is great, and let's one run in environments other than a native appshell.  For example, I'm using an `IndexedDB`/`WebSQL` backed filesystem to run Brackets in a browser, and things mostly "Just Work."  However, there are still aspects of the code that assume resources are available via a local, native filesystem, the worst being uses of `file

[2015-03-23 20:42] cfjedimaster commented on #10718
Here ya go: https://github.com/cfjedimaster/Cordova-Examples/tree/master/multiimageselect

[2015-03-23 20:48] cfjedimaster commented on #10718
Holy smokes - I see it again. OSX Yosemite.

[2015-03-23 20:50] cfjedimaster commented on #10718
Ok, killed Brackets, cleared cache, and restarted. Once again it was an Ionic/Angular app (this time under MobileFirst).

[2015-03-23 21:29] dag0310 commented on #10664
**[Tab Out](https://github.com/dag0310/tab-out)** is done and uploaded to the [Extension Registry](https://brackets-registry.aboutweb.com/) :-)

[2015-03-23 21:34] dag0310 commented on #7387
Uploading my [Tab Out](https://github.com/dag0310/tab-out) extension to the [Extension Registry](https://brackets-registry.aboutweb.com/) was not possible yesterday ("Bad Request"), but today it worked. I didn't upload the same file, though. Today I used the GitHub release ZIP and yesterday I just tried uploading the GH master ZIP and using the git archive command.

[2015-03-23 21:58] MiguelCastillo commented on #7387
@dag0310 There were issues with the registry service, but they have been addressed.  So that's probably why it worked for you rather than the different artifact you were uplaoding.

@zaggino I have definitely thought I about doing the same thing. I will check out what you have...

[2015-03-23 23:55] humphd commented on #10786
Something like this: https://github.com/humphd/brackets/commit/542cd1df6c4ffc55c8130f1af43803a19968773d

[2015-03-24 02:51] julieyuan commented on #10569
Thanks @pantkowiak .Confirmed it is fixed with latest build 1.3.0-15767 (master 2d880bcbe), closing as fixed.
![screen shot 2015-03-23 at 7 41 35 pm](https://cloud.githubusercontent.com/assets/4251563/6794903/95195aae-d195-11e4-9ca6-e68af59ecd06.png)
![screen shot 2015-03-23 at 7 41 53 pm](https://cloud.githubusercontent.com/assets/4251563/6794905/9ac28df4-d195-11e4-8800-921fb698845f.png)

[2015-03-24 02:51] #10569 closed

[2015-03-24 02:56] nethip commented on #10772
CC @ryanstewart

[2015-03-24 03:29] jaydenlin opened #10789 "Filter excludes all files in XXXX when using Replace in the Folder"
Bracket version: 1.2 build 1.2.0-15697
Description:  When I used "Replace in the Folder" I always got this error.
"Filter excludes all files in XXXX "
What should I do?
Thank you.

[2015-03-24 04:27] prafulVaishnav commented on #10776
@peterflynn I think ctrl-tab should go through each file in the working set in MRU order before repeating the file. In snapshot above, ctrl-tab is not traversing through all files before repeating.

[2015-03-24 06:59] prafulVaishnav commented on #10789
@jaydenlin  Try Debug > Reload Without Extensions to make sure it's not caused by any extension.

[2015-03-24 07:02] peterflynn commented on #9629
This was seemingly fixed by PR #9624, so closing

[2015-03-24 07:02] #9629 closed

[2015-03-24 07:33] ryanstewart commented on #10759
Moving this to the backlog. But it will undoubtedly be part of a larger performance story and I'm not sure when we'd do that work.

[2015-03-24 07:35] ryanstewart commented on #10759
Closing and tracking on this card - https://trello.com/c/zvJT4OV8/1416-add-support-for-files-greater-than-16-mb

[2015-03-24 07:35] #10759 closed

[2015-03-24 07:36] ryanstewart commented on #10779
Marking low priority.

[2015-03-24 07:37] ryanstewart commented on #10757
Agreed, seems ideal to do what we're doing with the global preferences file. Moving it to the backlog column.

[2015-03-24 07:43] ryanstewart commented on #10753
We don't do this with any extensions (we do it per file). So basically it looks like we need to bring this card back - https://trello.com/c/fH2JF9S6/338-101-user-selected-language-syntax-mode-per-file-extension-2

I'll move this from the icebox to the backlog and close the issue.

[2015-03-24 07:44] #10753 closed

[2015-03-24 07:45] ryanstewart commented on #10728
Marking this low priority with a 1.3 milestone. Might be nice to get it in for 1.3.

[2015-03-24 16:30] AJDBenner commented on #10770
If you set the `closeTags` preference to `true`, it resolves this issue. https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#list-of-supported-preferences

[2015-03-24 20:31] ColemanTO opened #10790 "Context Menu"
It would be nice to have the standard context menu on right-click - cut, copy, paste, etc.

[2015-03-24 21:42] peterflynn commented on #10790
Closing as a duplicate of this item on our feature backlog: [Clipboard Cut/Copy/Paste in Editor Context Menu](https://trello.com/c/ZriVEu50/935-clipboard-cut-copy-paste-in-editor-context-menu). Please upvote it there to help raise its priority.

[2015-03-24 21:42] #10790 closed

[2015-03-24 21:43] peterflynn commented on #10790
Unless there are menu items other than Cut/Copy/Paste that you feel are missing :-)  Please let us know more details if so.

[2015-03-24 23:19] JohnL3 opened #10791 "Couldnt find the dom"
ok have this error couldnt find the dom .... background is i had a file created in Khanacadmey  which had html and css in the one sheet ... i then copied the css to notepad and saved as a stylesheet
deleted the css from original and saved as the html.
But when i open in Brackets all goes fine untlil i use the preveiw .. if i click on any element it dosent get highlighted  from the html section ...

[2015-03-25 03:26] nethip commented on #10783
@rawat11 could you look into this,

[2015-03-25 03:31] nethip commented on #10781
@RadiationX the second problem is a known issue. We currently are working on fixing some L:linux issues(upgrading the CEF to latest version) and once they are fixed the second problem should be fixed. I need to check on the first problem though.

[2015-03-25 07:36] prksingh commented on #10777
Thats strange. I tried doing the same but it works fine for me
![prefchange](https://cloud.githubusercontent.com/assets/1701706/6819950/c2782966-d2ef-11e4-9fac-30b0a8932ecb.gif)

[2015-03-25 07:56] prksingh commented on #10744
@GuyZipory Are you still facing the issue?

[2015-03-25 07:57] prksingh commented on #10720
The server has been restarted. Can you guys check if you are still facing any issues

[2015-03-25 08:04] prksingh commented on #10785
Which linux OS are you using?

[2015-03-25 08:08] GuyZipory commented on #10744
No, problem solved! Thanks!
בתאריך 25 במרץ 2015 09:56, ‏"Prashant Kumar Singh" <notifications@github.com>
כתב:

[2015-03-25 08:21] borgdylan commented on #10785
ubuntu

[2015-03-25 08:52] prksingh commented on #10718
@nethip is on Yosemite. @nethip Can you try reproducing this?

[2015-03-25 09:20] prksingh commented on #10776
@prafulVaishnav I see all files in working set being selected at least once. It may appear that ctrl + tab moves to 'Readme.md' from 'convert_to_unix_style_line_ending' but I think that may be because the gif ends and repeats

[2015-03-25 09:35] prksingh commented on #10791
Could you share the file / project you are having this problem with

[2015-03-25 09:43] prafulVaishnav commented on #10776
@prksingh Initially I also thought the same. But when I extract the gif into frames, I came across this anamoly. @GameplayJDK Can you please confirm this?

[2015-03-25 09:46] Nio-av commented on #10783
It´s also a problem in other Adobe Applications like Dreamweaver, InDesign, Premiere.
![brackets-search](https://cloud.githubusercontent.com/assets/11473499/6821944/23e44360-d2dc-11e4-94b1-aa134a90dac4.jpg)

[2015-03-25 09:49] prksingh commented on #10785
We are facing a problem with brackets quit on Linux (related to upgrading CEF on brackets) but nothing that should crash display.

See #4611 and #10781

I am hoping that your issue should also get resolved with these issues. We don't have a fix right now though and it would be great to get some help from the linux community in resolving this. We don't have much expertise on linux in the team :-)

[2015-03-25 10:30] abose commented on #10787
I see that file:/// is also used in LiveDevolopment-tests.js, and some other fils too (12 from a find in files search).
But wait; did i just read that you are running brackets in a web browser :open_mouth:

[2015-03-25 11:10] #10744 closed

[2015-03-25 14:17] humphd commented on #10787
Yeah, there are other places, but not that really affect my use case, and are probably safe to leave (e.g., in cases where you're running node).

Yes, we have it working in browser, you can play with it at http://humphd.github.io/brackets/dist/

[2015-03-25 16:31] ColemanTO commented on #10790
Sublime has a couple of other nice options under the right-click:

![image](https://cloud.githubusercontent.com/assets/2119454/6829611/856507f4-d2e2-11e4-85a4-b6efad81d89c.png)

[2015-03-25 16:56] GameplayJDK commented on #10776
It goes through all files before repeating. I might missed the right moment to stop the gif:

![demo](https://cloud.githubusercontent.com/assets/4069263/6830069/d8741586-d317-11e4-9e05-ffbba6126eb8.gif)
(this one does not repeat)

(If it's a feature that it goes through 'em in a non-linear order, I'm sorry, because I didn't know that :disappointed: )

[2015-03-25 17:43] Garito opened #10794 "Extension's update button disabled"
Hi!
Some extensions like Brackets builder or VisibleTabs has and update button but is disabled (can't click on it and it's grayer)

How can I update this extensions (or how to proceed)?

Thanks!

[2015-03-25 18:36] MarcelGerber commented on #10781
@nethip The first one is a known one as well. The command line params aren't getting passed through to the actual Brackets code.

[This comment](https://github.com/adobe/brackets/issues/10216#issuecomment-68962424) mentions the related backlog cards.

[2015-03-25 18:42] nethip commented on #10794
@garito Could you open dev tools from *Debug->Show Developer Tools* and tell us if you seeing any console  error messages?

[2015-03-25 18:57] MarcelGerber commented on #10786
@humphd Great idea, but a little feedback from my side:
So, Quick View shows a preview for any kind of URL, no matter whether it's in a `href` or a `src` attribute, or in a CSS or HTML file (there are probably more variations, but yeah).
Thus, if a `href` points to 50MB `.json` file, with your suggestion implemented, Brackets would download it just to see it's not an image file to then throw it aw

[2015-03-25 19:08] MarcelGerber commented on #10794
Dupe of #10411 (I confirmed "Brackets builder" doesn't have a engines section in it's package.json).
Fix already up for review at #10421.

[2015-03-25 19:31] Garito commented on #10794
I have a pretty long console log so if you don't mind i prefer to resume the thing
I have 2 errors:
1.- Cannot assign Alt-Cmd-B to builder.build. It is already assigned to builder.build
2.- GET http://brackets-rating.herokuapp.com/ratings/ 500 (Internal Server Error)
and 31 deprecation warnings

Are you looking for something concrete or perhaps @MarcelGerber has a point?

[2015-03-25 19:33] Garito commented on #10794
Seems @MarcelGerber has a point

[2015-03-25 19:33] abdelouahabb commented on #10777
@prksingh here is a video i made, the problem happens when you reload brackets.
http://youtu.be/g_XdEfRe8lg

[2015-03-25 19:35] MarcelGerber commented on #10794
Yeah, as stated above, it's a known issue with a fix already submitted, but not yet merged.
Hopefully it's fixed in the next Brackets Release.

[2015-03-25 19:46] Garito commented on #10794
So, i can close this?

[2015-03-25 20:37] humphd commented on #10786
Browsers already do the optimization you suggest per the HTML spec.  Specifically, if an `img` element's `src` is set, an image request is initiated on the network and image sniffing rules take over, which use the Content-Type headers, see https://html.spec.whatwg.org/multipage/embedded-content.html#img-determine-type.

Adding a black-list of extensions to ignore (html, json, css, ...), which are

[2015-03-25 20:55] MarcelGerber commented on #10786
I suggested to do a HEAD request first so the browser doesn't need to download the whole file.
So if it's a 50MB JSON file, the browser onky downloads the small header portion (maybe 1-2KB) to see it's not a picture and throw it away.

[2015-03-25 23:35] peterflynn commented on #10778
@TheTeapot418 If you look in the "Installed" tab in Extension Manager, what version of Extract for Brackets does it show?

[2015-03-26 00:41] brad-jones commented on #10720
Sweet worked for me.

Probably not the place to have this discussion someone might point me to an exiting discussion.
Are there plans to setup the brackets registry in a similar vain to that of composer, bower, npm, etc... Eg: Just hook straight into github, allowing me to simply push a new version tag, bypassing the manual zip upload workflow we have currently.

[2015-03-26 05:15] prafulVaishnav commented on #10707
PR has been merged to shell.

[2015-03-26 05:15] #10707 closed

[2015-03-26 05:29] sixertoy commented on #10760
Hey @mtylenda :)
i still have some issues with my old username as "malas34"
Is there a way to fix it ?

[2015-03-26 05:43] prafulVaishnav commented on #10589
@bastri Have your problems resolved?

[2015-03-26 08:12] ryanstewart commented on #10772
@holdav it's definitely something we'd like to look at. How would you want the crop tool to work? You'd want to be able to extract any area on the canvas? Not just layers? And multiple layer selection doesn't work for your needs in this case?

=Ryan
ryan@adobe.com

[2015-03-26 10:12] holdav commented on #10772
There is many use cases where crop tool is the only way to gain required .png. Especially when the only option to code something is usage of "CSS hack". For example if you need to crop only a part of a layer or if graphic design some CSS "non-logic" layer.

[2015-03-26 11:23] prafulVaishnav commented on #10777
@abdelouahabb Preference is not getting written to the file. Can you check by changing some other preference like space units, tab char and check if it is getting written to the file. Also, can you check if there is any error on the console (Help -> Show Developer Tools. Open console tab). Can you try reload brackets without extensions to make sure it is not caused by any buggy extension (Debug Re

[2015-03-26 11:41] SebiH opened #10796 ".jscodehint not applied, javascript files cause hangs"
I'm working on a project with quite a few (currently luckily mostly unused) javascript library files inside a `/lib/` folder. My own JS source files are in another directory.

Due to all these files in the `lib/` folder, doing *anything* related to javascript files is extremely slow, hanging up the application for 2 or more minutes.

As per [wiki entry](https://github.com/adobe/brackets/wiki/JavaS

[2015-03-26 14:43] abdelouahabb commented on #10777
@prafulVaishnav this worked when extensions were off!

Here is the console content: http://pastebin.com/Ckv5uxNb

[2015-03-26 15:41] TheTeapot418 commented on #10778
I'm runing the 0.6.1-1719-release version of Extract, but something strange happened : right after re-enabling the extension, the bug dissapeared.

[2015-03-26 20:47] cfjedimaster commented on #10718
Well, it happened to me again - and this time I lost work (well, maybe 3 lines ;). It was an Ionic app. About 5 minutes earlier, I got the message I normally get about... inferance I think? Yeah I spelled that wrong but I forget the exact error. I tend to get it with Ionic/Angular apps.

[2015-03-26 20:48] cfjedimaster commented on #10718
I don't think I've ever seen this with Brackets before. It must be something unique to this version?

[2015-03-26 20:49] cfjedimaster commented on #10718
Ok, the issue I mentioned earlier is "JavaScript File Inference Problem". The file seems random. This time it is ionic-angular.js - but last time it was another Ionic file.

[2015-03-26 20:51] cfjedimaster commented on #10718
And yet another pop up for JS File Inference, angular-ui-router.min.js. I have to say, even if Brackets wasn't "blanking out", this would be annoying.

[2015-03-26 21:07] cfjedimaster commented on #10718
And another one - now my controllers file. Sorry to fill this bug with these notes, but, I figure if they are annoying me and possibly related to the issue it makes sense to log them.

[2015-03-26 21:07] cfjedimaster commented on #10718
Wow, not only one, but two. I was away from Brackets for about 5 minutes and two cropped up.

[2015-03-26 21:12] cfjedimaster commented on #10718
And it is gone again. I'm going to have to stop using Brackets until I can get this fixed.

[2015-03-26 23:55] nextgenthemes commented on #10753
@ryanstewart From what I am getting of what you are saying, claiming you do this per file and not per extension is wrong.

Its set via file extension. I can change the default highlighting language for `.php` files, open another `.php` file, change the project and still get it highlighted with that selected default. The issue here is that you do not do this with files that have no extension but sh

[2015-03-27 00:00] nextgenthemes commented on #10753
Nevermind, now I am confused because its not working even I just tought I did it.

[2015-03-27 04:40] prksingh commented on #10776
Thanks @GameplayJDK. Yes it is a feature. You can use @peterflynn 's extension https://github.com/peterflynn/brackets-editor-nav if you want a non MRU navigation as mentioned above.

[2015-03-27 04:46] prksingh commented on #10794
I will close the issue, once #10421 is merged.

[2015-03-27 05:34] msmaxsoft opened #10798 "View several live preview in Brackets"
Hi there
I am using the new version Brackets
The problem I have with it
Always live preview two or more displays
And should always be made to feel refreshed
I searched the forum for my problem, but could not find
How can I solve my problem?

[2015-03-27 14:54] redmunds commented on #10798
@msmaxsoft This is now possible using MultiBrowser Live Preview introduced in Brackets 1.2.

1. Use *File > Enable Experimental Live Preview* to turn it on
2. Live Preview will start in your default browser
3. For now, you'll need to copy url from default browser to other browsers (but we hope to make that easier in the future).

Is that what you were looking for?

[2015-03-27 16:30] humphd commented on #10786
My PR is updated.

Also, I confirmed that Firefox does in fact do what I said above, namely, if you try to use a 50M JSON file as the `src` to an `img`, it will not download the whole file: the imagelib decoder cancels the download early.  Chrome, on the other hand, does download the whole thing.  I'll file a bug on that with them.

[2015-03-27 19:17] msmaxsoft commented on #10798
No no
My point is that when I use the live preview in Chrome
When changing the part repeated twice and must be constantly refreshed
Like the picture below

http://gemupload.ir/images/8mdwm4ejh71fcia4orj.png

[2015-03-27 19:24] redmunds commented on #10798
I believe this is a duplicate of #10634.

[2015-03-27 19:28] msmaxsoft commented on #10798
tnk's

[2015-03-27 19:28] #10798 closed

[2015-03-28 03:36] nethip commented on #10718
@cfjedimaster Sorry that you are not able to use Brackets because of these crashes. I know @peterflynn  has suggested above that this might not be related to code hints. But just to rule out any possibility could you give it another try be disabling JS code hint and see if you are still seeing these issues? Link to work with preferences in Brackets is https://github.com/adobe/brackets/wiki/How-to-

[2015-03-28 18:03] thewhitetulip opened #10799 "Autocomplete the html tags when hitting enter"
Currently we have to do a `<ul` then the autocomplete dialog comes, hit enter, then type `>` and then the tag is completed, it would be cool to type `<ul` -- autocomplete dialog -- hit enter and it automatically adds the tags.

[2015-03-28 19:15] ElegantScripting commented on #5794
From what I can see, this isn't related to chrome. I don't use Chrome, only Safari.

Brackets Helper on my Mac isn't responding as well, on fresh restart, without the use of live preview.

[2015-03-28 20:17] mat-mcloughlin opened #10801 "Make QuickView.search handle a deferred"
Currently this method is synchronous. It would be good if you could also allow it to handle a deferred so we can include ajax requests in it

[2015-03-29 04:52] nickfmc opened #10802 "Split view memory"
if you code in split view 90% of the time, the other 10% when you need more space it would be nice to be able to turn it off, work for a bit and turn it back on without it loosing all your open files you had organized by top and bottom or left and right.  Currently you have to move the middle position to get more space and keep your spilt view files open.  it makes for nasty UX

[2015-03-29 08:41] SteveMcArthur commented on #10720
OK - looks like the BAD REQUEST error is back again...

[2015-03-29 14:02] schutzsmith opened #10803 "FileSync Kills Undo On Mounted Drives"
I'm using [Expandrive](http://www.expandrive.com/) to mount remote files via SFTP and when save from Brackets, leave the app, and come back, undo won't work.

**Steps To Recreate**
1. Mount SFTP with Expandrive or any other server over SSH.
2. Open file in Brackets.
3. Make change and Save.
4. Switch to any other app.
5. Go back to Brackets and Undo no longer works.

My expectation is that Undo wo

[2015-03-29 14:31] schutzsmith commented on #10803
FWIW, just tried with [Mac Fusion App](http://macfusionapp.org/) and it does NOT have this same issue.

I've opened a support ticket with ExpanDrive as well.

[2015-03-29 15:30] redmunds commented on #10802
Yes, this would be nice. Closing this as a duplicate of #9575.

[2015-03-29 15:30] #10802 closed

[2015-03-29 15:35] redmunds commented on #10803
@schutzsmith Brackets loses the Undo stack when it's reloaded, and I see the "Brackets reloaded with extensions disabled" message in your console, so that is the cause.

Are you explicitly calling *Debug > Reload Without Extensions* ? Or maybe using the `Shift-Cmd-R` shortcut?

[2015-03-29 16:19] redmunds commented on #10669
@dsotirescu Are you seeing what I logged in issue #10755 ? If so, which version of Mac are you using?

[2015-03-29 17:20] dsotirescu commented on #10669
Same OS as yours, always the latest. I reproduced your issue. In my case Brackets doesn't always open on the focused monitor, 50% of the time. I have 2 external monitors, thunderbolt + 4K monitor by Dell. Running on latest Mac Book Pro.

Sent from my iPad Air 2

On Mar 29, 2015, at 12:20 PM, Randy Edmunds <notifications@github.com> wrote:

@dsotirescu Are you seeing what I logged in issue #10755 ?

[2015-03-29 17:54] redmunds commented on #10755
From @dsotirescu in #10669: "I reproduced your issue. In my case Brackets doesn't always open on the focused monitor, 50% of the time. I have 2 external monitors, thunderbolt + 4K monitor by Dell. Running on latest Mac Book Pro."

[2015-03-29 17:55] redmunds commented on #10669
Your issue was filed first, but I'm closing this one as a duplicate only because there are more details in the other issue.

[2015-03-29 17:55] #10669 closed

[2015-03-29 18:00] MarcelGerber commented on #10753
@ryanstewart I'm sorry, but actually, languages can already be set per file extension using the Language Chooser.
![image](https://cloud.githubusercontent.com/assets/2641501/6886893/0b75f132-d64e-11e4-9963-7031f901da7b.png)

As soon as you click `Set as default for .less files`, the selected mode is always going to be used when opening a .less file.

[2015-03-29 18:10] nextgenthemes commented on #10753
@ryanstewart @ryanstewart
The thing is I already made comments about him being wrong, then deleting them because I was testing it and it seems this actually not works as you expect it from the menu. Its not even working per file. I set a php file to HTML highlighting then switched project and back and its displayed with php highlighting.

[2015-03-29 18:13] MarcelGerber commented on #10786
I wouldn't call Chrome's behavior a bug -- usually, HTML is used on normal webpages, where an `img`'s `src` almost certainly links to an actual image. Thus, doing only one request instead of two is faster in most cases (every time the `Content-Type` is actually a supported image type).
That behavior also boosts performance, especially in cases where the TTFB is high.

[2015-03-29 18:59] MarcelGerber commented on #10753
It definitely works fine for me.
I changed a .less file to C highlighting, switched projects, restarted Brackets, and it's still highlighted as C.

[2015-03-29 23:49] stowball opened #10804 "Feature request: Find/Replace in Working Files"
It would be great to provide an option that searches (and replaces) across just the files open as Working Files.

In a new code-base especially, I often can't remember exactly which previously opened file has a thing I'm looking for, so do a search. Searching across all files is a bit slow and heavy-handed for this task.

[2015-03-30 02:44] balasivagnanam opened #10805 "brackets in taskbar goes obsolete after update"
The brackets link which we pin to taskbar in windows doesn't work after we do an update to current brackets.. "it says the program has been moved or renamed or deleted"

[2015-03-30 02:46] le717 commented on #10805
Duplicate of #6297. This has been a long-standing issue, but as I have extensively documented on there, it is not a easy fix to make.

[2015-03-30 02:51] balasivagnanam commented on #10805
thank you :) I am bit new so din't realize it.

[2015-03-30 02:51] #10805 closed

[2015-03-30 05:18] warapitiya commented on #10720
Bad Request is back! :/

[2015-03-30 05:52] prafulVaishnav commented on #10804
@stowball Hii.. We have backlog for comprehensive features of Find/Replace. Please upvote [here](https://trello.com/c/xFElZcT2/1090-find-replace-extensibility) . Aso I have created separate backlog for this specific feature.  Please upvote [Find/Replace in Working Set Files] (https://trello.com/c/jTn9lvIM/1417-find-replace-in-working-set-files) on our feature backlog.

[2015-03-30 05:54] prafulVaishnav commented on #10720
@warapitiya  We will notify AboutWeb and restart the server.

[2015-03-30 05:56] nethip commented on #10799
@thewhitetulip Good idea! I believe this is an excellent candidate for this being an extension. I need to check for technical feasibility if we have infrastructure to support this as an extension. For now I am going to add "extension" tag to this.

[2015-03-30 06:01] warapitiya commented on #10720
@prafulVaishnav thanks buddy :+1:

[2015-03-30 09:00] thewhitetulip commented on #10799
Okay, but I thought it would be better off as being built right into brackets as opposed to an extension. I am not a big fan of overly extensible editors like Atom where everything is an extension!

[2015-03-30 11:33] nethip commented on #10799
@thewhitetulip The way extension work in Brackets is very different to that of other apps. Technically speaking, usually you would find a "glue layer" that takes care of communication between the client and the extension in other apps. In these scenarios extension becomes a second class citizen.

But in case of Brackets this gluing is minimal, meaning once an extension is loaded, it becomes part o

[2015-03-30 14:15] cfjedimaster commented on #10718
Ok, I've added it. Literally within the first five seconds of opening
Brackets I got an inference error. :\

I've added the pref and reloaded. To be clear, I assume we agree this is
*not* a fix. I should be able to use an Angular project w/o Brackets
constantly throwing alerts about this. I never had this, or the 'blank out'
problem before so something seems seriously wrong with this recent build.

[2015-03-30 19:28] peterflynn commented on #10801
@mat-mcloughlin If you look at how Quick View previews images, that is actually asynchronous already.  I think if we ever made this extensible, the model would probably need to be like Quick Edit: a provider synchronously decides _if_ it wants to provide something, but is able to construct the UI asynchronously after making that decision.  That's basically how the image case already works.

[2015-03-30 19:47] oreqizer opened #10807 "Various .sass syntax highlight bugs [1.2] apart from #10692"
**Brackets:** 1.2
**OS:** Elementary OS Freya

**Notice:** i fixed the CodeMirror sass.js bug with the "properties" typo

Hi,

I noticed a couple of syntax highlight bugs with .sass files. Here's a
 screenshot of all the issues i encountered:
![screenshot from 2015-03-30 21 39 06](https://cloud.githubusercontent.com/assets/11172408/6905168/6a91a20a-d726-11e4-81ff-d53d9580561f.png)

The bugs are co

[2015-03-30 20:45] le717 commented on #10807
So you are saying this _is_ different than #10692? Does correct highlighting work in Brackets v1.1? If so, can you post a comparison screenshot? The SASS mode in CM underwent some major changes in the last CM version, and what you have here may be further regressions.

[2015-03-30 20:48] Oreqizer commented on #10807
Haven't tried 1.1 (started writing .sass only very recently), but yes, based on the issue u posted i fixed the 1.2 issue today. This is different.

[2015-03-30 21:55] DevenCris opened #10808 "Live Preview for Smartphone development"
For the sake of those using Brackets for mobile development, please add live preview for different screen sizes and mobile behavior.

[2015-03-30 22:12] redmunds commented on #10808
@DevenCris There is an experimental branch where that capability is being developed. See issue #10289 for more details.

[2015-03-30 22:12] #10808 closed

[2015-03-30 22:45] albertinad opened #10809 "[brackets-registry] Unable to upload extension - server status code 0"
Hi all, I'm having issues to upload my extension since a few days ago. The upload starts fine but after a few seconds , and less than 50% of the progress it get stuck and then fails with the following error:

![brackets-registry-001](https://cloud.githubusercontent.com/assets/2309921/6908681/4dca419c-d715-11e4-9ff7-9418584b2008.png)

Thanks!

[2015-03-30 22:49] albertinad commented on #10809
And now it works! Closing :)

[2015-03-30 22:49] #10809 closed

[2015-03-31 03:02] canyurdaer opened #10810 "Live Preview not working on MAMP / Php file (MAC)"
Hi All,

I searched a lot of website but I can not find correct information. Somebody can help me for this issues.

I use iMAC OS X 10.10.1 (14B25) version. I want to work php file on live preview. But I can not connection. I used chrome.
I use php on my local with MAMP.  I already edit my project setting http://localhost:8888/projectname
But I can not open live preview page. So How can I fix this

[2015-03-31 03:35] vaughank92 opened #10811 "Windows Extension Manager View"
OS: Windows 7
Issue Summary:  When opening Brackets Extension Manager, if Brackets is reduced in size, the Extension Manager appears off the right side, resulting in it being cut off from view.
Brackets: Release 1.2 build 1.2.0-15697

![extensionmanager](https://cloud.githubusercontent.com/assets/6353702/6911885/dabe164a-d734-11e4-81d6-59bc98719576.png)

It might be just my personal preference but

[2015-03-31 04:39] prafulVaishnav commented on #10811
@vaughank92 Can you try [disabling all extensions](https://github.com/adobe/brackets/wiki/Troubleshooting#disabling-extensions-individually) to make sure it's not due to any buggy extension

[2015-03-31 04:52] prafulVaishnav commented on #10810
@canyurdaer Are you able to open html file? Please make sure your server is serving files from the same folder that you have opened and using in Brackets. Please try suggestions [here](https://github.com/adobe/brackets/wiki/Troubleshooting#livedev)

[2015-03-31 04:57] prafulVaishnav commented on #10720
@warapitiya @SteveMcArthur Can you please try uploading the extension. Someone is successfully able to upload the extension.

[2015-03-31 05:01] vaughank92 commented on #10811
@prafulVaishnav When I disable all extensions I am unable to open the extension manager.  I went through instead and removed the couple I had (extract for brackets, brackets tools, and the Hello World tutorial extension).  Reinstalling the first two produces no problems.  Redoing the Hello World tutorial extension produces no problems now, the only thing I can guess is that somewhere in me messing

[2015-03-31 05:01] #10811 closed

[2015-03-31 05:12] canyurdaer commented on #10810
Hi, @prafulVaishnav

I didn't connection also with HTML, I followed step by step that link also I have a problem. HTML also not open with live preview on my MAMP server sub files htdocs inside.
http://localhost:8888/news/index.html or http://localhost:8888/news/ Also can not conenction.

![edit](https://cloud.githubusercontent.com/assets/11730396/6912673/68583bee-d7a7-11e4-9405-68221cdc8c55.png)

[2015-03-31 06:43] dnbard commented on #10720
@prafulVaishnav You can look at the downloads chart at http://brackets.dnbard.com/extension/dnbard.documents-toolbar and see if it is possible to use Brackets Registry or not(Day with *zero* downloads are the one when registry isn't working) - Today it is working.

[2015-03-31 06:48] ryanstewart commented on #10720
I'm going to go ahead and close this because the registry is back up. One of the things we will be looking at for the 1.4 release is dedicating some time to improve the stability of the extension registry. We understand it's very frustrating for users and extension developers when it's down.

[2015-03-31 06:48] #10720 closed

[2015-03-31 06:59] prafulVaishnav commented on #10720
@dnbard Thanks a lot. It is really helpful.

[2015-03-31 07:14] SteveMcArthur commented on #10720
@warapitiya Yep - working now

[2015-03-31 07:49] peterflynn opened #10812 "Drag & drop text preference (dragDropText) doesn't take effect properly on files already open"
1. Start with the preference off
2. Open a few files
3. Open the preferences file, turn `dragDropText` on, and save
4. Try to drag the selected text in any of the already open editors

Result:
- on Mac, dragging the selection does nothing
- on Win, dragging the selection appears to drag an image of the entire editor area

Expected:
Selection should be dragged normally, as seen if the files are clo

[2015-03-31 07:51] peterflynn commented on #10812
Nominating for 1.3 because I've heard several complaints about this already.

@MarcelGerber would you be willing to look into this one?  Not sure if it's a CM bug or a problem in our Editor code that handles preferences changes.

[2015-03-31 08:58] warapitiya commented on #10720
@prafulVaishnav Working :+1:

[2015-03-31 09:29] MarcelGerber commented on #10812
It's a CodeMirror issue: codemirror/CodeMirror#3167

[2015-03-31 11:08] thewhitetulip commented on #10799
That is an excellent architecture then! Normally extensions are built on top of the core product, impressive :+1:

[2015-03-31 11:11] HybridSolutions commented on #10583
I'm also experiencing this when editing .aspx webpages with special characters or words with accents. They look great in Visual Studio, Notepad2, Notepad++ and after saving those files in each of these editors, the pages show the correct text in any browser. If I open them with Brackets, edit and save, the special characters get all messed up but only in the browser. To correct the files, I have t

[2015-03-31 11:41] rawat11 commented on #10812
@MarcelGerber Does it happen for all the features that are enabled from prefernces file ?

[2015-03-31 11:49] MarcelGerber commented on #10812
Nope, it's just the `dragDropText` preference. And it's already fixed on the CM side.

[2015-03-31 15:30] alorgill commented on #10255
Issue still persists in Fedora 21 -- installed via Fedy.

`/usr/bin/brackets: error while loading shared libraries: libgcrypt.so.11: cannot open shared object file: No such file or directory`

[2015-03-31 16:01] prksingh commented on #10589
Closing. Please let us know if the issue persists and I can reopen this

[2015-03-31 16:01] #10589 closed

[2015-03-31 18:08] prksingh commented on #10757
It may be a good idea to also look at #10796 I think we should show an error in case 'any' JSON that brackets is expected to understand is not properly formatted.

[2015-03-31 18:09] prksingh commented on #10796
Your JSON appears to be properly formatted. But in case there is an error in loading the JSON due to formatting or such, it does seem like a good idea for brackets to show an error. There is a similar issue being looked at for the project configuration JSON at #10757

You may also be interested in the trello card: https://trello.com/c/mq7dZnlv Upvoting it would bring it more in focus.

[2015-03-31 18:15] prksingh commented on #10777
It would help if you could follow these steps to help us narrow, which extension is causing this:
https://github.com/adobe/brackets/wiki/Troubleshooting#disabling-extensions-individually

That way we can file a bug to the extension developer and try to get this fixed.

[2015-03-31 18:21] prksingh commented on #10778
Are you still seeing this issue with Extract?

[2015-03-31 18:42] prksingh commented on #5794
This bug is about brackets helper 'erroneously' appearing unresponsive in Activity monitor.
The application should not be affected by this. Do you mean the same?

Also which version of brackets are you using? I notice from the comments above that the issue may have been fixed in the chromium build we integrated some time back. Are you seeing this in Brackets 1.2?

[2015-03-31 19:25] danyocom opened #10814 "Code Hinting documentation issue: JavaScript-Code-Hints “Advanced Hinting” section"
Hi,
  The doc located here https://github.com/adobe/brackets/wiki/JavaScript-Code-Hints mentions the ability for a code hint to have a pop out containing more complete documentation (parameters, description, return type).

**Question:** Is there a documented API (or suggested method) for doing this?

I want to achieve something similar to the image below (image take from brackets 2012 design draft

[2015-03-31 20:07] TheTeapot418 commented on #10778
Nope, as I said, after re-enabling Extract, the issue didn't show up anymore.

[2015-03-31 21:08] cfjedimaster commented on #10718
Btw, I assume me providing updates is useful - if not - tell me. So - back to my Angular project - and about 10 minutes in - I get another Inference error. I cannot stress how annoying those errors are. Is there a way to tell Brackets to *not* try to parse *.min.js files?

[2015-03-31 21:09] cfjedimaster commented on #10718
Ok, I spoke too soon. The error says the file to edit. Does jscodehints.detectedExclusions support regex? Can I do *.min.js? Can i set this in my global preferences?

[2015-04-01 00:59] peterflynn commented on #10778
Closing.  Please let us know if the issue comes back, though.

[2015-04-01 00:59] #10778 closed

[2015-04-01 01:03] peterflynn commented on #10812
@prksingh @prksingh Have we done the start-of-sprint CM merge yet for 1.3?  If so, I wonder if we should do a second merge to pick up the fixes for this and #10590, plus codemirror/CodeMirror#3151.

[2015-04-01 01:05] peterflynn commented on #5794
@prksingh Good catch!  It does appear fixed now on Mac, so let's close it.

@ElegantScripting If you're seeing slow performance when using Live Preview, that's a different issue. Could you file a new bug with more details? (E.g. does it happen with the simple Getting Started project that comes with Brackets too, or only with your own projects?)

[2015-04-01 04:01] ryanstewart commented on #10629
I'd like to do a big batch of extension-related improvements sometime in the next few months. There are a number of improvements on both the registry itself and how we expose it in Brackets that would be nice to have, this included.

[2015-04-01 05:34] le717 commented on #10720
It's baaaaaaaaackkkkk... \*sigh*

Is there any clue why these bad request errors keep occurring?

[2015-04-01 06:09] dnbard commented on #10629
@ryanstewart does these changes in registry will be backward compatible to registry format that Brackets are using today?
Also is there a list of what changes it will be?
I'm asking because my extension - https://github.com/dnbard/brackets-extension-rating are dependent on Registry information and I want to integrate with them as soon as possible.

[2015-04-01 06:31] nethip commented on #10718
@cfjedimaster Sure! These updates are definently helpful in trying to understand the problem.
Disabling the JS code hint part was just to isolate the issue so that we know if this is the module that is causing the error and if we have to work on that module alone to attack this issue.  Just so that we are on the same page, are you getting these inference error messages after disabling code hints?

[2015-04-01 06:43] ryanstewart commented on #10718
@cfjedimaster you should be able to - https://github.com/adobe/brackets/wiki/JavaScript-Code-Hints#configuration - but I haven't tried it.

Let us know if this fixes the problem. We may want to add some iconic files to the automatically excluded list.

[2015-04-01 06:45] ryanstewart commented on #10718
@cfjedimaster this might also help - https://github.com/adobe/brackets/wiki/JavaScript-Code-Hints#javascript-file-inference-problem

[2015-04-01 07:46] ryanstewart commented on #10720
I've got a meeting with the folks hosting the registry today (Wednesday) so I'm hoping we can get some info about how we can help triage the issues.

[2015-04-01 10:23] MarcelGerber commented on #10812
@peterflynn [You haven't yet](https://github.com/adobe/brackets/commits/master/src/thirdparty/CodeMirror2).

[2015-04-01 10:46] MarcelGerber opened #10815 "[Live Preview MultiBrowser] Doesn't work with CodeMirror pages"
1. Clone [CodeMirror](https://github.com/codemirror/codemirror) (or download a .zip and extract) and open it in Brackets.
2. Open `index.html` in Brackets.
3. Make sure MultiBrowser Live Preview is enabled.
4. Start Live Preview.

Result: The Live Preview symbol is only ever half-filled.
The console logs look fine, though:
[code]

cc @busykai @sebaslv

[2015-04-01 10:59] MarcelGerber commented on #10815
From my tests, it looks like the missing `html`/`head`/`body` structure causes these problems.

[2015-04-01 11:54] WilliamVercken commented on #10270
Same problem on Windows and Brackets 1.2 on an AZERTY keyboard.
If I want to do this <code>}</code> I have to do <code>AltGr</code> + <code>+</code>, and when Extract if open, it zooms.

![image](https://cloud.githubusercontent.com/assets/1272792/6940383/8d8aee14-d876-11e4-8d84-81e092fdf288.png)

[2015-04-01 12:05] prksingh commented on #10753
Switching Less files highlighting to C does appear to work as mentioned. But I can reproduce the issue for extensionless files. This is what I did (windows):

Created a new file and saved it with no extension.
Switched mode from dropdown to Javascript and set it as default (Drop down still erroneously shows 'Text' as default)
Refresh brackets and the file opens as text

This aside however, I under

[2015-04-01 12:26] AseemTejpal opened #10816 "Brackets shows hidden files in the sidebar and while browsing for project folders ?"
While adding a project folder to Brackets the file browser shows the hidden files in the directory and after the project folder is added the sidebar displays those hidden files. Is it normal ?
Using Brackets with Extract preview v 1.2 on OS X  10.10.2

![image](https://cloud.githubusercontent.com/assets/535888/6940888/433ff3e6-d898-11e4-9785-9f8991d16ff2.png)

[2015-04-01 12:27] AseemTejpal commented on #10816
![image](https://cloud.githubusercontent.com/assets/535888/6940906/7c057d5e-d898-11e4-969f-ec83eed00072.png)

[2015-04-01 13:26] cfjedimaster commented on #10718
Yes, even with code hinting disabled, I get inference errors. I have *not*,
however, gotten the blank screen issue.

On Wed, Apr 1, 2015 at 1:32 AM, Prashanth Nethi <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for MobileFirst at IBM

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
T

[2015-04-01 13:27] cfjedimaster commented on #10718
Ryan, it appears as if this is project only, which means I'd need to add a
block for *.min.js in every project (or every Angular project). Is that
right?

On Wed, Apr 1, 2015 at 1:44 AM, Ryan Stewart <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for MobileFirst at IBM

Email : raymondcamden@gmail

[2015-04-01 13:35] prksingh commented on #10810
Does live preview for html work with brackets default server? (if you remove all base url and try opening html)

Does the browser not even open when you try live preview. Do you see any error in console?

[2015-04-01 14:11] prksingh commented on #10812
@peterflynn We will pick codemirror early next week and test the issue. I will update the bug accordingly.

[2015-04-01 14:14] FezVrasta commented on #10270
Fixed buying a MacBook with american keyboard layout :D

I'm still sure there must be some easier fix...

[2015-04-01 14:22] prksingh commented on #10270
I have filed this internally for Extract. I may not get fixed in this release but hopefully the next one

[2015-04-01 14:33] mfromin opened #10817 "Question on indenting"
When I am typing in JavaScript (related to NodeJS) I am seeing an odd indenting behavior.

When I start a new function I typically do the following:

1 - Type the first line of the function.  For example:
exports.test = function () {

2 - When I type the opening curly brace Brackets adds the closing brace so I hit ENTER twice to move the brace to a new line.

3 - I add the closing semi-colon neede

[2015-04-01 14:34] prksingh commented on #10816
I see this behavior on OSX 10.9 as well. I notice that some apps have an option of 'show hidden files' in their open dialog (like textWrangler) but not switched on by default. Adding 'needs review'

[2015-04-01 15:27] le717 commented on #10720
@ryanstewart Thank you. Hopefully this sudden issue can be resolved soon!

In the meantime, can we get the server restarted? The error is persisting this morning/afternoon. :)

[2015-04-01 16:14] nethip commented on #10814
@danyocom I will check back on this and get back to you.

[2015-04-01 18:11] busykai commented on #10815
@MarcelGerber, does it work with the default version?

[2015-04-01 18:56] peterflynn commented on #10812
Cool, thanks

[2015-04-01 19:12] busykai commented on #10573
@MarcelGerber, as soon as I recover my dev environment, I'll validate and close this. Thanks for the fix, it was annoying!

[2015-04-01 19:17] ryanstewart commented on #10718
@peterflynn would it make sense just to add any .min.js file to the file inference exemption list?

[2015-04-01 19:24] MarcelGerber commented on #10815
I haven't tested Live Editing or Highlighting, but the icon is completely filled at least.

[2015-04-01 19:26] busykai commented on #10815
Thanks! I will take a look at this. I'm back and have a couple of holidays ahead of me. :)

[2015-04-01 19:28] MarcelGerber commented on #10815
Btw, you don't need to clone CodeMirror -- a simple page without the aforementioned structure should suffice.
Probably, even a text-only HTML page works.

[2015-04-01 19:30] cfjedimaster commented on #10718
To add to the data - I can leave my 'bad' project and return, and within 30
seconds i get a new inference error. It is no longer updating brackets.json
with the files even though it says it is.

On Wed, Apr 1, 2015 at 2:18 PM, Ryan Stewart <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for MobileF

[2015-04-01 19:31] cfjedimaster commented on #10718
Screen shot of last comment:

![image](https://cloud.githubusercontent.com/assets/393660/6949723/b6b59fc8-d87b-11e4-93d6-e15f204ef550.png)

![image](https://cloud.githubusercontent.com/assets/393660/6949741/c92f2da4-d87b-11e4-905e-07b9692330b1.png)

[2015-04-01 19:53] maityarkodeb commented on #10817
Doesn't this seem more like a personal preference than a fault of the code editor?

[2015-04-01 20:09] mfromin commented on #10817
Not to me.  When I first move the cursor down I am indented 4 characters in.  If I cursor down and then back up the cursor is in a different place on that line that is not consistent with how the indentation is setup.

--Michael

[2015-04-01 20:39] busykai commented on #10817
I see what you're saying. The only thing I don't understand is why you have to hit Enter twice in your bullet 2).

Anyways, the general behaviour is adopted from CodeMirror which does not seem to have the concept being "at the end of the line" and place cursor at the end of the line as you navigate vertically (not sure how it's done in Sublime, but it is so in vim). It could be worth exploring [Co

[2015-04-01 21:21] schutzsmith commented on #10803
@redmunds Thanks for that note but that's just showing because I wanted to reload and show that I had no extensions running and still had the issue.

Problem still exists unfortunately.

[2015-04-02 00:00] peterflynn commented on #10816
Does Mac have a concept of "hidden files" other than files starting with a dot?  Files starting with dot are shown in Brackets quite intentionally since they are often text config files that you need to edit as part of your software development work (e.g. `.gitignore` or `.config`).

Windows has an actual "hidden file" attribute that's independent of filename -- which we also ignore, but it seems

[2015-04-02 03:55] itbaby opened #10818 "able to provide a zip version ?"
Is it can be provide as an portable version in windows ?

[2015-04-02 05:52] prksingh commented on #10330
@dcutlan Were you able to resolve this issue? If yes, could you close the issue?

[2015-04-02 05:56] prksingh commented on #10347
@thediex09  Can you try `Debug > Reload without extensions` to rule out any extension related issues.

[2015-04-02 06:05] prksingh commented on #10351
@FyreFeonix Take a look at:
https://github.com/adobe/brackets/blob/master/CONTRIBUTING.md , especially the Submitting a Pull Request section.You should be creating a separate branch in your local fork of Brackets, pushing that branch to Brackets repo, and then creating a pull request for your branch. It's the same process whether it's 1 file or many.

Closing this issue.

[2015-04-02 06:05] #10351 closed

[2015-04-02 06:06] abose commented on #10818
@itbaby please vote this feature on Trello at
https://trello.com/c/sHyY0KlB/1003-portable-build.

[2015-04-02 06:07] #10818 closed

[2015-04-02 06:10] prksingh commented on #10578
We are updating codemirror next week, which should fix #10371

[2015-04-02 06:33] dcutlan commented on #10330
Thanks, problem solved when I did a clean install of Windows, etc.

Many thanks

David

From: Prashant Kumar Singh [mailto:notifications@github.com]
Sent: Thursday, 2 April 2015 4:53 PM
To: adobe/brackets
Cc: dcutlan
Subject: Re: [brackets] Problem installing Brackets (error 2503) (#10330)

@dcutlan <https://github.com/dcutlan>  Were you able to resolve this issue? If yes, could you close the issu

[2015-04-02 08:27] sixertoy commented on #10760
Yo Dudes :)

I'm confused a little bit, cause i can't upload my extensions updates, i know it's my fault, may i re-upload those extensions with my new account (sixertoy) and ask you to delete all my extensions under my old username (malas34) ?

[2015-04-02 10:01] Azema commented on #10565
OK, problem solved.

I was working on EJS files and this extension is not supported by JavaScriptCodeHints. That's why there was no session.

[2015-04-02 19:08] busykai opened #10821 "LivePreview is closed if browser is reloaded by user"
Steps to reproduce:

1. Open GettingStarted project (or any other previewable project).
2. Start LivePreview.
3. In the browser window that is opened, press the reload button.

Result: LivePreview session is closed.
Expected: LivePreview reloads the document being previewed.

[2015-04-02 20:13] MarcelGerber commented on #10815
So, I've just taken another look on this:
* I was able to reproduce the issue with a .html file containing nothing than `abc`
* The browser opens just fine and displays the page correctly
* As soon as you edit the document, the icon changes from a yellow half-filled one to a purple filled one, indicating a syntax error
* With this very simple file, I got a `couldn't find the dom for ...` error mes

[2015-04-02 20:19] MarcelGerber commented on #10815
Just tested with normal (non-MultiBrowser) Live Preview:
With that simple `abc` webpage, I get symptoms 3 and 4 from above, too.
But a simple `<div>abc</div>` works just fine, including Live Editing and Highlighting.

And now as I tested `<div>abc</div>` with MultiBrowser Live Preview, I got different findings... again:
* There's no `couldn't find the dom for ...` error message
* As soon as I edit

[2015-04-02 20:31] MarcelGerber commented on #10718
Apparently, `codehint.JSHints` doesn't disable JS Hints thoroughly enough. There's only [one occurence of that preference](https://github.com/adobe/brackets/blob/45a2dda0fac9c9926e867cb557bc0e9772077fca/src/extensions/default/JavaScriptCodeHints/main.js#L611-L613), so that other handlers like `getHints` are still being called (if I got that right).
I know that's not the main target, but it may be

[2015-04-02 20:46] MarcelGerber commented on #10760
@dangoor has registry admin rights, too, but it looks like he's no longer part of the Brackets team as well.
It would probably be a good idea to introduce some new admins to the Brackets registry so they can operate faster.

[2015-04-02 21:09] dangoor commented on #10760
@jrowny has access. Adobe folks don't have access under usual circumstances.

[2015-04-02 21:14] MarcelGerber commented on #10760
@dangoor I thought that was part of the simple admin story?

[2015-04-02 21:21] MarcelGerber commented on #10817
To me, this sounds similar to #10770, just with JS this time.
The [CM closetags demo](http://codemirror.net/demo/closebrackets.html) does it right, though, so it's _not_ a CM issue.

[2015-04-03 03:55] busykai commented on #10817
@MarcelGerber, I believe the demo does it right because after you put closing `};`, it exactly 2 spaces which is the indent the demo uses.

For what it's worth, if you're using 4 spaces for indent and position the cursor at the end of the line, then go to a shorter line (in the original example the next line), then go back, you would still be positioned at the end of the line.

[2015-04-03 13:06] dangoor commented on #10760
@MarcelGerber Simple admin made it way easier for people to do some administrative tasks on the registry, like changing ownership. A limited group has that access.

[2015-04-03 13:28] sixertoy commented on #10760
:)

[2015-04-03 15:28] redmunds commented on #10760
Maybe I'm mis-remembering this, but I thought that authors could go to [Brackets Registry page](https://brackets-registry.aboutweb.com/) and have simple admin capabilities on their *own* extensions. I'm currently not seeing this for my extensions.

[2015-04-03 15:47] MarcelGerber commented on #10760
@redmunds It works for me, but in this case @sixertoy changed his username and as the registry is username-based, he isn' authorized any more to administrate his own extensions.

[2015-04-03 15:50] MiguelCastillo commented on #10760
@redmunds yes you are correct, you can do a few things on your extensions.

![screenshot 2015-04-03 11 49 45](https://cloud.githubusercontent.com/assets/1457701/6984497/9506543a-d9f7-11e4-88f0-3282a357b7f2.png)

[2015-04-03 15:53] MiguelCastillo commented on #10578
@prksingh Please let's integrate the new CEF!

[2015-04-03 15:55] redmunds commented on #10760
My bad -- I forgot to Sign In :)

[2015-04-03 15:59] MiguelCastillo commented on #10578
@prksingh this is why we should update our CEF https://github.com/adobe/brackets/issues/10315

/cc @peterflynn @redmunds

[2015-04-03 16:03] MiguelCastillo commented on #10760
@redmunds lol - that'll do it

[2015-04-03 17:58] mackenza commented on #10433
@shorshe what is the use case you are looking at here?  i.e. if I click on a zip file in the project tree, are you expecting a file listing in the editor window? Something else? If the user clicks on the file in the file listing, are you expecting the extension to unzip the file (where?) and open an editor for it?

Also, by "write" do you mean adding new files to an archive? I think this might be

[2015-04-03 18:01] peterflynn commented on #10578
@MiguelCastillo I don't think a new CEF is in scope for 1.3 -- remember it took us over a _month_ to get the last update working, and in fact we're still not done with that last update on the Linux side.

We definitely want to keep taking newer CEFs, but I think 1.4 is the earliest we could realistically pick up a new one...

But also: #10315 only applies when dev tools are opened in a browser tab

[2015-04-03 18:28] shorshe commented on #10433
In short:
Treat a zip/epup file transparently like a folder.

I'm doing ePub related work everyday  this would spend up the turnaround times a lot. I'd greatly appreciate any developments in this direction!

[2015-04-03 18:30] MiguelCastillo commented on #10578
@peterflynn let me ask you this.  in brackets, when you go to Debug -> Show Developer Tools, dev tools come up.  Currently, I cannot expand/collapse data in the console and in the elements tab.  Well, anything that relies on `getPropertyCSSValue` really...  That's fixed with a an updated CEF, right?

[2015-04-03 18:45] nethip commented on #8925
Closing this as the PR is now merged.

[2015-04-03 18:45] #8925 closed

[2015-04-03 18:48] peterflynn commented on #10578
@MiguelCastillo What platform are you on?  On Mac & Windows, it should not open a browser tab when you choose that menu item.

[2015-04-03 18:54] MiguelCastillo commented on #10578
I am on Mac... Yeah it opens a browser tab.

[2015-04-03 19:09] MarcelGerber commented on #10578
Could you just try typing `navigator.userAgent` into the developer tools' console and copy what you get?
I assume you either use an old build or a misconfigured custom build of Brackets Shell.

[2015-04-03 19:13] MiguelCastillo commented on #10578
@MarcelGerber this is what I get
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.118 Safari/537.36

[2015-04-03 19:16] MarcelGerber commented on #10578
That's not what I meant. I meant requesting Brackets' userAgent string by typing into its console.

[2015-04-03 19:25] MiguelCastillo commented on #10578
@MarcelGerber well, i gave you what you asked me to give you...  I typed `navigator.userAgent` in the console of the dev tools that come up when I go to Debug -> Show Developer Tools.  Can you please tell what other console there is?

[2015-04-03 19:35] mackenza commented on #10433
I am not sure I would want to mess with the project tree. It seems like it's above my pay grade ;)

I will take a look at some options and perhaps suggest some workflow here for comment.

[2015-04-03 19:37] MarcelGerber commented on #10578
Hm, yours is clearly your browsers User Agent string. You did that in the DevTools' Console tab (like below), correct?
![image](https://cloud.githubusercontent.com/assets/2641501/6987640/9fcf0d06-da49-11e4-9c6f-17fc73c177c9.png)

[2015-04-03 19:39] cfjedimaster opened #10823 "Brackets indents code even with smartIndent off"
I've got smartIndent turned off in my preferences, but if I'm writing a template, Brackets will auto indent a { character. It continues to do so even after I hit delete *multiple* times. This is a video demonstrating the bug. And again, I've got smartIndent set to false.

https://www.youtube.com/watch?v=J0CT_B2ka0Y&feature=youtu.be

[2015-04-03 19:42] MiguelCastillo commented on #10578
![screenshot 2015-04-03 15 41 24](https://cloud.githubusercontent.com/assets/1457701/6987697/f762eab0-da17-11e4-9bd2-c0b9b59da55a.png)

[2015-04-03 19:46] MarcelGerber commented on #10578
Yeah, that's the _wrong_ console (it's your browsers one). Go to the console tab and type it there.

[2015-04-03 19:52] MiguelCastillo commented on #10578
HA! sorry yeah you are right... I completely forgot that I was debugging the developer tools!

"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2) AppleWebKit/537.36 (KHTML, like Gecko) Brackets/0.42.0 Chrome/29.0.1547.80 Safari/537.36"

[2015-04-03 19:54] MarcelGerber commented on #10578
Yep, that's the culprit. You got a Brackets Shell build from Release 0.42.
Either [download the latest one](https://github.com/adobe/brackets/releases/download/release-1.2/Brackets.Release.1.2.dmg) or build it yourself, and your problem will be fixed.

[2015-04-03 20:04] MiguelCastillo commented on #10578
@MarcelGerber AH! ok cool, thank you!

[2015-04-03 20:40] h0m1c1de opened #10824 "trouble with Cyrillic in Extract for Brackets (Preview)"
![brackets-bug](https://cloud.githubusercontent.com/assets/9438211/6988470/716882f6-da5a-11e4-8503-6464ca43f53d.png)

not help:
reinstall brackets,
 instal version 1.1 ,
 new adobe acc,
new windows.

Please help

[2015-04-03 20:41] Bagusa4 opened #10825 "Integrating With Git Repo"
Integrating With Git Repository e.g Bitbucket or GitHub ...
Maybe this feature looks like in Visual Studio...
This feature can upload project into Git Repo directly via Bracket Editor ...
Look like Visual Studio, the project working in Editor can upload directly The project Issue, Update New code and etc into Visual Studio Online ...

Just it! I'm Sorry for my bad English :)  #Suggestion

[2015-04-03 20:49] rickhedin opened #10826 "JavaScript File Inference Problem - OpenLayers.mobile.js"
Here is the message I got:

JavaScript File Inference Problem

Brackets ran into trouble processing C:/work/141024/OpenLayers-2.13.1 - original/OpenLayers.mobile.js.

This file will no longer be processed for code hints, Jump to Definition, or Quick Edit.  To reenable this file, open .brackets.json in your project and edit jscodehints.detectedExclusions.

This is likely a Brackets bug.  If you can

[2015-04-03 22:55] le717 commented on #10825
[Brackets-Git](https://github.com/zaggino/brackets-git). 'Nuff said. :)

[2015-04-04 03:40] sandcastle opened #10827 "Local .brackets.json array values being ignored"
I'm using the [file tree exclude](https://github.com/JonathanWolfe/file-tree-exclude) plugin. When trying to set local settings for this plugin they are being ignored - I assume this somehow due to the fact that the value is an array as other local settings (not arrays) are working fine. When setting the values globally it works fine.

Local file:

[code]

This appears to be impacting both Windows

[2015-04-04 04:52] osoroco commented on #10466
this happens on OS X as well (I'm running 10.10.2)

Commented the ::1 localhost entry in /etc/hosts

[2015-04-04 14:21] redmunds commented on #10827
@sandcastle The type of data doesn't matter to the preferences system. It's all a matter of what the extension is expecting, so this is a bug with the extension.

I'm not sure why the author calls [Glenn Ruehle's exclude-folder plugin](https://github.com/gruehle/exclude-folders) "defunkt" -- as far as I know it still works, so maybe try that plugin instead.

[2015-04-04 14:34] cfjedimaster commented on #10718
Ok guys, it happened *again*. If you have something else I can do to debug, I will, but outside of that - I can't use Brackets anymore. Really disappointed about this.

[2015-04-04 15:13] MarcelGerber commented on #10718
What probably helps is moving the entire `JavaScriptCodeHints` folder out of `www/src/extensions/default ` in the Brackets install folder.

[2015-04-04 15:38] cfjedimaster commented on #10718
Ok, I moved it out. Will give Brackets another shot.

Has *anyone* else been able to replicate this yet?

On Sat, Apr 4, 2015 at 10:14 AM, Marcel Gerber <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for MobileFirst at IBM

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: raym

[2015-04-04 15:43] MiguelCastillo commented on #10718
@cfjedimaster i get it quite a bit if I dont have my node_modules folder excluded from Brackets.  You cn use [this](https://github.com/JonathanWolfe/file-tree-exclude) or [this](https://github.com/gruehle/exclude-folders).  And I also run [ternific](https://github.com/MiguelCastillo/Brackets-Ternific) for my JS code hinting.

[2015-04-04 15:56] cfjedimaster commented on #10718
Ok, but I can't imagine I need an extension to make Brackets *not* crash
with an Angular/Ionic app. I'd have to imagine this is hitting a lot of
folks will run into this, right?

On Sat, Apr 4, 2015 at 10:44 AM, Miguel Castillo <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for MobileFirst at IBM

[2015-04-04 16:01] MiguelCastillo commented on #10718
@cfjedimaster in my particular case, i have problems when my node_modules is **really** dense.  there is no native way to completely exclude folders from *all* processing, so I depend on an extension.  I am not sure if that's the same case for you.

[2015-04-04 16:04] MiguelCastillo commented on #10718
@cfjedimaster I am not the only one that has this problem unless they exclude `node_modules`.  A couple of folks I work with also have exclude `node_modules`, or brackets crashes somewhat regularly.

[2015-04-04 17:02] laramjo opened #10828 "Move Find bar to bottom of window / Question about external changes message"
Hi I have two questions:

1. could be passed the searchbox above to below, as in sublime text?

<IMG SRC="https://farm9.staticflickr.com/8708/16411832303_546bd5a3c8_o.png">

How do I avoid that whenever I save the file I exit this window?

<IMG SRC="https://farm9.staticflickr.com/8712/17030566262_cb3592ab77_o.png">

He did not speak English  google translation

[2015-04-04 17:34] dimr commented on #10255
hi,
in case anyone is looking for the libgcrypt11.deb file it is available here http://snapshot.debian.org/package/libgcrypt11/1.5.4-3/#libgcrypt11_1.5.4-3

[2015-04-04 18:33] nethip commented on #10814
@RaymondLim I looked at the code to check if we have something like what @danyocom was asking for, but could not find any. Can you tell us if this feature went into any of the sprints?

[2015-04-04 18:56] frayer opened #10829 "Ruby mode not un-indenting on "end" statement"
When editing Ruby files, a line is not un-indented or dedented when an "end" statement is encountered closing a block of code.

Steps

1. Create a new Ruby "*.rb" file.
2. Enter code like the following:

[code]

I'm expecting that when I type the "d" in "end" that the line shifts back one indentation level.  You can do the same on the CodeMirror Ruby test page and get the desired results.

https:/

[2015-04-05 11:44] sthag commented on #10807
I can confirm the highlighting problems with sass files.
I'm using Brackets 1.2 Build 1.2.0-15697 on Windows 7 and 8.1
There is no difference in using Brackets with or without extensions.
It appears in every sass file.

[2015-04-05 12:35] sandcastle commented on #10827
@redmunds thanks for the feedback - I will take this up with the plugin author :smile:

[2015-04-05 12:35] #10827 closed

[2015-04-05 15:02] mihailik commented on #10255
Is there a simple workaround then? Or a complex workaround for that matter?

Brackets still doesn't work for the latest Ubuntu Vivid (15).

It's clear some dependency is missing,

[2015-04-05 15:07] mihailik commented on #10255
Note that the standard procedure for the brackets-shell build fails too, with an error like 'pkg-config missing'.

Installing pkg-config, now libgtk2.0 is missing.

Installing that gives a genuine C++ compilation error something like appshell/appshell_extensions_platform.h:65:57: error: ‘GTK_WIDGET’ was not declared in this scope.

That's what I mean by Voodoo. Not just a minor glitch easily fixab

[2015-04-05 17:46] RaymondLim commented on #10814
Sorry @nethip Documentation hint is not implemented yet. You can remove (or comment on) the changes made in https://github.com/adobe/brackets/wiki/JavaScript-Code-Hints/_compare/3c5dac39e04761b226b7083f5de6456043fe83a2...71b6bff3ca2d019e60f6b6a9c770c83500ec36c3.

[2015-04-05 19:48] nethip commented on #10814
@RaymondLim Thanks for clarifying! I will update the documentation with this.

[2015-04-05 21:38] PhiLhoSoft commented on #10827
Perhaps because the last commit was made a year ago...
Looks like the old project required to hack the source to exclude other folders, which is not practical, particularly in case of updates!

[2015-04-06 08:19] abose commented on #10825
Brackets Git Extension from the extension registry :100:

[2015-04-06 08:19] #10825 closed

[2015-04-06 09:08] nicolo-ribaudo opened #10832 "Extension Registry error."
When I try to upload (update) an extension, I get this error:
[code]

[2015-04-06 11:07] dnbard commented on #10832
Same for me:
[code]

Not enough disk space on registry machine?

[2015-04-06 19:10] dnbard commented on #7387
Same issue - #10832 reported again:

[code]

[2015-04-06 19:10] mikaeljorhult commented on #10832
I've been getting the same kind of errors since yesterday. Now it's only "BAD REQUEST" though.

[2015-04-06 22:47] andreaslarsen commented on #10542
Cmd+- has worked fine the last 20 days but "cmd 0" resets to 12 px.

Reproduce:
On mac 10.10.2 with brackets 1.2.0-15697 running without extensions.
View... -> Themes -> change the font size to e.g. 16px -> press done -> cmd 0 -> Font size changes to 12 px

[2015-04-06 23:57] hikerguy opened #10835 "Having a "live preview""

[2015-04-07 01:24] tofanelli opened #10836 "Some new features?"
hey guys!

For some new features, i would like to see some like:
1- a button to zip and save all my extensions before change/format my machine
2- a guided tour in the first open
3- quick tips on each time I open the app
OR
4- shows a page with tips (like in Corel Draw or Illustrator), with some cool snippets (to help us to code faster), or some ideas (like Muzli), maybe fetch the Picks from Codepe

[2015-04-07 02:12] peterflynn commented on #10835
Probably [Thumbnail images & screenshots in theme/extension listing](https://trello.com/c/ORCF8YZH/1395-thumbnail-images-screenshots-in-theme-extension-listing) is the best solution here.  It's probably not realistic to download and temporarily install each theme on mouseover, then back it out on mouseout...

[2015-04-07 02:13] peterflynn commented on #10542
@andreaslarsen That's what it's supposed to do -- you're activating the View > Reset Font Size menu item.  Please file a spinoff bug though -- the discussion thread here is about a different topic.

[2015-04-07 02:24] peterflynn commented on #10827
@PhiLhoSoft Plenty of useful extensions can go more than a year without needing any updates to keep working.  I'm pretty sure that one still works fine.

At any rate, we're planning on an [official feature for excluding files](https://trello.com/c/OmPlSisf/566-exclude-filter-files-from-file-indexing-quick-open-etc-and-file-tree) in the (hopefully near) future, at which point both extensions will b

[2015-04-07 02:28] peterflynn commented on #10829
This should be fixed by PR #9387

[2015-04-07 05:38] prafulVaishnav commented on #10832
@nicolo-ribaudo @dnbard @mikaeljorhult Hii. I have reached out to aboutweb team. Will let you know when it is resolved.

[2015-04-07 05:51] bhagatdinesh opened #10837 "Request for shortcuts customization"
Hi,
Bracket is nice and light IDE for HTML,css, js coding.
I am eclipse user and have java programming knowledge.
I know important keyboard shortcuts to work in eclipse.
I searched web to get same shortcuts for brackets or to change it, but I did not find any.
It is nice to have same shortcuts instead of remembering new one.
I feel it will help me and other java/j2ee programmer to use Brackets eas

[2015-04-07 06:25] nethip commented on #10837
@bhagatdinesh Please go through this link to know about keyboard mapping inside Brackets.
https://github.com/adobe/brackets/wiki/Brackets-Shortcuts

[2015-04-07 06:45] peterflynn commented on #10836
Hi @tofanelli.  Many of these items are already tracked on our [feature backlog](https://trello.com/b/LCDud1Nd/brackets), where you can vote for features to help raise their priority.  See links below:

1 - [Sync extensions from one computer to another](https://trello.com/c/Y29lYIEL/889-sync-extensions-from-one-computer-to-another)
2 - The "Getting Started" project that appears when Brackets first

[2015-04-07 06:47] peterflynn commented on #10828
1) I think what you're asking is: could the Find bar be located at the bottom of the window, instead of the top of the window?  We don't get that request often, so we may not make this an option in Brackets core -- but it's something an extension could easily do.  Adding the 'extension idea' tag so extension authors will see this.

2) You _should_ only see this message if you do the following step

[2015-04-07 09:11] PhiLhoSoft commented on #10827
That's a good point. Some micro-extensions are better in the core, when proved useful, anyway. Stuff like clicking in the gutter to select a line, view whitespace, and so on. Stuff really basic in most text editors.

[2015-04-07 10:06] prafulVaishnav commented on #10812
@MarcelGerber This bug has not been fixed on Mac. On Windows it has been fixed. Can you please reopen the bug.

[2015-04-07 10:40] prksingh commented on #10330
Glad its fixed. Closing

[2015-04-07 10:40] #10330 closed

[2015-04-07 12:03] MarcelGerber commented on #10812
Are you sure? I can't see where that bug could be platform-specific. Are you sure you use the same CM version on both platforms?

[2015-04-07 12:10] abose commented on #10837
@bhagatdinesh additionally you can customize the shortcuts by editing the preferences file at brackets.json or the keyboard mapping files see. https://github.com/adobe/brackets/wiki/User-Key-Bindings .
If you prefer to get eclipse shortcuts in brackets; you could always write an 'eclipse shortcuts' extension to share with everyone.

[2015-04-07 12:10] #10837 closed

[2015-04-07 12:31] prafulVaishnav commented on #10812
@MarcelGerber You are right. I found it but forgot to update. Problem is in Brackets, its not picking up the preference change from the file.

[2015-04-07 12:37] prksingh commented on #10826
Which OS / Brackets version are you on? I am able to open http://dev.openlayers.org/releases/OpenLayers-2.13.1/OpenLayers.mobile.js on my windows desktop

[2015-04-07 12:44] lithiumbj opened #10838 "Memory Leak after "search in files""
it happened twice today, when i do a "search in files" on a middle size project (14400 Files and 245MiB Size) brackets passes from 220Mb to 580Mb (that is ok, it's a big quantity of files) but after the search finalize and you close the "search results" brackets is still using 500MiB~ of memory RAM, is not too much, but in my computer is 1/3 of all available RAM

Some extra data
Brackets version +

[2015-04-07 12:46] prksingh commented on #10826
This could be related to to #10718 Are you able to use brackets after this error? Do you see a crash / screen blank out?

[2015-04-07 14:32] timseverien opened #10841 "FileFilter match negation"
Sometimes—in fact, most times—I want to replace strings that occurs in only one type of file, for example a CSS file. I’ve been looking for documentation of the Exclusion Set’s syntax which pointed me to FileFilters. I browsed [the code responsible for indexing files](https://github.com/adobe/brackets/blob/master/src/search/FileFilters.js#L204) to see if I could find any undocumented syntax, but I

[2015-04-07 15:05] AlexeyMoiseev opened #10842 "Git PATH error."
Restart helps. But it is very often error on starting. Message pops up three times in a row. Sometimes this message pops up during work. Git writed in system PATH.
PS Brackets-bower extension shows same error in same time.

![err1](https://cloud.githubusercontent.com/assets/790623/7026132/38e49e54-dd72-11e4-91db-7d76ba99db42.png)
![err2](https://cloud.githubusercontent.com/assets/790623/7026133/38

[2015-04-07 15:08] MarcelGerber commented on #10817
I think one of us got the issue wrong, but from testing it, I suppose I got it right. So my understanding is:
In step 4, the line is completely blank (that is, the cursor is on the beginning/end of line at the same time and isn't surrounded by whitespace).
@mfromin, is that what you meant?

Should that be the case, it's a Brackets issue for sure as I don't get that behavior in the CM demo.

[2015-04-07 15:13] MarcelGerber commented on #10817
Disregard my last comment, turns out I hadn't enabled the "Auto Close Braces" option, which has a strong impact on the behavior. So yeah, now I guess you're right ;)

[2015-04-07 15:13] laramjo commented on #10828
all right. Thank you very much. Hopefully someone will develop the extension

[2015-04-07 15:15] mfromin commented on #10817
Marcel -

I believe what you say is correct.

I type (for example) the start of a function:

	var x = function sample(foo, bar) {

when I type the opening brace Brackets adds the closing brace (that is how I have Brackets configured).  Now I have this:

	var x = function sample(foo, bar) {}

I then hit <enter> twice to move the closing brace down to its own line.  Now I have this:

	var x = functi

[2015-04-07 15:15] mfromin commented on #10817
Our replies passed in transit - yes I have auto close braces.  Without that I would leave many things dangling in JavaScript.

--Michael

[2015-04-07 15:46] MarcelGerber commented on #10817
Thanks for clarifying. What you described is actually the behavior mentioned by @busykai, though ;)

[2015-04-07 16:28] zorgzerg commented on #10832
Can't upload new version my extension too. Getting "Bad request". Fix it soon please )

[2015-04-07 16:42] dnbard commented on #10842
I think that this issue should be addressed to https://github.com/zaggino/brackets-git (Git Extension repository). As for me, I've found this issue when starting 2 instances of Brackets (Which isn't supported by Git Extension, as I know).

@zaggino might have some input on this topic.

[2015-04-07 17:37] albertinad commented on #10842
Same problem for brackets-bower extension @dnbard , it doesn't support multiple instances of brackets. I don't think is git the problem, but the connection to the node domain. But I'm not really sure.

[2015-04-07 17:59] MarcelGerber commented on #10835
Also, please be aware that you can view & compare all the themes created by the Brackets Themes group here: http://brackets-themes.github.io/

[2015-04-07 18:45] nethip commented on #10196
Moving this to 1.4 as not enough time to take this change.

[2015-04-07 18:47] nethip commented on #10241
Closing this as this got fixed by #10321

[2015-04-07 18:47] #10241 closed

[2015-04-07 18:48] nethip commented on #10728
@prksingh Could you take a look at this. If the change is trivial, could we target this for 1.3?

[2015-04-07 19:47] peterflynn commented on #9283
The first issue will be fixed in the 1.3 release.  The second issue is a duplicate of #1157, so this overall issue can be closed.

[2015-04-07 19:47] #9283 closed

[2015-04-07 19:50] peterflynn commented on #5871
Fixed in 1.3

[2015-04-07 19:51] peterflynn commented on #3405
Fixed in 1.3

[2015-04-07 19:53] peterflynn commented on #5360
This is fixed in the upcoming 1.3 release

[2015-04-07 19:53] #5360 closed

[2015-04-07 19:59] peterflynn commented on #1550
Fixed in 1.3

[2015-04-07 19:59] #1550 closed

[2015-04-07 20:01] peterflynn commented on #7367
Should be fixed in 1.3

[2015-04-07 20:01] #7367 closed

[2015-04-07 20:02] peterflynn commented on #8063
Fixed in 1.3

[2015-04-07 20:02] #8063 closed

[2015-04-07 20:03] peterflynn commented on #652
This should be fixed in 1.3

[2015-04-07 20:03] #652 closed

[2015-04-07 20:50] fazelmk opened #10845 "Lost undo history after save"
If I save the file I can't undo the last modifications, and I still with the file open.

How to reproduce:
1) Make some changes
2) save
3) try to undo

If the file is not saved the undo works fine

Brackets version: Release 1.2 experimental build 1.2.0-15697 (release 8f82e2a97)

[2015-04-07 21:27] Equinoxdawg commented on #10842
I've had an issue like this before (my errors were the same), and @peterflynn gave me a valuable suggestion. I was running > 60 extensions and a lot of them were giving off errors (including Brackets Bower and Brackets Git). The 'fix' was to pull down my own copy of Brackets, and increase the CONNECTION_TIMEOUT to more than what it was defaultly set to.

[2015-04-07 21:28] zaggino commented on #10842
For me, using `Debug > New Brackets Window` works, but spawning a new instance through icon on the desktop doesn't, haven't investigated why yet.

[2015-04-07 21:28] zaggino commented on #10842
Here https://github.com/zaggino/brackets-git/issues/979 it was suggested that this didn't happen in Brackets 1.0

[2015-04-07 21:30] MarcelGerber commented on #10550
@peterflynn @le717 I filed issues with all the extensions you found (and also one other) so we can hopefully do the update in Release 1.4 :+1:

[2015-04-07 21:37] albertinad commented on #10842
Same as @zaggino , using 'Debug > New Brackets Window' works but otherwise not. Need to investigate this and improve the messages for brackets-bower extension.

[2015-04-07 21:58] MarcelGerber commented on #10550
I've also created a branch (https://github.com/MarcelGerber/brackets/tree/lodash-3) for Lodash 3.x - there are only few changes to Brackets core needed.

[2015-04-07 22:00] peterflynn commented on #10837
See also ['Keyboard Shortcut profiles matching other popular editors'](https://trello.com/c/ckAel1Cl/358-keyboard-shortcut-profiles-matching-other-popular-editors) on our backlog.

[2015-04-07 22:01] peterflynn commented on #10837
(@bhagatdinesh fyi, you can upvote that backlog link to help raise its priority)

[2015-04-07 22:56] peterflynn commented on #10845
@fazelmk Do you have any sort of background process running that might modify the file, or its timestamp, after saving?  Also, please try _Debug > Reload Without Extensions_ and see if that makes the problem stop.

[2015-04-07 23:02] fazelmk commented on #10845
Without extensions it works.

[2015-04-07 23:04] peterflynn commented on #10842
Hmm, interesting.  The Brackets Node process is supposed to generate a different random port number on each launch, so it's very strange that they would be colliding.

[2015-04-07 23:07] peterflynn commented on #10842
To verify that this isn't an extension-specific problem, could someone try this?

1. Close all running copies of Brackets
2. Manually disable all extensions [by moving them to a different folder](https://github.com/adobe/brackets/wiki/Troubleshooting#disabling-extensions-individually)
3. Launch Brackets twice as you've normally been doing
4. Does basic Live Preview work in both windows?  (You can

[2015-04-07 23:09] peterflynn commented on #10845
You can follow these steps to narrow down which extension is causing the problem: https://github.com/adobe/brackets/wiki/Troubleshooting#disabling-extensions-individually

[2015-04-07 23:15] peterflynn commented on #10838
@lithiumbj This is expected -- Brackets caches all the files it's searched so your next search will be lightning-fast.  Since you have 245 MB of files in your project, memory usage will increase by about the same amount after your first search.

Is this causing you any specific performance problems?  Most other editors do something similar (e.g. Sublime or Webstorm).

You can reduce the number of

[2015-04-07 23:16] fazelmk commented on #10845
Brackets Git is the one that broke the undo function.

[2015-04-07 23:17] peterflynn commented on #10841
@timseverien Please upvote this item on our feature backlog: [Find in Files: Inclusive/Additive Filters](https://trello.com/c/9IBv6zRq/1359-find-in-files-inclusive-additive-filters).  I'll close this issue to avoid duplication.

[2015-04-07 23:17] #10841 closed

[2015-04-08 00:09] peterflynn commented on #10817
@mfromin

Two things:

**1)** Having to press Enter twice sounds to me like something is unusual about your Brackets configuration.  Normally with "Auto Close Braces" turned on, the sequence is like this: (where "|" is the cursor pos and "." indicates an unseen space character)

[code]

It sounds like what you're seeing is different.  Could you try _Debug > Reload Without Extensions_ and see if th

[2015-04-08 00:23] maityarkodeb commented on #10817
To add on to @peterflynn's comment, after you press up after placing the semicolon (when cursor is indented 2 spaces) just press the right arrow key or TAB and the cursor will end up properly indented 4 spaces.  I just tested this and it works.  This is a minor issue at best.

[2015-04-08 00:52] hikerguy commented on #10835
I can live with that. I just saw Marcel's email pointing me to a URL that
shows each of the themes in a mock up, so that's even better. Thanks for
the feedback!

On Mon, Apr 6, 2015 at 10:12 PM, Peter Flynn <notifications@github.com>
wrote:

[2015-04-08 01:47] peterflynn commented on #10835
@hikerguy Just be aware that page only lists themes made by a specific group of people.  There are over 130 themes available for Brackets, and that site only lists a few dozen of them.  It's still a great resource though!

[2015-04-08 01:48] peterflynn commented on #10845
@fazelmk Can you file a bug with the extension's author [here](https://github.com/zaggino/brackets-git/issues)?  I'll close this since it appears not to be a core Brackets bug.

[2015-04-08 01:48] #10845 closed

[2015-04-08 04:01] zorgzerg commented on #10832
Thx for quick fix )

[2015-04-08 04:14] abose commented on #10826
I was able to see the dialog a couple of times with the file, but not consistantly reproducible.

[2015-04-08 06:12] peterflynn opened #10846 "Code folding pollutes preferences file with view state"
1. Collapse a block of code in any file
2. Open brackets.json preferences file

Result: some verbose stuff has been added tracking the code-folding state

We very specifically want to keep transient, less-semantic stuff like this out of the main preferences file -- that's what the separate view state (state.json) file was added for.

Flagging as a priority for 1.3 because it will be a pain to undo

[2015-04-08 06:33] timseverien commented on #10841
@peterflynn Oh, sorry, I didn’t know it was there. Thanks and upvoted :+1:

[2015-04-08 06:41] peterflynn commented on #10841
No worries!

[2015-04-08 06:44] peterflynn opened #10847 "Code folding "fadeFoldButtons" preference does nothing"
1. Add `"fadeFoldButtons": true` to brackets.json
2. Restart Brackets, just in case
3. Open any JS file (or LESS, etc.)

Result: gutter folding triangles are still visible. Mousing over gutter does not change their appearance.

Expected: pref description says "Hides the fold buttons unless the mouse is over the gutter"

[2015-04-08 06:48] prafulVaishnav commented on #10812
I have checked this with the new version of code mirror and it seems to work fine. I am running unit tests with the latest version of code mirror in Brackets and will push the merge once the unit tests pass.

[2015-04-08 06:49] prafulVaishnav commented on #10728
Moving this to 1.4.

[2015-04-08 06:51] nethip commented on #10446
I am still not able to repro this. Moving this to 1.4

[2015-04-08 06:54] nethip commented on #5871
@rroshan1 Can you verify and close if this is fixed.

[2015-04-08 07:03] peterflynn commented on #10847
Actually, this might be a more general problem with preferences in this code -- I can't get the `"maxFoldLevel"` pref to do anything either.  It's supposed to default to 2, and even if I try explicitly setting it to 1 instead, I see gutter triangles for at least 5 levels of indent appearing (e.g. look at `onGutterClick()` in the CodeFolding/main.js file).

[2015-04-08 07:14] peterflynn commented on #10847
False alarm!  I misread the code and didn't see that all preferences need a `code-folding.` prefix.  Closing.

[2015-04-08 07:14] #10847 closed

[2015-04-08 07:25] peterflynn opened #10848 "Most Code Folding preferences don't take effect until close/reopen or restart"
1. Open a JS file in the working set
2. Open brackets.json and add `"code-folding.enabled": false`
3. Switch back to the JS file

Result: code folding still enabled
Workaround: close & reopen the file

1. Restart Brackets
2. Remove the `"code-folding.enabled": false` line
3. Open any number of files you want

Result: code folding not enabled
Workaround: restart Brackets

This pattern occurs with o

[2015-04-08 09:31] thehogfather commented on #10846
@peterflynn @abose is this something you are already working on? or is this something you would like me to sort out?

[2015-04-08 09:39] MarcelGerber commented on #10838
I'm a little confused by the fact that Brackets uses 220MB before. @lithiumbj, could you just start Brackets and see how much RAM it takes right after the start?

[2015-04-08 10:07] abose commented on #10846
we have not started to work on this, I have just started reading through the code to figure out usability and unit test issues.
It would be great if you could submit a fix to this.
Also could you take a look at this #10848?

[2015-04-08 10:20] abose commented on #10846
We could use PreferencesManager.getViewState("codefolding.states"); and PreferencesManager.setViewState("codefolding.states", state) to store the states into the file.

[2015-04-08 10:37] abose commented on #10824
Could you share a sample psd with the Cyrillic font problem?

[2015-04-08 11:11] h0m1c1de commented on #10824
Problem is in all psd files with Cyrillic text
http://rghost.ru/6bLpqgXSc for exemple

[2015-04-08 14:26] hikerguy commented on #10835
Ah, that's good to know. Think I have found one I'm going to stick with for
now, but it's always good to have options ;)

On Tue, Apr 7, 2015 at 9:47 PM, Peter Flynn <notifications@github.com>
wrote:

[2015-04-08 15:24] nicolo-ribaudo commented on #10832
I saw that some extensions have been updated today (e.g. Brackets Git), but I'm still getting a Bad Request error :sob:

[2015-04-08 16:54] JeffryBooher commented on #10630
I can confirm this is broken on my Samsung Windows Slate as well.  This is definitely a regression but someone needs to confirm that Microsoft Surface is broken as well since CEF 2171 seemingly fixxed touch on Surface Pro Devices: #10075

[2015-04-08 16:56] AlexeyMoiseev commented on #10842
I use only one instance.

@peterflynn, https://github.com/zaggino/brackets-git/issues/979#issuecomment-87742295

[2015-04-08 17:19] MarcelGerber commented on #10823
This is fixed in Release 1.3

Part of #9387

[2015-04-08 18:16] gserrg commented on #10828
1) +1 and please do not close the search when the search field has lost focus.

[2015-04-08 19:42] AJDBenner opened #10853 "Fix colour editor for use in browsers that don't use -webkit- prefix"
With the fork of Brackets I'm working with right now, located [here](https://github.com/humphd/brackets), we're running Brackets in the browser. Brackets is set up with the `-webkit-` prefix. It would help our use case to allow for other browser prefixes. @le717 has been involved with the discussion in our issue [here](https://github.com/humphd/brackets/issues/150).

[2015-04-08 19:51] humphd commented on #10853
Some additional context: this bug is about fixing issues specific to the inline color editor, not fixing all `-webkit-*` issues in general.

[2015-04-08 21:06] AJDBenner commented on #10853
[This PR](https://github.com/adobe/brackets/pull/10854) will fix this issue.

[2015-04-08 21:21] ElegantScripting commented on #5794
- No live preview
- Extensions disabled
- Restarted brackets
- Using latest version

![screen shot 2015-04-08 at 5 18 30 pm](https://cloud.githubusercontent.com/assets/5307412/7055717/b6479cc4-de13-11e4-8d3d-4e955a8c96d9.png)

[2015-04-08 21:28] zaggino commented on #10842
Sorry @AlexeyMoiseev I've read the comments that followed and thought you had the same case with multiple instances because quite a few people reported it lately. Hence I changed the subject.

For the issue with one instance, make sure you don't have any firewall or antivirus software running in the background which might be blocking Brackets (on my Windows I needed to add an exception to Comodo).

[2015-04-08 22:40] peterflynn commented on #5794
Hmm, so apparently looks like the Chrome bug regressed on Yosemite: https://code.google.com/p/chromium/issues/detail?id=397642.

They did land a fix on the Chrome 39 2171 branch shortly before we started out upgrade  to CEF 2171, but I'm guessing we just narrowly missed the boat on picking up that fix. (If I'm reading the version numbers right, [we need 2171.50](https://chromium.googlesource.com/c

[2015-04-08 22:43] peterflynn commented on #10828
@gserrg Please upvote [Find/Replace: Leave search bar open & highlights visible when editor focused, until first edit](https://trello.com/c/TD4qOgxG/1084-find-replace-leave-search-bar-open-highlights-visible-when-editor-focused-until-first-edit) on our feature backlog.

[2015-04-08 23:39] peterflynn opened #10856 "brace-fold frequently throws exceptions"
Put this in a JS file:
[code]

1. Select lines 3-5 entirely (i.e. everything inside the foo `{}`s)
2. Press delete

Result: `Uncaught TypeError: Cannot read property 'lastIndexOf' of undefined`

1. Undo
2. Select lines 2-6 entirely (i.e. the entire `"foo": { ... },` block)
3. Press delete

Result: same exception thrown again

Nothing immediately obvious is broken afterwards, but it spams the conso

[2015-04-09 00:02] MarcelGerber commented on #10835
@hikerguy I've created comprehensive set of screens (every theme in JS, HTML and CSS mode) here: https://drive.google.com/folderview?id=0B986Uw1nLGY7Tl9jQTNOb1RmSXc&usp=sharing (created by https://github.com/MarcelGerber/brackets-themeshot)

[2015-04-09 00:41] peterflynn commented on #10835
@MarcelGerber Wow, awesome!

[2015-04-09 00:52] peterflynn commented on #10856
Other examples:

[code]

Deleting lines 2-3 will throw an exception.
Deleting lines 4-7 or 4-11 will throw an exception.

[code]

Deleting lines 2-3 (or 2-4) even in this very simple case will throw an exception.

[2015-04-09 00:57] peterflynn opened #10857 "Code folding markers broken after deleting selection across collapsed section"
1. Start with this JS code:
[code]

1. Collapse "two"
2. Select from the start of the `function` keyword in "two", to the start of the `function` keyword in "three"
3. Press delete
    * Result: folding triangle for "one" now shows it's collapsed, even though function "one" is _not_ collapsed
4. Click the folding triangle for "one" repeatedly
    * Result: nothing happens; triangle is nonresponsiv

[2015-04-09 01:00] peterflynn commented on #10857
In other cases, this can cause phantom code-folding triangles to appear in places where no triangle was present before.  E.g.

1. Open CodeFolding/main.js
2. Collapse the block that starts with `var foldGutter`
3. Select from just before the "f" in `foldGutter` to just after the "n" in `function restoreL...`
4. Delete
    * Now there's a triangle on line 57 (`COLLAPSE_CUSTOM_REGIONS = ...`)

[2015-04-09 02:11] hikerguy commented on #10835
Peter,

         Is there a support forum for Brackets? I wanted to ask a question
about why sometimes live preview updates automatically, and other times it
only updates if
I save the file in Brackets.

Thanks,

Andy

On Mon, Apr 6, 2015 at 10:12 PM, Peter Flynn <notifications@github.com>
wrote:

[2015-04-09 02:23] nethip commented on #10835
@MarcelGerber Thank goodness!

[2015-04-09 02:24] prafulVaishnav commented on #10835
You can have discussion on  [brackets-dev group](http://groups.google.com/group/brackets-dev) or the [#brackets IRC channel](http://webchat.freenode.net/?channels=brackets)
You can file issues here if you are facing any problem related to Brackets.
In this case, please go to [this link](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#live-preview) to find out any anamoly and file a issu

[2015-04-09 02:36] prafulVaishnav commented on #1324
Fixed by PR #9387 Closing it.

[2015-04-09 02:36] #1324 closed

[2015-04-09 02:37] prafulVaishnav commented on #8434
Fixed by PR #9387

[2015-04-09 02:37] #8434 closed

[2015-04-09 02:39] prafulVaishnav commented on #8723
Fixed by PR #9387

[2015-04-09 02:39] #8723 closed

[2015-04-09 02:52] nethip commented on #10857
@peterflynn Thanks for testing this extensively.

[2015-04-09 06:02] rroshan1 commented on #5871
Verified the fix.. The issue no longer exists!!
Closing the issue.

[2015-04-09 06:02] #5871 closed

[2015-04-09 06:11] rroshan1 commented on #3405
Verified the fix.. The issue no longer exists!!
Closing the issue.

[2015-04-09 06:11] #3405 closed

[2015-04-09 06:22] andfaulkner commented on #10214
I'm having the same issue, but KatMouse was able to temporarily fix it for me as well.

@mmoore99 Are you using application-specific settings in KatMouse? I had the same issue until I defined the custom setting solely for Brackets:

    R-click KatMouse systray icon --> Settings --> Applications tab --> Add --> select Brackets executable in dialog --> click new Brackets.exe list item --> [set cust

[2015-04-09 06:31] rroshan1 commented on #10341
Verified the fix.. External changes conflict dialog is clearer!!
Closing the issue.

[2015-04-09 06:31] #10341 closed

[2015-04-09 07:54] peterflynn opened #10858 "Clicking code folding collapsed marker should expand it"
1. Click a gutter triangle to collapse a block of code
2. Click the "↔" indicator that appears inline in the code

Result: nothing happens

Expected: in many other editors (though not all), clicking this indicator un-collapses the folded section

[2015-04-09 10:46] bhagatdinesh commented on #10837
Thank you! guys,
As suggested by abose, I will edit preference file, but my concern is will it interfere with existing shortcuts of brackets?; never mind, I will give a try.

[2015-04-09 10:48] lostlime commented on #6904
+1

[2015-04-09 12:22] prafulVaishnav commented on #8980
@vfraloo Hii.. Changes has been merged into master. Can you please verify and close the issue if fixed..

[2015-04-09 12:24] abose commented on #10857
The problems are not present in https://codemirror.net/demo/folding.html

[2015-04-09 13:27] nethip opened #10860 "Release 1.3 Tasks"
### Tasks in Development
- [x] @nethip [2 days before] Review bugs open to the current milestone
- [x] @nethip All new open bugs have been reviewed
- [x] @nethip [2 days before] Notify committers of impending merge of master into release branch
- [x] @nethip Notify ALF Team that we have reached String Freeze: `DL-Brackets-IQE`
- [x] @prafulVaishnav Merge master to both release branches
- [x] @praf

[2015-04-09 13:29] nethip opened #10861 "Release 1.3 Deployment Tasks"
### Tasks to deploy a release publicly
- [x] Tag the build (brackets, brackets-shell) using `release-1.0` format (Creating 'Release' in brackets tags the build, so only need to do this in brackets-shell?)
- [x] Announcement to the brackets-dev group for this release and work in the new cycle
- [x] Merge localizations/other release changes back into master
- [x] Merge localizations/other release ch

[2015-04-09 13:34] abose commented on #10824
@h0m1c1de thanks for the upload, I was able to reproduce the issue in brackets. Most probably a font issue, the issue is not present in cc web.

[2015-04-09 13:41] brunosfer opened #10862 "C / C++ Cross-Compile for MIPS / ARM architectures"
This is certainly an extra advantage for those who work in MIPS and ARM architectures. An inclusion of the tool chains can lead to an efficient way to choose in the Brackets interface whether the user wants to compile for x86 / x64 or MIPS or ARM. I'm starting to work on it. Hope more people can join this idea.

[2015-04-09 13:53] abose commented on #10862
Can you explain a bit more on this? How would brackets fit in this toolchain?

[2015-04-09 14:00] brunosfer commented on #10862
I just got to know Brackets few minutes ago. For what I can see it supports many languages, but what's the purpose of recognizing C/C++ language if it doesn't compile it? What I'm purposing here it's to add the binary files of the compilers so it can compile for x86 / x64 ARM and MIPS architectures. You could choose in the Menu which architecture you wanted to compile. I hope you got my idea. Any

[2015-04-09 14:01] MarcelGerber commented on #10824
#8985 will probably fix that issue.

[2015-04-09 18:29] peterflynn commented on #10824
@MarcelGerber I think this one is different -- it's not just an ugly font, it's glyphs not getting encoded right and showing up as "X"es, which is probably a server-side Extract bug.

[2015-04-09 18:50] smager opened #10863 "Oracle PL / SQL ( .PSP and .SQL file extension)"
Would it be possible if Brackets could have pl/sql as an extension?

[2015-04-09 19:19] MarcelGerber commented on #6646
@peterflynn Looks like you missed closing this issue :)

[2015-04-09 19:39] peterflynn commented on #10862
@brunosfer Brackets core is focused primarily on front-end web technologies, so we wouldn't want to add C/C++ compilers to the default download.  But Brackets is also designed to be highly extensible, so anyone could easily add a compiler integration feature.  I'll close this bug since we don't plan for it to be a core feature, but by tagging this 'extension idea' it will still show up in lists of

[2015-04-09 19:39] #10862 closed

[2015-04-09 19:43] peterflynn commented on #6646
Yep, confirmed this is fixed now too -- thanks

[2015-04-09 19:43] #6646 closed

[2015-04-09 19:54] peterflynn commented on #10863
Tagging 'extension idea' so this will show up in lists of suggestions for extension authors.  But I'll close this since this probably isn't something we'd add to the default download of Brackets -- the core of Brackets is focused primarily on front-end web technologies.

To give potential extension authors better guidance though, could you say more about exactly what features you'd want in a PL/SQ

[2015-04-09 19:54] #10863 closed

[2015-04-09 20:02] peterflynn commented on #10837
Anything you put in the user keybindings file will take precedence over the existing default shortcuts.

[2015-04-09 20:06] brunosfer commented on #10862
@peterflynn My mistake then. For what I've read I got the idea that the Brackets was web focused however you were open to extend it to other languages and support other platforms. I got your idea now and makes sense. Thank you for the nice tips.

[2015-04-09 20:56] fazelmk commented on #10845
Done. And the bug is a change in files timestamp like you said. Caused by the Clear withespace on file save option o brackets-git. If anyone else got this problem. =D

[2015-04-09 21:03] peterflynn commented on #10862
@brunosfer Yep, that's exactly the idea -- it's very extensible so anyone should be able to add support for virtually any language.

[2015-04-09 21:21] peterflynn commented on #10845
@fazelmk Definitely file a bug then -- there should be a cleaner way for the extension to do that feature without breaking Undo history.

[2015-04-09 21:25] fazelmk commented on #10845
I did file a bug report to then using the bug report in the brakets extension. I saw that it was a known bug and I get the option that causes the error from another guy issue report.

[2015-04-09 22:42] peterflynn opened #10864 "Code folding doesn't play well with View > Line Numbers toggle"
1. Uncheck _View > Line Numbers_
   - Result: code folding triangles are too close to the left edge of the editor -- need more padding
2. Re-check _View > Line Numbers_
   - Result: code folding is on the _left_ of the line numbers now -- should be to the right

This seems relatively edge-casey, to the point where I could envision shipping 1.3 without fixing this.  I suspect most people who have l

[2015-04-09 23:01] peterflynn commented on #10848
PR #10850 fixes this for `"enabled"`, `"fadeFoldButtons"`, `"maxFoldLevel"`.

It doesn't yet fix it for `"minFoldSize"` or `"alwaysUseIndentFold"` -- it will start working if you bump a file hard enough to re-compute its folding markers, but the markers won't otherwise reflect the change right away.  We need to do something to force recomputing the markers when these prefs change.

[2015-04-10 02:31] peterflynn opened #10865 "Crash on reload if large-ish JS project open"
This seems very timing-sensitive, so hopefully this is hard to hit in general... I ran into it about 10 times in a row while working on PR #10859 though :-/

1. Open a extensions/default/CloseOthers/main.js into the working set
2. Reload Brackets
3. If it doesn't crash, wait until a moment after the UI is finished loading up, then reload again

It almost always crashes after 1-3 reloads for me.

C

[2015-04-10 02:33] peterflynn commented on #10865
Here's one with full CEF symbols:

[code]

(this was using a tip-of-master local brackets-shell build, but I can also repro this crash just as easily with the official 1.2 build)

[2015-04-10 02:38] peterflynn commented on #10865
I have a suspicion this is related to the JS code hints web worker -- the crash doesn't repro if you have a non-JS file open or if you have a JS file outside the project open.  The main difference between those cases?  In the crash case, code hints parsing/indexing process is running in the background and is probably unfinished (still running) when the reload happened.  In the non-crash case that

[2015-04-10 06:04] qdlaczian opened #10866 "Cleanup CSS"
Remove and optimize unused css code and html.

[2015-04-10 06:09] prafulVaishnav commented on #10866
@qdlaczian Please mention the files in which you have find any unused css and html code

[2015-04-10 06:17] qdlaczian commented on #10866
I mean plugin or someting else that will find unused css in my HTML project and remove it.

[2015-04-10 06:28] prafulVaishnav commented on #10866
@qdlaczian Core brackets do not provide this functionality. Though, they are lot of extensions for Brackets. You can get the list [here](https://brackets-registry.aboutweb.com/) and search if any suffice.

[2015-04-10 06:30] prafulVaishnav commented on #10866
It will be good to have as an extension in the future. Closing it and adding to the Extension Ideas list.

[2015-04-10 06:30] #10866 closed

[2015-04-10 06:30] qdlaczian commented on #10866
Ok. Thanks.

[2015-04-10 07:18] rroshan1 commented on #10823
Verified the fix.. The issue no longer exists!!
Closing the issue.

[2015-04-10 07:18] #10823 closed

[2015-04-10 07:22] abose commented on #10845
https://github.com/zaggino/brackets-git/issues/958 says its a core issue: any external modifications to a file will clear the undo cache.

[2015-04-10 07:31] peterflynn commented on #10866
@ryanstewart I wonder if this is the kind of thing we might be interested in adding to core eventually... seems relatively in the Brackets wheelhouse.  Should we mark this 'move to backlog' and leave open for a while?

[2015-04-10 10:14] abose opened #10869 "Bucket code folding states by project in state.json instead of dumping every thing into one bucket."
rather than dumping folding state for all files together in one map, it might make sense to bucket it by project, like we do for other similar prefs like the scroll position & selection state of editors.

MainViewManager has an example of how to do that:

            context = { location : { scope: "user",
                                     layer: "project" } },
            state = PreferencesMa

[2015-04-10 10:23] abose opened #10870 "Code Folding preference minFoldSize and alwaysUseIndentFold require close & reopen of file to take effect."
add/modify custom preference to .brackets.json
 code-folding.minFoldSize and code-folding.alwaysUseIndentFold.

Once the code folding option is changed, Already open files dont honour the preference change immediately.

Workaround:  Close and reopen the file.

[2015-04-10 10:27] abose commented on #10848
/brackets/issues/10870 has been filed for tracking minFoldSize and alwaysUseIndentFold issue.

[2015-04-10 10:54] abose commented on #10846
Merged PR fixing the issue. Now the fold states are stored in state.json.

[2015-04-10 10:54] #10846 closed

[2015-04-10 11:01] abose commented on #10848
PR #10850  merged and  "enabled", "fadeFoldButtons", "maxFoldLevel" working without reload.
issue#10870 tracks issue with minFoldSize and alwaysUseIndentFold.
Closing this issue.

[2015-04-10 11:01] #10848 closed

[2015-04-10 11:07] abose commented on #10858
Clicking on the "↔" indicator does expand the folded code; but it doesn't seem to work in all the cases.

[2015-04-10 13:08] MarcelGerber opened #10871 "Quick Open: Wrong title if underscore in name"
1. In `brackets/src/thirdparty`, copy `CodeMirror2` to `CodeMirror2_`
2. Open Brackets, open Quick Open and type `codemirr`

Result:
The first few entries are named `CodeMirrAUTHORS`, `CodeMirrLICENSE` and so on
![image](https://cloud.githubusercontent.com/assets/2641501/7088367/52fe523a-df93-11e4-8430-103688960875.png)

Expected:
The first few entries are named `AUTHORS`, `LICENSE` and so on

cc

[2015-04-10 14:35] #10832 closed

[2015-04-10 16:23] webCoordinator commented on #10738
I have the similar issue to aravindsanker.

An 89kb un-minified CSS file presents zero issues for me while the 72kb minified version regularly causes 15-20s freezes while loading, scrolling, or editing. I'm running a clean install of Brackets (Release 1.2 build 1.2.0-15697 - release 8f82e2a97) with Extract as the only installed extension.

I've never had this issue with Edge Code CC on this comput

[2015-04-10 17:42] smager commented on #10863
what I suggest is to add pl/sql for #1. syntax highlighting and #2. run command for (batch files *.bat), a run command is used to compile source code, see TextPad by Helios Software Solutions.

PL/ SQL is not only for database but it is also for front-end web technologies. We use pl / sql for custom web application, pl / sql for web are similar to Classic ASP and PHP.

Please see the sample below

[2015-04-10 18:06] njx opened #10876 "Minor formatting issue in Health Data dialog"
On a retina MacBook Pro, the Health Data launch dialog has "Help->Health Data Report" broken across two lines between the "-" and the ">" (see below). I think traditionally we write menu items as "Help > Health Data Report", which would still be broken across two lines but might look better. Also, it might be worth rewriting that line so that the link doesn't get broken up by default.

![image](ht

[2015-04-10 18:06] njx commented on #10876
Also, it looks to me like the dialog header is too tall - dunno if this design has changed or if I'm just imagining it. @larz0?

[2015-04-10 18:10] ryanstewart commented on #10876
Hmm, it looks like the new experience hasn't been checked in yet. We're not going to keep the big dialog on first launch. Instead we're going to do a toast-style notification in the upper right hand corner. I think @prksingh is working on the new experience in a branch but I can't find it at the moment.

[2015-04-10 18:11] peterflynn commented on #10870
From original bug #10848:

[2015-04-10 18:18] peterflynn commented on #10738
@webCoordinator Can you share the specific file with us?  It's going to be something about the syntax or content of that one file, because minified 70 KB files in general usually work fine.

[2015-04-10 18:23] peterflynn opened #10877 "Code folding is always reset after closing and reopening file or project"
1. Launch Brackets with clean preferences
2. Use code folding to collapse some sections in the Getting Started index.html
3. Close the index.html
4. Reopen it

Result: all collapsed sections are expanded again

Expected: this is supposed to be remembered by default

Broken by PR #10850.

[2015-04-10 18:26] peterflynn commented on #10869
Nominating for 1.3 because it would be a pain to change this later...

[2015-04-10 18:27] peterflynn commented on #10865
Sorry, original title was wrong -- wrote it earlier before I'd fully narrowed down the repro steps

[2015-04-10 18:34] MarcelGerber commented on #10863
Note: There's already a PL-SQL mode in CM (http://codemirror.net/mode/sql/index.html?mime=text/x-plsql), so it's easy to enable in Brackets.
This can also be done in a simple extension. See https://github.com/adobe/brackets/wiki/Language-Support#defining-a-new-language.

[2015-04-10 18:54] peterflynn commented on #10871
Repros at least back to 1.1, so it's not a recent regression.  Looks like a bug in StringMatch -- the result items come back like this:

[code]

Notice how the middle segment has `includesLastSegment: true` even though it doesn't overlap the last segment (filename) at all.  This messed up the logic in `QuickOpen._filenameResultsFormatter()`'s `fileNameFilter()` helper.

[2015-04-10 19:20] MarcelGerber commented on #10871
Looks like it's an all-time StringMatch bug. I was able to repro back in Sprint 36.

[2015-04-10 23:20] MarcelGerber commented on #10865
It's probably not Mac only. I got into a case where Brackets white-screened on Windows 8.1 with the same steps (it was even like 5-10 seconds after starting).
![image](https://cloud.githubusercontent.com/assets/2641501/7098912/f1e35e72-dfe8-11e4-85ad-23f059f559a1.png)

[2015-04-10 23:45] MarcelGerber opened #10879 "Brackets becomes unresponsive when scrolling brackets.min.css"
1. In the Brackets repo, run `grunt build` to generate a new `src/styles/brackets.min.css` (I created mine based on a5a2cd53d5bf9486a3ebf33e715f991a4b3a4c3e)
2. Ensure `View > Word Wrap` is enabled
3. Open the aforementioned file in Brackets
4. Scroll all the way to the end

Result:
Sooner or later, Brackets freezes with the renderer process (not the main process) utilizing around 17-20% of CPU us

[2015-04-11 00:38] MarcelGerber commented on #10879
It's literally an issue with f3644f7e2a97265f8fe56fb37b7240e42edf8b3d. (I `git bisect`ed 3 times to find that, and double-checked the actual culprit, so yeah, it is).

[2015-04-11 02:57] 2youyouo2 opened #10880 "WebGl support on windows?"
hey guys!
I was trying to embed a webgl content in the brackets, for game editting.
It's ok on Mac OSX, but failed on Windows.
I have tried to add --enable-webgl --ignore-gpu-blacklist to start command, but still can't get a webgl context on Windows in brackets.
I have tested webgl with http://threejs.org/examples/#webgl_animation_cloth in chrome and node-webkit, it's ok.
So i think my windows sup

[2015-04-11 03:30] le717 commented on #10879
If this is confirmed to be caused by that commit, I think you just won the weirdest bug origin award.

[2015-04-11 12:21] MarcelGerber commented on #10879
There are others that qualify, like https://github.com/zaggino/brackets-git/issues/436, but thanks :D

I guess there's something wrong with the way CM measures fonts, and then it's not too obscure.

[2015-04-11 13:12] MarcelGerber commented on #10879
Interesting. Looking further into this issue, it does not repro when I disable the QuickView default extension.

[2015-04-11 22:40] afonsomatos opened #10883 "Show side by side doesn't work"
In Windows 8.1, I'm facing the problem of not being capable of Showing windows side by side with Brackets.

If I click Windows Bottom Tool Bar > Show windows side by side, Brackets' window won't re-size.

![image](https://cloud.githubusercontent.com/assets/10373500/7103545/1272950c-e0a4-11e4-8075-de4d52ee40c9.png)

[2015-04-12 17:35] afonsomatos opened #10886 "Font looks weird"
My font (on the left) looks super weird compared to others I see. How can I make it more anti-aliasing? I've searched in the entire web but the solutions are not clear or don't work.

![image](https://cloud.githubusercontent.com/assets/10373500/7106714/a0fc7196-e142-11e4-91bd-76dd86eeba18.png)
![image](https://cloud.githubusercontent.com/assets/10373500/7106715/a3900a08-e142-11e4-8b5d-561c8fbcbef6

[2015-04-13 06:22] abose commented on #10883
Thanks for reporting this. This use case I think was never tested for or reported in windows till now.
Most probably and issue with native shell.

[2015-04-13 07:10] abose commented on #10880
The CEF version integrated with brackets should have support for WebGl.
But it may be not initialized or enabled or worse, the DLLs may not be part of brackets.
Angle and Direct3D support
    d3dcompiler_43.dll (required for Windows XP)
    d3dcompiler_46.dll (required for Windows Vista and newer)
    libEGL.dll
    libGLESv2.dll
  Note: Without these components HTML5 accelerated content like 2D c

[2015-04-13 07:15] abose commented on #10880
You could build brackets shell from source
https://github.com/adobe/brackets-shell/wiki/Building-brackets-shell
The built version has all the D3D and webgl DLL's.

[2015-04-13 11:17] prksingh commented on #10836
Hi @tofanelli Did you get chance to check how much memory brackets is using? Other details that would help are:
How much RAM does you system have?
How long has brackets been running?
How many files in the project?
Does memory consumption keep increasing with the same project over time?

[2015-04-13 11:36] prksingh commented on #10828
@laramjo Closing it since that's out standard process for extension suggestions that we're not likely to turn into core features. Please let us know, if you see some unexpected behavior from the 'external changes' reload dialog and I will reopen this. Thanks.

[2015-04-13 11:36] #10828 closed

[2015-04-13 11:41] abose commented on #10856
The unit test failures after the code folding integration and this bug has the same root cause.

[2015-04-13 12:01] prksingh commented on #10826
I have never seen this error but it could get annoying if you see it too often. Adding 'needs review' to decide on the priority

[2015-04-13 14:29] prksingh commented on #10865
The steps and crash log appear similar to #4522

[2015-04-13 15:11] prksingh commented on #10876
I have create a pull request for this at: https://github.com/adobe/brackets/pull/10887

There is a screenshot in the request showing what it looks like.

[2015-04-13 15:57] Wikunia opened #10889 "Failed trying to restart Node: Cannot call method 'restartNode' of undefined"
Hi,

I used Brackets v1.3.0 but had some node problems with some extensions now I've downgraded to v1.2 but the problems didn't disappear. Wanted to restart node but that one shows me an alert:
"Failed trying to restart Node: Cannot call method 'restartNode' of undefined"

Are there any things that I can try to fix this problem?

Some more information:
Node v0.12.2
Arch Linux 3.19.3

I've tried to

[2015-04-13 16:52] maxgrass opened #10891 "extension / whitespace"
Mouse Right click deletes the word.

I could not localize the problem deeper, since this has been discussed on trello and considered more or less like a important feature, maybe worth looking into it, since the author seems not to be an active user and **the issue might be with brackets rather than with plugin**.

https://github.com/DennisKehrig/brackets-show-whitespace/issues/42

[2015-04-13 17:02] thehogfather commented on #10857
The culprit function here is in foldgutter.js `updateFoldsCache`. Changes to the document and their corresponding effects on the line folds are not been correctly handled. The issue isn't present in the codemirror demo because it doesn't attempt to cache the lineFolds.

A related issue is to hit `Ctrl-Z` after either one of the scenarios described above. The result is that the collapsed region is

[2015-04-13 17:13] abose commented on #10857
@thehogfather #10888 proposes a fix for the issue. can you check it out.

Also the issue of Ctrl-Z after either one of the scenarios described above. The result is that the collapsed region is restored but the indicator on the gutter is wrong.-- i still have not fixed that, any clue on what could be going wrong in that case?

[2015-04-13 17:16] MarcelGerber commented on #10865
Re #4552: Those aren't that similar as over there, you cause the reload by reloading the Dev Tools (which in turn reloads the "page" that's currently open).

Re #10779: It could be the same root cause, but if you do it right, for this issue to reproduce, you only need one reload.

[2015-04-13 17:18] thehogfather commented on #10857
@abose checking #10888 at the moment.

The issue with the Ctrl-Z issue is that the lineFolds cache would be stale (after deletion of a folded code fragment). I would suggest checking the textMarker for the given line to see if the line is folded.

[2015-04-13 18:58] #10886 closed

[2015-04-13 19:17] peterflynn opened #10893 "Code folding doesn't have any unit tests"
Usually as part of a major feature (in the Trello/Waffle workflow), we're required to add unit tests before calling the feature 'done.'  That hasn't happened yet for code folding.

(Filing this as a placeholder per discussion in #10859)

[2015-04-13 19:56] busykai commented on #10374
@peterflynn, @sebaslv I think we're dealing with two issues here:

1. Confusion and actual errors (as the one described in this issue) due to the fact that multi-browser does not support `UserServer`.

2. The fact that multi-browser implementation does not support `UserServer` configuration. @peterflynn's later comments outline some strategies on how it can be fixed with lesser effort.

I think PR

[2015-04-13 22:14] peterflynn opened #10894 "Brackets command-line tool installation uses deprecated Mac APIs"
From https://github.com/adobe/brackets-shell/pull/512/files#r28189315:

The `AuthorizationExecuteWithPrivileges()` API we use to install the command-line shortcut in `/usr/local/bin` has been deprecated since Mac OS 10.7.  That means this feature in Brackets could become completely broken at any time in the future, without warning.

We should migrate to a more modern approach, e.g. using a separat

[2015-04-14 01:56] Xety commented on #10214
@skypecakes Thanks, your method worked for me !
I hope this issue will be fixed as soon as possible, because we can't work with a 24 lines scrolling...

[2015-04-14 02:45] peterflynn commented on #10893
Note: these unit tests should include regression tests for the issues fixed in PR #10888

[2015-04-14 04:32] prafulVaishnav commented on #10891
@maxgrass Please reload Brackets without Extensions (Debug > Reload Without Extensions) to make sure its not due to any extensions. You have already filed this bug to extension author. If you are sure it is caused by that particular extension not by core Brackets, please close this bug.

[2015-04-14 04:50] #10891 closed

[2015-04-14 04:51] maxgrass commented on #10891
very helpful.

[2015-04-14 05:13] tofanelli commented on #10836
Hello Prashant!
Very very sorry for so long reply.  I was travelling and couldn't reply to you!
Can I answer these questions in a few days? I will explain you why... I just bought a Samsung EVO 850 SSD for me, and I will have a fresh Windows installed on my machine. But, if you ask me now, at this moment, yes! The Brackets is still hogging all my free RAM available on my system, unfortunately.
My

[2015-04-14 07:53] abose commented on #10877
Closing as this isse has been fixed by PR #10885

[2015-04-14 07:53] #10877 closed

[2015-04-14 08:14] activenode opened #10896 "Base64 encoding crashes"
In OSX when opening CSS-Files with big images encoded in Base64 Brackets crashes completely (it does not crash but stand still).

[2015-04-14 11:04] Pot-Nut opened #10897 "No longer able to type hash (#)"
For some reason, when I try to type a hash (#) it is coming up as a single quotation mark ('). I have never had this issue before, it is only happening inside of the Brackets main code-editor window (it works fine in Brackets popups and other applications), and this is happening with all types of files.

[2015-04-14 11:43] Pot-Nut commented on #10897
I have narrowed this down to the "Better quotes for Brackets" extension. Removing this extension solved the above issue. I will post an issue with them instead.

[2015-04-14 11:43] #10897 closed

[2015-04-14 12:38] prafulVaishnav commented on #10896
@activenode What is the size of the file containing the image encoding?

[2015-04-14 13:57] abose commented on #10857
Thanks for the quick response @thehogfather. I have updated the PR with fixes for the undo-redo and fold state persistence case using textMarkers as you suggested.
Please take a look at the change.

[2015-04-14 13:59] 2youyouo2 commented on #10880
I rebuild brackets for windows, and it works well ! ^_^
Thanks for your answer, @abose.

[2015-04-14 14:28] abose commented on #10880
:+1: Moving to backlog, confirm if we should have integrated the DLL's in windows natively as mac/linux builds already ships with the bins.

[2015-04-14 16:15] kupoback opened #10899 "Need help with Grunt for Brackets"
I've posted on the developers repo, however I fear that the developer has abandoned his plugin.

Essentially, when I have the program detect my grunt file, it see's the functions, and when I click on them to execute, I get "###" and nothing more.

When checking the devtools, I see in the console:

    [node-log 11:14:21 AM] { '0': { [Error: spawn ENOENT] code: 'ENOENT', errno: 'ENOENT', syscall: '

[2015-04-14 17:00] nicolo-ribaudo opened #10900 "LivePreview on Android"
Using Chrome [you can debug webpages on your smartphone](https://developer.chrome.com/devtools/docs/remote-debugging). Wouldn't be cool to use that feature to support Live Preview on Android?

[2015-04-14 18:00] abose commented on #10900
Brackets could possibly support live preview over wifi(without needing a USB connection),experimental multi browser live preview integrated inside brackets could be extended to remote devices too. but i think some code change is required for this.

Also some form of http auth can be put in the node server so that not everyone with the mutibrowser link can get a free pass into the machine.
Adding t

[2015-04-14 18:04] abose commented on #10880
@2youyouo2 If you need brackets to integrate the DLL's in the windows end for writing extensions feel free to reopen this issue.

[2015-04-14 18:39] abose commented on #10899
ENOENT = Error NO ENTry, which could mean no such file or directory.
our grunt script could be accessing some non existent file. Have you tried running the grunt script from the command line?
which os are you on? system config?

[2015-04-14 18:45] abose commented on #10899
We do not maintain extension issues in open state in the brackets repo, so closing this; But we could help with what we know .

[2015-04-14 18:45] #10899 closed

[2015-04-14 18:47] abose commented on #10896
similar issue #10738

[2015-04-14 18:52] abose commented on #10889
I have faced similar problem in linux,
A rough workaround is to go to system monitor and force kill brackets-node processes and brackets itself if its non responding. after that restarting brackets mostly fixed the issue for me.

[2015-04-14 19:04] abose commented on #10775
@valtlait isn't there actually two different strings for find in and replace in?

[2015-04-14 19:06] abose commented on #10751
Closing as inactive thread.
Please reopen if you run into this again.

[2015-04-14 19:06] #10751 closed

[2015-04-14 21:06] silooz opened #10901 "can't use adobe extract - requires internet connection and I am connected...."
I am connected to the internet and still get this error when trying to open PSD file.
what is the problem ?
any help would be highly appreciated.

![capture](https://cloud.githubusercontent.com/assets/8035482/7147364/237b86d6-e303-11e4-9d2c-0628aa6b4ca3.JPG)

[2015-04-14 22:39] thehogfather commented on #10858
On a somewhat related note, the `cursor: pointer` css rule for `.CodeMirror-foldmarker` in main.less does not seem to have any effect. Cursor still renders as text when one mouses over the collapsed marker.

[2015-04-14 22:46] thehogfather commented on #10857
@abose looks good from my point of view. I've had a play around at work all day and the undo works as expected.

[2015-04-15 01:16] JonathanWolfe commented on #10827
@PhiLhoSoft I waited for it to land forever so I finally had to revamp Ruehle's old plugin as a stop gap until then.

I also cannot get the plugin to load the project's `.brackets.json`. The `.get`s always return the global variable's value regardless of requested context.

[2015-04-15 02:36] redmunds commented on #10827
@JonathanWolfe

A `.brackets.json` file in the root folder of a project gets automatically loaded and the values override the global `brackets.json` file -- there's nothing that a plugin needs to do. Use *File > Open Folder...* to select folder that contains the `.brackets.json` file to be the current "project".

[2015-04-15 02:43] 2youyouo2 commented on #10880
It's important for me, but i don't know anyone else need  webgl in brackets.
So i reopen this issue to see whether anyone else need it.

[2015-04-15 04:15] fr32c opened #10902 "Home/End keys goes to beginning/end of line only"
If I want to navigate quickly at the top or bottom of my document, I can't use home or end keys, because they seem to only move within 1 line. I have to type multiple pageUps or pageDowns to achieve the expected result.

This happens on Mac in Version 1.2 édition 1.2.0-15697 (release 8f82e2a97)
Horodatage de la version : Sun Feb 22 2015 22:34:50 GMT-0800

[2015-04-15 05:34] petetnt commented on #10902
You can use CTRL+Home/End to jump to top/bottom of the document.

[2015-04-15 05:37] abose commented on #10857
Thaks for checking this out.
Verified the fix. closing.

[2015-04-15 05:37] #10857 closed

[2015-04-15 05:38] abose commented on #10856
Verified the fix, closing.

[2015-04-15 05:38] #10856 closed

[2015-04-15 05:44] abose commented on #10902
Closing as brackets already have uniform shortcuts across platforms to scroll to start and end of page.

[2015-04-15 05:44] #10902 closed

[2015-04-15 05:49] abose commented on #10886
@afonsomatos Is the problem solved now?

[2015-04-15 06:18] petetnt commented on #10901
Related to/Duplicate of #9793

[2015-04-15 06:24] rroshan1 opened #10903 "File State in Left Panel Shows Changed When Inline Editor is opened and no change is made!!"
Frequently, I find a file state showing changed in the Left Panel even when no changes have been made to it.
Initially:-
![initial](https://cloud.githubusercontent.com/assets/11662297/7153095/90f19c6c-e364-11e4-8e9f-076a763369cd.jpg)
Finally:-
![final](https://cloud.githubusercontent.com/assets/11662297/7153097/9bc0ac00-e364-11e4-8fac-b4887b96a0dc.jpg)

It happens when an inline editor is opened i

[2015-04-15 06:43] silooz commented on #10901
I don't think its a duplicate , cause I have internet connection and still the program show this error.

[2015-04-15 06:48] petetnt commented on #10901
Oh right, should have clarified that I think that it's a firewall issue (which is reported in that issue).

[2015-04-15 07:56] rishabhp commented on #10619
+1

[2015-04-15 08:44] PhiLhoSoft commented on #10827
The "override" mechanism is a bit annoying: we might want, in some cases, a merge instead.
Particularly in the case of @JonathanWolfe's extension, where we might want to define generic excludes (node_modules, etc.) and excludes specific to a project.

Beside, it doesn't work with this extension :
in `brackets.json`:

    "jwolfe.file-tree-exclude.list": [
        "/node/",
        "node_modules",

[2015-04-15 10:20] stealthprism commented on #10619
Brackets is able to apply the rules based on the layer selected by the
user. This is already happening. It is able to determine the rules and
generate it (CSS) for the user.

Instead of selecting individual layers and checking the CSS rules for the
selected layer, Brackets should parse all the layers, generate their CSS
rules and put them all in a separate file.

Hope this clarifies my point.

On

[2015-04-15 11:08] dmxt commented on #10398
@prksingh The issue you chose to keep open is later closed by @ralder with a reason to continue the issue on this very thread which is long closed.

In result the font rendering problem is still not properly solved and I'm truly offended on how @ralder handled this.

---

To keep in topic: The solution to this issue is to add directwrite option to the config, instead of using flag parameters becau

[2015-04-15 13:08] afonsomatos commented on #10886
@abose Yes, I reinstalled Brackets and It solved the problem. It must had been a file that was replaced or edited.

[2015-04-15 13:41] activenode commented on #10896
Yes and no. I am experiencing this problem with 35kb files! Which is not large at all!

The structure is as follows
.JM_icon-draghandles-white{background-image:url(data:image/png;base64,iVBO ....
.JM_icon-test-white{background-image:url(data:image/png;base64,iVBO ....

[2015-04-15 14:10] prksingh commented on #10836
Thanks for helping narrow down the issue @tofanelli

Please update with details at your convenience. Also, if you suspect an extension is causing an issue, you can disable extensions by *Debug* > *Reload without extensions* or to narrow down on the specific extension, you can following the instructions [here](https://github.com/adobe/brackets/wiki/Troubleshooting#disabling-extensions-individually)

[2015-04-15 14:41] tofanelli commented on #10836
Hello Prashant,
Right after I installed Brackets, I only installed GIT plugin, and see what happened

And two minutes later it crashed my computer. I don't know what it can be. After I started my machine again, I only opened Brackets again, at this time without the Git plugin, and everything run ok....
So far, is ok. But I didn't installed any plugin later. I will install more along the day and se

[2015-04-15 14:52] redmunds commented on #10827
@PhiLhoSoft Correct, the preferences system does not merge values (arrays or otherwise). They are overridden.

[2015-04-15 14:55] JonathanWolfe commented on #10827
@redmunds Overriding is what I want, except that no matter what I always get the global `brackets.json` info, and **never** the project's `.brackets.json`. And I've tried every `.get` in the api.

[2015-04-15 15:03] redmunds commented on #10827
@JonathanWolfe Make sure project prefs file is named correctly and in the project root folder. Brackets must be opened to the same project root folder. Make sure there are no syntax errors in json -- the JSONLint extension makes this easy. Make sure key is correct and in quotes. Make sure encoding of prefs file is UTF-8. Not sure what else it could be.

[2015-04-15 15:09] tofanelli commented on #10836
Prashant,

the image is not opening... here is the link - http://i.imgur.com/elGv7oF.png - to it... its showing the Brackets open and only the Git plugin installed... what it can't be normal... only one plugin installed and consuming 150mb and 2 minutes later crashed...

cheers =)

![01 - git installed - 2nd screen showing the background process](https://cloud.githubusercontent.com/assets/5512922/

[2015-04-15 15:58] le717 opened #10905 "Possible API for Cut/Copy in-browser verison"
Chrome 43 (joining IE10+ and Opera 29+) adds support for programmatic cut/copy using  `Document.execCommand()` [(source)](http://updates.html5rocks.com/2015/04/cut-and-copy-commands). This API might be able to be used for cut/copy in the distant future in-browser version of Brackets. Filing this more as a "make a note of that on the backlog" issue. ;)

[2015-04-15 16:15] silooz commented on #10901
thanks a lot! indeed its a firewall issue.

[2015-04-15 16:34] prksingh commented on #10398
Sorry for any offence. The other issue is still open (though unresolved), I have added a 'needs review' tag so the team can look at it and add a priority to the issue

[2015-04-15 16:53] prksingh commented on #10836
Thanks for the quick reply. I think there may be some other plugins still added to brackets (I see another icon below the Brackets Git icon in the toolbar that looks like a plugin). AFAIK, a new version of Brackets can still use plugins from a previous installation, unless they are disabled.

Also, can you attach a crash log for the crash [using these instructions](https://github.com/adobe/bracket

[2015-04-15 17:00] prksingh opened #10906 "Brackets memory keeps increasing on reload"
Over brackets with devtools and *Reload with extensions* every 10 seconds. Monitor brackets memory in Windows task manager. Memory keeps increasing on reload. I could go from ~70MB to ~600MB in 10 reloads.

I can see similar behavior on Mac but much not as bad as windows. Memory increases for Brackets helper on reload but not by much and stops increasing after like 200MB.

Thanks to @SeanJM for re