[2015-06-28 13:35] motealle opened #11319 "Brackets Uninstallaton in order to reset its settings to default does not take effect..."
When i installed brackets it was fully working and i satisfied instantly.
but when i changed some settings, the live preview function corrupted completely, i don't remember
ITS DEFAULT VALUES to set them again on base URL field or such. And i cant find it on docs either.
I tried reinstalling it, to reset these settings to default but all my settings and extensions remain intact after a complete re

[2015-06-28 14:03] abose commented on #11319
if you are on windows, go to %appdata%  (run>%appdata%)  and delete the Brackets folder.
relaunching brackets will clear your preferences.

[2015-06-28 20:21] manderson23 commented on #11314
Thanks.

[2015-06-28 20:21] #11314 closed

[2015-06-28 20:33] FrancisBou opened #11320 "[Quick editor] A way to know the parent media query?"
Hi,

This is both a festure request and a question. When I have a multiple selectors to an element in the same CSS file but in two separate media queries, how is it possible to know in wich media query I am editing when in quick edit? I do not want to make a separate file for each media selectors because this would frustrate my co-workers who use other editors and prefer everything in the same pla

[2015-06-28 20:40] FrancisBou commented on #11320
Sorry guys, I just saw you are aware of in on Trello, so I need to close this thread.
https://trello.com/c/HljqV5Nd/556-show-info-on-media-query-surrounding-a-rule-in-inline-css-editor

[2015-06-28 20:40] #11320 closed

[2015-06-29 05:03] vimxts opened #11321 "Feature request - Not to remove working file when fule is deleted outside Brackets"
Notepad++ has a feature. When you change or remove a file outside, it will ask if you want Tye working file to remain as is or change to the new version or get it closed.

Since Brackets is a specialised editor, I would still prefer it to Notepad++, therefore I would like to request thus feature.

Back story: I accidentally deleted my file permanently by replacing it with my backup file and the ot

[2015-06-29 05:08] abose commented on #11321
thanks @vimxts for reporting this.
A very good and reassuring feature to have.

[2015-06-29 05:17] abose commented on #10465
![image](https://cloud.githubusercontent.com/assets/5336369/8401451/28736fda-1e4c-11e5-9b55-8597be775b5c.png)

[2015-06-29 09:29] danielisaksen opened #11322 "Commented out meta refresh tag issue"
I commented out a meta tag (see below) because I had to remove it to develop on my web application, but it caused Brackets to "redirect" instead.

http://i.imgur.com/07RYrYZ.png (Screenshot; I took the freedom to redact certain file names. This is the contents of my C:\ disk, as I am on Windows right now.)

[2015-06-29 09:50] diomed opened #11323 "Please integrate Lingohub for translations!"
Can you please integrate translations into [Lingohub](https://lingohub.com)
which is free for open source projects, so you could ease up on translators,
so we don't have to look all around what's translated and what's not, and fix and change things with simplicity, instead of wandering within the code?

[2015-06-29 10:50] nethip commented on #9608
@vonStein @ingorichter This is fixed now with this PR https://github.com/adobe/brackets-shell/issues/526

[2015-06-29 10:58] nethip commented on #11323
@diomed Thanks for letting us know about [LingoHub] (http://lingohub.com). I had a word with their support guys and it looks like they don't have a straight forward GitHub connector yet. Also they don't process strings present in code files (which is the case with us) but rather take standard formats like eg: .init/angular.js e.t.c. Let us know once they have an improved workflow and then we would

[2015-06-29 10:58] #11323 closed

[2015-06-29 13:51] zolock opened #11324 "Code folding problem with some theme."
I'm using windows 8.1 64bit, and when I download some theme, there is a "bug" with the code folding part.
![problem](https://cloud.githubusercontent.com/assets/7304650/8409266/abe1d40e-1e76-11e5-9575-ada7f3dce5c2.jpg)

I mean the cross instead of triangle.

[2015-06-29 14:31] Fordi commented on #11047
I'd like to help.

On Windows, brackets was my primary non-IDE editor for a long while, and I'd like to go back to using it now I'm on a linux box.  The lack of command-line control and preservation of basic state is essentially what's preventing me from making the switch from Geany.  If I can help clear this migration, I'll fork, do the thing, and create a pull request appropriately.

Can you (ne

[2015-06-29 16:24] thehogfather commented on #11324
@zolock the default marker is a triangle - but this can be overridden by themes. The theme shown in the image has chosen to render the fold marks as a `+`.  Since it is not a core brackets issue, you can file an issue with the author of the theme you are using. Please clarify if I have misunderstood the issue.

[2015-06-29 16:41] #11324 closed

[2015-06-29 18:01] nethip commented on #11047
@Fordi We really appreciate your help on this!

About the issue; After upgrading to CEF 2171 on Linux, we are getting intermittent crashes while quitting. Just launch brackets with CEF 2171 and then quit and you should see the crash in the terminal. We spent some time on this with our own theories :smile: but did not land with a clean solution. `brackets-shell`, a thin wrapper around CEF, is based

[2015-06-30 02:37] jbeckton commented on #10266
just fired up brackets and updated it, I rarely use it. I was able to install a couple extensions and then i started having this issue. Reminds me why I don't use it much.

[2015-06-30 04:34] nethip commented on #10266
@jbeckton Did you try troubleshooting steps mentioned in the earlier comments on this thread. You could check for any anti virus program running on your system that might be blocking extension manager. Also check `/etc/hosts` file if you see something fishy over there. Also please post the console log that you see in the developer tools.

[2015-06-30 05:20] nethip commented on #11322
@danielisaksen Could you describe the issue a little more? In which file you had to comment the tag ``. And might I know why you had to comment this tag?. Also could you briefly tell us what kind of web application you are planning to develop?

Our `brackets-shell` is not that generic to be able create `node-webkit` like applications. However you could use our extension infrastructure to add more

[2015-06-30 05:27] rawat11 commented on #11249
@abose I believe I donot have access to the mentioned issue [GitHub](https://github.com/adobe/brackets/issues/11249fonts/source-code-pro#94)

[2015-06-30 05:29] rawat11 commented on #11249
@abose I believe I do not have access to the conversation [Here](https://github.com/adobe-fonts/source-code-pro/issues/94)

[2015-06-30 05:33] rawat11 commented on #3465
@abose The latest ttf fonts displays the characters nicely.

Updating the SS for both MAC and WIn

![1-russian-win](https://cloud.githubusercontent.com/assets/10069885/8424392/8910d640-1f17-11e5-9a2b-980a77d6e812.png)
![2-russian-win](https://cloud.githubusercontent.com/assets/10069885/8424394/8c0f90a2-1f17-11e5-8929-b514737374dd.png)
![5-russian-mac](https://cloud.githubusercontent.com/assets/100

[2015-06-30 06:27] danielisaksen commented on #11322
I was merely writing a logout.html for later use, where the `` tag would redirect user to the root. However, this caused my browser to redirect while Live View was open, so I had to comment it out. I simply commented it out, and it for some reason caused Brackets to display the index of my C:\ disk.

Just to be clear: I am, in short and oversimplified terms, writing a website using Brackets.

[2015-06-30 06:39] nethip commented on #11322
@danielisaksen OK!. So it is a webpage you are authoring using Brackets and while using Live Preview this redirection is happening.  Interesting! Will you be able to share your test files?

[2015-06-30 07:39] abose commented on #11249
I too don't have access, mailing paul may help.

[2015-06-30 07:42] abose commented on #3465
Updated source code pro has support for  Russian / Cyrillic text. Closing.
If certain glyphs are not rendered properly, raise another issue stating the details. Closing this issue now.

[2015-06-30 07:42] #3465 closed

[2015-06-30 09:40] sundaysen commented on #10769
Running the latest sprint on OS X and having the same issue.

1. Open new instance via debug > open brackets in new window
2. Refreshing the old project will make it load the project loaded in the new window thus losing any unsaved changes and history since.

[2015-06-30 10:35] hardikdangar commented on #10261
Any update on this bug? i have the same issue in ubuntu 14.04

[2015-06-30 16:20] izien opened #11326 "cant install brackets on windows"
please i need assistance , i have tried to run the msiexec command line please some one should let me know how to install at some point when i run the comman line the total file size becomes 1kb from 37.8mb i dont know what is wrong, some other times it would just flash a dialog box and that is all please i really want to use this bracket on my system

[2015-06-30 16:59] abose commented on #11326
download brackets> double click on the msi should normally install brackets without needing any command line interference. Wait for upto 5 minutes after the double click for the installer window to appear(depends on the system configuration). Are you able to install any MSI packages on your system?

[2015-06-30 17:14] izien commented on #11326
When I run as normal it send a message "installation directory must be on a
local hard drive.this is the first time I would be running a Msi file
Thanks please help out
On Jun 30, 2015 6:00 PM, "Arun Bose" <notifications@github.com> wrote:

[2015-06-30 18:11] abose commented on #11326
Are you running windows from a network drive? or are you running the installer from a network drive? if so, copy to a local drive and check.
which version of windows are you on?

[2015-07-01 02:42] prafulVaishnav commented on #11326
@izien This could be permission issues too. Can you try to run msiexec command with administrative privileges.

[2015-07-01 03:54] nethip commented on #10261
@hardikdangar We are tracking this internally and targeting for 1.4 which is due shortly.
@prafulVaishnav Could you take a look into this issue?

[2015-07-01 05:00] nethip commented on #10590
@rroshan1 Could you check this is fixed with the latest version of code mirror in Brackets?

[2015-07-01 06:40] leedorian commented on #10718
@nethip I used brackets on a small project, it just uses some grunt-* modules. And also another magento project. I think disable hinting/find is not acceptable.

[2015-07-01 07:48] abose commented on #11326
issue #2407 might be related. Take a look at the solutions posted there.

[2015-07-01 09:46] rawat11 opened #11327 "[IQE] : [Ctrl+PageUp/PageDown] Navigate menu blinks on file traversing on MAC"
Steps To Reproduce:

1) Launch Brackets
2) Open and edit some files in the Working set
3) Use Ctrl+PageUp/PageDown Shortcut to traverse files

Result: Navigate menu blinks on each traversal

ENV : Release 1.4 build 1.4.0-16190 (master e35f2a4b5)
OS- MAC 10.10.02

[2015-07-01 11:59] wpilkington opened #11328 "MSI silent install cannot exclude shell context extensions or update path properties"
Using the Brackets 1.3 MSI installer, there are two properties which can be specified so that you don't install the shell extensions or update the PATH variable, which are:

UPDATEPATH=""
ADDCONTEXTMENU=""

Calling the MSI installer with its graphical interface with these two properties shows the tick boxes unticked and the features not installed.

However, if doing a silent install with the MSI a

[2015-07-01 12:12] rawat11 opened #11329 "[IQE] : [Ctrl/Cmd +(Shift) + Tab] for file traversing doesn't work on MAC"
Steps To Reproduce:

1) Launch Brackets
2) Open and edit some files in the Working set
3) Use [Ctrl/Cmd +(Shift) + Tab] Shortcut to traverse files

Result: Doesn't work on MAC

ENV : Release 1.4 build 1.4.0-16190 (master e35f2a4)
OS- MAC 10.10.02

[2015-07-01 18:34] omefire opened #11332 "Debugging and stepping through brackets code"
How do I step through brackets code ?

I have cloned the repo, but now I want to step through the code and have a look at its behavior. so far, I haven't been able to figure that out..
Any help ?

[2015-07-01 18:37] sprintr commented on #11332
Go to `Debug` -> `Show Developer Tools`. You can step through the code there.

[2015-07-01 18:37] omefire commented on #11332
Hmmm, seems like I might be able to get what I want by just loading it into chrome ?

[2015-07-01 18:40] omefire commented on #11332
@sprintr , thanks. I want to step through brackets' code itself, not through my app's code.

[2015-07-01 18:43] TomMalbran commented on #11332
`Debug -> Show Developer Tools` open the devtools of Brackets with Brackets code, not yours. Since Brackets shell is essentially a version of chromium, it can use the same developer tools as Chrome.

[2015-07-01 18:43] sprintr commented on #11332
`Debug` > `Show Developer Tools` is only for Brackets' own code. Switch to Sources tab to have a look at the files.

[2015-07-01 18:44] nlourenco opened #11333 "Find/Replace dialog closes on cursor out"
If I have a block of code in which I need to batch replace within a folder of files, it is not possible since if a user clicks off the Find/Replace dialog in order to copy and paste his/her code the dialog box disappears.

* File > Replace In Files
* Click off dialog and onto working file
* Dialog disappears

If there is an alternative method please let me know, otherwise a close box with a scalab

[2015-07-01 18:45] omefire commented on #11332
cool, didn't know that.
does it work in Ubuntu, I see nothing when trying it on my Ubuntu box.

[2015-07-01 18:51] sprintr commented on #11332
I am not sure about its functionality on Ubuntu. You should open up an issue if it doesn't work for you. @TomMalbran Has this been reported earlier?

[2015-07-01 18:53] TomMalbran commented on #11332
I don't remember, and I don't know if it works or not.

[2015-07-01 18:55] sprintr commented on #11332
I don't remember either. Search also didn't help.

[2015-07-01 19:31] omefire opened #11334 "'Debug > Developer Tools' not working on Ubuntu"
I haven't been able to use it on Ubuntu.

[2015-07-01 19:31] omefire commented on #11332
Thanks guyz, I've opened an issue regarding this : https://github.com/adobe/brackets/issues/11334

[2015-07-01 19:44] omefire commented on #11332
Another question, now that I've been able to open the `Debug > Show Developer Tools` (in Windows) :
    - Every file seems to be minified and starts with :  "eval("/*\r\n * Copyright (c) 2012 Adobe S ..."
    How do I 'unminify' them all ? (to faciliate setting breakpoints and stepping through the code ?)

[2015-07-01 19:48] TomMalbran commented on #11332
You need to load Brackets using the code from the repo. Here are the instructions:
https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets#setting-up-your-dev-environment

[2015-07-01 19:58] omefire commented on #11332
Awesome! I'm all set up and can already step through the code.
Thanks a lot !

[2015-07-01 21:12] mackenza commented on #11332
This totally works on ubuntu, I use it almost every day

[2015-07-01 21:15] mackenza commented on #11334
What error do you get? Do you have chrome installed on Ubuntu (not sure if it's required, but I do on all my Linux boxes)

[2015-07-01 22:08] abdelouahabb commented on #11061
@anyone modify you codeMirror file inside your brackets installation so you can get syntax coloration for your nested `jsx`

replace:

`scriptTypes.push({matches: /^(?:text|application)\/(?:x-)?(?:java|ecma)script$|^$/i,`

by

`scriptTypes.push({matches: /^(?:text|application)\/jsx$|(?:x-)?(?:java|ecma)script$|^$/i,`

NB: Still waitng for plugin so we can have calltips :( (Tern-react maybe?)

http

[2015-07-02 08:30] nethip commented on #11327
@rawat11 This is not a bug but an OS feature. The shortcut is listed in the `Navigate menu` and they why you see the blink.

[2015-07-02 08:30] #11327 closed

[2015-07-02 08:31] nethip commented on #11329
@rawat11 This works for me. Try resetting the preferences and see if that fixes the issue.

[2015-07-02 08:36] rawat11 commented on #11329
@nethip but this worked on windows without setting any prefernces. Do we have to set preferences for MAC

[2015-07-02 08:46] rawat11 commented on #11329
Yes it worked with (Cmd+shft+])

[2015-07-02 08:46] #11329 closed

[2015-07-02 09:12] imiMike commented on #10007
That's still broke in 1.3 and emmet 1.2.2:( Disabling emmet helps as monirulalom mentioned.

[2015-07-02 12:01] rawat11 opened #11336 "[IQE] : [Ctrl+PageUp/PageDown] shortcuts on Navigate menu are not localized"
Steps To Reproduce:

1) Launch Brackets
2) Open and edit some files in the Working set
3) Go to Navigate menu

Result:  Next Document (List Order) and Previous Document (List Order) are not localized

ENV : Release 1.4 build 1.4.0-16190 (master e35f2a4) (MAC and WIN)
![screen shot 2015-07-02 at 4 55 57 am](https://cloud.githubusercontent.com/assets/10069885/8476568/2a425eac-20e0-11e5-9892-40f93934

[2015-07-02 12:26] dylmye opened #11337 "PHP Syntax Highlighting breaks with "->""
**Problem** - PHP code isn't properly syntax highlighted after the T_OBJECT_OPERATOR (->).
![You may need to zoom in to see this](https://i.imgur.com/oU0ta44.png)
**Steps** - Here is some code that should reproduce this error, enter this into a document with a PHP extension:
[code]
It should look like this:
![Here is the broken syntax highlighting](https://i.imgur.com/JEM0eUb.png)
It's not linked

[2015-07-02 13:39] dylmye commented on #11337
I wrote the opening tag incorrectly, I am so sorry to waste your time with this!

[2015-07-02 13:39] #11337 closed

[2015-07-02 19:38] adripol94 opened #11339 "Brackets files .php autocomplete not work"
when i create a file .php, i need autocomplete for javascript but the autocomplete not work.

any solution?

[2015-07-02 19:53] sprintr commented on #11339
This will be available in 1.4

[2015-07-02 22:30] bardhkrasniqi opened #11340 "Problem with vertical/horizontal side left/top side dont exist is hidden or something else"
Problem with vertical/horizontal side left/top side dont exist is hidden
Hi i have trouble with bracket on vertical/horizontal split view left/top side dont show is hidden or something else just show a white space screen only right/bottom side work even if i go at normal split its just white screen so u cant do nothing.
I tryed to fix to reinstall , reloading bracket but nothing change its again s

[2015-07-02 22:58] sprintr commented on #11340
You should reload via `Debug -> Reload Without Extensions` and see if it still happens. Maybe you could share the logged messages as well by `Debug -> Show Developer Tools` and Selecting `Console` tab.

[2015-07-03 08:26] tschundeee commented on #11013
Came here because font rendering in brackets is different from all other editors (sublime, choc, textmate etc.). @nethip thx your package solves this in a convenient way.

[2015-07-03 14:30] humphd opened #11341 "SidebarView resize shows ghost of File List selection in editor pane"
STR:
* Open the sidebar view
* Select a file in the File List, not the Working Set (I can't reproduce in this bug in the Working Set)
* Drag the resizer left/right, note the ghosting of the selection rectangle into the editor pane

![resize-bug](https://cloud.githubusercontent.com/assets/427398/8500888/5c6653d2-216e-11e5-81e2-ab26f979923c.gif)

[2015-07-03 18:17] alexbock opened #11342 "Old traffic lights on OS X El Capitan"
It appears that a lot of the support for OS X Yosemite in brackets-shell is predicated on the system version being exactly 10.10 (rather than checking for 10.10 or later). This causes the old "gumdrop" traffic lights to appear on OS X 10.11 El Capitan (and breaks fullscreen mode, but I see #11268 already exists for that).

[2015-07-03 18:25] nethip commented on #11342
@alexbock I have already fixed this. This [PR](https://github.com/adobe/brackets-shell/pull/526) should take care of it.

[2015-07-03 18:28] nethip commented on #11342
And we most likely would target this for 1.4. If you are familiar with Cocoa/C++ programming, feel free to take a look that PR and provide your comments.

[2015-07-03 19:58] abairo commented on #10255
Thank you @sarangbaheti, It's worked for me.

[2015-07-04 15:23] Wikunia commented on #10799
Hey @thewhitetulip maybe you want to checkout this extension:
https://github.com/emmetio/brackets-emmet

[2015-07-04 15:30] Wikunia opened #11344 "Hints during multiple cursor mode"
Hey guys,

I would like to have all hints during multiple cursor mode as well.

[2015-07-04 15:33] Wikunia opened #11345 "Splitscreen UX"
It would be awesome to right click on a file and choose the name of the splitted screen to display the content in that screen. Or a drag & drop feature. At the moment I don't know how to see the content of an unopened file on the "second" screen.

[2015-07-05 19:30] petetnt commented on #11345
Similar to #11308

[2015-07-06 04:45] nethip commented on #11328
@wpilkington This is as designed. We need to address this for future releases. Thanks for reporting it though! For now I am marking this for 1.5.

[2015-07-06 05:39] nethip commented on #10007
@prafulVaishnav Could you take a look at this and see if `emmet` extension is overriding anything that is causing this behavior?

[2015-07-06 07:18] nethip commented on #11061
@dnbard Did you get a chance to try @abdelouahabb 's advice and see if it makes working with React JS code snippets a little better?

[2015-07-06 09:08] dnbard commented on #11061
@nethip Nope. This solution didn't worked for me.

[2015-07-06 09:17] prafulVaishnav commented on #11345
@Wikunia Single left click on the file in project tree will show the content of the file in the focused screen. You can use (View > Vertical/Horizontal Split) and drag & drop the file to desired split view. If second screen is in focus then left click on file in project tree will be opened in that screen.

[2015-07-06 09:17] #11345 closed

[2015-07-06 09:36] prafulVaishnav commented on #11336
@rawat11 Hey.. We are not getting ALF automation update for string changes. Last update we got was on 22 April. Can you please look into it.

[2015-07-06 13:28] wilfm commented on #8651
I am trying out Brackets (very good so far :), but find it odd that the delete function has no prompt, and moves any files 'deleted' to trash with no questions asked (but does prompt for folders... ?)

Would it be possible to build a extension to do this, or are extensions not allowed to manage this functionality? (I am guessing from looking at the pull request that it has to be compiled in from s

[2015-07-06 15:06] abdelouahabb commented on #11061
@dnbard it works here, which file did you changed?
![sans titre](https://cloud.githubusercontent.com/assets/2527234/8525451/dc22d8d4-23f8-11e5-91cf-aab9929d6b2a.png)

[2015-07-06 16:21] dnbard commented on #11061
@abdelouahabb `htmlmixed.js` (the only one which has `scriptTypes.push({matches: /^(?:text|application)\/(?:x-)?(?:java|ecma)script$|^$/i,` string ... )

But I don't need the support of `htmlmixed` (no one are writing the js code in html file). Support are needed for `.js` files.

[2015-07-06 16:58] astorije opened #11350 "Preview files while browsing up and down in the Quick Open results"
It would be very useful to open (not completely open but display its content) the file that is highlighted. If one goes up or down, the opened file changes at the same time. It gives a better incentive when hesitating on which file one is looking for.

This is default behavior in Sublime Text FYI.

[2015-07-06 19:27] EmixDev opened #11351 "problem of window, the code is not visible"
These screens will explain the problem :
![brackets problem issue github](https://cloud.githubusercontent.com/assets/10252674/8531145/a01eb95c-2425-11e5-99a0-18e84ee32983.png)
For precision, i can't scrolling
Sorry for my bad english..

[2015-07-06 23:58] nethip commented on #11351
@EmixDev Could you try loading `Brackets` without extensions. You could do this. `Debug > Reload Without Extensions`. If you don't see any problem after that, it is most probably some extension which is causing the issue.

[2015-07-07 00:03] nethip commented on #11350
@astorije Are you talking about the quick view in ST that appears one the right side?

[2015-07-07 06:18] dnbard opened #11352 "Second Brackets window issues"
I'm opening second window via `Debug > New Brackets Window` and place it to second monitor workspace. Select first (main) window. Then select second window via mouse-click.

At this point focus clearly was switched to second window. But I'm unable to do anything since second window does not responds to key pressing. If I click to second window once more with the mouse then second window become usa

[2015-07-07 06:22] nethip commented on #11352
@dnbard Unfortunately Brackets does not perform in a multi window environment. We are tracking this item at https://trello.com/c/YM0YySxX/679-multiple-separate-windows-official-new-window-command. Please upvote this card that will help us prioritising this issue.

[2015-07-07 06:22] #11352 closed

[2015-07-07 06:58] thewhitetulip commented on #10799
Hey @Wikunia, yep, I came across that extension! would it be possible to make it a default package?

[2015-07-07 08:23] andreimarin90 opened #11353 "Mac not loading PSD's"
Hi guys,

I'm using brackets successfully on a Windows pc, however my MAC PC just won't load PSD's. It takes forever to load even the tiniest PSD's, and when it does finally finish, it usually crashes when I try to open the PSD. Is there anything I might do to fix this?

[2015-07-07 08:39] mimoYmima opened #11354 "Illustrator Integration"
Why all the focus on pulling info from photoshop, the current trend in web design is toward vector / svg / illustrator.  It would be nice to have tighter Illustrator integration with brackets.  I just downloaded it so forgive me if that's already possible but the website talks a lot about ps and not at all about Illustrator.

[2015-07-07 09:17] prafulVaishnav commented on #11353
@andreimarin90 Do you see any errors for the psd's not opening? Please go to `Debug > Show Developer Tools` and check console tab if any error

[2015-07-07 09:51] andreimarin90 commented on #11353
Hi,

Yes. As soon as something gets uploaded it shows this: https://www.dropbox.com/s/4ddepm7pcdt2e62/Screenshot%202015-07-07%2012.49.48.jpg?dl=0

and then if it eventually gets opened up I get: https://www.dropbox.com/s/58246jev3l02y1b/Screenshot%202015-07-07%2012.50.06.jpg?dl=0 , https://www.dropbox.com/s/9rk1l4lmtm9ua20/Screenshot%202015-07-07%2012.50.20.jpg?dl=0 , https://www.dropbox.com/s/tth

[2015-07-07 10:32] prafulVaishnav commented on #11353
@andreimarin90 Do you have any extensions installed? Can you please reload Brackets Without Extensions `Debug > Reload Without Extensions ` and let me know if problem exists.

[2015-07-07 10:49] andreimarin90 commented on #11353
I don't have any extensions, but I did and the same kinds of errors are
coming up. I can try reinstalling if you think it would help. for what's
worth, it actually seems to be working a bit better with the debug tool
active (weird), but still very slow and tends to crash when using real-life
size PSD's and not the tiny ones I was trying before.

On Tue, Jul 7, 2015 at 1:32 PM, Praful Kumar Vaishna

[2015-07-07 12:05] prafulVaishnav commented on #11353
@andreimarin90 Can you please reset Cache and Preference as given [here](https://github.com/adobe/brackets/wiki/Cache-Folder#resetting-cache--preferences). Cache Location on Mac is `~/Library/Application Support/Brackets/`

[2015-07-07 13:46] liuxiaole opened #11356 "Code folding not working well with multi-line-attributes tag in html"
Steps to repro:

Write some HTML like below:
[code]
or
[code]

Fold the `<div>` tag and then unfold it. Now if you'd like to fold this tag again, you'll find that it doesn't work.

OS: Mac OS X 10.10.3 & Windows 7
BracketsVersion: 1.3.0-16022

[2015-07-07 23:09] HeartBreakOne commented on #10255
Same dependency issue, with a Ubuntu 15.04 64 bits
Installing libgcrypt11 through the .deb file solves the problem.

[2015-07-08 10:51] rawat11 commented on #11336
@prafulVaishnav Yes I have  recieved the strings for it, we will send it for translation

[2015-07-08 22:59] thehogfather commented on #11356
@prafulVaishnav I've got a pretty good idea why this is happening - happy to submit a pr in the next couple of days if no one is assigned.

[2015-07-08 23:04] thehogfather commented on #11100
@DiamondeX the codefolding extension has a feature that is disabled by default which takes the indentation level of the lines of code into account when determining foldable regions. You can enable it by adding this line to your `.brackets.json` file `    "code-folding.alwaysUseIndentFold": true,`. This would make your example collapsible.

But you should be aware that enabling this feature might c

[2015-07-09 01:00] starriv opened #11358 "Mac上的文件夹和文件排序不正常（Sidebar filesort exception）"
其他编辑器应该为文件夹优先于文件的这种排序方式
(Other editors, such as ATOM, should be higher than file folders sorted)

#### This is the sort Brackets file

![qq20150709-3 2x](https://cloud.githubusercontent.com/assets/7098001/8585922/1e6d275c-261b-11e5-93ff-889307e9cd35.jpg)

#### This is the sort ATOM file
![qq20150709-2 2x](https://cloud.githubusercontent.com/assets/7098001/8585722/b2055a0a-2618-11e5-9f4e-4424a17084

[2015-07-09 01:37] sprintr commented on #11358
Add this as a preference,
[code]
[Here](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#list-of-supported-preferences) is a complete list of supported preferences.

[2015-07-09 02:09] #11358 closed

[2015-07-09 03:17] prafulVaishnav commented on #11356
@thehogfather Thanks. Currently, one is assigned so Please go ahead and submit a PR.

[2015-07-09 06:54] nojan1 opened #11359 "All brackets instances freezes after computer resumes from hibernate"
Description
====
If the computer goes into hibernate all brackets session will be frozen upon resume. With frozen I mean that the GUI is not responding to input at all (neither mouse nor keyboard). This includes any attempt to close the program by normal means.
Windows will however ___not___ mark the process as "Not responding".

Steps to reproduce
====
 1. Open a file in brackets
 2. Hibernate th

[2015-07-09 07:34] HanSolo0001 opened #11360 "Measure the Line Indentation"
I've seen several text editors have built-in measuring for line indentation. So it would look a little something like the following:

[code]

Is this something you all could please implement into Brackets?

[2015-07-09 07:37] whysqwhw opened #11361 "FileSystem.showOpenDialog"
chooseDirectories limit the selection.
dialog user:
File
Dir
(File + Dir) this sence is not surport.

[2015-07-09 07:49] zaggino commented on #7356
Sure, this has been resolved in the related PRs.

[2015-07-09 07:49] #7356 closed

[2015-07-09 09:47] SPAHI4 opened #11362 "Cyrillic characters in extract"
Cyrillic characters in extract are copying from layer as html entity, not as normal characters

[2015-07-09 09:56] nethip commented on #11362
@prafulVaishnav Please have a look at this.

[2015-07-09 10:16] dvorapa opened #11363 "Extension description vs localization?"
I miss the possibility to make localized descriptions for extensions (e.g. inside of the package.json file). I know it is not really easy to add that possibility, but I think it is great idea to realize.

[2015-07-09 14:32] Denisov21 commented on #11363
Hi,
Already exists @dvorapa!
You must following this step:

1. Open a file package.json
2. Edit e.g. (for Italian language):

"package-i18n": {
        "it": {
            "description": "Un'estensione per Brackets che aggiunge ulteriori funzionalità al menù contestuale: taglia, copia, incolla, salva tutto, notazione a cammello, maiuscole, minuscole e alcune funzionalità dal menù di modifica.",

[2015-07-09 14:35] dvorapa commented on #11363
Really? Thank you, I'll try it!

[2015-07-09 14:35] #11363 closed

[2015-07-09 14:43] Denisov21 commented on #11363
@dvorapa I have update comment!

[2015-07-09 14:48] dvorapa commented on #11363
Thank you again

[2015-07-09 19:13] #11351 closed

[2015-07-09 20:51] redmunds commented on #11360
If you are you referring to the vertical lines between opening and closing tags, then try the Indent Guides extension.

[2015-07-09 21:15] thehogfather commented on #11356
@prafulVaishnav you can check out and test PR #11366 as a fix for this issue.

[2015-07-10 05:10] nethip commented on #11308
@chewedon @petetnt I am not quite sure if I understand the problem correctly. In the split view whichever is the focused pane, the new files will be loaded to that pane. The files then can be dragged in the Working Set to move files across the panes? am I missing something here?

[2015-07-10 06:03] petetnt commented on #11308
@nethip Can't speak for @chewedon but for me it has been a long running usability issue where much of the problems spawn from the fact that it's sometimes hard to see which pane is focused and which one is not.

Consider this:

1. I want to open `foo.js` to the left pane
2. I click the file in the project tree and the file opens to right pane as I had it focused
3. Now I have to either a) Go to th

[2015-07-10 08:21] clouchtibat opened #11367 "Brackets is running slowly on Meteor project"
I use the Brackets editor on a Meteor project and it runs very slowly when the Meteor server is launched.
I already tried to reload Brackets without extensions but it didn't change anything.
When Meteor server is stopped Brackets runs normally.

I also tried to use the [exclude-folders](https://github.com/gruehle/exclude-folders) extension to ignore Meteor compiled files with no success.

I alread

[2015-07-10 11:26] pantkowiak commented on #10985
fixed in ALF

[2015-07-10 17:02] nethip opened #11369 "Add unit tests to opening preferences files in split view."
Adding unit tests to this [PR](https://github.com/adobe/brackets/pull/11307) is not straight forward as we are using shell apis for this PR and they are not working with our unit test framework.

[2015-07-10 17:05] nethip opened #11370 "[MAC] Add unit tests for new AntiAliasing preference changes"
Unit tests for this [PR](https://github.com/adobe/brackets/pull/11235)

[2015-07-10 18:37] #11013 closed

[2015-07-10 18:37] #11056 closed

[2015-07-11 04:19] Tigt commented on #3898
Some minification programs automatically use a BOM instead of a typical encoding declaration to squeeze out a few more bytes; in particular, Sass's production mode will output the BOM instead of `@charset "utf-8";` when it detects non-ASCII characters inside the final file. I would love it if Brackets did BOM handling in a robust, discoverable way; the consequences can be dire for things like Ruby

[2015-07-11 21:21] valtlait opened #11376 "Code highlighting for PHP nowdoc/heredoc block fails"
Brackets’ code highlighting for PHP nowdoc/heredoc block fails when using
&nbsp; – quotes around the identifier (the snippet 2 in test code)
&nbsp; – white-space between `<<<` and the identifier (” 3 ”)

Highlighting for the code snippet 1 works correctly.

A screenshot (Brackets 1.3):

![brackets-php-highlighting-fails_2](https://cloud.githubusercontent.com/assets/5496284/8635408/05a4d36c-282a-11

[2015-07-11 21:46] mkoske opened #11377 "[Feature request] Word-wrap per open file"
Hello,

a feature request: make word-wrap work per open file, i.e. if you have multiple files open, changin word-wrap settings in one doesn't affect others.

Thanks!

[2015-07-11 21:55] mackenza commented on #11376
This would need to be fixed in CodeMirror (what Brackets uses for its editor window) as I tried it there and CM has the same issues. I would recommend logging an issue on the CM repo against their PHP mode. If they fix it there, it would be picked up "for free" when Brackets upgrades their CM version.

[2015-07-11 22:14] mackenza commented on #11376
CM fixed an issue codemirror/codemirror#3340 that fixes your case 2 (which is really a nowdoc not a heredoc). The third case, with the space before the identifier, is still present after I patched using 3340.

Note that codemirror/codemirror#3340 seems to be fixed in their version 5.4.0 but Brackets is currently using v5.3.1 so you could either apply 5.4.0 (or just the patch for that issue) or wai

[2015-07-11 22:18] valtlait commented on #11376
@mackenza, thank you for the information!

[2015-07-11 23:34] darkcoderrises commented on #10611
I have made a new pull request, (sorry i went on a vacation, so things were outdated)
https://github.com/adobe/brackets/pull/11378

[2015-07-12 05:39] darkcoderrises commented on #10166
Hi, I would like to work on this. Can someone guide me?

[2015-07-12 08:51] keblock opened #11379 "Changing UI font"
Hello,

how can I change UI font in Brackets ? - I mean not only code font.

Thank you.

[2015-07-12 09:00] #11379 closed

[2015-07-12 12:35] CustomButtons commented on #11305
May be you can mount ftp as drive with native linux utils or with fuse. Then edit the files from disk.
This will solve the problem. With mount SFTP - everything works fine.

[2015-07-12 13:06] munaHarlan opened #11380 "How to install Brackets from source package?"
My system is Archlinux,  How to install Brackets from source package?

[2015-07-12 14:52] MarcelGerber commented on #10166
This should already work as of Release 1.3 (#10666). Does it not work for you?

Closing for now. We'll reopen if there are any issues.

[2015-07-12 14:52] #10166 closed

[2015-07-13 05:58] enbo opened #11382 "block-level element within <p> indents incorrectly"
In brackets.json, have the following for your preferences:
[code]

Create an html file to edit. Type `<p>` and press Enter/Return.
Type any block-level element, such as `<ul>` and press Enter/Return.
Type `</` and press Enter/Return.
Type `</` and press Enter/Return.

What happens:
[code]

What should happen instead:
[code]

This issue does not happen with inline elements inside `<p>`.

[2015-07-13 08:12] glen-84 opened #11384 "An error occurred when trying to view the folder files"
![55a36f70168ba](https://cloud.githubusercontent.com/assets/261509/8645495/2bfe1db0-2948-11e5-99ec-7f482dede00d.png)

[2015-07-13 08:29] rawat11 opened #11385 "[Preferences Code Hints] Not all preferences are displayed while viewing Code Hints"
Steps:
1) Launch Brackets and open Preferences file
2)Start typing for any preference

Result:
All the preferences are not displayed eg themes

Note: We have to explicitly type 't' and then it is displayed

![2015-07-13 13_56_28- c__users_rawat_appdata_roaming_brackets_brackets json tracker - brackets](https://cloud.githubusercontent.com/assets/10069885/8645686/17ac75f4-2967-11e5-8373-c99649ac27ac

[2015-07-13 08:34] sprintr commented on #11385
We have a preference `maxCodeHints` which is by default set at 50.

[2015-07-13 08:38] nethip commented on #11384
@glen-84 Will you be able to share the asset?

[2015-07-13 08:41] glen-84 commented on #11384
I haven't selected a file yet.

[2015-07-13 09:06] rawat11 commented on #11385
Got it. I can see all the preference

[2015-07-13 09:06] #11385 closed

[2015-07-13 09:12] rawat11 opened #11386 "Opening preferences brackets.json in split view along with default preferences, switches to split view not vice versa"
Steps:
1 Launch Brackets and open Preferences file
2 The editor switches to split view
3 In Brackets.json file, edit the preference "preferencesView.openPrefsInSplitView": true,
set it to false

4) Reload Brackets
5) Open preferences again

Result:

The previous state of file is opened since we are still in split mode doesnt switch to no split view, we have to explicitly change it to "No Split mod

[2015-07-13 09:15] nethip commented on #11386
@rawat11 This was omitted for release 1.4. We should target this in the later releases. How about tracking this as a trello card?

[2015-07-13 09:16] nethip commented on #11384
@glen-84 Could you open developer tools from `Developer > Show Developer Tools` and post the console log.

[2015-07-13 09:18] rawat11 commented on #11386
@nethip Surely we can take it up in next release, should I form a trello card ?

[2015-07-13 09:21] nethip commented on #11386
@rawat11 Yes please! And close this issue as we will track the trello card.

[2015-07-13 09:30] rawat11 commented on #11386
Closing the issue.
Trello details: https://trello.com/c/sFbpQZqL/1427-opening-preferences-brackets-json-in-split-view-along-with-default-preferences-switches-to-split-view-not-vice-versa

[2015-07-13 09:30] #11386 closed

[2015-07-13 09:32] glen-84 commented on #11384
http://ctrlv.in/603620

I'm using Node 0.12.6, if that matters. (Windows 7)

[2015-07-13 09:40] nethip commented on #11384
@glen-84 hmm. This looks like a client side error. We have had issues earlier with some firewall access and also some AV programs are blocking access to `localhost`. Could you confirm if there is any AV program on your system, which might be blocking accessing `localhost`?

[2015-07-13 09:46] glen-84 commented on #11384
I disabled AVG and the Windows firewall, and I still get the error.

[2015-07-13 09:56] nethip commented on #11384
@glen-84 OK Do you have any extensions installed? Can you try running Brackets without this extensions to figure out if any extension is causing this issue? Follow the steps below.

* Open `%AppData%\Roaming\Brackets`
* Rename this folder so you don't loose any settings or extensions
* Launch Brackets.
* Check if you are able to use extract from within Brackets.

[2015-07-13 10:01] glen-84 commented on #11384
Same error. I only had one extension anyway (ShowWhitespace).

I updated Node to 0.12.7.0, and it's still not working. Is there code in Brackets that depends on an older version of Node? If so, when will this be updated? Older versions are insecure.

[2015-07-13 10:16] nethip commented on #11384
@glen-84 The version of node bundled with Brackets is 0.10.33.

[2015-07-13 10:21] glen-84 commented on #11384
Which is insecure, as far as I know. This is quite possibly the reason why I can't get Extract to work. When will there be a new release of Brackets that supports Node 0.12.* ?

[2015-07-13 10:38] glen-84 commented on #11384
I confirmed that Extract works with Node 0.10.33.0 (which is [insecure](http://ctrlv.in/603641)).

0.10.40.0 also works, and is secure.

Thanks.

[2015-07-13 11:15] rawat11 opened #11387 "[MAC:FR]Health Data Pop Up for french is not appearing as that in English"
Steps:

1 Launch Brackets

Result

Health Data first pop up screen does not appear as that in ENG

![screen shot 2015-07-13 at 04 09 31](https://cloud.githubusercontent.com/assets/10069885/8648415/5839ede2-2915-11e5-9695-646a1760dfd1.png)

Eng SS

![screen shot 2015-07-13 at 04 13 17](https://cloud.githubusercontent.com/assets/10069885/8648448/8cd49fde-2915-11e5-9107-422d7271b964.png)

[2015-07-13 12:08] FezVrasta opened #11389 "Get rid of the silly "Find results" pagination?"
Is there a way to get rid of the pagination of the "find results"?

![image](https://cloud.githubusercontent.com/assets/5382443/8649233/6cff304a-2968-11e5-86b6-70ca2626a27b.png)

I'd like to:

1. keep the number of files shown in each page constant (each page should show, for example, 5 files)
2. show everything in a single page (not sure about performance).

The current method seems pretty random

[2015-07-13 12:10] whysqwhw commented on #11361
I want to provide one Dialog to make that users can able to push some files into a phone. the files may dir or file.
Does there have any API support this?

[2015-07-13 14:29] ch33s3c4k3 opened #11392 "Close multiple windows without having to move mouse"
Running Brackets on Mac OSX 10.10.4

If you have more than one working file open, and close it by clicking the [x] that appears to the left of the file name, you are unable to click the next open file without moving the mouse a small amount and clicking again.

It would be nice to be able to just tap tap tap the mouse and watch all the files close.

[2015-07-13 15:56] shaneparsons opened #11393 "Unresponsive - CSS w/ Base64 String"
So this is kind of a weird bug and may be hard to replicate, which I apologize for.

Basically, brackets freezes when trying to open a big CSS file with a base64 string in it.

In my problematic CSS file, there are **10436** lines of code (concatenated vendor stylesheets) and within the CSS contains a base64 string (approx. **103327** chars).

The file is fine without the base64 string in it, and

[2015-07-13 16:04] shaneparsons commented on #11393
Here's an example of a problematic css file.

https://gist.github.com/shaneparsons/6c5bd2a9ff1f16fbe0bb

If you remove the base64 string (**line: 9953**) you'll notice it opens up fine.

[2015-07-13 18:05] kmoskwiak opened #11394 "White line under title bar in kubuntu 15.04"
There is white line under title bar (above menu) when I start brackets from system shortcut (you can see it on left window in screenshot).
When I open second window (Debug -> New Brackets Window) there is no white line (window on right in screenshot).
![snapshot1](https://cloud.githubusercontent.com/assets/5294519/8656608/d1c86a0c-2998-11e5-99ac-1b904a5757df.png)

I tried it on several windows sty

[2015-07-13 19:26] whatwasyouremail opened #11395 "Can't change adobe id used for Extract extension"
When registering for an adobe id to use for the extract extension, I mis-typed the email by accident.  So now I am unable to verify that email and I can't switch the one extract for bracket uses when clicking on Open a PSD->sign in for free button.  I tried uninstall and re-installing and searching for where it's storing the id it's trying to use in the registry or file but can't find it.  So the

[2015-07-13 19:34] ryanstewart commented on #11395
Can you go to Help->Sign Out of Creative Cloud?

If not, try `Ctrl`+`Shift`+`C` and that should reset everything.

[2015-07-13 19:48] whatwasyouremail commented on #11395
No go with the Sign Out of Creative Cloud, it shows as sign in to Creative
cloud... which brings up the dialog with the wrong email still.

Tried the Ctrl+Shift+C and that got some weird results.  So Ctrl+Shift+C is
mapped to Live Preview Higlight correct.  So had to enable live preview for
it to be enabled. Anyways after hitting Ctrl+Shift+C once when enabled, the
popup won't stay open, it opens

[2015-07-13 20:41] ryanstewart commented on #11395
Sorry, wrong shortcut on Windows. Try `Ctrl`+`Alt`+`C`.

[2015-07-13 20:41] IArun74 opened #11396 "Openssl.NET - SSL_get0_alpn_selected() returns NULL"
SSL_get0_alpn_selected(IntPtr ssl, out IntPtr data, out int len); returns null. I’m using standard openssl console client and my own server ( with ManagedOpenSsl.dll)

The exception thrown – "Cant get selected protocol. See if ALPN was included into client/server hello");

In Native.cs, this function is defined as below,

public static extern void SSL_get0_alpn_selected(IntPtr ssl, out IntPtr data

[2015-07-13 20:52] nethip commented on #11384
@glen-84 Glad that this got resolved by changing the node version. Thanks for pointing out the security issues with 0.10.33. We will make sure node version is updated in the future releases.

[2015-07-13 20:58] whatwasyouremail commented on #11395
Looked like it reset things with a notification to click here to get
started with Extract but after selecting open psd file and then sign in,
the popup opens up but still has the invalid one.  No additional options
that I can see.

On Mon, Jul 13, 2015 at 1:42 PM, Ryan Stewart <notifications@github.com>
wrote:

[2015-07-13 20:58] glen-84 commented on #11384
Thanks @nethip.

[2015-07-14 02:16] mcleodmorgan commented on #11181
I cannot for my life find the Mac OS location of the Getting Started folder. It is not in my Applications folder. Brackets is only there as an app... no subdirectories. And, I went hunting in the Library/Applications/Brackets,etc. etc. Cannot find the "Getting Started" folder or other files I accidentally saved there. Please help. OCD beginner.

[2015-07-14 03:46] nethip commented on #11181
@mcleodmorgan `Getting started` is present inside `Brackets.app`. `Right Click` on Brackets.app and choose `Show Package Contents`. The folder is present at `Contents/samples/root`

[2015-07-14 05:50] nethip commented on #11396
@IArun74 Please use this forum for topics relating to `Brackets` application. From what you have posted above, it seems to be not related to anything to do with `Brackets`. I am closing this issue and feel free to open if at all it is relating to `Brackets` application (in which case please be a little more descriptive). Thanks!

[2015-07-14 05:50] #11396 closed

[2015-07-14 05:55] nethip commented on #11394
@kmoskwiak Unfortunately we only support Ubuntu and Debian as of now. Feel free to open this bug, in case you are seeing this on the platforms. Thanks!

[2015-07-14 05:55] #11394 closed

[2015-07-14 06:01] petetnt commented on #11389
Check out this PR #11375 for an alternative

[2015-07-14 09:28] rawat11 commented on #11387
Japanese look different as well

![screen shot 2015-07-14 at 2 27 22](https://cloud.githubusercontent.com/assets/10069885/8670216/e8102d5e-29cf-11e5-9938-adac9c89f8f4.png)

[2015-07-14 09:49] nethip commented on #11387
@rawat11 I fixed this exact bug last release and it somehow crept in again. It is to do with the string change. We have some HTML formatting in the string, and the strings are getting replaced with new set of strings.

[2015-07-14 09:52] nethip commented on #11392
@ch33s3c4k3 I kind of use keyboard wherever possible, for the above kind of cases. You could use `Ctrl/Cmd + W` to close files from working set. That, to me, is a lot quicker than using mouse.

[2015-07-14 20:55] TomMalbran commented on #11389
Btw, it always show 100 results per page (and what is left on the last one), but those 100 results can be in 1, 2 or even 100 files. If you collapsed the results from a file that appeared on the last page it will be collapsed on the next page if it has more results that didn't fit on the previous page. So you might have some hidden results there.

Is not possible to change the amount of results pe

[2015-07-15 00:58] zaggino commented on #11134
I'm all in for using minified versions (with proper sourcemaps) and keeping React up to date. It shouldn't break anything.

[2015-07-15 06:23] #6187 closed

[2015-07-15 07:02] rawat11 opened #11401 "[Default Preferences] : Brackets.json file is only opened if editor is in split mode and prefernce to open prefernces file in split mode is set to off"
Steps:
1) Launch Brackets in split mode
2) Open prefernces file set "preferencesView.openPrefsInSplitView": false
3) Re open brackets, and open prefernces files

Result : Only Brackets,json is visible in the right pane

[2015-07-15 08:08] rawat11 opened #11402 "[Default Preferences] : Brackets.json file is opened in right pane even if the user preferences for second pane is set to false"
Steps:

1) Launch Brackets in split mode
2) set perferences "preferencesView.openUserPrefsInSecondPane": false
3) Open preferences file

Result : User Preferences opens in second pane

[2015-07-15 12:07] rawat11 opened #11403 "[Health Data Log-New Metrics] Working File stat count does not increase on clicking the files from working set itself"
Steps:
1) Launch Brackets
2) Open some php files
3) open health data report
4) Click some files in the working set which is already opened and open health data report

Result :
Working File stat count in "fileStats" does not increment on clicking the files in working set

[2015-07-15 12:22] abose commented on #11403
Working set files are only incremented when a file is added to the working set and not when a user has clicked on files in working set. It is as designed.
There exists a bug however that the working set files get incremented when we close a file in the working set.

[2015-07-15 12:23] #11403 closed

[2015-07-15 12:24] abose commented on #11403
There also seems to be the other bug that does not track txt files opend in  brackets that you pointed out..

[2015-07-15 19:39] diomed opened #11404 "All samples and locales should not be installed"
I'm not sure did someone take care of this, but if not, all language samples and locales (various languages) should not be installed.

I've deleted over 4 MB of redundant sample files from Brackets program files folder.

Please modify installer so it installs only selected desired language samples if they exist,
and if not, then just default English one.
Same thing might go for languages, even tho

[2015-07-15 21:29] jedkcanderson opened #11405 "Brackets does not start as a nested application on Mac"
We have an application in which we ship Brackets.  The format on disk is:

`MyApp.app/Contents/MyApp/nested/path/to/Brackets.app`

Launching that Brackets.app both on the command line and from within our MyApp code fails.  Our expectation was that Brackets would have happily launched from inside MyApp.

To be clear, when we launch from within the code we use:

`MyApp.app/Contents/MyApp/nested/path

[2015-07-16 04:48] rawat11 opened #11406 "[Health Data Log-New Metrics] Working File stat count increases on closing the files from working set"
Steps:
1) Launch Brackets
2) Open some php files
3) open health data report
4) Close some files in the working set which is already opened and open health data report

Result :
Working File stat count in "fileStats" increments on closing the files in working set

[2015-07-16 04:49] rawat11 opened #11407 "[IQE]: Health Data Report File Stat metric does not capture Txt files"
Steps:
1) Launch Brackets
2)Open any txt file
3) Open health data report

Result:
Health Data Report does not track txt file

[2015-07-16 05:18] rawat11 opened #11408 "[IQE]: Health Data Report File Stat metric does not file count if file is opened from "File" menu"
Steps:
1) Launch Brackets
2)Go to File menu and open any file from there
3) Open health data report

Result:
Health Data Report does not track the file count for the file opened from the file menu

[2015-07-16 05:24] rawat11 opened #11409 "[IQE]: Health Data Report File Stat metric for working set does not capture the preferences file count opened from debug menu in the w"
Steps:
1) Launch Bracekts
2) Open preferences file from debug menu
3) Open Health Data Report

Result : Health Data Report File Stat metric for working set does not capture the preferences file count opened from debug menu, only openedFileExt count increases

[2015-07-16 06:42] rawat11 commented on #11387
@nethip Yes, there is some formatting issue it wasn't coming before, now is reproducible on both win and mac.

[2015-07-16 06:57] rawat11 opened #11410 "[IQE]: Health Data Report File Stat metric for working set count is not consistent for new files when saved"
Steps:
1) Launch Brackets
2) Create two new files
3) Open Health report (No count)
4) Save first file (Only 1 count)
5) Save second file (have 2 counts on second save total=3)

Result : Not consistent count metric

[2015-07-16 07:00] abose commented on #11409
The main idea of tracking file types is to get the distribution of standard file extensions used by user.
Since the Preferences is brackets centric, this will not affect the aggregate metric we want to track. So this won't affect the tracking requirements.
Closing as never fix.

[2015-07-16 07:00] #11409 closed

[2015-07-16 07:20] abose commented on #11406
Checked this issue out, what is happening is, when you close a file, brackets will open the next file in working set , which is rightfully logged as a file open. If there are no files open in the working set, the counter is not incremented. This behavior is inline with our measurement goals, so closing as intended.

[2015-07-16 07:20] #11406 closed

[2015-07-16 07:24] abose commented on #11410
Lowering priority as creating a new file is a lower number than working on a file, so the distribution should be unaffected by this behavior over a large number of users.

[2015-07-16 08:06] rawat11 commented on #11409
@abose But don't we want to track, how many users are actualy making changes in the preferences file for which have brought a change and included default preferences file as well. We would definitely want to know the no of users making changes to their prefernces.

[2015-07-16 08:50] abose commented on #11409
The main intent is to get an approximate distribution of standard file types opened by the user. This metric is not intended to track the preferences file usage.
We only track the file extension right[say js].

[2015-07-16 09:05] rawat11 commented on #11409
Got your point but I opened a json file which is not trackable how about that. And I understand that its the exception for preferences file which supposedly is json but we should have tracked it.
However I believe our intent is to capture any file that is being used in the editor be it prefernces or any other file. Up to you to decide :+1: :)

[2015-07-16 09:36] Soulcyber opened #11411 "Live preview - cannot find linked script and CSS"
I'm trying to open a live preview of a normal HTML page, with the linked jquery script, in this way:
![image](https://cloud.githubusercontent.com/assets/4432213/8719748/62a50334-2bae-11e5-9c32-7968851d274f.png)
but when i start the live preview, the chrome console inform me that the file is not found,
![image](https://cloud.githubusercontent.com/assets/4432213/8719731/30dc1b44-2bae-11e5-815f-f292d

[2015-07-16 12:15] nethip commented on #11402
@rawat11 Could you a little more descriptive about the bug? From what I understand user are using `File > Open` with this preference and you are seeing that the preferences file is getting opened in the second pane(which could have been the active pane). This preference works only if, you are opening the preferences file from `Debug > Open Preferences File` or `Brackets > Preferences..`(MAC only).

[2015-07-16 12:21] nethip commented on #11401
@rawat11 I am not sure if I understand the steps above correctly. With `preferencesView.openPrefsInSplitView: false`, and choosing `Debug > Open Preferences File`, `brackets.json` should be opened in the left pane. Are you switching on the split mode after launching the app? (in which case, only one of the pane's would be populated)

[2015-07-16 12:40] mackenza commented on #11401
@rawat11 when you turn off `preferencesView.openPrefsInSplitView` the default preferences, read-only file is not opened by design. This file is only considered relevant when the prefs are opened in split view.

@nethip I see how this was by design, but it's obviously confusing as @rawat11 was obviously thinking both files would get opened. It does seem like a potentially confusing design that a si

[2015-07-16 14:13] rawat11 commented on #11401
@mackenza @nethip: Since our intent is to open the preferences file with debug option(Both default preferences as well user preference file)
In one scenario if preferencesView.openPrefsInSplitView: true, then--> both files are opened in split mode.

In second scenario if preferencesView.openPrefsInSplitView: false, and try opening the file from the debug menu, only user preference file opens (Idea

[2015-07-16 14:14] rawat11 commented on #11401
@nethip I mentioned right pane, because right pane was the active pane (which is not an issue) :)

[2015-07-16 14:34] seemyseoul opened #11412 "Brace based formatting"
It would be great to have a button that would format white space based on braces and parens.

[2015-07-16 14:41] rawat11 opened #11413 "Brackets hangs or freezes on the very first launch"
Steps:

Install Bracket on a fresh machine and launch it

Result: in both Win and MAC, Brackets editor freezes for a while wherein
- health pop up doesn't come
- instant search is not done
- on double clicking any file-> doesn;t show up in the working set

We have to explicitly close bracket and relaunch it again after which it works fine

[2015-07-16 23:43] mackenza commented on #11412
have you tried https://github.com/Hirse/brackets-beautify

[2015-07-17 05:24] rifton007 opened #11414 "Select bracket content"
Hello,

Is it possible to have a function to select the contained between quotes,
example:

`` `
if ('example') {
  ['example'] or "example"
}
`` `
Using a keyboard shortcut or a simple click in the contained.
Thank you

[2015-07-17 08:46] valnub opened #11415 "Feature request back button"
Please add a feature to quickly be able to return to the previously opened file. Something like the back button in a web browser. That would be really handy. A keyboard shortcut would be nice too.

Otherwise I always have to keep searching for the file I opened before in the "working files" section.

I'd want something like this:

1. Open file a.js
2. Editor shows a.js
3. Open file b.js
4. Editor

[2015-07-17 08:48] #11415 closed

[2015-07-17 08:49] valnub commented on #11415
Duplicate to #11206
https://github.com/adobe/brackets/issues/11206

[2015-07-18 01:54] pabliqe opened #11416 "'Enter' key behavior on Extension Manager's Search Box"
## How?

1. Open Extension Manager
2. Write something in the search box
3. Press 'Enter' to Search (but window closes)

## Why?

Because this is the user behavior when writing a search box.

Even without user-testing this, you can rest on well-known patterns that you use everyday: You write something on Chrome's address bar and press 'Enter' to go for it. You write on Google Search Box and you pre

[2015-07-18 07:37] chewedon commented on #11308
@nethip,

The problem for me is when I open a file say `foo.js` in the left hand side panel. Then some time later, I want to open `foo.js` in the right hand side panel, it changes the focus back to the left hand side and opens `foo.js` there because `foo.js` was first opened in the left hand side panel.

I am aware I can drag the file in the "working sets" area but that feels too long and painful

[2015-07-18 15:15] Outfl3sh commented on #11131
I'm using Arch Linux + bspwm, which is a tile manager, every time when I change focus using cursor only mouse works, but when I use keyboard shortcut to change focus to brackets window everything is ok. It looks like its **getting just mouse focus**, but not keyboard focus. (i guess X.org is that robust)

[2015-07-19 03:19] adelriosantiago commented on #11177
+1!!! Has anyone tested this? https://github.com/simphax/brackets-rtcollab

[2015-07-19 19:34] valtlait commented on #11377
This is possible now:

[code]

See https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#a-sample-preferences-json-file- for more information.

[2015-07-20 05:00] rawat11 opened #11418 "[Find In Files] : On Brackets first launch find in files doesn't work on "first" enter"
Steps:
1 Launch Brackets
2 Start Find in files with CTRL+SHIFT+F
3 look for any string and press enter

Result : Indexing for instant search spinning is displayed, but results are displayed on second enter

[2015-07-20 05:08] rawat11 opened #11419 "[Find In Files] : Initially the searched content is highlighted with grey color which changes to blue once indexing is completed"
1 Open Brackets
2 Start Find in files by CTRL+SHFT+F
3 search for any word
4 Click on any search result

Result : The search is highlighted with grey color (If you double click on any search result, the results then gets highlighted with blue color or when indexing search finishes )

[2015-07-20 05:34] rawat11 opened #11420 "[Find In Files] : The searched result is highlighted with light blue color which sometimes become difficult to locate"
1) Launch Brackets
2) Start Find In Files
3) Look for any word

Result : The results are highlighted with blue color, which is difficult to located in densely popul
![2015-07-20 11_00_47-tracker1_js_jquery colorbox-min js tracker - brackets](https://cloud.githubusercontent.com/assets/10069885/8770408/fbd671aa-2ece-11e5-9b37-aa8b9c600767.png)
ated file

[2015-07-20 07:13] rawat11 opened #11421 "Find In Files: Spinning indexing for instant search is not visible in french Win"
Steps:

1) Launch Brackets in french OS
2) Start find in files and search any word

Result : Spinning indexing for instant search is not visible in french Win

[2015-07-20 07:41] abose commented on #11418
It is waiting for the indexing to be complete/ 100 search results to be avilable.
Even if you do not press the scond enter key, The result should appear once the results are available.
Please check it out.

[2015-07-20 08:32] petetnt commented on #11061
Welp, I started working building proper highlighting for `.jsx` files today and first obstacle is that `.jsx` file extension is already defined for [.js files](https://github.com/adobe/brackets/blob/7a3d155d5ae9878b5a8a5d51cf46a1dc90c2b539/src/language/languages.json#L68).

which of course results in:
[code]

which was added by (issue: #2948 -> PR: #2971). Can you undef a fileExtension via an exte

[2015-07-20 08:47] abose commented on #11420
Is this how this works in 1.3?

[2015-07-20 08:55] rawat11 commented on #11420
I believe so

[2015-07-20 09:27] abose commented on #11309
@rawat11 Is this the same behavior in 1.3?

[2015-07-20 11:25] rawat11 opened #11423 "[Find In files] : Exclusion set not working appropriately in Japanese Windows OS"
Steps:
1) Launch Brackets
2) start find in files and create a new exclusion set
3) search some word from the files that fall in the exclusion set

Result : Some of the results from the Exclusion set are also shown

[2015-07-20 11:57] abose commented on #11423
Is this japanese only?

[2015-07-20 11:58] abose commented on #11421
Is intant saerch functioning as intended? Then it could be that the indexing complete faster than you did the search.

[2015-07-20 12:29] rawat11 commented on #11423
It is reproducible in french as well

[2015-07-20 13:04] mkoske commented on #11377
Seems I can set it also by filetype. Thanks!

[2015-07-20 13:04] #11377 closed

[2015-07-20 13:34] LuanGB opened #11424 "Add cmd inside application use support"

[2015-07-20 14:07] mackenza commented on #11424
can you provide more detail? I am not sure this can be addressed with a terse title and no description.

[2015-07-20 14:47] nethip commented on #11313
Tagging @abose and @rroshan1

[2015-07-20 14:51] abose commented on #11313
The problem will still remain as instant search works only across files. This specific workflow is find in a single file, whihc we have not touched in this release.

[2015-07-20 17:12] JoshHarrington opened #11425 "Multi-line return issue"
Hope this hasn't already been mentioned! If it has please ignore.

...

When I cmd click to edit multiple lines and then press enter, the line returns get created but the cursors get placed at odd points. Usually the top cursor will be in the expected place (beneath the original line), however the other cursors will be a couple of lines up from where it had been.

OS - Mac OS 10.10.4
Brackets vers

[2015-07-21 05:38] rawat11 opened #11426 "[IMS Lib Integration] : If Extract is open from brackets within a moment of launching Brackets displays an error message"
Steps:

1) Launch Brackets
2) Immediately open Extract

Result : displays an error message "An error while trying to view the folder files"

![screen shot 2015-07-20 at 22 30 47](https://cloud.githubusercontent.com/assets/10069885/8793663/051d32d4-2f2f-11e5-96cc-9e24ee4050b3.png)

[2015-07-21 05:50] rawat11 opened #11427 "[IMS Lib Integration] : Extract doesn't allow to sign in if on the first sign in from the panel was cancelled"
Steps:
1) launch brackets
2) open extract panel
3) go to "Open a psd"-> Sign In
4) Close the SUSI window
5) go to "Open a psd"-> Sign In

Result : The window for sign in opens and abruptly closes

[2015-07-21 06:21] rawat11 opened #11428 "[IMS Lib Integration] : You are not directly signed in from Help menu and we have to explicitly click on "Open a psd" button"
Steps:
1) Launch Brackets
2) Open extract panel, then Go to help-> Sign in to CC
3) Login in to CC (from SUSI page)
Result : You are logged into CC and but the extract panel isn't effected we have to explicitly click Open a PSD button to view the CC files

[2015-07-21 06:48] rawat11 opened #11429 "[IMS Lib Integration] : PSD file with japanese localised characters is getting uploaded but not viewed"
Steps:
1) Launch Brackets
2) Open extract panel
3) sign in and upload a psd with japanese localised characters
4) open the psd file

Result: the file is not viewed

![screen shot 2015-07-20 at 23 45 20](https://cloud.githubusercontent.com/assets/10069885/8794576/baac051c-2f39-11e5-92ef-46e2fba15d99.png)

![screen shot 2015-07-20 at 23 45 30](https://cloud.githubusercontent.com/assets/10069885/8794

[2015-07-21 06:57] rawat11 opened #11430 "[IMS Lib Integration] : Open a PSD option doesn't open on clicking the Extract button, instead opens the SUSI page"
Steps:
1) Launch Brackets
2) Open extract and sign in to CC from "Open a PSD" option from the panel
3) Upload some psds and then abruptly close Brackets
4) Launch it again and open extract

Result : Doesn't show "open a psd" option and opens SUSI window for sign in

[2015-07-21 08:44] dwilmer commented on #10255
Yes, installing the older package makes this problem go away. No, I do not think requiring users to manually install an outdated package is a good solution. Furthermore: it's a *crypto* package, meaning that security is at stake when not using the most recent version.

It's been 7 months since this bug was reported, some sources mention a fix in version 1.3, but progress on an actual fix is not re

[2015-07-21 08:45] rawat11 opened #11431 "[IMS Lib Integration] : Sign in to CC from help menu gets disabled after first launch"
Prerequisite : Already logged into CC

Steps:
1) Launch Brackets
2) Go To Help->Sign in to CC
3) Close the SUSI Page
4) Again Go to Help-> Sign into CC

Results :  Help-> Sign In to CC option is disabled

[2015-07-21 09:08] rawat11 opened #11432 "[IMS Lib Integration] : Sign in to CC from help menu gets disabled if the log in from Extract panel is cancelled abruptly"
Prerequisite : Already logged into CC

Steps:
1) Launch Brackets
2) Open Extract penel - > (Directly views the CC files)
3) Sign out from the help menu
4) Again open extract
5) Click on Open a psd-> Sign in to CC
6) Abruptly close the SUSI page and go to help menu

Results: Sign in to CC is disabled
![screen shot 2015-07-21 at 02 07 10](https://cloud.githubusercontent.com/assets/10069885/8796931/4

[2015-07-21 09:12] rawat11 opened #11433 "[IMS Lib Integration] : Drop down option appears for one of the psd when viewed"
Prerequisite : Already logged into CC

Steps:
1) Launch Brackets
2) Open Extract panel - > (Directly views the CC files)
3) open the psd

Results: Strange drop down option appears.
Please find attached the Screenshots for reference

![screen shot 2015-07-20 at 22 11 51](https://cloud.githubusercontent.com/assets/10069885/8797110/42a36d8e-2f4e-11e5-88c4-84b30daa8d77.png)

[2015-07-21 09:15] thany opened #11434 "Plugins can still make Brackets freeze"
I thought Brackets was supposed to be more resilient against malfunctioning plugins. I thought Brackets had implemented some mechanisms to prevents a plugins from messing up the whole program... At least I seem to remember from looking at the endless changelogs.

Anyway, here's an issue for Brackets Icons:
https://github.com/ivogabe/Brackets-Icons/issues/89

This plugins made Brackets freeze compl

[2015-07-21 09:20] rawat11 opened #11435 "[IMS Lib Integration][French] : Sign in for free button in the blue interstitial pop up is centrally aligned as compared to eng"
Steps:
1) Launch Brackets
2) Open extract
3) click on "open a psd"

Result:
Sign in for free in the blue interstitial pop up is centrally aligned

![screen shot 2015-07-21 at 02 16 57](https://cloud.githubusercontent.com/assets/10069885/8797234/eeb1fff0-2f4e-11e5-9cde-75736aecf37b.png)

[2015-07-21 10:07] Spangenhelm commented on #10255
@dwilmer i agree this needs to be fixed !

[2015-07-21 11:18] ivogabe commented on #11434
I've just released a new version with a fix. The freeze was caused by an infinite loop. I don't think that can be easily prevented by Brackets.

[2015-07-21 11:32] Hirse commented on #11393
Have you tried to start Brackets without extensions?
There was a problem like this with one of my extensions, but I thought I fixed it in the last release.
https://github.com/Hirse/brackets-outline-list/issues/37

[2015-07-21 13:03] #11426 closed

[2015-07-21 13:04] #11427 closed

[2015-07-21 13:04] #11428 closed

[2015-07-21 13:05] #11429 closed

[2015-07-21 13:05] #11430 closed

[2015-07-21 13:05] #11431 closed

[2015-07-21 13:06] #11432 closed

[2015-07-21 13:06] #11433 closed

[2015-07-21 13:06] #11435 closed

[2015-07-21 13:30] shaneparsons commented on #11393
Starting brackets without extensions still gives me the issue.

Also, #11250 refers to the issue only being there when buddy tries saving the file, mine wont even open to begin with.

[2015-07-21 13:42] Hirse commented on #11393
Alright.
It just sounded familiar.

[2015-07-21 14:11] shaneparsons commented on #11393
Yeaa thanks, I appreciate your input

[2015-07-21 22:42] mihailik commented on #10255
I say -- if they don't watch this thread, let's hijack it for something remotely useful.

My first question, what's the general opinion on blogging software/tools? I want to revive my old forgotten blog, but I've no idea what's the kosher way to do it?

All these PHP Wordpress and Ruby 'simple tools' look a bit clunky to my untrained eye. Or am I looking the wrong way?

[2015-07-21 23:37] Spangenhelm commented on #10255
Hi @mihailik i'm not sure that i agree with your proposition but i don't mind answering it: i suggest you to take a look at http://nibbleblog.com (a nifty blog/cms written in php without database) or, from the same creator: http://www.bludit.com (same kind, in beta for now, you can check the differences between the two projects here: http://blog.nibbleblog.com/post/bludit-my-new-project/)
Cheers +

[2015-07-22 00:24] mackenza commented on #10255
@mihailik I would be happy to discuss this on Slack or in the Google Groups... but hijacking this issue is not cool.

[2015-07-22 00:50] mihailik commented on #10255
Not cool why? Are you still hoping a real Adobe dev can stray over here to comfort us with empty promises?

Accept it, we're all alone here, nobody can hear our screams. Can as well fill the thread will ASCII art and Pentagon interrogation transcripts -- still nobody would ever turn up. It's a dead issue, they've just forgotten to close it.

[2015-07-22 02:08] mackenza commented on #10255
what I see is a medium priority issue open in a repo that has 1300+ open issues, with a viable workaround, on a platform that only 6% of Brackets users care about (and I am one of them, btw, and have been very vocal about Linux support and have Linux on 4 of my 6 computers between work and home).

Yes, we would all like to see the issues we care about fixed first, but the above factors make this i

[2015-07-22 04:00] nethip commented on #10255
@mackenza Thanks for chiming in and we are a 6 member team, which takes care of everything relating to Brackets.

@zaggino @MarcelGerber Does it make any sense to spawn an experimental `bracketron` Linux build and distribute that?

@mihailik
Right now we are very tight on the resourcing and we are trying really hard to complete our existing stories. As mentioned by @mackenza, we have called for he

[2015-07-22 04:23] zaggino commented on #10255
I haven't touched `bracketron` for a while now, I'm not sure what Linux users would be missing if we went that way. @mackenza you use Linux right? how does `bracketron` compare to the `brackets-linux`? And I mean what's missing in `bracketron`, not what's better there (native menus and so...)

[2015-07-22 06:27] abose opened #11436 "When instant search file cache is present, brackets dosen't need to keep the file cache."
This will free up a lot of memory in the brackets side.  Currently instant search keeps the file cache in node.
currently ProjectModel.prototype.getAllFiles will issue a this._getAllFilesCache - which is a double cacheing [the other file cache being in node] that could be avoided.

[2015-07-22 06:30] abose commented on #11423
@rawat11 I could not reproduce this issue. Could you verify this is english builds and then in japanese builds?

[2015-07-22 08:19] MJ-Vakili opened #11437 "Add arguments object in JS"
Can you add arguments object to JavaScript code hints?
[MDN arguments ](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Functions/arguments)

e.g:
[code]
I change my repository:
https://github.com/MJ-Vakili/brackets/blob/master/src/extensions/default/JavaScriptCodeHints/HintUtils.js#L183

tnx.

[2015-07-22 10:09] mackenza commented on #10255
@zaggino I have not tried Bracketron recently. I feel like it's a waste of time if it's not going to be used by core. We proved it's worth in the PoC but it needs to be completed or dropped. I don't think it's ready for production on Linux or any platform as is. Do you?

[2015-07-22 12:05] abose commented on #11055
Closing as all events will now be registered.

[2015-07-22 12:05] #11055 closed

[2015-07-22 12:36] Tade0 opened #11442 "Dropping file on file tree scrollbar replaces everything with the file"
OS: Ubuntu 14.04 LTS
Brackets version: Release 1.3 experimental build 1.3.0-16022 (release cd0a6aae5)

Steps to reproduce:
1. Open Brackets and system file explorer.
2. Drag a file (html or image) from the file explorer onto the vertical scrollbar of the file tree.

Result:
Everything disappears and is replaced by the contents of the file(as if Brackets were a browser that had its url set to that

[2015-07-22 13:39] omarsafwany opened #11446 "Brackets freezes on opening - Mac Yosemite"
I have been using brackets editor for a while but suddenly after updating one of the extentions and reloading it, it froze.
Anytime i try to open the editor, it just freezes and nothing works. No menu, no search, no project toggle and I can't even even type. The cursor itself doesn't move at all.

Any idea how this can be fixed?!

[2015-07-22 14:09] nathanayling commented on #11446
Do you know which extension it is? If not, have you tried adding all of the extensions back in one by one until it starts to freeze.

[2015-07-22 14:16] omarsafwany commented on #11446
The problem is I can't find any folder containing the extensions. I even tried a fresh install but still opens with the previous extensions

[2015-07-22 14:26] abose commented on #11446
It lives in Library/Application Support/Brackets.
You could delete the folder.

[2015-07-22 14:28] omarsafwany commented on #11446
I know but it's not there

[2015-07-22 14:39] abose commented on #11446
hdd>Users>[user name]>Library/Application Support/Brackets.
It should be there. Brackets is only programmed to load from that folder.

[2015-07-22 14:40] mackenza commented on #11446
you could also use Finder to look for files named `main.js` which should find your extension folders too.

[2015-07-22 14:49] omarsafwany commented on #11446
nothing found

[2015-07-22 14:53] omarsafwany commented on #11446
@abose +1 for hdd>Users>[user name]>Library/Application Support/Brackets.
That helped although I tried opening it from Library but not that path.

Thank you

[2015-07-22 15:07] seemyseoul commented on #11412
Aaah!  It's just what I was looking for!  Thanks!

[2015-07-22 15:22] abose commented on #11412
Closing as extension available.

[2015-07-22 15:22] #11412 closed

[2015-07-22 15:23] abose commented on #11446
:+1: Closing as fixed.

[2015-07-22 15:23] #11446 closed

[2015-07-22 18:48] TriforceOfKirby opened #11447 "Generic monospace font using incorrect font"
I changed my font settings to be simply "monospace" expecting that it would use my system's monospace font. If I run `fc-match monospace` in the terminal, it returns `RobotoMono-Regular.ttf: "Roboto Mono" "Regular"`. This font is distinguishable by having a slashed 0; however, Brackets has a dotted 0 with this setting, indicating that it's using a different font. Changing the font to "'Roboto Mono

[2015-07-22 22:59] mackenza commented on #11447
I am not sure you can use OS-level commands to resolve the fonts used by Brackets. Brackets itself is not a native Linux app, it's a web app running inside a version of Chromium. I don't think fc-match is event reliable. I am running with Inconsolata Medium as my system font and fs-match monospace returns DejaVuMono. In Brackets I put I put Inconsolata before the Source Code Pro and all is good.

[2015-07-23 00:13] pliablepixels opened #11448 "Can I force load a file in a specific split window?"
Here is the issue I am facing:
I am using Brackets for a large project and use split view (vertical) very often. The problem I am facing is that when I first open a file from the file tree, it gets associated to the split window that is active. That is good.

However, after that, that file gets permanently associated to that window pane and I cannot really open the file in the other window pane un

[2015-07-23 02:02] TriforceOfKirby commented on #11447
Well in Google Chrome's font settings, I am able to pick "Monospace"(as well as "Sans" and "Serif") from the list of fonts and it will use my system's monospace font(in my case Roboto Mono). The same is true for a number of other applications.

DejaVuMono was the default monospace font on my system as well; I changed it to Roboto Mono using a config file located in `~/.config/fontconfig/fonts.conf

[2015-07-23 04:43] rawat11 commented on #11423
@abose I verfied it with latest build in English. Now it is reproducible in english as well

[2015-07-23 04:49] rawat11 commented on #11423
Please find SS below:

![1](https://cloud.githubusercontent.com/assets/10069885/8843277/2c7d0aba-3124-11e5-932b-5d77938c4c3a.png)
![2](https://cloud.githubusercontent.com/assets/10069885/8843278/2caae232-3124-11e5-9aa2-7f7e6ef39fe9.png)

![3](https://cloud.githubusercontent.com/assets/10069885/8843282/375c69b2-3124-11e5-865e-2e9d5f2c512a.png)
![4](https://cloud.githubusercontent.com/assets/1006988

[2015-07-23 05:06] abose commented on #11423
@rawat11 The exclution set does not apply to the content of the file.
Exclution set means that any `file names with full path` containing the given exclution word, would be omitted from the search result. The contents of the file are never part of the exclution set.
Please close this bug if this is the case.

[2015-07-23 05:07] rawat11 opened #11449 "[UI Issue] : On adjusting the project panel, the UI of the selected file in the panel slightly disrupts"
Steps:
1) Launch Brackets
2) Select a file in the project panel
3) Scroll/Adjust the project panel

Results:
the selection of selected file comes out of window

![defect](https://cloud.githubusercontent.com/assets/10069885/8843496/befe586a-3126-11e5-8524-2b993af5244f.png)

[2015-07-23 05:56] abose commented on #11421
@rawat11 Were you able to confirm this?

[2015-07-23 05:57] abose commented on #11418
@rawat11 Did you check this out?

[2015-07-23 06:14] prafulVaishnav opened #11450 "[InstantSearch] Matches not updated when file and folder is deleted"

[2015-07-23 06:16] rawat11 commented on #11421
@abose yes it's coming with the new build. Closing the issue

[2015-07-23 06:16] #11421 closed

[2015-07-23 06:19] rawat11 commented on #11423
Closing the issue if this is the case

[2015-07-23 06:19] #11423 closed

[2015-07-23 07:42] dnbard commented on #11434
@ivogabe heh, I've almost switched to **Atom** because of this issue

[2015-07-23 09:53] petetnt commented on #11448
Duplicate of #11308

[2015-07-23 11:35] manojbabu opened #11457 "Adding History of Changes of HTML / CSS / SCSS / JS Files"
team,
I would like to suggest a feature, that brackets needs to maintain a log history of changes based on every timestamps. where users can able to compare or revert back the code changes from the History backlog tool and update the same. something like code recovery from brackets time to time.

we can have panel like "validation problems" at footer of the console and they can view the changes re

[2015-07-23 12:41] BonsonJohnson opened #11458 "Bracket code suggestion and completion not working"
Hi - Just loaded Brackets and code suggestion and completion aren't working. Nor is the colour coding of the syntax. Help please

[2015-07-23 12:45] BonsonJohnson commented on #11458
![screen shot 2015-07-23 at 13 42 18](https://cloud.githubusercontent.com/assets/13468019/8850566/0471c2b4-3141-11e5-92b0-b22b1603feb4.png)

here's what I'm seeing in glorious grey

[2015-07-23 13:29] Tania-Jiacomini opened #11460 "French: String "To use a local server..." is truncated"
EN:
To use a local server, enter a URL like http://localhost:8000/

FR:
Pour utiliser un serveur local, entrez une URL telle que http://localhost:8000/

Translation cannot be shortened without impacting quality, please adjust layout.

![eng-12](https://cloud.githubusercontent.com/assets/2284774/8851391/7cfa84e2-314f-11e5-9166-d792f1e3caa9.png)

![fr-12](https://cloud.githubusercontent.com/assets/2

[2015-07-23 13:33] Tania-Jiacomini opened #11461 "French: String "Marked for disabling" appears unlocalized"
EN: Marked for disabling
FR: Marqué pour désactivation

String is correct in TM export provided, not implemented in build.

![eng-18](https://cloud.githubusercontent.com/assets/2284774/8851500/1d1c0cde-3150-11e5-8dd4-f8ffd48cb179.png)

![fr-18](https://cloud.githubusercontent.com/assets/2284774/8851505/22cff988-3150-11e5-904b-ae0a0931dd8c.png)

[2015-07-23 16:37] humphd opened #11462 "npm test fails with 'Task "cla-check-pull" failed.'"
I'm unable to have my builds pass locally or on travis due to the `cla-check-pull` task failing.  It looks like I'm not alone, for example: https://travis-ci.org/adobe/brackets/builds/72301450

Locally the error it reports is:

[code]

cc @MarcelGerber

[2015-07-23 17:10] humphd commented on #11462
Appears to be due to rate limits on the GH API, which really sucks, because it makes builds randomly fail for no obvious reason.

[2015-07-23 21:31] Vaetas opened #11463 "Brackets freezing on startup"
Hello,
yesterday I was forced to downgrade Brackets to version 1.1 because ver 1.3 freezes on startup (and ver 1.2 is very slow). It kind of works after clean install (though slow to use), but after a while it's about he same. I'm running Win 7 Ultimate 64bit and it used to work pretty well until some update. The navbar (File, Edit, etc) responds, however the rest of Brackets doesn't.

Thanks.

[2015-07-24 00:48] le717 opened #11464 "[InstantSearch] Find in Files results panel displays in-memory file even after saving"
- Open [this sample project](https://dl.dropboxusercontent.com/u/58490278/Downloads/Brackets-Bug.zip) and do a Find in Files search for "Brackets"
- Leaving the results pane open, create a new file and type "Brackets"
- Save the file

**Result**: The saved file and temporary, in-memory version are both listed in the results pane.

![image](https://cloud.githubusercontent.com/assets/3382464/8865333

[2015-07-24 03:43] TomMalbran commented on #11458
Are you editing a newly created document inside off Brackets? Try to save it with with an html extension to get syntax highlight and code hints and more.

[2015-07-24 03:52] abose commented on #11464
similar to #11450

[2015-07-24 04:00] abose commented on #11461
Fr is part of adobe maintained translations.
@rawat11 Please look into this.

[2015-07-24 04:00] abose commented on #11460
Fr is part of adobe maintained translations.
@rawat11 Please look into this.

[2015-07-24 04:03] abose commented on #11413
@rawat11 is this issue still present?

[2015-07-24 04:20] myusernameisnotavailable opened #11465 "Brackets is changing Chrome app path in registry (Live preview fails)"
Hi,

I have problems launching live preview using Brackets portable 1.3.
My browser is Google Chrome Portable 64-bit on W7U.

Registry key that is changed:
HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\chrome.exe

Correct path:
Default:     C:\Appz\GoogleChromePortable64\App\Chrome-bin\chrome.exe
Path:         C:\Appz\GoogleChromePortable64\App\Chrome-bin

Brackets changes

[2015-07-24 04:34] myusernameisnotavailable commented on #11465
The temporary solution is to start regedit and go here:
HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\chrome.exe

Start Brackets and observe in regedit what path Brackets want.
Move/install Crome to this path.
Now Live Preview should work.

[2015-07-24 04:54] rawat11 commented on #11461
@abose This string is not externalized possibly because this string is not externalized.
We have a string with us for whiich we have japanese and french translated but you might be using the other string. cAn you please once check and let us know.

The one string which received was "Marked for disabling" with String Id MARKED_FOR_DISABLING

[2015-07-24 04:58] rawat11 commented on #11460
@abose As stated above Translation cannot be shortened, we will have to adjust the layout. Please check.

[2015-07-24 05:20] #11168 closed

[2015-07-24 05:21] #11093 closed

[2015-07-24 05:42] #10183 closed

[2015-07-24 05:52] rawat11 commented on #11413
@abose Yes the issue is fixed now

[2015-07-24 05:52] #11413 closed

[2015-07-24 07:38] nethip commented on #10255
@mackenza Our primary goal is to unblock folks who are running Brackets on Linux. I was only throwing one of the options that we could exercise. It could be a bad idea too :smile: .

Of course, there might be some `brackets-shell` specific things(like live developement) that need to be matched. IMHO, if all the workflows are met, we should think about this approach.

About `electron-shell` replaci

[2015-07-24 07:49] nethip opened #11467 "Release 1.4 Deployment Tasks"
### Tasks to deploy a release publicly
- [x] Tag the build (brackets, brackets-shell) using `release-1.0` format (Creating 'Release' in brackets tags the build, so only need to do this in brackets-shell?)
- [x] Announcement to the brackets-dev group for this release and work in the new cycle
- [x] Merge localizations/other release changes back into master
- [x] Merge localizations/other release ch

[2015-07-24 08:41] KatarzynaWodzinska commented on #11460
Issue also occurs for JP.

Current JP:ローカルサーバーを使用するには、http://localhost:8000/ などの URL を入力してください

 Comment from the linguist: "This cannot be shortened any further unless you omit the example as follows:
ローカルサーバーを使用するには、URL を入力してください"

Please see the screenshots attached:
![eng-12](https://cloud.githubusercontent.com/assets/6737567/8870692/3adcfee0-31f0-11e5-8202-98f9f6e85c5a.png)
![ja-12](https://c

[2015-07-24 08:50] BonsonJohnson commented on #11458
Hi and thanks - that worked. Doh!

Anne

From: Tomás Malbrán <notifications@github.com<mailto:notifications@github.com>>
Reply-To: adobe/brackets <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, 24 July 2015 04:43
To: adobe/brackets <brackets@noreply.github.com<mailto:brackets@noreply.github.com>>
Cc: Anne Bonson-Johnson <anne.bonson-johnson@electricwordplc.com<mailto:anne.bon

[2015-07-24 11:00] dvorapa opened #11470 "Health data notification bug [1.4.0-16369] [linux-x64]"
If I do a clear installation of Brackets pre-release 1.4 and run Brackets after installation is done, a blue Health data notification appears. If I close it, the part of the screen where the notification was previously is unclickable. I e.g. can't click to start writing or in a smaller window size I even can't choose most of Help menu commands.

[2015-07-24 11:19] nikaro commented on #10255
Why not embed the libraries in Brackets, like Atom does ?

A symbolic link `ln -s /path/to/atom/libgcrypt.so.11 /lib/x86_64-linux-gnu/` make Brackets work.

[2015-07-24 11:32] mackenza commented on #10255
@nethip I don't think your idea is bad, I am just thinking of the logistics here. Taking Bracketron beyond a PoC to complete all Brackets functionality is an effort. I am not sure @zaggino and @MarcelGerber (who have been the primary contributors to it) are going to be super interested in putting their efforts into completing Bracketron if the final use is only going to be for Linux which is such

[2015-07-24 12:48] abose commented on #11470
@dvorapa can you go to debug logs and see the messages there.
in chrome: goto http://localhos:9234/ when brackets have the problem.

[2015-07-24 13:01] rawat11 opened #11471 "[Find In Files]: Files Search Count for a single character and for a word differs"
Steps:
1) Launch Brackets
2) Open find in files and type any charcater eg m
3) Again do find in files and search for "ma"

Result : The searched files number for m is less than the count for "ma"

[2015-07-24 13:39] abose commented on #11471
That is expected based on the implementation.
Currently we have a hard limit on 100,000 results across all files and search will stop as soon as over 100k results are got.
So what is happening in the case is,
1. whem `m` is searched, it found say 108k results in 8 files and returned.
2. a search for ma could then find 120k across 200 files and then return.

[2015-07-24 14:42] klarkc opened #11472 "New File and New Folder context in the sidebar"
Referrer: https://github.com/adobe/brackets/issues/7561

I am having this same issue with the 1.3 release, but now I can create a folder or a file in the root directory if I close all open files. There is no way to create a folder or file in the project root directory while editing a file from another directory.

[2015-07-24 20:02] mackenza commented on #11457
This is exactly what a version control system is for and Brackets has a very functional and well-maintained git extension. I would suggest that recreating git in Brackets is not advised and git should fill the requirements just fine.

[2015-07-25 00:14] reoxb opened #11475 "Correct Identation"
I wish can used this option into a document html, or css. I supossed you have done, but I cant find it.

[2015-07-25 00:36] dvorapa commented on #11470
I haven't found any problem in a console. But I've found out that .healthdata-firstlaunch-container only changes its opacity to 0 (zero) and not its visibility or display. Below are screenshots of Dev Tools and Brackets before closing and after closing.

Before closing:
![snimek obrazovky porizeny 2015-07-25 02 30 16](https://cloud.githubusercontent.com/assets/5113916/8887074/8fd10452-3275-11e5-85

[2015-07-25 04:06] abose commented on #11470
@prafulVaishnav .
There seems to be an error in loading the extension dir. That would cause an error in brackets starting up properly. Checkout the folder .config/Brackets/extensions/user

[2015-07-25 04:13] abose commented on #11457
There is a very powerful `brackets git` extension for exactly the same purpose you suggested. Please check it out. There is a steep learning curve for getting used to Git though. Closing.

[2015-07-25 04:13] #11457 closed

[2015-07-25 07:52] rroshan1 commented on #11475
@reoxb We do have auto indentation on by default even for html and css files.
You can explicitly enable or disable auto indentation by going to ``Debug > Open Preferences File`` and adding the line `"smartIndent": true,` or `"smartIndent": false,` respectively in the brackets.json preference file that opens in the right panel.
I hope it answers your concern and closing the issue for now.
In case y

[2015-07-25 07:53] #11475 closed

[2015-07-25 08:12] rroshan1 commented on #11471
Yes, this is as per expectation. Please note that the phrase `over X results in Y files` would be mentioned in the panel in your case and hence the values of X in this case should not be compared until it is not preceded by "over".
Please close the issue if you are okay with the explanation.

[2015-07-25 08:20] dvorapa commented on #11470
This error was caused by not reinstalling Brackets, just deleting the Brackets dir (including the extension dir) in order to achieve the first launch popup without reinstalling whole Brackets. But Brackets creates it at the startup. I'll fully reinstall Brackets to see, if there is the same error.

[2015-07-25 08:51] dvorapa commented on #11470
Yes, the error is thrown everytime I reinstall and first launch Brackets. But I don't understand, what have this error in common with behavior of not hiding the popup and making it just transparent (a new user then click into the area, where the popup was previously, and suddenly Brackets open url https://github.com/adobe/brackets/wiki/Health-Data).

[2015-07-25 09:03] rroshan1 commented on #11463
@Vaetas Can you try uninstalling Brackets and deleting the Brackets folder inside "%appdata%".
See if it helps you go through the startup with a fresh installation.
By the way, you can try Brackets v1.4 releasing in the coming week.

[2015-07-25 09:17] rroshan1 commented on #11458
Closing the issue as it has been resolved.

[2015-07-25 09:17] #11458 closed

[2015-07-25 09:17] AlexanderJ2357 opened #11477 "Brackets freezes when installing/uninstalling extensions (and other situations) and doesn't respond on Windows 7 64-bit"
Brackets freezes a lot on windows 7 (I have it on OSX too and haven't noticed freezes there but I don't use OSX as much as windows). It freezes especially when I am installing/uninstalling extensions.

Another situation in which it freezes is when I open the Extension Manager and try to close it by clicking on the Close button while it is loading.

I am afraid that I lose unsaved work when it free

[2015-07-25 09:49] Vaetas commented on #11463
I tried reinstalling Brackets with deleting appdata, but after a while it started freezing again. I will wait for v1.4., thanks.

[2015-07-25 10:13] MarcelGerber commented on #11308
@chewedon I don't own/use a Mac, so maybe that's a dumb question, but isn't Cmd + Click meant to open the context menu?

[2015-07-25 10:22] MarcelGerber commented on #11061
Yes you can, using [`language.removeFileExtension`](https://github.com/adobe/brackets/blob/ed1617fb521b8d94c3dc7192395d2868a674018c/src/language/LanguageManager.js#L679-L685), which would look something like this:

[code]

[2015-07-25 10:29] petetnt commented on #11061
Thanks @MarcelGerber!

[2015-07-25 10:52] MarcelGerber commented on #11462
You can't test a pull request locally, unless you specify the pull request number (as described in the error you get). Better use `grunt cla-check --user=<USER>`.

I guess the failures on Travis are related to our recent switch to their container-based infrastructure. GitHub limits API requests to 60 per hour (when unauthenticated), which is not a whole lot.

One way to fix this would be to also d

[2015-07-25 11:07] chewedon commented on #11308
@MarcelGerber

Yes, sorry. When I say Cmd + Left Click I meant Alt + Left Click.

My finger remembers the general area of the key I'm pressing not the actual name of the key :D

[2015-07-25 18:38] abagshaw opened #11480 "PreferencesManager save prefs to project root"
Is there a way to use the PreferencesManager API to set preferences to a `.brackets.json` file in the current project root folder, or does that need to be done by manually writing the file?

If I am correct `PreferencesManager.getExtensionPrefs("my-plugin").get("my-pref")` will automatically look in the project root for the prefs before looking in the normal brackets wide location.

How can I spec

[2015-07-25 19:26] sprintr commented on #11480
Here is an [example](https://github.com/adobe/brackets/wiki/Preferences-System#setting-prefs) of doing it.

[2015-07-26 04:07] abose opened #11482 "Fix locale mapping for update url."
We have to map url's of the form de-DE (to de) or fr-FR(to fr) at the update server.
Must fix before release 1.5

[2015-07-26 09:23] abose commented on #11480
@abagshaw Please close this issue if that answered your question.

[2015-07-26 09:28] RaulSalinasVal commented on #10465
google searching I found a possible solution faster.

installing the library contained in a .deb package

https://launchpad.net/ubuntu/+source/libgcrypt11

and i'm installed
I have installed on my debian brackets jessie 8.1

ref -> http://www.webupd8.org/2015/04/fix-missing-libgcrypt11-causing-spotify.html

[2015-07-26 09:32] #11317 closed

[2015-07-26 15:37] inspirebin opened #11483 "Update Brackets without re downloading the whole setup package"
I'm using brackets on windows and ,whenever there is a new build of brackets i have to re download the whole stuff again to update the app , which is kinda annoying. It would be better if brackets will download the update files through its own update option ,Instead of just linking to the brackets website whenever we click 'Get it now' button

[2015-07-26 20:10] abagshaw commented on #11480
Yes this has answered my question. Thank you!

[2015-07-26 20:10] #11480 closed

[2015-07-26 21:51] #10815 closed

[2015-07-27 00:04] TomMalbran commented on #11475
I feel like you are looking for something like https://github.com/Hirse/brackets-beautify?

[2015-07-27 04:39] le717 opened #11488 "Resizer module uses depreated function"
(Split from https://github.com/adobe/brackets/pull/11174#issuecomment-119032811)

`src/utils/Resizer.js` uses `PreferencesManager.convertPreferences`. which is deprecated, so the error is being thrown in core.  I have no clue how that preference should be updated to the current system (prefixed? Global preferences file), and I am unsure if deprecation errors should be thrown in core (I think histo

[2015-07-27 04:40] fr32c opened #11489 "Strip <tags></tags> where the cursor is"
As I mentioned here: https://twitter.com/fr32c/status/625519766611083264
I am looking for an extension to get a shortcut for something frequent in my cleaning code work : *manually* removing useless span tags. (Manually because some of the tags are useful…)

This extension, with the desired keyboard shortcut, would strip tags where the cursor is:
If my text looks like this:
`<h1>my <span>bld</span

[2015-07-27 04:45] le717 opened #11490 "[InstantSearch] Find in Files results panel displays wrong file count after change is made"
- Open this [sample project](https://dl.dropboxusercontent.com/u/58490278/Downloads/Brackets-Bug.zip) and do a Find in Files search for "Brackets"
- Leaving the results pane open, open `file-2.txt` and remove the text, no need to save
- "In x files" text does not update with new results

![bug](https://cloud.githubusercontent.com/assets/3382464/8898762/ac4fd746-33f8-11e5-9bc1-2bbae95f0bd7.png)

[2015-07-27 05:23] abose commented on #11490
Searching for Brackets again(press enter key in the search bar) would update the count as a temporary woraround.
@rroshan1 Update count issue.

[2015-07-27 05:24] abose commented on #11490
Similar to #11464

[2015-07-27 05:25] abose commented on #11464
Searching for Brackets again(press enter key in the search bar) would update the count as a temporary workaround.

[2015-07-27 06:05] rawat11 commented on #11471
yes, I understand that and over X results in Y files defines it as well but 100,000 results is our limitation to not the display the all results.
Some results are left unidentified. Is there any way to see the results which were not displayed as part of search results

[2015-07-27 06:17] abose commented on #11471
yes, yu can filter the search by directories to narrow the search, it is anyway not a good thing to find something from a list of 100,000+, so i think the filtration workflow will be much better in that case.
![image](https://cloud.githubusercontent.com/assets/5336369/8899680/2ca62d80-3455-11e5-9c2a-9c47772941b2.png)

[2015-07-27 06:26] nethip commented on #11461
This is fixed now.

[2015-07-27 06:26] #11461 closed

[2015-07-27 10:02] manderson23 opened #11491 "Apply XML syntax highlighting to .xsd files by default"
XML syntax highlighting should be applied to XML Schema files with .xsd extension.

[2015-07-27 11:13] thoroc commented on #10266
Thanks I was able to resolve my issue with Brackets under Windows 7 x64: Basically Brackets could not connect to the WebSocket on localhost. This was being blocked by the AV software. I added a rule for this connection and Brackets is now happy. And so am I. ^_^

[2015-07-27 12:16] greegor opened #11492 "Fix Paste operation from popup menu"
Paste works in all other uses, but not from the context menu

[2015-07-27 12:56] shaneparsons commented on #11094
+1 for a fix for this on mac.
I almost switched to a different editor the other day because of how long it takes.. I'm sure I'm not the only one too.

[2015-07-27 14:50] nethip commented on #11281
@wormeyman Unfortunately we could not find time for this in 1.4. I am moving this to the next release.

[2015-07-27 15:27] shaneparsons opened #11493 "Improve Code Folding - PHP tags"
Code folding support for inline php would be an amazing feature to have.
Example:
[code]
I'm currently using the custom region plugin to get around this, but it's an ugly and annoying way to get around what should be a default feature.

[2015-07-27 16:18] shaneparsons commented on #11493
In my opionion, just the php tags alone should be collapsible as well.
Example:
[code]

[2015-07-28 00:59] amamf opened #11494 "Touch screen is not supported"
Touch screen is not supported. When I try to use Brackets on my Thinkpad Yoga with touch screen, I can't use my fingers to collapse/expand folders in the folders tree.

[2015-07-28 01:07] dmxt opened #11495 "Windows: Passing parameter arguments to Brackets system-wide?"
Is it possible to pass `--disable-direct-write` argument when you launch the original Brackets.exe (default found in `C:\Program Files (x86)\Brackets\Brackets.exe`)?

Is there something to do with PATH environment that launch Bracket through command? I tried tweaking brackets.bat to add parameter by doing something like this:

[code]

But Brackets still starts using direct write.

For reference, c

[2015-07-28 03:01] hussainb commented on #11477
+1.
This issue was intermittent before the  build 1.4.0-16380, but after upgrading to build 1.4.0-16380 it happens always, the same happens when pressing Reloading(F5) while developing extensions.
Have to use task manager to kill brackets every time and this is very irritating.

[2015-07-28 04:25] nethip commented on #11477
@AlexanderJ2357 @hussainb Do you have any extensions installed? Just to rule out if any extension is creating the issue, could you rename the preferences folder, and relaunch brackets?

[2015-07-28 04:46] nethip commented on #11495
@dmxt The above command would help only if you launching from command line. If you would like to launch from the explorer, I am thinking creating a shortcut and adding --disable-direct-write as a parameter to the shortcut is your best bet.

[2015-07-28 04:52] nethip commented on #11494
@amamf This is a duplicate of https://github.com/adobe/brackets/issues/10630

[2015-07-28 04:53] AlexanderJ2357 commented on #11477
I do have a few of the popular extensions installed like beautify, emmet etc.
I read that a lot more people are experiencing crashing issues with Brackets, especially with large files.
I hope the issues are fixed in the future but for now, I am use Atom and happy with it.

[2015-07-28 13:20] dnbard opened #11496 "[Find in files] Search causes system-wide freezes"
I'm experiencing the system-wide freezes when I press the key in Find in Files panel. Basicaly, everything are stop working: music, background tasks ...

Brackets v1.4
Windows 7

[2015-07-28 13:41] Jimmy-Shark opened #11497 "File tree doesn't work"
No files shows in the file tree.
"Refresh file tree" in the right-button menu doesn't help.
At the same time "Working Files" file list shows normally.
I removed cache and removed completely Brackets and then installed another (new) version. Didn't help also. The problem is still there. Any idea?
Ubuntu 14.04 LTS

[2015-07-28 15:58] abose commented on #11496
What is the system memory? also could you give more details on the size of the brackets project? the cpu configuration?
Instant search is a bit cpu intensive.
You can disable the feature by setting the preference "findInFiles.nodeSearch": to false.

[2015-07-28 16:13] dnbard commented on #11496
CPU: Intel I7-4790
Memory: 16GB

Size of project:
* ~200 javascript files
* ~20 htmls
* ~20 css
* a lot of dependencies(bower + npm) but all of them are included in .gitignore and ignored for the search (at least they was in Brackets v1.3)

[2015-07-28 16:43] abose commented on #11496
In that configuration, it should be super smooth.
Can you see any error in the developer console?
Which key press in find in files panel leads to this behavior?

[2015-07-28 16:55] Viterbo opened #11498 ""Move Line Up" breaks your code if you use it while using "Code Folding" (sceenshots)"
First the good behavior while not using code folding.
- Select the line
![brackets_bug_1](https://cloud.githubusercontent.com/assets/4420760/8937432/ccc5b8f6-352e-11e5-853b-faa9483faac4.png)
- and short-key "Ctrl+Shift+Up"
![brackets_bug_2](https://cloud.githubusercontent.com/assets/4420760/8937433/ccca8818-352e-11e5-9656-4ddfbfcab778.png)

It works fine!
- Now we fold some function.
![brackets_bu

[2015-07-28 17:16] hussainb commented on #11477
@nethip
I renamed the user folder under the extensions folder and opened brackets, It created a new empty user folder and then I tried to reload(F5). This time too brackets crashed. I tried to trace errors in the console but when brackets crashes, the developer tools crashes too.
This now doesn't look like an extension issue to me.

The only thing I noticed that if no file is open in the editor (c

[2015-07-28 18:07] globexdesigns opened #11499 "New Preferences flow in 1.4 very frustrating to use"
The new Preferences flow in 1.4 is quite frustrating to an end user. Consider this:

1. Choose `Brackets > Preferences`
2. Brackets opens the preferences in split view

Now, in order to close the preferences I need all of these steps:

1. Find the Preferences file in the Project Files Panel (why is this a separate file and not a dialog/panel?)
2. Close the Preferences file
3. Find the Split Screen

[2015-07-28 18:29] nethip commented on #11499
@globexdesigns You could use this preference `"preferencesView.openPrefsInSplitView": false` to disable opening preferences file in split view.

[2015-07-28 18:45] globexdesigns commented on #11499
@nethip That's much better. I would suggest making that enabled by default. Especially since without a Preferences GUI most users will have no idea that this preference even exists (I sure didn't).

[2015-07-28 19:07] #8572 closed

[2015-07-28 19:09] #10573 closed

[2015-07-28 19:10] MarcelGerber commented on #10566
@fdefalco Release 1.4 is now available, hence you can try and see if this bug is fixed for you.
If you can still repro it, go ahead and let us know so we can reopen this issue.

Closing.

[2015-07-28 19:10] #10566 closed

[2015-07-28 19:10] nethip commented on #11477
@hussainb Could you disable our instant search and see if this problem goes away. Use the preferences below to do that.

[code]

Also before reloading, give it a few seconds before Brackets gets completely initialised.

[2015-07-28 22:16] maciek134 opened #11501 "No native menu on Ubuntu w/ Unity"
It's probably intened, but many people, including me, don't like when software doesn't care about native UI look & feel. The menu on Unity should be on the top of the screen (like on OSX), not embedded in the window.
![screenshot at 00-09-16](https://cloud.githubusercontent.com/assets/1146309/8945333/c8d423e2-3586-11e5-9210-536895580d75.png)

Here is how it looks properly in Chrome:
![screenshot a

[2015-07-28 22:26] mackenza commented on #11501
Brackets shell doesn't have native menus in any Linux window manager. It's not limited to Unity. It is a known thing and "as designed" in current Brackets

[2015-07-29 02:37] hussainb commented on #11477
@nethip
I decided to debug brackets by myself, What I found is that the function `browserReload(href)` in `DocumentCommandHandlers.js` needed a timeout before it updated the href at line no 1638.

The url :
https://github.com/adobe/brackets/blob/389d9e638c66fd1b65a1972a90acaaaa572bb8ab/src/document/DocumentCommandHandlers.js#L1638

The issue didn't re-appear once I added the timeout of 1000ms in t

[2015-07-29 04:23] nethip commented on #11477
@hussainb That's a good workaround as of now. But it would be great if can try the steps I had mentioned above, about disabling the node search, and tell us if it fixes the problem. This could definently help the community to have a workaround, in case they run into this issue. Thanks!

[2015-07-29 04:30] hussainb commented on #11477
@nethip I am sorry I forgot to mention that I tried disabling the instantSearch and nodeSearch the way you stated above, and it did not do any good.

Also, I think the issue is not related to the newly implemented instant search feature since I faced the problem intermittently (1 in 5 reloads) in the older version which did not have instant search.
I was able to live with that before, but after th

[2015-07-29 04:33] nethip commented on #11477
@hussainb That is a huge relief! So as of now having a `timeout` seems to be the only solution. Thanks for the workaround.

[2015-07-29 04:48] abose commented on #11477
@hussainb as another workaround, if you have brackets dev console open, When it crashes,
switch to the dev console> click on the close button, and then press f5(reload) on the dev console, and brackets will reload properly.
![image](https://cloud.githubusercontent.com/assets/5336369/8950149/07249f74-35db-11e5-8210-242a314175b7.png)

[2015-07-29 04:49] nethip commented on #11477
@abose That is a good work around too! But I think the issue with brackets handing is popping up even without the devtools open.

[2015-07-29 04:51] abose commented on #11477
Yes, It is just a temporary workaround!

[2015-07-29 04:57] hussainb commented on #11477
@nethip  Yes, brackets hangs even when the dev tools is not open, and since I shifted all my dev work to brackets IDE, I needed to fix it at code level.

[2015-07-29 04:59] nethip commented on #11477
@hussainb Would you mind putting a PR for this?

[2015-07-29 05:02] hussainb commented on #11477
@nethip , Will take some time though, But will do it for sure.

[2015-07-29 05:04] nethip commented on #11477
No issues :+1: Take your time.

[2015-07-29 05:33] ProfitHunter commented on #10465
download install libgcrypt11.xx.deb using Debian 7 version deb package
url:https://packages.debian.org/search?keywords=libgcrypt11
1.5.0-5+deb7u3
i tested,it's working.

[2015-07-29 05:43] ProfitHunter commented on #10255
download install libgcrypt11.xx.deb using Debian 7 version deb package
 url:https://packages.debian.org/search?keywords=libgcrypt11
 1.5.0-5+deb7u3
 i tested,it's working.

[2015-07-29 06:15] dnbard commented on #11496
`Which key press in find in files panel leads to this behavior?`
Any key.

I cannot reproduce this issue next day (no reboot were made).
If I stumble upon this issue again then I'll update the issue with details.

[2015-07-29 07:30] nikaro commented on #10255
@ProfitHunter don't come here to leave a comment with a bad solution without reading what have already been answered.

[2015-07-29 07:45] Romane-T commented on #10255
Take a good look. This is the solution - install libgcrypt11 from the
earlier version of Debian - that has been touted from the start when I
first reported this issue all them months ago, of which this thread is a
spinoff. In fact, it is about the only solution that is actually
successful for everybody

So perhaps your criticism is completely unhelpful - clearly you yourself
have been "without rea

[2015-07-29 07:52] nikaro commented on #10255
This is not the solution, this is just a bad workaround.

Already been answered :
https://github.com/adobe/brackets/issues/10255#issuecomment-104398810
https://github.com/adobe/brackets/issues/10255#issuecomment-123216549

[2015-07-29 07:59] sixertoy commented on #10760
Hello :)

I close this issue
I've switched my github's account, changed my brackets extension owner and switched back to sixertoy github account

Thanks :)

[2015-07-29 07:59] #10760 closed

[2015-07-29 08:04] Romane-T commented on #10255
Anyone can criticise, so at least I know your name - Anyone.

If you have a better solution, post it, or, even better, learn how to
fix it and offer it to the team. THAT would be useful !!! Far more
useful than one of the umpteen variations of the word "Bullshit".

On 29/07/15 17:52, Nicolas wrote:

[2015-07-29 08:12] nikaro commented on #10255
My suggestion for a better solution have already been posted : https://github.com/adobe/brackets/issues/10255#issuecomment-124482843 (did you read the thread instead of annoying me ?)

Have a nice bullshitting day :wink:

[2015-07-29 08:13] abose commented on #10255
Guys please maintain the house rules
@nethip @ryanstewart we need to adopt the open code of conduct similar to this.
http://todogroup.org/opencodeofconduct/#Atom/opensource@github.com

[2015-07-29 08:21] abose commented on #10255
Any suggestion, however minute is welcome in the group, a workaround/ a bad workaround is a workaround none the less. Please keep posting your findings/suggestions in the thread. Help is always welcome here :)

[2015-07-29 08:33] gajus opened #11502 "Disable element highlighting in live preview"
* "When you move the cursor around an HTML file, the corresponding element is highlighted in the browser"
* "When you move the cursor around a CSS/LESS/SCSS file, all elements matching the current rule are highlighted in the browser"

from: https://github.com/adobe/brackets/wiki/How-to-Use-Brackets

How to disable these features?

[2015-07-29 08:34] nikaro commented on #10255
My apologies, my answer to ProfitHunter may have been rude in the form. But I maintain my statement that install the libgcrypt11 deb package is a very bad solution. You install a (may be) outdated and not maintained package with security issues or bugs. And because it is installed manually it will never upgraded. So your system is vulnerable and could be considered as compromise.

A better way for

[2015-07-29 08:42] nethip commented on #10255
@abose that is a good idea. Let us discuss this offline.

@nikaro I would request you to calm down. All the people on the thread know the solution, so please be courteous to people you are trying to help you, even it the proposed solution is wrong. Thanks!

[2015-07-29 09:00] nikaro commented on #10255
I'm calm, just a little bit annoyed by these already known and already posted "install libgcrypt11.deb" workarounds. I follow this issue to know the progression of the work on this, not to keep receiving "install libgcrypt11.deb" notifications.

And I'm more into [Cocker's rules](http://sl4.org/crocker.html) than OpenCodeOfConduct.

[2015-07-29 09:07] nethip commented on #10255
@nikaro I have gone ahead and updated your comment from cocker's rule to Crocker's rule. Please take care of typos for especially words like these. This is a very respectable community. Even Crocker's rule clearly says

"Note that Crocker's Rules does not mean you can insult people; it means that other people don't have to worry about whether they are insulting you."

The bottom line is be courteo

[2015-07-29 09:11] abose commented on #10255
Guys, please be nice to each other :)
![image](https://cloud.githubusercontent.com/assets/5336369/8953950/da5e0352-35ff-11e5-8fb7-767e27396041.png)

[2015-07-29 09:22] nethip commented on #10255
:)

![image](https://cloud.githubusercontent.com/assets/1577184/8954179/75b11ff0-3601-11e5-9f4e-5646c97c2765.png)

[2015-07-29 09:33] nikaro commented on #10255
@nethip thanks for fixing the typo. But a cocker is just a dog, why would I be especially vigilant for this word ? Did I insult someone in my comments ? I just have been rude to @ProfitHunter, and I apologized as soon as @abose call us to order. What do you want more ?

Crocker's rules put aside. Please note that not everybody is fluent in english and have the vocabulary to put these "courteous" (

[2015-07-29 09:42] nethip commented on #10255
@nikaro Sorry if I sounded hurting/rude. That was not my intention. I just want to make sure we have a friendly community and that everyone is respected. I am going to stop with this :+1:

[2015-07-29 09:46] Romane-T commented on #10255
Yes, I do recall your suggestion, but also recall the reasons it has not
yet been taken up.

Just roll your eyes and delete the messages that annoy you about
libgcrypt11. Going to be a few more of them before this issue is
resolved by the Brackets team.

Those issues you raise don't bother all that many, who will and are
quite happily (and without problems) running a version of libgcrypt11
from pr

[2015-07-29 10:40] emaza opened #11503 "No posible more than one instance of brakets in Windows8.1"
In previous versions to brakets 1.4 I can have more than one braquets open at time.
I update to Realease 1.4 and now I can´t open an other brakets program at same time.
I use Windows 8.1
Thanks

[2015-07-29 11:33] mihailik commented on #10255
The biggest problem on this thread is that not one person explained **what is the reason for this bug, what is the workaround, and what is the downside of the workaround.**

Giving a link to some weird page on Internet, and hand-waiving *'frob that blick but not schmob that driubit'* is next to nothing. Normal people don't know your lingo, and aren't into intimate relationship with deb/conf/sudo s

[2015-07-29 11:37] robert52 commented on #11503
I can confirm that too.

[2015-07-29 12:51] nikaro commented on #10255
@mihailik I'm not an Adobe developer, but here is a short answer from what I have understood :

- **reason** : Brackets use a CEF version which depend on libgcrypt11, up-to-date distros ship libgcrypt20 instead of libgcrypt11
- **ugly and dangerous workaround** : grab libgcrypt11 from somewhere on the Internet and ~~break~~ ~~compromise~~ install it on your system
- **still ugly but less dangerous

[2015-07-29 13:22] georgewhite5 commented on #10630
Can replicate on original Surface Pro. Tapping on anything in the right sidebar does nothing, but pressing every where else brings up virtual keyboard.

[2015-07-29 13:24] MarcelGerber commented on #11339
Verified. This works in 1.4
Closing.

[2015-07-29 13:24] #11339 closed

[2015-07-29 13:29] MarcelGerber commented on #11361
From what I can tell, Windows doesn't provide such a dialog, which makes this task almost impossible.

[2015-07-29 13:49] MarcelGerber commented on #11376
Upstream bug filed: codemirror/CodeMirror#3421

[2015-07-29 13:56] #11384 closed

[2015-07-29 14:08] MarcelGerber commented on #11393
Could you please test this in Release 1.4? It might very well have been fixed since, as there was some effort towards performance when looking at CSS.

[2015-07-29 14:54] MarcelGerber commented on #11382
Upstream bug filed: codemirror/CodeMirror#3422

[2015-07-29 15:24] mihailik commented on #10255
Thanks @nikaro.

I'm afraid it still doesn't make much sense. Well, the first workaround I've tried ages ago, but Ubuntu refused to install that pesky lib11.

The second one would be great for a blockbuster movie: convincing techy zing, yet nobody in the audience would work out if it's a fake jargonism.

[2015-07-29 15:38] petetnt commented on #11503
I think that for a long time the goal has been to run Brackets as an single instance and using `Debug -> New Brackets Window` to open a new actual Brackets-window. However, it has been possible to launch a new instance of Brackets by, for example, right clicking the icon like I showcased on #10769.

I do think that right clicking the icon should have a `New Brackets Window` option for ease of use

[2015-07-29 15:47] mackenza commented on #10255
@mihailik your sarcastic responses to this thread are not welcome. Please observe some level of community respect and stop your antagonistic replies. Thank you in advance.

[2015-07-29 15:58] petetnt opened #11504 "Windows taskbar integration ideas"
Windows (at least from 7 -> forward) has offered some nice semi-poweruser features when right clicking the icons in the taskbar. They might not be much in terms of features, and usually, if not always, they can be found inside the program itself quite easily, but in general they the right click lists act as shortcut lists that you use to most.

For example, here's Task Manager's right click menu:

[2015-07-29 16:03] MarcelGerber commented on #11448
Tip: You can also drag files between panes. That's not exactly the solution to what you're asking for, but I guess it'll help anyway.

[2015-07-29 16:26] MarcelGerber commented on #11489
Closing this issue as that's our normal process for extension ideas. Developers looking for an idea will still be able to find it.

[2015-07-29 16:26] #11489 closed

[2015-07-29 16:36] MarcelGerber commented on #11502
There's a toggle `View > Live Preview Highlight` that you can use to disable and re-enable this feature.

[2015-07-29 16:55] redmunds commented on #11382
I don't think it's valid HTML to have block tags in a`<p>` tag. You're markup should look like this:

[code]

[2015-07-29 16:58] pliablepixels commented on #11448
Marcel yes that is what I do today. The problem is the left and right pane
are not resizeable so I often use the file tree - without knowing it's
already associated to a pane which is not visible in the work are pane which
is a pain :)

There is a plugin that does make it resizeable but it's very buggy.

On Wednesday, July 29, 2015, Marcel Gerber <notifications@github.com> wrote:

[2015-07-29 17:03] gajus commented on #11502
Sorry, missed it.

[2015-07-29 17:03] #11502 closed

[2015-07-29 17:56] shaneparsons commented on #11393
Seems to be fixed now!
Thanks

[2015-07-29 17:56] #11393 closed

[2015-07-29 19:30] mihailik commented on #10255
@mackenza please don't let my manners stopping you from addressing the underlying issue.

It'll soon be a year since the issue reported, so I am sure you're eager to break the silence now.

[2015-07-29 20:21] Waleedviews opened #11508 "Not working on windows 10, and can't opened PSD file "file larger then 16 mb can't be opened in brackets""
Please release the latest fix for the Windows 10 , also in the latest version PSD files are not working.

[2015-07-29 20:37] #11508 closed

[2015-07-29 20:48] mackenza commented on #10255
If by "soon be a year" you mean it 5 months from now, you are bang on.

[2015-07-30 00:36] Romane-T commented on #10255
Just an observation or three. Nothing more. nothing less.

1. This package is provided by Adobe for free. Now, if one were paying
for it, then these complaints would be most valid. But it is literally
being given away. Reminds me of the saying about looking a gift horse in
the mouth.
2.  If one has sufficient distaste for what is being given free and the
work-around being used to get it to run at

[2015-07-30 00:43] mackenza commented on #10255
@Romane-T wins this thread... he is exactly bang on 1-8

[2015-07-30 05:54] nethip commented on #11504
@petetnt Unfortunately, we don't have that kind of bandwidth to address this. But would you or anyone else be able to pitch on this task?. We could provide technical help and support. Thanks!

[2015-07-30 06:24] manojbabu commented on #11457
thanks fro reply, i was not aware of extension.

[2015-07-30 06:27] manojbabu opened #11509 "Brackets Release updates"
team

Whenever brackets updates / new releases are there, its coming like exe and manually we need to download and install each and every time,instead of that why can we you apply update automatically whenever there was new release like Firefox or chrome. Once we install we should upgrade the version updates so please fix this concerns

[2015-07-30 07:00] markibanez opened #11510 "jsViews / jsRender templates highlighting"
Hi,

I'm using jsViews / jsRender http://www.jsviews.com/ . It would be nice to have html highlighting in jsViews templates.

The template is defined inside a script tag like so `<script id="app-template" type="text/x-jsrender"></script>`

[2015-07-30 07:00] mihailik commented on #10255
'5 months' stretching February — July, 'only tiny minority' including every single one on the latest Ubuntu, the issue 'being kept on the forefront' of what exactly?

I can't imagine writing a concise explanation in layman's terms is a task worthy all this bickering.

[2015-07-30 08:37] petetnt commented on #11504
@nethip I understand! Sadly I don't have much native coding experience myself, so I can't tackle it myself either. If someone who sees this would have the skillset and would be interested in this kind of thing, that would be awesome!

[2015-07-30 08:42] nethip commented on #11509
@manojbabu We already have a trello card for this. https://trello.com/c/dCplDYlN/578-auto-update-mechanism-shell Please up vote this trello card. I am closing this issue for now.

[2015-07-30 08:42] #11509 closed

[2015-07-30 09:44] saviorfromthenorth opened #11511 "Brackets crashes when reloading without extensions"
How to reproduce:
1. Add a project or open a folder on the sidebar.
2. Open a file not located in the project folder.
3. Reload without extensions.

Issue:
Brackets will crashes when you try to reload without extensions and there is an open file that is not from the project directory.

Version:
Release 1.4 build 1.4.0-16380 (release 273804eb3)

-I do not know if it worked previously.

OS:
Windows

[2015-07-30 10:37] nethip commented on #11511
@saviorfromthenorth Would you be able to pull this [PR](https://github.com/adobe/brackets/pull/11505#event-368520930) and check if it solves the issue? Note that you will have to run Brackets from source.

[2015-07-30 11:14] AlanTr77 opened #11512 "PHP Class search"
Search the classes and its function included in a php document

[2015-07-30 15:25] Sam512 opened #11513 "Brackets wrong Path settings"
The program (by default on windows) does not add the correct path setting in the Environmental Variables when you select the option to add to path settings during initial download. It adds the Path setting of "C:\Program Files (x86)\Brackets" which does not work. When I manually change it to "%ProgramFiles(x86)%\Brackets\command", it begins to work in the command prompt.

[2015-07-30 15:25] #11513 closed

[2015-07-30 15:40] purplemur opened #11514 "JS elements given incorrect css classnames"
<img width="393" alt="screen shot 2015-07-30 at 10 19 16 am" src="https://cloud.githubusercontent.com/assets/1580157/8987194/683cfffc-36a5-11e5-8c02-c9d314ac9e31.png">

In a function's aruguments, variable elements (line1:"whichOverlay") are given the class cm-def.
In the function body, internally declared variables (line2:"thisOverlay") are given the class cm-def, while argument calls (line2:"whi

[2015-07-30 15:59] purplemur opened #11515 "Feature Request - Inspect Element within Brackets"
I love that you can open the Dev Tools within Brackets to see how it is styling everything, but it is a real PITA to have to drill down through the code to find the specific element you are trying to target.

It would be great to have "Inspect Element" added to the context menu when you right-click on things in the editor so you can reveal it instantly in the Dev Tools dialog.

[2015-07-30 17:34] abose commented on #11515
Souldn't this button help you with that?
![image](https://cloud.githubusercontent.com/assets/5336369/8990361/4eb8ac06-370f-11e5-9b7e-7d4643cd1de0.png)

[2015-07-30 18:26] tofanelli opened #11517 "Live reloading issues?"
Hey guys! Hows going? Hope ok...

look... i've been experiencing an unusual issue.... I open my html file and then click on Live Preview button... everything works fine.... then, after some time, for some reason, the live preview won't work anymore. I need to close my browser and open it again thru Live Preview button...

It happens even if i don't leave the brackets. I'm writing on Brackets and s

[2015-07-30 18:31] tofanelli commented on #11517
Ops... and i completely forgot to mention one thing.... when the browser ""disconnects"" from Brackets, and I have to close it, I have to reload Brackets as well, because it doesn't recognize the browser was closed....

Weird issue.... I think it might started in this last update.... Release 1.4 build 1.4.0-16380 (release 273804eb3)....

[2015-07-30 21:55] richiefrost opened #11518 "Javascript Code Hinting Stops working"
Is there any reason why javascript code hinting would stop working?  It's been working fine for me for the past few months, until today.

I copied a javascript snippet (20 lines or so) from one file into another, and ever since then, I've been having problems with the code hinting.  HTML code hinting still works, as does CSS, but not javascript.  It works briefly again if I restart Brackets and st

[2015-07-30 22:17] purplemur commented on #11515
You would think so, but when you try and click on a specific element in the code window, it selects the entire code block instead of drilling down to the element.

It does select elements outside of the code block pretty well (i.e. filenames in the sidebar, toolbar icons). It's just when trying to select an element in the code editor window that it doesn't get specific enough.

[2015-07-31 06:50] sedhuait opened #11519 "Live Preview Error - Not detecting index.html files or html files with different name"
On Working with index.html
![image](https://cloud.githubusercontent.com/assets/1628931/9002131/cb18e090-377d-11e5-8d0b-8d40102874ec.png)

On Working with opened .html files with different name.

![image](https://cloud.githubusercontent.com/assets/1628931/9002168/3645d2f6-377e-11e5-9e29-a32f3d5c1454.png)

Console Log :
[code]

My System is running on Win 7 64 Bit
With Brackets Version : Release 1.4

[2015-07-31 06:53] TomMalbran commented on #11515
@purplemur This extension will help with that: https://github.com/MiguelCastillo/Brackets-InspectEditor

[2015-07-31 06:58] sedhuait commented on #11519
After trying few times, it throws  Max connection attempts reached

[code]

[2015-07-31 07:24] abose commented on #11515
@purplemur If the extension addresses the problem, please close this issue.

[2015-07-31 07:39] sedhuait commented on #11519
Health Report :
[code]

[2015-07-31 08:03] abose commented on #11519
If you are in win 8.1 or later try this>
Cloase brackets,
Open task manager> kill process Evented I/O for v8 JavaScript (node.exe)
Relaunch brackets.

[2015-07-31 08:14] TomMalbran commented on #11512
For functions (including methods inside classes), you can use this extension: https://github.com/aonic/brackets-QuickOpenPHP (which you need to install manually since it is not in the extensions registry) and then you can use Ctrl+T (Navigate -> Quick Find Definition)

[2015-07-31 08:18] sedhuait commented on #11519
@abose : Sorry I'm using  Win 7 Professional

[2015-07-31 08:33] sQuarecoW opened #11520 "Brackets raises an Internal Error"
When I open Brackets it raises an Internal Error.

I get two options: Crash or Continue.

When I crash, well, Brackets quits. When I continue, Brackets continues en seems to work normal.

Details:

[code]

This is on a Mac Pro, OS X El Capitain, OS X 10.11 (15A234d)

[2015-07-31 09:34] abose commented on #11519
Its the same
It looks like the node process is not respnding.
If you are in win 7 try this>
Cloase brackets,
Open task manager> node.exe or brackets node.exe
Relaunch brackets.

[2015-07-31 10:02] AlanTr77 commented on #11512
Thank you for your answer

--------
Alan Trebeschi
Tel: 3480130648
Mail: alan.trebeschi@gmail.com
Web: http://trebeschi.altervista.org

[2015-07-31 10:12] sedhuait commented on #11519
@abose : Sorry Arun. There is no task in that name

[2015-07-31 10:13] amibappy opened #11521 "An Extra Guide line on every document !!"
i don't know how it happened !! those guide lines is annoying me a lot. it automatically comes on every document i open.
Someone please give me a SOLUTION......... :(

* screenshot of that problem:

![capture](https://cloud.githubusercontent.com/assets/13586412/9005310/f1db89e6-379e-11e5-9e66-3f06dbbbf2a6.PNG)

[2015-07-31 10:26] abose commented on #11519
Or try
File menu> enable experimental live view.

[2015-07-31 10:28] abose commented on #11521
I think it is an extension drawing the guide line.
Could you go to help menu> health report and copy the extension list here?

[2015-07-31 10:30] amibappy commented on #11521
{
    "uuid": "7b0a34d6-6bd7-495d-9ae3-d8b740b056ec",
    "snapshotTime": 1438338609513,
    "os": "win",
    "userAgent": "Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Brackets/1.4.0.0 Chrome/39.0.2171.36 Safari/537.36",
    "osLanguage": "en-GB",
    "bracketsLanguage": "en-GB",
    "bracketsVersion": "1.4.0-16380",
    "e4b": {
        "userAutoSignedIn": true,

[2015-07-31 10:34] abose commented on #11512
Closing as answered.

[2015-07-31 10:34] #11512 closed

[2015-07-31 10:36] amibappy commented on #11521
Help me PLEASE :(

[2015-07-31 10:37] abose commented on #11521
It should be one of the extensions
"name": "brackets-ruler",
"name": "yellowhangar.guidelines",
goto extension manager and remove/disable them.

[2015-07-31 10:38] sedhuait commented on #11519
hey, i found something. When I checked in other machine ( which has Brackets 1.3 ) , there is node 32 process is getting started when running Brackets. But in my machine, that node 32 process is missing.

I think it is the cause for it.

[2015-07-31 10:39] sedhuait commented on #11519
and menu> enable experimental live view is enabled.

[2015-07-31 10:42] sedhuait commented on #11519
@abose and when i tried to restart node -- > Debug Menu - Restart Node, got the following error

![image](https://cloud.githubusercontent.com/assets/1628931/9005794/e6243de6-379e-11e5-8423-8c993d2a99a4.png)

[2015-07-31 10:44] abose commented on #11519
also try deleting the brackets folder at %appdata%/brackets [this will reset brackets] . If that dosen't fix it, try reinstalling brackets, and restart windows, that might fix it. The reason is that brackets -node process is not present in the machine.

[2015-07-31 10:50] sedhuait commented on #11519
I tried this before, it works for a the first time ( few times only not all the times )  and then it fails !! Back to the same stage.

[2015-07-31 10:55] abose commented on #11519
for the time being try disabling menu> enable experimental live view
Will need to see why this happens.

[2015-07-31 11:05] amibappy commented on #11521
OMG !! it worked :) :)
THANK YOU .......@abose. You are a life Saver :)

[2015-07-31 13:16] sedhuait commented on #11519
Sorry @abose : that didnt help. when "experimental live view " is disabled, it opens a new chrome window then it stops.

![image](https://cloud.githubusercontent.com/assets/1628931/9007972/23d5ae3a-37b4-11e5-8e8a-60e294272cd7.png)

and brackets says :

![image](https://cloud.githubusercontent.com/assets/1628931/9007977/383687a0-37b4-11e5-85c9-8e27b968d887.png)

Console Log :

![image](https://clou

[2015-07-31 15:49] humphd opened #11523 "MultiBrowserImpl's DocumentObserver's traverseRules can crash on sheet.href"
I noticed this in our fork when testing this site with MultiBrowserLiveDev: http://templated.co/retrospect.  The problem is that `sheet` can be null, so `sheet.href` throws.  I've fixed it, but Brackets needs the fix too:

https://github.com/humphd/brackets/commit/439b3944d99d1abefbfd7557acfd88c0c7a33072

cc @busykai

[2015-07-31 16:41] teusa opened #11524 "I have a problem with Bracket 1.4 in MAC OSX 10.10.4"
I had version 1.3 with no problems, but I can not throw 1.4, Live Preview, because I get the message:

Live Development Session Has Ended.

[2015-07-31 16:56] humphd commented on #11523
I did this a bit differently in the end to catch another failing case: https://github.com/humphd/brackets/commit/787acb3eb78d06615b64d9889f8bb5360f473218

[2015-07-31 17:00] aroberge opened #11525 "Brackets incorrectly identify a file as being non-encoded in utf-8 and refuse to open it"
I have a very simple json file whose entire content is

[code]

Bracket refuses to open it, claiming it is not a utf-8 encoded file.  Notepad++ identifies it as being a utf-8 encoded file (with no BOM).

[2015-07-31 18:15] joseph-devito opened #11526 "Sync from AEM 6.1 Not pulling .content.xml / wiping content types"
Steps to produce issue:

Copy a component from libs foundation to your app
Make some changes to the jsp's
Go to Brackets and select "Import from server"
See that it syncs your files

The problem that occurs as a result of the steps above is that clientLibrary folders become nt:folders, some of the other contextual JCR information is also lost due to the clientlibs .content.xml missing too.
Bracket

[2015-07-31 18:32] hellfire opened #11527 "Windows 10 Problem"
Using Version 1.4 If you mark [ Highlight ] an open div statement, it does not highlight
or show the closing div...
Acer Aspire E1-571 I5 8gig Ram 1TB

All the best from Alan

[2015-07-31 19:24] purplemur commented on #11515
That worked! Thank you so much! :+1:

[2015-07-31 19:24] #11515 closed

[2015-08-01 07:52] dwilmer commented on #10255
The work on including the new CEF, which (among others) removes the dependency on libgcrypt11, is tracked in issue #11047. They want to include the new version, but there are still some problems before doing so. The aforementioned issue tracks and details those problems, so you can understand what is going on and, if you have the time and skills needed, contribute.

[2015-08-01 08:45] abose commented on #11525
could you upload the file here.

[2015-08-01 09:09] MarcelGerber commented on #11518
If you still know which snippet you copied in, you can try removing it, then restarting Brackets to see if JS Code Hints work again.
Otherwise, you can try to pinpoint the issue to a specific file or even pattern by moving some files/folders out of your project folder.

[2015-08-01 09:15] #11521 closed

[2015-08-01 09:19] abose commented on #11521
:cool: closing as fixed

[2015-08-01 09:29] abose commented on #11519
open debug>preferences> and add "findInFiles.nodeSearch": false,
restart the system.

[2015-08-01 09:39] MarcelGerber commented on #10550
Lodash was updated to 3.10.0 (latest) with #11474.
Closing.

[2015-08-01 09:39] #10550 closed

[2015-08-01 10:22] aroberge commented on #11525
@abose Apparently I can not upload the file; however here is a link to it on github:
https://github.com/aroberge/reeborg/blob/master/src/worlds/empty_world.json

[2015-08-01 11:03] petetnt commented on #11525
Did some testing, any file that:

* Starts with any unicode char from 0061 to 007C (a-z and |)
* Then has a space
* Ends with } (007D, the char after |)

fails to be recognized as UTF-8. Adding any other characters (including new lines etc.) fixes the problem.

[2015-08-01 12:12] MarcelGerber commented on #11525
@petetnt Thanks for looking into this very weird issue.
It looks like this is Win only as it works just fine in my Linux VM.

[2015-08-01 13:57] robert52 commented on #11503
@petetnt I really like the idea. Google Chrome and many more have a `Tasks` section when you right-click on the icon, and various tasks can be executed from there.

[2015-08-01 17:08] bartwesselink commented on #11504
@nethip @petetnt I would like to start with this feature, but I'm new to the Brackets project, so may I try to implement this feature?

[2015-08-01 19:27] steveny9911 opened #11529 "Updated to 1.4 and received an Internal Error message"
Just updated to version 1.4, and after relaunching the application, I received this Internal Error message prompted. The error doesn't effect anything, so I can still use Brackets without any issue. The error only prompts every time when I reopen Bracket completely, so nothing happens when reloading with ot without extensions. Running on OSX 10.11 El Capitan Beta

![screen shot 2015-08-01 at 12 22

[2015-08-01 22:05] mmkaw opened #11531 "New-brackets window"
After installing brackets 1.4, when i open a new brackets window CTRL stops working. here's the step.
bracket window1 > open new brackets window >bracket window2 > any-file >
control stops working like type something and try to hit ctrl+z, it doesn't "undo". you can by using the menu btw. need to refresh the new window(refresh with/without extension) to make it work.

[2015-08-02 03:26] abose commented on #11529
@nethip @prafulVaishnav we are getting this error in two occasion now for the release. #11520 .
Did something change in the shell side in the release?

[2015-08-02 04:04] abagshaw opened #11532 "Preferences setting getting from project scope inconsistent"
I'm wanting to be able to read and write preferences for a current project. The below code works fine when reading and writing preferences *while editing a file in the current project*.

However when editing a file that isn't in the current project in the working file area, `getPref("my-pref", "project")` returns the default value instead of value in the current opened project while `getPref("my-p

[2015-08-02 10:06] MarcelGerber commented on #11529
@abose Here are the shell changes ranging from 1.3 to 1.4: https://github.com/adobe/brackets-shell/compare/release-1.3...release-1.4

[2015-08-02 15:52] fade-agency opened #11533 "Windows 10 menu bar not working at all"
Updated to Windows 10 - Brackets will open, but no menu bar items work at all.
I can drag a file onto the Brackets interface to open it, yet menu (either via bar or shortcuts) do nothing at all.

[2015-08-02 18:39] semi-xi opened #11534 "when i install the extension，it tell me "unknow internal error""
every extension has the same warning ? who can help me .
i uninstall brackets for v1.3 or 1.4 but the problem is still
“
install extension
installation failed
unknow internal error
”s
in this link https://github.com/adobe/brackets/wiki/Troubleshooting i can't find the  smilar answer

[2015-08-02 18:44] mmkaw commented on #11534
may be some extension download path got changed. Do you have a "firewall" installed? i had the same problem with "firewall" turned on. turn the "firewall" off and try.

[2015-08-02 23:26] fade-agency commented on #11533
Update on above. Same issue as described here...
https://github.com/adobe/brackets/issues/6902

Deleting the extensions directory worked as per above advice.

[2015-08-03 01:42] semi-xi commented on #11534
i download form the github and drag the extension to the brackets but is the same problem. today ,i come to company and try agin ,maybe it ok

[2015-08-03 05:10] nethip commented on #11532
@abagshaw We usually use our slack channel, https://brackets.slack.com or the brackets-dev google group to discuss technical stuff.

I think we need to dig in a bit into why this is happening. Would you mind debugging a bit more into why the default settings are getting read (I am thinking this is by design, buy this is just my hunch). Also  please start a conversation in our slack channel, about

[2015-08-03 05:14] abagshaw commented on #11532
Hi @nethip sure - I'll see if I can dig up any more info on how this is happening. I'm not super familiar with Slack - but is seems I need an invite to join https://brackets.slack.com is this correct?

[2015-08-03 05:24] nethip commented on #11532
@abagshaw You could register at this URL. https://brackets-slack.herokuapp.com/.

[2015-08-03 05:25] nethip commented on #11529
@MarcelGerber The fork of brackets-shell that now supports the new extract authentication workflow, is privately maintained in Adobe's corporate GitHub account, so those probably would not get reflected by diff'ing the 1.3 to 1.4.

@abose From the crash log I can see that this has to do with releasing the IMSLib ref. @prafulVaishnav Could you take a look at the call stack to figure out if we can g

[2015-08-03 05:47] nethip commented on #11504
@bartwesselink I think I saw a message from you about willing to help on this item. Sure! We really appreciate it! All of this changes relating to adding this, should go into [brackets-shell](https://github.com/adobe/brackets-shell), which is a C++ application, that hosts a window to load the webpage which contains all of the core logic of Brackets. Something like chrome. You could find more infor

[2015-08-03 05:56] nethip commented on #11504
@bartwesselink Once you get familiarized with `brackets-shell` code, you could start looking at programming jump lists in windows.

[2015-08-03 06:08] bartwesselink commented on #11504
@nethip  Thanks, I indeed replied to this issue. But I removed it, because I will be on holiday until next Monday. If you think it's ok, I would like to get started then. Well, at least try. I did already look into it, and was able to build the Brackets-shell, but I still have some questions, but I'll try to find them out by my self first.

[2015-08-03 06:10] nethip commented on #11504
@bartwesselink Cool :+1: Please do this at your convenience. Let me know if you require any help on this. Thanks!

[2015-08-03 06:20] sedhuait commented on #11519
@abose  : its doesn't help.

[2015-08-03 06:36] abose commented on #11519
All the error shown in the console seems to be brackets not able to contact with chrome remote debugging port. Our old live dev workflow required chrome with RDP. But the new experimental live view should not have the problem.
file> Enable Experimental live view->make sure that the option is ticked, restart the machine, and if there is an error in the dev console, please paste it here.

[2015-08-03 06:51] petetnt commented on #11504
:+1: Great!

[2015-08-03 07:05] THPUG opened #11535 "Failed to assign Base URL using 'Experimental Live Preview' with PHP file."
Hi All,

I'm using Brackets Release 1.4 build 1.4.0-16380 (release 273804eb3).

Trying to use the Experimental Live Preview but it wont accept the base URL i'm using.
When I switch back to the normal Live preview, the Base URL is accepted and Live Preview is working.

Not sure if its a limitation or an issue.

this is my Health Report:

{
    "uuid": "c842c2c0-d12d-440d-9f99-5557ecef1abf",
    "sn

[2015-08-03 09:17] rifton007 commented on #10038
Hi all,
I have the same problem, the news about it?

[2015-08-03 10:55] MarcelGerber commented on #11525
It's the [`IsTextUnicode` call](https://github.com/adobe/brackets-shell/blob/959c7da3394de5b748f8b575339bd5d0123617d5/appshell/appshell_extensions_win.cpp#L760) that returns `true` when it shouldn't.
Specifically, it's the `IS_TEXT_UNICODE_STATISTICS` flag (included in the `IS_TEXT_UNICODE_UNICODE_MASK` flag) that causes this issue.

According to [MSDN](https://msdn.microsoft.com/en-us/library/win

[2015-08-03 11:07] MarcelGerber commented on #11525
Btw: Would Brackets save it's files with a BOM, this would not be an issue at all...

[2015-08-03 11:41] nethip commented on #11525
@MarcelGerber Let me do some reading on this. I will get back to you. Thanks!

[2015-08-03 12:01] petetnt commented on #11525
@MarcelGerber RE: Saving files with BOM,

When I was looking into this I noticed that UTF-8 & BOM has been under discussion for a long time in #3898 (and others such as #10583) plus there is this card on Trello too: https://trello.com/c/I5sgI4SV/1164-editor-and-bom-byte-order-mark

[2015-08-03 13:49] THPUG opened #11536 "brackets DevTools"
Hi All,

When using brackets Development Tools, console.log and all other messages are shown the wrong file and code line numbers.

e.g.if I ran test.js with console.log('test') in line #5 - the DevTool will display it but from a different file and line number: '/LiveDevelopment/Agents/ConsoleAgent.js:55'

this make it harder for troubleshoot and monitoring code flow.

Screenshot:
![image](https:/

[2015-08-03 13:57] leoetlino commented on #11367
I've noticed the same thing while working on a Meteor project. Maybe it has something to do with the high number of file changes when the app is rebuilt?

[2015-08-03 14:16] MarcelGerber commented on #11491
`.xsd` files will automatically be highlighted as XML in Release 1.5
Closing.

[2015-08-03 14:16] #11491 closed

[2015-08-03 14:19] MarcelGerber commented on #11519
@abose As he already stated above, he had "Experimental Live Preview" enabled before, and it didn't work either.

Also, as he found at that Node is not running, that's the cause - not something wrong with Chrome's RDP or similar.

[2015-08-03 15:35] NathanSTG commented on #11503
I experience this on windows 7 x64 after update as well. I'm fine with the idea of a single instance, but I agree it would be very helpful to have the "New Window" option listed in the taskbar icon context menu.

[2015-08-03 17:23] mmkaw commented on #11503
I Agree. any one having problem when opening new window form menu. CTRL does not work on the second window, like type anything and hit ctrl+z which should undo but doesn't actually. opened the issue but no response from anyone.
https://github.com/adobe/brackets/issues/11531

[2015-08-03 19:23] petetnt commented on #11531
Couldn't replicate on Windows 10 with Brackets 1.4. Does the developers console (F12) show any errors? Have you tried this without any extensions?

[2015-08-03 19:31] mmkaw commented on #11531
Its working now. had this issue earlier, may be my system problem. closing issue.

[2015-08-03 19:32] #11531 closed

[2015-08-03 20:08] NathanSTG commented on #11503
I am not experiencing the problem with CTRL not working on the second window. Everything seems to work fine in both windows.

[2015-08-03 20:17] mmkaw commented on #11503
Yeah its working fine now, may be problem was with my system. have already closed the issue. Thank you.

[2015-08-03 21:02] KinnaT opened #11537 "Windows 10 File Associations"
After upgrading to 10 pro from 7 pro, I switched out Notepad++ for Brackets, but the file associations simply didn't work.  After manually setting them with the Windows file association dialogue, everything worked except PHP files.  (Note: this does not apply to opening PHP files from within the program itself.)  Attempting to open one either from file explorer or FTP (Filezilla), it would still o

[2015-08-03 21:12] mackenza commented on #11537
I don't think Brackets does anything with file associations so I am not sure that the issue would be something Brackets could "fix"... or were you just posting information to let others know how to workaround the issue should they get it?

[2015-08-03 21:53] ravindrababukota opened #11539 "Brackets-Reload with extensions crashing with developer tools open"
Brackets is crashing when to reload brackets, after opening show developer tools for debugging purposes. I am using Version 44.0.2403.125 m of chrome.

[2015-08-03 22:05] KinnaT commented on #11537
Sorry about that!  I wasn't clear.  Yes, this is for reference purposes.

I don't think it has to do with N++ specifically, but with Win10 being unable to unhook file extensions from previously installed software and even if the association is overwritten, it will throw an error just because it has one stored in a key.

[2015-08-03 22:06] ravindrababukota commented on #11539
Steps
1. Launch Brackets
2. Launch Developer Tools from Debug->Show developer tools
3. Select Reload with Extensions

The tool crashes.  Brackets version is Release 1.4 build 1.4.0-16380

Chrome Version: Version 44.0.2403.125

[2015-08-03 22:07] ravindrababukota commented on #11539
This is happening under Windows7 Enterprise.

[2015-08-04 05:39] sedhuait commented on #11519
@abose : No error in the console and also live preview is not working as well.  Please find the logs below.

[code]

[2015-08-04 07:48] nethip commented on #11539
@ravindrababukota This might have got fixed with this PR https://github.com/adobe/brackets/pull/11505, which is not merged to master yet. Will you be able to pull this PR, in which case you need to run Brackets from source, and see if it helps

[2015-08-04 10:38] MarcelGerber commented on #11536
That's a limitation we can't avoid. Notice that the Brackets Dev Tools don't have much to do with your actual Live Preview session - they will show you your webpage's console messages, but otherwise, everything you do in there (e.g. execute a command) happens within Brackets and not on your webpage.
Notice though that it still gives you file and line of a console message.

Assuming you have `File

[2015-08-04 11:40] makzav opened #11541 "Extract for Brackets crash on Windows 7"
Brackets 1.4 crashes when I press on "Open a PSD..." button or Help -> Sign In to Creative Cloud.

DMP files:
http://1drv.ms/1N73mYT
http://1drv.ms/1N73pUE

[2015-08-04 12:18] sahilr2050 opened #11542 "Add New Theme Like CodeLobster"
There are many users who use CodeLobster for PHP Development i am one of them. I can;t adjust my eyes with all other theme except codelobster i want to use Brackets from now onward but the problem is theme for me. I hope you will understand my problem and make perfect and same theme like CodeLobster PHP Edition.

[2015-08-04 12:24] sahilr2050 opened #11543 "Issue in all POPUP"
Please check below Screenshot image.

There is a problem in every popup. When i try to install any extension or theme or change the setting the popup with White Color is occur. i can't see Text and Buttons when its come.

![screenshot from 2015-08-04 17 49 21](https://cloud.githubusercontent.com/assets/10128422/9060463/c6111246-3ad1-11e5-8318-d56c9a1abd01.png)

[2015-08-04 12:34] THPUG commented on #11536
Thank you for the quick answer, The experimental Live preview is not working with PHP server files only with simple HTML, so it is not possible to benefit from it.

Thanks again!

[2015-08-04 12:54] tanguyvda commented on #7555
Windows : 8.1
Brackets : Version 1.4 édition 1.4.0-16380 (release 273804eb3)
Computer : asus UX301LA

Taskbar is still locked down while Brackets is maximized using auto-hide feature from windows. Doesn't work neither from the bottom nor the other sides. I need to press windows key or minimized brackets to make it shows up.

[2015-08-04 15:24] ravindrababukota commented on #11539
@nethip With the merge PR #11505, we are not having the issue.

[2015-08-04 15:24] #11539 closed

[2015-08-04 21:45] manderson23 commented on #11491
Thanks for the quick turnaround.

[2015-08-05 07:15] rroshan1 commented on #11543
@sahilr2050 Can you please share the console logs when you encounter this issue.
Also, the issue looks to be because of some faulty extension. If you don't have too many extensions installed, can you try disabling extensions (in the installed tab) one by one to find the faulty one.
Let us know if this solves your issue.

[2015-08-05 10:25] sahilr2050 commented on #11543
Actually i am using ubuntu 15.04  and i don't know about bracket console. i disable all extensions and restart brackets but the new problem is IT'S HANG EVERY TIME.

One More Thing is when I DIRECTLY OPEN FILES FROM "FIREFTP" Or "FILEZILLA"  Brackets is open but there is PAST FILE WHICH IS OPEN FROM LOCAL FOLDER. Files are always show from SELECTED FOLDERS This is not Good IDEA.

[2015-08-05 12:57] jaykay08 opened #11544 "An Update all button for extensions?"
I miss update all button for extensions. I think it will be useful. Also, the updation/installation of the extensions could be done at background? Although it takes ~7 seconds per extension but gets irritating when updating 5 or more extensions one by one.

[2015-08-05 13:17] DCRichards opened #11545 "Reloading brackets causes a crash and requires a force quit"
### Description

Reloading Brackets (with or without extensions) causes Brackets to crash and not reload the project view. Users are then unable to refresh after this and must force quit.

### Steps

1. Open a project in brackets
2. Go to Debug > Reload with (or without) extensions
3. Reload begins but view does not reload and stays blank, the user is then unable to reload and Brackets must be qui

[2015-08-05 13:42] JulienJo commented on #10270
Hi! The problem seems to be still there: on an PC AZERTY keyboard.
If I want to do this  `}`, I have to do `AltGr` + `=`,  and when Extract if open, it zooms.

[2015-08-05 17:28] wyattbiker opened #11547 "Change width of gutter."
I find the width of the gutter (where code line numbers appear) a bit too wide.I tried to find to fix it in CSS files but couldn't locate it.  Which file(s) would I be looking at?

I navigated into the Brackets.app content folder but wasn't sure where to look.

Thanks

[2015-08-05 20:45] kingIZZZY opened #11548 "Extract PSD should support Artboard"
A PSD with artboard results in just an image preview, no layers or anything.

Edit: https://forums.adobe.com/message/7762557

[2015-08-05 20:51] UKRNAZ commented on #11395
I had the same problem, to solve it I deleted brackets and deleted folder C:\Users\%username%\AppData\Brackets (or C:\Users\%username%\AppData\Roaming\Brackets) then I installed brackets again and everything was ok

[2015-08-06 07:54] petetnt commented on #11545
#11505 should fix this

[2015-08-06 08:33] whysqwhw commented on #11361
I think the scene is supported . you can see that via ADT push function.

[2015-08-06 09:13] whysqwhw opened #11549 "Directory is still being used, after you close the file in it."
This scene is hard to describe:
1. open a file in a directory via context menu 'Open with Brackets ',
2. close the file,not close the Brackets.
3. move the directory.
you will find that the directory is still under using.

[2015-08-06 13:20] abose commented on #11436
Marked as high priority as this could halve the cache size in large projects.

[2015-08-06 16:16] #11536 closed

[2015-08-06 16:59] MarcelGerber commented on #11376
Confirmed this works on master, now that we run the latest CM version again.
Closing. You'll get this fix in Release 1.5

[2015-08-06 16:59] #11376 closed

[2015-08-06 17:11] MarcelGerber commented on #11549
Which OS are you on? For me on Windows, I can even move the file while it's still open in Brackets.

[2015-08-06 17:49] the1nikola opened #11550 "Live Preview not working - no selected (blue) borders"
I don't know what caused it, possibly installing Windows 10, as brackets still worked for me on friend's computer on Win 7; including with the same page I'm coding - only html and css.

What doesn't work?

Live Preview starts up and is live, though it doesn't mark what I've selected in the code with those blue borders. Also, Live Preview crashes much more often ("Live Preview was cancelled because

[2015-08-06 18:02] tbarko opened #11551 "Brackets disappears from taskbar in Win8, flashes on & off - live preview slow 2 update"
Using version: Release 1.4 build 1.4.0-16380 (release 273804eb3) in Windows 8
Works fine for a while then at some undetermined point it gets "weird." Flashes briefly, disappears from the taskbar so that I have to use alt/tab to switch back and forth between it and Chrome - because I can no longer access the taskbar (from Brackets) by moving the mouse to the bottom of the screen and when in Chrome

[2015-08-06 19:12] MarcelGerber opened #11552 "Dialog telling you to reload Brackets in order to update extensions is no longer shown"
1. Open the Extension Manager
2. Update one of your extensions (if you don't have any extension to update, edit the package.json of one so it'll show an update. For example, change `brackets-git`'s local version to `0.14.27`)
3. Close the "Installation finished" dialog
4. Close the Extension Manager

Result: No dialog shown
Expected: A dialog telling you to restart Brackets in order to actually up

[2015-08-06 19:35] nethip commented on #11525
@MarcelGerber You were right about the `IsTextUnicode` Win32 call that could be the possible reason for the failure. The thing is, detecting the encoding of a file, without BOM, is a very difficult task and is not fool proof. I checked file encoding detection code in Dreamweaver and it seems very complex.

@petetnt Thanks for trying out various steps in nailing down the problem. Saving with BOM se

[2015-08-06 19:40] MarcelGerber commented on #11552
That's how it used to look (Release 1.3 shell):
![image](https://cloud.githubusercontent.com/assets/2641501/9121588/7e3107ac-3c83-11e5-9de2-0ebb8d230cef.png)

That's how it looks now (Release 1.4 shell):
![image](https://cloud.githubusercontent.com/assets/2641501/9121583/70d2c9ba-3c83-11e5-8d98-c9ccf753f9a6.png)

Look for the different values of `installationStatus`. It looks like `ExtensionManage

[2015-08-06 19:53] MarcelGerber commented on #11550
Just to sort the simple things out, could you just check that "View > Live Preview Highlight" is still checked?

[2015-08-06 20:04] MarcelGerber commented on #11525
@nethip Notepad++ has a good encoding detection, which is not ultra-long at least (it's not by any means comprehensble, but I guess that's simply the nature of encodings):
https://github.com/notepad-plus-plus/notepad-plus-plus/blob/85c728573e0c81ff9df7a1adf4b1934fb01661e7/PowerEditor/src/Utf8_16.cpp#L182-L232 (plus a ASCII/UTF8 distinction [a few lines above](https://github.com/notepad-plus-plus/n

[2015-08-06 20:37] zaggino commented on #11552
@MarcelGerber can you check the PR?

[2015-08-06 20:56] the1nikola commented on #11550
Thank you :D
What solved the problem was toggling it on and off (but a reinstall didn't...)

[2015-08-06 20:57] #11550 closed

[2015-08-06 21:29] VitorLuizC commented on #11545
Same issue here.

* Brackets 1.4
* Windows 10 Pro 32bits

[2015-08-06 21:48] HanSolo0001 commented on #11519
@sedhuait Do you have Teamviewer so I can take a  look at the files Brackets is using? Teamviewer is  free software that lets you or someone else remotely connect to your computer or another computer. Sometimes people (like me) need to physically see what's happening in order to further help with the issue. I would like to see it, since you and @abose have already gone over lots of console logs, s

[2015-08-06 21:50] HanSolo0001 commented on #11517
@tofanelli Hey did you go into the menu settings and check the "Experimental Live Preview"? I have that checked on mine and whenever I'm in a Live Preview mode on my Google Chrome it works fine.

[2015-08-07 01:27] beautyfree opened #11554 "Adobe Extract and css precompilers"
I use the stylus instead of css and i can't use Adobe Extract. I think this is a serious disadvantage, because many people use precompilers.

[2015-08-07 05:02] shohan4556 opened #11555 "How to count, number of times downloaded an extension or theme from Bracket registry ?"
How to count, number of times downloaded an extension or theme from Bracket registry ?

[2015-08-07 05:04] abose commented on #11551
Can you try `file> enable experimental live view` ?
Also can you get the console logs at `debug>show developer tools`

[2015-08-07 05:06] abose commented on #11552
#11553 fixes the issue.

[2015-08-07 05:14] abose commented on #11555
@shohan4556 You could get the active usage data of extensions in the wiki page https://github.com/adobe/brackets/wiki/Health-Report-Data
This is updated monthly. If this suffices your use case, please close the issue.

[2015-08-07 05:28] petetnt commented on #11525
Can't comment on Notepad++'s method from a technical perspective, but in practice N++ has worked as an general "solve this encoding problem" workhorse for me for years. :+1:

[2015-08-07 05:42] nethip commented on #11525
@MarcelGerber Thanks for the pointer. It looks like a good place to start this activity. Hopefully, we will be able to map Win32 calls in the repo to their Mac and Linux equivalents.

[2015-08-07 05:51] nethip commented on #11545
This is fixed now in master. Please run Brackets from source, until this is available in 1.5.

Feel free to open the issue, if you are still seeing it.

[2015-08-07 05:51] #11545 closed

[2015-08-07 06:02] sedhuait commented on #11519
@HanSolo0001 :Yes I have. When are you available? It can be today (6 hrs left)  or Monday.

[2015-08-07 06:37] nethip commented on #11401
@mackenza @rawat11 That's a good idea. It is a simple change too. @ryanstewart Do we want to add this feature of opening defaultPreferences.json even if `preferencesView.openPrefsInSplitView` is set to `false`

 Here are couple of things I think need to done, (which I felt after using this feature for long time).

1) As per @MarcelGerber 's suggestion, we have to make sure that `defaultPreferences

[2015-08-07 09:24] whysqwhw commented on #11549
win7.
yes,but I said move the directory.

[2015-08-07 11:14] shohan4556 commented on #11555
:+1:

[2015-08-07 11:15] MarcelGerber commented on #11525
Yes, they have a solid detection rate.

A working encoding detection is also the foundation for multi-encoding support, so it doesn't interfere with those efforts at all.

[2015-08-07 11:32] MarcelGerber commented on #11549
Same thing when moving the directory.
Are you able to move it after closing Brackets (to make sure it's actually caused by Brackets, and not some other program)?

[2015-08-07 11:40] MarcelGerber commented on #11555
Notice that the numbers referenced above is the unique user count, which is often times more important than the download count.
To get (daily) download counts, head over to http://brackets.dnbard.com/

[2015-08-07 11:40] #11555 closed

[2015-08-07 11:48] shohan4556 commented on #11555
thanks

[2015-08-07 11:59] shohan4556 opened #11556 "How to install custom font in Bracket"
I want to use custom font in Bracket and I want to make custom font extension, where can I found enough resource ?

[2015-08-07 14:31] hamzamohdzubair opened #11557 "Problem in linking html to css"

[2015-08-07 14:42] #11557 closed

[2015-08-07 14:43] DCRichards commented on #11545
@nethip @petetnt thanks guys, will keep an eye out

[2015-08-07 15:02] Moter8 commented on #8012
Same here, using stylus. It expects comments to be indented too :(

[2015-08-07 15:07] Moter8 commented on #10693
Please don't fix this, stuff like this is feature creep. Further, i don't think many people still use these color names except maybe black and white.

[2015-08-07 19:41] sprintr commented on #11556
You can change font via View -> Themes

You can load custom css file via `ExtensionUtils.loadStyleSheet` to change the font. Have a look at the [docs](http://brackets.io/docs/current/modules/brackets.html) and this [wiki](https://github.com/adobe/brackets/wiki/How-to-write-extensions) page.

[2015-08-07 20:04] thany opened #11559 "Can't type anywhere"
When no document is open, any kind of input box anywhere in the program is readonly. I can't type any text in them. Happens with and without plugins. Can't really say much else about it, unfortunately.

Tested on Windows 7 x64, Brackets 1.4 (and 1.3 and 1.0 actually).

[2015-08-07 21:08] thany opened #11561 "Selection is lagging behind"
When selecting a couple of lines of text, I notice the selection highlight is lagging behind the mousecursor. It's gotta be something like 100-200ms behind, making it noticable. The reason is... It's super-slow! CPU usage bumps to 100% while dragging to select text. In any kind of file. I don't see the console being spammed or anything.

I'm not really on a slow computer, either. Okay, it's not to

[2015-08-07 21:11] thany opened #11562 "Reloading may crash"
I've had several instances where reloading Brackets will crash it with a "Brackets stopped working" message from Windows. Just hitting F5 inside of Brackets occasionally makes it crash like that.

After the crash, the Brackets chrome remains behind, unclosable. Only option is to kill it (again!) manually by pulling up the task manager, finding brackets, killing it, and finally restarting it.

Brac

[2015-08-07 21:25] tbarko commented on #11551
Thanks for the reply. Worked a few hours this morning in it and guess
what - no problem. Then this afternoon it's back to its old tricks.
Couldn't see how to save the console log, so I copied & pasted it into
WordPad (attached). I saw a couple of broken links there as a result of
this file being built (before revisions) on a Boilerplate template and I
hadn't put some of the >js files in my js fold

[2015-08-07 22:33] HanSolo0001 commented on #11519
Hey @sedhuraja are you available this Sunday say about 8:00pm EST?

On Friday, August 7, 2015, sedhuraja <notifications@github.com> wrote:

--
Thanks,
 Daniel

[2015-08-08 01:31] shohan4556 commented on #11556
thanks :+1:

[2015-08-08 01:53] CoWinkKeyDinkInc opened #11563 "Resizing <textarea> using col and row does not work in Live Preview"
This only works until you refresh the page using the refresh button.  I am on Mac OS X using the 1.4 build.  If you resize the textarea using the col and row like, `<textarea row="3" col="20>text</textarea>`, it does not instantly refresh in Brackets with the live preview.

Using `height` and `width` in CSS still works fine.

[2015-08-08 10:06] haiderali2385 commented on #10611
www.cash-time44.com

[2015-08-08 10:56] petetnt commented on #11562
This has been fixed in #11505 (you can try the master branch if you want to test it out)

[2015-08-08 17:03] genericandy opened #11564 "Move Line Up / Down Error"
When I try to use the keyboard shortcut for Move Lines Up / Down (Ctrl+Shift+Up/Down) in a Javascript file, it selects the next line as well with each key click and moves that line too. This appears to be connected to the keyboard shortcut & not the command itself. If I use the command on the pulldown menu, it works as expected.

I tried with Extensions disabled & it still occurs.

I remapped 'edi

[2015-08-08 23:27] CoWinkKeyDinkInc commented on #11563
Never mind, Chrome or Brackets is messed up on my computer.  It works on my other mac.

[2015-08-08 23:27] #11563 closed

[2015-08-09 07:48] Globegitter opened #11565 "Commandline tool broken on Mac 10.10"
I just updated to brackets 1.4 and when running `brackets .` in any folder it doesn't open anything. For a second I see 'index.html' in the title, than it flashes, shows an empty project an does not respond to any interaction. Force quit is the only option.

[2015-08-09 10:28] K-Thompson commented on #11162
@prksingh, @nethip, this issue looks to be fixed. Can't duplicate the problem in v1.4. However, code hinting an parsing valid JavaScript file is still a problem. I had v1.4 opened the first time for about 30 seconds and the dialog announcing that a file can't be parsed opened. Perhaps this won't continue to happen with v1.4, but yesterday, with v1.3, while working on the same project, throughout t

[2015-08-09 10:57] K-Thompson commented on #11271
@nethip how does one get a password for the Bracket's Slack channel?  Note: From the Brackets.io site, if one clicks "Support", there is no mention of Slack on the landing page.

[2015-08-09 11:31] tomhumphrey opened #11566 "Brackets 1.4 freezes on focus of js file"
Every time I open a javascript file Brackets seems to hang for about 30 seconds before being useable again. This is happening on OS X El Capitan.

[2015-08-09 13:34] hussainb opened #11567 "Show the Installed extensions tab by default instead of the Available tab when opening the extensions manager."
Just a thought,
On opening the extensions manager window, the `Available` tab is selected by default and this starts downloading the list available from the extensions registry.
This is sometimes not needed when I would just like to review an already installed extension.

Changing the default panel to `Installed` and letting the user to load the extensions on his consent would reduce the waiting t

[2015-08-09 16:26] redmunds commented on #11564
Do you have any extensions installed? Maybe that shortcut is getting mapped to another command. Does it still happen after *Debug > Reload Without Extensions* ?

Try installing the Display Shortcuts extension to see shortcut mappings.

[2015-08-09 16:48] genericandy commented on #11564
Yeah I did that. I tried a reload without Extensions & it still occurs.

[2015-08-09 17:00] MarcelGerber opened #11568 "JS Code Hints won't work when there's ".." in a HTML file"
1. Take the HTML below and paste it into a HTML file
2. In line 4, write out `test.`
3. Remove the two trailing dots and save
4. Restart Brackets
5. Repeat step 2

[code]

Result:
In step 2, you don't get JS Code Hints, whereas in step 5, you get Code Hints

[2015-08-09 19:07] #11556 closed

[2015-08-09 20:12] MarcelGerber commented on #11568
For this to work, we need a Tern update (this issue was fixed with Tern commit https://github.com/marijnh/tern/commit/2863d70864e679086e72e487ee66a8b60318984c#diff-540f19149eab02b91106eb3e07eaeceeR1220).

I'll look into updating Acorn & Tern.

[2015-08-09 21:07] sprintr commented on #11200
I believe this can now be closed since all the checklist items are done.

[2015-08-09 23:19] K-Thompson opened #11570 "Code Hints Unreliable"
For me code hints are still unreliable after upgrading to v1.4 on two **Windows 7** computers. In fact, today, it has not worked at all. I've tried to exclude files and folders, in the hope that reducing the number of files scan would solve the problem. I install v1.4 on one computer as a clean install. On the other computer, I installed over v1.3.

1. I think on Windows 7, the file exclusion feat

[2015-08-10 02:26] K-Thompson opened #11571 "Issue with plugin enabled status discrepancy"
Brackets 1.4 running on Windows 7.

These two screen shots shows that the bracket.json file (as accessed via the new open preferences feature) show one the TODO plugin disabled. However, the extension manager shows it as enabled.

![brackets-jason-not-enabled-extension](https://cloud.githubusercontent.com/assets/6936008/9158478/78fa1418-3ee5-11e5-9cf6-e4f412bf538e.png)

![brackets-extension-manage

[2015-08-10 02:28] K-Thompson commented on #11568
@MarcelGerber  you may want to monitor this issue #11570.

[2015-08-10 02:35] LuanGB commented on #11424
I mean, you could provide terminal access inside of the application... It was supposed to be really useful...

[2015-08-10 02:36] LuanGB commented on #11424
Specially for rails developers... it was compete directly with other ide's as rubymine...

[2015-08-10 04:28] Mahesh93 opened #11572 "Open file with in application it crashed in Angular JS"
Application have download and upload option. while open the downloaded file or taking picture by camera in the application as well as the file have large size means the whole application crashed and restart itself. Can anyone suggest solution for this?

Thanks in advance.....

[2015-08-10 05:58] abose commented on #10693
As the hints are per W3c specification, This is expected behavio[u]r. Since brackets only impliments the standard, we cannot take this change unless the w3c spec says so. Closing.

[2015-08-10 05:58] #10693 closed

[2015-08-10 06:05] abose commented on #11551
Thanks @tbarko . I cant see the attachment as you might have replied by mail. If you face this problem again, sent the console logs directly as a reply to this comment.

[2015-08-10 06:06] abose commented on #11200
Thanks @sprintr . Closing as done.

[2015-08-10 06:06] #11200 closed

[2015-08-10 06:17] abose commented on #11571
The extension disable feature of brackets is a master switch which will disable the extension from being loaded.
The preference, on the other hand, is provided by the extension itself and not a brackets feature. Please log an issue with the extension author referencing this issue. The extension might have to call brackets api's to disable itself. [But enabling it after it gets disabled from a pref

[2015-08-10 06:17] #11571 closed

[2015-08-10 06:23] abose commented on #11424
There is a brackets terminal extension that does this. Also there are several other extensions that adds  shell related functionality in brackets. As brackets is an editor for the web, terminal access might not be a good fit for the basic package. Closing a extension available.

[2015-08-10 06:23] #11424 closed

[2015-08-10 08:03] MarcelGerber commented on #11162
I still get the `Error thrown in tern_worker:undefined is not a function` message in Release 1.4

Luckily, I just tried it with my PR #11569 and it looks like it fixes this case, too.

[2015-08-10 08:05] MarcelGerber commented on #11271
You can get a Slack invitation from https://brackets-slack.herokuapp.com
I guess we should update the Support page to mention that. Thanks for the hint!

[2015-08-10 08:18] MarcelGerber commented on #11271
I just made Slack a first-class means of contact over at https://github.com/adobe/brackets/wiki/Troubleshooting#-still-having-a-problem.
It's still at the very bottom, but hopefully at least a little better.

[2015-08-10 08:26] MarcelGerber opened #11573 "Update Language Support wiki page with examples"
The [Language Support](https://github.com/adobe/brackets/wiki/Language-Support) page, especially the [Defining a new language](https://github.com/adobe/brackets/wiki/Language-Support#defining-a-new-language) part, could use some improvements.
The aforementioned section does not contain any examples of how exactly to "load it using require(), register it with CodeMirror using CodeMirror.defineMode(

[2015-08-10 09:04] whysqwhw commented on #11549
Have a try follow the describe,please.

[2015-08-10 12:35] bhollan commented on #8355
@FezVrasta How did the test(s) go?  Have you had the crash since this?

@peterflynn Should this be closed/merged?

[2015-08-10 14:28] Samciu opened #11575 "PSD can't be loaded if the file name of PSD has Chinese characters"

[2015-08-10 15:16] FezVrasta commented on #8355
Sorry never had crashes again, I have switched to Mac and here everything works great :/ sorry

[2015-08-10 18:52] MarcelGerber commented on #11570
If we're lucky, #11569 helps fix this issue, too.
I'd be happy to send you a binary so you can test yourself and report on your findings. Please let me know if you'd like to help test this upgrade.

[2015-08-10 19:33] #8355 closed

[2015-08-10 19:58] MarcelGerber commented on #10865
On #11569, I can no longer repro this issue while I can on master. Looks promising.

[2015-08-10 20:11] petetnt commented on #11573
Oh yeah. that was the page that I was reading some time ago and thought that it needs some work (and then promptly forgot about it...)

:+1:  for nuking the Notes on... section too. (or at least moving it to another document, at this point I'd say it's just noise).

[2015-08-10 21:48] gmccoy42 commented on #11497
I'm having the same issue on Arch Linux

[2015-08-10 23:50] tbarko commented on #11551
The 1st e-mail u sent said "Reply to this email directly or view it on GitHub." so I replied directly & attached the log as an .rtf file. It's too big for an image file. Don't think it'll help much anyway, Brackets has become more & more unstable until I am through with it!! A shame since I loved Live Preview and how it would outline the currently selected element. Very helpful. Too bad it's compl

[2015-08-11 04:20] abose commented on #11551
This could be an extension problem as the logs throws lots of errors from non-brackets core.
Could you go to appdata>delete brackets folder, and see if that works.
NB: This would reset brackets and all prefs/extensions/settings will be removed.

[2015-08-11 04:22] abose commented on #11551
Also enable "file>experimental live preview" as i could see brackets trying to use the old RDP way from the logs for live preview.

[2015-08-11 05:37] sedhuait commented on #11519
@HanSolo0001 : Hey this issue happens only in my work system. So I can give you access only during my office hours. 11AM - 7PM IST.

[2015-08-11 07:48] HanSolo0001 commented on #11519
Hey if it's only in your work system, then it could be your work's Internet
blocking it through their firewall. Have you tried getting in touch with
your IT guys there first?

On Tue, Aug 11, 2015 at 1:37 AM, sedhuraja <notifications@github.com> wrote:

--
Thanks,
 Daniel

[2015-08-11 07:55] sedhuait commented on #11519
@HanSolo0001 : But it works in my colleague's machine. How about Team viewer access now ?

[2015-08-11 10:53] bartwesselink commented on #11504
I will start working on the issue today.

[2015-08-11 11:57] notxalckram opened #11576 "Unknown error on saving .html file"
Since upgrading to Windows 10, every file I open in Brackets gets an 'unknown error' when saving. A temporary fix I've found is opening the same file in another text editor like Dreamweaver, saving it again and then opening back up in Brackets.

[2015-08-11 12:54] tbarko commented on #11551
Tried "experimental live view" as I mentioned above ("Tried experimental live view, but just got an error message telling me to open an html file when there was one already open.") - tried 3 times, got that ridiculous message every time. The only thing about the extensions is - I never installed any beyond the default ones that load with the basic install. And as I said I uninstalled it and reinst

[2015-08-11 13:22] foice commented on #11573
Hello, the example I have been pointed at
https://gist.github.com/sprintr/0a6dafd7204fd4002c39
is a great bootstrap.

I am now seeking for code to have SimpleCode to find empty lines and highlight the whole line and for activating code folding when certain reg-exp are found.

Is line-highlight and code-folding available in SimpleCode? or is it too simple ??

Thanks for reading
Roberto

[2015-08-11 15:03] VitorLuizC opened #11577 "CodeFolding should be centralized."
- CodeFolding appearance should have be centralized when LineNumbers is set false.
- There's a small layout bug on the ActiveLine too.

![print](https://cloud.githubusercontent.com/assets/9027363/9200873/5c3c4f26-4020-11e5-82dd-663c6b0ac618.png)

- Windows 8 Pro 64bits
- Brackets 1.4

Preferences file to get this _bug(?)_:
[code]

[2015-08-11 16:32] Pomax opened #11578 "sort the registry alphabetically"
The current ordering on https://brackets-registry.aboutweb.com/ makes it impossible to browse, or even find what you're looking for. It would benefit everyone if the registry list was sorted alphabetically.

[2015-08-11 18:40] tbarko commented on #11551
Did what you aid: deleted the  entire Brackets folder in C:/Users/Tom/Appdata/Roaming. The program started again for the 1st time since yesterday afternoon, but as soon as I selected "open folder" it started going wacky again. After it became unresponsive I closed it. Now it won't open again even after deleting the appdata Brackets folder a 2nd time. This animated gif is an approximation of what i

[2015-08-11 20:01] MarcelGerber opened #11580 "HTMLSimpleDOM cannot create a DOM without a parent tag"
1. Create a new HTML file with the contents below
2. Open Live Preview (*)
3. In the browser, open the Dev Tools

Result:
![image](https://cloud.githubusercontent.com/assets/2641501/9208705/18f9f9e4-4074-11e5-9d53-ee9fdd694d4d.png)
Only the last node (`<p>`) has the `data-brackets-id` attribute that is crucial for live editing (and highlighting).

\* It doesn't matter whether you use MultiBrowser

[2015-08-11 20:27] MarcelGerber commented on #11580
Turns out this was [a well-considered decision](https://github.com/adobe/brackets/blob/11b663e57c06f471f87ff2f7030b9246bbfea1d9/src/LiveDevelopment/MultiBrowserImpl/language/HTMLSimpleDOM.js#L470), but not one not worth fixing.

Thinking about this, I came up with three possible solutions and could use some feedback:
1. Wrap all top-level `SimpleNode`s in a parent `SimpleNode`, where it's guarante

[2015-08-11 21:16] grantstrotter opened #11581 "Colorblind-friendly colors"
I have mild red/green color deficiency. 3-5% of males have some sort of color deficiency. On the dark theme, the orange and green text colors are hard to distinguish. Maybe go through the UI colors and make sure they're distinguishable with something like one of these?

https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0CB4QFjAAahUKEwi2jame-aHHAhWDUJIKHQ54Cio&url=h

[2015-08-11 22:34] MarcelGerber commented on #11577
cc @thehogfather

[2015-08-11 22:59] thehogfather commented on #10893
Anyone currently working on this? I've got a few  local tests and could send a PR.

[2015-08-11 23:38] reoxb opened #11582 "I can't open local file .html, .js, .css"
I use ubuntu distro, and I can't open a local file with brackets. Just open brackets but not charge my document, and that is so sad...
Pleas fix that.
Just open brackets, GUI interface, but in blank. white screen. without the data

[2015-08-12 03:07] HanSolo0001 commented on #11519
That's interesting. Well sorry I missed you. Let me see if I can get some
screenshot's of my Brackets and send it to you, and if you have all the
files then we'll go from there and try to set up a date and all for
Teamviewer. I'm off work tomorrow (8/12/15 Wednesday). I'm in the Eastern
Standard Time zone (EST).

On Tue, Aug 11, 2015 at 3:56 AM, sedhuraja <notifications@github.com> wrote:

--
Than

[2015-08-12 03:25] HanSolo0001 commented on #11519
Ok was going to get some screenshots, but there would be way too many. So
let's just try and set up a time and date where we can Teamviewer, and
hopefully I might be able to help you out.

On Tue, Aug 11, 2015 at 11:07 PM, Daniel Hildreth <pillarite@gmail.com>
wrote:

--
Thanks,
 Daniel

[2015-08-12 03:30] abose commented on #10893
:smile: Would be helpful if you could sumbit the PR. I didn't get time to work on this yet !

[2015-08-12 03:33] abose commented on #11582
Are you facing issues similar to #11551 ?

[2015-08-12 05:05] sedhuait commented on #11519
@HanSolo0001 : hey how some time on Thursday then? Some time in the early morning of your time (ET). So like 7:00 AM - 9:30 AM ET.

[2015-08-12 14:12] niutech opened #11585 "Show CSS styles of selected element in the order from the most specific to the least specific in Quick Edit"
When in Live Preview mode, I want to easily inspect and edit CSS styles of a selected element using Quick Edit. This is how it looks in Chrome Dev Tools:
![devtools](https://cloud.githubusercontent.com/assets/384997/9225778/85fc1102-410b-11e5-8f51-5b97e77ebf07.jpg)
And this is how it looks in Brackets:
![brackets](https://cloud.githubusercontent.com/assets/384997/9225777/85faf2ea-410b-11e5-82d0-50

[2015-08-12 14:26] thehogfather commented on #11577
sounds related to #10864. Can take a look in a few hours. @peterflynn might have a good idea why this is happening?

[2015-08-12 20:30] rvarbanov commented on #10467
Does anyone know of an extension that does that?

[2015-08-12 21:48] HanSolo0001 commented on #11519
That unfortunately won't work for me. Would next Tuesday (8/18/2015) or
Wednesday (8/19/2015) work say around 11am EST?

On Wed, Aug 12, 2015 at 1:06 AM, sedhuraja <notifications@github.com> wrote:

--
Thanks,
 Daniel

[2015-08-13 07:32] nethip commented on #11551
@tbarko Sorry that you are running into this issue. This seems to be a render process,responsible for loading up the editor HTML, crash. Make sure you don't have any stray Brackets/node processes running in the task manager. Also you could restart the system, clear preferences, and then try bringing up Brackets.

[2015-08-13 07:41] nethip commented on #11585
@niutech If I understand correctly, this has to do more with enhancing quick edit, to be showing classes applied to an element as shown in google dev tools, than the live preview feature itself, right?

[2015-08-13 07:44] nethip commented on #11576
@notxalckram Could you post the console log after you run into the "unknown error". Also will you be able to share the file with us?

[2015-08-13 07:49] nethip commented on #11575
@Samciu There are known issues with double byte characters, in the extract context. We have fixed this in the backend. However, there are some changes we need to take up on the client side. We are on it.

[2015-08-13 07:56] nethip commented on #11561
@thany are you noticing this lag with all sorts of projects/files? I think it is some extension/module that is causing the lag in the selection. Could you rename your Brackets preferences folder inside appdata(just so that you don't loose any preferences), and launch Brackets without extensions? The next possible thing I would do, is disable code hints by using the switch `showCodeHints: false`, j

[2015-08-13 07:59] nethip commented on #11565
@Globegitter Thanks for reporting this. This is a known issue. You might want to run the "Install Command Line shortcut..", menu again.

[2015-08-13 08:01] notxalckram commented on #11576
Hi again, it appears to be files stored on a network drive. When I use files stored on the computers internal HDD it works perfectly fine.

Also, how to do you post the console log?

[2015-08-13 09:33] tallandroid commented on #10717
Is there an update on the issue ? If not , I would like to pick it up.

[2015-08-13 09:48] whysqwhw opened #11587 "memery need gc"
Every time after I press F5, Brackets two process become larger.
It comes slower and slower when I using it.

[2015-08-13 10:17] nethip commented on #10717
@tallandroid Sure! We really appreciate it. Let us know if you require any help on this.

[2015-08-13 10:24] nethip commented on #11587
@whysqwhw Unfortunately we do not have control over the GC of CEF/chromium process. What we have observed is that as and when needed, chromium's GC kicks in and relinquishes any unsused memory.

Reloading Brackets is going to just reload the main html page, which takes care of loading all the required components.

[2015-08-13 10:25] niutech commented on #11585
@nethip Yes, it is the Quick Edit issue.

[2015-08-13 10:29] nethip commented on #11576
@notxalckram Thanks for providing more information on this. You could get the consolde from `Console` tab of dev tools. Dev tools can be opened using`Debug > Show Developer Tools`

[2015-08-13 10:39] MarcelGerber commented on #11519
I just connected to @sedhuait's PC to dive into this issue.
So...:
* The node process is running (it shows up in the task manager and `brackets.app.getNodeState()` doesn't return an error)
* `localhost` is correctly mapped to `127.0.0.1` (and `::1`)
* StaticServer's NodeDomain cannot connect to Node (its `_domainLoaded` is always `false`)

[2015-08-13 11:24] thany commented on #11561
Like I said, this problem persists to a lesser degree when all extensions are disabled. So one or more extensions are contributing to the problem, but the root of the problem already exists in core Brackets.

I'm only getting this problem to show up on my home pc though, which is a tad slower than my work pc.

My work pc is impossibly fast, but even then I can see nearly 100% cpu usage (on 1 core)

[2015-08-13 12:07] bartwesselink commented on #11504
@nethip I don't think I can implement this feature. I'm sorry. I guess I underestimated the complexity of this issue. I'm really sorry.

[2015-08-13 12:14] petetnt commented on #11504
@bartwesselink That's okay, no problem :+1: The issue does require pretty good comprehension of Brackets internals (and externals)

[2015-08-13 13:26] notxalckram commented on #11576
![console-log](https://cloud.githubusercontent.com/assets/8329244/9250731/2fcd5b94-41c7-11e5-8887-358ca5050d36.png)

I've attached the consolelog for you.

[2015-08-13 13:45] abose commented on #11581
Thanks for filing this issue. The themes of brackets are quite extensible. If you are interested in cotributing to A new theme with this in mind, you could do so as a theme.
Adding @MiguelCastillo @MarcelGerber

[2015-08-13 15:05] nethip commented on #11504
@bartwesselink No issues! Completely understand :+1: If you decide to take up this task in the future, let me know and we could collaborate. Thanks for showing your interest in contributing to Brackets!

[2015-08-13 20:00] VitorLuizC commented on #10864
<a href="https://gyazo.com/db7cb0136c4c3ba5ca3649b332c179ac"><img src="https://i.gyazo.com/db7cb0136c4c3ba5ca3649b332c179ac.gif" /></a>

[2015-08-14 02:10] bugs181 commented on #10591
Don't know why this has the "linux only" tag. This issue is apparent on OS X Yosemite (10.10.4) as well. I just installed it and this was the first issue I encountered. I've periodically tried brackets every few months since it's inception. These small bugs are what keep me from using it. I don't remember this bug being one of them in prior releases, however.

[2015-08-14 03:08] HanSolo0001 commented on #11519
So I did some digging with the Node Domain stuff and found this actually on
GitHub. Maybe it'll help? It also has some debugging issues down at the
bottom of the page.

https://github.com/adobe/brackets/wiki/Brackets-Node-Process:-Overview-for-Developers

On Thu, Aug 13, 2015 at 6:39 AM, Marcel Gerber <notifications@github.com>
wrote:

--
Thanks,
 Daniel

[2015-08-14 06:08] nethip commented on #11576
@notxalckram Thanks for the console log.

[2015-08-14 09:48] bananacat2015 opened #11588 "find and replace multiple lines within the project"
Is it possible to add the possibility to mark multiple lines (e.g. the code of several list-items in html) and replace them with other lines in the whole project?
I changed from dreamweaver to brackets and miss this feature...

Thanx

[2015-08-14 16:04] tiwuti opened #11590 "Mac discrete graphics card required."
For some reason brackets switch the gpu from integrated to discrete on my Macbook Pro mid 2010
I know this problem was solved in an other issue entry ( https://github.com/adobe/brackets/issues/5028 ), but only for Macbook Pro 2011 and younger.
Is it possible to solve the problem for a Macbook Pro mid 2010?

[2015-08-14 20:16] macdg opened #11591 "high priority Fix Instalations package Brackets.Release.1.4.64-bit.deb Alta Prioridad Instalacion de paquete Brackets.Release.1.4.64-bit.deb"
The problem is in the package not install result error: "Error in dependency libgcrypt11>=1.4.5" also as well in the package Brackets.1.4.Extract.64-bit.deb show the same error: "Error in dependency libgcrypt11>=1.4.5".
El problema es en el paquete de instalación no instala y muestra el error: "Error. No se puede satisfacer la dependencia: libgcrypt11>=1.4.5" así como también en el paquete Bracket

[2015-08-14 23:15] ganchito55 commented on #11591
There is a problem with libgcrypt11 in Ubuntu, I think that you know Spanish so this web can help you http://ubunlog.com/libgcrypt11-hace-que-spotify-y-brackets-no-funcionen-en-ubuntu-15-04/

You need to download the .deb package and then run sudo dpkg -i package_name

[2015-08-15 02:43] nethip commented on #11581
@grantstrotter Thanks for reaching out us on this. We will working on special themes that would match with windows high contrast themes. We will keep you updated on that.

[2015-08-15 16:04] genericandy commented on #11564
I have worked out what is causing this in Windows 10 but I do not have a solution to fix it as it seems to be an internal error for brackets itself.

If the setting "showCursorWhenSelecting" is set to true, it causes the issue I am seeing. With it set to false, the issue goes away.

[2015-08-15 22:59] ChristianDavis commented on #10530
I had this same issue with Brackets every time it was reopened on login (Yosemite 10.10). Blank HTML, unresponsive menus. Unresponsive shortcuts. Had to quit from dock icon and then relaunch.

I downloaded the source, and ran the "setup_for_hacking.sh" script, to see if the same issue existed outside the Application folder. Now I can no longer replicate the issue. Even after removing the symlink w

[2015-08-15 23:37] csalmeida opened #11594 "Full screen code editor (Suggestion)"
Hello guys,

After using Brackets since the beginning I noticed that many times I really would like to be coding without any distractions or menus, either from the OS or the text editor it-self.

With this in mind I wonder if it would be possible to add a complete full screen mode to the editor?

**Thank you for the time you devote to this project.**

Best,
csalmeida