[2016-11-19 00:32] Anthimos commented on #12927
Here is a screenshot of the Tern demo:

<img width="568" alt="Tern-Demo" src="https://cloud.githubusercontent.com/assets/23564345/20451279/c4a02060-adf7-11e6-96e3-03cb6e4baea7.png">

The argument names are displayed properly and the current argument is being highlighted.

[2016-11-19 11:27] K-Thompson commented on #12918
@ficristo  - no, platform is 64bits Windows 7.

For the mentioned exceptions, clearing the recent list did eliminate them - per #12792

While I have your attention, I'll also mention that I see a lot of deprecated warnings in the debugger. Not sure if I'm an exception (due to upgrading since the sprints) or if these are common and know:

The 1st and 4th warning go away when extensions are disabled

[2016-11-19 12:21] ficristo commented on #12918
We use React so this is expected:
[code]
There are some issues/PR about removing old preferences system, one removed this will disappear.
About the preferences, AFAIK they should be already converted. The deprecation is only about a feature that will go away as a remainder for extension authors who used the old preferences system.
[code]

These depends on your keyboard layout, and so they can appe

[2016-11-19 12:29] ficristo commented on #12924
I don't know what was your issue, but I really doubt Brackets can work on Mac OS below 10.7.

[2016-11-19 12:29] #12924 closed

[2016-11-19 12:39] K-Thompson commented on #12918
@ficristo

Confirmed. I edited my comment and removed them before I saw your reply.

[2016-11-19 13:33] ficristo commented on #12925
I don't know what is your issue but meanwhile you can try https://github.com/zaggino/brackets-electron/releases

[2016-11-19 13:41] mattbaron commented on #12925
@ficristo Thanks.  I do not get the "Brackets quit unexpectedly" error message when shutting down in a normal fashion with the 1.9.0 version you linked to.

[2016-11-19 22:32] ebot1515 commented on #12803
in CSS order your code better so you can find what you want, with spaces like this:
#logo {
margin-left: auto;
margin-right: auto;
ect
}

[2016-11-19 22:48] ebot1515 opened #12928 "Css code wont run on the live preview for some reason."
Hi,
i have been coding HTML and CSS for about 2 months with Codecademy. I just finished my lessons on this languages and started to code for the first time (in brackets). But something isn't right, i just started the Navigation bar for an example website so i get to grips with the Program. I click live preview on the program, but my CSS script didn't work. It just didn't change the websites design

[2016-11-20 01:27] petetnt commented on #12928
Hi @ebot1515!

Your code seems to be working fine for me. Note that the `navigation` part in the CSS is missing the `.` in front (should be `.navigation`) which makes it not point not to the class `navigation`, but to an (invalid) element `navigation`.

Can you share your operating system and Brackets version so we can debug the issue further?

[2016-11-20 08:21] ficristo commented on #12910
There is some discussion of a relative problem here https://github.com/adobe/brackets/issues/12898

[2016-11-20 08:26] ficristo commented on #12882
Closing for now.

[2016-11-20 08:26] #12882 closed

[2016-11-20 08:35] ficristo commented on #12826
Closing since #11182 is tracking a similar problem.

[2016-11-20 08:35] #12826 closed

[2016-11-20 08:37] ficristo commented on #11182
As mentioned in #11182, it would be nice the troubleshooting page talks aboout how to change permissions and how to create a symbolic link.

[2016-11-20 08:41] ficristo commented on #11566
ATM, as already mentioned, Brackets doesn't cope well with big projects.
In the 1.8 release there were some fixes about js code hints, @tomhumphrey could you try to see if it fixes your problem?

[2016-11-20 08:48] ficristo commented on #11463
We are at 1.8 now, if you still have problems please open a new issue.

[2016-11-20 08:48] #11463 closed

[2016-11-20 08:57] ficristo commented on #12578
Closing as extension problem.

[2016-11-20 08:57] #12578 closed

[2016-11-20 09:08] ficristo commented on #12633
As mentioned by @petetnt this seems an AV problem or some issue about your permission settings.
Closing as not an issue with Brackets itself.

[2016-11-20 09:08] #12633 closed

[2016-11-20 09:21] ficristo commented on #12592
If you still have problems please open a new issue.

[2016-11-20 09:21] #12592 closed

[2016-11-20 09:33] ficristo commented on #12266
There should be some extensions which add a context menu to get the path of the file.
Marking as Extension Available.

[2016-11-20 10:28] KamranMackey opened #12929 "Dependency Versions"
I've noticed when looking at the Brackets source code tree under `/thirdparty` that a lot of the dependencies are quite outdated, such as React, Immutable, Lodash, jQuery and a lot of other dependencies. That and when trying to build Brackets using Node.js 7.1.0, it fails at npm install due to the dependency versions in `package.json` being really outdated. Some of the dependencies you guys are us

[2016-11-20 13:03] zaggino commented on #12929
We already moved some thirdparty dependencies to be managed by npm, careful work needs to be done to move more, but I agree with what you've written.

[2016-11-20 14:49] petetnt commented on #12929
Hell @KamranMackey!

I totally agree with you. I outlined the process, updated (most) of the dependencies and created a POC here: https://github.com/adobe/brackets/issues/12006. TL;DR: it's possible, albeit a bit non-trivial and requires a good calibration. There's other things I would want to do in the long run, like getting rid of AMD modules in favor of CommonJS ones, but if Chromium manages to

[2016-11-20 16:12] bokub commented on #12454
If you use git, [Brackets Git](https://github.com/zaggino/brackets-git) is a wonderful extension, that has the terminal feature. You can access it by clicking an icon in the toolbar at the right.
![capture](https://cloud.githubusercontent.com/assets/17952318/20464221/5b84a846-af44-11e6-8b9d-4401598fb8f2.PNG)

[2016-11-20 18:21] xfg commented on #12454
@bokub This extension opens the terminal in separate window, not inside brackets window.

[2016-11-20 18:23] empy26 commented on #12872
I had this problem on Ubuntu 16.04. When live preview was opened something went wrong and everytime i opened chrome the home page was file:///opt/brackets/www/LiveDevelopment/launch.html. Deleting brackets and chrome and all related files i'd found didnt help. So i had to reinstall the whole system to fix this problem.

[2016-11-20 18:51] vadi2 commented on #12872
I still have the issue, but I'm not willing to go to such drastic measures
because of a buggy app.

On Mon, 21 Nov 2016 4:23 am empy26, <notifications@github.com> wrote:

[2016-11-20 22:33] Zainzakie opened #12930 "Brackets not launching via Icon in Ubuntu 16.04 ...."
Hi ,

I have installed brackets in Ubuntu 16.04 LTS but it's not launching via icon. When i write brackets in terminal, it launches. But now via the icon in Unity Launcher.

And the dash is also not searching for brackets.

I have tried installing it again and again

[2016-11-20 22:33] Kakiso opened #12931 "Live Preview won't work"
<img width="442" alt="screenshot_2" src="https://cloud.githubusercontent.com/assets/5156850/20466772/9e5ff906-af79-11e6-9bf7-f0406fbf9cfe.png">

I get this error and don't know why it's happening. Deleted brackets and got it back again - still same thing NO Preview possible. Is there a fix for that or is it me :)

Thanks for your help

[2016-11-21 00:22] zaggino commented on #12930
@Zainzakie try using https://github.com/zaggino/brackets-electron/releases

[2016-11-21 09:06] LennyObez opened #12932 "I can't open more than 2 files per session"
### Prerequisites

* [ YES ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ YES ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ YES ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe

[2016-11-21 10:33] petetnt commented on #12932
Hi @LennyObez,

do you see any errors in developers tools (Debug -> Show Developers Tools -> Console)?

[2016-11-21 12:11] LennyObez commented on #12932
Hey @petetnt,

I would like to take a look in the developers tools but I can't, I restarted my computer and now, it works. But this is the second time it happen to me !

I'll come back if it happen again.

Have a nice day.

[2016-11-21 13:41] lokatsky commented on #11384
![2016-11-21 16 38 59](https://cloud.githubusercontent.com/assets/19574074/20484632/205678c4-b009-11e6-869b-dd21de3da1f6.png)
@nethip
I have the same problem on my Mac. Can you help me to remove that problem?

[2016-11-21 15:40] ddramnauth commented on #12931
Hey usually you would need a index.html file as your default file so that brackets can detect it. Brackets also uses chrome to open your index file in live preview. I'm assuming you did all these things but I just want to make sure. If anything send me a message again so I can help you further. thanks for giving me this opportunity to help you out. :)

[2016-11-21 15:42] ficristo commented on #7963
@madanbn @swmitra can we close this?

[2016-11-21 15:43] ficristo commented on #9345
@madanbn @swmitra can we close this?

[2016-11-21 15:45] ficristo commented on #10133
If you still have problems, please open a new issue.

[2016-11-21 15:45] #10133 closed

[2016-11-21 15:58] ficristo commented on #10807
It seems to me that CodeMirror gives some css classes we don't have styled.
Possibly relevant the comments of @peterflynn at https://github.com/codemirror/CodeMirror/pull/3116

[2016-11-21 16:04] ficristo commented on #10992
Were you able to solve your problem?

[2016-11-21 16:07] ficristo commented on #11025
Based on the stackoverflow link it seems to me you were using some extensions.
It is possible that one of them was culprit.
If you still have problems, please open a new issue.

[2016-11-21 16:07] #11025 closed

[2016-11-21 16:13] ficristo commented on #11405
@madanbn @nethip anything more to do here?

[2016-11-21 16:22] ficristo commented on #11514
The classes are coming from [CodeMirror](https://github.com/codemirror/CodeMirror) and we aren't gonna to change them.

[2016-11-21 16:22] #11514 closed

[2016-11-21 16:31] ficristo commented on #11597
I would not recommend to disable the linting feature, but better to use an alternative linter like ESLint instead of the bundled JSLint.

It should be sufficient to set `linting.enabled` to false to disable the linter.

[2016-11-21 16:31] #11597 closed

[2016-11-21 16:36] ficristo commented on #11720
I cannot reproduce, if you still have problems please open a new issue.

[2016-11-21 16:36] #11720 closed

[2016-11-21 19:21] Marcomah commented on #11588
Come on guys!
I would work on it myself if I knew how to code.
I have been waiting for the multiple lines find and replace since this editor came out.
Just like bananacat2015 (I share your pain man), I have to open dreamweaver to do multiple lines find & replace project wide... What A Drag!

There must be thousands of other html/css designers out there who like Brackets but wish they could do mult

[2016-11-21 20:43] ctants commented on #12864
I have the same issue.

Release 1.8 build 1.8.0-17108
OS X El Capitan 10.11.6

Anything else I can post here to help?

[2016-11-22 01:32] a-axton opened #12934 "Enhanced live preview element highlight"
I've created a library for a personal project that duplicates the functionality of the chrome css box model inspector. It highlights width, height, border, padding and margin. I think this could be a very powerful debugging tool when live editing css files.

Demo: http://a-axton.github.io/box-model-inspector
Repo: https://github.com/a-axton/box-model-inspector

I was wondering if this would be a d

[2016-11-22 02:39] aqbarid commented on #11384
![screenshot_102](https://cloud.githubusercontent.com/assets/9152125/20508833/f3e560e6-b096-11e6-8217-3e61a8052aa6.png)
@nethip Hello, i have the same problem here, i've tried just like @glen-84 do, but it not works for me.
i also trying to reinstall bracket and node with other version but it's look like not working on me

[2016-11-22 04:23] ctants commented on #12864
Ok, I think I found the issue. When the project folder path has parenthesis or brackets the folder tree doesn't get updating. For example "User Folder/Projects (New)/Project1". This wasn't an issue in Brackets 1.7.

[2016-11-22 04:46] Nuc1eoN commented on #12260
Hi, I get the exact same error. Can you please reopen?

[2016-11-22 04:57] swmitra commented on #9345
Yes @ficristo. We can close this issue as there are work items as part of Brackets core.

[2016-11-22 06:29] swmitra commented on #12926
@AgamlaRage As @petetnt has already marked this as an Extension Idea, there is nothing which can be done from Brackets core. You can write an extension by using a CodeMirror overlay parser and some custom styling to have the desired code coloring for log files.

[2016-11-22 06:30] swmitra commented on #12926
Closing the issue.

[2016-11-22 06:30] #12926 closed

[2016-11-22 06:37] swmitra commented on #12934
@a-axton Good job on the box-model inspector 👍

Brackets does very little in terms of DOM inspection/interaction. This is primarily a code editor with the addition of live-preview where a developer can preview the changes in browser.

I would suggest to come up with an extension which can add this functionality to existing live preview. If you have any doubts regarding how to write a brackets exte

[2016-11-22 06:40] swmitra commented on #12928
Hi @ebot1515 , Can you please share the requested details by @petetnt?
Without those details and a confirmation from your side we can't debug this issue further.

[2016-11-22 06:47] #9345 closed

[2016-11-22 10:49] soviac commented on #12931
I've been getting this error/popup since I updated to Brackets 1.8 (build 1.8.0-17108). Works flawlessly before. Even if I switched between projects it worked every time. Now it might work randomsly if I close and reopen Brackets. Mostly it dosn't.

[2016-11-22 13:24] petetnt commented on #12864
@ctants Interesting. I'll investigate.

[2016-11-22 16:35] ToBeM12 opened #12935 "brackets duplicate line issue"
sometimes when i use (ctr+d) to duplicate line it just shift the line to the right (like i pressed tap).
how to solve this

[2016-11-22 18:24] ficristo commented on #12898
@nerk could you try to run from source and test #12933 to see if it fixes your problem?

[2016-11-22 19:27] maxvizual commented on #11272
just replace node.exe from 1.7 version

[2016-11-22 20:35] nerk commented on #12898
@ficristo Yes, the error is gone after merging #12933.
:+1:

[2016-11-22 22:08] metarhyme opened #12936 "Linux Mint bug"
O.S. Linux Mint 18 'Sarah' "Xfce 64-bit" - installation problem

http://brackets.io correctly selects Brackets.Release.1.8.64-bit.deb which downloads, however a libgcrypt11 unsatisfied dependency prevented installation by software manager.  By installing Transitional libgcrypt11-dev and then using the via PPA for Ubuntu instruction at
http://www.webupd8.org/2013/11/install-brackets-in-ubuntu-via-p

[2016-11-22 22:40] zaggino commented on #12936
@NathanJPlummer wrote a guide for troubleshooting Linux which is linked in README - https://nathanjplummer.github.io/Brackets/

This is a known issue

[2016-11-23 00:13] metarhyme commented on #12936
Thanks for the link to doing what I did, almost - I hope it helps others.  Attempting to install 1.8.64-bit.deb after Transitional libgcrypt11-dev obtained and installed by software manager also didn't work - I had to go the PPA command line route.  After Brackets installed I tried to uninstall the dummy Transitional libgcrypt11-dev obtained by software manager from the Mint repository but that hu

[2016-11-23 05:44] zaggino opened #12937 "CodeMirror update"
@adobe/brackets-committers

Latest master of CodeMirror doesn't contain built `codemirror.js` in the lib directory: https://github.com/codemirror/CodeMirror/tree/master/lib

Since we'll definitely want to upgrade for next version there are two options:

a) add a task to our grunt scripts that'll build `codemirror.js` by calling `npm run build` in the CodeMirror submodule
b) use CodeMirror as npm d

[2016-11-23 06:03] Yeswanth-JG commented on #11519
@sedhuait @HanSolo0001 ...

I had seen few comments mentioning to create a folder in bottom right....  or folder deletion and re-installing...

Now I got the issue after updating the app. Even I have issues with extensions...

Below screenshot of "failed live preview".

![image](https://cloud.githubusercontent.com/assets/5590842/20552364/27c93ade-b170-11e6-9bed-f5d49461ba8a.png)

Below screenshot.

[2016-11-23 08:58] petetnt commented on #12937
Voting for b)

[2016-11-23 09:50] swmitra commented on #12937
My vote for 'b'.
Off topic - We should do the same even for 'tern'.

[2016-11-23 14:42] lawfets opened #12938 "typing a tag gives an autocomplete </a> next to it"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
          yes I have no extentions
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
         yes, didn't find the same problem elsewhere
* [x] Did you read the [Troubleshooting guide]
         yes, I did(https://github.com/adobe/brackets/wiki/Troubleshootin

[2016-11-23 17:20] mshantic commented on #12925
I have the same issue too! But none of files get corrupted or anything. I just don't understand why the program would "quit unexpectedly" since I did quit the program myself.

[2016-11-23 17:38] Solid89 opened #12939 "Request: Responsive Design Tools"
A feature that would make coding much easier is the ability to easily add @media and max min break points. Also the ability, via "inspect", to hover a preview section and click to be directed to that code. There is currently a plugin found here https://github.com/swmitra/html-designer but it is buggy. This is a feature that should be incorporated directly into Brackets.

(if this is not the correc

[2016-11-23 18:35] ficristo commented on #12936
Closing as dupe of #10255

[2016-11-23 18:35] #12936 closed

[2016-11-23 18:40] ficristo commented on #12640
With #562 and #589 I can compile and run master on Linux, I don't know how much is stable but could be a start.
That said this work was too much time consuming for me so I gave up.
For people on Linux the best alternative is simply to use brackets-electron.

[2016-11-23 18:40] #12640 closed

[2016-11-23 19:05] ficristo commented on #12245
Try latest release, and if you still have the problem, please open a new issue.

[2016-11-23 19:05] #12245 closed

[2016-11-23 20:28] zaggino commented on #12937
@petetnt @swmitra
Please also have a look at related https://github.com/adobe/brackets/pull/12933
confirmed to work in https://github.com/adobe/brackets/issues/12898#issuecomment-262322859

[2016-11-23 23:17] zaggino commented on #12937
PR here https://github.com/adobe/brackets/pull/12940

[2016-11-24 02:40] twang2218 commented on #12461
As #12471 has been merged and will be released as part of 1.8, I'm closing this issue.

[2016-11-24 02:40] #12461 closed

[2016-11-24 06:26] garvel opened #12941 "libgcrypt11"
Again. Remove this useless addiction.

[2016-11-24 06:30] zaggino commented on #12941
Duplicate of https://github.com/adobe/brackets/issues/10255

[2016-11-24 06:30] #12941 closed

[2016-11-24 18:26] ficristo commented on #12775
Fixed in https://github.com/adobe/brackets/pull/12720

[2016-11-24 18:26] #12775 closed

[2016-11-24 18:31] ficristo commented on #12917
Can you reproduce if you simply save the file and go in suspension mode?
I don't think we have a tmp folder, so if you cannot reproduce it seems to me the problem was the battery failure.

[2016-11-24 18:39] ficristo commented on #12524
Extensions problems should be opened on the repository of the extension.

[2016-11-24 18:39] #12524 closed

[2016-11-24 18:49] ficristo commented on #12348
Please try latest release and if you still have the problem, open a new issue.

[2016-11-24 18:49] #12348 closed

[2016-11-24 19:03] Tymek commented on #10214
v1.8.0-17108
http://imgur.com/a/v2b7f
When I focus on different window it works, but when i focus Brackets scrolls goes crazy. It's OK with mouse, touchpad specific issue.

[2016-11-24 19:10] ficristo commented on #12257
Dupe of #11637

[2016-11-24 19:10] #12257 closed

[2016-11-24 19:10] ficristo commented on #12451
Dupe of #11637

[2016-11-24 19:10] #12451 closed

[2016-11-24 19:14] ficristo commented on #12150
#12110 landed. Closing

[2016-11-24 19:14] #12150 closed

[2016-11-24 19:18] ficristo commented on #12094
I think you need to try the 32 bit version.

[2016-11-24 19:18] #12094 closed

[2016-11-24 19:26] ficristo commented on #12045
I dupe this against #12320, which I find i bit more clearer.

[2016-11-24 19:26] #12045 closed

[2016-11-25 02:07] nico22sa commented on #12917
It was a battery failure for sure. It ran out of energy while suspended.
Hole linux recovered from failed resume suspension mode. But brackets just
dropped out the file. I am trying to locate the file, but do not know where.

thank you for answering.

2016-11-24 15:31 GMT-03:00 ficristo <notifications@github.com>:

[2016-11-25 06:12] thany commented on #10214
@MarcelGerber so that's still wrong. It doesn't respect the OS setting, and not only in Windows if it's a hardcoded pixel amount.

Brackets may be built on top of a WebKit engine, but it's not a website. Scrolling a configured number of lines is perfectly doable, because the height of one line is known.

[2016-11-25 07:49] #2818 closed

[2016-11-25 07:55] #5706 closed

[2016-11-25 07:58] #1451 closed

[2016-11-25 08:03] #7213 closed

[2016-11-25 10:24] racnagore commented on #11384
Hi! I had the same problem in Brackets 1.8, but Extract still works in 1.7.

[2016-11-25 11:03] petetnt commented on #12935
Hi @ToBeM12,

can you give us a repeatable small sample? Does this occur without any extensions (Debug -> Launch Without Extensions)?

[2016-11-25 11:14] lokatsky commented on #11384
Oh! Great! Thanx a lot. It's really working in 1.7.

[2016-11-25 12:42] parsibox opened #12942 "request some"
hi
please add open file by CTRL+CLICK
please add detect project when some file open ( open which project that contain that file )
please add function list in slide bar
please add goto function by CTRL+CLICK
please add select between tag ( highlight)

[2016-11-25 17:12] rafaqf opened #12943 "Open recently closed file"
### Description

Sometimes you close a file that you don't want to close. It would be nice to have something like on chrome or sublime, a command like 'ctrl + shift + t' to open again the last file closed.

### Versions

Mac Os El Capitan, Brackets Release 1.7 versión 1.7.0-16898 (release b0a363b71)

[2016-11-25 18:48] jamran7 commented on #12441
The bug fix passes all tests, with the exception of one suite which seems to be a bug with the test, and it's only one test of the whole suite. It said it was expecting <!doctype html> in the test file, image is attached. As for JSLint the changed code follows with the exception that it want's "use strict" in every function.

<img width="894" alt="screen shot 2016-11-07 at 1 21 15 pm" src="https:/

[2016-11-25 19:02] mattbaron commented on #12925
@mshantic In this case, "quit unexpectedly" means the program experienced a segmentation fault (accessing memory outside of its assigned address space) while it was shutting down.  So, yes, you did ask it to shutdown, but the process of shutting down, it experienced a segmentation fault.

[2016-11-25 19:09] gilberto389 opened #12944 "should not copy the empty spaces at left."
[http://diyo.netai.net/fixes/brackets2.png](url)

Because when you paste in the same bleed, these spaces appear, and the line pasted appears more to the right

[2016-11-25 20:13] matt-jarrett commented on #12925
@ficristo - Any update?  Thanks 😄

[2016-11-25 22:47] ebot1515 commented on #12928
OK, My operating system is Windows 10 10.0.14393 (Aniversary update). And my brackets version is Release 1.8 build 1.8.0-17108

[2016-11-25 22:48] ebot1515 commented on #12928
sorry for the delay. My internet was down.

[2016-11-25 22:49] ebot1515 commented on #12928
guys, once i put the dot behind the navigation in css. Only the blue font changed. Why that?

[2016-11-26 07:28] mshantic commented on #12925
@mattbaron Oh ok! Thanks for explaining it to me (:

[2016-11-26 07:28] ficristo commented on #12925
My only guess is our CEF version is outdated and we should update it.
But it is a big task usually done by Adobe, so I cannot give any ETA about it.

[2016-11-26 07:32] ficristo commented on #12441
The `Find in Files` error is sort of known, don't worry too much about it.
If your PR is ready, just submit it so we can take a look: without seeing the code we cannot give more advices about the JSLint warning.

[2016-11-26 08:55] ficristo commented on #11384
Extract is not supported anymore by Brackets:
http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/

[2016-11-26 18:06] jamran7 commented on #12462
ChainsawFist has found a solution to this as well. What needs to happen is that the file cache needs to be refreshed before the ProjectModel (project/ProjectModel.js) javascript goes into it's logic for the function `doCreate()`. Typing `var fs = _getFSObject(path);` as the line after `var d = new $.Deferred();` in the doCreate() function seemed to have fixed the issue. However `fs` is never used,

[2016-11-26 20:13] stmaus opened #12945 "Feature suggestion: Indent cleanup."
After a lot of editing the indents can get very misaligned. Also a smart indent cleanup feature would allow you to see when your applying a closing tab inappropriately. For example have too many/few </div>s.

[2016-11-26 23:10] jamran7 commented on #12462
Using `fs` as the variable works in place of `directory` and `file`.

[2016-11-27 10:59] MandarSant opened #12947 "Feature Request Automaticaly add Script tag also link tag for external libraries like for jquery,Bootstrap or our own external css/js etc"
I am requesting for feature that whenever we download external libraries like jquey,bootstrap and etc....
we have to add script and also link  tag to html so when we download it the script should automaticaly generated insted of typing for save time same feature can work for external our own css/javascript and also same for cdn link insted of copy paste the tag will be auto generated

i am just a

[2016-11-27 14:21] petetnt commented on #12943
Hi @rafaqf,

you can re-open Recently Opened files via File -> Open Recent (or CTRL+O). Files removed from the working space should be somewhat more transparent than the ones still open.

[2016-11-27 14:21] #12943 closed

[2016-11-27 14:22] petetnt commented on #12938
Hi @lawfets,

pretty weird. Could not reproduce myself on a Windows 10 nor MacOS machines. Could you try reinstalling the latest Brackets from http://brackets.io? Could you also give us a sample file that shows these issues.

Thanks!

[2016-11-27 14:24] petetnt commented on #12945
Hi @stmaus,

there's lots of auto-indent options available via the Extension Manager.  For example I am using this very simple one https://github.com/ahuth/brackets-indentator daily, but there are more robust options available too.

You can find them from File -> Extension Manager and searching for Indent.

[2016-11-27 14:24] #12945 closed

[2016-11-27 15:57] mo-Oka opened #12948 "Add AutoFormatter please"
Please, add a feature which allows to format code to standard by one click.

Like such code:

[code]

Should be:

[code]

Thanks!

[2016-11-27 17:39] NathanJPlummer commented on #12877
When I proposed the Linux documentation we originally wanted to add it to the wiki. However, the wiki had been locked due to vandalism, which is why it was decided I would maintain the Linux installation page for now and we would put the link in the README.

Honestly the README has a few different areas that mention Linux issues and only one of them provides the link.  One thing I can do is take a

[2016-11-27 17:47] NathanJPlummer commented on #12872
Sorry I don't have a direct response to your particular issue, but have you tried using the unofficial PPA for Brackets?

I have found the PPA package clears up a lot of Linux issues.

https://launchpad.net/~webupd8team/+archive/ubuntu/brackets

[2016-11-27 18:33] vadi2 commented on #12872
At this point I could uninstall Brackets completely and any link redirected
to be opened with Chrome just goes and gets stuck on that URL.

On Mon, 28 Nov 2016 3:47 am Nathan J Plummer, <notifications@github.com>
wrote:

[2016-11-27 19:14] haslam22 commented on #12948
You can use an extension to do this, something like [Beautify](https://github.com/brackets-beautify/brackets-beautify) will produce the desired output.

[2016-11-27 22:54] zaggino commented on #12947
How will Brackets know that you downloaded a script?
How will Brackets figure out into which html the script should be inserted?

[2016-11-27 23:27] NathanJPlummer commented on #12877
@ficristo

[Updated location to guide in the README](https://github.com/adobe/brackets/pull/12950) and information added to the Wiki by @petetnt so you can close this issue if you'd like.

[2016-11-27 23:28] #12877 closed

[2016-11-28 05:43] MandarSant commented on #12947
@zaggino in our project folder what or which ever `css` or` js` file if present in folder will be linked and in case of buld systems like `grunt ` &` gulp` there will be settings in` .json` file

[2016-11-28 05:49] zaggino commented on #12947
that's too specific to be considered as an editor feature, but you could write it as an extension for brackets if you need it

[2016-11-28 05:51] MandarSant commented on #12947
@zaggino  it can be also done by just draging file from project view in the head tag and link or script tag with attr will be generated

[2016-11-28 06:03] zaggino commented on #12947
again, it's too difficult to get it right, there're hundreds of frameworks, build systems, etc
the editor would have to know exactly what your setup is to get it right and the amount of effort doesn't seem to satisfy saving to write a line of code

[2016-11-28 06:04] MandarSant commented on #12947
@zaggino but this is the feature from visual studio how there is posible

[2016-11-28 08:46] Archetipo95 commented on #12931
Same problem here

[2016-11-28 16:08] Bru141 commented on #12260
My guess would be that Chrome is your default browser. If you remove it, Brackets will have no choice but to open in Firefox. Either Brackets or your operating system is defaulting to Chrome (Google malware). I don't have Chrome on my computer and Brackets opens Firefox easily.

[2016-11-28 16:23] Bru141 commented on #12260
Use startpage.com to search for "changing your default browser".

[2016-11-28 18:47] ficristo commented on #12948
Dupe of #11031

[2016-11-28 18:47] #12948 closed

[2016-11-28 18:47] ingorichter commented on #12462
Wow, I wasn't even able to repro this on my machine...

[2016-11-28 18:50] jamran7 commented on #12178
The issue is with CM. Removing the line 7014 in Codemirror.js `signal(cm, "renderLine", cm, lineView.line, builder.pre);` seems to solve the issue. The text doesn't squash and once the text hits the margin it goes to a newline. Additionally to see the text continue to tab once the text is on the next line, you have to tab as much such that the tab space is greater than the number of characters the

[2016-11-28 18:59] ficristo commented on #12942
What do you mean?

What do you mean?

You can try this extension [Brackets Outline List](https://github.com/Hirse/brackets-outline-list)

I think you can use Ctrl+j. Right now ctrl+click is used for the multiple cursor.

This extension [Select Tag Contents](https://github.com/mseiler025/select-tag-contents seems) to do what you are asking.

[2016-11-28 19:01] Crowes commented on #12931
If you launch while looking at anything but a ``.html`` file, it usually crashes. Sometimes you can get lucky. If you launch while a ``.html`` file is at least in a pane (split window), you may not get the live highlighting with HTML, just CSS.

What I tend to do is open a HTML file, click on any element, the launch. Should work perfectly after that.

[2016-11-28 19:06] #12917 closed

[2016-11-28 19:31] jamran7 commented on #12462
Didn't work on your machine or you weren't seeing this bug? This worked on a Mac just to clarify what machine I'm using.

[2016-11-28 19:44] parsibox commented on #12942
for example in php code write : include('test.php');
i want use CTRL + click to open test.php ( other editor have this )

for example i have 2 project , project A , poject B
i am working on A
but i open some file that is in B project
i want bracket change open project ( A ) to ( B )

this is to slow

it is not work correctly

please see Rapid PHP ( http://www.rapidphpeditor.com/ )
you can do all w

[2016-11-28 20:26] Mal-B commented on #12931
Had the same problem. You don't say OS, browser or version of Brackets. I use Linux Mint, firefox and Brackets 1.8. What I had to do was: __File_ > enable experimental live preview.__ and the open a project by: _File > Open folder_ and then select the index.html file from the left pane. Opening  the index.html file directly did'nt work.

[2016-11-29 01:24] minorcase opened #12952 "Gray Screen When Pausing Script Execution Using Chrome"
### Description

Been using brackets at work for about three months now with very few crashing issues. Today I started to see occasional crashes when I pause Javascript script execution using Chrome Dev Tools. At first I thought it was an issue with my git extension in brackets, but even after reloading without extensions Brackets was still crashing about half the time.

### Steps to Reproduce

1.

[2016-11-29 02:31] Nuc1eoN commented on #12260
Nope. Firefox is my default browser.

[2016-11-29 02:33] Nuc1eoN commented on #12260
Could anyone please reopen??

[2016-11-29 03:57] yohanChang commented on #12910
Thank you for the reply, and I want to apologize for the late response.
Yes, I am able to access the json file you mentioned with proxy environment with the authentication.

In my opinion, what causes the error was the ajax call without proxy authentication.
In function named downloadReigstry() on brackets/src/extensibility/ExtensionManager.js,
ajax call was invoked with the json file you mentione

[2016-11-29 08:32] TilakMaddy opened #12953 "Ext. Installation Failed -Unknown internal error"
Ext. Installation Failed -Unknown internal error during installing an extension called lorem ipsum

[2016-11-29 10:29] petetnt commented on #12953
Hi @TilakMaddy,

can you see any errors in the Developer Tools console (Debug -> Show Developer Tools -> Console)? Most likely this is an firewall issue.

[2016-11-30 07:10] akash-vartak opened #12954 "Save All not working"
The **Save All** option and even it's shortcut ```Ctrl + Alt + S``` doesn't work in Ubutnu14.04 with version of Brackets: ```Release 1.8 experimental build 1.8.0-17108 (alf_localization_release_1.8 3af64fae4)
build timestamp: Wed Nov 09 2016 02:47:52 GMT+0000```

[2016-11-30 07:52] lawfets commented on #12938
wel, to be honest, I cannot reproduce it either anymore, don't know why I had it in the first place, it just started randomly and all of a sudden it didn't stop using the end a tag.
Now I cleaned my computer with ccleaner and the problem is over.

Sorry for the disturbance.

[2016-11-30 07:55] bilalzafar256 opened #12955 "How can I trace web service response in brackets"
### Track Web Service Response ISSUE

I'm using brackets for my PHP development, I want to trace web service response in brackets, that what is coming out from web service, as you can see response in android studio.

is there any plugin for this task ? Or should I move to visual studio? does visual studio show response in terminal ?

[2016-11-30 08:05] TilakMaddy commented on #12953
I haven;t even opened the browser, i just tried to install extensions using the box button beneath the launch button- after browsing i clicked install and the above is literally the message popup
I am not telling "unknown" thats what the ide is telling.

[2016-11-30 08:39] petetnt commented on #12954
Hi @akash-vartak, can you see any errors in the developer tools console? `Debug -> Show developer tools -> Console`

[2016-11-30 15:53] nedredmond opened #12956 "I broke Brackets and need some assistance."
While trying to open a new project folder, I accidentally opened an entire shared server at work. I'm sure I've maxed out the program memory, and nothing in the Brackets window will respond. I've tried opening a new Brackets window, but it just comes up blank. I've tried opening the folder again, but it doesn't seem to work. Is there anything I can do other than deleting and re-installing Brackets

[2016-11-30 15:56] nedredmond commented on #12956
After waiting half an hour after opening Brackets to the public drive, an error message appeared and Brackets closed the directory itself. Thanks anyway!

[2016-11-30 17:31] jamran7 commented on #12178
I'll work on the tests then do a PR.

[2016-11-30 17:32] jamran7 commented on #12462
If this fixes the problem then I'll do the tests (I just have to do the smoke tests now) and create a PR.

[2016-11-30 17:59] uzork opened #12957 "Hide file type."
Hello,

Excuse me for coming to disturb you, I just have a question.

Currently, Brackets offers many many extensions in the list (bottom left, when you want to change the file type).

I would like to know if it was possible to hide some in order to have only the extensions that we use that appear in the list. (PHP, HTML, CSS for example).

Thank you in advance for your answer.

[2016-11-30 19:21] zaggino commented on #12956
In case you need it in the future, `Resetting cache & preferences`:
https://github.com/adobe/brackets/wiki/cache-folder#resetting-cache--preferences

[2016-11-30 19:21] #12956 closed

[2016-12-01 03:49] wilsonlmh opened #12958 "Typo: "Replace xx with xx in xxx/xxx.html - 12matches in 30 files" but I'm doing replace in a single file!"
### Description
Typo & string concatenation issue:
Search list shows "Replace xx with xx in xxx/xxx.html  - 12matches in 30 files" but I'm doing replace in a single file! The string "30 files" seems come from the last find in files record. Maybe a variable name typo?

### Steps to Reproduce

1. Edit -> Replace
2. Type something... and hit batch

You can try Edit -> Find in files then do the steps

[2016-12-01 07:23] zeet2020 commented on #10769
seem to be no activity on this issue from a while, @PhiLhoSoft could please consider closing it.

[2016-12-01 08:56] mflow42 commented on #8098
I faced this issue yesterday. Don't know why.

[2016-12-01 09:05] mflow42 opened #12959 "White screen when starting Brackets"
### Prerequisites

* [Yes] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [No] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [Yes] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/bracke

[2016-12-01 09:08] ingorichter commented on #12462
I wasn't seeing the issue. Tried several things, but it didn't blow up.

[2016-12-01 09:59] PhiLhoSoft commented on #10769
OK, no problem.

[2016-12-01 09:59] #10769 closed

[2016-12-01 10:09] zaggino commented on #12959
@mflow42 are you trying to run from source? Or just regular install?

[2016-12-01 14:50] petetnt commented on #12178
Great work @jamran7!

[2016-12-01 14:53] petetnt commented on #12953
@TilakMaddy Brackets has it's own set of developer tools (same as those in Chrome) that should show some extra errors along with the "Unknown internal error" message that the UI shows. You should also check the network tab for any additional internet errors.

[2016-12-01 14:53] petetnt commented on #12938
No problem, glad you got it fixes. Feel free to reopen if it comes back!

[2016-12-01 14:53] #12938 closed

[2016-12-01 17:37] jamran7 commented on #12462
@petetnt, are you still getting the issue?

[2016-12-01 17:48] mflow42 commented on #12959
Just regular install... I thought it was because of many files in the folder. Tried to work with folder with few files - all the same - after about 30 minutes WSOD.

[2016-12-01 18:44] ficristo commented on #12957
Do you mean the list of languages? If so, I don't think.
Could you elaborate why you don't want all the languages?

[2016-12-01 18:53] ficristo commented on #12955
If you mean a console, there isn't one integrated.
You can search an extension under `File \ Extension Manager` and see if there is one that fits your needs.

I don't think this is the right place to ask how visual studio works...

[2016-12-01 18:58] ficristo commented on #12953
If you run on a 32 bit Windows platform, you can try this https://github.com/adobe/brackets/issues/12918#issuecomment-261337603
Otherwise, do you mind [running from source](https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets) and try this PR: https://github.com/adobe/brackets/pull/12933

[2016-12-01 19:03] petetnt commented on #12462
@jamran7 couldn't replicate it anymore on my Windows 10 PC against latest master, I'll try later against my macOS too to see if this still occurs there.

[2016-12-01 19:13] ficristo commented on #12916
@waffledonkey could you [run from source](https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets) and try this PR https://github.com/adobe/brackets/pull/12933 ?

[2016-12-01 19:14] ficristo commented on #12959
You can follow this link https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets

[2016-12-01 19:21] k009491 commented on #12915
No reasons to use Brackets anymore.

[2016-12-01 19:49] mflow42 commented on #12959
I tried to code at the another project and no WSOD... so I think it appears because of maybe mistake in my code(?)...so how to understand what triggers WSOD...

[2016-12-01 23:41] uzork commented on #12957
That's what I'm talking about.
It is a simple matter of saving time and comfort of use, selecting a language of fifty is longer than of selected one of ten. It is not essential, but more pleasant.

It would be a good thing, in my opinion, to be able to unlock the languages ​​we do not need.

[2016-12-01 23:49] redmunds commented on #12957
languages.json is where Languages are specified. You should be able to just delete the ones you're not interested in (assuming you know how to edit JSON syntax).

In Brackets source code, it's located in src/Languages folder. Unfortunately, in release build that file gets folder into www/main.js file, so you'll need to edit main.js.

[2016-12-02 03:26] garrett85 opened #12960 "libgcrypt11"
Linux Mint 18 64-bit (Cinnamon)

When I try to install this is what I get.

Error: Dependency is not satisfiable: libgcrypt11 (>=1.4.5)

When I search apt-cache this is what I find.

user@mothership ~ $ sudo apt-get install libgcrypt11-dev
[sudo] password for user:
Reading package lists... Done
Building dependency tree
Reading state information... Done
libgcrypt11-dev is already the newest version

[2016-12-02 05:18] webjocky commented on #4954
n00b here, searching for my first bug to tackle. Unless I'm mistaken, the status of this issue should no longer be open since @Jerhamre seems to have added a fix that's been merged in #12824?

[2016-12-02 08:36] petetnt commented on #12960
Hi @garrett85,

see [this page](https://nathanjplummer.github.io/Brackets/) for workarounds for this issue.

[2016-12-02 08:36] #12960 closed

[2016-12-02 08:50] uzork commented on #12957
Thank you very much, I will be heading in this direction, see what I can do!

[2016-12-02 09:36] NixonNixus opened #12961 "Dragging an image to window while editing files causes progress loss of unsaved changes"
### Description
While editing a html file, i added an image view, rendered live preview and added an image tag, then i tried resizing the browser window and the i accidentally dragged the image from the browser window (chrome)  into brackets window and my project closed and i lost all my unsaved changes.
### Steps to Reproduce

1. Create a new project and add atleast an html file and add a image t

[2016-12-02 09:58] petetnt commented on #12961
Hi @NixonNixus,

pretty sure this is fixed with https://github.com/adobe/brackets/pull/12946, or the PR could be updated to address that too.

[2016-12-02 12:40] amunim opened #12962 "Live preview will not work unless saved #12962"
I installed brackets 1.8 only 1 day ago and live preview is not working at all I have to save it to work
I did not expected that.The only reason I installed brackets was live preview and the html file is not editing live
And if I check live experimental preview then it gives the error

![image](https://cloud.githubusercontent.com/assets/24316328/20834120/43be0394-b848-11e6-9fc5-2779e1f41662.png)

[2016-12-02 14:19] NixonNixus commented on #12961
Just saw it am taking it down

[2016-12-02 14:22] petetnt commented on #12961
Let's keep it open until it's properly fixes so we can track the issue.

Thanks for the bug report @NixonNixus 👍

[2016-12-02 23:57] bpoleonjr opened #12964 "[Feature Request] CodeHintList Image thumbnails"
### Description

While traversing a CodeHintList menu of image files, a smaller rescaled version of that image file appears next to the menu item.

For example, using the tag below:
`<img src=""`
the menu will show up and you'll navigate to the filename of the image you have on disk. This extension will display a rescaled version of that image so that if you have long, non-descriptive filenames, y

[2016-12-02 23:57] jamran7 commented on #12462
Do not collaps `foo/`. That fixes the problem within foo because it refreshes the file index. Without collapsing the folder, say you create `bar` and `bar/` in the work space, the problem exists.

[2016-12-03 03:25] huyaxiong opened #12965 "The theme of Brackets 1.8 mismatch the index page of official website."
This is Brackets on my local mac.
![image](https://cloud.githubusercontent.com/assets/6245250/20856472/7a4a2b06-b94a-11e6-9e47-e2d867834fc0.png)

This is from official website.
![image](https://cloud.githubusercontent.com/assets/6245250/20856476/8aaab628-b94a-11e6-9006-fd077f5035ae.png)

The themes are mismatched,I want a theme which like the image of official website,Is there any way I can get th

[2016-12-03 09:34] owenloveclaire opened #12966 "[Feature Request | Portable Linux]"
Can you add a feature such that you can have a portable version on Linux? I am using a persistent Kali Linux booted on an 8GB USB flash drive. It is very useful in my scripts and for my school activivties.

[2016-12-03 10:29] iam-phild opened #12967 "Translation Issues with Brackets Release 1.8 Build 1.8.0-17108"
### The problem
Translation not working correctly.

### The problem explained
I just wanted to change the language from "system default" to "german" and it worked for the most part. Some parts aren't translated and stays in "french". It's a french MacBook so i guess the error comes from the system. I tried also to switch the language to english or any other but some parts always stays in french.
W

[2016-12-03 12:09] iam-phild commented on #12967
Ok i think i found the issue.

I went inside of the app and watched for the languages and so on. I found in the folder "Resources" three languages folders. English, French and Japanese.
So i deleted the "French" one and the issue fro above noticed disappeared.
Now it's still not completely fixed because instead of the german word "Fenster" i have the english word "window" which is normal i suppose

[2016-12-03 14:42] haslam22 commented on #12965
This is the [Coolwater ](https://github.com/Brackets-Themes/Coolwater)theme for Brackets, you can install it from the extension manager, under themes.
To use it, go to View > Themes, and select it from the dropdown list.

[2016-12-03 15:35] ficristo commented on #12966
Dupe of #12835
AFAIK there isn't anything officially.
I don't think it supports portable build but you can try https://github.com/zaggino/brackets-electron

[2016-12-03 15:35] #12966 closed

[2016-12-03 15:38] ficristo commented on #12965
The theme and extensions used in the screenshot are not the default one.
There is an issue to change the screenshot https://github.com/adobe/brackets.io/issues/183
As explained by @haslam22 you can try new themes and extensions, some of which add an icon in the sidebar, in the extension manager (`File \ Extension Manager`)

[2016-12-03 15:38] #12965 closed

[2016-12-03 15:48] ficristo commented on #12967
Dupe of https://github.com/adobe/brackets/issues/10659
As you found the Brackets and Window menus are translated only in English, French and Japanese.
The *.lproj are coming from https://github.com/adobe/brackets-shell/tree/3f77cd77e57b7725bbfaeb371167adfd4c9333d3/appshell/mac

[2016-12-03 15:48] #12967 closed

[2016-12-03 15:50] ficristo commented on #12756
Closing since there was no answer.
If you still have problems, please, open a new issue.

[2016-12-03 15:50] #12756 closed

[2016-12-03 15:50] ficristo commented on #12614
Closing since there was no answer.
If you still have problems, please, open a new issue.

[2016-12-03 15:50] #12614 closed

[2016-12-03 15:50] ficristo commented on #12784
Closing since there was no answer.
If you still have problems, please, open a new issue.

[2016-12-03 15:50] #12784 closed

[2016-12-03 15:51] ficristo commented on #12833
1.8 is out, if you still have problems please open a new issue.

[2016-12-03 15:51] #12833 closed

[2016-12-03 15:55] ficristo commented on #12864
@petetnt for the `(` case, there are some bugs on chokidar.

[2016-12-03 16:02] ficristo commented on #12942
For the ctrl-click and ctrl-j, I don't think we really support php. Maybe you can try to see if there is an extension for them.

For the second case, do you know an editor which does that?
I think it is a bit hard to understand to which project belong your file.

If you can create a minimal snippet that reproduce your problem, you could open an issue on the extension.

[2016-12-03 16:03] ficristo commented on #12910
If you can [run from source](https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets) could you try this PR https://github.com/adobe/brackets/pull/12933 ?

[2016-12-03 16:05] ficristo commented on #12957
I think is rare to need to change the language, after you save the file.
I would like to know more about your use case.

[2016-12-03 16:14] ficristo commented on #12962
The error `Error watching project root` is quite worrisome.
Do you have this same error every time you open a new project? Are you running on a Windows 32 bit?
I'm not sure if related to your problem but can create instability and performance issues.

Do you have always that error `Exception in ...` when running LivePreview?

[2016-12-03 16:36] ficristo commented on #12928
If you want to override the bootstrap rules, your css file need to be places after the bootstrap one.
[code]

[2016-12-03 16:36] #12928 closed

[2016-12-03 17:59] murillojohn commented on #12894
Hi @ficristo ,

I just had the same problem with my recent installation of Brackets 1.8 on my Windows 10 laptop. After installing it and running it, it wasn't responding to any of my actions. I removed the "Brackets" folder from the path "...AppData\Roaming", and now Brackets 1.8 is working correctly =)

Thank you for such a great code editor! Keep up the good work.

[2016-12-03 18:56] AgamlaRage commented on #12926
@swmitra  @petetnt
As you recommended, I started to wrote an extension to achieve this feature.

Here is the repository [brackets-language-log](https://github.com/AgamlaRage/brackets-language-log).
I called it **Language Log** into brackets-registry

This is my first brackets extension, and I didn't found all the regexp I need to release a more usefull version. Please be indulgent :)

Is that poss

[2016-12-03 19:52] Rixuel opened #12968 "Brackets freezes when click on html tags"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-12-03 20:18] uzork commented on #12957
It is mainly that, in general, I create the document directly in Brackets and selects the extension in the same place.

[2016-12-03 22:54] RaphaelLaporte commented on #12809
Hello, with a group of friends we worked on an extension for this. Unfortunately our solution only works reliably for Unix based systems - we were unable to get a working solution which would read file attributes. The extension is made to be easily modifiable if someone want to continue working on this. On Windows systems, the extension will run, but it will only hide files whose name start with a

[2016-12-04 01:16] mpeyrotc commented on #12809
This feature is available for install through the extension manager.

[2016-12-04 15:06] jpoulin commented on #12925
Same problem here

[2016-12-04 18:05] MD-Nayeem commented on #12907
@swmitra
1 no
2 I am using wi-fi connection
3 yes

[2016-12-04 18:18] MD-Nayeem commented on #12907
@ficristo
Thank You it's working

[2016-12-04 18:18] #12907 closed

[2016-12-04 18:27] marospekarik commented on #12872
I have the same issue and can't get rid of it.

[2016-12-04 22:24] Zainzakie opened #12969 "Brackets not launching via GUI not shows in applications in Linux"
![screenshot from 2016-12-05 03-16-55](https://cloud.githubusercontent.com/assets/22868786/20869715/5da33cbc-ba9a-11e6-9577-cc43e0053b94.png)

![screenshot from 2016-12-05 03-17-31](https://cloud.githubusercontent.com/assets/22868786/20869692/e05436da-ba99-11e6-8821-6dc72df67367.png)

Hi,

I have installed brackets on Kali Linux but it isn't opening via GUI . It also does not show in applications.

[2016-12-04 23:20] zaggino commented on #12969
@Zainzakie try alternative installers here https://github.com/zaggino/brackets-electron/releases

[2016-12-05 04:25] yohanChang commented on #12910
Thank you for the reply.
Yes, I can run Brackets from the source, so I can try that PR #12933 .

However, by checking the commits on that PR, I am not really confident that this issue will be fixed since there was no specific changes like handling proxy part on downloadRegistry() in ExtensionManager.js.
Still, I will check that PR until the end of this week and report the outcome on this post.

Th

[2016-12-05 11:07] Zainzakie commented on #12969
Thank you so much. It has solved my problem. But, can you tell me why the original brackets is not working?

The previous versions of the "original" brackets were working on Kali Linux but this one isn't. Why?

[2016-12-05 11:32] zaggino commented on #12969
@Zainzakie Official Brackets builds use Chromium Embedded Framework (CEF) and especially the Linux builds use very old version of it. It's quite buggy and there doesn't seem to be anyone skilled enough with CEF and Linux to fix these bugs people are running into.

[2016-12-05 11:33] Zainzakie commented on #12969
Oh. Thanks @zaggino  .

My problem is solved .

[2016-12-05 13:03] #12969 closed

[2016-12-05 19:03] Athorcis opened #12970 "Brackets reset default language to plain/text"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
Only because this bug is linked to highlighting extensions.
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

Brackets reset language fo

[2016-12-06 02:47] jamran7 commented on #12178
Only one problem, I can't commit the change in the submodule and the fix that @clindelof, another member of ChainsawFist, came up with was to pull an update from a commit of an old, old version of CM. CM has gone through drastic changes since. That commit no longer exists so I'm trying to find a solution as to how we can commit this. The first 6 numbers of the commit were c74262 if you must know.

[2016-12-06 03:21] swmitra commented on #12964
@bpoleonjr Are you asking for something like a inline preview of the image as part of the hint menu?
![inlineimagepreview](https://cloud.githubusercontent.com/assets/12087205/20911826/0b9362ba-bb91-11e6-9265-7cda0e020d19.png)

[2016-12-06 04:14] jamran7 commented on #12462
It happens on my latest commit of Brackets

[2016-12-06 21:18] petetnt commented on #12961
Fixed in #12946

[2016-12-06 21:18] #12961 closed

[2016-12-06 23:28] guahanweb commented on #12486
@arthur801031, how's this coming? In the example above, are you looking at the element as a way to reduce the available pseudo-classes? For instance, if you are defining something like `i.test:`, would the recommendations *remove* the link-specific pseudo classes? I'd love to help on this if it's still needed.

[2016-12-06 23:46] haslam22 commented on #12970
Seems to be caused by `_updateFromPrefs` in `LanguageManager.js`. Languages defined by brackets extensions (like twig) aren't loaded straight away, so it will fail to find them when trying to load the preferences file for the first time. Further calls to `_updateFromPrefs` only look at changes to the preferences file so it won't pick up on the new languages. Adding a loop to check for invalid mapp

[2016-12-07 02:10] BinarySpike opened #12971 "[Bug] Horizontal Rule (<hr>) inside paragraph (<p>) generates syntax error"
### Prerequisites

* [Yes] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [Yes] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [Yes] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brack

[2016-12-07 12:01] Zlind commented on #12962
Im getting the exact same errors and no live preview, no highlights

[2016-12-07 13:10] ficristo commented on #12962
@Zlind could you try this workaround https://github.com/adobe/brackets/issues/12918#issuecomment-261337603? It'll fix the first error.

[2016-12-07 17:41] redmunds commented on #12971
This *is* a syntax error. You shouldn't put a block-level tag inside a text formatting block.

You say " Chrome renders it fine". That is exactly the problem. Years ago, some browser decided to render it, then some other browser decided to also render it because the first browser rendered it. Now they all support if for legacy reasons.

You should end your paragraph before the HR and then start a

[2016-12-07 17:41] #12971 closed

[2016-12-08 01:58] BinarySpike commented on #12971
I see.  With the additional information from your response I was able to find this bit of important information:
`In the DOM, the opening tag on a block-level element will close the <p> element.`

Which matches the functionality of Brackets.  Unfortunately, this seems to be poorly handled or documented in most other systems I tried.  Even the W3 validator throws strange errors!

[2016-12-08 20:28] Denisov21 commented on #12964
+1 Great idea!

[2016-12-09 05:57] nethip commented on #12771
Let me have a look at this issue. I am also thinking in line with @MarcelGerber

[2016-12-09 10:50] utrescu commented on #11937
+1

AppImage (1.9.0) does not have Live Preview in Fedora 25

![brackets](https://cloud.githubusercontent.com/assets/2011002/21046583/a9e16df6-be05-11e6-8b2a-d9f8cc21861a.png)

[2016-12-10 12:33] dermike commented on #12925
Same problem here on new 2016 MacBook, but works on older one.

[2016-12-10 15:32] garrett85 commented on #12960
Thanks for your help. That worked perfect.

[2016-12-10 16:05] woko-radio commented on #11588
I seriously loved brackets when I first installed it, it was so quick and the interface... well.
I took only a few minutes until i realized that you can only replace one line at the time, incredibly inconvenient because you usually need to replace a whole script, several links across several files. and it's impossible. I think this is brackets only weakness (huge one)
I've been looking for an exte

[2016-12-11 05:51] plasensa opened #12975 "File corruption issue"
Hello. My computer got frozen and when I was able to reboot it 3 of my .js files that I was updating with brackets cannot open. I am getting the  message "An error ocurred  when trying to open the following files  .... Brackets currently only supports UTF-8 encoded text files". WHen I try to open them with notepad they are empty. In the explorer the size reflects the amount of data created in thos

[2016-12-11 11:22] Zlind commented on #12962
@ficristo This is what im getting now

https://i.sli.mg/SfU743.jpg

[2016-12-11 22:31] petetnt commented on #12975
Hi @plasensa,

you could try some of the tips at http://superuser.com/questions/223677/recovering-a-corrupted-txt-file. As a generic corruption issue, we aren't sadly able to provide much other help. You could also try retrieving your file from backups if you have those enabled.

[2016-12-11 22:31] #12975 closed

[2016-12-12 03:05] marcdragon123 opened #12976 "Install issue with Ubuntu 16.04"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-12-12 03:39] zaggino commented on #12976
https://nathanjplummer.github.io/Brackets/

[2016-12-12 03:39] #12976 closed

[2016-12-12 06:16] amunim commented on #12962
Guys congratulation it works on intel xdk now no need for brackets

[2016-12-12 06:16] #12962 closed

[2016-12-12 08:31] Hesterien commented on #12559
I'm aware that this is an old thread.

I'm having this issue still.
*Unable to check for updates trough 'Help'
![brackets](https://cloud.githubusercontent.com/assets/11635545/21092610/b4dc95c4-c04d-11e6-8d14-9ac9da638b16.png)

Windows 10
Brackets 1.8
Build 1.8.0-17108

[2016-12-12 10:04] ramthapa87 opened #12977 "highlight syntax errors in brackets"
hey guys I need your help. I am new in Brackets. I want highlight when I missed the syntax
Thanks in advanced..

[2016-12-12 11:07] converge commented on #12977
what language ? give us an example pls.

[2016-12-12 11:17] converge opened #12978 "Right way to create a non existing codemirror mode, syntax highlighter"
Hey guys,

I created the GAS extension for Brackets, now I'm going to create NASM highlighter. I follow the [Custom CodeMirror modes](https://github.com/adobe/brackets/wiki/language-support), and developed a new CodeMirror mode, did a pull request, and CodeMirror return was:

["... we aren't accepting new modes anymore. The recommended way to publish a mode is to create a separate package ..."](ht

[2016-12-12 11:56] MandarSant commented on #12923
@petetnt  http://brackets.dnbard.com/ is down

[2016-12-12 12:00] petetnt commented on #12923
Thanks notifying @MandarSant, pinging @dnbard

[2016-12-12 12:11] petetnt commented on #12978
Hi @converge,

Now that you have your custom mode created, you need to

1. Create a project/repository for it (for example `brackets-nasm`)
2. Add your module to your repository (for example under `lib/` folder)
2. In your mode definition file, use `require` to require it (`require("./lib/nasm/nasm)` which registers the language via CodeMirror#defineLanguage
3. Use language manager to register it

[2016-12-12 13:56] dnbard commented on #12923
@petetnt  Thanks for notification.
This site have some external issues with database. I'm working on resolving them atm.

[2016-12-12 15:20] kmccormacklc commented on #12585
This is even more poignant point now since the extension no longer works.
https://github.com/adobe/brackets/issues/12914

[2016-12-12 16:40] danschalow commented on #11851
Still no progress on this one? Albeit it small, it's a real niggly one.

[2016-12-12 17:52] sofux commented on #12925
Having the same problem with the new macbook pro 15 inch.

[2016-12-12 18:30] ficristo commented on #12962
@Zlind there are two things that comes to my mind: your project is too big or you don't have .NET Framework 4.5 installed.
Since 1.8 we are using https://github.com/Microsoft/vscode-filewatcher-windows which requires .NET.

PS: if you still have problems please open a new issue, is easier to track.
PS2: you can drop images on Github instead of using 3th party sites.

[2016-12-12 19:45] matellis commented on #12925
Me too: new MacBook with touchbar running 10.12.1

[2016-12-13 01:41] converge commented on #12978
@petetnt thanks man! I'm still doing something wrong, can you take a look ? https://github.com/converge/brackets-nasm-syntax-highlighter

When I try to install the extension I get extension error.

[2016-12-13 02:28] jpoulin commented on #12925
Yes, Brackets-Electron solves the issue.

[2016-12-13 08:54] MandarSant commented on #12923
@dnbard please inform me after website is up...!

[2016-12-13 10:50] doige commented on #12953
Same problem here. With 1.7 works all fine. With 1.8 (windows 10, office behind firewall) brackets can't install or update any extension.  Proxy ip is in the file brackets.json configured.
I work with 1.7 further.

[2016-12-13 20:33] Sceneworker opened #12980 "Bug Website - Show's wrong brackets version"
Hello,
the script which is placed on the website to show the right brackets version doesn't really do good work.

It often hungs a few seconds until it show's the correct version of brackets and sometimes it show's a wrong number.

At the moment on my laptop it showed me version 1.7 for 2-3 seconds until it changed to 1.8

On my PC it shows me that version 1.7 is the newest ...

This is not a bug

[2016-12-13 20:42] Sceneworker commented on #12944
Your link does not work for me ...

[2016-12-14 09:02] petetnt commented on #12978
In https://github.com/converge/brackets-nasm-syntax-highlighter/blob/master/lib/nasm/nasm.js, instead of the UMD wrapper, you could try using just plain AMD style like rest of Brackets currently does:

[code]

Now it should have the correct context and CodeMirror should resolve to the CodeMirror in Brackets.

[2016-12-14 15:55] jose-06 opened #12981 "error en las extensiones"
Buenas... . disculpa tengo error en gestionar extensiones, ya instale barckets y al querer instalar alguna extencion me sale "error en la instalacion",  "error interno desconocido" y la verdad nose que es, me podrian orientar para solucionar mi problema.

[2016-12-14 19:43] ficristo commented on #12981
If you are on 32 bit Windows could you try this: https://github.com/adobe/brackets/issues/12918#issuecomment-261337603?

Otherwise could you open `Debug \ Show Developers Tools` and see if there is any error on the console?

[2016-12-15 02:20] converge commented on #12978
@petetnt thank you so much ! I couldn't finish it without your help ! https://github.com/converge/brackets-nasm-syntax-highlighter

[2016-12-15 02:20] #12978 closed

[2016-12-15 07:45] petetnt commented on #12978
No problem @coverge, great that you got it working! :+1:

[2016-12-15 14:24] manuel-84 commented on #12953
same problem on win10 32bit
i also tried to replace node.exe with the x86 official version but this have not fixed the problem

[2016-12-15 17:02] BobbyBabes opened #12983 "Brackets produces several errors during startup."
### Prerequisites

- [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
- [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
- [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

Brackets produces several errors during startup.
Node module chokidar : Cannot find mo

[2016-12-15 21:48] thehogfather commented on #12968
@Rixuel, it be very helpful if you could share a sample file with which this error could be reproduced.

[2016-12-16 09:02] wojiushiwoltq commented on #12915
I like this feature, but now gone, now no longer want to use brackets

[2016-12-16 09:10] wojiushiwoltq opened #12984 "why not supported Extract?"
I like this feature, but now gone, now no longer want to use brackets.

Without this feature, and I would not much difference on the other ide, because of this feature, I use the brackets.

very sad.

Hope extract as soon as possible return

[2016-12-16 09:20] Finelai commented on #12915
Without this feature, brackets does not need anyone. Adobe can't monetize this and won't support.

[2016-12-16 10:43] Finelai commented on #12984
Strongly agree with that. But maybe can someone develop same extension? Without Adobe support and they service it will be better.

[2016-12-16 13:15] TilakMaddy opened #12985 "Feature request: Comments in PHP"
When you select lines of text and hit `#` , I want each line to be preceded with `#` and become a comment

[2016-12-16 13:36] BobbyBabes opened #12986 "[Question] Did this Edge Code feature ever make it into Brackets?"
Reference : https://www.youtube.com/watch?v=3OMWTqq5-WU&t=74s

From 01:14 into this YT demo video for Edge Code with Theseus, there is a demo of an Edge Code feature. Where by Ctrl+clicking on a webpage (displayed in the browser) a dropdown is displayed on top of that webpage which shows a cross-reference of all matching/apllied CSS rules.
You can then click on a matched selector in the dropdown t

[2016-12-16 16:14] dterrazas opened #12987 "crashes when another file is opened outside of the current work folder"
This just started happening but it has been a few months since I used Brackets. But if I open Brackets it loads my current project folder and runs fine with no issue while opening multiple files in the same working folder. If however, I open another file outside of the current working folder, it crashes

I set the working folder, then open a PHP file

Then I set split view to vertical and open ano

[2016-12-16 16:28] dterrazas commented on #12987
This just started happening but it has been a few months since I used Brackets.  But if I open Brackets it loads my current project folder and runs fine with no issue while opening multiple files in the same working folder.  If however, I open another file outside of the current working folder, it crashes

1) I set the working folder, then open a PHP file

2) Then I set split view to vertical and

[2016-12-16 16:56] redmunds commented on #12986
No, that was never implemented.

Note: That was a working prototype, not Photoshop magic, so it's do-able if you care to take on that feature.

[2016-12-16 16:56] #12986 closed

[2016-12-16 21:35] haslam22 commented on #12985
![4wmkl7l03l](https://cloud.githubusercontent.com/assets/9113599/21279313/8a6c6d4a-c3d7-11e6-9662-efa78cad0165.gif)

You can select multiple lines to comment by holding CTRL + clicking the start of each line. Is this what you're looking for?

[2016-12-16 23:44] redmunds commented on #12985
@TilakMaddy As @haslam22 said, use `Ctrl+/` to toggle the `lineComment` defined for the language.

If you look in languages.json, the definition of `php` looks like this:

[code]

Since `//` is the first `lineComment` then that one is used. Change the order to use `#` instead:

[code]

Then use _Debug > Open User Key Map_ to change the shortcut (although you'll have to use a modifier key something

[2016-12-17 13:25] denis-gorin commented on #12984
+1
Golden words.

[2016-12-17 17:18] aliaksandr-adzinets commented on #10465
I agree that installing software on Linux sucks.

I've added ppa:webupd8team/brackets and now getting this on apt-get update:

W: Failed to fetch http://ppa.launchpad.net/webupd8team/brackets/ubuntu/dists/jessie/main/binary-i386/Packages  404  Not Found

WHAT? Ok, that's just another fucking error as usual. There are only 10% of software that I can install as discribed in their manuals. You have a

[2016-12-17 17:23] aliaksandr-adzinets commented on #10465
Ah, and before that I had to install another crap because apt-add-repository was not found... software-properties-common... Without stackoverflow, I'd spend all my life to install a single fucking HTML/CSS IDE. If you want to use Linux you should spend 5 years to understand it. If you want to use Win or Mac - just turn it on.

[2016-12-17 17:36] aliaksandr-adzinets commented on #10465
Managed to install using this guide (it's in Spanish)
http://enavas.blogspot.com.by/2016/10/instalar-brackets-en-debian-jessie.html

[2016-12-17 19:36] PythonWaffler opened #12989 "Brackets.Release.1.8.msi says there is another brackets installing :("
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-12-17 22:27] Joepete commented on #10465
@aliaksandr-adzinets, glad you managed to get it to work. I would caution against leaping to conclusions based on the ease (or difficulty) of installing software on an OS. Arguably, installing software should take a little thought and occasional work. The issue confronted here is fairly simple. Brackets depends on an older library. Yes, there are a number of ways of installing that library so that

[2016-12-18 00:50] vsha opened #12990 "command palette like sublime, atom, vs code....."
add command palette like sublime, atom, vs code.....
ctrl+shift+p
perfect!!

[2016-12-18 01:01] vsha opened #12991 "add menu group"
add menu group to brackets
i think it's good feature

[2016-12-18 12:19] tr0yka commented on #12984
+1

[2016-12-18 14:57] PythonWaffler commented on #12989
Oops forgot to close other msi's in task manager

[2016-12-18 14:57] #12989 closed

[2016-12-18 15:10] dermike commented on #12925
My issue seems to have gone away with the Mac OS 10.12.2 update :)

[2016-12-18 15:48] mattbaron commented on #12925
10.12.2 fixes the issue for me as well.  (2016 MacBook Pro)

[2016-12-18 18:38] Pk13055 commented on #12954
@petetnt I've verified that it does indeed not 'save all' using the keyboard shortcut, but does through the drop-down menu. Checked on `Ubuntu 16.04` and `14.04` running brackets `Release 1.8 experimental build 1.8.0-17108 (alf_localization_release_1.8 3af64fae4) `

I would like to work on this bug if no-one else is picking it up. (ps - pretty new to open source)

[2016-12-18 19:16] adeel-raza-azeemi opened #12992 "Notepadqq regular expression subgroup can't be reused in search and replace"
### Prerequisites

* [ y] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ y] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/

[2016-12-18 20:49] pcleene commented on #10598
Hi guys,
Sorry Iam a total newby to programming... However, I do have the same issue here.. My keyboard is not responding, except when I click Debug and then --> New Brackets Window
Can anyone tell me how to solve this issue in a simple way? Sorry the above is not really understandable to me :)
Thank you very much indeed.
Paul

[2016-12-18 20:56] Rixuel commented on #12968
Sorry, I don't have the file anymore. I refactored my file and looks like Brackets works fine now.

[2016-12-18 21:35] matt-jarrett commented on #12925
This issue is resolved for me with updating my operating system to Mac OSX 10.12.2.  🎉 💯 . I'm closing the issue.

[2016-12-18 21:35] #12925 closed

[2016-12-18 23:13] petetnt commented on #12954
Hi @Pk13055,

That's great! See the article [How to hack on Brackets](https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets) to get started with the Brackets codebase. If you have any questions, feel free to post them here! We also have a [Slack channel](https://brackets.slack.com) for day-to-day communication. (You can join by sending a mail to admin@brackets.io with the subject line `sl

[2016-12-19 01:30] astorije commented on #11350
I am not sure anymore about what I meant a year and a half ago, sorry. And sorry I did not answer immediately, I very quickly moved to Atom that more appropriately fulfilled my needs and did not switch back.

I am closing this, best of luck on this project and thanks for your collective efforts!

[2016-12-19 01:30] #11350 closed

[2016-12-19 03:02] TilakMaddy commented on #12985
Thanks , I got it.

[2016-12-19 03:02] #12985 closed

[2016-12-19 12:12] Pk13055 commented on #12954
@petetnt I have setup the codebase as instructed. I would love some help on how I would approach this issue;
I've seen that onClick `save all` invokes `handleFileSaveAll()` as on
[](https://github.com/adobe/brackets/blob/master/src/document/DocumentCommandHandlers.js#L1094)
which in turn returns `saveAll()` as on
[](https://github.com/adobe/brackets/blob/master/src/document/DocumentCommandHandlers

[2016-12-19 12:25] petetnt commented on #12954
Hmm, maybe try `console.log`:ing what happens in the keybinding phases from this point forward: https://github.com/adobe/brackets/blob/master/src/command/KeyBindingManager.js#L662

[2016-12-19 14:13] DmitryNikulnikov commented on #12934
@a-axton
Hi, Andy! 👋🏻  You have no right to abandon such **awesome** idea! 😅 The extension could be **extremely useful** for many folks who have to deal with a daily debugging routine.
E.g. right now the only way to see a box-model (that colourful scheme with highlighted paddings/margins) is to launch Chrome Inspector. But it crashes Brackets' Live Preview. It would be great to be able to use the

[2016-12-19 15:41] nicksoph commented on #12953
Same problem on a truly clean, brand new  win10 32bit build - Tried to install of v1.8 as the very first additional program on fully updated Windows 10 laptop. Installed as user: UAC - asks before install, and then proceeds with install with no obvious errors . Errors in Console.log (more info later) Unable to install Extensions - "Unknown Error". Folder permissions check set to 'everyone' having

[2016-12-19 16:10] pelatx commented on #12947
@MandarSant I've made an extension that has some of the functionality you want. You must have downloaded the files, or created in your project. But then, you just have to right-click on the CSS or Javascript file, select "Link File" and the link is inserted in the focused  HTML document with the correct relative path. You may find it useful.

[2016-12-19 19:52] haslam22 commented on #12954
@Pk13055 By default `Ctrl + Alt + S` is mapped to a [system shortcut](http://askubuntu.com/questions/145185/how-to-disable-the-roll-up-shade-keyboard-shortcut-in-gnome-3-after-upgra), so when disabling that it seems to work with me, is it the same in your case?

[2016-12-19 20:28] ficristo commented on #12992
AFAICT Brackets does support group reusage.
Maybe you need to open the issue to Notepadqq?

[2016-12-19 20:28] #12992 closed

[2016-12-19 20:31] ficristo commented on #12991
Trello card is https://trello.com/c/EwLGRkYe/541-submenus

[2016-12-19 20:32] ficristo commented on #12990
Previous discussion in https://github.com/adobe/brackets/issues/4745
There is already an extension: https://github.com/peterflynn/brackets-commands-guide
I don't know how good it is.

[2016-12-19 20:37] ficristo commented on #12937
Done in https://github.com/adobe/brackets/pull/12972
@swmitra Acorn and Tern are already installed from npm, see https://github.com/adobe/brackets/pull/11569
It would be nice to also look at https://github.com/adobe/brackets/issues/12744

[2016-12-19 20:37] #12937 closed

[2016-12-20 07:45] Pk13055 commented on #12954
@haslam22 Yes, even though the shortcut seems somewhat obsolete.
@petetnt Would there be a workaround to keep using `Ctrl + Alt + S` without disabling the system shortcut? I think for now at least maybe we could add a pop up or some tooltip text telling users to disable the system shortcut?

[2016-12-20 08:53] petetnt commented on #12954
@Pk13055 I tried to quickly Google for a solution but didn't find one... as it seems to be a distribution quirk, Adding it to the Brackets Linux guide and pointing users there might be the easiest way out: https://github.com/adobe/brackets/wiki/Brackets-Linux-Guide. If there's a way to catch the shortcut "failing" in Brackets context, it would be nice to show it as `console.warn` in the Developer

[2016-12-20 10:14] nicksoph commented on #12918
replacement of node version - worked for me on a 32bit win10 machine

[2016-12-20 10:18] nicksoph commented on #12953
Replacement of node version - worked for me on a - 32bit win10 machine

see comment - https://github.com/adobe/brackets/issues/12918#issuecomment-261337603

ficristo commented on 17 Nov
@K-Thompson is your platform a 32 bit one?
If so could you try to replace the node executable you find in C:\Program Files\Brackets with the one you can dowload from http://nodejs.org/dist/v6.3.1/win-x86/?

[2016-12-20 11:03] rithin opened #12994 "Find in files not working for project > 30,000 files (Eg: Magento 2 with theme have more than 60K files)"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-12-20 12:06] rovf opened #12995 "Line endings always include carriage return on a new file"
When I create a new file with brackets.io Release 1.7 build 1.7.0-16898 (release b0a363b71) running on Windows 7, line endings are always CRLF, which makes the editor nearly unusable for creating files, because it means that we have to convert ever new file to LF line endings, before we can use it. Opening a file which alread has a LF ending works fine.

The problem is: While by far most applicati

[2016-12-20 12:52] zaggino commented on #12995
@rovf I use this extension https://github.com/LonelyStorm/brackets-newline and it works very well.

[2016-12-20 14:04] Pk13055 commented on #12954
@petetnt I don't think there is; I think Brackets does register the key press but since the system shortcut takes higher priority, doesn't do anything about it. I could go ahead with adding the required steps into the wiki; there's this one-line terminal command to disable the shade menu; the shortcut works just fine after disabling.

[2016-12-20 14:06] petetnt commented on #12954
@Pk13055: great! I think that the wiki is now read-only for non-members of the Adobe org, but if you add the steps below I can add it to the wiki and attribute it to you 👍

[2016-12-20 14:17] Pk13055 commented on #12954
How's this:

The save all keyboard shortcut `Ctrl + Alt + S` doesn't work on Linux as it is overshadowed by a system shortcut to disable/enable “roll up” / “shade” on an active window.
You can enter this command (in the terminal) to disable this shortcut and have `Save All` working:
` gsettings set org.gnome.desktop.wm.keybindings toggle-shaded "['disabled']" `
Alternatively, you can re-map said s

[2016-12-20 14:45] petetnt commented on #12954
Added the issue and fix to the wiki https://github.com/adobe/brackets/wiki/Brackets-Linux-Guide#save-all-keyboard-shortcut-issue

Thanks a lot @haslam22 and @Pk13055, closing this one for now.

[2016-12-20 14:45] #12954 closed

[2016-12-20 14:53] Pk13055 commented on #12954
Thank you!

[2016-12-20 18:58] bizanniusz commented on #12953
change your node.exe from installer brackets download here https://nodejs.org/en/download/ and choice Windows Binary (.exe), and restar bracket! than its work! +1:

[2016-12-20 20:00] Mateusz96 commented on #12539
This killed this editor. Im move into VS Code.

[2016-12-20 22:39] #12970 closed

[2016-12-20 22:39] zaggino commented on #12970
Fixed by https://github.com/adobe/brackets/pull/12979 to be released in 1.9

[2016-12-21 02:15] petercampanelli opened #12996 "Touch Bar Support for Brackets"
It would be really cool if Brackets could support the new Touch Bar on the late 2016 MacBook Pros. There are plenty of exciting functions you could add like a color picker, live view button, autocomplete, etc. As more and more Brackets users start using Macs with the Touch Bar, it is a good idea to be on the front end of this feature.

[2016-12-22 12:58] Worie commented on #12934
I've created a PR in which i try to implement this to Brackets directly (not as extension), here's the PR: https://github.com/adobe/brackets/pull/12949 .

[2016-12-22 13:16] Worie opened #12997 "Live preview does not highlight HTML nodes after JavaScript change."
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

Saving a JS file while Live Development session is opened causes the page in Chrome to

[2016-12-22 14:35] NikkiRaeGamer opened #12998 "Help with 'IF' Commands!"
str.toLowerCase(trustbarry)

    if (trustbarry = "Yes" | "sure" | "ok" | "trust barry" | "yes trust barry" | "I will trust barry" | "Trust barry please" | "mhmm" | "ok I trust barry" | "ok, I trust Barry" | "please trust barry" | "I trust barry" | "I trust barry" | "You trust barry"){

        alert("You: Deciding to trust Barry, you say, 'Ok, I trust you, Barry'");
        alert("Barry: 'Thanks

[2016-12-22 15:39] haslam22 commented on #12998
`trustbarry = "Yes` actually means you're setting the `trustBarry` variable to "Yes", whereas you probably wanted `trustBarry === "Yes"` to compare the values.

Also when doing a long if statement like that, you need add `trustBarry === "value"` before every condition, like so:

`if(trustBarry === "Yes" || trustBarry === "sure" || trustBarry === "trust barry" || ...)`

Also use `||` instead of `|`

[2016-12-22 15:41] ficristo commented on #12998
Not a Brackets issue, closing.

[2016-12-22 15:41] #12998 closed

[2016-12-23 03:20] MandarSant opened #12999 "Feature Request "New folder" option"
Feature request for New folder option in file menu it will save time insted of creating new folder at desired location ,it can be created directly from the editor and desired location link can be given from command pallet with filename.extension

[2016-12-23 03:57] chengtie opened #13000 "Is it possible to hide the triangle block icons in Brackets?"
I would like to hide the triangles on the left hand. Does anyone know if it is possible to hide them?

![screen shot 2016-12-23 at 07 12 08](https://cloud.githubusercontent.com/assets/774409/21446865/ecdf7f2e-c906-11e6-9e59-88d3c61ad130.png)

[2016-12-23 08:10] petetnt commented on #13000
Hi @chengtie,

you can turn off the code folding arrows by going to `Debug -> Show Preferences File` and adding `"code-folding.enabled": false` to your `brackets.json` file.

[2016-12-23 08:10] #13000 closed

[2016-12-23 09:48] chengtie opened #13001 "Preserve any code inline or preserve small objects inline"
At present, the beautifier of brackets turns the following code

    opt = $.extend({ handle: "", cursor: "ew-resize", min: 10}, opt);

to

    opt = $.extend({
      handle: "",
      cursor: "ew-resize",
      min: 10
    }, opt);

Actually, I don't want the beautifier to add the newlines; the beautifier could well leave the line as it is.

Either we could let the beautifier not add newlines for

[2016-12-23 10:34] petetnt commented on #13001
Are you using [this extension (brackets-beautify)](https://github.com/brackets-beautify/brackets-beautify)? I think you can configure it the same way as you can `js-beautify`: https://github.com/brackets-beautify/brackets-beautify#beautifier-options.

As it's an extension issue, I suggest that you re-post the issue to the [extensions issues](https://github.com/brackets-beautify/brackets-beautify/i

[2016-12-23 14:42] ficristo commented on #13001
Closing since not a Brackets issue.
If you aren't aware, the last version of the extension pointed out by @petetnt is not avalable in the extension manager (because of some limitation of the registry). You can read more on the extension repo.

[2016-12-23 14:42] #13001 closed

[2016-12-23 15:08] petetnt commented on #12859
Fixed in 7732d93

[2016-12-23 15:08] #12859 closed

[2016-12-23 15:19] ficristo commented on #10807
The code in the screenshot:
[code]

[2016-12-23 15:20] ficristo commented on #11126
Fixed by #12988

[2016-12-23 15:20] #11126 closed

[2016-12-23 16:23] haslam22 commented on #12997
[`HTMLDocument.getResponseData()`](https://github.com/adobe/brackets/blob/master/src/LiveDevelopment/Documents/HTMLDocument.js#L101-L110) seems to be the culprit:

[code]

If the editor isn't visible `this.editor` becomes null, and the document sends back static text to the browser instead of the instrumented text with `data-brackets-id` attributes.

You could try this (rough) solution here which

[2016-12-23 18:57] GOPAL140892 commented on #12898
here is solution i have found it shou work
1 my sys. is 32 bit
2i installed  brackets 1.8 new realease
3 prblem is becase node.exe
4 go to this site https://nodejs.org/en/download/
5 download node.js according to your os and bit sys
6 install in brackets folder where node.exe is located
7 finish and restart bracket.....DONE

[2016-12-23 22:14] Destro1233 opened #13002 "Live Preview made my Chrome stuck to one link whenever external call to chrome or even at bootup"
### Prerequisites

* [Yes] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [Yes] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [Yes] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brack

[2016-12-23 23:07] nerk commented on #12898
@GOPAL140892 Sorry, I don't think that this is the reason. My system is 64-bit. I think you've got a different error, because the problem you describe would be independent from any proxy configuration settings. If you read the comments above, you see that we pretty much figured it out. It is related to incompatible versions of node's request package.

[2016-12-24 02:28] broun7 opened #13003 "flefcucnieuvc"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-12-24 07:59] #13003 closed

[2016-12-24 17:04] NikkiRaeGamer opened #13004 "Can't open a file!"
Hello! I'm having a problem with my brackets, I can't open so-called "encoded 8 files" or something like that..?... Can anyone help me with this?

Thanks!

-NikkiRaeGamer

Picture of what I'm experiencing below

![problems with brackets](https://cloud.githubusercontent.com/assets/24718353/21468076/050da2c2-c9d1-11e6-83f8-a624b3c2cb2f.PNG)

[2016-12-24 17:45] PegasusT4 opened #13005 "Feature Request: Open multiple files at once"
Would like the ability to open multiple files at once. EG: open all files in a directory by selecting all files, right clicking and selecting open option. DW 5.5 has this feature that works great.

Clicking on each file to open them is too slow.

[2016-12-24 22:52] chengtie opened #13006 "Is it possible to easily switch between two files in two projects?"
I have a File A in Project 1, and a File B in Project 2.

To switch between these two files, I have to close one project and open the other project.

Does anyone know if there is an easy way to switch between the two files (eg, by `ctrl+tab`)?

I have learned `Debug -> New Brackets Window` which allows us to open another project. But is there a shortcut to switch among two windows? `cmd + tab` or

[2016-12-25 11:18] chengtie commented on #13006
I just realise that we can open only one project in one panel, but we could have many working files belonging to different projects. We could just use `cmd+o` to open a file no matter if it belongs to the current project. Then, we can switch among files by `ctrl+tab`.

Sorry about this easy question...

[2016-12-25 11:18] #13006 closed

[2016-12-25 15:04] petetnt commented on #13004
Hi @NikkiRaeGamer,

`UTF-8` refers to the _character encoding_ you file is presented in, which is currently the only format Brackets supports.  It's by far the most commonly used format on the internet, but some other tools could have created the files in another format. You could try converting your files using an extension such as https://github.com/Armacryss/brackets-utf8-converter, which can b

[2016-12-26 10:43] chengtie opened #13007 "Shortcut to go through working files"
Hello,

`Ctrl+tab` is used to go through **recent files**. Does anyone know if there is a shortcut to go through **working files**?

Otherwise, is there any extension that enables this?

Cheers

Tie

[2016-12-26 11:58] aliaksandr-adzinets commented on #10465
@Joepete, thanks for you patient answer on my lashing, I'll take it into account.

[2016-12-26 12:07] chengtie commented on #13007
Hello,

I realise that `cmd+⇞` and `cmd +⇟` do it as the `Navigate` menu shows. On a mac keyboard, they are `fn+cmd+up arrow` and `fn+cmd+down arrow`.

Cheers

Tie

[2016-12-26 12:07] #13007 closed

[2016-12-26 23:32] ripper234 opened #13008 "Preferences (brackets.json) don't support comments, although defaultPreferences do"
### Description

I'm trying to modify the preferences for Beautify plugin.
The defaultPreferences.json file contains comments:

[code]

When copy pasting the content of "bb.beautify.languages" into brackets.json in order to modify it, I get

![image](https://cloud.githubusercontent.com/assets/172282/21487553/0ab6591c-cbd4-11e6-987f-aaa14e28db24.png)

This error is resolved when stripping the `//`

[2016-12-27 06:44] muhabmaselim commented on #10266
I have the same problem. I am running brackets 1.8 on Windows 10 32-bit from a private network and this is what I have done so far:
1.Made sure the 127.0.0.1 is defined as localhost in C:]Windows]System32\Drivers]etc]hosts
2.Turned off my Windows Firewall
3.Made sure brackets is allowed when using a private network through Control Panel\System and Security\Allow an app through Windows Firewall
4.M

[2016-12-27 12:29] zaggino commented on #10266
@muhabmaselim see last comments here https://github.com/adobe/brackets/issues/12898

[2016-12-27 12:44] muhabmaselim commented on #10266
@zaggino It was the Node.js! It is working now, finally! I must have spent hours trying to get it to work. Thank you for linking me to that thread.

[2016-12-27 15:34] xjx424 opened #13009 "edit word separators"
Is there anyway to change the word separators when double clicking?
For instance, when I double click $variable I would like it to only select "variable", not "$variable"
Some setting like this
"word_separators": "./\\()\"'-:,.;<>~!@#$%^&*|+=]{}`~?"

[2016-12-27 17:21] ficristo commented on #10266
Original issue was about something else. Locking to avoid further comments on a closed fixed issue.
Feel free to open a new issue.

[2016-12-27 22:38] petetnt commented on #13008
Using http://hjson.org/ instead of plain JSON would be one option.

[2016-12-27 23:00] triceratops1 opened #13010 "Enhacement: Chromium-based forks for live preview"
You could make it, making a symlink (ln -s /usr/bin/xxx /usr/bin/google-chrome)

Examples for chromium forks for make it

Iridium-Browser
Inox Browser
chromium itself

RECOMENDED HOW TO

at preferences you could add your "chome path"

[2016-12-28 23:36] #12983 closed

[2016-12-29 16:49] ficristo commented on #12772
See also #8816

[2016-12-29 16:52] ficristo commented on #12427
I wanted to use the PreferencesManager in filesystem again, and didn't work... again.
If we want to make the 30000 file limit configurable, I think we need a solution here.
@redmunds do you have some ideas?

[2016-12-29 17:57] chevalierc opened #13012 "Why does inline editor take so long to load?"
### Prerequisites

* [X ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ X] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [X ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets

[2016-12-29 18:02] chevalierc commented on #13012
I guess it's only when I open my whole project server side and all. Does this search all files or just those labeled `.css` Is caching the location of these files? I don't have any CSS in my server side code just a lot of node packages.

[2016-12-29 21:41] dad7 commented on #12423
root@x51rl:~# dpkg -i /home/dad/Brackets.Release.1.8.64-bit.deb
....
 brackets depends of libgcrypt11 (>= 1.4.5), but:
 libgcrypt11 isn't installed.

[2016-12-29 23:49] fsociety79 commented on #12984
+1

I really don't quite understand why support for Extract for Brackets 1.6 has been removed with a message asking users to download Dreamweaver CC. Why would Adobe invest time and money in developing a text editor in the first place with a great little feature if they felt it would take profits away from Dreamweaver.

Perhaps the open source guys at Adobe should just quit and release a fork of B

[2016-12-30 10:17] fsociety79 commented on #12984
So I downloaded Dreamweaver CC 2017 only to find that the Extract window has been greyed out and cannot be used. WTF?

[2016-12-30 12:36] BobbyBabes commented on #12983
Reason for closing :

Only these Linux distros are supported.

Debian Linux 8 or newer (for Debian 7 compatibility see issue #4816)
— https://github.com/adobe/brackets/wiki/Troubleshooting

[2016-12-30 19:45] imran-qasim commented on #12984
i was only using bracket for extract feature, now no more extract feature so i extracted it from my PC, because all other feauters are same as other IDEz, can't you ( Bracket guysz) get it back working ? i don't think Dreamweaver CC 2017 is worth paying and just to pay for extract feature as well.

[2016-12-31 05:24] WebSpectrum opened #13013 "Mode-Aware Styles - Brackets In Dreamweaver"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2016-12-31 05:25] WebSpectrum commented on #13013
Can anyone explain why the addModeClass flag and mode-aware styles in code colouring themes do NOT work in the Brackets engine integrated into Dreamweaver 2017 ?

Thanks

[2016-12-31 18:33] ingorichter commented on #13013
The Dreamweaver integration is pretty new and there might still be issues. @abose can probably help and get this to the right persons attention

[2016-12-31 18:34] ingorichter commented on #13013
The Dreamweaver integration is pretty new and there might still be issues. @abose can probably help and get this to the right persons attention

[2016-12-31 20:06] danyn opened #13014 "code folding state lost when cutting and pasting folded code"
### Description

code folding state does not maintain when pasting code that has been folded.

### Steps to Reproduce

1. fold the elements to be copied
2. copy then to the clipboard
3. paste them in desired location

**Expected behavior:** Expected the code to remain folded

**Actual behavior:**  The code expands upon being pasted

### Versions

Windows 10 Pro on intel core i5 M20
Release 1.8 bui

[2017-01-01 04:45] WebSpectrum commented on #13013
Thanks, I appreciative the reply ....

[2017-01-01 08:38] tzhu07 opened #13015 "Would like PHP syntax colors to be more prominent"
Perhaps making the` <?php` and` ?>` in red or something that's a stark contrast to the HTML. Right now the PHP snippets and HTML just sort of blend in with each other.

[2017-01-01 16:45] dasphillipbrau opened #13016 "Can't remove the "collapse all" keybind"
Hello.

So I've been trying to remove the keybind for "collapse all" because the default keybind is alt-1 and so every time I try to use an ASCII code to get a special character that includes 1 like curly brackets or square brackets, my whole code collapses and it's extremely annoying.

This is what I'm trying to do for overriding it
Debug>open user keymap
At the keymap, the file keymap.json opens

[2017-01-01 16:52] dasphillipbrau commented on #13016
![brackets](https://cloud.githubusercontent.com/assets/24864399/21582099/6e4fad44-d010-11e6-810b-e555485c3ab3.png)

[2017-01-01 18:55] redmunds commented on #13016
In the syntax above, you need to replace the `<`, `>`, `[`, and `]` chars. Try this:

[code]

Note that I used the Display Shortcuts extension, then right-clicked on item and selected "Disable Shortcut". This updates keymap.json file which then needs to be saved.

[2017-01-01 19:06] dasphillipbrau commented on #13016
Thank you! I feel a bit silly now. Thought those were actual command tags to be used

[2017-01-01 19:26] redmunds commented on #12427
@ficristo My VS is currently out-of-sync so I can't build latest Brackets, but I think you can set `options.maxEntries` prior to this call:

[code]

in ProjectModel.js line 449. I think you can get value from preferences here without creating a circular dependency. How does that work?

[2017-01-01 19:29] #13016 closed

[2017-01-02 04:00] frakman1 opened #13018 "Markdown support incomplete"
Release 1.8 build 1.8.0-17108 (alf_localization_release_1.8 3af64fae4)
build timestamp: Wed Nov 02 2016 12:07:29 GMT+0000

Markdown does not support the [+addition+] and [-deletion-] colouring for diffs that Github and Gitlab supports.

[2017-01-02 07:47] ficristo commented on #13018
We support two kind of Markdown: the default and the GitHub one.
If you try the second one it should highlight the code correctly.

[2017-01-02 07:47] #13018 closed

[2017-01-02 07:49] ficristo commented on #12883
Dupe of #13013
Usually I close the recent one but in this case maybe you have more luck to receive an answer in the recent one.

[2017-01-02 07:49] #12883 closed

[2017-01-02 07:52] ficristo commented on #12845
Since there were no answer closing as a dupe of #12520.

[2017-01-02 07:52] #12845 closed

[2017-01-03 00:00] zaggino commented on #12423
Please see this guide: https://nathanjplummer.github.io/Brackets/
The link to it is also in the README

[2017-01-03 00:00] #12423 closed

[2017-01-03 10:12] Zebug commented on #12915
Hi,

I have read that your plugin Extract for Brackets isn't available anymore due to Adobe former decision here : https://blogs.adobe.com/creativecloud/update-for-extract-in-creative-cloud-assets-and-brackets/
But as you can see (or maybe you didn't....) there was an update : "8/3 Update: We are happy to announce that Extract in Creative Cloud Assets is back online. Thanks to all our customers wh

[2017-01-03 14:58] haslam22 commented on #12927
This is a bug caused by token caching in `TokenUtils.js`, so it keeps returning `)` as the current token and thinks you're outside of the function call. Probably need to disable token caching for parameter hints but not sure about the performance impact. 😐

For now you can probably get by with using `Ctrl+Shift+Space` to bring the parameter hints back up again, or you can open the function call wi

[2017-01-03 16:16] hariaakash commented on #11911
Am facing this problem, I tried loading brackets without extensions and still the same, even after brackets reinstall too.

[2017-01-04 15:24] rafaelstz commented on #12984
+1

[2017-01-04 21:07] ebicode opened #13021 "Search window disappears after typing the first character"
On OS X El Capitan when I try to search, the search window immediately disappears after entering the first character and I find myself typing the rest inside the code. This does not happen on a Linux machine.

[2017-01-05 14:37] gerald2799 opened #13022 "features"
### Description

1.In some programms(Dreamweaver) you can select and move selection;
2.Some sites gives you a possibility to compress your CSS/HTML/JS code;
3.Also some programs have some special features for CSS code what called "Add Vendor Prefix"

It would be nice to see in Brackets this features. Also features №2 and №3 could be realised in three ways, so you can change your current file, chan

[2017-01-05 14:45] ebicode commented on #13021
I have solved the problem - it was called by the "Auto Save" plugin

[2017-01-05 14:45] #13021 closed

[2017-01-05 20:27] ficristo commented on #12427
That should work for the initial scan (at least I can use the PreferencesManager).
We use the visit function in other places like in [ScopeManager](https://github.com/adobe/brackets/blob/7732d934c3da9175f44b97a51a69c7fb2623959f/src/extensions/default/JavaScriptCodeHints/ScopeManager.js#L1024): don't we risk to run again in the 30000 limit?

[2017-01-05 20:34] ficristo commented on #13022
1. Enable the `dragDropText` [preference](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#preferences)
2. & 3. There should be some extensions for them like "JS CSS Minifier" and "Autoprefixer"

[2017-01-05 21:01] redmunds commented on #12427
Yes, we'd need to pass it in there as well.

[2017-01-05 21:42] #5059 closed

[2017-01-05 22:29] petetnt commented on #13012
Hi @chevalierc, could you post your `Help -> Health Report` here?

You could try ignoring third party libraries with https://github.com/zaggino/brackets-file-tree-exclude, which should improve the speed to a degree.

[2017-01-05 22:31] petetnt commented on #13010
Hi @triceratops1,

have you tried the live preview with the `File -> Enable Experimental Live Preview` enabled? After that you can launch live preview and copy paste the URL to any browser and start live previewing!

[2017-01-05 22:38] petetnt commented on #13015
Hi @tzhu07,

you can override the keyword `.cm-m-clike.cm-meta` to achieve that:

[code]

which will look something like this:

![image](https://cloud.githubusercontent.com/assets/7641760/21700212/f69e8040-d3a7-11e6-8c37-f8de84eb1248.png)

To do this, you'll need to create a theme and in your `package.json` you'll need to make sure that _Mode aware styles` are enabled with

[code]

To get started,

[2017-01-05 22:55] #12997 closed

[2017-01-06 01:22] triceratops1 commented on #13010
yes

but that would be nice

[2017-01-06 04:59] TMonika commented on #12987
Tried to reproduce the issue. Opened a html file and set split view to vertical and opened another version of same file from different folder, brackets didn't crash. Version used: Release 1.8 build 1.8.0-17108. Could you reproduce it even now?

[2017-01-06 07:58] ultrox opened #13024 "Better Vim support"

[2017-01-06 11:42] dterrazas commented on #12987
I can no longer reproduce but I haven't use Brackets that much since I had
the original issue. I ended up using my other app dreamweaver for that
particular task at hand. I will give it another go.  I really like bracket
awesome selection & edit tools.

Regards

David Terrazas

On Fri, Jan 6, 2017 at 12:00 AM, TMonika <notifications@github.com> wrote:

--
David Terrazas
Web Designer/Developer
Colg

[2017-01-06 15:43] despoinakaz opened #13025 "Info about community structure"
Hello,
I am a postgraduate student and I am writing an essay about open source projects.
 I would like to know about the community structure, the governance model etc. Is this possible?
(I don't know if I should have written this at issues, so I am sorry if I shouldn't.)

[2017-01-06 16:50] gem0303 commented on #12617
Constantly getting this crash. As noted, it only seems to occur when editing js files and it happens whether or not I have extensions loaded. Is there any known workaround? I don't want to switch text editors but this workflow is unsustainable. :(

[2017-01-06 17:00] petetnt commented on #12617
@gem0303 sorry to hear that you have issues.

If reducing Adobe Photoshop RAM usage doesn't help, could you post your `Health Report` (under Help-menu).

[2017-01-06 19:11] petetnt commented on #13025
Hi @despoinakaz,

here's some articles to get started:

- Brackets Committer Policy: https://github.com/adobe/brackets/wiki/Brackets-Committer-Policy
- CONTRIBUTING.md: https://github.com/adobe/brackets/blob/master/CONTRIBUTING.md

See https://github.com/adobe/brackets#i-want-to-keep-track-of-how-brackets-is-doing for more contact information (do join us on Slack!) if you want to ask something mor

[2017-01-06 19:12] petetnt commented on #13024
Hi @ultrox,

have you tried https://github.com/daveosborne/brackets-vimderbar ?

[2017-01-06 19:30] RaymondLim commented on #13025
@despoinakaz [This link](https://www.adobe.io/cloud-platform/open-source.html) might be helpful for your essay.

[2017-01-06 20:10] demonofthemist commented on #6822
As of today this issue is still there, I just tried it on my computer :)

[2017-01-06 22:29] gem0303 commented on #12617
Hi Pete,

I just updated my original comment with my Brackets Health Report.

On Fri, Jan 6, 2017 at 11:01 AM, Pete Nykänen <notifications@github.com>
wrote:

[2017-01-06 22:37] petetnt commented on #12617
Yeah sorry about that @gem0303, I responded but then remembered that Zaggino had already nailed down the cause. Thanks for your health report though!

Wonder if we should throttle/queue `_addSearchResultsForEntry`

[2017-01-07 12:12] despoinakaz commented on #13025
Thanks a lot @petetnt and @RaymondLim!

[2017-01-09 13:15] zaggino commented on #12617
@petetnt one of the causes, not all of them, it still happens to me from time to time but I can't replicate consistently. I think tern code analysis running in the worker is to blame.

[2017-01-09 15:52] xjx424 commented on #13009
To change selected text open C:\Program Files\Adobe\Adobe Dreamweaver CC 2017\www\thirdparty\CodeMirror\mode\php\php.js

Change line 91 from
CodeMirror.registerHelper("wordChars", "php", /[\w$]/);
to
CodeMirror.registerHelper("wordChars", "php", /[\w]/);

[2017-01-09 15:57] despoinakaz commented on #13025
Is it possible to have some more information about the number of core team members/project leaders/users of brackets (in order to contruct the onion model of the community)?

[2017-01-09 16:33] mgAnon commented on #12984
brackets -> deleted from PC

[2017-01-10 04:19] jCalderon80 commented on #12539
Totally sucks, it was a badass feature and just now that I moved from Adobe to Affinity I was gonna try the affinity PSD in brackets to see how it works but instead got the bad news, well still keeping brackets I already got used to it, and I liked that I didn't have to open Photoshop to navigate through my mockups, but I don't mind with Affinity now.

[2017-01-10 09:03] vaishnaviprasad opened #13029 "<!DOCTYPE html> not recognized in brackets Release 1.8 build 1.8.0-17108"
![image](https://cloud.githubusercontent.com/assets/19556834/21799942/6ebb2424-d741-11e6-8a0b-8006fc193bde.png)

Please refer to the screenshot above.
Please tell me why <!DOCTYPE html> tag is not getting closed.

OS:win 7 Pro
browser:Chrome Version 55.0.2883.87

[2017-01-10 12:14] martingraham commented on #13029
Because the tag at the top is doctype, not html. You still need an opening <html> tag

[2017-01-10 14:18] Worie opened #13030 "Cannot access logged object properties from remote console.log (Console Agent)"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

When logging an JS object via console, we can't access the properties/values/methods o

[2017-01-10 14:26] #13009 closed

[2017-01-11 05:10] cool2live opened #13031 "Accidently dragged all applications into Brackets"
### Prerequisites

* [yes ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [yes ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ yes] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/br

[2017-01-11 06:02] vaishnaviprasad commented on #13029
Cool Thanks

[2017-01-11 06:02] #13029 closed

[2017-01-11 08:43] ryanstewart commented on #13031
I think all you may need to do is push the down arrow next to `Applications` in the sidebar on the left then select "Open a Folder" and find a folder that doesn't have anything in it.

If you want to start completely from scratch you can try [clearing your cache/preferences](https://github.com/adobe/brackets/wiki/Cache-Folder). That should reset things so that `Applications` isn't your working dir

[2017-01-11 10:48] doige commented on #12953
So.
We put the node.exe file which is in brackets 1.7 into 1.8 and now we can update and install extensions. This can't be the solution, but it works. Weird.

I hope it will be fixed in 1.9.

[2017-01-11 10:54] petetnt opened #13032 "Show error dialog if operating system bits don't match the Node version"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-01-11 12:03] rajnishb commented on #13025
@despoinakaz Reach out to me bharti.rajnish@gmail.com with your set of questions. I am the product manager for Brackets.

[2017-01-11 13:05] Dreter1 opened #13033 "Problem with brackets 1.8"
Hi guys,

I'm using brackets v1.8 but i cant find the option of the extract option like in the v1.6 Extract bundle

hope can some help me.

thanks

[2017-01-11 13:36] petetnt commented on #13033
Hi @Dreter1,

sadly Adobe discontinued the service back in April 2016: http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/?lang=en

AFAIK the Extract team is looking for options on open sourcing it, but sadly there's nothing concrete to share about it.

[2017-01-11 13:36] #13033 closed

[2017-01-11 15:10] noahwebdev opened #13034 "Drag/Drop text or code within working file"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-01-11 15:12] noahwebdev opened #13035 "Better high-light that file has not been saved, high-light in side panel as well as top file name"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-01-11 15:57] cool2live commented on #13031
Even if i click the down arrow next to applications it won't go away🙁. I
will try the other thing you suggested to see if that will work.

Thank you for your help!:)

On Wed, Jan 11, 2017 at 12:43 AM Ryan Stewart <notifications@github.com>
wrote:

[2017-01-11 17:25] Dreter1 commented on #13033
Hi @petetnt , so there is no other ? i dont find the installer of brackets  v1.6 Extract bundle you have it or any idea where to find it?

[2017-01-11 17:29] petetnt commented on #13033
@Dreter1 here's the bundle: https://github.com/adobe/brackets/releases/tag/release-1.6%2Beb4

But not sure if it works, as the actual Extract service was a web service instead of local app (which also makes the open sourcing part harder)

[2017-01-11 18:52] Dreter1 commented on #13033
@petetnt i have download it but how i put in my brackets or i can use it :/ some help

[2017-01-11 18:54] petetnt commented on #13034
Hi @noahwebdev,

you can drag and drop code in the editor after you set`"dragDropText": true,` in `Debug -> Open Preferences File -> brackets.json`

[2017-01-11 20:10] flapjack17 opened #13036 "Quick Edit"
Qiuck edit does not display the entire funciton when using template literatles with embed expressions.
[code]
When using quick edit code is displayed like:
[code]

[2017-01-11 20:55] redmunds commented on #13036
Backtick (\`) is not a valid string delimiter is JS. It should work if you use either single (') or double (") quotes instead.

[2017-01-11 21:29] flapjack17 commented on #13036
The first line of the function is using backticks and returns the next line. the problem appears to arise when using a place holder ${}; [How is the backtick not valid?](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals)

[2017-01-11 23:08] redmunds commented on #13036
QuickEdit is implemented for JS. Whatever language you are using that uses backtick for string delimiters is not supported.

But, it looks like the `${}` placeholder you are using could also be used outside of a string, so my original suggestion doesn't fix all cases of the problem. That type of placeholder is also not supported (i.e. the closing brace is interpretted as the end of the function).

[2017-01-12 00:24] Orcinuss commented on #12890
@ficristo This issue seems to have been fixed. No issue in a new file or on https://codemirror.net/. No issue in original file either.

[2017-01-12 00:29] petetnt commented on #13036
@redmunds backticks (and `${experssions}` are used) in [templated literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals) and are valid string delimeters (in ES2015)

[2017-01-12 01:36] redmunds commented on #13036
@petetnt Thanks for clarifying. Either CodeMirror does not yet support ES2015, or Brackets is not recognizing the new tokens.

[2017-01-12 02:26] ustcshopping opened #13037 "Why I set print range does not work?"
This is my print adapter class, no matter what I set the range of print, it will all print to the last page of pdf file, for example I have a file with 6 pages, I set page range as 2,4-5 then it will print 2,4-6. I think it matters with parameter pages in the onWrite, I try to pass in into onWriteFinished, but it will print all 6 pages no matter what you set. And I try the way like Android develop

[2017-01-12 02:50] RaymondLim commented on #13036
It is a bug in the regular expression that is used to extract functions in https://github.com/adobe/brackets/blob/master/src/language/JSUtils.js. It is mistakenly taking the closing brace inside the template literal as the closing brace of the function definition.

[2017-01-12 08:26] petetnt commented on #13037
This doesn't seem to be relevant to USB

[2017-01-12 08:26] #13037 closed

[2017-01-12 09:29] Finelai commented on #12915
@Zebug continue reading post from you link. Most important:

That's mean they focus on integration Extract to Photoshop and Dreamweaver **(can't undestand this hell in 2017)**.

This is the end of open source good feature from Adobe Corporation that give Brackets develepment team do most exsessasi product in the world history. Thank you Brackets for good days with you and good bye.

[Adele - Skyfa

[2017-01-12 09:58] noahwebdev commented on #13034
Many thanks, I've set it to true but it's having no effect within Brackets, can high-light text in code but the mouse cursor does not change to an arrow-head and doesn't allow you to then move that code, and pressing 'control', 'alt' or 'shift' when code is high-lighted doesn't make any difference to the mouse cursor either. I have tried restarting the app but with no effect, please advise.

[2017-01-12 10:07] petetnt commented on #13034
@noahwebdev are you using Windows, Mac or Linux? I noticed that on macOS the cursor doesn't change to a arrowhead, but you can still "grab" the highlighted text and drop it somewhere else. It doesn't update the text position _while_ dragging though, you need to release the text where you want it to drop.

If it's still not working, can you share your  `brackets.json` file?

[2017-01-12 10:56] noahwebdev commented on #13034
I'm using Windows 10 and am unable to do as you say, as when I've high-lighted the code, if I then click and drag, the cursor just starts selecting surrounding text as though I were trying to high-light a paragraph - I've tried sharing my brackets.json file but github says it does not support .json files as attachments, so I've changed the file extension for the purposes of sharing it to .txt
[bra

[2017-01-12 13:07] #10392 closed

[2017-01-13 07:55] #13036 closed

[2017-01-13 12:17] MoonNetInc commented on #11182
I am having the same problem, please I need to solve it ASAP.

[2017-01-13 12:18] MoonNetInc opened #13039 "An error occurred when trying to create the directory New Page. (error NotReadable)"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-01-13 15:09] schindld commented on #12538
This issue still exists in 1.8. I get the same error popping up and in the console when trying to use the extension manager to install an extension: `Unknown installation error extensionManager domain is undefined`. I **can** install the same extensions manually by unzipping them into the user directory.

The specific version I have installed is 1.8.0-17108 for Windows (x86). I used the msi to ins

[2017-01-14 10:13] UserOfHalde commented on #11898
hello

[2017-01-14 21:17] sashabeep opened #13040 "Brackets eats more than 1GB of disk space"
Just saw in cleanmymac that Brackets folder in Applications support is 1.3GB
How to clean it? What to delete?

[2017-01-14 23:17] zaggino commented on #13040
@sashabeep can you open it and report what particular files / directories take up?
![image](https://cloud.githubusercontent.com/assets/1067319/21958865/d0fecd98-db0b-11e6-9ed6-f2cd84a16488.png)

For example mine is 200 megs but 180 megs is coming just from the extensions I've installed

[2017-01-15 18:03] gerald2799 opened #13041 "<!DOCTYPE html>features"
when you write `<!DOCTYPE html>` brackets create basic html code:
[code]

[2017-01-15 18:21] ficristo commented on #12890
Merging this on with #12797

[2017-01-15 18:21] #12890 closed

[2017-01-15 22:41] petetnt commented on #13041
Hi @gerald2799,

you can add this feature with something like https://github.com/jrowny/brackets-snippets or https://github.com/chuyik/brackets-snippets.

There's also an HTML templates extension that might be of help: https://github.com/talmand/Brackets-HTML-Templates.

All of the above extensions can be found in the Extension Manager.

[2017-01-15 22:43] petetnt commented on #13034
Sorry for the late response @noahwebdev.

You'll need to add `dragDropText` to that file and set it to `true` for the feature to work:

[code]

Save the file and dragging and dropping should work automatically.

[2017-01-16 00:18] gpl4all opened #13042 "[Linux] obsolete libgcrypt11 issue"
hi all,

i've just found out brackets and to my disappointment, i can not be installed on latest Debian Jessie due to dependency on (very old) libgcrypt11, and also very surprised that this is issue for more than 2 years now (am referring to https://github.com/adobe/brackets/issues/10255).

[10255](https://github.com/adobe/brackets/issues/10255) is a long discussion and ended up nowhere, and on la

[2017-01-16 08:05] petetnt commented on #13042
Hi @gpl4all,

sadly the `libcrypt` issue still persist, mostly because we are currently missing a dedicated Linux native developer that could handle the issue of updating and keeping Linux CEF up-to-date (thus solving the dependency issue). Shipping the obsolete `libcrypt11` dependency with the Brackets binary is not an option due to legal reasons. There are other workarounds for the issue which a

[2017-01-16 08:18] rooo commented on #13034
Why you still sending her stuff ehh!!?
MAKE SURE YOU REPLY

[2017-01-16 08:19] petetnt commented on #13034
Removed a spam response from above, disregard that if you received the email.

[2017-01-16 08:25] sashabeep commented on #13040
live-dev-profile folder is more than 1GB
The other ones is less than 20MB

[2017-01-16 09:16] noahwebdev commented on #13034
Excellent, this method worked a treat.

N

On 16 January 2017 at 08:20, Pete Nykänen <notifications@github.com> wrote:

--
Regards
Noah

[2017-01-16 09:24] petetnt commented on #13034
Great! Closing as answered. 👍

[2017-01-16 09:24] #13034 closed

[2017-01-16 11:31] zaggino commented on #13040
Someone from @adobe/brackets-committers could have a look if we can limit a size of this temp folder please.

[2017-01-16 11:33] sashabeep commented on #13040
What to do now? Can i just empty this folder for now?

[2017-01-16 11:38] zaggino commented on #13040
Yes, it should be safe to delete.

[2017-01-16 11:39] petetnt commented on #13040
@zaggino Do we even need to keep the temp profile data or could we just nuke the folder after live preview session ends?

[2017-01-16 11:45] sashabeep commented on #13040
Thanks to all! Just deleted this folder without issues

[2017-01-16 11:46] zaggino commented on #13040
@petetnt I have never ever used or digged inside the code of live preview so I can't answer that. But I'd assume that it can be safely deleted once Brackets is closed.

[2017-01-16 11:50] sashabeep commented on #13040
@zaggino i'm pretty sure that this folder must be empty on close

[2017-01-16 11:52] petetnt commented on #13040
Only thing I would be worried about is live preview launching sliiiiightly slower on subsequent launches, but then again we already use `--temp-profile` flag while launching so 🤔

[2017-01-16 13:29] gpl4all commented on #13042
hi @petetnt

i understand completely situation you explained, except CEF issue since i have not familiar with it and just found brackets for few days now, so i better put it asside. i've seen 2 workarounds you write and first one is basically close to my approach only that i use my own compiled binary because i'm not on ubuntu and too hassle for me because actually i still on Debian Wheezy.

i'll

[2017-01-16 13:29] #13042 closed

[2017-01-16 13:32] petetnt commented on #13042
👍

CEF is the Chromium Embedded Framework application framework which Brackets uses. It pre-dates things like Electron, which also means that it's a tad more complicated to setup and use than Electrons largely functional "it just work on all platforms"-approach.

[2017-01-16 23:49] Attrash-Islam commented on #11937
No more relevant for me

[2017-01-16 23:49] #11937 closed

[2017-01-17 06:39] JacquesLouw94S4 opened #13045 "Auto-expand collapsed functions on save (Ctrl+S) if changes were made"
### Description

If you collapse all functions (Alt + 1), and you open one function, make a change to it and save by pressing Ctrl + S, ALL functions suddenly unfold/expand automatically.

### Expected Behaviour

On save, all collapsed functions should remain collapsed and all expanded functions should remain expanded. Simply saving a document should not alter the way it is currently being display

[2017-01-17 08:37] petetnt commented on #13045
Hi @JacquesLouw94S4,

this is a duplicate of #12279, lets continue the discussion there. Thanks for reporting 👍

[2017-01-17 08:38] petetnt commented on #13045
Actually it might not be an exact dupe, so lets keep this open 🤔

[2017-01-17 15:53] #6822 closed

[2017-01-17 18:06] haslam22 commented on #13002
Duplicate of #12872 I believe

[2017-01-18 01:33] cab12 opened #13046 "Whenever I am in an html file with live preview on, the blue highlighter does not work"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?

**Yes.**

* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?

**Yes. I only found an issue when someone was using a CSS file (blue highlighter works in CSS file) not the html file.**

* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/br

[2017-01-18 01:33] #12987 closed

[2017-01-18 09:28] trevorbest commented on #12617
I was getting this a lot yesterday, interestingly, not 100% sure but whilst having a folder open on a network drive rather than local.

[2017-01-18 15:23] KrithikaNarayanan commented on #7723
Guess i arrived here late... is this issue still open for claiming?

[2017-01-18 15:54] petetnt commented on #7723
@KrithikaNarayanan I think this hasn't been fixed / added yet. Feel free to work on it if you'd like to!

See the article [How to hack on Brackets](https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets) to get started with the Brackets codebase. If you have any questions, feel free to post them here! We also have a [Slack channel](https://brackets.slack.com) for day-to-day communication.

[2017-01-18 16:49] bokub commented on #13041
With the [Emmet](https://github.com/emmetio/brackets-emmet) extension (most popular extension of Brackets BTW), you can achieve this pressing `!` then `TAB`

[2017-01-18 18:01] rockyallen opened #13048 "Accessibility of file pane (feature request)"
Brackets 1.8.0 Windows 7:
The file pane and menus look cool, but are very poor for accessibility. I would prefer:
* High contrast (not grey-on-grey)
* Larger font
* On-hover indicators around clickable labels (file names, expand/collapse markers, and menu items)
* Visible sliders
* Visible panel separator between open files and files

I tried selecting different themes, but they only seem to chang

[2017-01-19 05:59] Cactusx09 opened #13049 "Brackets 1.8 crashed almost all plugins"
### Description

Brackets 1.8 crash almost all plugins

### Versions

Windows 10 x64
Brackets 1.8

[2017-01-19 06:00] Cactusx09 opened #13050 "Can we do plugin to include Avocode in Brackets like Extract?"

[2017-01-19 06:10] #13049 closed

[2017-01-19 06:10] Cactusx09 commented on #13049
sry, now it's fixed

[2017-01-19 08:11] swmitra commented on #13048
@rockyallen Thanks for using Brackets and reporting this particular accessibility problem.

In it's current form Brackets has two variations in the view. One can be categorized as UI theme and the other one is Code theme. Essentially, customization is supported only in code theme. Rest of the UI ( Files pane, toolbar, status bar are all part of core UI and can't be customized by the user.

We took

[2017-01-19 12:52] Mohammad1277 opened #13052 "Bracckets is hanging when i use the responsive tool"
when i use the responsive tool the Brackets is hanging and not respond.
i use windows 7, and my app version is 1.8 build 1.8.0-17108, the version of the downloaded tool is 0.1.0 for Ben Rooney.

[2017-01-19 16:39] petetnt opened #13053 "Feature request: OctoLinker-like navigation within project via links in JavaScript"
This issue is a feature request / extension idea for a [OctoLinker](https://octolinker.github.io/) like interface for quickly opening files from within JavaScript (or other files).

If you aren't familiar with OctoLinker it works something like this:

1. Search for imports / requires / other links within the document, examples:

[code]

2. Hover over the link part (`"./foo"`, `"handlebars"` (optio

[2017-01-20 09:39] petetnt commented on #13052
Hi @Mohammad1277,

could you report this to the extension repository: https://github.com/brimelow/Response-for-Brackets/issues. You might find better luck there. Hope you get it solved 👍

[2017-01-20 09:39] #13052 closed

[2017-01-20 17:32] MHHerock opened #13056 "Problem Of "Brackets File Tree Extension" ???"
### Problem With Brackets File Tree Extension !!!
![01](https://cloud.githubusercontent.com/assets/24572443/22158699/a868e2be-df67-11e6-900d-15384f891f61.png)

When I Was Installed **"Brackets File Tree Extension"** It Shows Me A Problem [See In Picture]. Two Option In One Place. One Is **"Brackets File Tree Extension"** And Another Is **"Split Option"**. I Think It's Not Correct. It Should Be Cor

[2017-01-20 18:06] swmitra commented on #13056
@MHHerock This looks like a problem with the extension rather than Brackets core projects panel. Please raise the same issue against the git repo of Brackets File Tree extension.

[2017-01-21 03:02] swmitra commented on #13056
Closing.

[2017-01-21 03:02] #13056 closed

[2017-01-21 05:24] swmitra commented on #13053
Interesting feature @petetnt. I always wanted this feature to be available at least for HTML files. This can be extended to pretty much all language types to ease up the document navigation.  I hope someone should pick it up or else we have to start working on it 😊

[2017-01-21 14:08] sheraz2016 commented on #13040
why brackets goes slow and shows more errors after installing extentions in it than before and also goes hang on save all ... ant also hang on when goes fron css file to HTML file it takes some seconds and then allows you to edit code... why? can anyone tell solution?

[2017-01-21 22:03] diman82 commented on #10462
Facing the same issue, followed the troubleshooting guide but no luck.
Can you please advise steps for debugging the problem?

[2017-01-22 12:09] ficristo opened #13057 "Errors are not highlighted in the default dark theme"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-01-22 12:10] ficristo commented on #13057
Since I believe (I don't have investigated) it is a problem of overriding correctly the styles, marking as starter issue.
/cc @swmitra @MiguelCastillo

[2017-01-22 13:26] swmitra commented on #13057
@ficristo you are absolutely right.  The problem is the position and grouping of cm-error.  Ideally cm-error should be defined after defining all the CM token selectors in the theme less file. We will fix this in 1.9.

[2017-01-22 18:01] HienNguyen711 opened #13058 "Problems with Brackets while coding with jsx"
I am using Brackets 1.7 on Window 7 and everything seems to be ok when I start a jsx file. I am coding and then it suddenly ran into this problem. It showed nothing but actually there was code there, I cannot type anything.

![2](https://cloud.githubusercontent.com/assets/18014965/22184589/4ad564de-e0dd-11e6-9b81-87318570a856.PNG)

The code disappeared without informing any thing when I open jsx f

[2017-01-22 18:25] danaviya opened #13059 "Extension manager not working"
I can't get any extensions to load.
I erased chorme, renistalled it and then installed a fresh Barcket (1.8).
The errror given is "Unknown internel error"
The debugger says this:
Unknown installation error extensionManager domain is undefined
I tried also with URL and droping the sip into the drop box.
Lastly this is windows 7.
This is such a good editor. I am really stuck on it.
Anyway love to he

[2017-01-22 18:52] danaviya commented on #13059
I just installed an extension manuelly and it worked!!!
please see this link: [manual Install/Remove/Update](https://github.com/Jayuda/Flexide/wiki/Brackets-Extensions)
OK sofar so good.

[2017-01-22 18:52] #13059 closed

[2017-01-22 19:42] schindld commented on #13059
This sounds like the 32-bit issue. Is your version of windows 32-bit? If so, find a 32-bit version of node.exe, and copy/save it into the Brackets folder (replacing the node.exe there), and restart Brackets.

[2017-01-22 20:16] danaviya commented on #13059
You were right!!!!
Well done. I wonder how you new that?

[2017-01-23 02:55] abhijeetbhanjadeo commented on #11946
[Autosave every edit](http://brackets.dnbard.com/extension/brackets-autosaver) is a good option as well.

[2017-01-23 03:47] dyarbrough93 commented on #13045
I have this issue as well and it's very annoying.
Windows 10
Release 1.8
build 1.8.0-17108.

[2017-01-23 06:09] swmitra commented on #13058
@HienNguyen711 can you please check if you can find any console errors and paste them here? This looks like a problem with the editor container. The editor is not destroyed properly.  Also please let us know the list of extensions what you are using.

[2017-01-23 11:19] petetnt commented on #13057
Weird, I fixed this in the light theme a long while back: https://github.com/adobe/brackets/pull/11894 🤔

[2017-01-23 11:59] petetnt opened #13060 "Investigate: Possible memory leak 'languageChanged' listeners attached to Document"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

Sometimes (once or twice a day) while changing files, Brackets hangs for a bit and spe

[2017-01-23 12:17] holyRa opened #13061 "Suggestion: Add a keybind command to swap the files currently open in upper and lower pane."
I like to have the upper pane much larger than the lower, so I can take a quick look at another file than the one I'm working on without losing much space on the screen. However, if I decide to work on the file I have open in the lower pane while quick-referencing the one on my upper pane, I have to use the mouse to swap the two files around.

Needless to say, this is an atrocity. I'd like to sugg

[2017-01-23 13:24] HienNguyen711 commented on #13058
@swmitra
Here is the list of extensions:
https://paste.ubuntu.com/23851873/
About console errors, there are so many errors, sorry I do not know how to get the right format for you to easy to look.
https://paste.ubuntu.com/23851894/
thank you so much for help!

[2017-01-24 03:11] swmitra commented on #13057
@petetnt yes,  that's exactly the fix what we need in dark theme as well.

[2017-01-24 03:20] swmitra commented on #13058
@HienNguyen711 Thanks for sharing the logs.  To me it looks like one of the extensions have created a container which has misplaced editor container. I suggest you do the following - Reload brackets without extensions and see if you can reproduce the problem. If you are unable to then it's probably a problem caused by some extension and in order to pin down that extension, disable the extensions w

[2017-01-24 08:03] spillai98 commented on #11576
@notxalckram I'm facing the same issue while editing the html files on my Network drive.  Do you have any workaround or fix for this? Thanks (Please refer attached screenshot for the issue I'm facing).

[2017-01-24 08:23] petetnt commented on #13061
👍 Calling it an atrocity is a _bit_ too harsh, but I agree that it could be much better. Would you like to take a stab, checking out https://github.com/adobe/brackets/blob/e8bbf5ef8ce08c0d37f8e0218ed0127a1217fe26/src/view/Pane.js#L241 would be a good place to start.

[2017-01-24 09:18] markclaxton commented on #11576
@spillai98 I've stopped using Brackets, I'm in a new job now and working on macO. I prefer Brackets to other editors but it doesn't play well with files on our network drive so I've had to resort to using Atom.

[2017-01-24 14:55] HienNguyen711 commented on #13058
@swmitra : Hi, reload without extensions seems to work. So, what should I do next? Should I try to find the extensions that could manipulate the DOM? And what is a better way you can suggest to find the exact extensions that cause this ?

[2017-01-24 15:22] swmitra commented on #13058
One surprising thing,  why react_jsx is listed twice.  That might be a concern.

[2017-01-24 15:29] holyRa commented on #13061
I'm aware it was a bit too harsh, it was intended sarcastically as it's kind of a petty complaint in the big picture (oh no, I have to move my mouse). Sorry if it sounded rude, it wasn't intended as such :)

[2017-01-24 20:25] cisco92 opened #13062 "Heredoc HTML highlighting in PHP"
Hi,

Is there anyway of getting HTML markups and highlighting when using heredoc or newdoc in PHP?
Like in sublime you can type the wanted markup language after the <<< to get the correct markup, so like:
`<<<HTML
blablabla
HTML;`

I really want this to work in brackets also since a lot of HTML get's written in heredoc and it's all just plain orange.

Hope someone can help me out!

Best Regards
Ci

[2017-01-25 08:51] petetnt commented on #13062
Hi @cisco92,

can you give an example? It seems that `Heredoc` should work out of the box (related: https://github.com/codemirror/CodeMirror/issues/3421).

Which syntax highlight mode are you using?

[2017-01-25 08:55] cisco92 commented on #13062
![example](https://cloud.githubusercontent.com/assets/22174011/22283774/5383b262-e2e4-11e6-9716-98e64f31ca18.jpeg)

As you see in the picture the code in `Heredoc` is not highlighting correctly..

In the bottom right of Brackets `PHP` is selected.

[2017-01-25 09:09] petetnt commented on #13062
Thanks @cisco92,

The Heredoc part seems to be working as it should, as Heredoc can contain any file or input stream literal. Sadly that means that means that the contents could be highlighted inside the Heredoc in nearly any way possible, which is why CodeMirror opts to just highlight interpolated variables.

The solution would be some kind of mixed mode, where the contents of the Heredoc would b

[2017-01-25 09:55] Johfra commented on #12042
Same issue here!

Brackets is locking the folders and even keeps them locked after I have closed the program. This is really annoying because regularly I am getting notifications that Bracket is not able to save the file.

I am running Brackets Version:
Release 1.8 build 1.8.0-17108 (alf_localization_release_1.8 3af64fae4)
build timestamp: Wed Nov 02 2016 12:07:29 GMT+0000

I have Windows 7 64bit

[2017-01-25 20:44] dmaweb opened #13063 "Live Preview just isn't worth it"
While it's nice to be able to see the chrome preview change as I make edits in Brackets, the tradeoff of inconsistent behavior (often the preview just stops working), a second instance of chrome running, and the inability to use the chrome inspector make this feature useless.
Instead, Brackets should build live preview like Browsersync or Livereload do it, refreshing the browser when the page is l

[2017-01-26 09:15] wolffe opened #13064 "Remove custom fonts"
This is an OS-integration idea.

I think it would be better not to use Source Sans Pro for UI fonts, and only use OS-specific fonts, such as WordPress backend or GitHub:

`font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";`

The font is better rendered and it integrates better with the various OS's out

[2017-01-26 10:43] petetnt commented on #13064
I like the idea in general, might be worth testing it out.

[2017-01-26 10:51] wolffe commented on #13064
I created my own theme, which replaces the vanilla fonts with the ones above. The theme is called **The Greyhound** and I have also released a plugin, called **The Greyhound Companion**, which changes more areas of the IDE, inaccessible to a regular theme.

[2017-01-26 14:39] swmitra commented on #13063
@dmaweb Thanks for using Brackets and sharing your concern regarding live preview feature.  Inconsistent behavior is definitely a niggling issue which we are looking at. The whole point of live preview is to leverage on live preview of the page which is being edited. In fact we are getting in a reverse inspect feature in next release to highlight a corresponding element in editor.  However I am in

[2017-01-26 14:45] swmitra commented on #13064
Good work @wolffe. Honestly I quite liked the idea of using a different font. But along with this we should try to resolve one more problem where in high dpi monitors rendering of file tree and status bar is quite useless. We need to use a user customizable font size for control panes as well. Could you think about some solution in that line?

[2017-01-26 14:54] wolffe commented on #13064
Maybe. I can only test it with 2 monitors, one 1440 and one 1920, but I'll have to check if I can add:

1. Font size controls in the Theme panel.
2. REM units for fonts, so they scale dynamically with the resolution.

I'm actively working on my theme and my plugin, as I'm coding on 3 different computers and I need them to look and behave the same.

[2017-01-26 15:17] mozn-lz opened #13065 "HTML code hinting without "<""
Can we have HTML code hinting without starting with the "<".
It makes coding pages quick and easy.

                * CURRENT
        1. Type "ar"     => no code hint
        2. Type "<ar"   => code hint (area, article)

                * IDEAL
        1. Type "ar"     => code hint (area, article)

![15859d98-fa21-11e4-87db-cae05b14d367](https://cloud.githubusercontent.com/assets/20554881/22335972

[2017-01-26 16:21] petetnt commented on #13046
Hi @cab12,

sorry for the late response. Are you still able to replicate the issue?

If you are, could you open up the developer tools (Debug -> Show Developer Tools -> Console) and see if any errors popup when live previewing a HTML file?

[2017-01-26 17:06] moonsirenz opened #13066 "Brackets won't open .jsx files even after installing all available extensions"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-01-26 18:28] swmitra commented on #13064
@wolffe I have seen this problem in my 4k 28inch monitor. Editor font size can be increased in Brackets but not the rest of the things. I am working on matching the code hint font size with that of code view, but the rest of the UI should also evolve.

[2017-01-26 20:57] wolffe commented on #13064
So, first of all, the change I am proposing is to change the current IDE font (Source Sans Pro) with the font stack in my original post.

Second, a bit offtopic, and this should have its own issue, the font size configuration. I agree with your points above. That's why I created a plugin to change the fonts that cannot be changed via a regular theme.

Please check **The Greyhound** theme and the *

[2017-01-26 22:14] linocatucci opened #13067 "Brackets does not auto close double quotes (") and single quote (')"
Hi,

I am working with a macbook Pro macOS with brackets 1.8.0-17108. See below for more details.

But in my brackets installation Brackets does not auto close double quotes (") and single quote (').
{}, [] and () are auto closing correctly.

Who can help me?
Thanks,
Lino

{
"uuid": "511a6c49-1ada-4dd3-ab05-6c4c70e7d703",
"snapshotTime": 1485464301455,
"os": "mac",
"userAgent": "Mozilla/5.0 (Macin

[2017-01-27 02:32] swmitra commented on #13065
@mozn-lz Thanks for using brackets.    In it's current form,  Brackets provides html tag hints only when you have pressed '<'. Any character you type after that is just going to provide filtering. This has been done with a purpose, to keep it non intrusive and keep it targeted. You can always seek hints by pressing ctrl+space.

[2017-01-27 02:38] spiritson commented on #13061
@petetnt  Should it be an extension instead? or would you like it be part of core? I see something very very close to this request already part of core from this #12853

[2017-01-27 03:16] spencerflem commented on #13061
I'm thinking of taking this bug. Would you recommend moving the function to MainViewManager or leaving it in Pane?

[2017-01-27 08:27] petetnt commented on #4954
Thanks @webjocky 👍

[2017-01-27 08:27] #4954 closed

[2017-01-27 08:41] swmitra commented on #13061
I guess if we are making this part of core, it should be enabled only by a preference which by default should be false.

[2017-01-27 08:46] petetnt commented on #13067
Hi @linocatucci,

seems to work for me at least for JS files. Which document mode are you using?

[2017-01-27 08:51] petetnt commented on #13061
IMHO the fix should be flipping files between panes via buttons: the functionality is already there, but there's no keybindings for the flipview functionality. If we had the flipview functionality mapped to keybindings, SameDocMultiplePanes + FlipView would solve this problem (instead of just flipping two documents around).

[2017-01-27 08:55] linocatucci commented on #13067
Hi, I am using JS files. In HTML and CSS I don't have this problem.
I have checked my keyboard settings which are US EN
thx

--
Lino Catucci

Op 27 januari 2017 om 09:47:18, Pete Nykänen (notifications@github.com)
schreef:

[2017-01-27 14:24] kiratsunami opened #13069 "adding p5 keywords to brackets"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-01-27 14:26] kiratsunami commented on #13069
hi guys i wanted to know is it possible to add some keywords to brackets like fill ellipse ... from p5.js thx

[2017-01-27 15:46] swmitra commented on #13061
Yes @petetnt that makes complete sense.

[2017-01-27 15:50] swmitra commented on #13069
@kiratsunami Thanks for using Brackets and reaching out to us.  From the issue description it's not clear that what is the expectation. Is this only custom code coloring you are asking for where we could treat some additional tokens as keywords?

[2017-01-27 16:30] gem0303 commented on #12617
@ficristo

I just installed Brackets Electron and unfortunately still had the white screen crash, as @zaggino mentioned.

Is there anything I can do to fix the crashes? If not, will this issue be resolved in Brackets 1.9 and what is its expected release date?

I'm really bummed to switch away from Brackets because I love it, but I can't be productive with it anymore.

[2017-01-27 18:37] ficristo commented on #12617
Could you leave open the developer tools and see if there are some errors when the crash happens?
And do you have some step to reproduce?
For the network drive I think our current watching mechanism is not good at least on macOS.
(Probably we should check if it is a network drive and switch to the polling mode)

[2017-01-27 18:42] ficristo commented on #13067
Can you reproduce the problem with `Debug -> Reload Without Extensions`?
Also could you share your preferences and a snippet of code to reproduce?

[2017-01-27 18:52] ficristo commented on #13064
It seems there is also the `system-ui` font.
But maybe we should update the fonts, see #12663

[2017-01-27 18:53] ficristo commented on #13066
Could you be more specific?
And can you reproduce the problem with `Debug -> Reload Without Extensions`?

[2017-01-27 19:07] Bracketsuser opened #13070 "Feature request: Autocomplete image dimensions, and should copy and paste only work when highlighting code?"
- If possible, I'd prefer if the editor detects and autocomplete width and height attributes after entering width=" and height=" .... which I assume is possible after detecting the image using src attribute. This is a similar feature in Dreamweaver.

-  Should we only allow the user to copy text when they're highlighted? I had instances where I hit copy (CTRL+C) by mistake while not highlighting a

[2017-01-27 19:16] ficristo commented on #13070
When you hit Ctrl-C The current behaviour is to copy the current line if nothing is selected.
You can disable this setting `lineWiseCopyCut` to `false` in the preferences

[2017-01-27 20:10] linocatucci commented on #13067
Hello ficristo,
It worked! With Debug -> Reload Without Extensions, the double quotes and single quotes are closed automatically.

Thanks,
Lino

[2017-01-27 22:09] zaggino commented on #12617
@ficristo I'm 90% sure it's something doing infinite loops in browser process, first guess would be js code hints, we updated it recently and it's using webworker. https://github.com/adobe/brackets/pull/11948 should fix this. If this was the watching mechanism, it wouldn't crash electron, the processes are separate there.

[2017-01-27 22:13] kiratsunami commented on #13069
thx @swmitra  for answering me so fast , well i want that Brackets can handle those keywords like Html , i type char in meta and with SPACE+CTRL he finished + another color , i'm speaking about keywords of p5.js like fill ellipse ... and that he recognize the arguments and what i'm supposed to enter and another time thx for u're answer it's kind from you

[2017-01-28 01:33] gem0303 commented on #12617
Thanks for the quick replies. I'm using Notepad++ at work and it works well enough, but it's no Brackets!

@ficristo I've kept it open before and never had any error messages when the crash occurs.

The only 100% consistent thing that crashes it is editing a js file (normally they're rather long files, but I'm not sure if the size of the js file has any impact).

It will crash whether or not Adobe

[2017-01-28 02:23] zaggino commented on #12617
@gem0303 try deleting `extensions\default\JavaScriptCodeHints` folder from your Brackets installation. Just to see if it helps (you might also want to move it so you can move it back)

[2017-01-29 03:49] MandarSant opened #13071 "Portable/Standalone edition for all platform"
I am wishing for portable edition for all platform just plug and play without need of installation/.exe file

[2017-01-29 13:41] saurabh95 commented on #12010
@ingorichter I have access to the machine and I searched for currently running cron jobs I was not able to find any, so I will try to add that cron job.
Just to be sure we need to run `node downloadStats/downloadStatsUpdater.js` ?
Do you remember the time interval that was set for running the above cron job?

[2017-01-29 15:51] ficristo opened #13072 "Preferences objects are not extended with defaults values"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-01-29 15:52] ficristo commented on #13071
Dupe of #12835

[2017-01-29 15:52] #13071 closed

[2017-01-29 21:58] petetnt commented on #13057
Fixed in #13068

[2017-01-29 21:58] #13057 closed

[2017-01-29 22:22] ianshmean opened #13073 "'Auto Indent' and in-line indenting doesn't handle if/elseif/else/end structures in languages that don't use braces"
### Description

'Auto Indent' and in-line indenting doesn't handle if/elseif/else/end structures in languages that don't use braces

### Steps to Reproduce

1. Use language like Julia that doesn't use braces for if statements
2. type out if statement and see auto-indent occurring incorrectly
3. also try 'auto indent' option from edit menu

**Expected behavior:**
[code]

**Actual behavior:**
[code

[2017-01-30 04:07] MandarSant commented on #13071
@ficristo it is not duplicate the .#12835 is issue

[2017-01-30 19:05] ficristo commented on #13073
I've installed the `Julia Syntax Highlighter` extension and I've created a `test.jl` file
The `elseif` seem dedented correctly.
And I cannot reproduce on http://codemirror.net/mode/julia/
But I also don't see any 'auto indent' option on Edit menu: do you have some other extensions?

[2017-01-30 19:17] ianshmean commented on #13073
I've drilled down and it seems to be an issue when the conditional statement is present beside the `elseif`

For instance, this indents properly:
[code]

But this doesn't
[code]

And you're correct, the 'auto indent' option in the edit menu was in an extension. I didn't realise.

[2017-01-30 19:33] ficristo commented on #13073
If I write simply
[code]
and then write `elseif` is dedented correctly.

Can you reproduce on the codemirror demo? If so, you should file an issue upstream.

[2017-01-30 19:49] ianshmean commented on #13073
I get that behaviour too, but if you make the 2nd line code, not a comment, the issue arises:

[code]
[code]

[2017-01-30 20:07] ficristo commented on #13073
I'm using the exact example you wrote and still cannot reproduce.
Do I need some real code?
That said, if you can reproduce on CodeMirror demo the issue should be fixed there.

[2017-01-30 20:15] ianshmean commented on #13073
The last example I gave should be sufficient to reproduce. I have no idea why you're not seeing the same behavior. I can reproduce this on CodeMirror, so I'll do as you suggest and post an issue there

[2017-01-31 01:01] jlnwcic commented on #12782
Looks like the issue is Really Simple:
Someone attached an Alt- command to both the "File" pull-down menu and the "Find" menu.  Both can't be there at the same time. They argue.

[2017-01-31 07:42] ingorichter commented on #12010
@saurabh95 which user did you use to find the cron job? Did you run `crontab -e`? And that was empty?
Yes, that is the script. The script ran every 15 mins.
I tried to access the machine, but I didn't have the password to unlock the file that contained the certificate to establish a SSH connection.

[2017-01-31 07:43] ingorichter commented on #13040
does anybody have more information what data is written to the temp folder? I wonder why it's growing to that size.

[2017-01-31 07:46] ingorichter commented on #13040
@sheraz2016 well, extensions might be buggy and cause issues if they are not aware of the lifecycle and run expensive operations on save, lint, you name it. The best advice is to try isolating the extensions that behave abnormal. I know that this can by a bit cumbersome, but that will be valuable feedback fort extension developer. Which extensions did you install?

[2017-01-31 08:48] sheraz2016 commented on #13040
i installed these extensions -- Brackets Css Color Preview, Brackets CSS Class Code hint, Brackets CSS Class Code hint, More CSS Code Hints, More HTML5 Code Hints, Number Tabs, PHP SmartHints, Show Tabs , Super Right Click, word wrap icon.

[2017-01-31 09:48] sheraz2016 commented on #13040
i think save button extention was causing problem now it is working good.

[2017-01-31 12:38] haslam22 commented on #13040
@ingorichter I think it contains the bookmarks, history, cache, settings, etc. for the live browser. Here's another related issue:  #11165

[2017-01-31 19:01] ficristo commented on #13071
The underlying issue is the same: the lack of a portable build.

[2017-02-01 06:17] saurabh95 commented on #12010
@ingorichter  I was logged in as "brackets-team". I checked for cron job using `crontab -l` , it showed nothing and then I used `crontab -e` to check if it was edited or not, there were no edits in that.
Now I have updated the logs for the past 14 months and also started a cronjob for every day(will change it to every 15 minutes). You can check the registry.json file, it has updated download count

[2017-02-01 08:31] petetnt commented on #13067
Closing as extension issue 👍

[2017-02-01 08:31] #13067 closed

[2017-02-01 13:46] murrayLuke commented on #13046
I'm running into the same issue on MacOS with Chrome as my default browser. I am running the most recent version of brackets (1.8), and I get the following exceptions in my developer console.

/utils/EventDispatcher.js:231 Exception in 'styleSheetRemoved' listener on Object TypeError: Cannot read property 'canonicalizedURL' of undefined TypeError: Cannot read property 'canonicalizedURL' of undefin

[2017-02-01 14:16] petetnt commented on #13046
Thanks for the error message @murrayLuke!

There's some similar issues around that particular bug, some of which were solved by removing a certain extensions. Does this occur to you if you `Debug -> Launch Without Extensions`?

[2017-02-01 15:24] murrayLuke commented on #13046
yes. I get the following error messages when I launch without extensions. If it helps you track down the bug I am running OSsierra version 10.12.3, my version of Chrome is 56.0.2924.76 and my brackets version is Release 1.8 build 1.8.0-17108. I am not a power user of brackets so I don't have any extensions installed, the only thing I could image is causing this issue, is that I installed brackets

[2017-02-01 19:23] ianshmean commented on #13073
Issue [found](https://github.com/codemirror/CodeMirror/issues/4519) and [addressed](https://github.com/codemirror/CodeMirror/commit/73044ab7cc377d4e039400d9ca23d044169cde0b) in codemirror

[2017-02-01 19:23] #13073 closed

[2017-02-01 22:43] ingorichter commented on #12010
@saurabh95 thanks for the update. Let me check the json file. :-)

[2017-02-02 17:32] JigAma opened #13076 "Dead link in the wiki"
### Description

Hello, in the page https://github.com/adobe/brackets/wiki/How-to-Use-Brackets
the link to the JSLint reference is dead and return a 404 page.

### Steps to Reproduce

1. Go to https://github.com/adobe/brackets/wiki/How-to-Use-Brackets
2. Search in the page "jslint.options"
3. Click on "the JSLint reference"

**Expected behavior:** Go to the JSLint reference

**Actual behavior:** G

[2017-02-02 21:45] petetnt commented on #11984
What's the status of this?

[2017-02-02 21:47] zaggino commented on #11984
I can setup a PR for "Integrate ESLint to Brackets core" if desired.

[2017-02-03 05:41] swmitra commented on #12010
Closing the issue now.

[2017-02-03 05:41] #12010 closed

[2017-02-03 06:42] petetnt commented on #13076
Fixed this earlier, thanks again!

[2017-02-03 06:42] #13076 closed

[2017-02-03 16:22] gabessdsp opened #13077 "The Windows Taskbar cannot be activated when Brackets is on focus"
### Prerequisites

* [yes ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [yes ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [yes ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/br

[2017-02-03 17:27] kaustubhmallik commented on #11709
Is this still open?

[2017-02-03 17:45] roopkt commented on #2752
I also think we should show the detail message. Currently it just says expected false to be true and bunch of useless file references like : buildExpectationResult@file:/// ..., expectationResultFactory@file:... , addExpectationResult@file:///C:/Users/, addExpectationResult@file://... in ..file (line 52)
Which is not that helpful.

[2017-02-03 17:46] roopkt commented on #2752
I also think we should show the detail message. Currently it just says expected false to be true and bunch of useless file references like : buildExpectationResult@file:/// ..., expectationResultFactory@file:... , addExpectationResult@file:///C:/Users/, addExpectationResult@file://... in ..file (line 52)
Which is not that helpful.

[2017-02-03 18:50] ficristo commented on #13077
Could you point here the link to the old issue?

[2017-02-03 19:10] ficristo commented on #11821
I have not been able to reproduce the error.

[2017-02-03 19:10] #11821 closed

[2017-02-03 19:19] ficristo commented on #10322
I cannot reproduce the original issue.
I leave open the issue because probably the http://adobe.github.io/brackets site needs an overhaul.

[2017-02-03 19:26] ficristo commented on #7944
I have not been able to reproduce the error.

[2017-02-03 19:26] #7944 closed

[2017-02-03 19:28] ficristo commented on #12904
I close this issue since there wasn't an answer.

[2017-02-03 19:28] #12904 closed

[2017-02-03 19:31] ficristo commented on #12901
Since there wasn't an answer I close this.
There are other issues about performance jut look for the label `performance`.

[2017-02-03 19:31] #12901 closed

[2017-02-03 19:35] ficristo commented on #12888
I cannot reproduce.

[2017-02-03 19:35] #12888 closed

[2017-02-03 19:35] ficristo commented on #12887
I close this issue since there wasn't an answer.

[2017-02-03 19:35] #12887 closed

[2017-02-03 19:37] ficristo commented on #11566
It never happened to me that Brackets freezes. But I'm sure there are performance problems.
Just look for the issues with label `performance` to track performance related problems.

[2017-02-03 19:37] #11566 closed

[2017-02-03 19:38] ficristo commented on #10992
I close this issue since there wasn't an answer.

[2017-02-03 19:38] #10992 closed

[2017-02-03 19:45] ficristo commented on #12935
I close this issue since there wasn't an answer.

[2017-02-03 19:45] #12935 closed

[2017-02-03 19:59] ficristo commented on #11709
This issue is still valid. But instead of showing an error if Chrome is not installed, we should upgrade the brackets-shell to use a more up-to-date CEF version. This would enable to show the developer console inside Brackets itself.
See https://github.com/adobe/brackets-shell/pull/589 for my last attempt.

[2017-02-03 21:42] petetnt commented on #13077
I vaguely remember submitting the similar issue myself, but haven't run into this in years 🤔

[2017-02-03 22:57] thany opened #13078 "[Linux] Brackets depends on nonexistent libgcrypt11"
I can't install Brackets on Mint Cinnamon 18.1, because it depends on `libgcrypt11` which doesn't exist.

Yes, I've seen the discussion. The issue appears to be brushed off, since it has existed for some **2.5 years!!**

Here's a suggestion: *include* a suitable libgcrypt if you can't update to libgcrypt20. Include it in the deb package, so there won't be an impossible dependency. This will most l

[2017-02-03 23:42] zaggino commented on #13078
There's a point in the README about this: https://github.com/adobe/brackets#download
Also, you're welcome to open a PR with the fix that you've suggested. Right now Brackets don't have anyone who would maintain Linux builds.

[2017-02-04 02:59] thany commented on #13078
I'm not that kind of programmer.

The fact of the matter is that this issue has existed for 2.5 years. So it magically survived several Brackets releases, and at least four Ubuntu releases. For shame!

The whole idea of deb packages is so that dependencies can be handled automatically and painlessly. By requiring a nonexisting dependency, you're defeating the whole purpose of the package system. P

[2017-02-04 03:21] zaggino commented on #13078
As I mentioned above, right now there's no-one to do this kind of work. Linux shell is basically not-maintained at all. It's a shame, I can agree with you on that.

[2017-02-04 03:25] thany commented on #13078
It's not because Brackets is backed by Adobe, is it? Because I think we all know Adobe hates Linux...

Maybe I'll try Brackets-Electron then. As it stands now, that one is just as well supported as the official Brackets on Linux.

[2017-02-04 21:46] tonybrasunas commented on #11588
I too (perhaps one of millions) need this feature. Yes it is a reason I will still open dreamweaver, although I only have it one of my machines now. I'm trying to improve my regex fu, and I've pulled off a few pretty sweet replaces, but c'mon this is a serious drawback to this editor right now.

[2017-02-04 21:51] petetnt commented on #11588
@tonybrasunas there's a PR pending for adding the feature in, but the original author sadly doesn't have enough time to finish. If you (or anyone else from the community) would be willing to pick it put, me (and others) would be more than welcome to help you get started on hacking on Brackets.

The pull request can be found at https://github.com/adobe/brackets/pull/12442

[2017-02-04 22:33] petetnt commented on #13078
@thany It doesn't have anything to do with Adobe, more that the Brackets project has been unable to find a contributor that would have the required skill set of the difficult task of keeping up with complexity of Linux version of CEF. The C++ coders on Linux using Brackets is understandably small subset of users.

@ficristo has done superb job trying to get the Linux version up-to-date but there's

[2017-02-04 22:33] #13078 closed

[2017-02-05 14:39] krll-k opened #13079 "Extension Idea: How use custom interface in plagin Live Preview?"
## Extension Idea
I need to do so that I could use both in my phone and in the second monitor:
<img src="https://www.html5rocks.com/static/images/screenshots/crossdevice/image15.gif" />
## Steps
1. When I launch "Live Preview", the launch takes place on the localhost interface
<img src="https://pp.vk.me/c836336/v836336135/2565e/G8jSrjRiU80.jpg" />
2. But I need to open the page in the browser on p

[2017-02-06 09:56] dacramp opened #13081 "PHP: Problem with unwanted double apostrophes in strings"
Hello everyone,

there is some weird behaviour in PHP strings when variables are involved.

Basically, when I want to write something like:
![1](https://cloud.githubusercontent.com/assets/25581183/22641658/ee37364a-ec57-11e6-936b-71a868874540.png)
I will end up with this:
![2](https://cloud.githubusercontent.com/assets/25581183/22641676/ff11ea1e-ec57-11e6-9fbd-88ab3fd25de7.png)

The issue is that

[2017-02-06 09:57] Memoon opened #13082 "Kindly resolve my issue"
I m using Bracket 1.8 wanted to uploaded the new psd file but now its given me the error plear resolved
Extract for Brackets
Extract for Brackets service is no longer available. If you wish to continue using Extract, download Adobe Dreamweaver CC:

https://creative.adobe.com/products/download/dreamweaver

[2017-02-06 10:04] ficristo commented on #13082
Is the problem that you cannot use anymore Extract within Brackets?

[2017-02-06 16:11] ianshmean opened #13083 "A more persistent `find` bar would be helpful, persisting through code clicks"
### Description

I feel the find bar functionality should be more persistent. I often use the find function to find multiple instances of the string and it's very frustrating that after using find and having the find bar appear, clicking on the code makes the bar disappear instantly.

### Steps to Reproduce

1. ctrl-f / cmd-f
2. search text
3. click on code
4. find bar disappears

[2017-02-06 17:58] svadakattu commented on #12662
Disabling extensions helped improve performance. Thanks!

[2017-02-06 19:46] petetnt commented on #13083
There's been a PR pending for this for literal ages, hope we can land this to 1.9

https://github.com/adobe/brackets/pull/11996

[2017-02-06 19:50] ianshmean commented on #13083
It see. That would be great.

[2017-02-07 04:50] Memoon opened #13084 "emmet is installed but its not working in Brackets"
emmet is installed but its not working in bracket please let me know what should i do

[2017-02-07 04:51] Memoon commented on #13082
So how can we use PSD file in Brackets

[2017-02-07 06:50] antoine-pous commented on #12662
Got the same issue, especially on NodeJS projects.

[2017-02-07 15:48] efares commented on #11113
I am having this issue too. Clicking undo scrolls the document to the top/random section of my HTML file.

[2017-02-08 07:09] petetnt commented on #13084
Hi @Memoon,

did you install https://github.com/emmetio/brackets-emmet extension or just plain `emmet`?

[2017-02-08 17:49] ToniCubb opened #13087 "I logged onto Brackets on a new computer and now i cant save any edits."
I tried saving a change to my html files on my new computer, and brackets wont let me save. it says I don't have permissions.

[2017-02-09 07:29] Memoon commented on #13084
thanks my issue is solve however i enter "Enter key " instead of tab .

[2017-02-09 07:29] #13084 closed

[2017-02-09 07:50] petetnt commented on #13087
Hi @ToniCubb,

did you copy the files from your old computer? Which operating system?

[2017-02-09 14:24] petetnt commented on #13082
Sadly the Adobe Extract service has been discontinued by Adobe (see http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/?lang=en for more information).

There has been some talks about open sourcing some of the technology behind it, but there's nothing further to comment on sadly. Dreamweaver seems to still offer this feature if Adobe CC subscription is an option.

Sorry a

[2017-02-09 14:24] #13082 closed

[2017-02-09 15:16] enriqueguido opened #13088 "Extract for brackets preview"
I am unable to open any files from adobe like psd and ai. I do not have a show extract button. I tried several tutorials, as well as uninstalling it and reinstalling, but it has not worked. I get the following error in the console developer tool.
![image](https://cloud.githubusercontent.com/assets/16198465/22789140/1e5864e8-eeb0-11e6-8e65-71ba19c3ca67.png)

[2017-02-09 15:18] petetnt commented on #13088
Sadly the Adobe Extract service has been discontinued by Adobe (see http://blog.brackets.io/2016/04/14/update-about-extract-for-brackets-preview/?lang=en for more information).

There has been some talks about open sourcing some of the technology behind it, but there's nothing further to comment on sadly. Dreamweaver seems to still offer this feature if Adobe CC subscription is an option.

Sorry a

[2017-02-09 15:18] #13088 closed

[2017-02-09 15:24] enriqueguido commented on #13088
Thank you!!

[2017-02-09 20:36] tower-forte opened #13089 "MAC Voice over Not working in Edit area"
### Prerequisites

* [yes ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ yes ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [yes  ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/

[2017-02-10 01:59] nicomfe commented on #2752
Almost 3 years with this opened and we still dont have a custom message for expect :(

[2017-02-10 04:22] Turbo777 opened #13090 "how to import images into my image folder in project pane?"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [ ] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https://github.com/adobe/brackets/wi

[2017-02-10 11:21] ficristo commented on #2752
This issue is closed AFAICT. Also in the first comment there is written very clearly that Brackets team doesn't own or mantain jasmine.
If the issue is fixed in jasmine 2.0 keep in mind that we are using jasmine 1.3 and upgrading require most probably a complete rewrite of all our tests.

[2017-02-10 11:31] ficristo commented on #13081
Opened codemirror/CodeMirror#4549

[2017-02-10 11:33] ficristo commented on #13062
Filed codemirror/CodeMirror#4550.
The CodeMirror mantainer is open to accept a PR but he will not implement himself.

[2017-02-10 20:47] armandbancila opened #13092 "CTRL+C or CTRL+X doesn't work during selection"
[Description of the bug or feature]
CTRL+C or CTRL+X doesn't work during selection
### Steps to Reproduce

1. Select code with the mouse
2. Keep left mouse button pressed
3. Press CTRL+C (while 2.)
4. Release mouse button
5. Try to paste. Nothing. Doesn't work. It will actually paste the last correctly-registered copy / cut.

Version info:
Release 1.8 build 1.8.0-17108 (alf_localization_release_1.

[2017-02-11 04:56] IAmSumOne opened #13093 "Saved files are Unopenable."
The problem is this.  Several times now I have started projects in Brackets, i work for a few hours to a couple days on some code, saving regularly.  When I come back and try to open my project files again, the Brackets decides to inform me that am not able to open my files "An error occurred when trying to open the file ...../filename.css.  Brackets currently  only supports UTF-8 encoded text fil

[2017-02-11 16:35] creativemac73 opened #13094 "emmet stopped working for new docs"
Hi there
I am on a windows machine and I use emmet in Brackets. For some reason the plugin has stopped working for new documents. Curiously it's working fine with older documents. I have reinstalled the plugin and checked that it is enabled...does anyone know why this is?

thanks in advance
Linda

[2017-02-11 16:41] #11286 closed

[2017-02-12 04:22] nethip commented on #13089
@tower-forte  Sorry that you are facing this problem with Brackets. We will investigate more from the Accessibility front and keep you updated about our next steps. Thanks for reporting.

[2017-02-12 08:15] saurabh95 commented on #13072
@ficristo I was trying to look at this issue and I found that even if we don't have any changes in brackets.json, then also `PreferencesManager.get("closeTags")` returns
`"closeTags": {
    "indentTags": [],
    "whenClosing": true,
    "whenOpening": true
}`
`dontCloseTags` is also missing.

[2017-02-12 11:48] tower-forte commented on #13089
thanks

[2017-02-12 15:20] info170 opened #13095 "Don't remove filenames from Working Files list if they are unavailable."
Now filenames in Working Files list disappears if files become unavailable.

I use Windows7 over MacOS via Virtualisation (Parallels Desktop). And in the Brackets open files from virtual drive.
Every time when I close my MacBook (it goes to sleep), virtual drive become unaccessible and  filenames disappears from Working Files list. I need to find and add filenames in Working Files list again.

Ple

[2017-02-12 17:24] catdad opened #13096 "Brackets 1.8 does not support es6 in the UI portion of extensions in Linux"
### Description

Since Brackets updated to Node 6, I have been using it in my extension, which I primarily develop on Windows. On Windows, I can wrote es6 both in the main UI portion of an extension, as well as in a Node domain, and both work just fine. I loaded up the extension on Brackets 1.8 (the latest installed last night) on Ubuntu 16, and the UI portion of the extension gets syntax errors f

[2017-02-12 19:08] jeremy10tie opened #13097 "Problem"
I have a problem when I create a folder from brackets and a file in the folder and I want to show the location in another file include ('include / functions.php') the software does not recognize the folder + file

[2017-02-12 19:52] kanika1901kapoor opened #13098 "Browser Sync plugin for brackets"
### Browsersync features for brackets

Live Preview does not work with pages which are rendered by templates. It works for static files and also opens up a new browser window.

Though LiveReload plugin available in the Brackets extension registry overcomes the above shortcomings, it has to be installed in every browser.

If we can bring the features of browsersync as a new plugin, the task of inst

[2017-02-13 09:46] saurabh95 commented on #13040
@ingorichter @zaggino I think we can delete this folder once user quits brackets(as it is just storing the profile information).
What's you opinion on this solution?

[2017-02-13 10:39] petetnt commented on #13092
Hi @armandbancila,

couldn't repro the issue myself, works correctly for me on `macOS`. I can recheck against a Windows PC later today, but meanwhile you could check if it's an extension issue (Debug -> Launch Without Extensions) or if there are any errors in the dev tools (Debug -> Show Developer Tools -> Console).

[2017-02-13 10:42] petetnt commented on #13094
Hi @creativemac73,

as this is an extension issue, you most likely will find answers in the extension repository: https://github.com/emmetio/brackets-emmet. Could you repost the issue there? Meanwhile you can check if there's any errors (for example plugin conflicts in the dev tools (Debug -> Show Developer Tools -> Console).

Hope you get the issue resolved, and thanks! 👍

[2017-02-13 10:42] #13094 closed

[2017-02-13 10:47] petetnt commented on #13096
Hi @catdad,

this is sadly a long running issue of the Linux version going out of date due to the difficulty of integrating/keeping up with CEF releases on the Linux version. The Brackets-Electron version that we now usually recommend to install over the CEF Linux version has vastly better support for ES2015 features AFAIK, but I understand that this might not be a solution for an extension.

Note

[2017-02-13 17:14] redmunds commented on #13040
Deleting that folder on quit should be ok, but it will slow down Live Preview on next use.

Is there any way to programmatically set the cache size? If so, it would be nice to have a `liveDevCacheSize` preference which defaults to something like 250MB.

[2017-02-13 18:42] simon66 opened #13099 "User is able to create file/folders using relative path"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

This bug was first found by @pomax(mozilla#434) and then fixed by @tallandroid (#11862

[2017-02-13 19:32] baymaxking opened #13100 "Js file code prompt response slowly"
In JS file code hinting is slow, if write js can in the HTML file
JS file line or space code hinting is slow, it will be a long time will have prompt, did not know where is my wrong, or a software problem, don't know how to solve, can you help me

[2017-02-13 19:43] ficristo opened #13101 "Make grunt commands more consistent"
In #9396 @ingorichter proposed to change the `update-release-number` command to use the same shorter task name that we use on brackets-shell: `set-release`.
But that command is alredy used so we need more changes.
Also I think it would be better to change the `grunt build` command to something like `grunt dist` which expresses more what is its goal.
If we go to this route the scripts used to creat

[2017-02-13 19:45] ficristo commented on #13099
Do you want to take a look at this?

[2017-02-13 19:45] ficristo commented on #13097
Could you clarify what you mean with "recognize the folder + file" ?

[2017-02-13 19:46] ficristo commented on #13093
Linux builds are not well mantained. Could you try to reproduce with https://github.com/zaggino/brackets-electron?

[2017-02-13 22:34] tallandroid commented on #13099
@simon66 Thanks for bringing it up. I can take a look into this later this week. If you want to pick it up before that , feel free to pick it up.

[2017-02-13 22:35] igsoap opened #13102 "Hide side bar folder panel?"
On the sidebar, there are two panels. The dark grey panel on top called "Working Files". and the light grey panel below shows a folder, By default it says "Getting Started". Is there a way to resize or completely hide the light grey panel? In another word, I want the side bar to only show "Working Files" without the Light grey folder panel getting in the way

[2017-02-13 22:52] catdad commented on #13096
Thanks for the info, that's good to know. I already updated my code, so that's not a big deal. But it is good to know that I will need to test against Brackets-Electron, since that is officially recommended in the docs.

[2017-02-13 23:49] zaggino commented on #13072
Definitely a bug, should be extended from the defaults.

[2017-02-14 00:08] Pomax commented on #13099
@simon66 is a student currently helping us (the Mozilla Foundation) run through a bug list for https://thimble.mozilla.org, which relies on brackets for its code editor part (it's on 1.4 at the moment but we're uplifting to 1.8), finding and fixing issues that are good first bugs for first time contributors. In this particular case, unless simon wants to dive *very* deep, I'd recommend having some

[2017-02-14 01:14] humphd commented on #13099
I think it's fine if he wants to try it.  @simon66 I'd suggest beginning with converting your STR above to a failing test case or two in https://github.com/tallandroid/brackets/blob/master/test/spec/ProjectModel-test.js, and once you can get your tests to fail, move on to a fix.

[2017-02-14 05:43] saurabh95 commented on #13040
@redmunds  I checked for available flags and I found  --disk-cache-size which can be used to restrict the size of the cache, but since the change needs to be done in the brackets-shell so we can't have any preference for the size. so we have to fix the size of the cache to a particular limit, 250 MB seems reasonable to me.
@ingorichter @petetnt @zaggino any views on the size limit?

[2017-02-14 06:00] zaggino commented on #13040
250MB seems to be fine, definitely not more

[2017-02-14 17:44] simon66 commented on #13099
@ficristo Yep, I'd like to fix this issue, I'll take @humphd approach and once everything is done, I'll do a PR :+1:
I'll have my PR later on this week :)

[2017-02-14 19:47] ficristo commented on #13081
Fixed upstream.

[2017-02-14 19:48] ficristo commented on #13062
I've submitted a fix upstream. Let's how it goes. Reopening for now.

[2017-02-14 19:55] ficristo commented on #13102
There is an extension, "Resize Working Files", that maybe can help you.

[2017-02-15 04:35] saurabh95 commented on #13040
Created a PR regarding the same change https://github.com/adobe/brackets-shell/pull/596

[2017-02-15 04:50] saurabh95 commented on #13040
#

[2017-02-15 16:54] DominicMcGreevy opened #13104 "Suggestions For Future Updates"
Dear Brackets Team,
I am messaging you to suggest about future updates which I bet most Brackets users want. I am a ten-year-old boy and I love programming (especially HTML and CSS), but I would love to try a different language like C++. This is a real pain as the text editor doesn’t recognise it; I can’t find any extensions that work properly either.
I love the way brackets is laid out and design

[2017-02-15 22:15] petetnt commented on #13104
I also answered this in Slack, but copy pasting my answer here for brevity:

Thanks for your feedback! While Brackets' main focus is on web technologies such as JavaScript, it should actually give syntax highlighting for other languages too, even C-like languages like C++! If the language mode doesn't change automatically, you can change it from the editors bottom right corner (where it says HTML

[2017-02-16 08:24] sr229 opened #13106 "[Feature Request] ESLint Support"
ESLint is one of the most well-known linters, but it follows mostly the standards set by ECMA for the JavaScript Language

It would be amazing if we have ESLint support as an option in place of the supplied linter on the editor

[2017-02-16 09:02] zaggino commented on #13106
@sr229 you can use https://github.com/zaggino/brackets-eslint

[2017-02-16 11:51] petetnt commented on #13106
Related: https://github.com/adobe/brackets/issues/11984

[2017-02-16 14:17] petetnt commented on #12073
Is this still a problem for you?

[2017-02-16 14:18] #11958 closed

[2017-02-16 14:21] petetnt commented on #11746
This was added in #11749 right?

[2017-02-16 14:21] #11746 closed

[2017-02-17 01:04] Th30 commented on #13015
@humphd I can try this as well for lab 5:)

[2017-02-17 06:06] eKoopmans opened #13109 "Version 1.8: Constant high CPU usage (JS files only)"
### Prerequisites

* [x] Can you reproduce the problem with `Debug -> Reload Without Extensions`?
* [x] Did you perform a cursory search to see if your bug or enhancement is already reported?
* [x] Did you read the [Troubleshooting guide](https://github.com/adobe/brackets/wiki/Troubleshooting)?

### Description

**Version 1.8: Constant high CPU usage (JS files only)**
I discovered high CPU usage (

[2017-02-17 07:03] dineshsuthar786 opened #13110 "Collapse All is not working"
### Prerequisites

* [ ] Can you reproduce the problem with `Debug -> Reload Without Extensions`?  --> Yes.
* [ ] Did you perform a cursory search to see if your bug or enhancement is already reported?  --> No.
* [ ] Did you read the [Troubleshooting guide] --> Yes.  (https://github.com/adobe/brackets/wiki/Troubleshooting)?

For more information on how to write a good bug report read [here](https:

[2017-02-17 09:02] swmitra commented on #13109
@eKoopmans Thanks for raising the issue with critical details and detailed analysis from your side. After looking at your analysis, to me it looks like a looping issue in Tern inference engine. But this is just an assumption. Can you please let me know the following details ?
* Which process shows the spike ( Brackets or Node )?
* If you have the minified js files in your project at a nested level

[2017-02-17 09:09] teemnam opened #13111 "Unsaved files should have 'Do not save' option to exit"
When I create a new file and want to exit that file I am forced to save it before exiting as the unsaved files are not exited from Brackets like a 'Do you want to save' dialog is missing. On cancelling in attached image I stay on the page and I do not want to Save. How do i get out from here is a bug.
![screen shot 2017-02-17 at 2 38 52 pm](https://cloud.githubusercontent.com/assets/5354705/230593

[2017-02-17 16:53] MargarytaChepiga commented on #13111
I want to try to fix this bug.

[2017-02-17 16:54] eKoopmans commented on #13109
Hi @swmitra:
1. The CPU spike is in the Brackets background process (it also climbs from ~50MB to ~120MB memory usage in my test case and stays there).
2. Yes, the issue exists even if both min files are at a nested level and I open a JS file at the root.

[2017-02-17 20:32] zaggino commented on #13109
@swmitra moving tern analysis to node might help this, but I'd propose doing something that I've already implemented in Brackets-Electron, which is to separate node domains into separate processes instead of running them under single process as Brackets does it now. It's a bit of work but it's definitely worth the performance gain.

[2017-02-17 20:51] eKoopmans commented on #13109
@zaggino Unless I'm missing something, this isn't an issue of performance gain - there is some logic error that is causing Brackets to get stuck continually computing. Are you suggesting that having separate processes would prevent the infinite loop? Have you tested whether the bug is present in Brackets-Electron?

[2017-02-17 20:57] zaggino commented on #13109
@eKoopmans I'd bet with about 99% certainty that the JS code analysis (which is currently done in browser process) is blocking everything else, hence freezing (this happens in Electron too). It is probably not looping indefinitely, but parts of it are synchronous in nature and that's why we'd want to push it to node (so it doesn't block browser process) and even better, push it to separate node pr

[2017-02-17 20:58] zaggino commented on #13109
Even if it's looping indefinitely, it's better to have "code hints stopped working but everything else is fine" bug instead of "everything crashed" bug.

[2017-02-17 22:01] DrTechDaddy commented on #12363
Had the same problem today. This solution worked for me. Thanks.

[2017-02-17 23:50] eKoopmans commented on #13109
Okay, well I agree that separating the processes would be better behind the scenes. I should point out though that Brackets is not freezing, the browser process isn't being blocked, everything is still responsive. I just have constant high CPU usage in the background.

So in that sense it doesn't sound like separating the processes would be a solution to the current problem, which is that somethin

[2017-02-17 23:55] francescoTax opened #13112 "A visual tree with media query breakpoints and other elements like in Coda"
A visual tree that shows media query breakpoints and other elements as div, like in Coda

![tree](https://cloud.githubusercontent.com/assets/25855267/23087448/c775168c-f574-11e6-9119-e70d81ccea0d.jpeg)

[2017-02-19 06:31] saurabh95 commented on #11252
@MarcelGerber @zaggino  I am not able to repro the issue on the current master using the above repro steps, Could you verify it again?

[2017-02-19 10:08] b1oki commented on #13092
Confirm. But weird situation. Usually you release mouse button before copy.

[2017-02-19 14:25] armandbancila commented on #13092
True but that's the problem, I don't have a mouse, I'm on a laptop. So usually you have to keep your finger on the touchpad so that the selection is perfect and you don't accidentally select more than what you wanted to copy.

[2017-02-19 14:26] ficristo commented on #13109
Could you also try the [tern demo](http://ternjs.net/doc/demo) and see if there is a CPU hit there too?

[2017-02-19 15:11] swmitra commented on #13109
Good idea @ficristo :+1. But if this was a problem with the tern version that we are using and later got fixed in latest tern then it might not be reproduced in the demo.  But still it's worth trying.

[2017-02-19 15:29] ficristo commented on #13112
It seems a good idea for an extension.

[2017-02-19 15:35] ficristo commented on #3655
I see `console.assert` and `console.group` in the hints, but not `console.profile`.
I'd say this is fixed.

[2017-02-19 15:35] #3655 closed

[2017-02-19 15:40] ficristo commented on #13109
I just noticed there is a new release of tern https://discuss.ternjs.net/t/tern-0-21-0-released/110

[2017-02-19 16:55] petetnt commented on #13092
Could replicate on Windows 10 but not on Mac OS, marking Win only for now

[2017-02-19 18:31] eKoopmans commented on #13109
Thanks for the suggestion @ficristo! I tried the tern demo, created two "new files" with the contents of the problem file, and... nothing. No performance hit. As @swmitra mentioned, it might just be the different version of tern...

[2017-02-19 19:01] simon66 commented on #13099
Hi @humphd
Looking at the test files, I noticed that there are a collection of file tests already in https://github.com/tallandroid/brackets/blob/master/test/spec/FileSystem-test.js
After running Jasmine Spec runner on "FileSystem", it shows that the test passed.
Where should the test case go? Under `FileSystem-test.js` or `ProjectModel-test`?
Thanks :)

[2017-02-19 23:16] Mateusz96 commented on #13065
Also you can use Emmet

[2017-02-20 00:23] zaggino commented on #13099
@simon66
Where you put the tests depends mostly on where you fix the code. If you fix the code in `FileSystem.js` you'd put the tests in `FileSystem-test.js`, when you fix `ProjectModel.js` you'd put that into `ProjectModel-test.js`. It's a rough guideline and of course there are exceptions to this but you should see what the other tests are testing and see where your test fits the best. Since thi

[2017-02-20 00:46] zaggino commented on #11252
We've merged some fixes around this so this might be fixed in master already as a side-effect, closing.
@MarcelGerber please re-open if you can still replicate.

[2017-02-20 00:46] #11252 closed

[2017-02-20 05:36] swmitra commented on #13109
@ficristo @zaggino As part of porting JS code hints to node, shall we upgrade Tern and Acorn?
Looks like there are quite a few fixes which has gone in Tern.

[2017-02-20 05:38] zaggino commented on #13109
@swmitra yes, we I believe that we should use the latest version of both before we merge that PR to avoid going through the upgrade process soon

[2017-02-20 08:01] Narfinas opened #13115 "Conflicting keyboard shortcut"
### Description

Hey, I'm not a programmer but a writer, using Brackets to write my stuff in clean HTML. When I try to write Polish, with Polish (programmers) keyboard in my system, I hit "Option - O" on my Mac in order to produce letter "ó", but instead a "Recent Files" window appears. I tried to unbind it, but doesn't seem to be able to. Could you please avoid Option - Letter shortcuts in the fu

[2017-02-20 23:33] dominik0711 commented on #11821
It's now fixed. So this issue can be closed.

[2017-02-21 02:52] kanika1901kapoor commented on #13098
@petetnt - can i be assigned this issue ?

[2017-02-21 02:52] BenQuigley commented on #12366
rtbsolis, this thread is about opening brackets from the command line, not the other way around.

I'd love for brackets to have this feature too. (Opening brackets to my django folder with e.g. `brackets django-projects`). Is this something I can help add? I know a little Javascript.

[2017-02-21 06:12] nyteksf commented on #11801
Hello. If it's still possible, I'd like to take this issue on, please.

[2017-02-21 06:23] zaggino commented on #11801
Go ahead @nyteksf , this issue still hasn't been solved.

[2017-02-21 17:36] gem0303 commented on #12617
Apologies for the huge delay in reporting back. I removed the JavaScriptCodeHints folder as @zaggino suggested and have not had any further issues with Brackets crashing. Thanks so much for the help!

[2017-02-21 22:29] francescoTax commented on #13112
Yes indeed, very helpful, in my opinion.
Thank you Ficristo.

[2017-02-22 08:16] sfshameem5 commented on #13111
That just makes sure that your file is saved.

[2017-02-22 08:18] teemnam commented on #13111
@sfshameem5: I do not want to save the file and want to come out of the software.

[2017-02-22 08:19] sfshameem5 commented on #13111
What happens when you say no to save the file ?

[2017-02-22 08:21] teemnam commented on #13111
That is the problem that there is not a 'No' option in dialog.

[2017-02-22 08:21] sfshameem5 commented on #13111
@teemnam: Got it. Working on it.

[2017-02-22 08:23] teemnam commented on #13111
When we close the file which is not saved then there should be options like 'Yes', 'No', 'Cancel'. But with the brackets the bug is we get 'Yes' and 'Cancel'.

[2017-02-22 10:16] ficristo commented on #13115
Do you have tryed this? It seems to work for me.
[code]