[2015-05-13 16:24] DiamondeX commented on #11100
Here the sample code fragment:
[code]
As you see multiline array & object definisions could be folded, but complex string constants and whole `var` block could not.
This is not a performance issue. This issue is in fact folding feature improvement request.

[2015-05-13 17:02] jfall opened #11109 "search will not find variables with $ in front of them"
So lets say I am working in a JS app a search for "$scope", it will return 0 results after clicking on the variable and hitting command-f.  But if I just search for "scope" it will return X number of results from the page.  Searching for words with "_" and other pre-fixes seems to work fine, just the "$" seems to be an issue.

Release 1.3 build 1.3.0-16022 (release cd0a6aae5)
build timestamp: Wed

[2015-05-13 17:49] redmunds commented on #11109
@jfall `$` is a special char to regex, so if you are doing a regex search, you have to escape it using `\$`.

[2015-05-13 17:52] jfall commented on #11109
But it is also highly used in variable names, so double clicking a variable then using command-f usually will find all instances of that variable.  This is how it worked in older releases and works this way in IntelliJ for example.

[2015-05-13 18:06] redmunds commented on #11109
Currently, the regex setting persists between searches. So, you think the regex setting should automatically be turned off when search field is pre-populated from selected text? I think that's reasonable.

[2015-05-13 18:16] jfall commented on #11109
Ah, maybe that is the issue then.  I see the ".*" button up there and when I turn it off things work as expected.  I don't ever use the regex search really, but when I updated (not sure from what version) this was turned on by default now...

But yes, if it is pre-populated then it shouldn't try to do a regex search IMO.

[2015-05-13 18:54] MarcelGerber commented on #11083
It would probably be quite easy to convert my PR #10685 to an extension you could utilize. It got some criticism on that it may make scrolling performance worse, though, and it only applies to the editor, not to dialogs, sidebars, panels and so on.

[2015-05-13 19:04] sbrl opened #11110 "Can't open the root of a drive on Windows 7"
I just created a new temporary Ramdisk (using ImDisk), and went to open it in brackets. I selected the folder, but nothing happened! I was able to select the folder, but then nothing changed - brackets did not open the folder, nothing in the UI changed. It kept with the old folder.

Edit: Just noticed that I only have this problem if the ramdisk is empty, for some reason....

[2015-05-13 19:08] sprintr commented on #11099
You should set `smartIndent` pref to `false` to get the behavior you want.

[code]

[2015-05-13 19:16] redmunds commented on #11109
OK, I updated title to better describe issue

[2015-05-13 19:20] MarcelGerber commented on #11099
Note: You can also do that for css files only with something like this:
[code]

See also: [Usage of Preferences](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#preferences)

[2015-05-13 23:25] Tsmith18256 opened #11111 "Open With > Brackets not working in Ubuntu"
I am assuming this is an issue for all versions of Linux, but I have only attempted it on Ubuntu.

When I click on a file and select "Open With > Brackets," a new window of Brackets opens, but the file is not opened. The only files opened are the ones left over from last session.

Also, I do not know if it is the intended behaviour, but the fact that it always opens a new window seems rather annoy

[2015-05-14 04:33] aniforprez commented on #10214
This fix seems to have solved the issue for the most part for me. At least now I'm scrolling at a reasonable 6 lines instead of the ridiculously unusable 27 previously. Thanks!

[2015-05-14 05:14] #11097 closed

[2015-05-14 05:17] rroshan1 commented on #11097
Verified the fix with the latest branch.

[2015-05-14 06:13] petetnt opened #11112 "Command line: "brackets" without arguments always opens a new instance of Brackets"
At least on Windows, typing `brackets` without any arguments always opens up a new instance of Brackets, even if one was open already. Other alternatives would be either revealing the old instance or opening a new Brackets window from that instance.

Not sure if this is a issue or not, but AFAIK the goal is to run a single instance of Brackets at all times.

[2015-05-14 06:24] petetnt commented on #11111
FWIW It works correctly on Windows (8.1.) (Open With > file is opened to current instance of Brackets)

[2015-05-14 07:16] smiclea commented on #7387
It works now. Thank you!

[2015-05-14 07:48] lucaciavatta commented on #10255
Can't install Brackets 1.3 on Ubuntu 15.04 because 'Dependency is not satisfiable: libgcrypt11
 (>= 1.4.5). I followed the itsakt workaround and now Brackets is installed successfully.

[2015-05-14 07:49] nethip commented on #11111
@Tsmith18256 This is not yet implemented on Linux. We are still in the process of fixing issues relating to CEF upgradation.

[2015-05-14 07:50] nethip commented on #11112
@petetnt Thanks for reporting this. This is a known issue with Brackets which I will try to fix in this release.

[2015-05-14 08:02] abose commented on #11100
Thanks for reporting this. Actually the var followed by variables is not a block, it is a single statement according to the JS syntax. Code folding only considers folding statement `blocks`.

But the way JS is usually written, I think this would be very good to have this feature. Adding to backlog.

[2015-05-14 08:05] abose commented on #11103
Closing as this is a user code problem.

[2015-05-14 08:05] #11103 closed

[2015-05-14 08:09] abose commented on #11102
Do you have google chrome installed and updated to the latest version? Live preview needs google chrome to work.

[2015-05-14 08:18] vlad00777 commented on #11102
I have latest version google chrome.
Version 42.0.2311.152 m
Вы используете самую новую версию Chrome. (We use latest version Chrome).

Yesterday livepreview work perfect, but today crash every time, when i save scss.

[2015-05-14 09:30] jburtondev commented on #10717
Hi, i'm new to the Brackets project and would like to work on this issue. Do I have the go ahead to get started?

[2015-05-14 10:25] abose commented on #11102
Can you try 'file menu> enable experimental live preview` and use live preview?
Also when you mean crash, does brackets app itself crash or did you mean that you get an error message saying live preview does not work?

[2015-05-14 10:33] abose commented on #10717
Hi @jburtondev Thanks for helping us out.
You can get started with issues labeled `starter bugs`.
Once you have a fix on this/ any other issues, please sign the brackets [CLA](http://dev.brackets.io/brackets-contributor-license-agreement.html) and raise a pull request :+1:

Also join the [brackets-dev](https://groups.google.com/forum/#!forum/brackets-dev) groups to be update with the community.

[2015-05-14 11:40] thany commented on #11083
Not so sure about that last bit. This problem (and your solution) affects the file tree as well... After all, the handler is on the body, so shouldn't that affect the whole app?

[2015-05-14 11:45] MarcelGerber commented on #11083
Yeah, my solution for the overall problem (scroll events being fired twice) affects the whole app.
But one solution to the problem you now face, converting PR #10685 to an extension, would only apply to the editor.

[2015-05-14 11:46] thany commented on #10214
Unless [this happens](https://github.com/adobe/brackets/issues/11083) :)

[2015-05-14 13:17] tatof commented on #11099
oke nice! looks like a solution :).
what file do I need to edit?

preferences file?

[2015-05-14 15:29] sprintr commented on #11099
@tatof Go to `Debug` > `Open preferences file` and add the JSON @MarcelGerber posted. Make sure it is valid JSON.

[2015-05-14 17:26] jmls commented on #10748
I have the same problem (on 15.04) but running within a docker container

[2015-05-14 17:51] #10374 closed

[2015-05-14 17:59] redmunds commented on #10374
@busykai Looks like this was auto-closed. Should it be re-opened for the other half?

[2015-05-14 18:08] busykai commented on #10374
@redmunds, we have #10217 to track the user server case (this is the part that is not fixed, right?).

[2015-05-14 18:10] redmunds commented on #10374
@busykai Ah, yes. Nevermind :)

[2015-05-14 19:04] luisalvarado commented on #10255
Did a fresh install of Ubuntu 15.04. Problem mention here is happening.

[2015-05-14 19:05] tciuro opened #11113 "Undo scrolls document to the top"
Hello,

When I undo some text, I oftentimes end up at the top of the document, that is, it seems like Undo is losing track of the current scrollbar position. The weird thing is that if I continue selecting Undo, I eventually end up in the right location, but the problem is that I've undo'ed more than I should.

[2015-05-14 19:53] sarangbaheti commented on #10255
@luisalvarado try installing libgcrypt11 version 1.4.5 from http://ftp.acc.umu.se/mirror/cdimage/snapshot/Debian/pool/main/libg/libgcrypt11/  and it should work

[2015-05-14 21:13] adripol94 opened #11114 "can't print || with mac"
i have a little problem when i want print || with iOS X yosemite (alt + 1) result that i can't ,it is because 'brackets' have on her configuration that (alt+1)  is for collapse all. Some idea for fix it? :)

[2015-05-14 21:42] sbruchmann commented on #11114
Hello @adripol94,

You can override keyboard shortcuts via at `~/Library/Application\ Support/Brackets/keymap.json`:

Save the following JSON data in that file, restart Brackets and you _should_ be ready to go!

[code]

---

If you want to reassign the keybinding to e.g. <kbd>Shift+Cmd+C</kbd>, use the following code:

[code]

[2015-05-14 23:56] zaggino opened #11115 "Brackets fonts look bad on OSX with fullHD external monitor"
This is how Brackets look on Windows7:
![windows7](https://cloud.githubusercontent.com/assets/1067319/7644453/42080a0a-fae8-11e4-9574-4668932ccdc2.png)

Now this is on Macbook Pro (with Retina display) with 1920*1080 external monitor connected, fonts are blurry and hard to look at (notice for example the e letter in `LESS` word):
![osx-yosemite](https://cloud.githubusercontent.com/assets/1067319/7

[2015-05-15 03:43] brunnopleffken commented on #11115
Font rendering, aliasing... I believe it's related to #11013

[2015-05-15 04:00] zaggino commented on #11115
Probably, didn't know about that issue. It's really a deal-breaker. I had to switch to Windows when using external monitors... And when I need OSX, I can't use Brackets...

[2015-05-15 05:03] rroshan1 commented on #11114
Thanks @sbruchmann.
@adripol94 That should solve the issue. Please let us know if that worked for you.

[2015-05-15 05:41] rroshan1 commented on #11113
@tciuro I am unable to reproduce the issue.
Please share the OS and version of Brackets you are using. It would be great if you could share some gif to give more insight into the issue.

[2015-05-15 05:41] darkcyber commented on #11098
no, the other extension too.

[2015-05-15 06:20] abose commented on #11098
I looks like brackets does not have permission to access `/home/darkcyber/.config/Brackets/extensions/user/ftp-sync` could you check the location and that brackets has r/w access to it??

[2015-05-15 06:28] abose commented on #11005
Closing as inactive. Please reopen if you are still facing this.

[2015-05-15 06:28] #11005 closed

[2015-05-15 08:52] nethip commented on #11104
After following the steps mentioned above, the following are the readings for single character press. They could be off by **30-60 ms** as the nos were got by measuring frames in the slo-mo video, captured using iPhone 5S. Premier Pro was used to determine the no of frames that elapse from the moment key is pressed to the moment the character appears on the screen.

**WINDOWS**

*Configuration*

P

[2015-05-15 10:24] KasunDinesh opened #11116 "No indent after Enter PHP"
when I coding with PHP after press enter end of the line. doesn't make indent automatically.  I have to press tab manually.  but in JS and other languages it's working..
is it an issue of brackets?
sry for my bad English

[2015-05-15 10:34] mackenza commented on #11116
@KasunDinesh what situations are you seeing where it does not indent?
 if I type:
[code]
then I get the next line indented.
The only situation where I do not get indenting is if I terminate the statement with a `;` but I think that is correct behaviour as the indent is supposed to be a statement continuation thing and the semi-colon terminates the statement.

[2015-05-15 10:34] jburtondev commented on #10717
@abose Sure great. Thanks for your message.

[2015-05-15 11:18] FrankTrog opened #11118 "Selected theme wont save as default"
Good morning,

Ever since this morning every time I open brackets it defaults to the harsh white theme that comes with the program by default. I have tried picking one of the themes that comes with brackets and I have tried a plugin theme. The themes will take but when the program is closed and re-opened the default theme is the default once again. Any thoughts?

Windows 8.1
Brackets 1.3.0-16022

[2015-05-15 12:53] brunnopleffken commented on #11116
If you mean indent after typing `<?php`, it's more like a personal code pattern, so I believe not indenting it's the correct behavior. About braces `{ }` like the example above, everything seems working fine!

[2015-05-15 16:10] rroshan1 commented on #11093
**WINDOWS Configuration**

OS: Windows 7 Enterprise 64-bit.
Processor: Intel Xeon E3, 3.40 GHz.
RAM: 16 GB.

EDITORS | Small Project | Medium Project | Large Project
------------ | ------------- | ------------ | -------------
**Brackets v1.3** | 133 msec  | 741 msec  | 2767 msec
**Atom** | 350 msec | 3941 msec | 3950 msec
**Visual Studio Code** | - | 1733 msec  | 9066 msec
**Sublime Text 2** |  33

[2015-05-15 16:36] sweather131 opened #11120 "request for workingfile *folders*"
I have recently been working on a large project that involves editing multiple different sites within the same repo.

I have been searching for a plugin that allows you to essentially group working files into a folder/group, so that when you have to switch between editing one site+it's corresponding files and another (in the same repo), you would not have to find all the individual working files a

[2015-05-15 17:08] surajduah opened #11121 "Github.com Branch Dropdown Bug"
Hello

I noticed a bug in https://github.com account.

If I'm in a branch and I have selected a folder to view files, then if from the drop-down I change branch to a different one, The browser redirect me to 404 page.

So If I have 2 branches "Master" and "Dev"

If I select the branch "Master" and then open any folder within it. Then if I select Branch "Dev" from drop-down, I get redirected to 404

[2015-05-15 17:54] martiuh opened #11122 "Live Preview Multibrowser, stuck on connecting"
I can't get  to see Multibrowser Preview, yesterday it was all right but today it just don't work.

![captura de pantalla 2015-05-15 a las 12 29 16](https://cloud.githubusercontent.com/assets/12422855/7658294/87bf0240-fafe-11e4-9216-f1ee09a88409.png)

The lighting bolt icon just color by half and it stays that way and the hover text (I don't know how to call it) just says "Connecting".
The Live Pr

[2015-05-15 18:15] ldez commented on #11121
What is the relationship with Brackets?

Contact Github: https://github.com/contact

Please close this issue.

[2015-05-15 18:23] rroshan1 commented on #11116
@KasunDinesh It is a known issue with php files on CodeMirror editor that Brackets uses.
As fix, the default code indentation behaviour of php files will be made similar to JavaScript files. Refer #11067. You can expect the fix coming in master branch soon.

[2015-05-15 18:23] redmunds commented on #11120
Use *File > Open Folder...* to set the "project" that Brackets uses. Open each "site" or "group" as a Brackets project and the working files will be remembered when you switch back to it. Use the dropdown list under working set and above file tree to quickly switch between project. Does that work?

[2015-05-15 18:44] rroshan1 commented on #11118
@FrankTrog Looks like your preferences file is corrupt. If you do not mind losing your current extensions, you can delete the contents inside "C:\Users\username\AppData\Roaming\Brackets\". Open Brackets and apply your preferred theme. It should persist thereafter.
Please share if this helped.

[2015-05-15 19:02] FrankTrog commented on #11118
That worked. Thanks for your help, rock on!

Kind Regards,

Frank J. Troglauer Jr.
Whirlwind Production, LLC.
803-466-0314
frank@frankt3d.com

On Fri, May 15, 2015 at 2:45 PM, Rakesh Roshan <notifications@github.com>
wrote:

[2015-05-15 19:08] tciuro commented on #11113
@rroshan1 ah, I see what's happening. When it does the undo, the top-most line shows the line where it's going to perform the undo action. I'm used to see the line that's about to be undone somewhere in the middle of the screen where it's more visible/obvious.

I wonder if it would be possible to do that, or perhaps even briefly flash the line. Some themes (especially darker ones like Mbo) have po

[2015-05-15 19:58] sweather131 commented on #11120
ooh @redmunds thanks for the tip... this is a neat method.
However, the files that I want grouped are dispersed in several different folders in my repo.
For example all of our css is under our master css folder, all views fall under the master views folder, etc.. so setting a single folder as a project still doesn't really do the trick.
I would like to grab a couple files from each of those 'maste

[2015-05-15 20:59] martiuh commented on #11122
So I solved this problem

I'm on a Mac running OSX Mavericks

Yesterday I downloaded some stupid "web player" called MPlayerX that is nothing but an adware.

The pop-ups were annoying me and I decided to get rid of them. I downloaded "adwareMedic" and wipe the Adware but I still wasn't able to enter the Multibrowser Preview.

Then I went to the Brackets Debug/Show Developer/ Tools and saw the cons

[2015-05-15 20:59] #11122 closed

[2015-05-15 21:46] redmunds commented on #11120
There's no way to do that in core Brackets. That could be implemented as an extension, so try searching the Extension Manager to see if someone has already done something like this.

[2015-05-15 22:00] sweather131 commented on #11120
@redmunds yeah I was kind of posting this hoping someone else would make the extension if they find it useful :P.
I already searched for the extension in as many ways as I could possibly think.. but haven't found what I'm looking for yet.
Thanks a lot.

[2015-05-15 23:02] redmunds commented on #11120
Marking this as an `Extension Idea` for any extension authors looking for ideas. Closing.

[2015-05-15 23:02] #11120 closed

[2015-05-15 23:06] MarcelGerber commented on #11121
@surajduah It's quite possible the folder you're in doesn't exist in the branch you then select. In that case, the 404 page is _expected_.

Anyways, I'm going to close this issue as it's not an issue with Brackets. For further advice about this bug, please contact GitHub like @Idez recommended.

Closing.

[2015-05-15 23:06] #11121 closed

[2015-05-16 02:25] rayoujines opened #11125 "Brackets doesn't open any project"
I want to create HTML file, but Brackets does not respond .
 I tried all attempts without interest, nothing works I do not know why.
![bracketserreur1](https://cloud.githubusercontent.com/assets/12466606/7664337/d2f32f1c-fb7a-11e4-8227-4b1ed6c49db8.jpg)
I hope to find an answer and a solution as soon as
Thanks in advance

[2015-05-16 11:35] MarcelGerber commented on #11116
@rroshan1 I don't think he's talking about the particular issue with `switch/case`, but about a more general issue, probably the one @brunnopleffken described.

[2015-05-16 11:45] MarcelGerber commented on #11118
Nice!
Closing.

[2015-05-16 11:45] #11118 closed

[2015-05-16 11:52] MarcelGerber commented on #11125
Could you just open the developer tools (`Debug > Show Developer Tools`) and copy the contents you see in the `Console` tab?

[2015-05-16 12:10] larsenwork opened #11126 "Add "Replace all" button when doing Find -> Replace"
Clicking "Batch..." in the top of the screen and then "Replace" in the bottom takes too much time :wink:

![screen shot 2015-05-16 at 14 08 12](https://cloud.githubusercontent.com/assets/3859425/7666070/54bda73e-fbd5-11e4-9fde-556c787a1b08.png)

[2015-05-16 12:29] dynamicdan opened #11127 "Cannot style the active/current line highlighting color"
I have copied a theme and added CSS to try and change the "grey" style colour to something more useful but I'm not having any luck. My approach has always been to use the built in "developer tools" and find the CSS classes in use. This normally works.

Here are the CSS classes I tried in my custom theme (main.less)):
[code]

Note that the gutter colour change did work but the rest of the active li

[2015-05-16 14:38] rayoujines commented on #11125
Does not respond to any command :(
![bracketserreur2](https://cloud.githubusercontent.com/assets/12466606/7666535/6349d636-fbe1-11e4-9a33-3bae229b0ef8.jpg)

[2015-05-16 15:34] arrbie commented on #11013
Still, nearly 3 weeks after the problem was reported here, there isn't even an issue report entered on bitbucket.org/chromiumembedded/cef/

Since this bug has been reported as a Brackets deal-breaker by various Mac users, I can only conclude that the Brackets team don't care about this community anymore.
:-(

[2015-05-16 15:50] redmunds commented on #11125
Do you have any extensions installed? Try restarting without extensions (*Recharger sans les extensions*)

[2015-05-16 19:53] sprintr commented on #11056
The PR for code hints is #11130

[2015-05-16 19:55] younishd opened #11131 "Brackets is losing focus"
Sometimes Brackets seems to lose focus, i.e., I'm no longer able to type anything.

I don't know exactly how to reproduce this bug, but it seems to happen mostly after using keyboard shortcuts. When it happens I have to minimize and maximize the window again to get the focus back.

Tested on `1.3` stable release as well as on `experimental build 1.4.0-0` from the master branch.
I'm running ArchLin

[2015-05-16 20:12] MahdiMajidzadeh opened #11132 "diffrernt icons, diffrent formats"
can provide breackets diffrent icons for diffrent formats?? that can help to recognize  files easily!

[2015-05-16 20:13] rayoujines commented on #11125
but I uninstalled and then installed the program but no response

[2015-05-16 20:14] sprintr commented on #11132
You can use https://github.com/ivogabe/Brackets-Icons or https://github.com/drewbkoch/Brackets-File-Icons

[2015-05-16 22:20] redmunds commented on #11125
Uninstalling and re-installing Brackets may not remove the extensions. See article on how to [clear your cache](https://github.com/adobe/brackets/wiki/Cache-Folder), but instead of deleting `cef_data` folder, delete the entire `Brackets` (parent) folder to also delete extensions.

[2015-05-17 04:39] webteckie commented on #11039
I too cannot install Brackets 1.3 in my windows 7 box.  At some point it complains that I have insufficient privileges even though I'm running the install as admin.  Hasn't been a problem before.

[2015-05-17 06:21] abose commented on #11110
I installed ramdisk and i was able to properly launch brackets with an empty ramdrive. could you verify this again and post a screenshot of the projects pane & developer console messages(press f12) after opening an empty ramdrive project?

[2015-05-17 06:24] abose commented on #11132
There are popular extensions to do the same as @sprintr pointed out. closing.

[2015-05-17 06:24] #11132 closed

[2015-05-17 08:05] MahdiMajidzadeh commented on #11132
no, I mean in file explorer of windows for example, like other IDEs
![diffrernt icons, diffrent formats in kmplayer](http://forums.kmplayer.com/forums/gallery/files/1-arseneicon.png)
!diffrernt icons, diffrent formats](http://www.dmxzone.com/downloads/images/Image018_12.png)

[2015-05-17 12:47] #11110 closed

[2015-05-17 12:47] sbrl commented on #11110
That's strange, it's working correctly now. perhaps a restart was all
that was needed :)

On 17/05/2015 07:22am, Arun Bose wrote:

[2015-05-17 13:10] abose commented on #11132
oh! got it. you meant separate brackets icons for individual file types.
@nethip @ryanstewart

[2015-05-17 13:43] abose commented on #11106
**System Configuration**

Windows | iMac
------------ | -------------
Windows 8.1 Pro 64-bit.
Processor: Intel core i7, 3.40 GHz.
RAM: 16 GB | OS X 10.10.3.
Processor: Intel core i7, 3.50 GHz.
RAM: 16 GB

[2015-05-17 17:54] dware89 opened #11133 "Live preview gives a blank page connecting to localhost"
Hi, I use MAMP on MAC to create a localhost. Even if the live preview lightning symbol is orange and everything seems to be working but I get a blank page on Chrome.
Anyone can tell me what's wrong?
I am using the default index.html file, of Brackets fresh of installation, so I guess the code shouldn't have mistakes.

[2015-05-17 19:43] abose commented on #11094
**System Configuration**

Windows | iMac
------------ | -------------
Windows 8.1 Pro 64-bit. Processor: Intel core i7, 3.40 GHz. RAM: 16 GB | OS X 10.10.3. Processor: Intel core i7, 3.50 GHz.RAM: 16 GB

Project size used for the comparison - small (265 files, jquery project), medium (5602 files, brackets full src) and large (25852files, brackets src + many extensions) projects.
An iPhone 5S was u

[2015-05-17 21:59] MahdiMajidzadeh commented on #11132
yep :)

[2015-05-17 22:11] humphd opened #11134 "Switch to production/minified versions of react.js and immutable.js"
For our [in-browser fork](https://github.com/humphd/brackets), I've been doing another round of investigations into how we an save space (see https://github.com/humphd/brackets/issues/287).  Two of the largest JS files in Brackets are `src/thirdparty/react.js` (645K) and `src/thirdparty/immutable.js` (138K).  Unlike jquery, less, and lodash, which all use properly minified versions, these two file

[2015-05-17 22:19] humphd commented on #11134
https://github.com/adobe/brackets/pull/10813 recently updated these both for 1.4.

[2015-05-17 22:41] bobrocke commented on #11013
I've been using Atom for a while on Macs and spent a minute going back to Brackets to see what's new. What's old is that fonts still render very poorly in Brackets and just fine in Atom. It's a deal breaker for me - back to Atom (and TextMate).

[2015-05-17 22:47] humphd commented on #11134
It looks like the only difference is that [React.addons.TestUtils](https://facebook.github.io/react/docs/test-utils.html) is [used in the unit tests](https://github.com/adobe/brackets/blob/640cfbb1b3335d7def2bb8715b74ca0c44308164/test/spec/FileTreeView-test.js#L34), which isn't in the minified version.  It would be pretty easy to include both in `src/thirdparty`, since it's only the tests that are

[2015-05-18 00:13] aepedraza commented on #11073
I don't know why but now my Brackets installation loads without the extensions (even more: they seem to be uninstalled although they're in the `Brackets/extensions/user` folder) and the problem seems to be fixed now. Right now I'm having another issue, which is that I can't close the program (and seems to be related with [#4611](https://github.com/adobe/brackets/issues/4611))
All I did was downloa

[2015-05-18 00:37] aepedraza commented on #11073
So, I updated to v1.3, also updated the Extract and the problem got solved. Thanks a lot @ryanstewart.
May I ask you: what changes have you made to the Extract?

[2015-05-18 00:43] techsin opened #11135 "select closing tag and edit simultaneously"
It's a feature that worked with emmet but doesn't work in brackets.

say i go to <p> and change it to h1 then i should have a way so i dont have to go to the end of of tag and change </p> to </h1>

[2015-05-18 06:35] tatof commented on #11099
Oke this works! :) nice!

Is this going to be fixed in later versions?
Don't think anyone would want this behavior when coding.

(could make the JSON from marcel work so I disabled the global smartIndent)

[2015-05-18 07:04] zaggino opened #11136 "linter section doesn't stay collapsed after file save"
when having multiple linters, saving a file always expands collapsed linters (`JSLint` in this case)

before save:
![image](https://cloud.githubusercontent.com/assets/1067319/7675774/a6deffe4-fd7f-11e4-90c6-0cb058966fe6.png)
after save:
![image](https://cloud.githubusercontent.com/assets/1067319/7675783/cd3a2740-fd7f-11e4-8624-129542bc21c4.png)

[2015-05-18 08:17] arrbie commented on #11013
@bobrocke: Yup, I hear you.
This weekend our team took the decision to leave Brackets alltogether. We have been quite patient waiting for a fix to this blurry text for some time now. But we can't force people at Adobe. If they don't want us, we won't beg. Now, I will have to tell people about <b>Brackets – the text editor that doesn't do text</b>.

[2015-05-18 08:52] ryanstewart commented on #11104
Any idea why the code hints being disabled make typing slower? Am I reading the chart right?

[2015-05-18 12:04] nethip commented on #11104
@ryanstewart Even I don't see a pattern here with code hints. I doubled checked the videos in Premier Pro and every time I got the same results. I then recaptured all of the videos using iPhone 6 Plus. But I am yet to do the analysis. So let me repeat the same exercise with the new set of videos and then do a cross reference to see if there any pattern with code hints at all.

[2015-05-18 12:09] thany commented on #11083
Here's my extension that works around this thing.
https://github.com/thany/brackets-scrollfix

I had to replace your code to "ignore every other event" because the two were conflicting, and there's no way to remove an event listener that I can't access the handler for. That's why I'm basically also ignoring the new preference that controls it. I know it's evil, but so is this bug.

[2015-05-18 12:11] nethip commented on #11013
@arrbie @bobrocke Sorry that you are facing these rendering issues while using Brackets. As I have mentioned above we are pretty serious about solving this issue and that we are tracking this for 1.4. We in fact bring this up everyday in our daily stand ups. The problem is that CEF does not offer any straight forward way to control sub pixel rendering from CEF side and hence we need to have differ

[2015-05-18 12:49] nethip commented on #11013
Here is the link to the chromium bug where there is lot of discussion on the same blurry text issue in CEF.

https://code.google.com/p/chromium/issues/detail?id=152304

[2015-05-18 14:09] busykai commented on #11104
@nethip, it would help to see what the stddev looks like for these measurement, over how many runs etc. if you still have the raw data at hand, that is.

[2015-05-18 14:53] yx91490 opened #11137 "need to click twice to close Brackets"
OS : Debian 8-amd64,
Version : 1.3.
when I want to close Brackets, I usually need to click the  button twice, to make sure it really closed.This situation happens after I have saved all files, and if I didn't save all files before, I only need to click once after Brackets reminding me of saving.
It seems that this bug is an old bug since 1.1 .

[2015-05-18 14:55] nethip commented on #11104
@busykai you mean the project size right ? I will update it with the project size. is that what you meant by stddev?

[2015-05-18 15:12] busykai commented on #11104
@nethip, sorry. i was just thinking outloud.  stddev = standard deviation, [an estimation of measurement accuracy](http://en.wikipedia.org/wiki/Standard_deviation). the point being `133ms +/- 80ms` is more or less the same as `166ms +/- 100s`. as opposed to `133ms +/- 4ms` is *very* different from `166ms +/- 5ms`.

30ms difference in median value could (or could not) result from any other activity

[2015-05-18 15:43] busykai commented on #11137
@yx91490, this is a known Linux issue. Duplicate of #4611. Closing.

[2015-05-18 15:43] #11137 closed

[2015-05-18 19:12] luisalvarado commented on #10255
@sarangbaheti  Thank you. It did.

[2015-05-18 19:31] PennyScripter opened #11138 "da window"

[2015-05-18 21:16] matrs commented on #6316
So, there isn't a simple way to change the UI font size  in linux? The font-size! in a editor written in and for code where the font size in so important !

(it's 2015, hundreds of   2560x1440 displays have been sold, among others)

[2015-05-18 21:18] ryanstewart commented on #6316
@matrs I'm not sure what you mean. If you go to View->Themes you can change the font size.

[2015-05-18 22:02] arrbie commented on #11013
@nethip Thanks, your fix actually did the trick. All text suddenly went crisp and clear. But it does <b>not</b> seem to stay that way after restarting Brackets. Is there a simple way to make it "stick"?

[2015-05-18 22:12] bobrocke commented on #11013
@nethip That worked for me, too. After the second command, the text everywhere in the interface looks **much* better. I assume that change will make it into v1.4 so that it will "stick?"

[2015-05-18 22:15] ryanstewart commented on #11013
@arrbie I'll talk to @nethip but this may be something we want to roll an intermediate build on to test performance and how it works on Windows as well.

So short answer: no easy way to make it stick at the moment short of editing the Brackets source code yourself, but hopefully it will be permanent as of 1.4 and we'll also have a test build for people to try where it's permanent.

[2015-05-18 22:27] arrbie commented on #11013
@ryanstewart Allright, good enough for me.

[2015-05-18 22:37] bobrocke commented on #11013
@ryanstewart Is it an easy fix to the source? I may want to patch mine until the official build is out.

[2015-05-18 23:23] ryanstewart commented on #11013
@bobrocke I *think* (not tested yet) that you'd have to edit this file - https://github.com/adobe/brackets/blob/master/src/styles/brackets.less and then make sure those .less files got recompiled into CSS. And you can see where we've already set those properties so they're easy to find.

There are some instructions here - https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets - on how to b

[2015-05-18 23:43] zaggino commented on #11013
Just tested this on my Mac

If you're running Brackets from source according to this guide https://github.com/adobe/brackets/wiki/How-to-Hack-on-Brackets

Only thing you need to change is this line: https://github.com/adobe/brackets/blob/master/src/styles/brackets.less#L58
to `subpixel-antialiased`

[2015-05-18 23:48] ryanstewart commented on #11013
@zaggino to the rescue!

[2015-05-19 00:12] zaggino commented on #11013
Also guys, let us know if you'll see any ill side-effects with this setting, the current value was set in https://github.com/adobe/brackets/pull/2665 to fix

[2015-05-19 06:06] abose commented on #11138
Can you give more details on this issue?

[2015-05-19 06:48] abose commented on #11132
I have added a trello card for this at https://trello.com/c/y8j8ERPZ/1421-add-file-type-specific-brackets-icons-to-explorer-finder
Upvote the feature there.

[2015-05-19 08:39] MahdiMajidzadeh commented on #11132
thanks! :+1:

[2015-05-19 09:38] arrbie commented on #11013
This is what I did to fix the existing Brackets app so that the text crispness stays there, without recompiling or running from source:

Closed the Brackets application.
In Finder, Show Package Contents of Brackets and go to folder  Contents / www / styles

Edited brackets.min.css like this…
<pre>• Changed the 4th occurance of “-webkit-font-smoothing:auto” => “-webkit-font-smoothing:subpixel-antia

[2015-05-19 16:32] brunnopleffken opened #11141 "New theme setting for line-height"
Aside font size, I'd like to see another text field in Theme Settings: **line height**. It really helps to bring "air" to my code, specially with dark themes... Currently, I set my line height just like this:

[code]

I really wish it was a built-in preference, in Theme Settings.

[2015-05-19 16:44] abose commented on #11141
Could you raise a pull request if interested in contributing this feature :santa: ?

[2015-05-19 16:47] abose commented on #11135
Did you mean that it used to work with the brackets extension in emmet previously?
i Do not remember brackets natively supporting this feature.

[2015-05-19 16:52] MiguelCastillo commented on #11141
We had implemented this back we first introduced themes.  There were lots of lil edge complications around word highlighting and stuff like that.  You can follow some of the threads by going to issues and using this filter "mentions:MiguelCastillo line height is:closed ".

[2015-05-19 17:04] JordanTheriault opened #11142 "Right-clicking randomly deletes text from the editor"
Right-clicking on elements or properties will delete the text from the editor. After bisection by @humphd it's determined this is a recent regression caused by a recent commit

Here is a screen cap of it happening.
![randomdeletion](https://cloud.githubusercontent.com/assets/5931078/7708909/40e03598-fe27-11e4-8c55-bd5f926bc79c.gif)

[2015-05-19 18:15] brunnopleffken commented on #11141
When I'm using `line-height`, I'm getting these "double background" issue when searching a keyword and the misalignment of the gutter folding arrow relative to the line number, but I think we can do some tests to solve this issue...

Syntax highlight, active row background color and text selection works properly...

![screen shot 2015-05-19 at 3 03 32 pm](https://cloud.githubusercontent.com/assets

[2015-05-19 18:19] MiguelCastillo commented on #11141
yeah that's the word highlight I was referring to.  We ended not doing it because we felt it was not stable enough for our release.  Let us know if you get working correctly. :)

[2015-05-19 18:27] TomMalbran commented on #11141
We can't fix that issue, since is a problem with how CSS works. If the element has a display on inline, the line height doesn't affects the height of the element. If we changed it to display inline-block, the height would work, but then it fails to wrap at the edge of the screen when having word-wrap on. We also had issues with other features like highlight matches.

So, if you don't use wordwrap,

[2015-05-19 18:34] MiguelCastillo commented on #11141
@TomMalbran thanks!  I had forgotten the details around the problem.  It's been a while

[2015-05-19 19:04] MarcelGerber commented on #11083
As long as it works ... ;)

Notice though that this fix will go away at some point, and remember to then also uninstall your extension so you don't get a wonky scroll experience.

[2015-05-19 19:05] MarcelGerber commented on #11083
(I'm going to leave this issue open as it's still an issue that can probably be fixed by a CEF upgrade, even though you're possibly the only one who hits it)

[2015-05-19 19:16] abose commented on #11142
Looks like a codemirror upstream issue.
@prafulVaishnav @MarcelGerber

[2015-05-19 19:25] abose commented on #11093
#11128 PR with incremental update.

[2015-05-19 19:30] MarcelGerber commented on #11142
Ouch.
https://github.com/codemirror/codemirror/commit/5d8347de1a6f137bf5d54659eaa2b8b6ac6b3d79 is the upstream culprit.
Let's see if it's our fault or theirs.

[2015-05-19 19:50] nethip commented on #11013
@arrbie Yeah that should work too :smile:

@arrbie @bobrocke For convenience sake I have kind of packed both the above commands as an extension. This extension also takes care of enabling sub pixel rendering only for retina displays.

Here is the link to the extension https://www.dropbox.com/s/yu6dqt5qm079r3r/EnableSubPixelRendering.zip?dl=0

You could install it by dragging and dropping the `zip`

[2015-05-19 19:53] bobrocke commented on #11013
@arrbie Cool. Thanks! I give that a try.

[2015-05-19 19:55] MarcelGerber commented on #11142
Because I might not be able to file these today, I sum up my findings here:
It looks like the content of the hidden textarea changes, which is then picked up by `slowPoll`.

I verified this is not a Chrome-only bug by successfully reproducing this in Brackets, Bracketron and [Bramble](https://bramble.mofostaging.net/) with both Chrome and Firefox.

[2015-05-19 20:18] MarcelGerber commented on #11142
That's what the stack trace looks like, with the downright nonsensical call to `applyTextInput` in the console below.

[2015-05-19 22:31] techsin commented on #11135
no in sublime emmet lets you do this...

[2015-05-19 23:36] sbruchmann commented on #11135
Hello @techsin

You can do achieve this in Brackets with [Emmet](https://github.com/emmetio/brackets-emmet) via _Update Tag_ (on OS X: <kbd>Shift</kbd> + <kbd>Command</kbd> + <kbd>I</kbd>) while the cursor is on the tag you want to update.

[2015-05-19 23:49] inspirebin commented on #11014
@arjunkbabu i  was having the same problem so i wrote a batch script(.bat) for windows powershell. I think you can make a shell script for linux..

[2015-05-20 00:21] ryanstewart commented on #11094
@abose did we test this before or after this fix landed? https://github.com/adobe/brackets/pull/11043

Or did we just test 1.3?

[2015-05-20 04:53] nethip commented on #11014
@inspirebin You don't have to do write any more scripts with 1.3. Upon installation we are installing everything that is required for `brackets` to be working from command line.

[2015-05-20 05:09] abose commented on #11094
It was tested on shipping builds (1.3 with extract). The dev builds are usually significantly(in 100xmilli secs) slower as observed while measuring, so I stuck with the release builds.

[2015-05-20 05:21] nethip commented on #11104
@busykai Thanks for clarifying `stddev` part :smile: Sure! I will try to add standard deviation as well.

[2015-05-20 05:24] #11088 closed

[2015-05-20 05:30] abose commented on #11135
Brackets emmet extension also supports this.
Closing.

[2015-05-20 05:30] #11135 closed

[2015-05-20 05:52] nethip commented on #11125
@rayoujines Were you able to resolve this after deleting the `brackets` folder from `%appdata%`?

[2015-05-20 06:41] tatof opened #11143 "Stability"
I'm using brackets on 3 different computers and I not happy about the stability.
Just wondering what the problem could be and if it will be better in the future?

All 3 computers are Windows7  dutch and english.
They all got some plugins:
eqftp (always crashes first startup),
tomorrow night theme,
brackets icons,
brackets clientlibs combine

Problem is sometimes it loads quit good and works like h

[2015-05-20 06:54] zaggino commented on #11143
@tatof I'm using Brackets daily for all my development work for more than a year and I have no stability issues. Did you try working without the `eqftp` plugin (or just without any plugins at all) ?

[2015-05-20 06:56] zaggino commented on #11143
Looking at the plugin, it seems it probably causes the problems that you have: https://github.com/Equals182/eqFTP/issues/132

[2015-05-20 08:24] abose commented on #11143
As @zaggino mentioned we rarely see stability issues logged in brackets core;[ but that doesn't mean it won't have any stability issues].
@tatof Could you remove the ftp extension[and others if necessary] and test the stability?

[2015-05-20 08:44] tatof commented on #11143
I will test the stability without the plugins and post my findings.
If the problem is with eqFTP do you guy's know a good FTP program that can live edit "online" files?

[2015-05-20 10:58] rawat11 opened #11144 "[IQE] : Live Preview not working on Win 10 platform"
Steps to Reproduce:

1. Open Brackets on Win 10
2. Edit any file eg index.html
3. Click on Live Preview icon
4. Make some changes on the file

Result :
The changes made are not visible on chrome unless refreshed

ENV: Brackets Release 1.3 build 1.3.0-16022
Platform : Win 10 Eng

[2015-05-20 11:03] rawat11 opened #11145 "[IQE] : Code folding shortcuts not working on Win 10 platform"
Steps to Reproduce:

1 Open Brackets on Win 10
2 open any file eg index.html
3 Try "Collapse All" via shortcut "ALT+1"

Result :
the file is not collapsed

ENV: Brackets Release 1.3 build 1.3.0-16022
Platform : Win 10 Eng

[2015-05-20 12:17] mjurczyk commented on #9957
@ingorichter installed the latest version on Brackets `1.3` and the problem seems to be no more - should I close the issue?

[2015-05-20 14:54] abose commented on #11143
brackets-ftp-sync, FTP-Sync Plus seems to have good ratings. but i have not used any of the ftp extensions myself.
You could install the `Extensions Rating` extension to see popularity of extensions in the extension manager .

[2015-05-20 15:01] abose commented on #9957
As Unknown internal error issue is already tracked by #9895. closing this .

[2015-05-20 15:01] #9957 closed

[2015-05-20 15:16] mackenza commented on #11143
eqFTP is the only extension I am aware of that supports the editing of a "live" remote file system via ftp. The other ftp extensions upload local files to a remote server not the 2way workflow you are suggesting @tatof

[2015-05-20 17:36] humphd commented on #10787
I fixed this in our fork, but using a caching layer that doesn't exists in Brackets proper.  The commit is here for reference: https://github.com/humphd/brackets/commit/c03ed580bc9e3bfeba995e379ec5ca3f6d0d2481

[2015-05-20 18:07] resback opened #11146 "Problemas en códificación"
Usaba Edge Code para editar mis archivos, al actualizarme a Brackets veo que les quita la codificación utf8, pues todos mis archivos editados con Brackets ahora se ven con simbolos raros, la única forma de recuperarlos es abrirlos con el block de notas y guardar como > utf8

[2015-05-20 19:38] tatof commented on #11143
FTP sync plus only connects to one single server at the time and can't store more than one ftp account  or project. Its a good plugin only way to simple

Tryed to install SFtpUpload but brackets crashed so don't think that will work...

Hope eqFTP will fix the bugs soon! cause thats the only ftp client that fits my needs.
Is brackets getting an FTP function in the future? (something simple like no

[2015-05-21 01:15] TomMalbran commented on #11056
Should we consider shipping with a JSON lint extension and warn users that the preference will not work if there are errors in the file.

I also find it as a bad user experience that after the popup saying that there is an error in preference, fixing that error, saving the file, it doesn't switches to the preference file and I have to reload to trigger it.

[2015-05-21 01:45] mackenza commented on #11056
@TomMalbran I get the preferences file opened when it loads Brackets and there is an error in JSON.

I don't know about adding JSON lint tool by default, but it might be good to do the JSON file verification on save rather than waiting for a reload.

[2015-05-21 02:10] TomMalbran commented on #11056
@mackenza I mean that the file is displayed for me to fix it. I fix the error and save the file. But now I need to reload to see the preferences being applied.

We can have it both ways. Verify the JSON file on save and show me where are the errors. Which is kind of having JSON lint just for the preference files on save. For people that don't know much about JSON it might be hard to find the error

[2015-05-21 04:47] rroshan1 commented on #11093
Performance scores for Windows and Mac updated in previous comment.

**Analysis w.r.t. FindInFiles performance on various editors:-**
1. Brackets performs much better than most editors for most types of project. However, the very first "Find In Files" search takes much longer and also makes Brackets kind of non-responsive. This may be giving a very bad and untrue perception to the users about this

[2015-05-21 05:53] abose commented on #11146
Brackets can only work with UTF8 encoded files for the time being.
But I did not get the rest of the question as I don't understand spanish.

[2015-05-21 05:58] abose commented on #11143
@tatof If you logged an issue in eqFTP, please refer that issue here. I am closing this issue as an extension problem.

Also if you want to have native FTP support in brackets; please upvote this feature in https://trello.com/c/anjphhsw/610-ftp-upload-syncing-integration

[2015-05-21 05:58] #11143 closed

[2015-05-21 06:31] tatof commented on #11143
Made a topic here: https://github.com/Equals182/eqFTP/issues/138

@abose Only still don't know for sure if Brackets wil be more stable without eqFTP. So thats why I didn't close the topic. Need an week to test this propper and rule out what crashes are made by eqFTP and what not.

Also I upvoted the ftp integration!

[2015-05-21 06:50] abose commented on #11143
:cool: , feel free to reopen this issue if you find any stability issues in core.

[2015-05-21 10:27] rroshan1 commented on #11095
@thany I do NOT see the issue in Brackets v1.3. For me, `Ctrl+Shift+Up/Down` works as per the expectation. Can you try reproducing the issue in v1.3.
May be it's time you upgrade to v1.3.  :smiley:

[2015-05-21 12:05] tofanelli opened #11147 "Brackets asking to connect to internet when is already connected"
hey guys....

i've been experiencing a weird issue.... my laptop is already connected to the internet, but, when I click to sign-in to upload a psd to use the Extracts, it shows me a warning message saying I need to connect to the internet... what I supposed to do to use it??

Cheers =)

[2015-05-21 12:38] prafulVaishnav commented on #11147
@tofanelli Can you please open the developer tool ("Debug > Show Developer Tools") and see if there is any error in the console?

[2015-05-21 15:30] tofanelli commented on #11147
Hey @prafulVaishnav .... is it this?

![untitled-1](https://cloud.githubusercontent.com/assets/5512922/7752256/d6a8aaae-ffb4-11e4-9422-2fa84d8d715a.png)

[2015-05-21 15:53] vhanadium opened #11149 "Can't install Brackets on Windows 8.1 x64"
Hi guys,

I'm trying to install Brackets on my Win 8.1 computer but Ican't seem to do it.
When I launch the .msi the installation abruptely stop without any error message but a window saying that de Brackets installation stopped before it ends and that no modification where operated on my computer.

I thought of a wrong download so I tried to download it one more time without any luck. I even trie

[2015-05-21 18:01] prafulVaishnav commented on #10916
@brennan-macaig Can you delete preferences as it seems Brackets not able to write to the preference file. Please follow steps given [here](https://github.com/adobe/brackets/wiki/Cache-Folder#resetting-cache--preferences)

[2015-05-21 18:01] MarcelGerber commented on #11142
Upstream CM bug filed: codemirror/CodeMirror#3273

[2015-05-21 18:53] prafulVaishnav commented on #10998
We have completed this, so closing it.

[2015-05-21 18:53] #10998 closed

[2015-05-21 18:58] prafulVaishnav commented on #10812
Issue has been fixed as CM is merged.

[2015-05-21 18:58] #10812 closed

[2015-05-21 19:13] MarcelGerber commented on #10747
Will be fixed in Release 1.4
There was another fix (https://github.com/codemirror/CodeMirror/commit/cffaa81922905e226109b868a7be232581e0c60b) which we probably won't get in Release 1.4, but that's only a minor annyoance either way (imho).

Closing.

[2015-05-21 19:13] #10747 closed

[2015-05-21 19:39] NicolasKAROLAK commented on #10255
Installing a package which is not in the repo is not a good solution. Software are upgraded for a good reason, like bugs and security issues.

The suggested workaround (extract .deb, modify dependancies et rebuild) doesn't work for me :

[code]

[2015-05-22 01:24] ingorichter commented on #9957
@mjurczyk yes and thanks!

[2015-05-22 05:34] petetnt commented on #11147
Most likely a duplicate of #9793, check your firewall settings.

[2015-05-22 05:55] prafulVaishnav commented on #11149
@vhanadium Are you able to see any error while installing ? If not, you can get the logs for installation and share it here. To get the logs, can you install the Brackets from command line. Cmd is msi `msiexec /i C:\Users\vaishnav\Downloads\Brackets.msi /Lime C:\Users\vaishnav\Desktop\logFile.txt`

Please share logFile.txt

[2015-05-22 06:07] prafulVaishnav commented on #11145
@rawat11 Can you share the error if any on developer tools console (Go to Debug > Show Developer Tools)

[2015-05-22 08:29] vhanadium commented on #11149
@prafulVaishnav here is the log file a bit is in french:

=== Début de l’écriture dans le journal : 22/05/2015  10:27:51 ===
Début de l’action 10:27:51 : INSTALL.
Début de l’action 10:27:51 : FindRelatedProducts.
Fin de l’action 10:27:51 : FindRelatedProducts. Valeur de retour 1.
Début de l’action 10:27:51 : LaunchConditions.
Fin de l’action 10:27:51 : LaunchConditions. Valeur de retour 1.
Début d

[2015-05-22 08:30] rawat11 commented on #11145
@prafulVaishnav : It is an intermittent issue, There are no errors related to it in the  dev tools console.
Currently the shortcuts are working.

But the code folding icons are not getting visible for php code while it picks for html

![1](https://cloud.githubusercontent.com/assets/10069885/7766791/965b6640-008a-11e5-8571-b39e9b1d18dd.png)

[2015-05-22 09:04] FezVrasta opened #11151 "Search only inside specific file type?"
I need to search, for example, the string `fullscreen` only inside the `.hbs` files, is it possible?

If not, I think it would be a great addition.

I tried to write this on Trello but I don't know how to :/

[2015-05-22 09:57] prafulVaishnav commented on #11151
@FezVrasta We already have [card](https://trello.com/c/9IBv6zRq/1359-find-in-files-inclusive-additive-filters) for this. Please upvote this card. Closing it as we already have this item in backlog

[2015-05-22 09:57] #11151 closed

[2015-05-22 10:01] abose commented on #10972
Lots of third party websites mirrors brackets installers, a google search for `download brackets` will give lots of alternate download locations.
one i found is.
http://www.softpedia.com/get/Programming/File-Editors/Brackets.shtml#download

Brackets being a community driven project, You could also host brackets mirrors if interested.

[2015-05-22 10:01] #10972 closed

[2015-05-22 10:03] abose commented on #10969
Thanks for reporting this; adding to backlog.

[2015-05-22 10:11] abose commented on #11149
Could you switch the os language to English and execute `msiexec /i {path\of\Brackets.msi} /Lime {path\of\\logFile.txt}`

[2015-05-22 10:45] cmburns opened #11152 "Navigate to CSS"
Dear all,

I saw a video where brackets was on the left and the browser was on the right half of a monitor.
Then someone moved the mouse pointer over an HTML element inside the browser, pressed command key (seems it was a Mac) and clicked and then a list of items pops up, e.g. HTML-tag, css styles, etc.. Then by clicking on one of the listed items immediately the matching code / css was opened in

[2015-05-22 10:58] Lichtjaeger opened #11153 "Indentation-type should depend on file type"
I use whitespaces with an incrementation of 2 for .jade, .styl and other whitespace sensitive files.
For .html, .css and other files that use closing tags or brackets I prefer to use tap stop with an incrementation of 4.

It would be usefull if brackets can remember the last indentation option I used for a specific file type and automatically change the preference back when I switch to another fil

[2015-05-22 12:14] DiamondeX commented on #11100
The almost same situation is with `case` blocks of the `switch` statements. I think, `case` blocks looks even more like statement `block` then long variable definitions.

[2015-05-22 12:33] petetnt commented on #11149
This is the error: https://support.microsoft.com/en-us/kb/834484

Here's some more possible solutions: http://www.msigeek.com/715/how-to-troubleshoot-the-error-1603-fatal-error-during-installation

[2015-05-22 15:32] tofanelli commented on #11147
hey @petetnt .... there is no firewall in my machine but the windows one.... im at my home, so there is no proxy, no hardware firewall... nothing but my windows and internet connection.... that's it.... i don't think this could be an error caused by firewall..

Cheers =)

[2015-05-22 15:50] busykai commented on #11153
@Lichtjaeger, you can configure different indentation for different file extensions or different languages. You can use either global preference file (*Debug -> Open Preferences File*) or per-project file configuration file (`.brackets.json`). See [pref scope](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#scope-of-preferences) for more details. For example, the following would configu

[2015-05-22 19:16] Lichtjaeger commented on #11153
I didn't know that I can scope my preferences.
It works.

Thanks.

[2015-05-22 19:16] #11153 closed

[2015-05-22 19:37] busykai commented on #11153
glad it helped.

[2015-05-22 20:40] TomMalbran commented on #11100
@DiamondeX You can try the (custom region code folding extension)[https://github.com/thehogfather/brackets-custom-region-code-folding] that will allow to create regions that can be folded including the var statement. It might not be as good as having them already defined as code blocks, but it works good.

[2015-05-22 21:43] younishd commented on #11138
da issue

[2015-05-22 21:48] mackenza commented on #11138
Da bomb

[2015-05-22 22:07] ApfelUser commented on #11138
Da process

[2015-05-22 22:51] redmunds commented on #11138
da closed issue :)

[2015-05-22 22:51] #11138 closed

[2015-05-23 03:03] unyo commented on #11050
Thank you, that worked.

[2015-05-23 03:03] #11050 closed

[2015-05-23 07:52] MarcelGerber opened #11154 "[Blog] JSON feed is invalid due to error message included"
1. Go to http://blog.brackets.io/feed/json
2. Scroll all the way to the bottom

Result:
[code]

This PHP error message causes the whole JSON content to be invalid.

[2015-05-23 09:10] rroshan1 opened #11155 "Tracking action items post "Rename CodeMirror2 folder to CodeMirror #11150" merge"
This issue has just been created to track the action items post #11150 merge.

[2015-05-23 12:47] MarcelGerber commented on #11152
@cmburns We're sorry, but this feature was never actually implemented in an official Brackets release.
It was only a proof of concept.

It is though tracked here: https://waffle.io/adobe/brackets/cards/540a32ef82b317f7d9ae495f (#8996)

[2015-05-23 12:47] #11152 closed

[2015-05-23 14:57] younishd commented on #11138
da dum tsss

[2015-05-23 15:04] himslm01 commented on #11023
I also cannot close the blue "Brackets Health Report". Clicking on the X does nothing.

There is a hidden link close to the X that takes me to CHANGELOG.md in github, but no action on the X itself.

![screen shot 2015-05-23 at 16 00 08](https://cloud.githubusercontent.com/assets/1175979/7784636/ef42492e-0164-11e5-950b-3081e2b9f664.png)

[2015-05-23 15:46] prafulVaishnav commented on #11023
@himslm01 I think that must be due to some extension installed. Can you try reloading Brackets without extensions (Debug> Reload Without Extensions)

[2015-05-23 16:49] himslm01 commented on #11023
@prafulVaishnav You are correct - restarting without extensions would have allowed me to press the X and also removed the hidden link to to CHANGELOG.md in github.
Without clicking on the X I updated any extensions that needed updating, and after restarting again with extensions enabled I could then click on the X. So there was an extension that needed to be updated that was causing the issue. Sor

[2015-05-23 18:32] brennan-macaig commented on #10916
@prafulVaishnav will have to wait for monday to double check, don't have access to the computer.

[2015-05-23 19:34] abose commented on #11138
![preview](https://cloud.githubusercontent.com/assets/5336369/7785521/b9d720ce-01b0-11e5-9b36-2fc239642ee4.jpg)

[2015-05-24 02:28] ile opened #11158 "Remember undo history"
How about remembering the undo history between closing/re-opening the project folder and even between closing/restarting the whole editor?

Would be often useful.

[2015-05-24 03:02] ile opened #11159 "Writing CoffeeScript into a .js file hangs the editor"
It really does, at least here on Windows 7/64bit and Release 1.3 build 1.3.0-16022. Have to use the task manager to kill the processes.

It may be because of linting.

[2015-05-24 04:08] busykai commented on #11159
@ile, could you try selecting *Debug -> Reload without extensions* and see if it reproduces?

[2015-05-24 10:11] AuntyPoll commented on #11158
I agree, it would be very helpful. Although I am still learning, it is really handy to be able open recently closed files. I went looking for this feature today :-(

[2015-05-24 10:41] MarcelGerber commented on #11159
It would also help if you could share your CoffeeScript source with us. In case you can't, can you perhaps try reducing your code to a specific pattern that causes Brackets to crash, or just try to make it crash with some openly available code.

[2015-05-24 10:49] mackenza commented on #11158
@auntypoll there is an extension for mru files https://github.com/DH3ALEJANDRO/Show-Recently-Used

[2015-05-24 10:53] petetnt commented on #11158
There's a related Trello-card here: [local history/versioning @ Trello.com](https://trello.com/c/H8AyDwFA/391-local-history-versioning)

[2015-05-24 19:19] nethip commented on #11147
@tofanelli From the log it appears you have some Brackets extensions installed on your system. Could you reload Brackets from *Debug->Reload Without Extensions* and see if you are still facing this issue? If that does not work, I would also suggest renaming the Brackets folder in `%appdata%\Roaming` to rule out any possibility with bad preference.

[2015-05-24 19:30] nethip commented on #11154
@ryanstewart Do you have any pointers on the above issue?

[2015-05-24 19:51] lmjst opened #11160 "Can't open folder with hyphen in name"
Since I upgraded to Bracket Version 1.3 version expérimentale 1.3.0-16022 (release cd0a6aae5)
brackets won't open folder which name contains "-" such as  index-file
When I click the arrow changed but no opening !
I've tested with Debug > Reload Without Extensions

I'm running it on Ubuntu
Thanks
dd

[2015-05-24 20:19] FriendOfFatBeagle commented on #9828
I installed Brackets on Linux Mint 17.1
It is a variant of Ubuntu 14.xx.
I installed Mark's extension.  Nothing happens, even after restarting app..
 Suggestions?

[2015-05-24 21:30] busykai commented on #9828
@FriendOfFatBeagle, firstly, you do not need to install extension any longer as it is fixed in the core. The way it has been fix is illustrated by the screenshots in [this comment](https://github.com/adobe/brackets/pull/9829#issuecomment-64059347). Are you seeing something different than "after" screenshot?

@Mark-Simulacrum, by the way, if your extension does not do anything extra than your PR #9

[2015-05-24 22:14] Mark-Simulacrum commented on #9828
@busykai Removed the extension from the registry, it didn't do anything more than the PR did.

[2015-05-25 00:00] FriendOfFatBeagle commented on #9828
@busykai:  If this is fixed in the core, why do I still have microscopic size fonts for UI menu and left pane?
I did not see any difference between the before and after screenshots you mentioned.

I could zoom in and out for the text inside the editor, but UI menu and left pane text is like 5 points.
Really really small.

Here is a screen shot from my display:

![screenshot from 2015-05-24 17 59 1

[2015-05-25 01:50] busykai commented on #9828
@FriendOfFatBeagle, thanks for the screenshot and the explanation. What you're describing is different from the original issue. As far as I can tell, everything's working as designed: you can resize the editor font, but you cannot resize/scale fonts in other elements. The original issue was that the menu fonts were rendering too thin. I guess what you're saying is:

1. the fonts used in the menu a

[2015-05-25 02:08] FriendOfFatBeagle commented on #9828
the fonts used in the menu and in the file tree are too small;
    there's no feature to make them bigger.
@busykai:
Yes, that is correct conclusion.

I have yet to find a good magnifier for Linux Mint.
The GUI font is tiny, like 5 point or less on my 17.5" display laptop.
If you open up OpenOffice or libreOffice, compare 5 or 6 points vs 12 points font and see the difference, so you get an idea o

[2015-05-25 02:32] busykai commented on #9828
@FriendOfFatBeagle, thanks. I see the magnitude of the problem now. Could you please file a separate issue and provide a screenshot with 1) a default Brackets theme (dark or light) and 2) without any editor magnification? It would probably be helpful if you included part of the desktop (anything that includes text rendered by the system) so that whoever will be evaluating the issue later will be a

[2015-05-25 02:52] busykai commented on #9828
@Mark-Simulacrum, thank you! It will help to avoid confusion.

[2015-05-25 03:01] FriendOfFatBeagle opened #11161 "UI menu and side bar font unresizeable and tiny"
Bracket Release 1.3 experimental build 1.3.0-16022 (release cd0a6aae5)
build timestamp: Mon May 11 2015 02:16:09 GMT-0700

I have the above Bracket version installed in Linux Mint 17.1 Cinnamon and Windows 7.
There is no such problem ( to be explain below ) for Win7,  only in Linux Mint 17.1, Cinnamon "Rebecca".

The installed Brackets has a very tiny GUI menu and side bar fonts (about 5 or 6 poin

[2015-05-25 03:08] FriendOfFatBeagle commented on #9828
@busykai:
Here is the filed problem report:
https://github.com/adobe/brackets/issues/11161

Let me know if it needs more clarifications ....
Thanks.

[2015-05-25 05:29] prafulVaishnav commented on #11023
@himslm01 You can get some help [here](https://github.com/adobe/brackets/wiki/Troubleshooting#disabling-extensions-individually) to find out the extension causing the issue

[2015-05-25 05:48] prafulVaishnav commented on #11158
Closing it as we are already tracking it. @ile Please upvote it [here](https://trello.com/c/H8AyDwFA/391-local-history-versioning)

[2015-05-25 05:48] #11158 closed

[2015-05-25 10:46] K-Thompson opened #11162 "Error raised in tern_worker when parsing HTML"
Brackets v1.3

The first time I touch below HTML file, I get these errors:

[code]

The above can be raised with below (validated) HTML file. The problem are the comments immediately after the opening `<body>` tag. I'm having a problem with code hinting not working (or stopping to work) and I'm wondering if this error might be part of the problem.

[code]

See StackOverflow [How to Fix Adobe Brack

[2015-05-25 10:48] nethip commented on #11104
Closing this card temporarily.

[2015-05-25 10:48] #11104 closed

[2015-05-25 10:49] nethip commented on #11105
Suspending this card temporarily.

[2015-05-25 10:49] #11105 closed

[2015-05-25 11:24] K-Thompson opened #11163 "Excluded folders not being honored with respect to parsing for code hints"
First, I really love Brackets. It has made programming fun again.

I'm having issues with code hints working reliably. Granted, the problem could very well be my lack of understanding. But, for example, hints for function parameters never work for me. And often, many project variables are missing from the hint list.

First a question, how can I reliably exclude files and folders from being parsed

[2015-05-26 03:51] rroshan1 commented on #11099
@tatof **:   Smart indent** preference when enabled determines the indentation from the block level (as in the block depth in which it is) rather than from the previous line. Hence, the behaviour that you see.
In general, it works well with most file types except the scenario in your case in which different blocks at the same level needs to be differently indented. But yes, we can consider having

[2015-05-26 03:51] #11099 closed

[2015-05-26 03:51] tofanelli commented on #11147
hey @nethip .... it was, indeed, some plugin causing this bad behavior.... as long the issue was being caused by the Brackets Extract, I couldn't test it reloading the Brackets without the extensions... so, i removed all of them and reload it.... and, voila =)... its working flawlessly now... but, before I removed all of them, I installed another to save all of them ((Extensions Bulk Installer)),

[2015-05-26 04:07] #11147 closed

[2015-05-26 04:46] rroshan1 commented on #11093
FindInFiles Performance **ToDo**
1. Make find in files UI non-blocking, when search is performed for the first time after the project is opened. Review this solution #11128 and consider improvements.
2. Currently, Brackets does not update the search results after external updates are made to files (with the file NOT being open in Brackets). Explore the solutions to this issue #10717.
3. Take perfo

[2015-05-26 06:17] nethip commented on #11147
@tofanelli Glad you were able to resolve this issue :smile:

[2015-05-26 06:19] nethip commented on #11163
Tagged @prksingh

[2015-05-26 06:21] nethip commented on #11112
https://github.com/adobe/brackets-shell/pull/524 will fix this.

[2015-05-26 06:24] #10786 closed

[2015-05-26 06:26] petetnt opened #11164 "Extract needs better error reporting for connection errors"
See #9793, #11147, #10901

Users are experiencing the following error despite being connected to the internet (due to firewall restrictions or other networking reasons):

![image](https://cloud.githubusercontent.com/assets/7641760/7806369/98c7c1a2-0388-11e5-8ac9-dec09b5b9840.png)

My guess is that the "*please connect to the internet*" is being used as catch-all for all connection errors. More acc

[2015-05-26 06:28] nethip commented on #11093
@rroshan1 Thanks for the breakup. Could you go about creating individual cards for each of the items you have mentioned above?

[2015-05-26 07:49] yyyyyake opened #11165 "Move live-dev-profile / make it smaller"
Hello!

Im working in a enviorment where my "C:\Users******\AppData\Roaming" folder cant be to big, and the live-dev-profile keeps filling my space up. Is it possible to tell brackets so store this data in another place? If so, how would you go about doing this?

Thanks!
Jakob

[2015-05-26 08:50] nethip commented on #11162
@prksingh

[2015-05-26 08:50] abose opened #11166 "Change Updates URL to updates.brackets.io"
Changing the brackets updates(check for new versions/updates) URL.

[2015-05-26 09:40] prksingh commented on #11039
@webteckie Were you able to install brackets? @nethip  Could be an installer issue. We have made changes to the windows installer for 1.3

[2015-05-26 09:58] nethip commented on #11039
@webteckie Could you uninstall and reinstall Brackets again?

@prksingh The changes I have done are to do with adding optional check boxes. But that is not going to effect the overall installation as such. Installers are usually run in admin mode and that is what we are doing with our Brackets installers.

[2015-05-26 12:18] MarcelGerber commented on #11067
This is fixed in the upcoming 1.4 release. The PHP mode's `switch/case` statements now behave the same way they do in JS.
Thanks for reporting!

[2015-05-26 12:18] #11067 closed

[2015-05-26 12:18] MarcelGerber commented on #11142
This is now fixed.
Thanks for reporting!

[2015-05-26 12:18] #11142 closed

[2015-05-26 13:12] vhanadium commented on #11149
@petetnt thx the problem was that this value NtfsDisable8dot3NameCreation was at 2 instead of 0 in the regedit

[2015-05-26 14:23] abose commented on #11149
Closing as fixed.

[2015-05-26 14:23] #11149 closed

[2015-05-26 14:27] abose commented on #11165
I have not seen brackets taking too much memory (above 50mb) in the roaming folder.
What is the memory limits you are on. Also the use case in which the live dev profile folder has large size?

[2015-05-26 14:33] abose commented on #11114
Closing due to inactivity in this thread. Please feel free to reopen if you encounter this issue again.

[2015-05-26 14:33] #11114 closed

[2015-05-26 15:17] redmunds commented on #11165
Try minimizing the cache size for live-dev-profile. You should be able to do this by opening Live Preview, then edit cache settings in that browser window.

Another option is to switch to the new multibrowser live preview using *Enable > Experimental Live Preview*. This will use default browser profile instead of live-dev-profile.

[2015-05-26 15:50] webteckie commented on #11039
@nethip just tried on my work laptop with win8.1 and worked fine.  Will try in my home PC with win7 later today and update.

[2015-05-26 16:08] abose commented on #11165
@redmunds Thanks for the info. I didn't know that.

[2015-05-27 02:04] webteckie commented on #11039
@prksingh @nethip confirming that win7-pro is all good as well.

[2015-05-27 05:43] rroshan1 opened #11168 "[Performance- FindInFiles] Action Item 1- Make find in files UI non-blocking."
Make find in files UI non-blocking. The first searches for a medium to large project takes quite long and being blocking, it gives a very bad perception of its performance.

[2015-05-27 05:45] rroshan1 opened #11169 "[Performance- FindInFiles] Action Item 2- Updating the search results after external changes to files."

[2015-05-27 05:52] rroshan1 commented on #11168
Make find in files UI non-blocking. The first searches for a medium to large project takes quite long and being blocking, it gives a very bad perception of its performance.

[2015-05-27 05:54] rroshan1 commented on #11169
Search results are not updated when files in opened project are changed externally.

[2015-05-27 06:11] yyyyyake commented on #11165
@abose i dont have to much space to work with in the roaming profile, around 10gb's i think. It holds alot of info from different programs so every bite counts.

After 1 day of brackets use my live-dev-profile was 350MB, so it was filling up quite fast.

But after clearing my chrome history it went down to 75, so that is good.

I will try @redmunds suggestions during the day.

Thanks for the answe

[2015-05-27 07:47] AndrewFreemantle opened #11170 "Ruby on Rails inline view comments break tag matching and syntax highlighting"
The hash `#` character seems to throw out the editor, which results in tag matching, indentation assistance and syntax highlighting not working correctly for subsequent lines of code:

![github-brackets-issue-11170](https://cloud.githubusercontent.com/assets/1304992/7831322/91937abe-044d-11e5-8769-6538de6b1f94.png)

*File extension:* `.html.erb` (Embedded Ruby)
*Theme:* Brackets Dark, *and* Bracke

[2015-05-27 08:42] prksingh commented on #11136
Similar to #10316

[2015-05-27 09:09] prksingh commented on #10373
Are you still facing this issue? Which version of brackets are you on?

[2015-05-27 09:21] nethip commented on #10412
@le717 Let us target adding a deprecation warning for 1.4. Will you be able to put up a PR for that?

[2015-05-27 09:30] nethip commented on #10432
@MarcelGerber Did you get a chance to delve more into this issue? From the above pie chart, it looks like scripting is what is reported as the top most area for the slow down.

[2015-05-27 09:31] #10447 closed

[2015-05-27 09:33] nethip commented on #10457
cc @ryanstewart

[2015-05-27 09:34] nethip commented on #10462
@TobyLaroned Have you tried the steps in the troubleshooting guide to see if the issue is resolved?

[2015-05-27 09:36] nethip commented on #10467
Please up vote the trello card.

[2015-05-27 09:36] #10467 closed

[2015-05-27 09:39] nethip commented on #10483
@James5199 Did you get a chance to fix this issue by `Debug > Reload without extensions` ?

[2015-05-27 09:40] #10487 closed

[2015-05-27 09:42] nethip commented on #10490
Closing this as dev tools do not accept any connections from the network other than from Brackets.

[2015-05-27 09:42] #10490 closed

[2015-05-27 09:50] rroshan1 commented on #10612
Please upvote this feature on https://trello.com/c/lgGBOu2z/989-linux-support-additional-linux-package-formats

[2015-05-27 09:50] #10612 closed

[2015-05-27 09:54] rroshan1 commented on #10610
Closing as inactive thread.

[2015-05-27 09:54] #10610 closed

[2015-05-27 09:59] rroshan1 commented on #10595
We recommend using ``git clone`` to get trusted Brackets source code. The source TARs are auto-generated by GitHub and thus don't have the signature.

[2015-05-27 09:59] #10595 closed

[2015-05-27 10:00] prksingh commented on #10531
Should be fixed with #10648

[2015-05-27 10:00] #10531 closed

[2015-05-27 10:00] prksingh commented on #10618
Should be fixed with #10648

[2015-05-27 10:00] #10618 closed

[2015-05-27 10:34] prksingh commented on #10433
The issue is already marked 'extension idea'. I will close this from the list of active issues though, since this is unlikely to become a core feature.

[2015-05-27 10:34] #10433 closed

[2015-05-27 10:35] #10454 closed

[2015-05-27 10:36] MarcelGerber commented on #11099
@rroshan1 We shouldn't default it to disabled in CSS because that would pretty much break the common "every rule on their own line" practice:
[code]

[2015-05-27 10:39] prksingh opened #11171 "Add unit tests for #10421"
The pull request is merged but we still need to add unit tests for extension manager

[2015-05-27 10:44] prksingh commented on #10406
Hi @Mulacor Were you able to reproduce the issue, starting with an empty folder as mentioned above?

[2015-05-27 10:53] MarcelGerber commented on #10794
Confirmed fixed.
Closing.

[2015-05-27 10:53] #10794 closed

[2015-05-27 10:53] MarcelGerber commented on #10411
Confirmed fixed.
Closing.

[2015-05-27 10:53] #10411 closed

[2015-05-27 12:11] Babayasin commented on #10373
Installed 1.3, still no live preview for HTML files.

Preview browser just doesn't start with 'Enable experimental live preview' checked.

Brackets Release 1.3 experimental build 1.3.0-16022 (release cd0a6aae5) on Linux 3.16.0-4-amd64

[2015-05-27 12:20] outofmydepth commented on #10373
It seems to be working better but not 100%. The live browser will always start, but after awhile will (still) sometimes become inactive. I have to hit refresh in Chrome to get it going again. It doesn't seem to be an issue if I'm very busy in Brackets, and am constantly making changes. If I have to leave for a bit it seems to go dead. I've tried a few Chrome extensions that will refresh at set int

[2015-05-27 13:53] le717 commented on #10412
@nethip Certainly.

[2015-05-27 14:12] prksingh commented on #11039
Glad to hear that. Closing the issue. Will reopen in case this is seen again

[2015-05-27 14:12] #11039 closed

[2015-05-27 15:32] abea opened #11172 "Small typo in wiki"
In [How to Use Brackets](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets)

Current version: "The content is served statically from a built-in server that Brackets run — it doesn't contain any of your app's backend logic."

Correction (bolded): "The content is served statically from a built-in server that Brackets **runs** — it doesn't contain any of your app's backend logic."

[2015-05-27 15:41] busykai commented on #11172
Fixed, thank you!

[2015-05-27 15:41] #11172 closed

[2015-05-27 16:24] Garito opened #11173 "Change code folding shortcut as it is used for pipe (|) on Mac"
Hi!
Anyone has noticed that the fold feature is using the keystrokes to add a pipe (|)?
That is to fold we use alt + 1 so in mac is the pipe

Could someone correct this?

Thanks!

[2015-05-27 19:13] tatof commented on #11099
That wouldn't break "every rule on ther own line" pracitice.
Only thing it would to is making it posible to Nest your css like your div structure.

[code]
test
[/code]

[2015-05-27 19:52] ile commented on #11159
Sorry for the delay, I was editing a bunch of files and I didn't want to lose the "editing history".

This code seems to do what I reported:

[code]
.. and then saving as test.js for example.

Of course writing CoffeeScript into a .js file doesn't make much sense, it was a mistake originally.

Reloading without extensions didn't help.

[2015-05-27 19:58] abose commented on #11094
After profiling file open times, three major areas of optimization candidates are
1. The shell access for each file read is taking between 100-500ms of time.
2. React JS event dispatching mechanism is eating lots of time.
3. code mirror scroll to offset x &y is taking time.
4. and finally jquery event dispatch is eating some of the active files switch time.

[2015-05-27 20:31] MarcelGerber commented on #11159
I can repro the issue, too, with extensions loaded at least.
For me, it seems to be caused by the JSHint extension (cc @cfjedimaster)

[2015-05-27 21:31] cfjedimaster commented on #11159
My code is very much just a wrapper to the JSHint lib. If you can recreate it on jshint.com, then it would definitely be the library.

[2015-05-27 22:09] nestoru opened #11175 "jslint release support"
Would you please add the option to configure the jslint release to use? Gulp-jslint for example allows to configure it so it would be ideal that the developer using brackets uses the same version that later on a release process will use.

I tried deploying the newest jslint.js file but it did not work because it tries to use JSLINT which is not longer defined.

For now I am forced to delete the in

[2015-05-28 00:49] nestoru commented on #11175
Just to report what I am doing now as a workaround:
1. Delete the very old jslint included with brackets (2012-01-13)
[code]
2. Install https://github.com/markmcintyre/brackets-jslint plugin which is available from the registry in the brackets user interface.
3. Since it installs version 2014-07-08 and gulp-jslint supports that version everything works fine for me at the moment.

[2015-05-28 06:09] rroshan1 commented on #11173
@Garito
You can override Brackets default keyboard shortcuts in the `~/Library/Application\ Support/Brackets/keymap.json` file. You can even reassign another key binding for an action.

Please refer #11114 for details on the fix and do let us know if this solves your issue.

[2015-05-28 07:05] IDrakon opened #11176 "Brackets Hotkey for 2-windows on Windows"
*Brackets 1.3.0-16022 (win)

Периодически перестают работать все горячие клавиши в Brackets под ОС Windows если одновременно открыто 2 окна Brackets и в них выполняют перезагрузку по клавише F5 одновременно.

[2015-05-28 08:16] prksingh commented on #11164
I have logged this internally for extract for brackets. The team is not working on Extract for brackets for release 1.4 though. So there may be some delay in picking up this issue

[2015-05-28 08:19] petetnt commented on #11164
:+1: Thanks @prksingh.

[2015-05-28 08:56] Garito commented on #11173
Sure, but don't you think that this shortcut is a troublemaker?
Think would be more sane for all us to use a better one instead to tell anyone how ask to change it

What do you think?

[2015-05-28 08:59] Garito commented on #11173
BTW doing what you point brackets raises "Alt+1" is an invalid shortcut

[2015-05-28 09:00] Garito commented on #11173
And doesn't work at all

[2015-05-28 11:02] AtomGrafiks opened #11177 "Need Real-Time collaboration System"
Please need real-time collaboration system as Google Drive !

[2015-05-28 13:32] pjwalmsley commented on #10570
This is a bigger issue when using Git.

If i change branches from the terminal my files don't update (even if i close and reopen them from within Brackets).  It requires a restart of brackets.

I personally don't remember having this issue with earlier builds (i think i was on 1.1 for a while).  I may be wrong though.

[2015-05-28 15:19] skaneria commented on #9592
+1

[2015-05-28 15:58] MarcelGerber commented on #10432
@nethip You can't really trust the pie chart in this case... it only shows the first 11.1 ms.

Actually, the timeline doesn't look too different from what I get here (Windows 8.1 x64), it's just that downloading (the time before actually processing all those entries, which is the long yellow/blue bar) takes a whole lot longer in your case.

My timeline:
![image](https://cloud.githubusercontent.com

[2015-05-28 17:32] nethip commented on #9592
We already have a trello card for this. Please upvote this trello card.
https://trello.com/c/xFiAjzTK/327-auto-save-backups-to-temp-location

Closing this.

[2015-05-28 17:32] #9592 closed

[2015-05-28 17:43] darkcoderrises commented on #10611
i was working at this,
would adding window.scrollTo(0,0); fix this?

[2015-05-28 18:46] ybitso opened #11179 "Request: Multi-line Find and Replace"
Docked window for Multi-line Find and Replace

[2015-05-28 21:45] fcardona commented on #11177
+1. You read my mind.

[2015-05-28 22:00] fr32c opened #11180 "FR- work with Aliases on Mac Os"
Hi. I'd like to work with aliases files in Brackets, so that files could be "somewhere else" on a drive.

This happens when I'm working on Illustrator .jsx scripts that have to be located under Server HD ▸ Applications ▸ Adobe Illustrator CC 2014 ▸ Presets ▸ fr_FR ▸ Scripts

I'd love to put an alias in the current folder and work from there.

[2015-05-28 22:38] ApfelUser commented on #11177
+1 that would be a killer-feature!

[2015-05-29 04:50] rroshan1 commented on #11179
@ybitso
We already have a card in Trello for it. Please upvote this card https://trello.com/c/yho8jb7y/1082-find-replace-allow-matching-across-lines-n-or-multiline-regex-or-replacement-text-containing-newlines so that we can prioritize this task.
Closing this issue.

[2015-05-29 04:50] #11179 closed

[2015-05-29 09:50] vishnumohan89 opened #11181 "Save location always set to "Getting Started". Cant use my last save Folder"
Hi Guys,

I like brackets very much and its a wonderful app. I use it for my coding daily. I would like to bring these issues i have to you people.

1) When i try to save or open a file, the default directory is always "Brackets\samples\root\Getting Started". I think we should use the last save location. Or am i missing some settings. Same happens for Open file
2) When i link some Css files, with

[2015-05-29 10:07] abose commented on #11173
Alt +1 was used as a standard shortcut in many of the windows apps for collapsing code; So to keep with consistency; we used the same shortcut in all the platforms so that people moving from windows to mac version of brackets have less friction in doing so.
But yes it seems that had a use case in mac that we overlooked.
What would you suggest as a shortcut in mac for expand and collapse all.
@theh

[2015-05-29 10:13] efolio commented on #10255
Same dependency issue here, on latest Ubuntu, fresh install.
This is not a low priority bug anymore. Please update the label.

[2015-05-29 10:14] Garito commented on #11173
Don't really care. What I do care is if I can use the pipe (which in Jinja2 is used)
I'm not a good candidate for this question since I don't really use fold/unfold too much so don't need a shortcut for that

Could you point me why I can't dissable it?

Thanks!

[2015-05-29 13:49] abose commented on #11173
@Garito You could disable by `debug menu> open preferences file>` add `"code-folding.enabled": false` to file.

[2015-05-29 16:10] MarcelGerber commented on #11159
You are right. I can indeed repro this in a locally installed version of jshint. It simply never finishes.
Will report it with them.

[2015-05-29 16:19] MarcelGerber commented on #11159
Filed as jshint/jshint#2421.

Closing this as extension problem anyways. Hopefully it'll get fixed soon.

[2015-05-29 16:19] #11159 closed

[2015-05-29 20:16] MarcelGerber commented on #10611
Take a look at [this](https://github.com/adobe/brackets/blob/5f2ccda1937a11ddc86cd807ba5530d0dabf37ad/src/extensibility/ExtensionManagerDialog.js#L330) to see what we already do to keep the scroll position for each tab.
So `$(".modal-body", $dlg).scrollTop(0);` should work for you.

[2015-05-29 20:26] darkcoderrises commented on #10611
Thanks, i have updated the pull request

[2015-05-29 20:45] darkcoderrises commented on #10611
@MarcelGerber it says $dlg is not defined

[2015-05-29 21:02] asherrick opened #11182 "Unable to create new folder/directory (error NotReadable)"
Hi,

I just got Brackets, and upon trying to create a new folder, I get the following error:
![bracketserror](https://cloud.githubusercontent.com/assets/12664880/7892594/61e51dfc-061b-11e5-89cb-01fc658d1008.PNG)

Thanks for any help!

[2015-05-29 21:27] redmunds commented on #11182
Are you trying to create the new folder in the Getting Started sample project? It's in the installation folder which is not readable. If so, create a new folder somewhere on your disk where you have access, then use *File > Open Folder...* to switch to that "project" and create your files and folders there.

[2015-05-29 22:53] ryanstewart commented on #11182
I wonder if it's worth improving that error. @nethip @redmunds we should be able to detect when a user hits that error inside the getting started project, right?

And maybe instead of this we can point them to a quick video tutorial on Brackets?

[2015-05-30 02:53] nethip commented on #11182
@ryanstewart Sure! I thin there is a scope for improvement in the dialog itself. How about adding a link to a new section in our troubleshooting wiki that talks about the possible causes that lead to the failure?

[2015-05-30 04:27] ile commented on #11158
Hi,

I upvoted, thanks.

But Brackets really needs something like this badly. As it's now, if I change the "opened folder" in the left panel, I lose all the editing history. And, as I can have only one "main folder" (you could also call that a project), and switching between projects is a frequent operation, I tend to lose the editing history a lot.

This makes the editor almost impossible to use,

[2015-05-30 09:04] Garito commented on #11173
Oh, no! I don't wanna disable folding (I almost never use it but when I need it it is super usefull)
What I want is to disable the shortcut!
I've tryed keymap.json thing but the error I point out above is raised

Any alternative way?

[2015-05-30 11:24] MarcelGerber commented on #11173
Added to Release 1.4 milestone. We've heard multiple reports of this being an issue, so we should really consider changing it.

[2015-05-30 11:43] MarcelGerber commented on #11170
This is already fixed in Release 1.4.
It apparently was some fix in CodeMirror we got for free in our merge.

![image](https://cloud.githubusercontent.com/assets/2641501/7897139/cb1f849a-06d1-11e5-8102-802c328eb441.png)

[2015-05-30 11:43] #11170 closed

[2015-05-30 12:34] Garito commented on #11173
Thanks a lot!
Tell me if you need something :)

[2015-05-30 21:51] StephenSantilli9 opened #11183 "Suggestion (Not on Trello): Make a browser inside of brackets"
Well, I want to suggest this, because it would be really cool.  Instead of needing to open your browser at all, you could just have one in brackets.

[2015-05-30 22:03] sprintr commented on #11183
A duplicate of #10766

[2015-05-31 00:59] StephenSantilli9 commented on #11183
Oh, sorry, next time I'll look harder, when I searched I didn't see it.

[2015-05-31 01:09] busykai commented on #11183
@StephenSantilli9 strictly speaking, #10766 talks about doing LivePreview within Brackets. If you want to view an arbitrary pages in Brackets, then I doubt it will ever be implemented since Brackets is the code editor, not a browser replacement. It's just a no-goal for us. It can be done via an extension, though, you could try it and see how popular it will become.

If you're interested in doing L

[2015-05-31 01:09] #11183 closed

[2015-05-31 04:25] Ampix0 opened #11185 "Brackets does not start a local server - Live editing does not work."
Even after reinstalling Brackets, the issue persists. When attempting to launch the live preview, Chrome simply opens the html file statically, called directly by the file path. The local server is never launched (not sure if it was ever created?)

[2015-05-31 13:40] busykai commented on #11185
@Ampix0,

if you have any extensions installed, please try *Debug -> Reload without Extensions* and see if it reproduces.

If that does not help could you open the debugger (*Debug -> Show Developer Tools*) and:

1. See if you have any errors printed there. Copy them here if there are any.
2. While focused on Brackets window (not on tools), select *Debug -> Log Node State to Console*.

[2015-05-31 14:27] bobrocke opened #11186 "Can't close and cancel save"
If I attempt to close an open file from the Working Files pane and click `Don't Save` in response to the Save Changes dialog, the file will not close.

Maybe this only happens with a split view? I'll try to confirm.

[2015-05-31 19:53] bobrocke commented on #11186
No, it happen without a split view, too. But I still can't reliably reproduce it.

[2015-05-31 20:53] #10821 closed

[2015-05-31 21:15] lubiki1975 opened #11187 "alignment"
Could you please make the same extension "alignment"
like atom,io has
please see the link for atom-alignment extension:
https://github.com/Freyskeyd/atom-alignment

[2015-05-31 21:25] bobrocke opened #11188 "Asks to save files with no changes"
If I open a document, look at it, and then close it, Brackets thinks there have been changes and wants to save them. I can always choose "don't save," but it's annoying.

[2015-05-31 21:50] MarcelGerber commented on #11185
Also, it would be nice if you could answer these questions:
* What Operating System are you on?
* Which version of Brackets are you using? (Go to `Help > About Brackets` to find out)

[2015-05-31 23:10] MarcelGerber commented on #11188
Per our discussion on Slack, this issue was caused by https://github.com/brad-jones/whitespace (cc @brad-jones) and is now fixed.
Closing as extension problem (not extension idea, heh).

[2015-05-31 23:10] #11188 closed

[2015-06-01 01:38] TomMalbran commented on #11187
There is one already:
https://github.com/ggarek/brackets-extension-alignit

[2015-06-01 07:37] joshuaknight opened #11191 "The current URL, , didn't match any of these."
Page not found (404)
Request Method: 	GET
Request URL: 	http://127.0.0.1:8000/

Using the URLconf defined in mysite.urls, Django tried these URL patterns, in this order:

    ^/hello/$

The current URL, , didn't match any of these.

You're seeing this error because you have DEBUG = True in your Django settings file. Change that to False, and Django will display a standard 404 page.

[2015-06-01 11:46] szabgab opened #11192 "Open recent files - in other directories"
While working on a project sometimes I also need to open some unrelated files. Then if I close the, it is hard to find them again. Would it be possible to add an "Open Recent files" menu option that would list the 10-20 most recently opened files? Probably only keeping the files that are not related to any of the open projects.

[2015-06-01 11:58] #11191 closed

[2015-06-01 13:14] FezVrasta opened #11193 "Update Large Projects wiki page"
You should replace

https://github.com/gruehle/exclude-folders

with

https://github.com/JonathanWolfe/file-tree-exclude

inside this page

https://github.com/adobe/brackets/wiki/Large-Projects

[2015-06-01 14:42] redmunds commented on #11193
Good idea, but I think *both* should be mentioned and let user decide.

[2015-06-01 14:45] FezVrasta commented on #11193
I thought the old one doesn't work anymore, this is what is written in the file-tree-exclude readme:

If the old one still works then I will ask @JonathanWolfe to fix his readme.

[2015-06-01 15:02] JonathanWolfe commented on #11193
@FezVrasta - Glenn's still works, but is not as accurate or user friendly as mine (or the other forks people have made), and should be depreciated as an option.

Once Brackets get's it's native `exclude-folders` working, both our plugins will be obsolete.

[2015-06-01 15:05] redmunds commented on #11193
@FezVrasta You're right, @gruehle 's extension no longer seems to work. Someone should open an issue on that repo.

I thought the only difference was that @JonathanWolfe 's extension was preferences driven (which is very cool!)

[2015-06-01 15:20] redmunds commented on #11193
Yes, @gruehle 's extension still works -- it must have been conflicting with one of my other extensions.

[2015-06-01 16:37] Tsmith18256 opened #11194 "Replace All in selected text"
I think the Brackets Find and Replace feature needs more options. Most importantly, the option to only replace instances in the selected lines. For example, if I have two similar blocks of HTML with only a single word (such as the id) changing, then I want to be able to copy and paste the first block and just replace all of the instances of that word with the new one.

[2015-06-01 17:21] JeffryBooher commented on #11036
closing. unable to repro now. Will see if i can find a repro case later.

[2015-06-01 17:21] #11036 closed

[2015-06-01 19:06] MarcelGerber commented on #1741
I think this is now fixed... @JeffryBooher Could you just quickly check?

[2015-06-01 19:11] JeffryBooher commented on #1741
Yeah I'm not seeing it in 3.2171.1902 @redmunds if you're ok with this then let's close it.

[2015-06-01 20:16] redmunds commented on #1741
LGTM. Closing.

[2015-06-01 20:16] #1741 closed

[2015-06-01 22:12] MarcelGerber commented on #11154
I actually just saw a similar error in http://blog.brackets.io/2012/06/25/brackets-open-source-code-editor/:
![image](https://cloud.githubusercontent.com/assets/2641501/7924504/041df966-08bc-11e5-94c1-d1de2aef2d10.png)

[2015-06-01 23:17] mihawk90 commented on #11004
I am receiving the same error (Release 1.3 Build 1.3.0-16022).

I noticed that I didn't receive any errors on my Brackets installation on my Laptop (both my PC and my Laptop are Win8.1 64bit), so I went ahead and renamed my brackets folder in %appdata% to reset my settings, after that I didn't receive any errors.

I assume this is some older setting that is conflicting with something in the new co

[2015-06-02 08:01] abose commented on #11173
@MarcelGerber what about collapse all with `cmd+1` and `cmd+shift+1` for expand in mac?

[2015-06-02 08:05] redmoik commented on #11142
Hi!

How can I fix that issue on my end? My brackets is updated but I'm still getting that bug when I right click a text.

[2015-06-02 08:31] rroshan1 commented on #11173
Yes.. That should be good.. Similar to Sublime on Mac. :+1:

[2015-06-02 08:45] MarcelGerber commented on #11142
Please call `git submodule sync && git submodule update --init`.

[2015-06-02 08:54] redmoik commented on #11142
I'm new to this sorry... where will I call that?

[2015-06-02 09:00] MarcelGerber commented on #11142
I guess you have a cloned version of Brackets (Is that what "updated" is for you? If not, you shouldn't ever experience this issue with a Release build).
If you have, just navigate in there `cd xyz/brackets` and then call the two commands from above.

[2015-06-02 09:11] Garito commented on #11173
Those shortcuts seem to be free right now so good for me too

[2015-06-02 09:12] redmoik commented on #11142
I navigated in there and typed the two commands but it gives error "no git repository,..."

I have no idea if this one is cloned or not. I just downloaded it here http://brackets.io/ and installed Code Folding plugin.

[2015-06-02 09:27] MarcelGerber commented on #11142
In that case, you don't have a clone.

So you're saying you see this exact issue in Release 1.3?

[2015-06-02 09:39] rroshan1 commented on #11181
@vishnumohan89
Glad that you like Brackets!
1. Opening/Saving a file does take place from the last used location UNLESS you are using Brackets to create individual files not belonging to current project, that's when the default save location gets changed to the active project directory. If you work mostly on individual files and want to request the feature for not having an active project at all t

[2015-06-02 10:06] redmoik commented on #11142
I think yes. check the GIF's below

![random_delete_text_on_right_click](https://cloud.githubusercontent.com/assets/3467961/7933379/4a8cf8c6-0951-11e5-8143-4ef32d405e1d.gif)
![pluginsbracket-random_delete_text_on_right_click](https://cloud.githubusercontent.com/assets/3467961/7933381/4de08ad8-0951-11e5-8d13-5c00f11bc175.gif)

[2015-06-02 10:15] MarcelGerber commented on #11142
Indeed. Could you just quickly try `Debug > Reload without extensions`?

[2015-06-02 11:58] redmoik commented on #11142
same problem..

[2015-06-02 12:08] redmoik commented on #11142
oh wait.. Without you say? yes it's not deleting anymore when Reload without extensions

[2015-06-02 12:11] mackenza commented on #11142
it would be good to get a list of your extensions then as it seems to be an extension issue.

[2015-06-02 12:12] abose commented on #11142
The first GIF shows that it is the release build;Did you correctly launch brackets from the sources at the time?

[2015-06-02 12:14] MarcelGerber commented on #11142
@mackenza You can see it in the second GIF:
* Code Folding (the one that is now a default extension)
* Extract for Brackets
* FunctionFinder
* Smooth Scroll

@abose The thing is, he runs into this issue with his _Release_ build (but caused by some extension).

[2015-06-02 13:57] abose opened #11200 "Docs for Prefs code hints"
- [x]  Update wiki pages on how to define code hints for preferences
- [x]  JS Docs for define preference.
- [x]  remove data.json
- [x]  Find out core preferences that has not used the define preference API and add prefs docs.
- [x]  Update preference WIKI pages.
- [x]  Mail brackets committers/slack channel about the new API. Create entry in release notes for 1.4 for API change.

[2015-06-02 14:48] #11187 closed

[2015-06-02 14:48] abose commented on #11187
Closing as extension idea.

[2015-06-02 21:41] MarcelGerber opened #11202 "Extension Manager won't load when there are local extensions present whose version is not valid semver"
1. Go to one of your locally installed extensions
2. Open the `package.json`
3. Edit the `version` field to e.g. `0.3.0dev1` (which is not valid semver)
4. Open Brackets
5. Open the Extension Manager

Result:
The Extension Manager will just show the spinner forever.
Furthermore, there's an exception in the console:
[code]

(reported by @bobrocke via Slack)

[2015-06-02 21:48] MarcelGerber commented on #11186
Closing. Seems to be an extension problem (per Slack).

[2015-06-02 21:48] #11186 closed

[2015-06-03 04:00] nethip commented on #11106
Since we have not gotten started yet on this, let us move this to 1.5.
@ryanstewart: Should this be ok?

[2015-06-03 06:02] dnbard commented on #11061
Would love to have the JSX support in the Brackets in .js files

![bracket jsx wrong ident](https://cloud.githubusercontent.com/assets/4028472/7953544/efee4d42-09ce-11e5-85c4-fd99920280f0.gif)

The bug with wrong indent is killing me when I'm working with React.

[2015-06-03 07:00] szabgab opened #11203 "add --help to brackets command line"
If the user provides ```--help``` brackets should list the command line options.

It actually does now, but it also complains about ```unrecognized option `--help'```
IMHO it should be a real option.

[2015-06-03 07:03] szabgab opened #11204 "Allow non-existen file on the command line"
Currently if I run ```brackets file.html``` on the command line it tells me
```The file .../file.html does not exist.```

IMHO it should open the brackets with an empty buffer which if saved will create the given file.

[2015-06-03 11:35] joakim-m opened #11205 "[Suggestion] A 'collapse all' button for the file tree"
Title says all.

[2015-06-03 14:28] redmunds commented on #11205
@joakim-m Use `Ctrl/Cmd-click` on folder expand/collapse arrows in file tree to expand all/collapse all under folder. `Ctrl/Cmd-click` on root-level folder will expand/collapse entire tree.

Keeping this open so documentation gets added to [How to Use Brackets](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets).

[2015-06-03 15:48] fritzwf opened #11206 "Add a "back button" that returns to the last edited file"
A back button that would return you to the last file you were editing.  It would also update the left file pane to show the file in the pane (if the file/folder list is long and cannot fit entirely into the pane).  This would be helpful if you are editing a particular file and you just need to look at another file in the project to possibly copy some code or whatever, and then go back to editing t

[2015-06-03 15:51] redmunds commented on #11206
Does `Ctrl-Tab` do what you need?

[2015-06-03 17:57] joakim-m commented on #11205
If you ctrl-click the sub-folders don't get collapsed, only the one you click on.

[2015-06-03 18:05] couzteau opened #11207 "Split view broken"
1. place  [this `state.json`](http://adobe.ly/1dMr8Ou) in `Library/Application\ Support/Brackets`
1. launch brackets
1. choose any split view

BUG: the editor screen splits but only one file is visible at a time.

The state.json file defines `"splitPercentage": 1` in all cases. That seems to be part of the problem. I ended up in this state after using split view in combination with the MarkdownPre

[2015-06-03 20:02] dalekprime commented on #11046
I was able to resolve my issue by removing the Ternific extension.

[2015-06-03 20:26] MarcelGerber commented on #11046
@PabloK does removing the Ternific extension resolve your issue, too?

cc @MiguelCastillo

[2015-06-03 21:00] MarcelGerber commented on #11205
It wouldn't hurt, though, if we added that same functionality to the context menu (?). It could also mention the "shortcut" so it's more explorable.

[2015-06-03 21:16] MarcelGerber commented on #10309
Closing as fixed. (see above)

[2015-06-03 21:16] #10309 closed

[2015-06-03 21:20] MarcelGerber commented on #11076
I see now.
It's an issue with how the stylesheets are referenced - using `@import`: https://github.com/adobe/brackets/blob/015400e6d53dcbe3eeacbf901f2c31e863412a13/test/smokes/citrus%20completed/css/citrus_mq.css

Also, the Chrome error message:
[code]

[2015-06-03 21:52] Spangenhelm commented on #10255
:+1: @sarangbaheti !
Installing this package: [libgcrypt11_1.5.4-3_amd64.deb](http://ftp.acc.umu.se/mirror/cdimage/snapshot/Debian/pool/main/libg/libgcrypt11/libgcrypt11_1.5.4-3_amd64.deb) solved my problem of not beeing able to install Bracket 1.3 on Ubuntu Mate 64-bit

[2015-06-04 05:37] msareen opened #11209 "Pull the view out"
It will be a great feature if I can pull out(detach) a dev space out of main window.

[2015-06-04 06:08] PabloK commented on #11046
Is that an extension that comes with brackets? I only installed the theme extension. I have actually uninstalled brackets after this bug. because I could not open it without having it crash.

[2015-06-04 15:38] timothylrobb opened #11211 "Ctrl-C (Copy) when nothing is selected empties the clipboard and replaces it with the current line"
I sometimes fat finger Ctrl-C when I'm trying to place the contents of my clipboard at the cursor location using Ctrl-V.  Unfortunately, when I do, Brackets replaces the contents of the clipboard with the current line of text.  For me, it would be beneficial to not copy anything to the clipboard when nothing is selected.  For me that would save time of having to undo, re-select text and paste.

If

[2015-06-04 16:21] redmunds commented on #11211
Duplicate of https://github.com/adobe/brackets/issues/9311. Closing.

[2015-06-04 16:21] #11211 closed

[2015-06-04 18:02] MarcelGerber commented on #11046
Sorry to hear that!

No, it's not an extension that comes bundled with Brackets, so apparently it's not what caused the issue for you.

[2015-06-04 18:09] MiguelCastillo commented on #11046
@dalekprime sorry for the inconvenience.  Someone else had reported this issue with ternific and I have not had the chance to profile the code to find the issue.  I will hopefully have some time this weekend.

To be perfectly clear though, ternific is *only* for JS.  So if you are having performance issues with other file types, then I am not sure it would be ternific.

https://github.com/MiguelCa

[2015-06-04 21:49] PatchGuru commented on #11206
``` Ctrl-Tab ``` should be exactly what you need for a "back button". Works quickly to switch between recently edited files.

[2015-06-04 22:05] alastairparagas opened #11213 "'Lint files on save' - Linter not working on save"
JSLint/JSHint works perfectly on 'linting files on save' when I am editing the same Javascript file. However, when I switch to another file, 'linting files on save' just stops working. Just to have the linter lint my Javascript file again, I tend to switch to another file and then back to my original file to run the linter. I already tried uninstalling JSHint and Brackets itself and reinstalling t

[2015-06-05 13:40] ospar0829 opened #11214 "Quick Edit only for css loaded in HTML"
Please in the Quick Edit only show the css loaded in the current HTML

[2015-06-05 18:33] pipiscrew opened #11215 "last position missing(?)"
hi,

I would like when editing a file and Im on line 35, imagine I press CTRL+F (search) and landed on line 780 press a key-combination to return on *last position* aka line 35!

thanks

[2015-06-05 18:35] pipiscrew opened #11216 "search history (?)"
search history missing?

using CTRL+F I search for potatoes, then use again CTRL+F tried up/down arrow keys but nothing..

thanks

[2015-06-05 19:43] igorcadelima opened #11217 "Can't delete folders or files using the file tree on Ubuntu 14.04"
Hey guys,

Every time I try to delete a folder or a file by right-clicking on it and then delete I get an error message. Here's the error that I get when trying to delete a file:

Is that a user problem or a bug? FYI, I'm using Ubuntu 14.04 x86_64 with kernel 3.16.0-38-generic.

Cheers.

[2015-06-05 20:18] paulrevival opened #11218 "Always starts within 'Getting started' project (Ubuntu 14.04 64bit)"
Hi! I'm using Brackets since 0.xx versions and it's awesome, but suddenly smth got wrong (some update or not, I didn't understand) and now when I launch Brackets, it always starts with *`"Getting started"`* project like I launch it first time every time (with emtpy 'recent projects' dropdown-list).
But the Main ploblem is that after every launch the blue pop-up *`"Brackets Health Report"`* appears

[2015-06-05 20:54] MarcelGerber commented on #11215
You can already do that using `Cmd/Ctrl+U` (or `Ctrl/Cmd+Alt+U` for redo).
In general, this shortcut undoes changes including cursor/selection changes.

[2015-06-05 20:56] MarcelGerber commented on #11218
Could you please try deleting your `state.json` file? IIRC it's `~/.config/Brackets/state.json`

[2015-06-05 21:04] paulrevival commented on #11218
Wow!! It works to me! Thanks for the such soon answer :+1:

[2015-06-05 21:13] MarcelGerber commented on #11218
Reopening. #10390 should have fixed this issue (and in landed in 1.3, which you're apparently using), so we should take another look at this issue. (cc @redmunds @prksingh)

@paulrevival You probably don't know what has been in the `state.json` file, causing the issues you experienced?

[2015-06-05 21:15] paulrevival opened #11219 "Brackets launch\exit takes more than one time (often)"
I can't manage to it, but very often the launch I can start to work in Brackets after several times of launching\exiting. I launch Brackets and it hangs with just white board with system buttons on top (close/minimize....). Than I need to click `'exit cross'`, wait for a while and then try to launch it again. And sometimes again..And again.
Almost the same problem with exiting: almost always the s

[2015-06-06 03:25] TomMalbran commented on #11216
Yes. Unfortunately it is missing.

Please vote on this trello card: https://trello.com/c/IzACddEv/344-s-find-recent-search-history

[2015-06-06 07:08] everbeen opened #11220 "Cannot parse EJS Trim-mode ending tag -%>"
Cannot parse `-%>` tag ([trim-mode ending tag][npm]):

![1](https://cloud.githubusercontent.com/assets/188089/8018748/8f0b9f70-0c5d-11e5-908f-abfafe4ecad2.png)

[npm]: https://www.npmjs.com/package/ejs#features

When change to `%>` it works:

![2](https://cloud.githubusercontent.com/assets/188089/8018751/96b07e6c-0c5d-11e5-8e64-4c3f2ae6a965.png)

[2015-06-06 07:37] nethip commented on #11219
Hey @paulrevival could you tell us on which OS, you are facing the above issue ? And dos you try to reload Brackets without any extensions ? Try Debug->Reload Without Extensions.

[2015-06-06 13:16] #11216 closed

[2015-06-06 13:21] pipiscrew commented on #11215
wow, working,

Ctrl+U - Last Position
Ctrl+Shift+U - Next Position

@MarcelGerber thanks!!

undocumented(?)
https://github.com/adobe/brackets/wiki/Brackets-Shortcuts

[2015-06-06 13:21] #11215 closed

[2015-06-06 13:28] pipiscrew opened #11221 "goto matching bracket"
hi again,

assume we are in javascript

[code]

when we are at start bracket, how I can move to last bracket (and vice versa) via shortcut?

[2015-06-06 16:36] hnbvt24 opened #11222 "Live Preview Not Working"
When I go to click Live Preview on Brackets, it opens Chrome and then says:
This webpage is not available

ERR_CONNECTION_REFUSED

Google Chrome's connection attempt to localhost was rejected. The website may be down, or your network may not be properly configured.

I've already tried uninstalling extensions and re-installing Brackets, but nothing works. My guess that is that something is wrong in

[2015-06-06 17:47] redmunds commented on #11222
Only use Base URL if you are using your own local server. If so, make sure your server is started, otherwise delete Base URL (i.e. set it to [blank]).

If it's still not working, read the [Live Preview section of the How To Use Brackets doc](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#live-preview) and then the [Live Preview Isn't Working section of the Brackets Troubleshooting guid

[2015-06-06 17:50] redmunds commented on #11215
@pipiscrew When I open the Display Shortcuts panel, I see those shortcuts listed.

[2015-06-06 17:52] redmunds commented on #11221
I use the Jump to Matching Brace extension.

[2015-06-06 18:18] pipiscrew commented on #11221
@redmunds thanks!

[2015-06-06 18:18] #11221 closed

[2015-06-06 20:10] TomMalbran commented on #3057
I am going to close this, since it does work.

[2015-06-06 20:10] #3057 closed

[2015-06-07 01:04] hnbvt24 commented on #11222
Oh wow, haha. I don't know why I didn't think of that. Sometimes, I tend to over think these things. It worked! Thank you so much.

[2015-06-07 13:33] MarcelGerber commented on #11220
This is already fixed in the upcoming Release 1.4.
It apparently was some fix in CodeMirror we got for free in our merge.

[2015-06-07 13:33] #11220 closed

[2015-06-07 13:34] MarcelGerber commented on #11222
Closing as fixed then.

[2015-06-07 13:34] #11222 closed

[2015-06-07 22:17] bobrocke opened #11226 "Grouping/Alphabetizing Tree-View?"
I’d like to arrange my tree view to show folders before files and to alphabetize both groups. Possible?

[2015-06-07 22:32] bobrocke commented on #11226
I got some help on the Slack chat. The "trick" is this in my preferences file:

`"sortDirectoriesFirst": true`

[2015-06-07 22:32] #11226 closed

[2015-06-07 22:33] bobrocke opened #11227 "Mac OS Open File Dialog Shift"
When the Mac open dialog is first shown, it appears to be a sheet attached to the window title bar. But then it immediately jumps to a centered modal dialog! The shift is jarring and I doubt it’s what is intended.

[2015-06-07 23:12] bobrocke opened #11228 "Pick up new CodeMirror in release 1.4?"
Are there already plans to pick up the new version of CodeMirror (with the new Twig mode) for version 1.4 of Brackets? I use a lot of Twig mixed with HTML and am looking forward to making a multimode extension using the "real" Twig and HTML modes. Maybe JavaScript, too.

[2015-06-07 23:34] peterflynn commented on #11075
Hmm, odd that has an impact, since the 'related container' (the list on the right) is less tall than the editor.

@MarcelGerber Does re-adding the line fix the bug without introducing any other side effects?

[2015-06-08 03:58] MarcelGerber commented on #11075
Not any immediately-visible, at least :)

[2015-06-08 06:28] abose commented on #11228
Usually, code mirror integrations happen early in the cycle as that would give us enough testing window. The last code mirror integration happened as part of #11167 (cm master as on  May 26, 2015). The next code mirror integration will happen after release 1.4 if there are no blocking issues.

[2015-06-08 09:22] mirageglobe opened #11229 "Add option on file explorer to open in terminal [new feature request]"
In addition to opening in finder....Add in the option of right clicking the file or folder and opening it in terminal. Obviously file will represent opening the parent folder.

This helps in running scripts or opening other file types in a project via command line.

![screen shot 2015-06-08 at 10 21 18](https://cloud.githubusercontent.com/assets/577792/8031660/2df3de7a-0dc8-11e5-8c36-9273e39ea300.

[2015-06-08 10:10] bobrocke commented on #11228
OK, so most likely in v1.5. Is Brackets still on a 4ish-week release/sprint cycle?

[2015-06-08 10:23] abose commented on #11228
yes, 1.4 is due within the next 2 weeks.

[2015-06-08 10:25] bobrocke commented on #11228
Thanks.

[2015-06-08 10:25] #11228 closed

[2015-06-08 16:12] miguelpaz opened #11230 "Updating to 1.3 instead of replacing existing version"
I download the Brackets 1.3 version on MacOS Yosemite. Instead of updating my current version, it wants to replace the existing version.

[2015-06-08 16:33] mackenza commented on #11230
This is by design, I believe. The installers are not updaters, unless I am missing something. But this should not be of concern as the personalizations (state, installed extensions, configuration / prefs) are not erased or lost when you reinstall as they are not kept in the install location.

[2015-06-08 16:39] mackenza commented on #11228
I realize this is now closed so forgive me for commenting on a closed issue.
I just wanted to note that the post 1.0 release cycle has been more like a point release every 2 months or so.  @bobrocke if cm is updated at the beginning of the 1.5 release cycle you would be able to use the new Twig mode right away if you run Brackets off master.

[2015-06-08 16:47] ryanstewart commented on #11230
Yup, we overwrite the existing location. But as @mackenza says your preferences, extensions, and anything else user generated will stay.

=Ryan

[2015-06-08 16:47] #11230 closed

[2015-06-08 17:43] JeffryBooher commented on #11176
From google translate: Periodically stop working all hotkeys in Brackets under Windows if both open 2 windows Brackets and resets them by pressing F5 at the same time.

[2015-06-08 17:49] JeffryBooher commented on #11176
@IDrakon thanks for filing.  I assume you are doing this with "Debug > New Brackets Window" which is a known issue and a duplicate of #8135. Having multiple Brackets windows open at one time is an experimental feature.

Since you are running on Windows you could just launch a second instance of Brackets.  We don't restrict the number of concurrent instances that can run at once but, unfortunately,

[2015-06-08 17:49] #11176 closed

[2015-06-08 18:31] miguelpaz commented on #11230
That was my main concern so it`s ok. Thanks to both of you.

2015-06-08 12:47 GMT-04:00 Ryan Stewart <notifications@github.com>:

[2015-06-08 21:18] doostinharrell opened #11231 "Disable JavaScript Hinting"
Is there a way to completely disable javascript hinting within brackets?  Every time I change the file language to javascript on a .js file Brackets freezes and is unusable. I have to pull up task manager and kill all processes and relaunch to continue coding.

I have tried running Brackets without extensions and the issue persists.

Any assistance would be appreciated!

Thanks!

[2015-06-08 23:47] redmunds commented on #11231
Set the `codeHint.JSHints` preference to false as described [in this doc](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#preferences).

[2015-06-08 23:47] #11231 closed

[2015-06-09 01:28] bambus1980 opened #11232 "make to be able to clear side panel including open folders"
Hello!
I'm first with Brackets, and I like it, but it has some little behaviors that make work annoying. (sorry for my english).
At now I can't find command in menus to clear left-side panel from all, to begin from nothing. Please, add a command  "Close opened folder" or ad this function to existing command "Close all".
I need it if I occasionally (from explorer context menu) open casual folder I

[2015-06-09 01:44] bambus1980 opened #11233 "make to be able to uncheck file/folders associations in explorer"
make to be able to uncheck file/folders associations in explorer. It some times can break OS because didn't working properly. My OS WindowsXP (I know it that didn't supported).
![2015-06-09_11-41-22](https://cloud.githubusercontent.com/assets/12805956/8049035/9d84cae0-0e9c-11e5-8658-44fdccb50aa5.png)
As you can see on screenshot, dblclick on folder didn't simple open folder but open Brackets with

[2015-06-09 03:34] nethip commented on #11227
@bobrocke Thanks for reporting this.

[2015-06-09 03:47] nethip commented on #11233
@bambus1980 Please uninstall Brackets and while reinstalling, from the below installer window, make sure to **uncheck** "Add Open With Brackets to Explorer context menus for all files and folders". This would remove the entries in the explorer context menus.

![image](https://cloud.githubusercontent.com/assets/1577184/8050279/25c8cc22-0e88-11e5-883c-c97af07ab921.png)

[2015-06-09 03:58] bambus1980 commented on #11233
Thank you, it is really helped me. But it will be better to add this option in Brackets settings.

[2015-06-09 04:06] nethip commented on #11233
We are depending on installer to do this, as it helps in managing the program installation scope meaning when uninstalling, it just undoes every thing that was part of the installation. In the above case, upon installation it would remove the explorer context menu entries, had you chosen "Add "Open With Brackets"..." option.

[2015-06-09 04:06] #11233 closed

[2015-06-09 04:10] nethip commented on #11192
@szabgab Yeah I think this would be really helpful. I have created a trello card for this. https://trello.com/c/B85Z2Hod/1422-open-recent-files. Please upvote it.

[2015-06-09 04:10] #11192 closed

[2015-06-09 05:39] bambus1980 commented on #11233
I understand, thank you.

[2015-06-09 09:38] usual1989 commented on #7592
@njx  sorry I just start use Brackets. I have Emmet extension but still can`t do that. I mean press enter before closing tag,  and can`t get a new line. But in sublime text I can get it  with Emmet. Is there something in Brackets that I need to set?  Thank you.

[2015-06-09 12:17] rawat11 commented on #11145
@prafulVaishnav Yes, its working fine

[2015-06-09 12:17] #11145 closed

[2015-06-09 13:14] MarcelGerber commented on #11215
@redmunds Would you mind adding these two shortcuts to the wiki page linked to above? They are not currently listed over there...

[2015-06-09 13:39] doostinharrell commented on #11231
Thanks! That worked.

[2015-06-09 14:22] redmunds commented on #11215
@MarcelGerber Oops, I thought @pipiscrew was referring to Display Shortcuts extension.

Added. FYI, you should be able to update the wiki, so let Ryan know if you can't.

[2015-06-09 15:24] MarcelGerber commented on #11215
I can, but I'm a lazy guy that doesn't have the extension installed right now ;)

[2015-06-09 15:34] AbleLincoln opened #11236 "move HTML automatic closing tags immediately after placing"
I love that brackets automatically creates closing tags in html when you close the opening tag; however, I sometimes need to add tags to existing content. When this happens, the auto-close tag does not wrap around the content as needed. I would love to be able to hold ctrl and right arrow to move the closing tag immediately when it is placed.

[2015-06-09 22:05] sprintr commented on #7589
@abose This can now be closed since we have it now in #11234

[2015-06-09 22:07] ryanstewart commented on #7589
Perfect! Thanks @sprintr closing.

[2015-06-09 22:07] #7589 closed

[2015-06-09 22:47] bobrocke opened #11237 "Open dialog does not reflect changes on disk"
Using Mac OS X 10.10.3 and Brackets 1.3, changes made on disk are not reflected in Brackets' open dialog.

For example, if a new extension is added, you can't browse to that folder in Brackets until you quit and restart Brackets.

[2015-06-09 22:59] hvanhoose opened #11238 "brackets won't launch"
Today after user Brackets for a little while I quit, then then re-launched it - only to find it would not launch. I tried clearing the cache and opening from command-line but neither worked. Trying to launch after clearing the cache makes the cache folder return but that's all. The only way I could launch at all is when I selected Run as Administrator.

I'm using Windows 8.1

[2015-06-09 23:17] mstrong64 opened #11239 "Feature request: record keystroke macros"
Very handy when editing multiple lines of repetitive code e.g. from the Delphi IDE http://www.haydenr.com/delphi/codingtips/codingtip23.html

[2015-06-10 00:49] TomMalbran commented on #11239
Have you tried the multiple cursor? You can get lots of cursor and make all the changes you need on multiple places at the same time.

[2015-06-10 01:14] mstrong64 commented on #11239
Nice, but not the same thing. Another example is TextMate (Edit -> Macros).

A recent example. I had a long list of objects:

{ "desc1", "val1" }
...
{ "descN", "valN" }

I needed to swap the order of the members in each object in the list, to:

{ "val1", "desc1" }
...
{ "valN", "descN" }

When there's lots of items in the list then recording a macro to do that
editing is SO much faster.

Cheers,

[2015-06-10 01:22] TomMalbran commented on #11239
I know is not really the same. But this feature might be hard to do, and it might not be added into core anytime soon since I don't that it was requested by many users. So you might need to create an extension or get someone to do it, since I don't think that there is one. So for now multiple cursor can do most of that.

One way of doing that is selecting all of the items in one right side using m

[2015-06-10 01:37] mstrong64 commented on #11239
Thanks Tomás, but that wouldn't have worked for me in this case. I ended up
using TextMate to do this, but I much prefer using Brackets hence the
feature request. This is more of a nice to have than an urgent request
because I can use other tools to get the job done.

On 10 June 2015 at 11:23, Tomás Malbrán <notifications@github.com> wrote:

[2015-06-10 01:47] TomMalbran commented on #11239
This might make a really nice extension. Maybe someone would like to do one.

[2015-06-10 03:25] nethip commented on #11238
@hvanhoose That is a little strange. Maybe Brackets did not quit and is still running in the background and that is why a new instance of Brackets is unable to start (as we just quit from the new instance if there is an already running instance). Let us know if you run into this issue again and if at all you run into this issue again, please check the task manager to see if there are any instances

[2015-06-10 04:00] redmunds commented on #11239
Someone on the forum was working on a Macro extension. See [this thread](https://groups.google.com/forum/?fromgroups#!topic/brackets-dev/y5lu-1rs0pg).

Marking this as an Extension Idea.

[2015-06-10 04:00] #11239 closed

[2015-06-10 14:46] FriendOfFatBeagle commented on #9828
@busykai or anyone:
I did not know why someone closed by problem report here:
https://github.com/adobe/brackets/issues/11161

Since I am using Linux, my problem should be common amongst Linux users.
Surely there is a solution already.
I  tried Atom editor, and it has similar problem since it is a web/browser technology based editor.

It was solved using this plugin:    https://atom.io/packages/hid

[2015-06-10 14:52] FriendOfFatBeagle commented on #11161
I guess this is closed .....

But here is some  info .....
I  tried Atom editor, and it has similar problem since it is a web/browser technology based editor.
It was solved using this plugin:    https://atom.io/packages/hidpi
It has an explanation on why UI font is not working in Linux like it should in Mac.
Excerpts:
Atom HiDPI / Retina
Atom Hidpi scales Atom's interface based on the current moni

[2015-06-10 15:44] pipiscrew opened #11240 "global - js intellisense (?)"
hi,

I realize, when editing a ***html*** file and press ctrl+space intellisense appears...

![snap507](https://cloud.githubusercontent.com/assets/3852762/8086930/b8538532-0fa0-11e5-97c3-117b2ba06673.png)

when editing a ***php*** file (which is 50% mix w/ html+js) there is no intellisense!!

![snap508](https://cloud.githubusercontent.com/assets/3852762/8086936/bc20560e-0fa0-11e5-85d5-fcd3ef8ce381

[2015-06-10 15:46] pipiscrew opened #11241 "js function"
hi again,

when some ***function*** written on line 900 and there is a ***call*** to this function on line 3, how we go to line 900 with a click ?

[2015-06-10 15:57] mackenza commented on #11240
@pipiscrew for "intellisense" (which is called Code Hints in Brackets) on PHP files, you can use one of the code hint extensions. I, being biased as I wrote it, would suggested Brackets PHP SmartHints, but there is at least one other in the extension registry. In Brackets go to the extension manager and search for PHP and see what's out there for PHP. I will warn you that it's not as well supporte

[2015-06-10 16:00] pipiscrew commented on #11240
@mackenza yes, ***PHP SmartHints*** suggested on previous post, the request is to have intellisense for js on .php files

thanks

[2015-06-10 16:17] PhiLhoSoft opened #11242 "Full support for Dart"
I feel that #6087 has been closed a bit hastily, as Brackets only supports Dart syntax highlighting for now.
I think the [Dart Services](https://github.com/dart-lang/dart-services) used by [DartPad](https://dartpad.dartlang.org/) is usable for more like auto-completion, code hinting / checking, etc.
A bit like Tern is used in Ternific (and forks), I suppose.

A good idea for an extension, anyway..

[2015-06-10 16:21] mackenza commented on #11240
oh, I see... sorry, I didn't get the nuance there.

[2015-06-10 16:43] mackenza commented on #11241
if it's JS, you can put your cursor on the call on line 3, then `navigate -> jump to definition` or ctrl-j. If it's PHP (which I am guessing based on some of your prior questions), someone would need to write a QuickSearch for PHP extension, I believe.  To my knowledge, such an extension does not currently exist.

[2015-06-10 16:47] thenbman opened #11243 "Right click copy and paste by default."
A real faux pas of Brackets is not having cut/copy and paste on right click, I mean for goodness sake notepad has it on.
The extension that is right click extended is useless, it never works and that's on different machines, with different OS.

[2015-06-10 17:07] petetnt commented on #11158
@ile I wrote this extension to enable remembering editing history between projects / closing brackets.

https://github.com/petetnt/brackets-persistent-history

It's still WIP so your mileage may vary but it's worth trying! Basic functionality is there and it *should* work well

[2015-06-10 17:27] pipiscrew commented on #11241
@mackenza thanks!

[2015-06-10 17:27] #11241 closed

[2015-06-10 19:54] HodofHod opened #11244 "Ctrl + Left"

[2015-06-10 20:13] mylocameron commented on #11104
How are you defining **small**, **medium**, and **large** projects?

[2015-06-10 21:29] Denisov21 commented on #11243
I create this extension: https://github.com/Denisov21/Popup-menu-extension

[2015-06-10 21:32] Denisov21 commented on #11243
Please vote: https://trello.com/c/ZriVEu50/935-clipboard-cut-copy-paste-in-editor-context-menu

[2015-06-10 21:38] thenbman commented on #11243
Hi Denis,You've become my hero 😎 thank you so much, it works perfectly. The right click extension that is always promoted if you like just never worked for me.
Many thanksNigel

Date: Wed, 10 Jun 2015 14:32:44 -0700
From: notifications@github.com
To: brackets@noreply.github.com
CC: thenbman@hotmail.co.uk
Subject: Re: [brackets] Right click copy and paste by default. (#11243)

Please vote: https://

[2015-06-10 23:33] TomMalbran commented on #11161
You could try this extension: https://github.com/tobibeer/brackets-custom-css
It basically allows you to define your own css rules to change the Brackets UI, plus it also increases the font size a bit.

Or you can use this other extension: https://github.com/1beb/ui-too-small/blob/master/main.js

[2015-06-11 02:14] James-Parsons opened #11246 "Open source Extract and / or port otto other editors"
Extract is a really cool tool. It would be gret If I could use it in my other editors / IDE's (namely Visual Studio and WebStorm).

[2015-06-11 03:59] nethip commented on #11246
cc @ryanstewart

[2015-06-11 04:03] nethip commented on #11104
@mylocameron We have taken small to be 500~1000 files, medium to be more ~4000 files and large to be anything more than 15,000 files. This is strictly for measuring purposes and not based on any real user data. Kind of a hunch.

[2015-06-11 04:04] nethip commented on #11244
@HodofHod  Could you provide more description of what the issue actually is.

[2015-06-11 04:08] mihawk90 commented on #10538
As a temporary solution, there is currently this:
https://github.com/petetnt/brackets-name-a-project

seems to work pretty well, though I would like if the name was stored in the brackets.json, but I guess we can't have everything :)

[2015-06-11 04:18] HodofHod commented on #11244
I apologize, I started writing an issue, then deleted it. Somehow, this still got submitted.

Sorry 'bout that :(

[2015-06-11 04:18] #11244 closed

[2015-06-11 04:19] nethip commented on #11244
No worries!

[2015-06-11 05:30] netsi1964 opened #11247 "Feature request: Entered search string in extension search should remain when switching search area tab"
When I do a search for installed extensions and then switch to a search in all extensions or themes the entered string is cleared. However sometimes the search string is also relevant for a search in another tab area.

[2015-06-11 06:04] FriendOfFatBeagle commented on #11161
Thanks.
I tried this ;  https://github.com/1beb/ui-too-small
It gives larger font for menu ui without any change.
But the pop-up windows fonts are really small.
See below, and compare relative size of fonts in white background and popup window (blue background).
The font in white background is normal readable size, while the blue popup window fonts is very tiny.  Any solution?

![screenshot from 2

[2015-06-11 07:17] #11240 closed

[2015-06-11 07:24] abose commented on #10538
As there is already an extension that takes care of this- lowering priority. I have moved this issue to backlog for later consideration.

[2015-06-11 07:24] #10538 closed

[2015-06-11 08:27] wilfryed opened #11248 "Disable the opening of a new window when editing another file"
On Windows 8.1, each time I open a file on Brackets it open a new instance of Brackets. So if you select ten files and select "open with Brackets", you got ten windows of Brackets!
![issue](https://cloud.githubusercontent.com/assets/5651175/8102928/57fccc46-1024-11e5-853b-4fa906aab6db.png)

[2015-06-11 08:50] dniman opened #11249 "Inconvenient display cyrillic font"
When I use russian version of Brackets the cyrillic font display in an inconvenient way.

![idcf](https://cloud.githubusercontent.com/assets/6619235/8103252/a9456cba-102f-11e5-923d-8b5bdd45c098.png)

[2015-06-11 08:53] dynamicdan commented on #7638
This also happens when files are modified outside of brackets via the command line or scripts. Most likely related to the "within 1 second" issue that is also logged here. File changes don't get picked up when they happen within 1 second.

[2015-06-11 09:00] nethip commented on #11249
@dniman We are planning to update the Source Code Pro font, which we use for the code surface , to support improved greek and cyrillic fonts. Not sure if the latest font has this fixed and I will keep you update on that.

[2015-06-11 09:01] nethip commented on #11248
I do not have a Windows 8.1 system to test this. @abose Will you be able to test this and let me know if could repro this?

[2015-06-11 10:14] abose commented on #11248
@nethip looks like the problem is not present if you have a brackets window already open;
First close all the brackets instances, and then select a couple of files in explorer, and then right click and chose open with brackets. There will be multiple windows open.

[2015-06-11 10:16] nethip commented on #11248
@abose Thanks for testing this! My understand from the test results is that, this necessarily is not tied to 8.1. Right?

[2015-06-11 11:01] Obras opened #11250 "Brackets Helper uses 100% CPU time on CSS url(data:application/x-font...) rules"
Hi.
I've run into this issue: trying to open "af.ui.css" file from AppFramework the Brackets Helper hangs out Brackets application, forcing me to quit it (by the way, quitting it from Dock still works). Examining the Mac Activity Monitor, you can note that Brackets Helper is taking a 100% of CPU time.

Current configuration
<ul>
<li>MacPro with Yosemite v. 10.10.3 (14D136)</li>
<li>Brackets Releas

[2015-06-11 11:49] SuperManEver opened #11251 "Is it possible to change tab size from 4 spaces to 2 spaces?"
I'd like to change TAB width from 4 spaces to 2 spaces. Is it possible?

[2015-06-11 13:05] rroshan1 commented on #11251
Yes. It is possible!
The bottom right corner in Brackets provides you an option to define the Tab behaviour along with the width. (spaces/tab size: \<characters width\>). So, for your requirement you just need to keep spaces and change the width to 2 characters.
Closing the issue for now. Please feel free to get back here if your issue is not resolved.

[2015-06-11 13:06] #11251 closed

[2015-06-11 13:14] Obras commented on #11250
The hang-up arises only when I save the file, before saving I can edit and work on the css without any problem.
Hi again.

No apparent problem using "url(data:image[...]", instead
<code>
li {
  background: url(data:image/gif;base64,R0lGODlhEAAQAMQAAORHHOVSKudfOulrSOp3WOyDZu6QdvCchPGolfO0o/XBs/fNwfjZ0frl3/zy7////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAABAALAAAAAAQABAA

[2015-06-11 13:55] SuperManEver commented on #11251
Oh my gosh, it so simple :-)

[2015-06-11 15:35] ericorruption commented on #11246
+1

[2015-06-11 19:31] bobrocke opened #11252 "Language modes added via extensions don't update the extension-language map"
In a conversion with @TomMalbran on Slack, he found that:

"Yes it seems that the internal map of extension to language does not get updated when a new language is added. Is just a problem because the language is added from an extension, which is loaded after the map is set. Is a bug that needs to be fixed in master. It even fails with the less language which is defined in a default extension."

[2015-06-11 19:47] abose commented on #11209
@msareen could you be  more specific on what is a dev space and the specific workflow you have in mind? what nees to be detached out of the min window?

[2015-06-11 20:19] abose commented on #11248
Yes, I think so. It might be that as many brackets windows are opened at the same time; and none of the brackets bootup has finished, the system couldn't figure out the active brackets window and ends up opening several windows thinking that no `brackets` window is active.

[2015-06-11 21:05] Denisov21 commented on #11243
Now @thenbman can close this issue!

[2015-06-11 21:31] #11243 closed

[2015-06-12 03:46] Tigt opened #11253 "HTML autocomplete doing horrible things"
Screenshot:

![Screenshot of Brackets prematurely ending an <em> tag, swallowing the adjacent phrase "width-constrained." as part of the closing tag name.](https://cloud.githubusercontent.com/assets/8072522/8123146/5574ff84-1092-11e5-88ac-02f12714d6cd.png)

To reproduce:

1. Open an .html file
2. Insert caret directly before non-whitespace text
3. Write an HTML element's opening tag

Brackets will

[2015-06-12 03:58] nethip commented on #11253
@Tigt This behavior can be overridden using a preference. Open the preference files from *Debug->Open Preferences File*. That would open the preferences file *brackets.json*. Please add this code to *brackets.json*.

[code]

[2015-06-12 04:00] TomMalbran commented on #11161
You can use the first extension mentioned to define your own styles. Or make an issue in the second one asking to increase the font-size in more places around the ui.

The issue here is that cef (the chromuim used in Brackets-shell) wasn't updated on linux because of some issues found when trying it. The current chromium version used for linux does not support high dpi, so until that is fixed, you

[2015-06-12 04:00] #11161 closed

[2015-06-12 04:01] Tigt commented on #11253
Instant relief. Thank you so much; I was worried I was going to have to fix a regex somewhere.

[2015-06-12 04:45] nethip commented on #11253
:smile:

[2015-06-12 04:45] #11253 closed

[2015-06-12 05:14] prafulVaishnav commented on #11250
@Obras Its working fine for me. Can you please share the file having the error?

[2015-06-12 05:22] prafulVaishnav commented on #11249
@nethip Mentioned [here](https://github.com/adobe-fonts/source-code-pro/issues/94), work in progress and new fonts will be available in July

[2015-06-12 05:56] prafulVaishnav commented on #11247
@netsi1964 I think that's a good idea. I have submitted a [PR](https://github.com/adobe/brackets/pull/11254) for this. @ryanstewart @nethip @abose @prksingh @rroshan1 What you think on this?

[2015-06-12 06:17] prafulVaishnav commented on #11236
@AbleLincoln We have this item in the backlog. Please upvote this [here](https://trello.com/c/jAkNNUdX/811-wrap-selection-w-html-tags) @TomMalbran Are you working on this [PR](https://github.com/adobe/brackets/pull/3240) to modify it?

[2015-06-12 06:19] prafulVaishnav commented on #11236
@AbleLincoln Meanwhile extension `Brackets Surround` may be useful for you.

[2015-06-12 06:24] TomMalbran commented on #11236
@prafulVaishnav I haven't touched that PR in a really long time. But I am guessing that it might still work after fixing the merge issues. But I don't know how it might behave with multiple cursor. But that PR works only with html, and I thought that the team wanted something less language specific.

[2015-06-12 06:32] prafulVaishnav commented on #11232
@bambus1980 We have this item in backlog. Please upvote it [here](https://trello.com/c/RFi7TFyj/412-brackets-should-support-having-no-active-project)

[2015-06-12 06:34] TomMalbran commented on #11247
BTW, that is how the search worked after the initial PR, and the opposite was requested #5856 and fixed #7388. So if we implement this, we should be clear about what to do.

[2015-06-12 06:44] abose commented on #11249
@prafulVaishnav we already got the RC build for the new source code pro with greek and cyrillic support- which we are integrating. The new fonts will be available in the 1.4 release this month.
@dniman Could you provide some sample files with font issues that you like to get fixed- this would help us test the new fonts before it gets shipped.

[2015-06-12 06:46] prafulVaishnav commented on #11207
@couzteau Seeing the file, info for files opened in second pane is not persisted in state.json which is the cause no file is visible on second pane. Are you able to repro this issue, without using any extensions?

[2015-06-12 06:49] prafulVaishnav commented on #11206
@fritzwf You can also use SplitView feature of Brackets and open two files at once vertically/horizontally. Enable this feature through menu `View > Vertical Split` or `View > Horizontal Split`

[2015-06-12 08:38] petetnt commented on #10538
@mihawk90 The names should be saved to `brackets.json`... there was a short while between 0.0.1 and 0.0.3 when the preferences weren't correctly saved, but 0.0.3. should have fixed that. However if you still have that issue, file an issue to that repo and I'll investigate asap :+1:

[2015-06-12 09:18] msareen commented on #11209
At a time I have 10 files open as ***"Working Files"*** and at many times I want to look at 2 or more files together (I have two monitors). So what I have in mind is:

1. Click on the Working File.
2. Drag it out in empty space. (option can be given in context menu also)
3. It (selected file dragged out) get open in a separate (but dependent) sub window. (Kind of like if you drag out a chrome tab,

[2015-06-12 09:27] nyubbie opened #11255 "Minified files breaks Brackets at some point"
Have been experiencing uncolored code for large minified CSS files -- apparently the Bracket's theme colors stop at a certain point, making the rest of the code just a normal black color text.

![brackets-color-disappears](https://cloud.githubusercontent.com/assets/1699120/8127283/20af3120-1128-11e5-860a-2a8923baa452.jpg)

Upon scrolling the entire document for some time, the entire file freezes a

[2015-06-12 10:14] FriendOfFatBeagle commented on #11047
I have this problem here:
https://github.com/adobe/brackets/issues/11161

Why not make the extension manager dialog box as part of a tab view?

[2015-06-12 10:46] abose commented on #10550
@MarcelGerber tagging this for update immediately after 1.4 release.

[2015-06-12 11:05] abose opened #11256 "Release 1.4 Tasks"
### Tasks in Development
- [x] [2 days before] Review bugs open to the current milestone
- [x] All new open bugs have been reviewed
- [x] [2 days before] Notify committers of impending merge of master into release branch @prafulVaishnav
- [x] Notify ALF Team that we have reached String Freeze: `DL-Brackets-IQE` @prafulVaishnav
- [x] Merge master to both release branches @prafulVaishnav
- [x] Relea

[2015-06-12 11:12] abose commented on #7356
@zaggino I have merged the related PR's in both shell and brackets. Could we close out this issue?

[2015-06-12 12:08] MarcelGerber commented on #11252
Repro steps, for easier understanding:
1. Create a new file "test.css"
2. In the language picker in the lower right, choose the "LESS" language
3. Open the picker again and click "Set as default for .css files"
4. Close and re-open Brackets

Result:
The language indicator says "CSS" again.

Expected:
The language indicator says "LESS".

Notice how LESS is not defined in the core, but rather in the

[2015-06-12 12:11] MarcelGerber commented on #11252
Looks like this is actually a dupe of #10177.

I'm inclined to close the other one, though, as this issue points out this also happens with the LESS language, and the repro steps are quite a lot easier.

[2015-06-12 12:11] #10177 closed

[2015-06-12 12:12] MarcelGerber commented on #10177
Closing in favor of #11252.
See https://github.com/adobe/brackets/issues/11252#issuecomment-111472993 for more info.

[2015-06-12 15:02] JellyKid opened #11258 ""You are assigning shortcuts to nonexistent commands" error when binding to CodeMirror commands"
{
    "documentation": "https://github.com/adobe/brackets/wiki/User-Key-Bindings",
    "overrides": {
        "Shift-Space": "goGroupRight"

    }
}

This should bind Shift-Space to go the next word. I've also tried "goWordRight" as the Command ID as per https://github.com/adobe/brackets/wiki/Brackets-Shortcuts but I get the same error.

[2015-06-12 17:20] bobrocke opened #11259 "Linters would be much nicer interactive, rather than batch"
The standard linter mechanism now allows for linting on open or save, but not on edits. The interactive-linter extension is a great deal of help for that, but it doesn't support all the linters available.

Would it be possible to add interactive linting as a standard feature in Brackets so that all linters were interactive and none were forced to be batch?

[2015-06-12 17:24] couzteau commented on #11207
Yes, retried after removing all extensions:
![screen shot 2015-06-12 at 10 22 07 am](https://cloud.githubusercontent.com/assets/887904/8135572/16d35522-10ed-11e5-9529-1810fd354773.png)

[2015-06-12 18:35] mackenza commented on #11259
This is a popular request and is covered in this Trello card:

https://trello.com/c/z1PBjZxt/588-live-real-time-linting-as-you-type

[2015-06-12 18:36] Equals182 opened #11260 "Modal Dialogs, z-index, and context menu"
Hey guys!
Is it okay that default modal, called via `Dialogs.showModalDialogUsingTemplate` keeps increasing `z-index` number of `.modal-wrapper>.modal-inner-wrapper>div` with each appearing?
Also, looks like I can't call contextmenu on modal properly because of that - `#context-menu-bar` doesn't seems to have `position` and `z-index` properties, so it shows up underneath the Modal.
Is it a bug or

[2015-06-12 19:55] MarcelGerber commented on #9828
@FriendOfFatBeagle Could you just quickly try this:
1. Go to `Debug > Show developer tools`
2. Switch over to the `Console` tab
3. Enter `brackets.app.setZoomLevel(2)` and hit return

(You'll probably get the best results by uninstalling your other appearance-changing extensions previously)

Is this workable for you?

[2015-06-12 20:20] MarcelGerber commented on #9828
Oh, I see now. As you're on Linux, you probably don't have that command yet. Too bad.

[2015-06-12 20:36] FriendOfFatBeagle commented on #9828
Yes, correct.
In Dev Tools Console:
brackets.app.setZoomLevel(2)
TypeError: Object #<Object> has no method 'setZoomLevel'

[2015-06-13 12:12] mohagan35 opened #11261 "Search bar ("Ctrl + F")"
It would be great if after pressing "Ctrl + F" that the search bar remains in place after clicking on the script you're working on.

Sometimes I want to edit code in a script where a particular string occurs. It is time consuming to have to keep pressing "Ctrl + F" and typing in the input search string.

At the very least the previous string you searched for should not be removed from the search b

[2015-06-13 14:53] dalemanthei commented on #11131
I can't say for certain but I think I have seen this problem when pasting text copied from Sublime Text 3 into Brackets. I'm watching for steps to recreate but when it's broken, the enter, cursor up, and cursor down keys don't work. Cursor left and right do still work. I'm running on latest Mac OS X.

[2015-06-13 19:01] Obras commented on #11250
Hi, prafulVaishnav.
I've just restricted the error: it seems that activating Brackets Outline List extension and opening an url(data:application/x-font...) file creates the problem. I've tried deactivating it and everything seems to work fine. A pity, since I was using it a lot for development...
Anyway, this was the (looooong) code causing the issue. It comes from the beginning of the icons.css f

[2015-06-13 21:44] Lahori-Jawan opened #11264 "Toggle the menubar"
Working front-end in Brackets is the most interesting part specially because of its Live Preview as one can see the output on browser at the same too without refreshing the Browser each time. I see a flexibility in toggling the sidebar and toolbar because i get more space on the screen to look at my code.I think there should be toggling option for the menu-bar too since doing this will provide mor

[2015-06-13 22:34] MarcelGerber commented on #11237
So you're saying you can neither see nor open files/folders created after Brackets was started?
To me, this sounds more like an OS issue, as Brackets just uses the built-in OS X dialog.

[2015-06-13 22:41] MarcelGerber commented on #11250
So, is this an extension problem?
If it is, you should file an issue over here: https://github.com/Hirse/brackets-outline-list (cc @Hirse). You can then also close this issue.

[2015-06-13 22:49] MarcelGerber commented on #11255
1. Yes, syntax highlighting is supposed to end at some point. That's the default behavior of CodeMirror, the code editor we use internally.
2. Unfortunately, CodeMirrors handling of long lines is not that good. But in recent releases, we've made good progress in CSS rendering performance.
    Could you maybe try `Debug > Reload without extensions` to see if it's really a Brackets core issue or sim

[2015-06-13 22:53] Hirse commented on #11250
There is already an issue for it (https://github.com/Hirse/brackets-outline-list/issues/37) and it has been fixed but is not yet released.
You could try to install the latest version of the extension directly from GitHub.

[2015-06-13 23:01] MarcelGerber commented on #11250
Closing as extension problem then.

[2015-06-13 23:01] #11250 closed

[2015-06-13 23:42] 2bdkid opened #11265 "Brackets can't find Chromium on Windows"
I have Chromium installed from [googleapis.com](https://commondatastorage.googleapis.com/chromium-browser-snapshots/index.html?prefix=Win/334343/)

But Brackets cannot find it for Live Preview. I tried adding the chrome.exe directory to the path but that didn't work.

[2015-06-13 23:50] Tiamarth opened #11266 "Wrap lines at specific column (preferred line length)?"
I use text editors for prose at least half as often as I use them to code, and I'd like to wrap lines at a specific column (around 80 - 100) for the sake of legibility. I understand there's a column ruler extension that works quite well - and I use it - but I'm not interested in breaking the line at the column, I want to wrap it. Breaking the line hurts (if not completely breaks) formatting when c

[2015-06-14 01:00] kerabromsmu opened #11267 "CodeMirror simple mode doesn't load"
I've created a highlight mode for Factor language, and made it use CodeMirror's simple mode. But it didn't work because simple mode is not loaded by the Brackets. Is it possible to add the simple mode module to Brackets?

[2015-06-14 14:10] bobrocke commented on #11237
Well.....

That's what I was saying. But now I can't reproduce the steps to demonstrate the problem! That's good (for Brackets, because there's nothing to fix), and bad (for me, because I might be going crazy).

[2015-06-14 14:10] #11237 closed

[2015-06-14 15:25] PhysicsApp opened #11268 "Brackets full screen OSX"
Hey guys!
I just write because the new functions of "El Capitan" (still in beta) introduce a bug in brackets.
The bug is cause when brackets becomes full screen on the side to side function because as it doesn't support Mac OS X full screen size it can't got back to normal. Some other features are affected like change folder.

The solution is just to enable full screen yin brackets, what will chan

[2015-06-14 15:51] sprintr commented on #11267
Brackets doesn't load all the modes provided by CodeMirror. You'll have to load it yourself in an extension. [Read this wiki](https://github.com/adobe/brackets/wiki/Language-Support#defining-a-new-language) to learn how to add a new language.

[2015-06-14 16:00] noahfernstrom opened #11269 "Automatic ' ' or " ""
if you write e.g. id=" " / id=' ' you have to write two '  /  " it will be better if brackets automatically writes two ' / " e.g. i write class=" / class=' and automatically transform it to class=" " class=' '.

Noah
P.S Sorry my English. )-:

[2015-06-14 16:12] RaymondLim commented on #11269
@noahfernstrom What you're asking is already available in Brackets, but is not on by default. You just have to turn it on from Edit > Auto Close Braces.

[2015-06-14 22:03] ebadler opened #11270 "Suggestion: Remember previous colors used in css"
For example, if you started to type the css attribute "background-color: " and the auto-hint box displayed all the previous colors you used. If you typed "background-color: #f" it would show all the ones that begin with f. Additionally, it would be great if you could declare colors as variables in brackets. For example, if you are making a website with a gold color scheme and want to primarily use

[2015-06-14 22:42] K-Thompson opened #11271 "Bracket's Blog"
Are comment/responses turn off on the blog? There are no for the blog posted dated June 10, 2015 and I would like to offer some thoughts about the road map.

[2015-06-14 23:15] kerabromsmu commented on #11267
I have read it, and it doesn't help. Try using simple mode to define a new language, and you'll find it doesn't work.

[2015-06-15 02:05] le717 commented on #11271
Looks like something has been unchecked in the WordPress admin panel. Comments are disabled for both that post and the one before it (welcome Marcel to the team).

[2015-06-15 03:37] nethip commented on #11271
@K-Thompson Sure! That would be very valuable. Please use our brackets-dev google group to do that. You could also start the conversation via our brackets slack channel (https://brackets.slack.com). Nowadays, I see that people are quite active out there on slack :smile:

@ryanstewart Can we enable commenting on our blog post, if not enabled?

[2015-06-15 03:42] nethip commented on #11268
@PhysicsApp Thanks for reporting this.

[2015-06-15 05:29] rroshan1 commented on #11270
Thanks for the suggestion! Please raise a card for this to track on Trello <https://trello.com/b/LCDud1Nd/brackets>. Depending on the number of upvotes on it, we can prioritize it or someone from the community could work on it.

[2015-06-15 05:32] #11270 closed

[2015-06-15 05:39] nethip commented on #11270
@ebadler Did you consider switching to LESS/SASS. A part of your use case mentioned above will get addressed if you are using LESS/SASS.

[2015-06-15 05:40] nethip commented on #11265
@2bdkid Hmmm Interesting. Have you enabled multi browser preview by choosing *File->Enable Browser Preview*.

But you could try the following steps.

1) Install Google Chrome
2) *File->Enable Multi Browser Preview*, launch live preview
3) Launch live preview and make sure it opens live preview in google chrome window
4) Copy the URL and from the address bar and paste it in Chromium browser.

There

[2015-06-15 08:53] petetnt commented on #11267
Similar to #10501

[2015-06-15 09:40] filip-mustatea opened #11272 "brackets doesn't open all psd templates"
I try to open large psd different templates.Some open, others are not.  Any suggestions why not open all?

[2015-06-15 10:45] prafulVaishnav commented on #11272
@filip-mustatea Do you see any errors for the psd not opening? Please go to `Debug > Show Developer Tools` and check console tab is any error.

[2015-06-15 11:33] prafulVaishnav commented on #11173
Raised [PR](https://github.com/adobe/brackets/pull/11273) for this

[2015-06-15 11:52] ciucas opened #11274 "Feature Suggestion to brackets"
quick go to project web page

[2015-06-15 11:53] filip-mustatea commented on #11272
The psd template appears in brackets, but it shows: Error displaying error file. An error occurred when trying to display  the file files / name of the file. In the attachment, you cand see the the capture image with the error.  Also in Developer Tools, appears: Failed to load resource: the server responded with a status of 409 (Conflict) . 

     În Luni, 15 Iunie 2015 13:45:52, Praful Kumar Vais

[2015-06-15 12:05] filip-mustatea commented on #11272
Also i made my own custom template(50mb file size) and it works fine. It doesn't work with other psd templates from my clients.

     În Luni, 15 Iunie 2015 14:53:03, Alexandru Mustatea <filip.mustatea@yahoo.com> a scris:

 The psd template appears in brackets, but it shows: Error displaying error file. An error occurred when trying to display  the file files / name of the file. In the attachment,

[2015-06-15 12:29] deandersson commented on #11087
Dont forget cases when we have multiple statements inside `""`
ex: `class="class1 class2"`
So maybe the delimiter should be spaces aswell?

[2015-06-15 13:03] 2bdkid commented on #11265
The "Enable Experimental Live Preview" option is making it work in Chromium. Thank!

[2015-06-15 13:03] #11265 closed

[2015-06-15 16:50] hirenvanza opened #11276 "Do Live Preview Within Bracket"

[2015-06-15 16:56] sprintr commented on #11276
Duplicate of #10766. You can [vote it up on trello](https://trello.com/c/YG0BBlrl/302-2-live-preview-within-a-brackets-window)

[2015-06-15 17:02] mrjbq7 opened #11277 "Open file to a line number from command-line"
I can't see how to open a file to a line number in the documentation (https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#command-line-integration).

That's a really useful feature we'd like to use from our editors integration in https://github.com/slavapestov/factor.

Thanks!

[2015-06-15 17:44] Claw-Hammer opened #11279 "Comment large amount of code"
Brackets 1.3.0-16022 (release cd0a6aae5) crash when i did comment a large amount of code in a .php file. I'm using Windows 7 Pro x64 - No errors logged

[2015-06-15 17:57] MarcelGerber commented on #11277
You can do so using Quick Open.
Invoke Quick Open using `Ctrl+Shift+O` (on Windows), then type the file name or parts of it, followed by a trailing colon and the line number.

For example, to open `EditorCommandHandlers` to line 134, you can type `dch:134`

[2015-06-15 17:58] mrjbq7 commented on #11277
Thats awesome from the UI, but is that possible from the command-line?

[2015-06-15 17:59] MarcelGerber commented on #11279
How large is _large_ (in lines, preferably).

Can you also try `Debug > Reload without extensions` to see if it's caused by an extension?

[2015-06-15 18:01] MarcelGerber commented on #11277
Oh, I see now. I don't think there's anything like this right now.

[2015-06-15 18:02] mrjbq7 commented on #11277
Also, I can't figure out how to use the command-line to "open a file into [existing Brackets if running else a new Brackets]".

[2015-06-15 18:35] Claw-Hammer commented on #11279
Hi.-

About 150 lines of code, but i think it was caused by Live Reload
extension, i'm trying again, thanks

2015-06-15 13:30 GMT-04:30 Marcel Gerber <notifications@github.com>:

--

                     Julio Vergara
                Caracas - Venezuela
       http://www.tecnored.blogspot.com
http://www.habanosenvenezuela.blogspot.com

[2015-06-15 20:24] TomMalbran commented on #11087
I was able to repro it. The url hints are handled with the url code hints and those always replace the entire string, unlike other code hint providers. It looks like the issue occurs when deleting some chars, and not when just typing them.

CC: @redmunds

[2015-06-15 20:40] redmunds commented on #11087
In most cases, code hints will *not* completely replace the contents for the sake of being safe (and not removing desired content).

For URL hints, they should insert **folder** names and replace **file** names, so, yes, this looks like a bug.

[2015-06-15 21:31] wormeyman opened #11281 "Right click open folder like visual studio code - Windows 8.1"
I love the shell integration with brackets and the only thing missing for me is the ability to right click inside a folder and have it open with brackets. Visual Studio Code has this ability and it is so convenient not to have to navigate up a folder to open it which is what i currently do with brackets. I tried really hard to see if this was a duplicate but this project is so large it is hard to

[2015-06-15 21:36] redmunds commented on #11281
When I right-click on a folder in Win7, I see an item for "Open as Brackets Project". Also, you can drag folder and drop it on Brackets to perform same action.

[2015-06-15 21:59] wormeyman commented on #11281
I mean right click in the blank space of a folder, as the registry calls it the background.

[2015-06-16 07:35] abose commented on #11281
@nethip Could we add this to the context menu eazily?

[2015-06-16 07:37] nethip commented on #11281
Yes this is very easy to do. It is just another registry entry.

[2015-06-16 07:38] nethip commented on #11281
I am marking this for 1.4.

[2015-06-16 07:41] abose commented on #11173
This is fixed for brackets 1.4. closing the issue.

[2015-06-16 07:41] #11173 closed

[2015-06-16 07:42] nethip commented on #11277
@mrjbq7 We have command line integration only for 1.3. Make sure you are on 1.3 for this command line feature to work.

[2015-06-16 07:55] sprintr commented on #11277
Think what @mrjbq7 Wants is to open a file at a certain line. E.g

[code]
It should open main.js at line 100.

[2015-06-16 08:47] Garito commented on #11173
Thanks a lot!

[2015-06-16 10:19] nethip commented on #11277
@sprintr Yeah you are right about the "go to line" number not working through command line. I was replying to @mrjbq7 's latest comment.

[2015-06-16 12:38] MarcoWilli opened #11282 "Feature request: Live highlight border not permanent"
Would be useful if the blue live highlight border could be just when selecting element an then fades away like the blue background does.
Right now it´s permanent and annoyes when fiddling around with the layout. Other option is just to deactivate the feature completely.

[2015-06-16 15:41] wormeyman commented on #11281
Good news! Thanks everyone.

[2015-06-16 16:32] MarcelGerber commented on #11277
@nethip From what I can tell, the command-line integration works for him, all he wants is a way to open files in an existing Brackets instance it has been launched before.

[2015-06-16 17:19] derek-skinner opened #11285 ""About" popup missing credits"
In the "About" window popup, the bottom line is missing the credit to the team/people who built Brackets.
It currently just says "Made with ♥ and JavaScript by: <blank>"

![screen shot 2015-06-16 at 10 17 49 am](https://cloud.githubusercontent.com/assets/801299/8189422/0e7f0764-1411-11e5-890e-ec54f808ec8c.png)

[2015-06-16 17:34] ryanstewart commented on #11285
If you scroll down in that window, does it show? Sometimes the images are just below the fold.

[2015-06-16 20:36] derek-skinner commented on #11285
I was not able to scroll down until I loaded Brackets without Extensions for some reason. Must be just some weird bug instead of an actual issue with Brackets.

[2015-06-16 20:37] #11285 closed

[2015-06-17 01:53] mrjbq7 commented on #11277
@nethip on Mac OS X, if I run the ``Brackets.app/Contents/MacOS/Brackets`` twice, I get two instances of Bracket.  I was wondering how to open a file into a running instance, or launch a new instance if not running.

[2015-06-17 02:15] nethip commented on #11277
@mrjbq7 On MAC we don't parse the command line via `argv` passed to `main`, which is the typical way of parsing command line in any C/C++ application. We parse the command line through `applescript`. You could check `openFile` and `openFiles` objective C selectors that are overridden by our brackets-shell on MAC. Keeping out all the technicalities follow the steps below to use `brackets` via comma

[2015-06-17 02:20] mrjbq7 commented on #11277
Isn't ``brackets`` just a bash script that does ``open -a Brackets.app file:line``?

That's a fine workaround for now, although it would be great if the line functionality works (the original report).  Thanks for the info on the command line shortcut.

[2015-06-17 04:22] nethip commented on #11277
@mrjbq7 Yes! The `Install Command Line Shortcut` does exactly `open -a <Brackets.app>`. It installs a shortcut in `/usr/local/bin` which has some script code that launches the right `Brackets` instance, from which the script was installed (through `File>Install Command Line Shortcut`) which would be really handy in case you have multiple versions of `Brackets` on your system.

About the `go to lin

[2015-06-17 04:22] #11277 closed

[2015-06-17 12:00] Fatxx opened #11286 "Can't get live preview working with angular routing and webserver"
Hi there,

I have a webserver with a virtualhost set to my application, the routing is handled by angular router. I already have defined my virtualserver name at "Project Settings..." but when I launch Live Preview it sends me to the file location I've opened in Brackets, not letting angular handle the routes which breaks the application.

Is there any way to work with angular and a webserver with

[2015-06-17 17:49] hirenvanza opened #11287 "Bracket frame work in browser !!!"
Can We Type code and Run Directly in Browser only ???
like w3school  providing "Try it your Self" & other website also...

[2015-06-18 00:57] Noffica commented on #11269
@noahfernstrom Thanks for asking this question. I also wanted this.

[2015-06-18 03:36] nethip commented on #11287
@hirenvanza Did you try our live preview feature in Brackets. Please look at the following link https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#live-preview.

[2015-06-18 03:36] #11276 closed

[2015-06-18 03:37] nethip commented on #11274
@ciucas Could you be a describe a bit more on what is the feature you are suggesting?

[2015-06-18 03:57] nethip commented on #11272
@filip-mustatea Will you be able to share to PSD. It would be great if you can as that would help us identify which specific element in the PSD is causing this issue. Also would you mind uploading the same asset at https://assets.adobe.com/files and see if you are able to open the same there?

[2015-06-18 04:52] TomMalbran commented on #11269
if you accept the codehints in html, it will both complete the hint and add from start and close quotes and move your cursor.

I am not sure if it should do that by default with no user input since it feels a bit intrusive and it might fail to do what you want in many cases.

[2015-06-18 05:02] filip-mustatea commented on #11272
Yes, I can. Where I can load the PSD?

[2015-06-18 05:09] nethip commented on #11272
@filip-mustatea Great! Please upload it at https://assets.adobe.com/files and choose *Send Link* from drop-down which appears at the bottom of the asset.

[2015-06-18 05:17] filip-mustatea commented on #11272
http://adobe.ly/1HVXYbg this is the psd

[2015-06-18 05:39] nethip commented on #11272
Thanks @filip-mustatea . We will take a look at this. Another question. Were you able to use extract service from the above link, where you have uploaded this PSD?

@prafulVaishnav Would you mind downloading this PSD and see where we are breaking?

[2015-06-18 05:42] filip-mustatea commented on #11272
No. I was able to use extract service. You can download and take a look. Thanks.

[2015-06-18 05:46] nethip commented on #11272
Yeah I am able to open up this asset via ccweb. We should probably dig in more inside E4B itself.

[2015-06-18 05:48] filip-mustatea commented on #11272
I will wait  your answer. Thanks a lot.

[2015-06-18 05:50] nethip commented on #11162
@prksingh Did you get a chance to look at this issue?

[2015-06-18 05:51] abose commented on #11287
@hirenvanza If you are looking for running brackets natively in browser, you could look at the following forks of brackets
https://github.com/humphd/brackets
https://github.com/mozilla/nimble

[2015-06-18 06:05] abose commented on #11279
@Claw-Hammer Was the extension responsible for this issue?

[2015-06-18 06:07] abose commented on #10373
thanks @outofmydepth that helps in narrowing down the problem.

[2015-06-18 06:10] abose commented on #10406
Closing due to inactivity on the thread.
@Mulacor Please reopen the thread if you could share more information.

[2015-06-18 06:10] #10406 closed

[2015-06-18 06:12] abose commented on #10483
Closing due to inactivity on the thread,
@James5199 Feel free to reopen this if you are seeing the issue with `Debug > Reload without extensions`

[2015-06-18 06:12] #10483 closed

[2015-06-18 06:13] abose commented on #11098
Closing inactive thread.
@darkcyber Fell free to reopen this if you are still facing the issue [Also please check the premission settings as in above comment].

[2015-06-18 06:13] #11098 closed

[2015-06-18 06:15] abose commented on #11125
Closing inactive thread.
Try out deleting `%appdata%/brackets` folder as suggested.
@rayoujines feel free to reopen this is you are still facing the issue.

[2015-06-18 06:15] #11125 closed

[2015-06-18 06:50] abose commented on #11200
Update the wikis
https://github.com/adobe/brackets/wiki/Preferences-System and https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#preferences

[2015-06-18 07:18] abose commented on #11095
Closing inactive thread.
@thany Please reopen the issue if you still face this.

[2015-06-18 07:18] #11095 closed

[2015-06-18 07:37] abose commented on #11247
Closing as the decision to clear the search string on tab switch was an XD choice.

[2015-06-18 07:37] #11247 closed

[2015-06-18 07:50] netsi1964 commented on #11247
@abose what is a "XD choice"?

[2015-06-18 09:15] abose commented on #11247
XD = Experience Design. We used to keep the search query on tab switched, but that was confusing to some. So brackets Experience Designers opted to clear the search filter on tab switch.

[2015-06-18 09:18] sprintr commented on #11200
I think @MarcelGerber covered this story in #11197.

[2015-06-18 17:38] gullyfoyle opened #11288 "Extension Manager - pressing return key in search box closes the dialog"
Pressing the return key while the search box clearly has focus closes the extension manager dialog. I'm not sure if this is intentional? It doesn't seem intuitive to me.

* __Windows 8.1__
* __Brackets__ Release 1.3 build 1.3.0-16022

[2015-06-18 19:23] sahilr2050 opened #11289 "Add New Hinting for MYSQLi"

[2015-06-19 09:07] #10994 closed

[2015-06-19 10:31] prksingh opened #11290 "Fix email address verification for CLA form"
Add support for generic domain names in the CLA check form.

[2015-06-19 10:36] prksingh commented on #11290
This is blocking PR: https://github.com/adobe/brackets/pull/11283

[2015-06-19 11:31] abose commented on #11289
MySql I think is part of the web domain. So brackets core could support mysql syntax hilighting.

[2015-06-19 14:20] brunnopleffken opened #11291 "Add small delay when searching for extensions"
Hello there.

Now that Brackets has a lot of extensions (and there will be even more and more), using the text-field for searching for them in absolutely real-time is quite annoying, specially in those low-power computers... What about add a small delay (300-400 ms should be enough) between typing and filtering?

Type -> wait a few milliseconds -> run filter

This should bring the feeling of a mor

[2015-06-19 15:46] Zewkin opened #11292 "Error when trying to open any PSD file"
Uncaught SyntaxError: Failed to execute 'setRequestHeader' on 'XMLHttpRequest': 'files/main.psd' is not a valid HTTP header field value.

[2015-06-19 17:58] MarcelGerber commented on #11288
Already filed under #6904.
Closing as a dupe.

[2015-06-19 17:58] #11288 closed

[2015-06-19 18:30] #11267 closed

[2015-06-19 18:39] sprintr commented on #10501
@MarcelGerber We can close this one as well.

[2015-06-19 18:41] MarcelGerber commented on #10501
This will be possible in Release 1.4
Closing.

[2015-06-19 18:41] #10501 closed

[2015-06-19 20:06] meancode opened #11294 "Quick Find Definition with no files open"
I am coming over from using Sublime Text 3. And I use Cmd-T all the time. Brackets seems to have duplicated this functionality for opening files in a project, but with one major drawback, if no files are open, I cannot hit Cmd-T to open/find a file in my project.

Is it possible to utilize the Quick Find Definition UI when no files are open?

[2015-06-19 20:16] sprintr commented on #11294
You can use `Ctrl-Shift-O` when no files are open.

[2015-06-20 03:22] nyubbie commented on #11255
I understand @MarcelGerber but this didn't happen in other older code editors (maybe different underlying engine). Ironically, I had to boot up an old version of Dreamweaver to edit that minified file. Also, i tried the minified file again without extensions enabled -- take note this discolouration and freezing only happens when the entire minified file is of 1 line.

Anyway, just highlighting thi

[2015-06-20 05:54] #10412 closed

[2015-06-20 13:46] MarcelGerber commented on #11255
So, what was the outcome of running Brackets without extensions?
Also, there's gonna be a fix (#10882) in Release 1.4 which fixes some issues we had with CSS specifically.

[2015-06-20 13:51] #10984 closed

[2015-06-20 14:01] MarcelGerber commented on #11289
@abose We already have the `SQL` language, which uses CM's MySQL syntax highlighting.

What this issue is about is, I think, MySQL Hinting, as we can see [in this CM demo](http://codemirror.net/mode/sql/) (hit `Ctrl-Space` to show hints).

[2015-06-20 15:19] randdusing opened #11296 "Find Filter is Cleared"
1. Cmd + F
2. Type "Hello World"
3. Edit an instance of "Hello World"
4. Search for the next instance

Unfortunately "Hello World" is cleared out between steps 3 and 4. Is there any way to prevent the find filter from being deleted?

[2015-06-20 15:43] android272 opened #11297 "eclipse alt move text"
whenever moving from eclipse to any other text editor the one thing I always miss is the ability to select text, hold alt and press up or down to move the text up or down lines.

the nice thing about how they do this is you only have to select one character in a line to move it. so if you have two lines you want to move up you can select the whole first line and one character and then move it. thi

[2015-06-20 17:30] MarcelGerber commented on #11296
The current behavior is suboptimal, and we know that, but you can always use `F3/Cmd-G` to find the next instance.

[2015-06-20 17:31] MarcelGerber commented on #11297
This works in Brackets by pressing `Ctrl + Shift + Up/Down`. Is that what you're looking for?

[2015-06-20 23:41] randdusing commented on #11296
Ahh, I didn't know about cmd-g. That works well enough for me

[2015-06-21 00:40] android272 commented on #11297
Oh my goodness thank you yes. This might take a while to get used to as aposed to the alt+Up/Down but this is nice.

[2015-06-21 05:38] TomMalbran commented on #11297
@android272 You can change the shortcuts to anything you want. More info here: https://github.com/adobe/brackets/wiki/User-Key-Bindings

[2015-06-21 05:39] TomMalbran commented on #11297
And closing since this is already implemented.

[2015-06-21 05:39] #11297 closed

[2015-06-21 06:51] #11296 closed

[2015-06-21 08:38] nyubbie commented on #11255
Oh. Oops -- still the same.

Alright, good to know. :)

[2015-06-21 16:22] hirenvanza commented on #10462
just u have to open full folder in bracket and select File> live preview option
so u ll get ip address in browser followed by your file
something like this "http://124.0.0.1:51234/index.html"

[2015-06-21 19:00] filip-mustatea commented on #11272
Anything?

[2015-06-22 03:59] prafulVaishnav commented on #11272
@filip-mustatea @nethip I am able to use given PSD in E4B w/o any error. @filip-mustatea Is this psd consistently throwing error in opening? Given 409 error given by error, can you please share the response body of the request which is failing?

[2015-06-22 06:25] rroshan1 commented on #10566
The fix has been merged into master.
@fdefalco Can you please verify the fix and close the issue.

[2015-06-22 06:45] rroshan1 commented on #11297
I think we should update the `Edit> Move Line Up/Down` menus to "Move Line/Selection Up/Down" for clarity.

[2015-06-22 06:52] prafulVaishnav commented on #11294
@meancode Cmt-T shortcut is used for `go to Defintion` in file which require a file to be opened. As @sprintr mentioned, use `Cmd-Shift-O` for opening files in the project.

[2015-06-22 06:53] TomMalbran commented on #11297
It move the selected lines, not the actual selection... Maybe "Move Selected Lines Up/Down

[2015-06-22 06:56] prafulVaishnav commented on #11294
@meancode You can override the shortcuts. Steps mentioned [here](https://github.com/adobe/brackets/wiki/User-Key-Bindings)

[2015-06-22 06:56] #11294 closed

[2015-06-22 08:30] thany commented on #11095
The problem definitely persists in 1.3. But only sometimes.

[2015-06-22 08:52] rroshan1 commented on #11297
Yes, it's even better.
May be we can discuss on Slack.

[2015-06-22 10:51] abose commented on #11289
got it! Would be good to have I think. We will be adding health logs this release to get the distribution of standard file types being edited in brackets. I will update this thread after that.

[2015-06-22 10:57] abose commented on #11200
Yes, but I see that some properties are still left not defined as a preference. But that could go in at a later time.

[2015-06-22 12:45] devsaurin opened #11298 "Not able to write capital "O""
**Issue:**
---------
**Not able to write capital letter "O"**
I experienced this issue while writing <!DOCTYPE html>. After many tries, even PC restart didn't solve the problem. I can write the same on other windows (ie: here writing in github while having issue in bracket.)

**Bracket Built:**
--------
Release 1.3 experimental build 1.3.0-16022 (release cd0a6aae5)
build timestamp: Mon May 11 2015

[2015-06-22 12:50] devsaurin commented on #11298
Seems like the issue was due to the extension: `"Open In Browser"` By `Avril Alejendro`. Extention update resolved the issue.

[2015-06-22 12:50] #11298 closed

[2015-06-22 14:08] rroshan1 commented on #11269
@noahfernstrom As mentioned in the comments earlier, enabling "Auto close braces" from Edit menu will address your issue.
Closing the issue for now. Please feel free to get back here in case you need it.

[2015-06-22 14:09] #11269 closed

[2015-06-22 18:16] MarcelGerber commented on #10566
@fdefalco Notice you have to wait for Release 1.4 to come out until you can try to see whether this is fixed.

[2015-06-22 18:23] MarcelGerber commented on #11200
@abose Which preferences do you still see un-defined?
From what I can tell, every preference is defined, unless you're talking about things that should be preferences but aren't (JS Code Hints comes to mind)

[2015-06-22 18:44] abisonjohn commented on #11255
I have the same problem, it's freezes every time when i paste or open compressed codes.

[2015-06-22 21:51] JeffreyArt1 opened #11300 "Splash Screen"
as a user I wish there was a splash screen at the beginning of the application

[2015-06-22 22:01] sbruchmann commented on #11300
![post-31230-ryan-reynolds-but-why-gif-haro-mffw](https://cloud.githubusercontent.com/assets/141435/8294150/ac095eca-193a-11e5-8443-1f7cd58c5ed7.gif)

[2015-06-23 00:03] mackenza commented on #11300
lol @sbruchmann

[2015-06-23 00:06] ryanstewart commented on #11300
@JeffreyArt1 can you elaborate on what exactly you mean/would want from a splash screen?

[2015-06-23 00:15] NickersF commented on #11300
Chiming in here. Splash screens are good if they output loading progress/information. Since brackets loads fast it doesn't really warrant the need for a splash image. Otherwise it's just aesthetics.

[2015-06-23 06:25] abose commented on #11200
@nethip I remember you mentioned about undefined preferences, Could you specify which ones did you see as udefined?

[2015-06-23 06:30] abose commented on #11300
I was about to tag this as an extension idea, but then i remembered brackets itself would not have been loaded at the time.
@JeffreyArt1 How long does it take for brackets to load in your system? Do you suggest a splash screen because brackets loads slow on your machine or is it just for the :cool: :sunglasses: factor?

[2015-06-23 06:48] sprintr commented on #11200
I don't think there are any undefined preferences, [since we suppress](https://github.com/adobe/brackets/blob/015400e6d53dcbe3eeacbf901f2c31e863412a13/src/document/DocumentCommandHandlers.js#L661) `defaultExtension` pref, so it got excluded from code hints. `_windowsScrollFix` was excluded intentionally.

[2015-06-23 07:25] nethip commented on #11200
@sprintr I am working on this story https://github.com/adobe/brackets/issues/11056 wherein we are going to display default preferences along with brackets.json side by side in the split view. Right now I am regenerating default preferences by looping through all preferences using this call `PreferencesManager.getAllPreferences()`. While iterating through all preferences, I found that the following

[2015-06-23 09:29] abose commented on #3465
#11301 With latest source code pro addresses this issue.

[2015-06-23 09:29] abose commented on #11249
#11301 With latest source code pro addresses this issue.

[2015-06-23 12:22] MarcelGerber commented on #11200
Those are the exact ones we altered in #11197.

[2015-06-23 12:48] nethip commented on #11200
@MarcelGerber Yes I see that these are now going through `definePreference`, but the description is missing for all the properties.

[2015-06-23 13:03] MarcelGerber commented on #11200
I see, but #11201 should have fixed that.

[2015-06-23 13:18] nethip commented on #11200
@MarcelGerber you are right. I must be working on my branch which might have not this change.Thanks for pointing out the PR.

[2015-06-23 16:19] MarcelGerber commented on #11255
@abisonjohn Did you try running Brackets without extensions? (`Debug > Reload without extensions`)
Also, what file types does Brackets have problems with? JS? CSS?

[2015-06-23 19:17] JeffreyArt1 commented on #11300
@abose it takes about 5 secs to load, but for example in my friend's laptop it takes about 30-35 secs.
I suggest for slow pc's and for "good appearance".

[2015-06-23 20:05] siirila commented on #10718
I have been seeing behavior that looks to be the same or similar to this issue in an Ionic project that I am working on. Brackets seems to be crashing pretty randomly, and giving "JavaScript File Inference Problem' errors. So far all of the errors have been for files in folders under plugins/cordova-plugin-device/

I'm trying out the suggestion of using an extension to exclude my node_modules fold

[2015-06-24 02:15] phillip-haydon opened #11303 "Right click copy/cut/paste"
Why does the context menu have a bunch of items that are useless but does not have copy/cut/paste???

![image](https://cloud.githubusercontent.com/assets/895629/8321484/f11df154-1a59-11e5-87b7-bff417df5219.png)

This is the same for me in all languages.

[2015-06-24 02:57] MomoGunz opened #11304 "Display issue with dual screen"
![capture](https://cloud.githubusercontent.com/assets/13026820/8321862/bd57200c-1a2c-11e5-9090-84f0fa77d415.PNG)
Hi,

As you can see on the screenshot, there is a little display issue when using Brackets with two screens. To reproduce the bug, enlarge the Brackets' window while still having a part of the window on the other screen. I don't know if I am clear enough so here is another screenshot :

[2015-06-24 04:15] sprintr commented on #11303
Duplicate of #11243

[2015-06-24 04:18] nethip commented on #11303
@phillip-haydon We have captured adding "cut/copy/paste" to editor contex menu on this [card](https://trello.com/c/ZriVEu50/935-clipboard-cut-copy-paste-in-editor-context-menu). Please up-vote it.

[2015-06-24 04:18] #11303 closed

[2015-06-24 04:21] nethip commented on #10718
@siirila You might want to up-vote this [trello card](https://trello.com/c/RyNtvRcP/1138-2s-file-exclusion-filtering-beyond-find-in-files) that might fix some of the issues by doing file exclusions.

[2015-06-24 04:27] phillip-haydon commented on #11303
Upvoted. Thanks. I see it was created a LONG time ago :( hope it gets sorted out.

[2015-06-24 04:41] nethip commented on #11303
@phillip-haydon Sure! We will prioritize this. Meanwhile you could look at this extension which adds `cut/copy/paste` menu entries to editor context menu. https://github.com/Denisov21/Popup-menu-extension

[2015-06-24 04:47] sahilr2050 commented on #11289
Mysql and Mysqli is different.

[2015-06-24 04:47] #11289 closed

[2015-06-24 04:49] phillip-haydon commented on #11303
Yup I grabbed that extension! It's great. Good intern solution.

Thanks!

[2015-06-24 04:57] rawat11 commented on #11249
@abose latest source code pro works good with most of the cyrillic characters but there are some of the cyrillic characters which does not adhere to new font

[2015-06-24 04:58] sahilr2050 opened #11305 "Default editor"
I am using UBUNTU and found an issue when i want to edit some files like PHP, CSS, HTML and JS from FTP (FireFTP - FireFox AddOns) which are already set open in Bracket.
but when i click on edit the file is not opening with bracket i need to set the folder tmp (there is too much unnecessary files.) Make it like Sublime Text editor when ever i open the files its not require to open from selected fo

[2015-06-24 05:21] abose commented on #11249
@rawat11 Could you also file your findings to the corresponding source code pro issue
https://github.com/adobe-fonts/source-code-pro/issues/94

[2015-06-24 05:37] abose commented on #11300
@JeffreyArt1 What is your system configuration/OS.
Does brackets load faster on subsequent launches after the first launch?

[2015-06-24 05:40] abose commented on #11304
@MomoGunz I am not able to see the screenshots. [screenshot upload problem?]

[2015-06-24 05:55] JeffreyArt1 commented on #11300
@abose intel core i5 4200U / 8GB RAM
first launch 5-8 secs
after first launch: 1-3 secs
They could put a splash on at least four seconds at start of a program?

[2015-06-24 06:04] Faiz7412 opened #11306 "Add support for dragging of extensions on the side bar."
![screenshot from 2015-06-24 11 23 20](https://cloud.githubusercontent.com/assets/8874731/8323530/784a0632-1a63-11e5-8980-2c7f29e99398.png)
I have a really huge list for extensions and it would be great if I there is a functionality to arrange which extensions show up in the right sidebar and also have the ability to arrange them using dragging

[2015-06-24 06:06] abose commented on #11300
which OS are you on? and the correct version number of the OS. How many extensions are installed by default?

[2015-06-24 06:27] MomoGunz commented on #11304
![capture](https://cloud.githubusercontent.com/assets/13026820/8323899/bf9a82a0-1a4a-11e5-8403-63a4a5d1f989.jpg)
![capture2](https://cloud.githubusercontent.com/assets/13026820/8323900/bfb6e72e-1a4a-11e5-8d51-107e43f2f0d0.jpg)

I made a mistake when taking the screenshot, excuse me.
Here are respectively capture and capture2.

[2015-06-24 06:29] JeffreyArt1 commented on #11300
@abose i'm on Windows 8.1 Pro, and I have installed 7 extensions (w3c validator, extract, some themes etc.)

[2015-06-24 06:29] Faiz7412 commented on #11306
Also, it'd be great if the side bar slides to the left showing the name of the extensions with a millisecond delay after one hovers on them. Similar to how facebook implements in chat bar.

[2015-06-24 06:46] abose commented on #11300
thanks @JeffreyArt1 . The setup should have launched brackets within 2 secs on subsequent launches. We do not want to delay the load times for showing the splash screens. Usually brackets loads within 1-2 secs the second time onwards. We will be logging the startup time from this release onwards, If we are seeing concerns in startup performance across the board, we will target improving startup pe

[2015-06-24 10:20] petetnt commented on #11306
At least on Windows the sidebar does show the names of the extensions when hovering (as the elements with `title`-attribute should) but I do agree that tooltips similar to the Facebook example would be nicer:

![image](https://cloud.githubusercontent.com/assets/7641760/8327791/cd9cf292-1a73-11e5-8585-5c65f0f2ef9d.png)

[2015-06-24 11:14] excomedia commented on #9608
The problem pops up again on 10.11 beta. Maybe checking for 10.10 and later would do the trick here.

[2015-06-24 15:59] siirila commented on #10718
Even after excluding the node_modules folder I am still seeing this problem that is eventually causing Brackets to crash. It is also now showing inference problems in files outside of the cordova files, so I don't think it is tied to that behavior at all.

It looks like I won't be able to use Brackets for development, at least of Ionic apps, until this issue is resolved.

[2015-06-24 16:02] cfjedimaster commented on #10718
I'm in the same boat. As most of my work lately is Ionic/Cordova, I've had
to stop using Brackets. I *want* to return of course. :)

On Wed, Jun 24, 2015 at 11:00 AM, siirila <notifications@github.com> wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for MobileFirst at IBM

Email : raymondcamden@gmail.com
Blog : www.raymondca

[2015-06-25 04:35] abisonjohn commented on #11255
@MarcelGerber I tried your way, and it's work's and found one problem that some portion of the code is not colored.File type is CSS
![capture](https://cloud.githubusercontent.com/assets/11804922/8346951/a6178abc-1b21-11e5-96e6-dadb68151eb3.PNG)

[2015-06-25 04:42] MarcelGerber commented on #11255
That's expected. Read the other part if this issue to get more information.

[2015-06-25 05:45] chewedon opened #11308 "Feature Request: cmd + left click on file shortcut, to open file in split screen like Apple's Xcode"
Hello Adobe.

Really like Brackets IDE, very minimal, good job!

My only complaint is the split screen feature isn't working as intuitive as I'd hope.

Left clicking on a file while the right hand side panel is focused still opens the file on the left hand side  panel instead of the right hand side panel.

Is Adobe able to make it to so that I hold Cmd + Left Click on a file in the project tree an

[2015-06-25 06:38] Faiz7412 commented on #11306
Not only in windows, the sidebar shows names of extensions when hovering on all platforms.
I think I'll have to elaborate what I was saying. The sidebar can have more functionality and liveliness. If you use facebook with zoom more than 100%, chat sidebar just shows the profile pic of your contacts. As soon as you hover over them, the sidebar slides to the left with names of your contacts.

![face

[2015-06-25 06:43] Faiz7412 commented on #11306
There also one more related issue: If you install a lot of extensions, the sidebar gets cluttered up and new ones are added to the bottom of last extension on the sidebar. If you have extensions lined up to the bottom of the screen, adding more can make them inaccessible from sidebar. I was unable to use 'extract' extension after re-installing it. And to access it, I had to remove lots of extensio

[2015-06-25 11:48] rawat11 opened #11309 "Find In Files: Previously searched item on files opened on working files section highlights the searched keywords"
Steps To Reproduce:

1) Launch Brackets
2) open find in files and search for any text
3) On the search results, double click to open it.
4) Cancel the search and place a new search.
5) open the previously searched file on the working files section
Result:

It highlights the previously searched data.

Note : Even if we close Brackets and re launch it, the behaviour is same

Environment:

Windows 7

[2015-06-25 11:58] rawat11 opened #11310 "Find In Files : Anything searched on a newly opened file on brackets is not listed on find in files result."
Steps to Reproduce:

1) Launch brackets
2) Create any new file not listed in the opened project and search for any thing
3) Start find in files

Result:

The result are not shown from currently opened file, it picks the results from the files inside the opened project.

[2015-06-25 20:49] shaneparsons opened #11313 "Find doesn't work with over 20k lines of code"
Please let me know if this is already a known issue..

**Find** i.e. **cmd f** doesn't work in documents with over 20,000 lines of code.

It will only highlight the first instance of the word it can find, and the prev and next arrows are greyed out.

The screenshot below demonstrates the following issue.

![screen shot 2015-06-25 at 4 47 53 pm](https://cloud.githubusercontent.com/assets/5495493/83

[2015-06-25 22:26] manderson23 opened #11314 "Unable to load rpm CodeMirror mode"
I was investigating trying to write an extension to support RPM spec file syntax highlight. From reading the wiki my understanding was the the following should suffice
[code]
However the developer console shows the following error
[code]
From searching issues and PRs I came across #3912 which mentioned rpm modes being a special case but my understanding is that specifying the MIME type should load

[2015-06-26 05:01] leedorian commented on #10718
Updated to 1.3, but it said brackets is a light weight editor, do not use it on "large project" https://github.com/adobe/brackets/wiki/Large-Projects. It's just a replacement of notepad? Can not and will not use it in a short time.

[2015-06-26 05:30] nethip commented on #10718
@leedorian Sorry about not being able to work on large projects inside Brackets. Brackets is a light weight code editor and we strive hard to keep it that way. Supporting large projects is only going slow down Brackets. May I ask, how big is your project (no of files, node_modules e.t.c.), that you currently working on?

We do disable some features like code hinting/find in files, while working on

[2015-06-26 06:12] nethip commented on #9608
@excomedia Thanks for reporting this! I am seeing this bug in 10.11. Let me check `brackets-shell` code to understand what might be causing this issue.

[2015-06-26 06:37] nethip commented on #9608
Found it!  https://github.com/adobe/brackets-shell/blob/master/appshell/cefclient_mac.mm#L255 is the culprit. Will fix this!

[2015-06-26 06:39] petetnt commented on #11308
:+1: this. Opening new files to the "wrong" split view I was aiming at is a daily grievance for me.

How do other editors besides XCode handle this?

[2015-06-26 09:28] whysqwhw opened #11315 "plugin on brackets quit event"
I want to do something before quit,for example close some process I started.

I use this:
 ProjectManager.on("beforeAppClose", callbak);

But more than one window are opened; when one window is closed, the things will be done, it is too early.

[2015-06-26 09:35] whysqwhw opened #11316 "plugin on brackets quit event"
I want to do something before quit,for example close some process I started.

I use this:
 ProjectManager.on("beforeAppClose", callbak);

But more than one window are opened; when one window is closed, the things will be done, it is too early.

[2015-06-26 09:51] abose commented on #11315
closing as duplicate of #11316

[2015-06-26 09:51] #11315 closed

[2015-06-26 16:23] meancode commented on #11294
Never knew that, thanks guys!

I was just hitting Cmd-T and deleting the @ thus allowing me to open files.

[2015-06-26 16:47] cumminsd opened #11317 "Auto-save files"
It would be awesome to auto-save all modified files in the editor when the editor loses focus. You could then make a change, click on the browser window (losing focus on Brackets) and then you would see your changes update in the browser. Other IDE's do this and it definitely increases productivity.

[2015-06-26 16:52] ingorichter commented on #9608
There must be a better way to distinguish `new` from `old` OSX versions.

[2015-06-26 16:53] humphd commented on #11317
I've done a version of this as a custom extension in my fork, if you want to try in Brackets:

https://github.com/humphd/brackets/blob/bramble/src/extensions/default/Autosave/main.js

[2015-06-26 21:27] sprintr commented on #11314
This should do the trick.

[code]

[2015-06-27 00:11] #2044 closed

[2015-06-27 00:11] #2043 closed

[2015-06-27 00:11] #2042 closed

[2015-06-27 00:11] #2041 closed

[2015-06-27 04:13] abose commented on #11317
@cumminsd Thanks for reporting this issue. In brackets you could do this using the live preview feature, and that does not even require any file saving. Autosave on focus switch is a bit worrying to me especially fo js/non html-css files. I think that rightly fits in the extension territory for those who prefer it.
@humphd Is the extension available in the brackets extension registry?

[2015-06-27 08:03] nethip commented on #9608
@ingorichter I am done with the fix. I will put up a PR for this.

[2015-06-27 13:55] Gontxal0 commented on #10465
Nope, it doesn't work:
/usr/bin/brackets: error while loading shared libraries: libgcrypt.so.11: cannot open shared object file: No such file or directory

And after a symbolic link to libgcrypt.so.20 I get:
/usr/bin/brackets: /lib/x86_64-linux-gnu/libgcrypt.so.11: version `GCRYPT_1.2' not found (required by /opt/brackets/lib/libcef.so)

So don't lie to the people.

[2015-06-27 17:07] mackenza commented on #10465
"so don't lie to the people" is a pretty rude thing to say to people who are trying to help you get a free, open source project running.